bundles/spark/kbs/soar-playbooks/entries/pb-aws-enrichment-remediation-aws-user-investigation.json
{
  "id": "pb-aws-enrichment-remediation-aws-user-investigation",
  "title": "AWS - User Investigation",
  "category": "playbook",
  "content": "This playbook performs an investigation on a specific user in AWS environments, using queries and logs from AWS CloudTrail to locate the following activities performed by the user:\n- Failed login attempt\n- Suspicious activities \n- API access denied\n- Administrative user activities\n- Security rules and policies changes\n- Access keys and access token activities\n- Script-based user agent usage\n- User role changes activities\n- MFA device changes activities\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (AWS-Enrichment-Remediation, xsoar-supported).\n\nInputs — Username: The username to investigate. \nPlease enter the user's email.; AwsTimeSearchFrom: The Search Time for the `GetTime` task used by the AWS Cloud Trail search query. \nThis value represents the number of days to include in the search.\nDefault value: 1.  (1 Day).\n\nOutputs — AwsMFAConfigCount: The number of MFA configurations performed by the user in the AWS environment.; AwsUserRoleChangesCount: The number of user roles that were changed by the user in the AWS environment.; AwsSuspiciousActivitiesCount: The number of suspicious activities performed by the user in the AWS environment.; AwsScriptBasedUserAgentCount: The number of script-based user agent usages by the user in the AWS environment.; AwsAccessKeyActivitiesCount: The number of access key activities performed by the user in the AWS environment.; AwsSecurityChangesCount: The number of security rules that were changed by the user in the AWS environment.; AwsAdminActivitiesCount: The number of administrative activities performed by the user in the AWS environment.; AwsApiAccessDeniedCount: The number of API accesses denied by the user in the AWS environment.; AwsFailedLogonCount: The number of failed logins by the user in the AWS environment..\n\nIntegrations/scripts used: AWS - CloudTrail, GetTime, LoadJSON, Set.",
  "raw_yaml": "id: AWS - User Investigation\nversion: -1\nname: AWS - User Investigation\ndescription: \"This playbook performs an investigation on a specific user in AWS environments, using queries and logs from AWS CloudTrail to locate the following activities performed by the user:\\n- Failed login attempt\\n- Suspicious activities \\n- API access denied\\n- Administrative user activities\\n- Security rules and policies changes\\n- Access keys and access token activities\\n- Script-based user agent usage\\n- User role changes activities\\n- MFA device changes activities\\n\"\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: f3f2d42d-6426-4fa1-8645-5ca37e8b8676\n    type: start\n    task:\n      id: f3f2d42d-6426-4fa1-8645-5ca37e8b8676\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"46\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": -340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: e0e47d55-d099-4e4e-8a63-b950e8e06ca0\n    type: condition\n    task:\n      id: e0e47d55-d099-4e4e-8a63-b950e8e06ca0\n      version: -1\n      name: Is AWS CloudTrail enabled and is the user name defined?\n      description: Checks if the AWS CloudTrail integration is enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"8\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: AWS - CloudTrail\n                    ignorecase: true\n                accessor: state\n            iscontext: true\n          right:\n            value:\n              simple: active\n          ignorecase: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.Username\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": 130\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 51206f1f-295e-4aee-8fb6-23a6c7b74613\n    type: title\n    task:\n      id: 51206f1f-295e-4aee-8fb6-23a6c7b74613\n      version: -1\n      name: AWS CloudTrail\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": -30\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 49213749-81ae-4feb-86d6-23fed8a9848b\n    type: regular\n    task:\n      id: 49213749-81ae-4feb-86d6-23fed8a9848b\n      version: -1\n      name: Aws-CloudTrail-lookup-events\n      description: Looks up API activity events captured by CloudTrail that create, update, or delete resources in your account. Events for a region can be looked up for the times in which you had CloudTrail turned on in that region during the last seven days.\n      script: AWS - CloudTrail|||aws-cloudtrail-lookup-events\n      type: regular\n      iscommand: true\n      brand: AWS - CloudTrail\n    nexttasks:\n      '#none#':\n      - \"41\"\n    scriptarguments:\n      attributeKey:\n        simple: Username\n      attributeValue:\n        complex:\n          root: inputs.Username\n      startTime:\n        complex:\n          root: TimeNow\n          transformers:\n          - operator: RegexExtractAll\n            args:\n              error_if_no_match: {}\n              ignore_case: {}\n              multi_line: {}\n              period_matches_newline: {}\n              regex:\n                value:\n                  simple: (.*)\\.\n              unpack_matches: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": 315\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 2\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 56cd8ece-a7ce-463f-8cfe-dfa186935c86\n    type: title\n    task:\n      id: 56cd8ece-a7ce-463f-8cfe-dfa186935c86\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 360,\n          \"y\": 1430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 23cde925-a031-4457-8bbd-1b96f438d390\n    type: regular\n    task:\n      id: 23cde925-a031-4457-8bbd-1b96f438d390\n      version: -1\n      name: Load alerts JSON\n      description: Loads a JSON from a string input, and returns a JSON object result.\n      scriptName: LoadJSON\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n      - \"11\"\n      - \"30\"\n      - \"32\"\n      - \"36\"\n      - \"35\"\n      - \"38\"\n      - \"44\"\n      - \"45\"\n    scriptarguments:\n      input:\n        complex:\n          root: AWS.CloudTrail.Events\n          accessor: CloudTrailEvent\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": 700\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: db70a4ed-7f97-4a5e-847f-544c05584d94\n    type: regular\n    task:\n      id: db70a4ed-7f97-4a5e-847f-544c05584d94\n      version: -1\n      name: 'API Access denied Count '\n      description: Set the `access denied` API calls, if it exists.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsApiAccessDeniedCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.errorCode\n                iscontext: true\n              right:\n                value:\n                  simple: AccessDenied\n              ignorecase: true\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventType\n                iscontext: true\n              right:\n                value:\n                  simple: AwsApiCall\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -370,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 7cb0546e-9cdc-4087-8510-1316faedee62\n    type: title\n    task:\n      id: 7cb0546e-9cdc-4087-8510-1316faedee62\n      version: -1\n      name: Administrative User Activities\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"13\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -810,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 600a27b1-37ee-4e3b-838b-86430e372820\n    type: title\n    task:\n      id: 600a27b1-37ee-4e3b-838b-86430e372820\n      version: -1\n      name: API Access Denied\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"10\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -370,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 5eeb31d6-8b7d-4301-8230-b91158122a71\n    type: regular\n    task:\n      id: 5eeb31d6-8b7d-4301-8230-b91158122a71\n      version: -1\n      name: 'Set Administrative User Activities Count '\n      description: |-\n        Set the administrative activities performed by the user, if it exists.\n        The task sets the following activities:\n        ResetAccountPassword, CreateUser, DeleteUser, AddUserToGroup, RemoveUserFromGroup, EnableUser, DisableUser, CreateGroup, DeleteGroup, UpdateGroup, UpdateUser, CreateRole, DeleteRole, UpdateRole, ActivateUser, ActivateUsers.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsAdminActivitiesCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: ResetAccountPassword\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateUser\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteUser\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: AddUserToGroup\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: RemoveUserFromGroup\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: EnableUser\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DisableUser\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateGroup\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteGroup\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateGroup\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateUser\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateRole\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteRole\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateRole\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: ActivateUser\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: ActivateUsers\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -810,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: e6dc04b1-a814-4b96-8490-b3abeb0fb356\n    type: regular\n    task:\n      id: e6dc04b1-a814-4b96-8490-b3abeb0fb356\n      version: -1\n      name: Security rules and policies were changed\n      description: |-\n        Set the security rules and policy changes made by the user if they exist.\n        The task sets the following activities:\n        CreatePolicy, DeletePolicy, UpdatePolicy, CreateAccessPolicy, DeleteAccessPolicy, UpdateAccessPolicy, CreateFirewall, DeleteFirewall, CreateFirewallRule, DeleteFirewallRule, UpdateFirewallRule, CreateFirewallPolicy, UpdateFirewallPolicy, DeleteFirewallPolicy.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsSecurityChangesCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreatePolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeletePolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdatePolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateAccessPolicy\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateAccessPolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteAccessPolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateFirewall\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteFirewall\n              ignorecase: true\n            - operator: containsGeneral\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateFirewallRule\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteFirewallRule\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateFirewallRule\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateFirewallPolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: |\n                    UpdateFirewallPolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteFirewallPolicy\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1250,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: 100e1858-9375-4062-86ec-bd60f4609a28\n    type: title\n    task:\n      id: 100e1858-9375-4062-86ec-bd60f4609a28\n      version: -1\n      name: Security rules were changed\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"29\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1250,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: f3211bb9-1f9b-4b60-8c8c-2b8afa8b16c7\n    type: regular\n    task:\n      id: f3211bb9-1f9b-4b60-8c8c-2b8afa8b16c7\n      version: -1\n      name: Access Keys and Access Token activities\n      description: |-\n        Set the access keys and access token activities performed by the user, if it exists.\n        The task sets the following activities:\n        CreateAccessKey, DeleteAccessKey, UpdateAccessKey, CreateApiKey, DeleteApiKey, UpdateApiKey, CreateKeyPair, DeleteKeyPair, CreateKey, DeleteKey, DeleteSSHPublicKey, CreateCliToken, CreateToken, DeleteOAuthToken, CreateEnrollmentToken.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsAccessKeyActivitiesCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateAccessKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteAccessKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateAccessKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateApiKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteApiKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateApiKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateKeyPair\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteKeyPair\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteSSHPublicKey\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateCliToken\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateToken\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteOAuthToken\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: CreateEnrollmentToken\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1670,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: 5664ffb4-5474-49bc-8d99-504706acabeb\n    type: title\n    task:\n      id: 5664ffb4-5474-49bc-8d99-504706acabeb\n      version: -1\n      name: Access Keys and Access Tokens Modification\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1670,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"33\":\n    id: \"33\"\n    taskid: cd66a3d7-ef8b-4be3-8c03-d07a227f0739\n    type: title\n    task:\n      id: cd66a3d7-ef8b-4be3-8c03-d07a227f0739\n      version: -1\n      name: AWS CloudTrail Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"8\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": 1200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"34\":\n    id: \"34\"\n    taskid: 2c26000e-beeb-4d19-880e-5f417fbdcdf0\n    type: regular\n    task:\n      id: 2c26000e-beeb-4d19-880e-5f417fbdcdf0\n      version: -1\n      name: Failed logon attempt\n      description: Set the console failed logon performed by the user, if it exists.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsFailedLogonCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: ConsoleLogin\n              ignorecase: true\n          - - operator: isNotEqualString\n              left:\n                value:\n                  simple: JsonObject.responseElements.registryId\n                iscontext: true\n              right:\n                value:\n                  simple: Success\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 60,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"35\":\n    id: \"35\"\n    taskid: 35364c42-1631-409d-8887-f13308c77128\n    type: title\n    task:\n      id: 35364c42-1631-409d-8887-f13308c77128\n      version: -1\n      name: User Agent\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"37\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2090,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"36\":\n    id: \"36\"\n    taskid: 3a85deae-c6aa-421d-8c4e-6892fb967e7e\n    type: title\n    task:\n      id: 3a85deae-c6aa-421d-8c4e-6892fb967e7e\n      version: -1\n      name: Failed Login Attempt\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"34\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 60,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"37\":\n    id: \"37\"\n    taskid: d2a5d9c4-fda6-47bf-8505-002fbb79b918\n    type: regular\n    task:\n      id: d2a5d9c4-fda6-47bf-8505-002fbb79b918\n      version: -1\n      name: 'Script-based User Agent '\n      description: |-\n        Set the script-based user agent used by the user, if it exists.\n        The task sets the following script-based user agents :\n        Jakarta Commons-HttpClient, Python-urllib, Wget, curl.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsScriptBasedUserAgentCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: containsGeneral\n              left:\n                value:\n                  simple: JsonObject.userAgent\n                iscontext: true\n              right:\n                value:\n                  simple: Wget\n              ignorecase: true\n            - operator: containsGeneral\n              left:\n                value:\n                  simple: JsonObject.userAgent\n                iscontext: true\n              right:\n                value:\n                  simple: Jakarta Commons-HttpClient\n              ignorecase: true\n            - operator: containsGeneral\n              left:\n                value:\n                  simple: JsonObject.userAgent\n                iscontext: true\n              right:\n                value:\n                  simple: Python-urllib\n              ignorecase: true\n            - operator: containsGeneral\n              left:\n                value:\n                  simple: JsonObject.userAgent\n                iscontext: true\n              right:\n                value:\n                  simple: curl\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2090,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"38\":\n    id: \"38\"\n    taskid: 2968d186-b0ce-43af-8b72-c78aaf3c3507\n    type: title\n    task:\n      id: 2968d186-b0ce-43af-8b72-c78aaf3c3507\n      version: -1\n      name: Suspicious Activities\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"40\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2520,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"40\":\n    id: \"40\"\n    taskid: 3ea2ac79-77fd-4cea-8942-240abd7b46fe\n    type: regular\n    task:\n      id: 3ea2ac79-77fd-4cea-8942-240abd7b46fe\n      version: -1\n      name: Suspicious Activities\n      description: |-\n        Set the suspicious activities performed by the user, if it exists.\n        The task sets the following activities:\n        DeleteAlert ,DeleteAlarms ,DeleteCertificate ,DeleteCACertificate ,DeleteCertificateAuthority, DeleteLoggingConfiguration, DeleteWatchlist, StopLogging ,UpdateLoggingConfiguration, DeleteUser.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsSuspiciousActivitiesCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteAlert\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteAlarms\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteCertificate\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteCACertificate\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteCertificateAuthority\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteLoggingConfiguration\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteWatchlist\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: StopLogging\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: UpdateLoggingConfiguration\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteUser\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2520,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"41\":\n    id: \"41\"\n    taskid: 8b328b9f-aaf6-48ce-8ebd-31408b7b7255\n    type: condition\n    task:\n      id: 8b328b9f-aaf6-48ce-8ebd-31408b7b7255\n      version: -1\n      name: Is cloud Trail Event exist?\n      description: Checks if the CloudTrail events were found.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"8\"\n      \"yes\":\n      - \"9\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: AWS.CloudTrail.Events\n                accessor: CloudTrailEvent\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": 500\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"42\":\n    id: \"42\"\n    taskid: 9830080e-0e31-4cfe-8deb-5ef4677e6951\n    type: regular\n    task:\n      id: 9830080e-0e31-4cfe-8deb-5ef4677e6951\n      version: -1\n      name: User Role Changes\n      description: |-\n        Set the user role changes made by the user if they exist.\n        The task sets the following activities:\n        AttachRolePolicy, DetachRolePolicy, DeleteRolePolicy.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsUserRoleChangesCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: AttachRolePolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DetachRolePolicy\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DeleteRolePolicy\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2940,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"43\":\n    id: \"43\"\n    taskid: 93659738-177b-492a-86d0-6d98c044ffef\n    type: regular\n    task:\n      id: 93659738-177b-492a-86d0-6d98c044ffef\n      version: -1\n      name: User MFA Device Changes\n      description: Set the MFA device change event if performed by the user, if it exists.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      key:\n        simple: AwsMFAConfigCount\n      value:\n        complex:\n          root: JsonObject\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: DisableMFADevice\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: JsonObject.eventName\n                iscontext: true\n              right:\n                value:\n                  simple: EnableMFADevice\n              ignorecase: true\n          transformers:\n          - operator: count\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3360,\n          \"y\": 1020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"44\":\n    id: \"44\"\n    taskid: 7c5f87ad-a130-4bd7-8ec2-254eb3384c65\n    type: title\n    task:\n      id: 7c5f87ad-a130-4bd7-8ec2-254eb3384c65\n      version: -1\n      name: User Role\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"42\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2940,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"45\":\n    id: \"45\"\n    taskid: 52ca1b40-b83d-4c0d-8b91-446b15d8a2fb\n    type: title\n    task:\n      id: 52ca1b40-b83d-4c0d-8b91-446b15d8a2fb\n      version: -1\n      name: Multi-Factor Authentication\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"43\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3360,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"46\":\n    id: \"46\"\n    taskid: 7c2069a9-5b8c-4c03-8c6f-fe93558c93b7\n    type: regular\n    task:\n      id: 7c2069a9-5b8c-4c03-8c6f-fe93558c93b7\n      version: -1\n      name: Get Time for a search\n      description: |\n        Retrieves the current date and time.\n      scriptName: GetTime\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      dateFormat:\n        simple: ISO\n      daysAgo:\n        complex:\n          root: inputs.AwsTimeSearchFrom\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1460,\n          \"y\": -210\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_5_yes\": 0.37,\n      \"1_8_#default#\": 0.13,\n      \"41_8_#default#\": 0.15,\n      \"41_9_yes\": 0.51\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1835,\n        \"width\": 4100,\n        \"x\": -3360,\n        \"y\": -340\n      }\n    }\n  }\ninputs:\n- key: Username\n  value: {}\n  required: false\n  description: \"The username to investigate. \\nPlease enter the user's email.\"\n  playbookInputQuery:\n- key: AwsTimeSearchFrom\n  value:\n    simple: \"1\"\n  required: false\n  description: \"The Search Time for the `GetTime` task used by the AWS Cloud Trail search query. \\nThis value represents the number of days to include in the search.\\nDefault value: 1.  (1 Day)\"\n  playbookInputQuery:\noutputs:\n- contextPath: AwsMFAConfigCount\n  description: The number of MFA configurations performed by the user in the AWS environment.\n  type: number\n- contextPath: AwsUserRoleChangesCount\n  description: The number of user roles that were changed by the user in the AWS environment.\n  type: number\n- contextPath: AwsSuspiciousActivitiesCount\n  description: The number of suspicious activities performed by the user in the AWS environment.\n  type: number\n- contextPath: AwsScriptBasedUserAgentCount\n  description: The number of script-based user agent usages by the user in the AWS environment.\n  type: number\n- contextPath: AwsAccessKeyActivitiesCount\n  description: The number of access key activities performed by the user in the AWS environment.\n  type: number\n- contextPath: AwsSecurityChangesCount\n  description: The number of security rules that were changed by the user in the AWS environment.\n  type: number\n- contextPath: AwsAdminActivitiesCount\n  description: The number of administrative activities performed by the user in the AWS environment.\n  type: number\n- contextPath: AwsApiAccessDeniedCount\n  description: The number of API accesses denied by the user in the AWS environment.\n  type: number\n- contextPath: AwsFailedLogonCount\n  description: The number of failed logins by the user in the AWS environment.\n  type: number\ntests:\n- No tests (auto formatted)\nfromversion: 6.9.0\n",
  "product": "Cortex XSOAR",
  "pack": "AWS-Enrichment-Remediation",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.9.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "fQEXPdCkIrzTL4a9uYbPOkeS3D30l1U9ZqTvPAB00TxblE+9wayqvFHPhbyQqQc8+Hw8PW6zjbs+c6q8C0lvvfORoTz7yIE9vvLGvMLkUb0LTkq9qSoKvbs3z7y6dDg9BLq/vI/8T73Td925M8rVvK7zPb0qFiA8FrqNuj5+s7w/uOk7WMDoOyzslLy9Eyo8lQgUvI2FLLzspzG9ZAnpvEAgib2FU+o5rYtBvePEbD3CQg69cvfzvP71O72zqeg7gi+PvT6J6zk0R8U9OyvQPCdhB73XDc07tcfmPCniCb3a45W6tvapvQYbHjogOh88Bc1cO8rmgjt682U8bu/wu9iw0jyTLI+8ki3ZPMmaPbw1Uua8Jw2nPZW3zLxc5hA9fG9HvSwSIDw9DIm8IOgOvCNpSjzSCAw9HjFJPZHUijxL3fi7Ffu+vBxCQz3Vp+07LGHluyntlDyx98+7dT9fvWsojDwT36679SmCPV5mNToZZ2m8eS8oPcb6rz0MZgy7WmM2vdd0672OPB89hd/AvClPgjx91N48Ucc7PVxTGDxbeWs6cD8ovJ2hzLzXm6S9s3i9vXcsgzzWwNG76MwRPSW4VT0vnOM8QJM4vdIDnbrtzRY8EhJoPP/7jLxxj3i84sssvL5/gz0kmps73MNsPc6rkD2Hr1I9gy4NvLsZiDwwHgG8EtzeO1zoiruhNSK9lHlyPFnaujsE+X68nF8SPM0kPD0q9l+9X+vJvNxrwDwH7SG8Fw39OgNOyb388ym8GHW8O9s08jtRX5g83UyvPTVUvrwGdpI8dZkuvXFSBT2MAza96HFPvLguEDuiJGo8c7L7u48wS7yTTdA8d+o0vZNvQ70ft2G9wqDTPOowZT3Paia9TM9MvTR7Rb1Cd0Y7eylbvab6gbquW/28YmUFOS6yxL3yV0W9yp+ZvNI8Cj2gM6Q8/3BivC3hs7tK3YK8Bkx1PRTvc7xNJe48KyDNvU2TUzxsNS09iYdDvaeG+DyRhh88KEb0PAP1C7w6Ns48C6JkPeVYgT0ylQm9lVknPPxUAT3LOxS9W36Wu4zpgrt8IUI9EjmNPbUbQDxIqFi9LghLvT9FmTzbQMi8ydcivIQjDT2v44C8OCZZPLeBqjzf36m8fgHRvDaVyDuDjmM8z3twPdete7t2DMU9eSOjPI7xdTzKzJq8DHpLO/IGVj2g5DC8B5xhPZWM7byXXJY9sszsu4JqgL3r0kw9xUExvCxZmrxaTAY9CkgNvSlbjLzGoRw9O6FaO5ckorxAeQA8XkPUvK0eRDvy2x091f6Vu4p2aD3gFJy80NwvPQCRNrsCAiw8X8BsvXeEl7yfqB+9JOhAu6euojyU0bk7R0Gqu4l4LDvF1ke9YTnsPL1/AL0awRA9dapLvCevJTzqPuu8pG5bu3qvu7xMx4K8iPqsvHbx77uLQg29832YPGvryjy2kVS9GtuivHB/Cb1XXD86OdHpvDTngj3MhIG9krEkvZpn/Lz+shk9N27OO5ALFrtWl1a8RCQrvSolkLrIaU08LMK4PLQ5Vry56k09p8AhPRFiVb2OJm+9iR9/Pf8i0TuFzoY9CwCdPY34nbystzg8OMVzPUKRzTzhpu+8bm/YPM2uQrxcIDS6maSyPGBVwjzqVpW8sdvkOQ/deDxILao8NL8AvcIhnbzDJgE865GKvOXZvr1Yba+8EamrvDEDxTw979U88wUxPa6sWryVGyU9fddxvRahAb13TC28vEqCvSgGx7sFRu+6EGdbPaa3mzwxIiq8R/YMvC2+gzxvedY8Uxe1vVDWzzyoQdQ9Dd1AvMCkKTyVwsY8OchXPFQo9TsBgCK9yR6QvAP/pDwjHG28kJxoPTcZMj2z+Qg8i3yXPAKZnjvStQW8YlnqPMKFlbz0VcQ8xSu+vFGOEL3T/gs8JRObPE3qcD1bS2Q8RW0mPcGROLwR4aK7/kY5PWwC6zzgSTQ9H7SdvFf+CbySnV68dMERPc6yjTyReYE7VJB+vdcaN72meyi8toIovH8YXb3UhKe8ZlpEvO8sJb2QFq883G/ZPJcSej0fMU+9eqoAu/41hzu5Kem8DB8wvT+Vqz2CQYQ8KPDzPPeVC73qKss7cYwcvOqAKD07Zrk8YJhzvW5swTxC+QI9x7szPVK/9ryxnkY7nbffO9Rnbj30Mwa94ivNvL/DZbywMfo8KQZAvbe+E71MSBA9NUrOvAeb0Dz0QoE9fM49PUEE3TsFT4E9QpZFOox4lTsG3ps8im7hO92TITsz2+y8ouKYvagqZDzg9JQ8ApWdO/7nyLs66rw70rrhO5ZpYLuN6S29ZGEGPGj4sjxGghO9aPUZPMGboDy0fZg8h6+yPGoPTD2DjyQ9Pr9TvAKgsLzBkra6d9aUPeWG7Ttl2Fq8SZwMPJKbmbtL2Au8CktovbwW4r2/ZuU8CBKqPA5P2bzw1HK8nNIJu8nFYr0rYI68OBu1PRDg0TtJVvU8AvJxvTvzGr2lboc9dD/xPARwbT0DBtU82AAYPVkjsjtbeoA8RGdZvbQ6KDyL9Mk7u0x7vDzO6LvvQQS9vzKVvR2yCTyurnk7o15UvODbTD1LZF48Ihf8vN0/3DwLNIg70dA4venAuLwzn+K7t1xNvUwBhb1MPXq83KN8vf/wCD2HBh68ps9uvCgcRD3Inx49VNAmPZyn1rwbMnq9TvbAvNeUCjycbLq8jZy2O9hM9rv0oIU9itq7PKbvPLwrgWc9NMoAvbWGUbwIBBq8nwiXPJMZODlWe3U8HAZHPetTHL3/Xtm8VT2DOtnICr1F84c8OzKYvH/EDrxNPYs8xYD7vKJo/DfQwA48JlGSPZqw8Tw9BCs9RhF9uwOXYD2OE+48D6rfPGuApj3Ta6k8UCciPVsaHT2rchY9tX/uPEh6/jyIYAI9sev0O7rvNzxMff08wkZxPXKzuL13se67phCDPO/VqDwn8Tk8u90mvROlBj3sa787e+OvPJqMq7zEWuS84SAZvauoSTsfTLE8z5nyvILxs7qRmSe9/cZBPWxVHbynlMw8ofp0vIouYzzsWEo8Vcu+vGj83jwMFeW8lc4wO7ra2Tw6jFY88WcGOmdWabz5Dio8lPw8PbMczDw4Ope9JOoFvWR2HbwLwio9v21Fvc0mkjwygq+8C40ruoUsWj30X5W8VBiuO/Pc97wQCpS9DzqgPfFxvruDCzE8QWiWunKgEb1zajM9JOeHvKnyO72fBJC9Q2G5u+pYg70nYJa6mn0kPCpB9byfDZ09J9B7usL3+7z1+6e93ZqIPJ/nB72KtUO8NXY3u4Euc7un/MU8vqZhPRcM2DoElx87BrGoPWFxBr20hV295cWTPPNHaD1+guM6nYMOudeR9bqfJQ89bH2bvEnPyLswCRW9mw4VvDxPQz3HDlY7QyYNvTVm/TwymQc9ZPJTPV1zSzyduwO+nbPhPMp6AD1p69C9i0X6vCy2yjtIaso8bRjCPcMvC70Wg2Y8YEiEvcki27xBSoS9IN2FOsdnnry1axi8f+jZO+XrBL0QkIy9YIH2O55eKb1xoy07viF4vdmbybxnCt08mjmGu6E/7DxJoMW8ayJJPHTCgTyWkac7a3uWPIexsbzmmoA9Ips8vdvN0byxzf08uMPbvOIphDz3g7o6E1xuvHcTgjx6yh09pfcHvSL0Jr0eKgo8oSTpPPG4PjzAca073LZ5PHtBury6U2g97+wMvWVx8zznMPu8GfPvvGN1Nbwbfni7JguovMiCq7ztPDY9GtvNvPesBrvoPHM9kBuYvfGLcjy1NNu8FAp5PfOMAD2AAJ+8x+xqu0c11js4mko8Ye5qPb4GwTyXYmY7uincOxsyHL0KEEU905m1PTaczryf6IO8bOkjvcregbxX6Qy9pSPcuvjPGj2hhZE9QkphvVFi8bt5fwY9bQyDvA6Lq7whYsG7ESEwvAH7qbwnqq+8spuGvC/pUL1pjyK8fdQcvIZhgD2Fepe8/K0dPKvs6jwmsLG8WXRrvYFk6TsWppG8GKhQPEEfsrwwVsO8W/QOvb7PMr12KDQ9164YvaY6hr2QJPo8lP0avdTqjrwa99c7h49LvIOQ5jxMPTE9"
}
