bundles/spark/kbs/soar-playbooks/entries/pb-arcsightesm-arcsight-get-events-related-to-the-case.json
{
  "id": "pb-arcsightesm-arcsight-get-events-related-to-the-case",
  "title": "Arcsight - Get events related to the Case",
  "category": "playbook",
  "content": "Get the Case's Arcsight ResourceID from the FetchID field, or the \"ID\" label. If neither is there, ask user for the ID.\nUse the resource ID to get full data for the case, the correlated/aggregate events underneath it, and all base events underneath them.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (ArcSightESM, xsoar-supported).\n\nIntegrations/scripts used: Exists, Set, as-get-all-cases, as-get-case-event-ids, as-get-security-events.",
  "raw_yaml": "id: Arcsight - Get events related to the Case\nversion: -1\nname: Arcsight - Get events related to the Case\nfromversion: \"5.0.0\"\ndescription: |-\n  Get the Case's Arcsight ResourceID from the FetchID field, or the \"ID\" label. If neither is there, ask user for the ID.\n  Use the resource ID to get full data for the case, the correlated/aggregate events underneath it, and all base events underneath them.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: d042890c-556f-415a-8b61-a12119407553\n    type: start\n    task:\n      id: d042890c-556f-415a-8b61-a12119407553\n      version: -1\n      name: \"\"\n      description: \"\"\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 425,\n          \"y\": -659\n        }\n      }\n    note: false\n    timertriggers: []\n  \"1\":\n    id: \"1\"\n    taskid: f8237bac-e860-407c-810a-1a5ce6e14802\n    type: regular\n    task:\n      id: f8237bac-e860-407c-810a-1a5ce6e14802\n      version: -1\n      name: Arcsight - Get Case info\n      description: Get a specific case from ESM\n      script: '|||as-get-all-cases'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      resourceId:\n        simple: ${incident.labels.FetchID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 328,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n  \"2\":\n    id: \"2\"\n    taskid: a53d4bfb-3250-4e1f-8014-2c5d0a19e5cf\n    type: regular\n    task:\n      id: a53d4bfb-3250-4e1f-8014-2c5d0a19e5cf\n      version: -1\n      name: Arcsight - get Event ID below the Case\n      description: Returns all case event IDs\n      script: '|||as-get-case-event-ids'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      caseId:\n        simple: ${incident.labels.FetchID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -140,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n  \"3\":\n    id: \"3\"\n    taskid: b5fab90a-0f15-40ba-8233-43ed42be978c\n    type: regular\n    task:\n      id: b5fab90a-0f15-40ba-8233-43ed42be978c\n      version: -1\n      name: Get the Events below the Case\n      script: '|||as-get-security-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      endDate: {}\n      ids:\n        simple: ${ArcSightESM.CaseEvents}\n      startDate: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -372,\n          \"y\": 763\n        }\n      }\n    note: false\n    timertriggers: []\n  \"4\":\n    id: \"4\"\n    taskid: 3371774c-a2ba-4ea3-8acb-aaeeae8195f7\n    type: condition\n    task:\n      id: 3371774c-a2ba-4ea3-8acb-aaeeae8195f7\n      version: -1\n      name: Is FetchID set?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"9\"\n    scriptarguments:\n      value:\n        simple: ${incident.FetchID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 425,\n          \"y\": -509\n        }\n      }\n    note: false\n    timertriggers: []\n  \"5\":\n    id: \"5\"\n    taskid: a8d523d4-a25e-45a9-8553-fccb9b49d585\n    type: condition\n    task:\n      id: a8d523d4-a25e-45a9-8553-fccb9b49d585\n      version: -1\n      name: Is ID label included?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"7\"\n      \"yes\":\n      - \"19\"\n    scriptarguments:\n      value:\n        simple: ${incident.labels.ID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 106,\n          \"y\": -321\n        }\n      }\n    note: false\n    timertriggers: []\n  \"7\":\n    id: \"7\"\n    taskid: 00fc9870-1af2-47d1-828b-24dbbd6f02cc\n    type: regular\n    task:\n      id: 00fc9870-1af2-47d1-828b-24dbbd6f02cc\n      version: -1\n      name: User - please insert Arcsight Case Resource ID\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      append: {}\n      key:\n        simple: UserInput.FetchID\n      value: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -140,\n          \"y\": -108\n        }\n      }\n    note: false\n    timertriggers: []\n  \"9\":\n    id: \"9\"\n    taskid: c2788a78-f0a8-488e-887b-428e224ceaac\n    type: title\n    task:\n      id: c2788a78-f0a8-488e-887b-428e224ceaac\n      version: -1\n      name: Get case and event info\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 328,\n          \"y\": 231\n        }\n      }\n    note: false\n    timertriggers: []\n  \"10\":\n    id: \"10\"\n    taskid: 65602a3e-3b1f-4134-80f1-7f056a937775\n    type: regular\n    task:\n      id: 65602a3e-3b1f-4134-80f1-7f056a937775\n      version: -1\n      name: Get Base Events below the top-level event\n      script: '|||as-get-security-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      endDate: {}\n      ids:\n        simple: ${ArcSightESM.SecurityEvents.baseEventIds}\n      startDate: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -626,\n          \"y\": 1110\n        }\n      }\n    note: false\n    timertriggers: []\n  \"11\":\n    id: \"11\"\n    taskid: 29025200-cf8e-4d69-80f1-166eb6b3a034\n    type: condition\n    task:\n      id: 29025200-cf8e-4d69-80f1-166eb6b3a034\n      version: -1\n      name: Does Case included IDs for related Events?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"12\"\n      \"yes\":\n      - \"3\"\n    scriptarguments:\n      value:\n        simple: ${ArcSightESM.CaseEvents}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -140,\n          \"y\": 560\n        }\n      }\n    note: false\n    timertriggers: []\n  \"12\":\n    id: \"12\"\n    taskid: 5c12898b-66b7-4400-8ff9-f7c3632c007a\n    type: title\n    task:\n      id: 5c12898b-66b7-4400-8ff9-f7c3632c007a\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 187,\n          \"y\": 1299\n        }\n      }\n    note: false\n    timertriggers: []\n  \"13\":\n    id: \"13\"\n    taskid: 6b37cdf2-9072-49ae-848c-ea00e953a603\n    type: condition\n    task:\n      id: 6b37cdf2-9072-49ae-848c-ea00e953a603\n      version: -1\n      name: Do we have IDs for underlying base events?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"12\"\n      \"yes\":\n      - \"10\"\n    scriptarguments:\n      value:\n        simple: ${ArcSightESM.SecurityEvents.baseEventIds}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -372,\n          \"y\": 924\n        }\n      }\n    note: false\n    timertriggers: []\n  \"18\":\n    id: \"18\"\n    taskid: ca867694-bf54-4fe8-85cd-946633455ef9\n    type: regular\n    task:\n      id: ca867694-bf54-4fe8-85cd-946633455ef9\n      version: -1\n      name: Set FetchID from user input\n      description: Change the properties of an incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      addLabels: {}\n      customFields:\n        simple: '[{\"FetchID\":\"${UserInput.FetchID}\"}]'\n      deleteEmptyField: {}\n      details: {}\n      id: {}\n      labels:\n        simple: '[{\"FetchID\":\"${UserInput.FetchID}\"}]'\n      name: {}\n      occurred: {}\n      owner: {}\n      phase: {}\n      replacePlaybook: {}\n      roles: {}\n      severity: {}\n      sla: {}\n      slaField: {}\n      systems: {}\n      type: {}\n      vulnerabilitycategory: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -140,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n  \"19\":\n    id: \"19\"\n    taskid: b0d9eacc-8d9f-4345-8a1e-ac1b94c1c018\n    type: regular\n    task:\n      id: b0d9eacc-8d9f-4345-8a1e-ac1b94c1c018\n      version: -1\n      name: Set FetchID <-- ID label\n      description: Change the properties of an incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      addLabels: {}\n      customFields: {}\n      deleteEmptyField: {}\n      details: {}\n      id: {}\n      labels:\n        simple: '[{\"FetchID\":\"${incident.labels.ID}\"}]'\n      name: {}\n      occurred: {}\n      owner: {}\n      phase: {}\n      replacePlaybook: {}\n      roles: {}\n      severity: {}\n      sla: {}\n      slaField: {}\n      systems: {}\n      type: {}\n      vulnerabilitycategory: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 260,\n          \"y\": -108\n        }\n      }\n    note: false\n    timertriggers: []\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_12_#default#\": 0.1,\n      \"13_12_#default#\": 0.1\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2023,\n        \"width\": 1431,\n        \"x\": -626,\n        \"y\": -659\n      }\n    }\n  }\ninputs: []\noutputs: []\ntests:\n- test Arcsight - Get events related to the Case\n",
  "product": "Cortex XSOAR",
  "pack": "ArcSightESM",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "XYcOPQhhJzuciFq92NQHPBr+hD1MEv48a9/8PHWCpTqSX1G90Rx0vJMMDL0H3oU8QQaCPTavizuDyEC8wJuGvaLm2DxUb9A7NRuHvDv6rrshR+S8KEHbvEJM9zolpP48URT6Oy/+lL1r0US7AfahPAWTkrz0/74759lbPPCZVDzXXFq8wnCuPNSYS73Meum8+31ovC/1vjxzgkO9cglEPcKfnr3Ki947JKYAvUuVVz3aZdY8VGNGvZD/RrzxdaA8scGUvVAUIbvV26Y9dx4COy54L71K6Cc8n81nu8oJkLsK3bA8+7JSva2F0ruyYWm9OyLmPAET7bv6e5c7QV+jPOwUsD1uhCK8lCqLvZvg77zJ/LS838abPUjCFbyqxm09BmhPvXJHkLs5XxK9S02EvHsYp7yJuSc9fcE7Pav6nDyGKiG9vz36vDIpRj1hu7y7rm4tvfZyMLyHIwm9FAJ0vVyhTbzh9wk7VqaoPUCMHzwI5+O8akXTPYModT2yOiA7EqeHvXgcuL2hfcU8L72BOaaEKL0gzYC8hiuyPAbNGD1Egxo9leISPXPxWT1NBCa9Qtl5vTQmoLw0Ohe8a7gwPczv6zwZXRU8C/PbvS/pDj3Aes08bgJvPT5NPLtztUe94HmoPGuehjxgkEe7crGYPZLUvD2tgEY99jJevAtpCr1QqAO9H2M5PI2zMD2P3Om8zFIbO0fGqbzG/cq7dt8TvVMBuD3UA8G8ysw1PTlsXDyrBQE9fFVZPOd70b3xlfq8Jg8kPbYLYbzsdXk9APmRPS/PZrxefoS98nlbvO5ERDzqShG8Ff61vDg3J70ATg29mLQnPP1rp7y5Epc7S8UGvQpHYLw0J6a8N0GNvBNBfLwpN9C8jyZYvZUsjrwasPq51im1vKPDBj0miG29IM2NutaRrr1TX0S89XjUuykwhz3pQr+8vUQxvF2+I7z238+8OdM1PSFFwzxp6xM9BR2cveVLPj1vvDk9lG84vSVBdT2Sif47kvpCPZ7kIb23OW68zvXNvCM5zDw9lVC97hfNvFJfyTwM31U8B7cAvO/pb7x3CaQ9nsZoO63cFb0rGaq98oiBvImvdrt5V628L3QtvTkBg73+KK67C+QQPbkBaD2LBVY8w/CZvDL+mLzkS1c8jZ4FvFBseD0rQ5I9eoGTu1k6U7y1ZJe8E4FFOxN72DtmRw+9jRqXPHFVM72PL7+7R4lsPJhlcL2QADk91N0mPbb3JDxLPG082aWGvIf25jzm+AU9JjxuvZoOx7zg+r48D9phvfTbWj2bWbk89okFPM6qmT1FlnS9WfubPDT8oLt45688Eq9cvYxNwLu56Ua99mmAPLRm57yiyaO8zglbuumrBD1/Q8O8n+RAPDevibylrUA8yfUnvWhxQju8GVi910ghvUXcZr3Knhe9G+MXvAx1Rz2RVeI82yrEO2KnujwYnwu9GfLNvJN+Jr2m9fO780gDvNdWND26+o69C0wbvLVuyLgIIYW9uBoEO2pOjbw8HH88R7GOveaYsTu3Jam7DJHJvC8EMb1zRgU9nAsEPQInYby/Kpm9C/sDPVlQUjzOvV09nuS4PZJShTx89xO8U0kxPa39Uz38OUu8cwZGu6Xa87w/JWc8Z9VqvKV5kTwO0jg8R5pjvVGLdj3GJS29+V0NO0afZ7zu/ia8N80WvUk7xL3t/hW9aG3wu5X3IDyV7lw878wdPd+QSbyKJEQ9ojhivNwat7x9Pi49evF4vUYaprp6iLO6Zp6+PFmcRT3zTaI8LARmvFB6SDzWc5E8nxqhvNI1qDzVtEQ95abfvC3amzzPR3c9ZbYTPWwOTjtRrQC9/Jthu0BetLuw56k7GXeRPT95iDy3pgw8eiesPGSYWrziisY7mMtKPHNh9ryxR7Q7nYM8vcvElTyMCRg8stJpvDtGpD20H6I8lpvzPLRvhb3SQyO9+B4gPSo7LD0bZ007RJfeuwkfvryRljG8fJoGPUektryczYw8CzYavQS+FDtULW883hfSPCtPa71iJbE85EDTPFEWR7zpV7s869j/O36+hz2eApa8nKWOPKP3YLwFLyY7abYkvMTCkD0+53k9C/Q+PdBO37zSbqC8zd4BvDc1fz0Yzis92ecjvdRnnLtbKCC9YTKmPJesn70xIgE8nAUJvfyqMD2w+988HKyvvOE7S7wlfwC91afSukA0oDs3zBQ9mwKevCOZ1zpGrQI9L7WMPHKIJzy4nUY9kkBpPFCzlbt7szi7s476vINOcTwjhMK9g1bDvOcfK7vyzt+84sqQOzfuT7wieGE9Iuj9vHliADxL4Fm8O9CMPA75gTz3WU29EmP7PMwIZbsBMnI9QSniPPz9AT2I0zg92MFOvfWVOjxBQDa8fV0MPTeZjjwX5J27v1YJPMiMkLzhALs85DFxvQhY571lfyc8dLKFPGoINzxPzxc8VO9wvP6ZE720qdY84IZYPQaHODuP1x+97G/+vAATmjkiFXk9c89wuuha1Dzv4bQ8j52yPJQaGj0C5fo7djmlu+BahT0ZGuY8tqCiPF9A1bzA8NU78HwiveoKSLznSCc9L9qRvOkSPD1JZ6G9azI3PBnwLz0GxBq8PyCZvXuaKb29Qyq9H10jva1s0Lxmazc8q/6+vVtejTpnNAC9eYKWPKAH2TyuG008q4BbPZ2cdLw5deC7xliSvBx6/DsW+/w7hHfEPDjzED0E6ZY8+mJiPYft3bypNZw7XQkfvb1YeLxttNY8g/HUvBc4kLx5XrW6QZc7vFDm9LwtM6U8M5mNPJaXgzubCMK8rsKNvGNiEbziMqa83gACvWt9vLt0Otq6yRlSPds8OTxzzjo82iTHOxLPkz0h2Sc9p2+LO5WRZD01tuU84bX9PPHLQT0e8O88wCKovDwVQbwvIqw86dAfvL0MAjyFSwQ7eIuSPYIa7rwoHkq8iy3vu+1rJz0FIkM8FGkDvZ97LTtcyu88X9JUPEUPRzww0I+6FO3LvNGfirs6/tc8uZ4ivVubPr3673W86rRjuy7OwryQysY8X8XAPGjrI70XTKk8bpecvC8SCTwfYje9sTQlvbTT5zytDy28z+YUvICwR7vO+rK7qYA8Pfo1P7yzgFu91Ho4vRz2+zvl7+k8C8x/vbUYBrzXoDO8sbUtva0CPLpyFai8R5a7PLHN9jx5dHq9kEVbPbFDOrlNI807Y0Mvu2OPB71voz890vDovCYBFr0tk8u9gHGEvHdYbb1SOjA8HGyxO/Aqx7zbl9w81HYrvSi/tbyl1Pe7OmefvOrYeL0epqu81QUGvVbxQDznYhg9/gkgu7mowzyEh9y8YftsPdUIsbx37zq8jwvUO8HZTz1CXv48MVqRO/ZP2TyA+dw7ojffvEsok7wII3K9pZpWPOoNwTyCm/U82vUDPHLGJj2mQ8K8mkGoPY6LpTuAFYS9AAcdPUiwOz1GAW29MC0dvTz6LD3RIKi7JAl8PXmUEr2z8Eo9fjYkvYe9Qrx+QsK8dPwSvf/j6Lx9nD69wLItPfrfSb3erZi93gR4u95hgL05UC28ha7KuxqhCb3FX+y52NJku9us9rzllsw8CxVruTzBCT0FrIw8n6bavOA5wzuI2rE9xwxjvGlppbwUG9e7mWOfPLvIEz1Fs+c8/3qzPED3uTy8zY086xlTvOZzn7wYB4u8eUgzOutKqDxML5K80vz7OexJXbwV9ks9YAbSu/XPBj00mR87IUA5vZQ2oTwOzrI8SGC7vOY8QDrr7z49dU4PPBMQl7xxJfo8dKfgvYdWRDxEsJ69BJraPDhuXz1d1g49Rb2oPO0Vyzyp3B49kvQCPCJKt7uAHxS9ILyVPZhdUb1LQ7A9yNx6PVZwRbxb0EC9zl4UPEpVTjyUDy07enkbvV98Pz33vxc916XJvJuC0Tugpr085wtDPELNDb1sH0u8Eh2XvMNNHL1lXw49tnp/vENILr2BqA286UG/vE/Elz0/tUw8iBM9PGFvGjzerW08D1y8vdtB9by8R4S72AApPQLzIb22B3q97ermO+3GQL27uHo9MyCrPATlwrtRgZM9BnQ2vUu7KjuU3gu9CHaxunwmgz160WS8"
}
