bundles/spark/kbs/soar-playbooks/entries/pb-arcsightesm-tim-arcsight-add-domain-indicators.json
{
  "id": "pb-arcsightesm-tim-arcsight-add-domain-indicators",
  "title": "TIM - ArcSight Add Domain Indicators",
  "category": "playbook",
  "content": "This playbook queries indicators based on a pre-defined query or results from a parent playbook, and adds the resulting indicators to an ArcSight Active List. The Active List ID should also be defined in the playbook inputs, as well as the field name in the Active list to add to.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (ArcSightESM, xsoar-supported).\n\nInputs — ArcSightBlackListDomainActiveListID: ID of the block list Domain Active List resource as it appears in ArcSight.; ArcsightBlackDomainValueFieldName: The name of the block list Active List field to insert the Domain value to.; ArcSightWhiteListDomainActiveListID: ID of the allow list Domain Active List resource as appears in ArcSight.; ArcsightWhiteListDomainValueFieldName: The name of the allow list Active List field to insert the Domain value to.; ArcSightWatchListDomainActiveListID: ID of the watch list Domain Active List resource as appears in ArcSight.; ArcsightWatchListDomainValueFieldName: The name of the watch list Active List field to insert the Domain value to..\n\nIntegrations/scripts used: ArcSight ESM v2.",
  "raw_yaml": "id: TIM - ArcSight Add Domain Indicators\nversion: -1\nfromversion: 5.5.0\nname: TIM - ArcSight Add Domain Indicators\ndescription:\n  This playbook queries indicators based on a pre-defined\n  query or results from a parent playbook, and adds the resulting indicators to an ArcSight\n  Active List. The Active List ID should also be defined in the playbook inputs, as well as the field name in the Active list to add to.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 7e02782c-3f0a-4155-9b69-55fcda2baeff\n    type: start\n    task:\n      id: 7e02782c-3f0a-4155-9b69-55fcda2baeff\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"18\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 910,\n          \"y\": -175\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"8\":\n    id: \"8\"\n    taskid: 3c1a518d-1cc5-4a52-88ab-725d979b88b9\n    type: condition\n    task:\n      id: 3c1a518d-1cc5-4a52-88ab-725d979b88b9\n      version: -1\n      name: Is ArcSight Enabled?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"62\"\n      \"yes\":\n      - \"30\"\n      - \"60\"\n      - \"67\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: ArcSight ESM v2\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1340,\n          \"y\": 170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"18\":\n    id: \"18\"\n    taskid: 2a09d73b-239b-4106-83ad-60a5c1cf7210\n    type: condition\n    task:\n      id: 2a09d73b-239b-4106-83ad-60a5c1cf7210\n      version: -1\n      name: Are there filtered results?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"62\"\n      \"yes\":\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: Domain\n    view: |-\n      {\n        \"position\": {\n          \"x\": 910,\n          \"y\": -10\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"30\":\n    id: \"30\"\n    taskid: f48ed3d7-c1ec-453f-847a-c680be0d04ca\n    type: condition\n    task:\n      id: f48ed3d7-c1ec-453f-847a-c680be0d04ca\n      version: -1\n      name: Is there an ArcSight Block list Domain Active List and values?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"62\"\n      \"yes\":\n      - \"59\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ArcSightBlackListDomainActiveListID\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ArcsightBlackDomainValueFieldName\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: playbookQuery\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: playbookQuery.CustomFields.tags\n                      iscontext: true\n                    right:\n                      value:\n                        simple: approved_black\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: playbookQuery.indicator_type\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Domain\n                accessor: value\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1500,\n          \"y\": 530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"59\":\n    id: \"59\"\n    taskid: ab9d83d4-8938-4456-8b0c-5405dcf4d664\n    type: regular\n    task:\n      id: ab9d83d4-8938-4456-8b0c-5405dcf4d664\n      version: -1\n      name: Add Domain to ArcSight Active list block list\n      description: Adds new entries to the Active List.\n      script: ArcSight ESM v2|||as-add-entries\n      type: regular\n      iscommand: true\n      brand: ArcSight ESM v2\n    nexttasks:\n      '#none#':\n      - \"65\"\n    scriptarguments:\n      entries:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.CustomFields.tags\n                iscontext: true\n              right:\n                value:\n                  simple: approved_black\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: $1\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ':'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.ArcsightBlackDomainValueFieldName\n                iscontext: true\n              suffix: {}\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: '\"},{\"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: ':'\n              replaceWith:\n                value:\n                  simple: '\":\"'\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '[{\"'\n              suffix:\n                value:\n                  simple: '\"}]'\n      resourceId:\n        simple: ${inputs.ArcSightBlackListDomainActiveListID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1500,\n          \"y\": 870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"60\":\n    id: \"60\"\n    taskid: 63d6017f-ccef-4f11-8d41-0c5e8dbe4ad5\n    type: condition\n    task:\n      id: 63d6017f-ccef-4f11-8d41-0c5e8dbe4ad5\n      version: -1\n      name: Is there an ArcSight allow list Domain Active List and values?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"62\"\n      \"yes\":\n      - \"61\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ArcSightWhiteListDomainActiveListID\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ArcsightWhiteListDomainValueFieldName\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: playbookQuery\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: playbookQuery.CustomFields.tags\n                      iscontext: true\n                    right:\n                      value:\n                        simple: approved_white\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: playbookQuery.indicator_type\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Domain\n                accessor: value\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2350,\n          \"y\": 530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"61\":\n    id: \"61\"\n    taskid: c7cb6db4-316e-4c60-8c8b-bb945635c0e3\n    type: regular\n    task:\n      id: c7cb6db4-316e-4c60-8c8b-bb945635c0e3\n      version: -1\n      name: Add Domain to ArcSight Active list allow list\n      description: Adds new entries to the Active List.\n      script: ArcSight ESM v2|||as-add-entries\n      type: regular\n      iscommand: true\n      brand: ArcSight ESM v2\n    nexttasks:\n      '#none#':\n      - \"66\"\n    scriptarguments:\n      entries:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.CustomFields.tags\n                iscontext: true\n              right:\n                value:\n                  simple: approved_white\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: $1\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ':'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.ArcsightWhiteListDomainValueFieldName\n                iscontext: true\n              suffix: {}\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: '\"},{\"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: ':'\n              replaceWith:\n                value:\n                  simple: '\":\"'\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '[{\"'\n              suffix:\n                value:\n                  simple: '\"}]'\n      resourceId:\n        simple: ${inputs.ArcSightWhiteListDomainActiveListID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2350,\n          \"y\": 870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"62\":\n    id: \"62\"\n    taskid: 44b4b9d6-42eb-43c4-8c59-237257ebeac6\n    type: title\n    task:\n      id: 44b4b9d6-42eb-43c4-8c59-237257ebeac6\n      version: -1\n      name: Done\n      description: ''\n      type: title\n      iscommand: false\n      brand: Builtin\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 910,\n          \"y\": 1360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"65\":\n    id: \"65\"\n    taskid: a655e1a3-c7ef-4397-8f4f-16f39ab36389\n    type: regular\n    task:\n      id: a655e1a3-c7ef-4397-8f4f-16f39ab36389\n      version: -1\n      name: Add SIEM tag\n      description: Adds the SIEM tag to the indicator.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"62\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: SIEM\n      indicatorsValues:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.CustomFields.tags\n                iscontext: true\n              right:\n                value:\n                  simple: approved_black\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1500,\n          \"y\": 1170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"66\":\n    id: \"66\"\n    taskid: e7ad42ed-94c1-4c9e-802d-66917b8cf7d0\n    type: regular\n    task:\n      id: e7ad42ed-94c1-4c9e-802d-66917b8cf7d0\n      version: -1\n      name: Add SIEM tag\n      description: Adds the SIEM tag to the indicator.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"62\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: SIEM\n      indicatorsValues:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.CustomFields.tags\n                iscontext: true\n              right:\n                value:\n                  simple: approved_white\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2350,\n          \"y\": 1170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"67\":\n    id: \"67\"\n    taskid: 8e5e172e-ba3d-4cb6-8996-336a2154bd52\n    type: condition\n    task:\n      id: 8e5e172e-ba3d-4cb6-8996-336a2154bd52\n      version: -1\n      name: Is there an ArcSight watch list Domain Active List and values?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"62\"\n      \"yes\":\n      - \"68\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ArcSightWatchListDomainActiveListID\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ArcsightWatchListDomainValueFieldName\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: playbookQuery\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: playbookQuery.CustomFields.tags\n                      iscontext: true\n                    right:\n                      value:\n                        simple: approved_white\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: playbookQuery.indicator_type\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Domain\n                accessor: value\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3190,\n          \"y\": 530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"68\":\n    id: \"68\"\n    taskid: 145ac1fe-1783-4f3c-838c-9bd2f783b719\n    type: regular\n    task:\n      id: 145ac1fe-1783-4f3c-838c-9bd2f783b719\n      version: -1\n      name: Add Domain to ArcSight Active list watch list\n      description: Adds new entries to the Active List.\n      script: ArcSight ESM v2|||as-add-entries\n      type: regular\n      iscommand: true\n      brand: ArcSight ESM v2\n    nexttasks:\n      '#none#':\n      - \"69\"\n    scriptarguments:\n      entries:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.CustomFields.tags\n                iscontext: true\n              right:\n                value:\n                  simple: approved_watchlist\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: $1\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ':'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.ArcsightWatchListDomainValueFieldName\n                iscontext: true\n              suffix: {}\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: '\"},{\"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: ':'\n              replaceWith:\n                value:\n                  simple: '\":\"'\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '[{\"'\n              suffix:\n                value:\n                  simple: '\"}]'\n      resourceId:\n        simple: ${inputs.ArcSightWatchListDomainActiveListID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3190,\n          \"y\": 870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"69\":\n    id: \"69\"\n    taskid: 3c1d9e5d-b517-4d8d-8683-3123eae9f53c\n    type: regular\n    task:\n      id: 3c1d9e5d-b517-4d8d-8683-3123eae9f53c\n      version: -1\n      name: Add SIEM tag\n      description: Adds the SIEM tag to the indicator.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"62\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: SIEM\n      indicatorsValues:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.CustomFields.tags\n                iscontext: true\n              right:\n                value:\n                  simple: approved_watchlist\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3190,\n          \"y\": 1170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1600,\n        \"width\": 2660,\n        \"x\": 910,\n        \"y\": -175\n      }\n    }\n  }\ninputs:\n- key: ArcSightBlackListDomainActiveListID\n  value: {}\n  required: false\n  description: ID of the block list Domain Active List resource as it appears in\n    ArcSight.\n  playbookInputQuery: null\n- key: ArcsightBlackDomainValueFieldName\n  value: {}\n  required: false\n  description: The name of the block list Active List field to insert the Domain value\n    to.\n  playbookInputQuery: null\n- key: ArcSightWhiteListDomainActiveListID\n  value: {}\n  required: false\n  description: ID of the allow list Domain Active List resource as appears in\n    ArcSight.\n  playbookInputQuery: null\n- key: ArcsightWhiteListDomainValueFieldName\n  value: {}\n  required: false\n  description: The name of the allow list Active List field to insert the Domain value\n    to.\n  playbookInputQuery: null\n- key: ArcSightWatchListDomainActiveListID\n  value: {}\n  required: false\n  description: ID of the watch list Domain Active List resource as appears in ArcSight.\n  playbookInputQuery: null\n- key: ArcsightWatchListDomainValueFieldName\n  value: {}\n  required: false\n  description: The name of the watch list Active List field to insert the Domain value\n    to.\n  playbookInputQuery: null\noutputs: []\nquiet: true\ntests:\n- No test",
  "product": "Cortex XSOAR",
  "pack": "ArcSightESM",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "HBnBPFwJ0LzSdNW9xyA1PC5eGT0aCtg8Hl6iPVoPR7xSz0M85VwkPD30Tb1Sj4A94ngyPda5crx8xoe8wn6XvfrGYT1NZog8AUenO/fEErwrVwW9zl6OvGkqrjq974E88NPgvHRQzL1ZEOY6ernGOzwKGr3ll2c92yD3uyG/Z7tS/NK7pOmQO3v0gL2WnYC8JRCJvbjTjTzMU++8jGkQvFZ1q70GhHk7hgGjvEx8FD1E/AW7l2omvX87kbx77au7HzhRvae+YT3EPok9eQahvFTxBL02vqi8yDExvUeJWb3jQr67QQBovFqR3LmK3iO8VB6Zu9AeFr34p9k7f1KzPEQjeT1Swye814DNvKgaDzwpdwm9L2uYPSRJL71iWc09pdDTvFeI9bxOnKO85QIhu6zSEjxN3l47vcmcPLNhxDyngbY7IwaVO5FcLz34bxI87GDVvGdN6jueDVO85J6dvfOgIzy1CZs8eUXPPaylx7vKtOq8XAqyPQRIjz3HeA08EkmZvYs9yr03rG49z7gUPBI0VDs6l7e8LKvlO1qejzsAGuc85ZEIPREjirqe1jC9rYyDvbV/cbyEkQi7qJR4u+8vOTzauIE7HcNSvUyMYD2prSA8g0HDPLlR37vgPZK91gwFPcNujT0Q2yS7/x8mPRq1oT0vWk09bLWdOSUe9rsQ9RK9YoFqPPW1zLyzGKe8dnM2PHSa/rxHW2U79sAxvU4JAD0Vv9C8RzXVPMeH/js0YyG829a7PAYV7b0cRFe936hjPey4C7s+D409VBDWPTr9Y7y3gei8TT5SPBTkBL3e3Gy9TXlBvJhISL0ieQQ9RRCzvKgukL0bhwE9Qdt6vX/7frwizSu9MQ4ZvTAP3zzNNPG7eLgZvUdw1bwqgTi8uPlsvDizYD1paKW8Q+kZva5NDr2wHsO8wMsFvSXHNjzxUek7DBcdPAsH4LyJHtC8dGZgPUqsBT1IOc48v4wXvnlMCD08xUA9dh+avJ45+zwgRGK8wJQGO6ChTrzCEGK8irTSu/0+Ij0vNDG9opq5vNWwbzzHp2c83zpaO7hAI70iqNA9llR9vEX8GbsZSeC9hfsWveD7pTy9jCu9g/V8vW2gsrswgNe8KxfNPHLXBT0ydxe7JQJ6vOTDBTz1dz47cYyrvIIGYj0mFdc9x0vrvOKxdTzz6Uw86SNJvHkal7vFlpK5pOatPP/ZqjzyaoE9yMUSvd0tUL0ZPP+7fje2PBk4wrz529k7eD+ju+oYBrt40yU912oHPC9JQr0PbuY8Xv1OPEmlFj3MEtQ8vNr/vFiXqD2c+wO9SAjQO5D63zufxSO6usaOvIan2DuQL0S8sFRYOi2DK7zf2VO8DNEwvAC2sDvpa2W9+q4kPWxUA72ciBM9RUX/vGnT1jsitYm98SI/vS9kUL3VAG67Jl7/O0Wg9jwDfEI9FQJSPTtm0DxOb7q8XekavT87ZL0/nEs6Kr4EvQ2QITzuDGi91kWavdZbiTphn9K8n+jZPGTPTL0Y7pK8wzhmvTCPAL2wGKG8IWfvvMwHeL3TIVk9+rcpPUunoLxle7O8uzFBPTTWNTsazH898rlyPSlpD72MVBc82lg3PZDHUD3TAfW8+gylPJwcWbwZJ668DE+YPCupID3SRJ68rV7vO4sW5DyLYRS9QwvMvEU1LTuX8Y28irOpvLSd370igyW9yYuSu3XYCTy45sM8H0UzO4VIMryQ0kA9N2tEvZyZA71LyHU8AFZtvXgHnrx03BC99mkoOzjG3jwWmCK8i8/wvFDdjrwHTEg9yJ4tvbk9Az0Dn0Y9EGofPMMvi7sjqLg8JUHdPPFiIjvDg+O7n4BZvFEQNTymgMC7XOOKPRLEMT0ei6U8288MPaE+WrutvQI9zmeYPLO7ZDyNKPs7UQ6Bu/KV5zv+rj486DHIu8vNPj0Y7po8oiUBPWTIZ7zjBU69Ce6uPdbY7DvpbM46STEdvZFzwLktDQO9HiElPK7uC70klDY9lUiIvUt/R70f9uc73HQZPBYGUL14GN+8eWOFvAw7E7z/VM071QcaPfuDlD1y3SK9utk4u7nEUTyT8oe9088FvUwCnD1uNr48mmqhPRwhl72jHwW78UKlvAZokz2fcwI98NMLveeVVLyzRK68nrYqPd/I9bwAr2s8zNoDPJcVbzwusQI9ofYovXGVjDw3DbO8+Hjgu6AomzqtARU8CFmNvE4W9zxFh4g95Hr3PBvQKDz2VCM9Zh09vGTmWTsx1F+8sL1OvGsy6TvvBoa9cLrfvA0Kgjvbq847JKBUvGGoJL1Vsd08QkGuvFC+DD0Yl/I5n6DCO4TiyDwByh+9PJRmPKlVWT2Akxc9UQfWO9QMHD0FjFs9MsjnujY3AzpMYTq9cp6fPMjsx7tqER48nz+dvAheTrwkecg6wRffvAflpr3gDOe7qLEvOuseIrwuuZi86zg4vSQKML147Gc8qVgHPV4vjzq0ChQ8A++NvOcXAbzCHWI9YtD3PMMRWD1tLow8GAyqPCnAojwq5Ts9vipdvRb9/DyUovU89ukvvMPaCrwV/9e7Ly9nvUGhrrx3o527oW47PF0tDz2M83u9df7LvNM55LwzDqE8yx1ovcTXGb2Kajm9NPlZvSW66bxp34K8KpyuvSuaujxVt0K78eEyu6BG0zxkK0g9C3JCPWs4KrzGhZM7fdiyvFq8BrwRCmm9NkYDumzRTD0E6ZM90S1WPdMKmbz5ekk91Su0vGAT0bx+fTU8sSmjvLiHf7xNpwk8Yl7rPDD/O7341Qg9vhrDPO34p7zvCeG8lRS+vGXpnrvdzB+8wTjDvF4Wz7z3VtO8IUtaPfTaULzdJD87v55ZvARvFT0TZGs9idKBPN/j1j3gBTC7eOMPPCXEDDkkZmA9/HvxvN7atjtYpM08wzswPF6hjj3yicY7AlGCPU+qbb2O5ua8BeD7vJZoTDwdWTS3LagtvRSYnDwiN7K8MWLBPI5RDb25/q46yGSyvPB3JLzhoxE8+q7ovFLAm7wskc67l4QGPVwrA7zKBes8OxLKu1nJGTyctNw6SG8JvSGXqLjs9uK7BnPBvAAC8LpPtAy9RsomvLgYlzvBNFs8harAPaDQjryPiTu9qsy2PImnEr3m7CE87jSJvRU/vjve0hk5H83VOwUEBD3+8+a8i6CBPIHarzwwKlm9UVt/PQFz1TwVeBQ6upEOu9GaHLzKtmM9UUGwvEu1mrwUYHy9Jzc7vfd5h71jQtc6X0anu1C6kDj1J4U9+QguvHC06LzbVkC9K5C2POinArygVO28ffFpvD3vQD0Gv/g8AQqku3w4NDwykuE7iyr7PIctqLwRRN68w6BTvDtsLD3lz9I8m/kCOZTeuTymbFs9KofjvB+mzbzE5Bu96RbFPIG0Wj38WCq8kmbQuyMVJT105IG84J6cPUIDmDys36S9uWijPKeFajxf86S9DBnevF+20jxdO0M9/k51PeHDnLycBm49j8ufvffN7rxflam84z6tvHAppjv2sj293RQkPar5/ryaiJW9vl6ovC8q+Ly+xgc95M5GvOtFlb2dYPw80pzvO0QX9Ls/I9I7XCYmPXz+Ij2mYJI8qjrvvAkmorzj65g9YGnTuzVgn7ypXUK8227BvB3qiz0yd428oTsdPGfv6zxhJJI8Xvv/vBHIqLyvhce7gXzCOogAnjwggQI8yCuOPMBRlbwDDjm89nQzu2w+sLsBmHS8HeeDvGeR+jwJjZk7mgDxvDOG9zpbjLO7EcK0vCrRELw4muM8pzcDviUW7bzHIrS8Q7cIPUjyST3zG3g8jXK5vHjy0jxvmLE8adQxPSZxoDxqucO7TLpPPcoM9rz4Ugo9DhlvPdnL17vL7xu7PAz1uzHakDzEqTE7Zc8XvU26pDxAp0496kMpvZQX4bw7Bjc8TFQrO5DHEr1CCBe8+YvcvCwhTDpyQZM8BWVpvNzdNb2DFzY7ejavOjkUQD0rKIw8AvQ7PKQ5oLtvw5y8kmMCvVO2Jb0L3gI82+aEPK7kOr2h15m867fduxf1Ljwa9xI9A2CxunbTtroFzzQ9RkfOvLLNnTyy+hS9hCcdvVx7wz2/IZU7"
}
