bundles/spark/kbs/soar-playbooks/entries/pb-breachnotification-us-california-breach-notification.json
{
  "id": "pb-breachnotification-us-california-breach-notification",
  "title": "California - Breach Notification",
  "category": "playbook",
  "content": "This playbook helps an analyst determine if the breached data meets the criteria for breach notification according to California law, and, if necessary, follows through with the notification procedures. \n\nDISCLAIMER: Please consult with your legal team before implementing this playbook.\n\n**Source:** http://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=CIV&sectionNum=1798.82.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (BreachNotification-US, xsoar-supported).\n\nUse cases: Compliance.\n\nInputs — ContactName: In case of a breach, the contact details to send to the Attorney General and the affected residents.; ContactEmailAddress: In case of a breach, the contact details to send to the Attorney General and the affected residents.; ContactTelNumber: In case of a breach, the contact details to send to the Attorney General and the affected residents.; CompanyName; CompanyAddress: In case of a breach, the company details to display in the breach report.; CompanyCity: In case of a breach, the company details to display in the breach report.; CompanyCountry: In case of a breach, the company details to display in the breach report..\n\nOutputs — PIICompromised: Set a flag indicating that PII has been compromised.; HealthInsuranceBreached: Set a flag indicating that the breach contains PII of health insurance information.; MedicalInformationBreached: Set a flag indicating that the breach contains PII of medical information.; FinancialInformationBreached: Set a flag indicating that the breach contains PII of financial information.; AccountInformationBreached: Set a flag indicating that the breach contains PII of account information.; UniqueIdentificationNumberBreached: Set a flag indicating that the breach contains PII of unique identification number.; UniqueBiometricDataBreached: Set a flag indicating that the breach contains PII of unique biometric data.; Analyst review.Answers.1: Explain, in your words, the incident origin, what you have checked, and any information related to this incident..\n\nIntegrations/scripts used: GenerateInvestigationSummaryReport, Set, send-mail.",
  "raw_yaml": "id: California - Breach Notification\nversion: -1\nname: California - Breach Notification\ndescription: \"This playbook helps an analyst determine if the breached data meets\\\n  \\ the criteria for breach notification according to California law, and, if necessary,\\\n  \\ follows through with the notification procedures. \\n\\nDISCLAIMER: Please consult\\\n  \\ with your legal team before implementing this playbook.\\n\\n**Source:** http://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=CIV&sectionNum=1798.82.\"\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 7b3a65d0-fec2-4bc7-87da-c466d923d5ad\n    type: start\n    task:\n      id: 7b3a65d0-fec2-4bc7-87da-c466d923d5ad\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"45\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 930,\n          \"y\": -1380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"1\":\n    id: \"1\"\n    taskid: 55a0877a-dcf9-4ae0-8645-2b9f37d0a9ce\n    type: collection\n    task:\n      id: 55a0877a-dcf9-4ae0-8645-2b9f37d0a9ce\n      version: -1\n      name: Notify DPO of suspected data breach\n      description: Notifies the Data Protection Officer of a suspected data breach.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"66\"\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": -540\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        simple: ${incident.dpoemailaddress}\n      subject:\n        simple: Suspected Data Breach in your organization\n      body:\n        simple: |-\n          Hello,\n          A suspected data breach has occurred in your organization and requires your attention.\n\n          Data breach details:\n\n          Company: ${inputs.CompanyName}\n          State: ${incident.statewherethebreachtookplace}\n          Date/Time: ${incident.datetimeofthebreach}\n          Affected data type: ${incident.affecteddata}\n          Approx. # of affected data subjects: ${incident.approximatenumberofaffecteddatasubjects}\n          Data encryption status: ${incident.dataencryptionstatus}\n          Where data is hosted: ${incident.whereisdatahosted}\n          The suspected cause of the breach: ${incident.possiblecauseofthebreach}\n          If the cause is malicious, the specific cause might have been: ${incident.maliciouscauseifthecauseisamaliciousattack}\n          Refer to the 'California legislative information' site for more details about the notification process: http://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=CIV&sectionNum=1798.82.\n\n          Please complete the following form to continue the data breach investigation.\n      methods:\n      - email\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n      replyOptions:\n      - \"Yes\"\n      - \"No\"\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: In your assessment, does the breach involve the personal data of\n            living individuals?\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options:\n        - \"Yes\"\n        - \"No\"\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: If the answer is 'Yes', the breach will be documented. Please fill\n          out the following questions.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: How likely is it that the breach will result in a risk to individuals?\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options:\n        - Likely\n        - Unlikely\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Risk - The resulting risk of the impact of the breach on individuals.\n          When assessing the risk to individuals as a result of a breach, the DPO\n          should consider the specific circumstances of the breach, including the\n          severity of the potential impact and the likelihood of this occurring. If\n          the answer is 'Likely' to result in a risk to individuals, please fill out\n          the next question, and the section regarding the information for the breach\n          report.\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Are you aware of the cause of the breach?\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options:\n        - \"\"\n        - Malicious attack - internal\n        - Malicious attack - external\n        - Accident (system failure)\n        - Negligence (human error)\n        - Other\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: If a result of a malicious attack, what caused the breach?\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options:\n        - \"\"\n        - Unknown vulnerability\n        - Cryptolockers\n        - Fire reconnaissance\n        - Phishing\n        - Distributed denial of service\n        - Malware\n        - Social engineering\n        - Blackmail\n        - Other\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"4\"\n        label: \"\"\n        labelarg:\n          simple: What is the likely impact of the breach?\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options:\n        - \"\"\n        - Data publication\n        - Data theft\n        - Identity theft or fraud\n        - Loss of data\n        - Loss of confidentiality of personal data\n        - Property damage\n        - Direct financial loss\n        - Business interruption\n        - Liability issues\n        - Damage to the reputation\n        - Other\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: 'A data protection impact assessment (...) shall in particular be\n          required in the case of: (a) a systematic and extensive evaluation of personal\n          aspects relating to natural persons which is based on automated processing,\n          including profiling, and on which decisions are based that produce legal\n          effects concerning the natural person or similarly significantly affect\n          the natural person; (b) processing on a large scale of special categories\n          of data referred to in Article 9(1), or of personal data relating to criminal\n          convictions and offences referred to in Article 10; or (c) a systematic\n          monitoring of a publicly accessible area on a large scale. - GDPR Art. 35'\n        readonly: false\n      - id: \"5\"\n        label: \"\"\n        labelarg:\n          simple: |-\n            What measures have been taken to mitigate the adverse effects of the\n            breach?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: (d) describe the measures taken or proposed to be taken by the DPO\n          to address the personal data breach, including, where appropriate, measures\n          to mitigate its possible adverse effects.\" - GDPR Art. 33\n        readonly: false\n      - id: \"6\"\n        label: \"\"\n        labelarg:\n          simple: Country where business has its main establishment\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"7\"\n        label: \"\"\n        labelarg:\n          simple: Additional information that is relevant to the case\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"8\"\n        label: \"\"\n        labelarg:\n          simple: Company Size - number of employees\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options:\n        - 1-9\n        - 10-49\n        - 50-249\n        - 250 - 749\n        - 750-1000\n        - '> 1000'\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"9\"\n        label: \"\"\n        labelarg:\n          simple: What should the residents do\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Suspected PII data breach\n      description: Suspected PII data breach was found in your organization\n      sender: Your SOC team\n      expired: false\n      totalanswers: 0\n  \"2\":\n    id: \"2\"\n    taskid: a6024b90-47e2-46d2-8bbc-e7ee846a36ae\n    type: condition\n    task:\n      id: a6024b90-47e2-46d2-8bbc-e7ee846a36ae\n      version: -1\n      name: DPO confirmed the breach\n      description: ' '\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"47\"\n      \"yes\":\n      - \"46\"\n    separatecontext: false\n    defaultassigneecomplex:\n      simple: ${Suspected PII data breach.Answers.0}\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: Suspected PII data breach\n                accessor: Answers.0\n            iscontext: true\n          right:\n            value:\n              simple: \"Yes\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 10\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"9\":\n    id: \"9\"\n    taskid: 76b75121-29a3-4a04-8c2a-9a7cd622616a\n    type: title\n    task:\n      id: 76b75121-29a3-4a04-8c2a-9a7cd622616a\n      version: -1\n      name: Breach documentation process\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"15\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 915\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"15\":\n    id: \"15\"\n    taskid: 26c59205-51db-4d49-8f96-493adfb89b73\n    type: regular\n    task:\n      id: 26c59205-51db-4d49-8f96-493adfb89b73\n      version: -1\n      name: Generate breach report\n      description: |-\n        A script that automatically generates an investigation summary report. The script can also be used\n        in a post-processing workflow.\n      scriptName: GenerateInvestigationSummaryReport\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"36\"\n    scriptarguments:\n      incidentId:\n        simple: ${incident.id}\n      name: {}\n      type: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 1050\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"20\":\n    id: \"20\"\n    taskid: bdf57866-a298-49ac-8c67-12501dc9658a\n    type: title\n    task:\n      id: bdf57866-a298-49ac-8c67-12501dc9658a\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 2730\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"25\":\n    id: \"25\"\n    taskid: ac7db090-f290-4bea-8a0c-f0172871f693\n    type: regular\n    task:\n      id: ac7db090-f290-4bea-8a0c-f0172871f693\n      version: -1\n      name: Upload and submit the report to California attorney general\n      description: \"A person or business that is required to issue a security breach\\\n        \\ notification pursuant to this section to more than 500 California residents\\\n        \\ as a result of a single breach of the security system shall electronically\\\n        \\ submit a single sample copy of that security breach notification, excluding\\\n        \\ any personally identifiable information, to the Attorney General. A single\\\n        \\ sample copy of a security breach notification shall not be deemed to be\\\n        \\ within subdivision (f) of Section 6254 of the Government Code.\\nSubmit the\\\n        \\ report to https://oag.ca.gov/privacy/databreach/report-a-breach\\n\\n**Source:\\\n        \\ http://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=CIV&sectionNum=1798.82.\\n\\\n        **Email:** : ISO@dds.ca.gov, Security@state.ca.gov  \\n**Phone:** (916) 445-5239\"\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"76\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 2375\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"29\":\n    id: \"29\"\n    taskid: a4f642ac-3aa3-4c8c-8df1-c59e97d236e6\n    type: title\n    task:\n      id: a4f642ac-3aa3-4c8c-8df1-c59e97d236e6\n      version: -1\n      name: DPO updates report\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"30\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"30\":\n    id: \"30\"\n    taskid: e94a88d1-0b4c-41e5-8bfe-d8755ad39651\n    type: regular\n    task:\n      id: e94a88d1-0b4c-41e5-8bfe-d8755ad39651\n      version: -1\n      name: Get new report from DPO\n      description: manual task - ask user to send a new report\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"57\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 1700\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"33\":\n    id: \"33\"\n    taskid: 2d16714a-625b-45b5-86fa-d258c42181e4\n    type: title\n    task:\n      id: 2d16714a-625b-45b5-86fa-d258c42181e4\n      version: -1\n      name: Contact authorities\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"75\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 2050\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"36\":\n    id: \"36\"\n    taskid: bc054a8c-efff-4ae0-8a17-bec69f5c8eb3\n    type: regular\n    task:\n      id: bc054a8c-efff-4ae0-8a17-bec69f5c8eb3\n      version: -1\n      name: Send report for DPO approval\n      description: ' '\n      script: '|||send-mail'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"37\"\n    scriptarguments:\n      attachCIDs: {}\n      attachIDs:\n        simple: ${Report.FileID}\n      attachNames:\n        simple: ${Report.Name}\n      bcc: {}\n      body:\n        simple: This is the data breach report generated from Cortex XSOAR.\n      cc: {}\n      htmlBody: {}\n      replyTo: {}\n      subject:\n        simple: Generated data breach report from Cortex XSOAR\n      to:\n        simple: ${incident.dpoemailaddress}\n      transientFile: {}\n      transientFileContent: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 1220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"37\":\n    id: \"37\"\n    taskid: 6ace3c66-ab45-44c6-84cb-2c2257d1a1bc\n    type: condition\n    task:\n      id: 6ace3c66-ab45-44c6-84cb-2c2257d1a1bc\n      version: -1\n      name: Get DPO Approval for the report\n      description: ' '\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"No\":\n      - \"29\"\n      \"Yes\":\n      - \"57\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 1385\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        simple: ${incident.dpoemailaddress}\n      subject:\n        simple: 'Data Breach report approval '\n      body:\n        simple: |-\n          Hello,\n\n          Please specify if you approve sending the data breach report to the Attorney General's office.\n\n           To approve sending the data breach report generated from Cortex XSOAR, click Yes.\n\n          To decline sending the data breach report generated from Cortex XSOAR, click No.\n          If you decline to send the report, please generate a new report and forward it to your SOC team.\n      methods:\n      - email\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n      replyOptions:\n      - \"Yes\"\n      - \"No\"\n  \"45\":\n    id: \"45\"\n    taskid: f03b13d3-620f-4513-800e-abb1e0983c2d\n    type: condition\n    task:\n      id: f03b13d3-620f-4513-800e-abb1e0983c2d\n      version: -1\n      name: Is PII compromised?\n      description: '  '\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"47\"\n      \"yes\":\n      - \"69\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: healthinsurancebreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n          ignorecase: true\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: Analyst review\n                filters:\n                - - operator: isNotEmpty\n                    left:\n                      value:\n                        simple: Analyst review.Answers.1\n                      iscontext: true\n                accessor: Answers.0\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: financialinformationbreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: medicalinformationbreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: accountinformationbreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: uniquebiometricdatabreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: uniqueidentificationnumberbreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: otherpiidatabreached\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 930,\n          \"y\": -1230\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"46\":\n    id: \"46\"\n    taskid: d7f34ae3-c314-4355-848b-1115601331f3\n    type: title\n    task:\n      id: d7f34ae3-c314-4355-848b-1115601331f3\n      version: -1\n      name: PII Breach Notification required\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"55\"\n      - \"73\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 240\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"47\":\n    id: \"47\"\n    taskid: bd37e415-6f39-447e-80cb-d0677162cb32\n    type: title\n    task:\n      id: bd37e415-6f39-447e-80cb-d0677162cb32\n      version: -1\n      name: No breach has occurred\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"70\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 930,\n          \"y\": 190\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"49\":\n    id: \"49\"\n    taskid: bb518891-8a2f-456e-82e0-540940669a30\n    type: regular\n    task:\n      id: bb518891-8a2f-456e-82e0-540940669a30\n      version: -1\n      name: Analyst review\n      description: The breach does not contain California resident information. Please\n        review which state information the breach contains, and start measures according\n        to the laws of that particular state.\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"68\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1480,\n          \"y\": -720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"51\":\n    id: \"51\"\n    taskid: c01c3808-a721-4c88-8612-be8fb3eb7c3f\n    type: condition\n    task:\n      id: c01c3808-a721-4c88-8612-be8fb3eb7c3f\n      version: -1\n      name: Does breach contain California resident information?\n      description: |-\n        California breach notification laws come into effect only if data of California residents has been breached.\n        If yes, continue the investigation.\n        If no, decide on the further course of action.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"No\":\n      - \"49\"\n      \"Yes\":\n      - \"71\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 660,\n          \"y\": -890\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"53\":\n    id: \"53\"\n    taskid: eeb76f8f-cd99-4247-84a3-8c5c86c726b2\n    type: regular\n    task:\n      id: eeb76f8f-cd99-4247-84a3-8c5c86c726b2\n      version: -1\n      name: Notify management with the severity of data breach\n      description: \"Management to be included:\\n•\\tCISO\\n•\\tPrivacy officer\\n•\\tData\\\n        \\ Protection Officer (DPO) \\n•\\tOrganization legal VP\\n•\\tMarketing VP\\n•\\t\\\n        Accounting VP\\n•\\tPublic relations VP\\n•\\tOrganization’s external legal adviser\\n\\\n        This may change according to organizational policy.\"\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"74\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"55\":\n    id: \"55\"\n    taskid: 125fe20b-467c-4155-8750-af51d7fb1c2f\n    type: condition\n    task:\n      id: 125fe20b-467c-4155-8750-af51d7fb1c2f\n      version: -1\n      name: Does law enforcement require delaying breach notification?\n      description: |-\n        According to New York law, breach notification may be delayed if a law enforcement agency determines that the notification will impede a criminal investigation.\n\n        **Source: http://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=CIV&sectionNum=1798.82.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"No\":\n      - \"9\"\n      \"Yes\":\n      - \"56\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 90,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"56\":\n    id: \"56\"\n    taskid: d620adca-c9f9-4b8e-89b1-c3c2ba886d11\n    type: regular\n    task:\n      id: d620adca-c9f9-4b8e-89b1-c3c2ba886d11\n      version: -1\n      name: Wait to hear back from law enforcement\n      description: ' '\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"9\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -200,\n          \"y\": 560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"57\":\n    id: \"57\"\n    taskid: de0a6cb5-a547-437e-8512-96a177f349e4\n    type: condition\n    task:\n      id: de0a6cb5-a547-437e-8512-96a177f349e4\n      version: -1\n      name: Checks number of affected data subjects\n      description: ' '\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      Less than 500:\n      - \"20\"\n      More than 500:\n      - \"33\"\n    separatecontext: false\n    conditions:\n    - label: More than 500\n      condition:\n      - - operator: greaterThanOrEqual\n          left:\n            value:\n              complex:\n                root: incident\n                filters:\n                - - operator: isNotEmpty\n                    left:\n                      value:\n                        simple: incident.approximatenumberofaffecteddatasubjects\n                      iscontext: true\n                accessor: approximatenumberofaffecteddatasubjects\n            iscontext: true\n          right:\n            value:\n              simple: \"500\"\n    - label: Less than 500\n      condition:\n      - - operator: lessThan\n          left:\n            value:\n              complex:\n                root: incident\n                filters:\n                - - operator: isNotEmpty\n                    left:\n                      value:\n                        simple: incident.approximatenumberofaffecteddatasubjects\n                      iscontext: true\n                accessor: approximatenumberofaffecteddatasubjects\n            iscontext: true\n          right:\n            value:\n              simple: \"500\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": 1870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"66\":\n    id: \"66\"\n    taskid: a048061f-80e4-4f38-8fed-8f51775c57a9\n    type: regular\n    task:\n      id: a048061f-80e4-4f38-8fed-8f51775c57a9\n      version: -1\n      name: Update incident with DPO answers\n      description: Collects the answers provided by the DPO in the Notify DPO of suspected\n        data breach data collection task and adds them to the context.\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"72\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation:\n        complex:\n          root: Suspected PII data breach\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: Suspected PII data breach.Answers.1\n                iscontext: true\n          accessor: Answers.1\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation:\n        simple: \"True\"\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress:\n        complex:\n          root: inputs.CompanyAddress\n      companycity:\n        complex:\n          root: inputs.CompanyCity\n      companycountry:\n        complex:\n          root: inputs.CompanyCountry\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname:\n        complex:\n          root: inputs.ContactName\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification: {}\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification: {}\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate:\n        complex:\n          root: Suspected PII data breach\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: Suspected PII data breach.Answers.5\n                iscontext: true\n          accessor: Answers.5\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach:\n        complex:\n          root: Suspected PII data breach\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: Suspected PII data breach.Answers.3\n                iscontext: true\n          accessor: Answers.3\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": -360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Contact Email address\n      output:\n        simple: ${inputs.ContactEmailAddress}\n    - incidentfield: Contact Telephone number\n      output:\n        simple: ${inputs.ContactTelNumber}\n    - incidentfield: Contact Name\n      output:\n        simple: ${inputs.ContactName}\n    - incidentfield: Company Name\n      output:\n        simple: ${inputs.CompanyName}\n    - incidentfield: Company Address\n      output:\n        simple: ${inputs.CompanyAddress}\n  \"68\":\n    id: \"68\"\n    taskid: 4368627d-1219-4ffc-8ea0-062ebf61ca9e\n    type: title\n    task:\n      id: 4368627d-1219-4ffc-8ea0-062ebf61ca9e\n      version: -1\n      name: breach does not contain California resident\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"70\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1480,\n          \"y\": 190\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"69\":\n    id: \"69\"\n    taskid: 534dcbea-8595-488f-8dc7-a114f807f0ea\n    type: regular\n    task:\n      id: 534dcbea-8595-488f-8dc7-a114f807f0ea\n      version: -1\n      name: Set PII compromised flag\n      description: |\n        Store the fact that PII was compromised.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"51\"\n    scriptarguments:\n      append: {}\n      key:\n        simple: PIICompromised\n      stringify: {}\n      value:\n        simple: \"True\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 660,\n          \"y\": -1060\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"70\":\n    id: \"70\"\n    taskid: b9e0320f-ae77-4b1a-8a95-a5824b0326fc\n    type: regular\n    task:\n      id: b9e0320f-ae77-4b1a-8a95-a5824b0326fc\n      version: -1\n      name: Set PII wasn't compromised flag\n      description: Store the fact that PII was not compromised.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"77\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: PIICompromised\n      stringify: {}\n      value:\n        simple: \"False\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"71\":\n    id: \"71\"\n    taskid: d2dce730-2b86-421f-8148-2cfb659a0225\n    type: regular\n    task:\n      id: d2dce730-2b86-421f-8148-2cfb659a0225\n      version: -1\n      name: Updates DPO notification status to in progress\n      description: Updates DPO notification status to in progress\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"1\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification:\n        simple: In progress\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification: {}\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": -720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"72\":\n    id: \"72\"\n    taskid: 570ca3a9-0aa9-4e2d-8b81-334b1d720ca0\n    type: regular\n    task:\n      id: 570ca3a9-0aa9-4e2d-8b81-334b1d720ca0\n      version: -1\n      name: Updates DPO notification status to done\n      description: Updates DPO notification status to done\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification:\n        simple: Done\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification: {}\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 300,\n          \"y\": -180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"73\":\n    id: \"73\"\n    taskid: 297491cf-6334-40ce-8b9a-1c226889ae7b\n    type: regular\n    task:\n      id: 297491cf-6334-40ce-8b9a-1c226889ae7b\n      version: -1\n      name: Updates management notification status to in progress\n      description: Updates management notification status to in progress\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"53\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification: {}\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification:\n        simple: In progress\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"74\":\n    id: \"74\"\n    taskid: 686a7a7c-b669-41ce-872d-1baa8c397ea1\n    type: regular\n    task:\n      id: 686a7a7c-b669-41ce-872d-1baa8c397ea1\n      version: -1\n      name: Updates management notification status to done\n      description: Updates management notification status to done\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification: {}\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification:\n        simple: Done\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 745\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"75\":\n    id: \"75\"\n    taskid: fe94b43b-0fdb-4611-886e-25e9b7541d82\n    type: regular\n    task:\n      id: fe94b43b-0fdb-4611-886e-25e9b7541d82\n      version: -1\n      name: Updates Attorney General notification status to in progress\n      description: Updates Attorney General notification status to in progress\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"25\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      attorneygeneralnotification:\n        simple: In progress\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification: {}\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification: {}\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 2190\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"76\":\n    id: \"76\"\n    taskid: 8b9559ea-cc8d-47df-881c-aedc8dcb6108\n    type: regular\n    task:\n      id: 8b9559ea-cc8d-47df-881c-aedc8dcb6108\n      version: -1\n      name: Updates Attorney General notification status to done\n      description: Updates Attorney General notification status to done\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"20\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      attorneygeneralnotification:\n        simple: Done\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification: {}\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification: {}\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 2550\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"77\":\n    id: \"77\"\n    taskid: f0e4f737-9762-4a91-8303-14cfbec5e5b0\n    type: regular\n    task:\n      id: f0e4f737-9762-4a91-8303-14cfbec5e5b0\n      version: -1\n      name: Set breached not confirmation flag\n      description: Set breached not confirmation flag\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"20\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountinformationbreached: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      addLabels: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      attackerusername: {}\n      attorneygeneralnotification: {}\n      blockedaction: {}\n      bpareport: {}\n      breachconfirmation:\n        simple: Not Confirm\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      closeNotes: {}\n      closeReason: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactemailaddress: {}\n      contactname: {}\n      contacttelephonenumber: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      deleteEmptyField: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      digitalguardianactivity: {}\n      digitalguardianalarmname: {}\n      digitalguardianarcuid: {}\n      digitalguardianattachmentfilename: {}\n      digitalguardianclassification: {}\n      digitalguardiancommandline: {}\n      digitalguardiancomputername: {}\n      digitalguardiandestinationaddress: {}\n      digitalguardiandestinationdnsdomain: {}\n      digitalguardianemailrecipient: {}\n      digitalguardianemailsender: {}\n      digitalguardianemailsubject: {}\n      digitalguardianfilename: {}\n      digitalguardianparentprocessname: {}\n      digitalguardianpolicy: {}\n      digitalguardianprocessname: {}\n      digitalguardianremoteport: {}\n      digitalguardiansensitivity: {}\n      digitalguardiansourceaddress: {}\n      digitalguardiansourceip: {}\n      digitalguardianthreattype: {}\n      digitalguardianusername: {}\n      dpoemailaddress: {}\n      dponotification: {}\n      duoaccountstatus: {}\n      duration: {}\n      email: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailheaders2: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      exactlywhathappenedandatwhattimes: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      financialinformationbreached: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      grid: {}\n      healthinsurancebreached: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      howcouldinformationsharingwithotherorganizationshavebeenimproved: {}\n      howwastheincidentcontainedanderadicated: {}\n      howwelldidstaffandmanagementperformindealingwiththeincidentwerethedocumentedproceduresfollowedweretheyadequate: {}\n      id: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      illusivenetworkshasforensics: {}\n      illusivenetworkshostname: {}\n      illusivenetworksid: {}\n      illusivenetworkslastseenuser: {}\n      illusivenetworkssourceoperatingsystem: {}\n      illusivenetworksstepstocrownjewel: {}\n      illusivenetworksstepstodomainadmin: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      individualsnotification: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      logzioalerteventid: {}\n      logzioalertid: {}\n      logzioalertsummary: {}\n      logziotags: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      managementnotification: {}\n      manageremail: {}\n      markdowntest: {}\n      measurestomitigate: {}\n      medianotification: {}\n      medicalinformationbreached: {}\n      name: {}\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      otherpiidatabreached: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      pcap: {}\n      penteraoperationdetails: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      piidatatype: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      portscantimestamp: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      quarantined: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      replacePlaybook: {}\n      reporteremailaddress: {}\n      residentnotificationoption: {}\n      residentsemailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      secretarynotification: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      statewherethebreachtookplace: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      suggestionsanddiscussionofhowtoimprovetheteam: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      test2: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type: {}\n      uniquebiometricdatabreached: {}\n      uniqueidentificationnumberbreached: {}\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      wereanystepsoractionstakenthatmighthaveinhibitedtherecovery: {}\n      whatadditionaltoolsorresourcesareneededtodetectanalyzeandmitigatefutureincidents: {}\n      whataretheareasthatneedimprovement: {}\n      whatcorrectiveactionscanpreventsimilarincidentsinthefuture: {}\n      whatinformationwasneededsooner: {}\n      whatprecursorsorindicatorsshouldbewatchedforinthefuturetodetectsimilarincidents: {}\n      whatwasthescopeoftheincident: {}\n      whatwastheworkperformedduringrecovery: {}\n      whatweretheareaswherethecirtteamswereeffective: {}\n      whatwouldthestaffandmanagementdodifferentlythenexttimeasimilarincidentoccurs: {}\n      whenwastheproblemfirstdetectedandbywhom: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"2_46_yes\": 0.57,\n      \"2_47_#default#\": 0.12,\n      \"37_29_No\": 0.33,\n      \"37_57_Yes\": 0.26,\n      \"45_47_#default#\": 0.1,\n      \"45_69_yes\": 0.41,\n      \"51_49_No\": 0.13,\n      \"51_71_Yes\": 0.3,\n      \"55_56_Yes\": 0.35,\n      \"55_9_No\": 0.18,\n      \"57_20_Less than 500\": 0.12,\n      \"57_33_More than 500\": 0.56\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 4175,\n        \"width\": 2060,\n        \"x\": -200,\n        \"y\": -1380\n      }\n    }\n  }\ninputs:\n- key: ContactName\n  value: {}\n  required: false\n  description: In case of a breach, the contact details to send to the Attorney General\n    and the affected residents.\n- key: ContactEmailAddress\n  value: {}\n  required: false\n  description: In case of a breach, the contact details to send to the Attorney General\n    and the affected residents.\n- key: ContactTelNumber\n  value: {}\n  required: false\n  description: In case of a breach, the contact details to send to the Attorney General\n    and the affected residents.\n- key: CompanyName\n  value: {}\n  required: false\n  description: \"\"\n- key: CompanyAddress\n  value: {}\n  required: false\n  description: In case of a breach, the company details to display in the breach report.\n- key: CompanyCity\n  value: {}\n  required: false\n  description: In case of a breach, the company details to display in the breach report.\n- key: CompanyCountry\n  value: {}\n  required: false\n  description: In case of a breach, the company details to display in the breach report.\noutputs:\n- contextPath: PIICompromised\n  description: Set a flag indicating that PII has been compromised.\n  type: boolean\n- contextPath: HealthInsuranceBreached\n  description: Set a flag indicating that the breach contains PII of health insurance\n    information.\n  type: unknown\n- contextPath: MedicalInformationBreached\n  description: Set a flag indicating that the breach contains PII of medical information.\n  type: unknown\n- contextPath: FinancialInformationBreached\n  description: Set a flag indicating that the breach contains PII of financial information.\n  type: unknown\n- contextPath: AccountInformationBreached\n  description: Set a flag indicating that the breach contains PII of account information.\n  type: unknown\n- contextPath: UniqueIdentificationNumberBreached\n  description: Set a flag indicating that the breach contains PII of unique identification\n    number.\n  type: unknown\n- contextPath: UniqueBiometricDataBreached\n  description: Set a flag indicating that the breach contains PII of unique biometric\n    data.\n  type: unknown\n- contextPath: Analyst review.Answers.1\n  description: Explain, in your words, the incident origin, what you have checked,\n    and any information related to this incident.\n  type: longText\nfromversion: 5.0.0\ntests:\n- No tests\n",
  "product": "Cortex XSOAR",
  "pack": "BreachNotification-US",
  "support_tier": "xsoar",
  "use_cases": [
    "Compliance"
  ],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "case-management",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "HSFiPWUGDj3BVXS9uG0/umnHJz2ic9Y7HRtbPRti5DzbTLa7wy4KvBalebyBL549PM5KPSJahjyaT/Y8W/4NvZKr4DzxBek836EHvcOtN70Lv+e8OxAavQ3fjbxmsf478uQ5vCrXqL0g2r28ymsCvVfYNbwvL0S9i7jbvLwNFTuIDAK9GJqavBjbiLtxOre8kz/5vBkLDL0OLoW8UjxUvH4I+ryCr6e8YxsWvSphbT1lkta8ZsoEO/7hH72z3F09VVCgvXpbaz0hSZ89ZnKUPEUKMb0BpKY8IZQhPPb5Bb3coaq8X1OuvUIhtDzD/l69eFAcvbsbuLxJnyE8oRKBPD3rpz1k69c8py/YPEdZAzzQxIa9lXNEO52HF735o0Y97rf5vHXBezxX82u9AfiJvBML8ju2Foy7/9ggPOn23zynepu8D09YvE5dcTysogW88xwBvW/HCDyOD6465M+gveX/tbzyrQy8ogP6PTfsfjvo/028F/VoPRv5oT2g3EW8G4ajvU8ZXL3NZgw96OezvJA6xDxS5lq9TRWVu7XtFLwMIDM9CfxEPFb2EDv56HS9deapvWhLKzywfyg9HevfPAhZzjwpz8888dExvVFyET0nc7y7XT6qutyCSb00BTG9Z1+XOwZPNT2qTXe8hTcePVLphj2ud4Q9ULyBugPQS72T6t86Pa9NO0qawzyrpLK81NG3PF6kRjy6WDG9P9EMvQChbT1vz0O8keI9PSESnjtrT4S8F8TBOh6yAr6nKfC7QbkLPH9pbL3toz49iKdbPWKaq7zw+qK81ymxvI3fxrx7iJA81/y9vMaUpbwQFd+8WAqtu3J7nb3O6Qw9fZ8Nvb77Nrzszgy9t53MOzwFhT2qZLa8e1uevNVGSL1KHeO85xQ3vI41gjxTVku82M6bvIg9iL2G2xq9gNhCPDVcjD1rSek82DmcO7LjFL0+a8q8tS6nPUwXAzy96RY7zkaWvZJxsDzzdjE9+nx7vABfXTuPbuU7/h10vM4i8TuMqTw8/7pwO3tUSj0M47O8xbbJO/IXKjsHTH28SfkOvXcglLy5S489LMo6Pe39ubwEmNC99/AEvVlhmzzY2rW8kan6u/HSP7w0p9i8HXW1Oh1RGTzyCWG8PO0VvRy7hbzKuyS8EZY9PfMDJT1M5HQ98SaOO9CvWTyD6Am75wMPPDdMrjtmRKu8L1dYPXpWJb0zPWw9jIsUvcMoRb2/KnC8W3suPcDPqzsHb787N/aTPJF0pDzdUEI9KjkSvSK7arzrrYE8ibg6vVLNGzzdIPY8LW6ZPNYoIz3/BVC90a4jPXfP3LydZ6Q6GmXovARwlrxfZl+6HIrDOi5TlzxvTa87cAIDPZr67zsN0ru8I98HvK4DN72ESGs9MM0ZvXqXyDxjMly7ulDmPLwykr2KaR+9//0zvX5aFLs4l9c7GEHGPJlsPzyPqgm9kMFcPDqvH73klNk7Y/VzvPdYHT2XUWG9KJVevaCzqbvg2WO855G9PHDs37u7/gS9oikIvY3seLwLU2W8wIR0vB9epjx0dQY91SmqPFxvOTyUPoK9beo7PY/aUT0eLiY9N2CgPTQAAb1yl428vBkMPbe2Kz1zNvO8MtEZPdhPlrykZwI8y5mCPbJqxDzT64S7FVkvvCw2JTs5VtU8xF4NvQDAFjwTKfO8po3XOltg+71K5Ke89YWmvB5p3zwH9ZQ7ntvtPNkzO7xSeo88zVYDvB1i2TzlHqG8ISeKvdMzrrpdCa2891XFu/bDBD3zcWE8yRJEvXqzjrxcFHs8X0SWvSxZjzyxopQ9+iXIvCWNUTwhkkG8UTYdPdVjRzxw27K83krjvAXetTk/fiK9deYtPVyrNT280xw9LHtsPesocr2ikXc6b4zfPMJWBDxfpAY8EgnHu8Ohojwsid48cjXYuyY58zzMU7K7QuJdPc4oKrzV1Iu8Zum5PJuMCT0r7jE8eqM8vXnZ6rpCYxy8sqexPH44bTxKFHw7a2iavXmFzbxH1dM8DeC6uqwVEb20Qsa8Hrzzu4ivKb00N5m6IGXIut5FlT2SoJa9CZ1vPH8kiDn46tI7/AF8vcsE2j2zutk8lTN4PZFY97wHWru7k4bovNBbeD2NWI480TskvULXar1wA327N2NlPRlurL1G2yU9V1Xpu6qKPT3YpSA9Gq5evYHHfrvcUZw8bkBuvO8hDTx9FDM8OeLXvGaLXLyGmxk9QzinPOsLZjyb05M9alcfvF+PBDzcw7g8rLCDOZtiPjxl4a29/OFqvSCgC71M5GU78JaWvNES4Dx5iE09CZMdu0sjRjrhXMs7iGwrPXtA4TxzEdU7eujovGcEGz3bViY9ade+PL33njzDnVI99VmAvHAdzjyzgjO9a1JIPa7n0zxwU2u8fc8EvMjIjrxaHhy78R57vEvcl73lC6I8MDp3PL4oTTx1GQe99IpYPNhVAb3kx708/RBWPeOjCToBymS8tz4OvcJ1RjzPerI9yiW/OyHYFD1vmyA8ZF9PPZxygDycNB09X6mHvX52+7uIZ6I9TWohvPgRVjz5FBC967QPvTpJGr0BebM8WsM5PevSJj30USa9a3CivAHv6by9S4c8ZLLnu3wxL701/CK8KFuBvZ7cCrw0lpG84XyQvX+gAz1SI128tPIpvboP4DwRAJs9+c5MPbg0nbx9JoK8KVdmvSIxzzx6Wx2925GMuz85GrzYrIY9FZllPcVMK70sUQA9mzNGuoOF9LwCy4e8dYeEOiyZvrz868k5rMURPQvLA700tqq8W5Wau7TT4DsgwJm8gk+4vMGrtTqsQpU8q1QgPINZXLsLHwC8EyKmPUjOgDydUAk97jl9PODVAjwN2D894D0UPSoWJj21oJA8J1mNPeeQxzyThRs9SSwFPLXxoTxjWlU9n0HTvM1VOD1X6ay7Zh8PPRBKl7ylMEO9LOhAOgQrWTxBxhk8tWElvYBG2zsjIxG9KVJHvCT3Bb3iv8w8XkVGvCf3v7wBsoE8mI+evYFWrjtsTUS99Y6CPUITfjtlNhY9DWbAu2h7JTz2mS88Qm2qu7qbh7xlfty8Vl8Bve9GuruPULa82kegu8+MnTzXG4a81sAVPX+b7bvYqPO8hXqhvL+vtLwWyRU8uDKBvcvH3LzRA6I7EL4ZvVxFBT3TVXa8jwvkPJXCoTwgi1m9bxiBPZfZoTw3/+E86JpcO0ig8byrU3k9tSrrvLsmmb0uV2S98wzVO//ehb0gjkU8IyRDPZ/jj7yqIpM9j4MYPFxVnb17vzG9EHI0PT4apbwDHuG8oJqRvLRQ8Ty+EZ88QfbqPEymrrzUdcu7ept4PJV/I7zTlxK9+onJvNFuqjyFQVC87tL9OSSPTbxnsjQ9jdc7vcGlPry7c4e9waxcPBJgoDxcuDQ9ckAtvSXISD1nHrq8oeWJPYjjFz3o2ka9LAMiumkYyjysT7u9jP4UvBoKpzyRfRA9mieTPZTEr70Zxzk9E3YxvT3Q8bxffvk6tR+YvDQinTxY8PK83r9ePTUJVL1AdKS9SpjtPJYOBL0vVUm8sdkJvZ7FM70Exbs7jlESOittUr0ZtRS8l8/7PG11wrqfCsa7eRN1vLz5jDy34Ck9TH7SvCVTOLtfKOO8+FbHu1XXEj23Xfu6AiFXu5E5WLx9VmM9b4R5vRCz+7yKScK7fSlKPNS+OT0qf62706ksvHyHJbtzKRw9sjiwvFGYhbwjxAq9eeS5vLeWuDyUQWS8PukevQ5l/ry6Jb081hyHPOwIljtDRiM9K10Ovm8odTy22gi9JO4xPZORJz1twvW8NBZTvPgL/7ydkQ09ATm4PPSzNzsw7nA8sKfSPMOKf712QXo9xyQ5PSkjqDsCVw+9QjuKuy8A6DrNJnm9RfgIvIBR+jyDJCc9MyuiOxQAJT2Tdwc9/Pb1PMvp8LyZUcC8jcqmvKAtvbyxH0Q9CNtNvTV5CL1NMDw8pp+UvNNnfz0kyRA8MIsFOx5PET0AbXG9MLI+vSAYLjx8td884bcuPDZ/VjybGR69lmb1uzmlQLxxp6A7p9VwPdwrMjvd12g9AQ8RvcdbkbuLZni9gEEfvZf2pz0NNJO8"
}
