bundles/spark/kbs/soar-playbooks/entries/pb-cortexxdr-cortex-xdr-iocs-disable-expired-iocs-in-xdr.json
{
  "id": "pb-cortexxdr-cortex-xdr-iocs-disable-expired-iocs-in-xdr",
  "title": "Cortex XDR IOCs - Disable expired IOCs in XDR",
  "category": "playbook",
  "content": "This is a *sub-playbook* of \"Cortex XDR IOCs - Push new IOCs to XDR (Main)\". This playbook disables indicators in Cortex XDR after they expire from Cortex XSOAR using a loop and querying on the \"xdr_pushed\" tag.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (CortexXDR, xsoar-supported).\n\nUse cases: Malware.\n\nInputs — batch_size; query.\n\nIntegrations/scripts used: Cortex XDR - IOC, SearchIndicator, Set.",
  "raw_yaml": "id: Cortex XDR IOCs - Disable expired IOCs in XDR\nversion: -1\ncontentitemexportablefields:\n  contentitemfields: {}\nname: Cortex XDR IOCs - Disable expired IOCs in XDR\ndescription: This is a *sub-playbook* of \"Cortex XDR IOCs - Push new IOCs to XDR (Main)\". This playbook disables indicators in Cortex XDR after they expire from Cortex XSOAR using a loop and querying on the \"xdr_pushed\" tag.\ntags:\n- XDR\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: f547ca0b-efe2-4808-8434-55fb0c9bb278\n    type: start\n    task:\n      id: f547ca0b-efe2-4808-8434-55fb0c9bb278\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"10\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 91e5534f-d5ef-4371-87ed-57215ad43e73\n    type: regular\n    task:\n      id: 91e5534f-d5ef-4371-87ed-57215ad43e73\n      version: -1\n      name: Set Done to True\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"26\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: Done\n      value:\n        simple: \"True\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: fc9a2471-17ec-4be1-8dcc-f6cacebe4e2d\n    type: regular\n    task:\n      id: fc9a2471-17ec-4be1-8dcc-f6cacebe4e2d\n      version: -1\n      name: Add xdr_disabled tag\n      description: Appends values to the specified indicator field. Supported field types are tags and multi-select.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"14\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: xdr_disabled\n      indicatorsValues:\n        simple: ${foundIndicators.value}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 62ee64c8-2e9d-4324-89f0-d7e329b996c9\n    type: regular\n    task:\n      id: 62ee64c8-2e9d-4324-89f0-d7e329b996c9\n      version: -1\n      name: Get Indicators\n      description: |-\n        Searches Cortex XSOAR Indicators.\n\n        Search for XSOAR Indicators and returns the id, indicator_type, value, and score/verdict.\n\n        You can add additional fields from the indicators using the add_field_to_context argument.\n      scriptName: SearchIndicator\n      type: regular\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      query:\n        complex:\n          root: inputs.query\n      size:\n        complex:\n          root: inputs.batch_size\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 09e13e67-74d6-44d5-8185-04e67f65c602\n    type: condition\n    task:\n      id: 09e13e67-74d6-44d5-8185-04e67f65c602\n      version: -1\n      name: Check results\n      description: Checks that the IOCs were  set in the context.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"36\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: foundIndicators\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 49ffb7b0-7971-4960-8401-20be15ec4dc5\n    type: regular\n    task:\n      id: 49ffb7b0-7971-4960-8401-20be15ec4dc5\n      version: -1\n      name: DeleteContext\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"25\"\n    scriptarguments:\n      all:\n        simple: \"yes\"\n      keysToKeep:\n        simple: Done\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: ed316b36-2638-49ea-82a0-20f9ca4eae0a\n    type: title\n    task:\n      id: ed316b36-2638-49ea-82a0-20f9ca4eae0a\n      version: -1\n      name: Iteration finished\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: 11bdb79b-5f57-467f-82ec-a374df33a79d\n    type: title\n    task:\n      id: 11bdb79b-5f57-467f-82ec-a374df33a79d\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"14\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 735\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"36\":\n    id: \"36\"\n    taskid: b0de033e-0e54-4d89-8bb2-9c328699e971\n    type: regular\n    task:\n      id: b0de033e-0e54-4d89-8bb2-9c328699e971\n      version: -1\n      name: Disable IOCs using xdr-iocs-disable\n      description: Disables IOCs in the Cortex XDR server.\n      script: Cortex XDR - IOC|||xdr-iocs-disable\n      type: regular\n      iscommand: true\n      brand: Cortex XDR - IOC\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      execution-timeout:\n        simple: \"800\"\n      indicator:\n        complex:\n          root: foundIndicators\n          accessor: value\n          transformers:\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1085,\n        \"width\": 810,\n        \"x\": 50,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: batch_size\n  value:\n    simple: \"4000\"\n  required: false\n  description: \"\"\n  playbookInputQuery:\n- key: query\n  value:\n    simple: expirationStatus:expired and tags:xdr_pushed and -tags:xdr_disabled\n  required: true\n  description: \"\"\n  playbookInputQuery:\noutputs: []\ntests:\n- Cortex XDR - IOC - Test\n- Cortex XDR - IOC - Test without fetch\nfromversion: 6.10.0\n",
  "product": "Cortex XSOAR",
  "pack": "CortexXDR",
  "support_tier": "xsoar",
  "use_cases": [
    "Malware"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "92hCPbBaj7v/raG9aV2POk0lYD2Ci+a8m8WZPbgLETwdkci78msMvZnwHr3sWNs9yNAaPWuRRzwaBRU9Gs+LvcApLj05ulE9TV8bPCBbM7xndU+9k0T8vAEQQrzDxZC88jWEO64qnr2avcQ869IUvdCHUrxSHSQ9UvEpPLXGtrn54Qk8LEXJPEljq7y2Gf87b3nuvGOU7zsJMDO8Tc10vKmIZb3KA7G8sbAQPIDPDj1GsXS63MIIvUDSh7w2vUI8/jEDvO9Fhjycq009VHk2PLhuA70ftq07Jiqku4rFbb2cuyg9l1Mpva4tmru/HAU8Xe4LPfSu7byL4xi9qDCIu4eTXT3XGU08bxoJvfSe+zt/BSO98d6uPZCTMb1kCok9klfXvDTytLw5HhC96HM8vJI7Zrwsblw7rxY4Oiji2DywcvO8dOghPCN9bj2MhYk8t4n2vGNOJjx9vas67YK3va5WQ73xPJq4YXz8PYPOXbuBbmk8WdfCPWmeZj2Mlge7vMQjvVqSqr0kA2k8WobAPK1dFr23D+q7wZkdPE0LQrxgCM08XWiIPTlnM7w4Znm9ReP6vJKOVTxcA688x42jvFUkDzlOBlM9DJorvWVSBz3nd8U8VbEOPd+aFL0pCPe8fxKWOxxjFT0AY1Y7OgQEPSPjpzxdWjg9bmjNutvXa7xY7zm7JXcSu5Fyz7xjcS08q1Zju0o0zbwnXEc93G64uou3prysc0m9QE8GvZcrnzzb/A69RDmcO3MH570faWG86YRJPdKPgbo6YaM9NzbFPanoE70sLTS7bAfRvBD8sLwPxQS9Wy1ZvJcsGb1QdC27PumfvBxNdL2dkZA9kouXvbLEoLw5O++7wqkFvQ0WqzvmECa9tUAivbkddLwVjeo72Gw5vQYDMT3rqdM8ED55vC0LWL1HABO9K+YTvZZ4Cj0eeQw98x6+Ou1FBrvaCWk4QrKqPeuNvzw2QOK7PuLSvcJGET3UQoo8+2PyPBtUpDw0wuM6EQXuPOcLm7qAE0G7xndWvQGadj0UTZi8BHTkvCZGTj0jjtE8YfYjvWs6ozyHx8U9KMXLunQWv7yJu6G9dEJpvcuChrxz3Fq9qNUcvdMNRLwzH3682XliPEYCAT0zQuW8vzy9OpVVHbwFJK07UxrmPGyuGz2NgrE9ZwCDPLQ/mTx+LPS6O8iEPHRkHT3kcp484uBBPcZoG72mEb09LvqxvKxYl709CQE8DKEWPSqibLwUw2I7XcxwPEFNEzxdQog9OPFru4etgr1J/RQ67WtwvDxqbj2NSh89xonBvKmRUz1/opG9fp5Ou0n6ujscX388GQ6DvSw5lbw+X3s7pUThPFz0ALvUROe8UbDguaANuzx0WCC93z/aPD9U6bwBGGU9FNLzvFtavDwekUK8/GohvMbLP7013hy91KpMvKlO8zwLt009i705PGe5Ij2Xvo+7tMPkux1MI72g0MK8K1E3vRynTD1Y1YC96mALvVgW+bt0lRm7VRxTPLIa+bxaAV67oPZ9vSoxg7u/n6K8CTQcveLB4rzebWI8v5ZAPaA4CTxU0J29Rl7BPMHLVDxWQUk9s9uSPVoxkLwP2Xi8aGrfPGXSlj2vfgy8cN+DPJjmMLslDt88Gm/0O7W8KbwthHC8vBYovMZs5DzyZm47rjWoO3wkizyiwAc7LBuGPDKoxL14SrU7NE6eOoYsgDw9rzA8HmAgPBHWxLyoIbM7AV3ZvDAD8jtecAW8QrjUvNQ/eTvRYxC9hwNOPC9TPj31wPw72hS8vElnerw1+cc8y3QNvUO3bD2SL6M8f3vWPIgM9TzJqjs9Gt2QPKLBUrrTN9i8CbtbvcHQWj0mvcQ57UDMPd+4GD1KKqM8GbMQu18OUbwiqxE9QZuPPO5yPbywo/k7EEQSvWb1Bb0wLba8DwcEuMllNj3ztJw63SphPfqGHLzpI828RJ+IPQDXSD2YvgG8noDBvNshYLzfVtu8kq8BvcDhhLw6gE09raLCvUAtfLwy+/U87bevuzq0ZLzRLU692ztkPLXwbDoBPWi8yUXiOmtkXD23ay69doQNvOvjrbwkJ/i74Q0SvWwk2D30pRQ9Y22pPbffib0vYJ48Q+qtvEUiwz1ZUBs9h39Bvbbtu7xV+T48GhfKPClHX701L6M7SpA1PJI2Nz1/0Zk87T9Rvb+J0zwxAfC83Kk6vHGtSLu1UPc8sN3Wu61esTw4FJM9MJ5FOntlk7z9CB89TNJHvEu/OLtbEMu89IHeO5KWwbyDRoi9vtudvPtQv7xnPBY9O6CauqZ5XbyZxTg9VGq8u5FTwDxp8gY5dlIFvV3eLj1RAha9rqIdPGHrVD2qcWA8vM/OOxfuOz1NYjg9mJuFvMq+pjl/QUm8dV2xPB2I0DzFdty8JhsKvXlxQb26c0M8+Iu8vFFRs73D8nY8xRKDvEAVULtoE9s8D671uzdzC73Juz86xIUgPVMGpjsGhC47+KU6vQEP8DpcVq49gD6cu/ASFj1Zlec8zqEKPRlux7uWwCY9i7NSvT1SLD2I6DM9SwT0u0ds1TwpZwe7dMy2vLlF47zjkZc8ZwuUvAw/RzxUX/C8KXudvELQ6LzANqE8Ihi7vIYLNL3c7WS9Cap5vEIl87wtxy8809R9vRlAUTwDpZC829xUvAbxaj1QDWg9nDJVPUqGdTvwyGS9eXWPOSbFSDwv6fO81K1Sun5stTxBy3M9LsRFPYfK+jvymSY9tys2vNK0Yb0987q8ZLaevK5dcrzsYCy7ly0PPKlybr31dj88WuvXPNpSpzzCmJu8BWCRux71Cr3YqVy7nhqqvKpXDr3YuAO9PF1cPeyDL73Oewo9yaOIvJbjyTwRL9k8LMWcPAWSaT224wm9ivFtuY2Q0zzNEYM9jAxyvOH0BT0Usdc8OECAPNvRST21J6+8reylPbc/Vb3+x8I8QQLGPDcjiDti1qE8MqiEvS/VV7zskhG9PO2FPKWMi7ztmIa82ji9vF/CLLurBIO8ee47vX//jLyrD5K87YZsPJ89NjyBgoi8l0guvXnkG7rlIyU8tDfPvAXZ5Lw2P+Q8pIMXveFJZzyRlbO7Z7xXvPPcUzxD/Em5o1qPPeLZJT0g2Ma8VB1cO1ixqbsOKqQ8SDjOvW/dHr3EZA+9/bvZvBYUjjxOIPE6RF3IO0VcjbtZwYG9napAPYwoDjwE8Fu8VEqMuer8l7yU34E9c5FMvKYBJr3FB269kOGqPKHlx70uRCw9ODExPcgqzLlpJTI98OERvfkaF73/uIq9idoXPSXbEL3hoe478BLrPFrtEj2GzX08dSdAOxZc1TtdoHW8THZgPH2JSb0e7P28KWPFvKWsFz004QG8w9+aPAAzwDs8pko9L0kbvJ2SYb1Y9rm8vdaZPLxloTyeTYg8LlGsOwrgKD1NEya9ZZeUPagpSzwnpQS+oUMLOVEFtzxqkQ69VAz6vLd+Nzu79/Q8KE10PWFbPL2DbDk9ktaCvSADBb08BgW9HlqgvKgFTryOEym9Gf1yPJ0v/ryGm5e9ZnusO3+68Ly7kD09NGUjuvmJUL0lsQE9jTMkPAnh/zruARo8G6ItPUEWUD3kOq67bnrXvDfY2bvfhK49ftuLu59SuTxGH/a8GUOwulf32jyM1ee8lXAFvHT7bTwgO/U80mb+vLCLmLy+Fv280tJLPSH+Iz2KUNS8/4yHvNrj6TyxRle8rvngvHV0YLtiv+S7+zLbvPn+Oj1Cuw87nSbvur6dwDymgQ09NvEsvJmjjLzBZQ09biTkvS/QfrwwlTi8u4FLPU+D8jyDL5A8qn8AvNijkryceEs8MjpoPdf8JD2Ovpm8J3gmPU3+Wb1zi9o8fqaVPeXKqLtZNr4747M0vWyK67wT2iq9eXgGvPtHSz3H3ss8h/gqvLVpubw7Gig9KWgVvNZJ2jurOsa7QKiivOCiBjyr2rO8/jLqvLWYm71kEG87f8BPvJZhjTz/Tbo8OtQzPWcvAT1Vija9wY/6vFDyvbxXiPA8bI8vPVWdIrsotKG7ORJfvcUPhLwcEUE9D+YWPc8iMjzcUmk9OiGJvf+FajvqRue7AzswvSVJSD2UfWY8"
}
