bundles/spark/kbs/soar-playbooks/entries/pb-claroty-claroty-manage-asset-cves.json
{
  "id": "pb-claroty-claroty-manage-asset-cves",
  "title": "Claroty Manage Asset CVEs",
  "category": "playbook",
  "content": "Cortex XSOAR/XSIAM SOAR playbook from the Claroty pack (Claroty, partner-supported).\n\nIntegrations/scripts used: Set, claroty-get-assets.",
  "raw_yaml": "id: Claroty Manage Asset CVEs\ninputs: []\nname: Claroty Manage Asset CVEs\noutputs: []\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '1'\n    note: false\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: d98bd2ff-2dff-4912-8a59-2477524ad23b\n      iscommand: false\n      name: ''\n      version: -1\n    taskid: d98bd2ff-2dff-4912-8a59-2477524ad23b\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 50\n        }\n      }\n  '1':\n    id: '1'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '2'\n    note: false\n    scriptarguments:\n      criticality:\n        simple: High\n      fields: {}\n      insight_name: {}\n      should_enrich_assets:\n        simple: 'true'\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: 9d2e2b1c-10b8-4d3e-8ffa-8542957d2b40\n      iscommand: true\n      name: Get Claroty High Criticality Asset and CVE Information\n      script: '|||claroty-get-assets'\n      type: regular\n      version: -1\n    taskid: 9d2e2b1c-10b8-4d3e-8ffa-8542957d2b40\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 195\n        }\n      }\n  '2':\n    id: '2'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '3'\n      - '4'\n    note: false\n    scriptarguments:\n      append: {}\n      key:\n        simple: ClarotyAsset\n      value:\n        simple: ${Claroty.Asset}\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: edc6a8a1-8444-4a2a-825a-5e0232f858ec\n      iscommand: false\n      name: Set ClarotyAsset Context key in Context\n      script: Set\n      type: regular\n      version: -1\n    taskid: edc6a8a1-8444-4a2a-825a-5e0232f858ec\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 370\n        }\n      }\n  '3':\n    id: '3'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '7'\n    note: false\n    scriptarguments:\n      append: {}\n      key:\n        simple: ClarotyHighSeverityAsset\n      value:\n        complex:\n          filters:\n          - - left:\n                iscontext: true\n                value:\n                  simple: ClarotyAsset.HighestCVEScore\n              operator: greaterThanOrEqual\n              right:\n                value:\n                  simple: '7.0'\n          root: ClarotyAsset\n          transformers:\n          - args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: '[]'\n            operator: SetIfEmpty\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: bf0aac68-4af0-45d8-868a-7b3427ce66fc\n      iscommand: false\n      name: Filter Assets with High Score CVEs (>= 7.0)\n      script: Set\n      type: regular\n      version: -1\n    taskid: bf0aac68-4af0-45d8-868a-7b3427ce66fc\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 545\n        }\n      }\n  '4':\n    id: '4'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '6'\n    note: false\n    scriptarguments:\n      append: {}\n      key:\n        simple: ClarotyLowSeverityAsset\n      value:\n        complex:\n          filters:\n          - - left:\n                iscontext: true\n                value:\n                  simple: ClarotyAsset.HighestCVEScore\n              operator: lessThan\n              right:\n                value:\n                  simple: '7'\n          root: ClarotyAsset\n          transformers:\n          - args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: '[]'\n            operator: SetIfEmpty\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: 9c773fa9-5ff4-4e49-8cc7-7c3db4705d06\n      iscommand: false\n      name: Filter Other Assets (Score < 7.0)\n      script: Set\n      type: regular\n      version: -1\n    taskid: 9c773fa9-5ff4-4e49-8cc7-7c3db4705d06\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 545\n        }\n      }\n  '5':\n    id: '5'\n    ignoreworker: false\n    note: false\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: fc98b065-2163-4c88-8991-8ba7f526932d\n      iscommand: false\n      name: End\n      type: title\n      version: -1\n    taskid: fc98b065-2163-4c88-8991-8ba7f526932d\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 895\n        }\n      }\n  '6':\n    id: '6'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '5'\n    note: false\n    separatecontext: false\n    task:\n      brand: ''\n      description: ''\n      id: 8ccd27b0-c874-4851-8e60-7e625f766487\n      iscommand: false\n      name: Open IT Ticket to resolve issues\n      type: regular\n      version: -1\n    taskid: 8ccd27b0-c874-4851-8e60-7e625f766487\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 720\n        }\n      }\n  '7':\n    id: '7'\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - '5'\n    note: false\n    scriptarguments:\n      account: {}\n      accountid: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      axoniuslink: {}\n      blockedaction: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotydepartment: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clienthello: {}\n      cloudtype: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactname: {}\n      coordinates: {}\n      cortexreceivetime: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      dest: {}\n      destinationip: {}\n      destinationport: {}\n      destntdomain: {}\n      details:\n        complex:\n          root: ${ClarotyHighSeverityAsset}\n          transformers:\n          - args:\n              dt:\n                value:\n                  simple: |-\n                    .=ff(val); function cleanString(input) {\n                        var output = \"\";\n                        for (var i=0; i<input.length; i++) {\n                            if (input.charCodeAt(i) <= 127) {\n                                output += input.charAt(i);\n                            }\n                        }\n                        return output;\n                    }; function ff(asset) { ret= 'Site ID: ' + asset.SiteID + '\\n' + 'Asset ID: ' + asset.AssetID + '\\n\\n';\n                    for(cve of asset.CVE) {\n                       ret += cve.ID + ' (Score: ' + cve.CVSS + ')\\nDescription: ' + cleanString(cve.Description) + '\\n\\n';} return ret;\n\n\n                    }\n            operator: DT\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicehostname: {}\n      devicename: {}\n      domain: {}\n      dpoemailaddress: {}\n      duoaccountstatus: {}\n      duration: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      entryIDs: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      hostname: {}\n      infectedhosts: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      ja3: {}\n      ja3s: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      malwarefamily: {}\n      measurestomitigate: {}\n      name:\n        simple: Claroty High Score CVE Vulnerability for Asset\n      ngfwaction: {}\n      ngfwcategoryofapp: {}\n      ngfwcategoryofthreatid: {}\n      ngfwdestinationport: {}\n      ngfwdestinationzone: {}\n      ngfwdomain: {}\n      ngfwhostname: {}\n      ngfwhttpmethod: {}\n      ngfwinboundinterface: {}\n      ngfwnameofthreatid: {}\n      ngfwoutboundinterface: {}\n      ngfwpcap: {}\n      ngfwprotocol: {}\n      ngfwriskofapp: {}\n      ngfwrule: {}\n      ngfwsessionid: {}\n      ngfwsourceport: {}\n      ngfwsourcezone: {}\n      ngfwsrcuser: {}\n      ngfwsubcategoryofapp: {}\n      ngfwsubtype: {}\n      ngfwtechnologyofapp: {}\n      ngfwthreatid: {}\n      ngfwtrafficdirection: {}\n      ngfwvsys: {}\n      niststage: {}\n      o365endpoints: {}\n      o365instance: {}\n      o365servicesareas: {}\n      occurred:\n        simple: ${incident.occurred}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      rating: {}\n      rawparticipants: {}\n      redlockpolicy: {}\n      region: {}\n      regionid: {}\n      remediable: {}\n      reporteremailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      score: {}\n      sectorofaffectedparty: {}\n      severity:\n        simple: '4'\n      signature: {}\n      signindatetime: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourceip: {}\n      sourceport: {}\n      src: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      sslversion: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      systemdefault: {}\n      systems: {}\n      telephoneno: {}\n      terminatedaction: {}\n      threatactor: {}\n      threatvaultlink: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type:\n        simple: Vulnerability\n      url: {}\n      urlsslverification: {}\n      user: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      whereisdatahosted: {}\n      xdractivityfirstseen: {}\n      xdractivitylastseen: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrcategory: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrdevicehostname: {}\n      xdrdeviceip: {}\n      xdrexternaldestinations: {}\n      xdrfileartifacts: {}\n      xdrfirstdetected: {}\n      xdrhighseverityalertcount: {}\n      xdrid: {}\n      xdrincidentid: {}\n      xdripranges: {}\n      xdrips: {}\n      xdrirquerybydestinations: {}\n      xdrlastdetected: {}\n      xdrlink: {}\n      xdrlowseverityalertcount: {}\n      xdrmac: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdros: {}\n      xdrostype: {}\n      xdrresolvecomment: {}\n      xdrseverity: {}\n      xdrstatus: {}\n      xdrtype: {}\n      xdrurl: {}\n      xdrusercount: {}\n      xdruserdisplayname: {}\n      xdrusername: {}\n    separatecontext: false\n    task:\n      brand: Builtin\n      description: ''\n      id: ebb429c2-fc3a-44d9-8a99-05ded946c54b\n      iscommand: true\n      name: Create Demisto Incidents\n      script: Builtin|||createNewIncident\n      type: regular\n      version: -1\n    taskid: ebb429c2-fc3a-44d9-8a99-05ded946c54b\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 720\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 910,\n        \"width\": 810,\n        \"x\": 50,\n        \"y\": 50\n      }\n    }\n  }\ndescription: ''\nfromversion: 5.0.0\ntests:\n  - No Test",
  "product": "Claroty",
  "pack": "Claroty",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "network-security",
    "playbook",
    "product:claroty",
    "soar",
    "support:partner"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "ZZNbPfsfnzxC5Iu9y6RBvDkAhD38j9C8CrWWPBtAaj3a94c8/za9O+MAWbxWKsU8nyrLPIzIlLsyRto8SMMzvV59UD1G6sQ7nstzvGMCirsLNKO5SMUqvRwBpbsiYA68KuG7O4HHO70cx2i8RhqmvJVaDb3JPpO7LxGuO7AdMTvkkOm7lgj1O6drsL3b3B29Q+fpvCRxlrzbuu68vVHePJ8vk70bJEy8wDdIO+jLSD10xFA8MJwwvVcdZLxrAmU9ZcM2vX+BnLvwXp09ScZRu8Y+O72F8uk8c2r0vL9eSr35XDU97ZNHvVjvnjyhp/C8whwWPAdlEDw0kIo8d9v1PIYOlT3klQQ8XNf7PNKHfDy4qaa6MXNFPbtIS73afHI8dCx/vGg+orz6wMu8NFYJvScYEbzO77c8kpyqPM0RFT3igEK8zXlPvAAAkz1hEDQ8AaX2vN2JODtC+W87kmGuvUg7Er3mDJY8Umv3PSzUXLz/0zq921SyPVC6Fz2oWAC9V8ahvVrL4L2fn6o8lnMTPXZR4bzAZwS9S5zLPIfYD7zg7U480ddbPexPorxzXE693SxavUQ5TLw6dis83R0CPAKYx7o04YY7zmGSvchGGj04UVK8fkikOwi0Gr2QYxm9j4tJO+qCBz2Bbvs8ydogPcj9Sj0WH8A9hyiYPLxSBL3f+a+8bo0cvFt7jLukyxc8fXepO3JSmb2a4Ua8BVV6vQdVJj1VqXC9IZv2PHGY2bwtSrI80ZPju9CFw70uFoY7fHahPB60t7zZCQM9CMa2PRuHUr0clk69jjxlPONP6LlrCK69NOV3vCLR8TuKQyy9V0IvvEYko72b4Xw8BxIBvca/N73I/is8HeZeO2WixjxNaxW9DZAZveAVM70w24o4YC8Qvalwnjx995G99rrvvARII71U/gY8X2WGu8+GJj2Mz/48trwbPIMK4LxaD6M83pwrPRLbsDuDbUQ99J21vamF6TxHm1c9I0HCvKRmRz3kYIM8jtSOPDVSBDwnEuE8MKJtvOo9lz2ZBC+9t1T9u+pYYD2K81A8zettvN3kbj2dZrs9VNCEPGRhobyNcIG9g4levecV9LvvTsG8xgJfvdWAdLyEum+8J7oJPVePSz1n2AI7y6hVu7rxmDvwOwS83ia7PIIBSj1yfno9lO37vJXw+jxG0oW8G8uTPLqwC7xzJQa9WBcTPRKM/LuXDEg9aolFvVDIL71qKeI89eZnPcZD3bz/rMs74eFBPIbWk7zcI0s9sJzju9paJrzKaMY8jVZ4vPxHDT3i+QU9RxnePJivij2QXMu8VppvO4JUWrx8IUe6W3FdvXvHHLzmCUa9vGIzO7L5Jr0J7TK8MQvLvPyOAD2UhES9UnqAPHykSb2qV4Y8qyxyvLE2+Ly8wLm810IEvDYyX73yyHG8GjAQvbflrDyNM0E8fBvyPGELoDwj4I+82fHduxlFk7xSKF+8hn55O0RYqzzRFmW9WC5SvW7X8bu5EYC8Is+XPMnjDr1BbHM8FrOpvVa/17wjnxO80KIjvYWPl7zZ8kg9QuwxPZEKgzuwbOG9WTC+PONd97vdDzk9A/vVPd+2krurhpA8BdXJPLeFAT1DV+48tT2bPV++fDua/RQ7d2yXPXDwkjwSPwo80jnvO7zL2DsAasW7SiMFPJwXrLymXYk8wOS7vDO+rb2akWK932HsOz9Yx7wkU/88a4gCPYh6VbuUUZc8FE80vTrP5zcgK8875yIIvbERyLzDOwa9nqUxPLutZD1j0DW8ccV0vV8R3blus988Mdszvc6D5jzlilY9+YtDPPc7Nrw83VM9cGnWOxgiZbyNZuy8ywInvTZDJj3NY7C8Dy6wPQ+qkT2NlrM8QzKFPHzVC7w3Tp48mhIpPAkycLyltgE86RcvvfowXjt71IS8exfxvBz/Tj2F8FI8RwsePZ23Ujz23zO999iUPc8kKj3OR3k86nCsvE4CBr3x85s47eGRO1xHEryyYSg9nepQvRc3v7oNVZI8MlwAPXvADL3ScEM856XYPPq5RLvGOce7tyzmPFsh+Dxnm4G8RkqGPOXqGb22ag69yDhlvVyx2D12l5S8neKIPYnChLwjjhW9vv9FvCT4kT3SK7U82ZxDvUZalrw7bY248OtgPYuJib130j08mygSvQuIRz0IdCU9TRZRvaGSGLzNPAw8+L8iPangMLyiUSq7DLX9vJZaVjzRP0894iOcPOcmDbwE6Pw8B990vF46Hb0nANe87SQBPRHtlLsQnaO9DqVMO5rpcrt+dY66T5uIPFwu2by9+v88E5yrOyGCDT0bS9O8naUCPbIbCbtukb28kcQBPH/ZSblFi9o8UOjoO7Eyjj2EALE86VNlvRXsJTwxNJW8LDGbPHOKnTyblQA7IlpYvR47Kr1lpQo9GP3UvDgv0L3VRJ88FwrEPNfAfDynnOU7kEcBvUYirrzOXMo8Z89+PXZgfLo/e8O80euRvQSwSzxiKoU8o39MPKU/Yj3VNrA8Ol0IPWYP/zxTl/w8B94xvcg7Fj302nM8kwTZuEb2nryjdVC9DXAivWlsI70FdNg8PNd7PBzd7zw2Hpu9KfpDvXhkpLtxJTg8YgUqvYWqGL0+UQ69FOghvdbcuLx/NRg6jIrMvHTI6DyNUoK91vjPuj9Ufj2WXRA9K7cxPb+jv7yTuYa85kESvTTPkDzh4hG9X1kCPcbD/Tx0Z3I9vjoxPeWlFr0rlFY9PmoxvPb/Rb3BFDM82oohOuSO/zwcIlq9/iADPUR7PL1e93g8IrPTPCeVc7ud3aO8gourvLcOLDxSwQw961ilOxiw47wsDIS8n/xtPQuBn7zsvjU9dPgWvFmDkz2MHcc8XzRtvKUUDD1rqCE9dQZIPVcfzDrapM08dmMsvO8VKT1yEE89koqpPJLIoTxL9Va8pwcRPRY/bb2JAt68kaqbvH8RyLwOjEe9b7HVvJyw77uKdUa8sh0bPQn097y7beE6BKPbvCuVVb0dRd+7OsWCvPmdUTz+BzG9vkcdPST+6jycUPu8JaD3u63jLjvvPCM9CGiWvU8oBb1rRHe8tA71vMNBND068lu8qCvDu5Bm8Du8nd+8/pyIPUOSv7yagoK9vsAtvZalG72Z4jI9izZ9vZCWNbvD5+u8IbnauyTfFTxhSLa8q1C/u72Jg7rtQFy9vYMgPfs7PLw/faK7+faqOSdMXb2GUFc9y+19vPQeZb2HMFe8kGzlPJUPJL3QgQU9IgVqPCTshrwb/gE9p9KKvXZtnr14Zl+9OW4xPLkGXL1Vkoq8Z4JHvC519jyiGM08RdDRPHU/ibxajZU7pDsZPZGyer15RGW91akevLpqiT2KgO48mqiJPH+N7juogME8f9NavU22LL0jF8W8hAZBPUidGD3pH/Q7ChB0PBjV/Tv/Y5W7dFIKPaQfRDs5Cri9RxPoPBqEGD1au3W9clTKuxNnmjyQTwI9GdO2PSvWXL2IUak8Gt9GvYa+KrvY1wC83D3zvHj007xL8Wm86CgHvAp5Db1+ja292LSfO1eIKL18Odu8VQR9vEMfyrzTEt+7RmvxuYzXKr26lrU8QSpEPO7JyTyGAr8831WivHTaAz3Qs4o9uiwcPKL3ebvm2uS8Q4v/vPEUAzxU1QO9OLZFPMBf2Dzwx0q87p04vIb+HjzbHBo7mtnPu66xfj2eZD298uONu6VeKzvYxC48tH43vRHfVbxNfku8sbj3vMX9iD299Hc7EvUSvWviAr0q7f08hvFCvPrA3rtLG1Y9od7TvSXnMzyKgxe917q4PNBZnDuXhhY95W7oPFkEpDxhZJI8+GoiPTg+Abukw0C9tD6APMR7g72+tx09Z3RjPacVlDu/4Ne8K+NevC6E+7toUpa8kTA1PPDJQD0rfcA8K2zCPNVsjDxLSr48YExrPKHqTrxAPxO8STx0PLO+NLxm0Cc9pN8PvWHAJr2dA4e8EvQzPDpcED0qZCg9/Dc/PQ9eGD2R2qG8EqVfvYMBLjvyWys9h+yCPXWEkztzwwq9cSMUvfyNZr0vfGw9aFYFPeickrysGAc9q/btvHda6zy9fhy9I0ArvPh1iDzyot05"
}
