bundles/spark/kbs/soar-playbooks/entries/pb-carbon-black-enterprise-live-get-file-sample-from-path-vmware-carbon-black-edr-live-res.json
{
  "id": "pb-carbon-black-enterprise-live-get-file-sample-from-path-vmware-carbon-black-edr-live-res",
  "title": "Get File Sample From Path - VMware Carbon Black EDR - Live Response API",
  "category": "playbook",
  "content": "This playbook retrieves a file from a path on an endpoint using VMware Carbon Black EDR (Live Response API).\nMake sure to provide the Carbon Black sensor ID of the endpoint from which you want to retrieve the file.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (Carbon_Black_Enterprise_Live_Response, xsoar-supported).\n\nInputs — Sensor_ID: The sensor ID. Provide the sensor ID to run the command with a new session. The session will be created and closed automatically.; Path: The path of the file to retrieve.\nFor example:\nC:\\users\\folder\\file.txt.\n\nOutputs — File.Size: The size of the file.; File.Type: The type of the file.; File.Info: General information of the file.; File.MD5: The MD5 hash of the file.; File.SHA1: The SHA1 hash of the file.; File.SHA256: The SHA256 hash of the file.; File.SHA512: The SHA512 hash of the file.; File.SSDeep: The file SSDeep.; File.Name: The file name.; File.EntryID: File entry ID..\n\nIntegrations/scripts used: Exists, carbonblackliveresponse, cb-get-file-from-endpoint, cb-list-sessions, cb-session-close.",
  "raw_yaml": "id: Get File Sample From Path - VMware Carbon Black EDR - Live Response API\nversion: -1\nname: Get File Sample From Path - VMware Carbon Black EDR - Live Response API\ndescription: |-\n  This playbook retrieves a file from a path on an endpoint using VMware Carbon Black EDR (Live Response API).\n  Make sure to provide the Carbon Black sensor ID of the endpoint from which you want to retrieve the file.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 8baac39a-0dd6-46c9-8fa4-7d42cabc95ea\n    type: start\n    task:\n      id: 8baac39a-0dd6-46c9-8fa4-7d42cabc95ea\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -50,\n          \"y\": -400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"1\":\n    id: \"1\"\n    taskid: f1583a69-7773-4855-805f-cc705026c481\n    type: condition\n    task:\n      id: f1583a69-7773-4855-805f-cc705026c481\n      version: -1\n      name: Is VMware Carbon Black EDR (Live Response API) enabled?\n      description: Check if a given value exists in the context. Will return 'no' for empty empty arrays. To be used mostly with DQ and selectors.\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"3\"\n    scriptarguments:\n      value:\n        complex:\n          root: modules\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: modules.brand\n                iscontext: true\n              right:\n                value:\n                  simple: carbonblackliveresponse\n          accessor: brand\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -50,\n          \"y\": -245\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: 30e19c29-760e-4c99-803f-e04d6099f69d\n    type: title\n    task:\n      id: 30e19c29-760e-4c99-803f-e04d6099f69d\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -50,\n          \"y\": 1450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: 479ffe0a-38c6-4af1-8dec-a15dc315a1c9\n    type: condition\n    task:\n      id: 479ffe0a-38c6-4af1-8dec-a15dc315a1c9\n      version: -1\n      name: Is there a file path and sensor ID?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Sensor_ID\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Hostname\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Path\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 230,\n          \"y\": 150\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"4\":\n    id: \"4\"\n    taskid: 1f47fc8a-b3d5-4749-8334-fe625088e487\n    type: regular\n    task:\n      id: 1f47fc8a-b3d5-4749-8334-fe625088e487\n      version: -1\n      name: Get File\n      description: Retrieve a file from a path on an endpoint.\n      script: '|||cb-get-file-from-endpoint'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      path:\n        simple: ${inputs.Path}\n      sensor: {}\n      session:\n        complex:\n          root: CbLiveResponse\n          accessor: Sessions.CbSessionID\n      wait-timeout: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 950,\n          \"y\": 760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"5\":\n    id: \"5\"\n    taskid: 48e1ce0b-aba6-4b86-8675-6f6fe880ed7c\n    type: regular\n    task:\n      id: 48e1ce0b-aba6-4b86-8675-6f6fe880ed7c\n      version: -1\n      name: List the CarbonBlack sessions\n      description: List the CarbonBlack sessions.\n      script: '|||cb-list-sessions'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      sensor:\n        complex:\n          root: inputs.Sensor_ID\n      status:\n        simple: active\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"6\":\n    id: \"6\"\n    taskid: 2ab45ea6-9de6-4899-8c00-c067d336de5a\n    type: condition\n    task:\n      id: 2ab45ea6-9de6-4899-8c00-c067d336de5a\n      version: -1\n      name: Is there an open CarbonBlack session?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"7\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: CbResponse\n                accessor: Sessions.Status\n            iscontext: true\n          right:\n            value:\n              simple: active\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"7\":\n    id: \"7\"\n    taskid: 3989d436-6a7b-4c96-8aea-2e408b35e20c\n    type: regular\n    task:\n      id: 3989d436-6a7b-4c96-8aea-2e408b35e20c\n      version: -1\n      name: Create new CB Session\n      description: Create a new CarbonBlack session for a given sensor.\n      script: carbonblackliveresponse|||cb-session-create\n      type: regular\n      iscommand: true\n      brand: carbonblackliveresponse\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      command-timeout: {}\n      keepalive-timeout: {}\n      sensor:\n        complex:\n          root: inputs.Sensor_ID\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"8\":\n    id: \"8\"\n    taskid: 424c062a-88ab-484d-80e3-c375de820cef\n    type: regular\n    task:\n      id: 424c062a-88ab-484d-80e3-c375de820cef\n      version: -1\n      name: CB Get File\n      description: Retrieve a file from a path on an endpoint.\n      script: '|||cb-get-file-from-endpoint'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      path:\n        complex:\n          root: inputs.Path\n      sensor: {}\n      session:\n        complex:\n          root: CbLiveResponse\n          accessor: Sessions.CbSessionID\n      wait-timeout: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"9\":\n    id: \"9\"\n    taskid: d4f20578-96c4-4e2b-80a1-dd73c26980d8\n    type: playbook\n    task:\n      id: d4f20578-96c4-4e2b-80a1-dd73c26980d8\n      version: -1\n      name: GenericPolling\n      description: |-\n        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.\n        This playbook implements polling by continuously running the command in Step \\#2 until the operation completes.\n        The remote action should have the following structure:\n\n        1. Initiate the operation.\n        2. Poll to check if the operation completed.\n        3. (optional) Get the results of the operation.\n      playbookName: GenericPolling\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      AdditionalPollingCommandArgNames: {}\n      AdditionalPollingCommandArgValues: {}\n      Ids:\n        simple: ${CbLiveResponse.Sessions.CbSessionID}\n      Interval:\n        simple: \"1\"\n      PollingCommandArgName:\n        simple: session\n      PollingCommandName:\n        simple: cb-session-info\n      Timeout:\n        simple: \"10\"\n      dt:\n        simple: CbLiveResponse.Sessions(val.Status != 'active').CbSessionID\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 940\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"12\":\n    id: \"12\"\n    taskid: b8b8df75-8ec9-4b16-8040-49d8ff890129\n    type: regular\n    task:\n      id: b8b8df75-8ec9-4b16-8040-49d8ff890129\n      version: -1\n      name: Close CB session\n      description: Close the given session.\n      script: '|||cb-session-close'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      session:\n        complex:\n          root: CbLiveResponse\n          accessor: Sessions.CbSessionID\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 1280\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_2_#default#\": 0.12,\n      \"3_2_#default#\": 0.15\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1915,\n        \"width\": 1380,\n        \"x\": -50,\n        \"y\": -400\n      }\n    }\n  }\ninputs:\n- key: Sensor_ID\n  value: {}\n  required: false\n  description: The sensor ID. Provide the sensor ID to run the command with a new session. The session will be created and closed automatically.\n  playbookInputQuery:\n- key: Path\n  value: {}\n  required: false\n  description: |-\n    The path of the file to retrieve.\n    For example:\n    C:\\users\\folder\\file.txt\n  playbookInputQuery:\noutputs:\n- contextPath: File.Size\n  description: The size of the file.\n  type: number\n- contextPath: File.Type\n  description: The type of the file.\n  type: string\n- contextPath: File.Info\n  description: General information of the file.\n  type: string\n- contextPath: File.MD5\n  description: The MD5 hash of the file.\n  type: string\n- contextPath: File.SHA1\n  description: The SHA1 hash of the file.\n  type: string\n- contextPath: File.SHA256\n  description: The SHA256 hash of the file.\n  type: string\n- contextPath: File.SHA512\n  description: The SHA512 hash of the file.\n  type: string\n- contextPath: File.SSDeep\n  description: The file SSDeep.\n  type: string\n- contextPath: File.Name\n  description: The file name.\n  type: string\n- contextPath: File.EntryID\n  description: File entry ID.\n  type: string\n- contextPath: File.Extension\n  description: The file extension.\n  type: string\ntests:\n- Carbon Black Live Response Test\nfromversion: 5.0.0\n",
  "product": "Cortex XSOAR",
  "pack": "Carbon_Black_Enterprise_Live_Response",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "mio7PMY/hTzOzH29iinCPG4HaD2UBUU6gQxqPX3sAT24aZ66kbcIPUcYF73xeeQ81vQXPfNeAb3yV9s7a+FXvbnnFD3RIgI9Ep6VO/ab/rxLJ7y8l3YwvVjlVz2fHSY6xwLUO8nwCL3tjd48E7omvf7wOzwMnkw8sZsPPKbomzzPSOq8jNk+PWp99rx+ZpC8IlgkvT4AObx/JrK8ZAvMvEmJjr2jY4G8p8+lvLP3jT3vi8k6PcEDvaPK9byDSxs9LIWXvS7JHTw/M5w9OzsIuru/f7xgfuY8g6pkPOEAFL0IaJU8FwenvZe4JzzMq/K8KQrXvFUQqLxM8ac5G8RsvOANaj3FmbI8GmxWOwIZAr0haW+9pvuUPcoCAr1v9k09e9ZRvYe+OLwulvq71EdcPAbVOzy1d6081TjuO/RzGj0wGGu83CADvRrRdj2ahWI7AK0dPSQ1lzuPPC48mH6Ovd/IvrxpIrq7JvKSPZSBfbvASDi8UiTBPdVnYz2c8FK91IvDvcb89L13UVI8FmySvFUVAry+H8e8kEbMPKGFFzzxyPo8ZiazPHUJaDw4EJS9Ou15vaMDHjyfS2y7UM8TvG3Bi7x4y6k8Gsuuvb+hsDw1eJM8VPcQPNFhHjz53o290R5FPe5oLz0Y2QQ8CYSGPaoYwD1tIJg9b5eiO+0iTr2qAdo8V4aXvH0MAj2N87i8NCyZPK/Zq7zqqw29bHe1u1Fg6jz6ubq8HnESPUQiizxpbxY8GhA/u23fEb7yhE289frVO5/Lfjv3B5A9FamXPZHe/7zL6569UaLrvPA0Vrx71y+93SiTPA+zbb198gG6YLCcPFqhGr0tmwi8Xq4VvAndBb2PxCK8PlzlvO9GhD3s/d+80fuEvJ8gar2hbWm6WwZmvcL6hT30rx290OvcvExApr256fm8gWq+vCPT5jwBjZ487tZtvEYqf7z12iu9Hd+JPS3xFzuZZ366h3B+vYnrTz1JVca82cu+OAn3wzu9Qgc92beJPcvbCrzQiIS7BYkCPbvA1Dw61mq9p/fGu+EEMj3MQgW8V+0nvXkqTTzVOY89URKvu24SibzliLC9G6DivAAyjDvteQO9iuSLvdCauDxsy1y9Sa0zPBbqXbxzJZA87vUTvfOMHrwkiYe8u+RbOvSXEz0x0c09sd/zPBR5Mj0yHsI6gMbqukcxHbzzUNi8BGi+PXDQGL315bs8nG2dvPbujL3GjLY8nOGzPKlEijwLJ607SthoPJ0zAD0QBYE9Bb+pvIuxB72HMzU8IBc/vah4HT1DCxc9nAcoPRAFjT3eJRy9i53HvLXhpTssgFm9awK6vG0GsrzrXhe8KazsOzy4MzzK8O+7C1LXPPBeDbt8TgS93eD3O7Yjy7xJ3Eg9BdyVvFldM7yKJT2883dlvSsJib2wGge9G7l0vOeBBzyjHIw7jJNjPSIJnLzyD368pCuPvLPaaL1rI5C81rgfvTOVWD0SjQG9MQGYvT4XBrwN7/a8YoWSvEbnnbx2ZZe8obIWvSkzHb3wC0y8OwGmvFj0urviv58878NYPff3H71Ycqe9b59uPXUuIj21dyY94O1LPbQ3Lb3sgQi9ZBU7PRtBkj1URnm8VpeSPIgNALy8A388daqfvMXc5jtIMDq81KPJu9bwGDxaNgY9VPpcvCECBbxlYti8vi1dvLEAh73VT9e8YCN2uw7lIb0E2gU9VucJPfeQx7yR9788o4OdO8EbDr3wBpU8GjVJvQEj0LsZdL+8f8DaO7vgEju+d/K6HxSLOvvO+TsWk0A9WnRAvX6AKj3sgjU9oPbOvIDp+7t4tAK8PzkGPd/2mjwnXrE8qc+UvAcWjbvDeBa9IpZqPTdyiTwcaUM7B+hoPBM70rs9bl89q39CPHGFkTxcLyc8FQobvS38qryTE2c7Lz83u8iCJj26nQk9DeY2PWhtlbyPIty8b7nHPG5MPj2r4oU8XRCzvGByUzsvuk87dJQFPUHXzbwcAEm659KKvYrSJ72Z6CK6TFsVPUdCBb1auR+9yVetujcAzrzjehy9d4r3PKA7cD36UqS7wAEEPLmxuzxAeqS68CtevRFjvj28qAW7Bb5wPaeEVb0zYWy7jH8TvbnpfT2Lycw8n51XuwdNPDzZpNS8kRwePYmVi726bMo8YLygvCCDbD0sr7I8R/wavW1HDT07oia8KwT0PL0lzjzWIvU8aWuJPO0Q9Dsi3jA9UfKWvCxHGztWUZ49cYXJuhl2lDw0pdS7M50iPE2iCLvCV7q9pb4dvTUVxLxRnoE8VGOpuTPMv7zCcxA9A7UyvEToHT0M/CK9AkQBPLtwrzwYcBy9L6N2O3Co3TxYpN0873WlPPABrD2Vd288quHMvGIB2DzfnKu8sx03PJ0s3jylq7G80OpDvLGLFbzv+bG7fTESvdRX673d/F09mg0KPCTo1DwxkmK7r4b8u7rXerzyLfs8LLaoPZmH67vmDJ27HdFjvb9m3LyLtqQ9BxzkOl79Wz3Aqo88KLjzPAsrODw0Oko8PlhyvcxBQLyAlwE9fPDiuqx0MrsDYdy8HOErvYfPjbvnEIo8bRdpPcfYnj2+OOq8p9IXvBzcIjvwOEI84yeWvPmKXr3V2ge9a0kAvW3ECb0y93a8LgjgvD/yEDzwMUo8ZwxLvAf+Gz3UNqo8ojd8PbcRnrwVXLW7+wtaPCbDGj39+TS9PXOdO+bTPj1AxCI81cZiPa/PG718aJ49iNyYO7GxILwCewW9SeMzPY+wArvT0Iq8BobFPL2RGr0GpFw8VNd+PBtH5DzhIfe8AuX3ujO2sDuevt08KIw1vQQzfbxU0qW8TcWDPQsYvLtkq6c8goGaPL46bT2Gl4Y9fJkUPIY6TzwEZvA7vJwDPa1bSD1vFlU8AGKGvKt+/zz843U9RhK+vN7GF7s4W7o8Z/enPZ1Fcrw34Ag891U+vERYjzzH3Si8EzXrvBh0LbuGwAS7/+VUvfio0jvpI7U7bO6CvNqBtrxqLRW8FZLkvNpi77zMJxo8ryU9vEHozjxKe508A8oaPQxemjzLWqM8QfECPTBOw7tIYrK8U9ZivfJXujzRHps8GRGgu2rZ6zyGcLe8KDCcPXRd07w2Wfy8qsqfPHwm2byeao474/9sva37SL0IJx69mZt4uwmEJz2cjwe9MoFBPff9AL3tFUa9Nz5xPV2O5Tyi8Ec8mmx1PLB9Jr3TfpY9n461O9T64rz5N4e9ALndusnCcL1K2oW6TNQtPSkcPbxyq4I8AZlGuy6pEL3wCCO9/aYFPUKO57wmBSs8J8UbvFjBUD3AFwU9cjiwPI6T5ztHche80nyIPDVYdLyHXSa9N3I4vev4Hj1z1hs83ZzxvEMOtzv2MvE9eE1CvYgEGL3Aabe8Ab5MO/lrwjz8HiM90a9PvQIPMT0XWDE9Q6+2PT9kujzSO1q9YyhCvBJIcTzd1Sq99A9BPBS0gT1rLjS8JX23PbP6PL0iAdg8h9GRvT8AULzVbVG8Ds+mvBpUIrvLtBS9uHgEPRKSLL2hmIi9622YumtGmLw5Hs48u1H1vDJ3fLwme7u7q86QPMDOM7uwdVo9hRrEPJHxQj3hpBC98QkvPXkI07xlxao8y4+evBiX+TuwYZw72/0JPEbIhrpaYvE7gjmJPO3xqjxQNWk8ryfPvOiMl7odzLm8KZc7POOd9TzGoMy8Lo4VuzywnTu7cKM8wGRbve3f8Dxay048eJhsvBZlhzyBvBE9DkIkvSGYv7yaRRA9+qRoPHGdXDz0Ogw92gP5vTvSWLw4F528eXlSPIeiST1aPYW88WMNuh6oJj2AwlU8uKzuPHN+iTxeBHy8AT7NO4aPEr3FEnM9WGqNPUMph7zwXAQ8rUPTvJd+CT0ntLu8c/3ou2JIGT3YU8U8ZkGZvCxP1joxxRg9SEVPvHiE5rwkFV+98B4avXfv37w+FA09ZUEXvcjBWrxJ6FG8tA12vBc9RT0HfXC7ez/KPJIBqLt2gqm9uoUZver1tLsQ3SI9yII8PZmPMLts4aG8O/w2vd9VGr3s1iA94ggYPTt/Db2zfO88o64xvf42q7zHc0+9FJDQvEltQj1MapI8"
}
