bundles/spark/kbs/soar-playbooks/entries/pb-cortexxdr-cortex-xdr-printnightmare-detection-and-response-6-5.json
{
  "id": "pb-cortexxdr-cortex-xdr-printnightmare-detection-and-response-6-5",
  "title": "Cortex XDR - PrintNightmare Detection and Response",
  "category": "playbook",
  "content": "The playbook targets specific PrintNightmare rules written by Cortex XDR for both vulnerabilities:\n[CVE-2021-1675 LPE](https://nvd.nist.gov/vuln/detail/CVE-2021-1675)\n[CVE-2021-34527 RCE](https://nvd.nist.gov/vuln/detail/CVE-2021-34527)\n\nThis playbook includes the following tasks:\n- Containment of files, endpoints, users and IP Addresses\n- Enrichment of indicators\n- Data acquisition of system info and files using Cortex XDR\n- Eradicating compromised user credentials\n\n** Note: This is a beta playbook, which lets you implement and test pre-release software. Since the playbook is beta, it might contain bugs. Updates to the pack during the beta phase might include non-backward compatible features. We appreciate your feedback on the quality and usability of the pack to help us identify issues, fix them, and continually improve.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (CortexXDR, xsoar-supported).\n\nUse cases: Malware.\n\nInputs — IsolateEndpointAutomatically: Whether to isolate the endpoint automatically; DisableAccountAutomatically: Whether to disable the account automatically; BlockIPAutomatically: Whether to block the IP Address automatically; EnrichAutomatically: Whether to run indicators auto enrichment automatically; UserVerification: Possible values: True/False.\nWhether to provide user verification for blocking IPs. \n\nFalse - No prompt will be displayed to the user.\nTrue - The server will ask the user for blocking verification and will display the blocking list..\n\nIntegrations/scripts used: SearchIncidentsV2, ad-disable-account, xdr-get-incident-extra-data.",
  "raw_yaml": "id: Cortex XDR - PrintNightmare Detection and Response\nversion: -1\nname: Cortex XDR - PrintNightmare Detection and Response\ndescription: |-\n  The playbook targets specific PrintNightmare rules written by Cortex XDR for both vulnerabilities:\n  [CVE-2021-1675 LPE](https://nvd.nist.gov/vuln/detail/CVE-2021-1675)\n  [CVE-2021-34527 RCE](https://nvd.nist.gov/vuln/detail/CVE-2021-34527)\n\n  This playbook includes the following tasks:\n  - Containment of files, endpoints, users and IP Addresses\n  - Enrichment of indicators\n  - Data acquisition of system info and files using Cortex XDR\n  - Eradicating compromised user credentials\n\n  ** Note: This is a beta playbook, which lets you implement and test pre-release software. Since the playbook is beta, it might contain bugs. Updates to the pack during the beta phase might include non-backward compatible features. We appreciate your feedback on the quality and usability of the pack to help us identify issues, fix them, and continually improve.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: a54515dc-928a-4a40-8a4b-822d2b1ade36\n    type: start\n    task:\n      id: a54515dc-928a-4a40-8a4b-822d2b1ade36\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"77\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": -120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"4\":\n    id: \"4\"\n    taskid: 143265db-b8b3-4869-838e-07d9f57b9a2f\n    type: condition\n    task:\n      id: 143265db-b8b3-4869-838e-07d9f57b9a2f\n      version: -1\n      name: Execute endpoint Isolation automatically?\n      description: Whether to isolate the endpoint automatically.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"73\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.IsolateEndpointAutomatically\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1370,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"6\":\n    id: \"6\"\n    taskid: 6858b2fe-7399-44d8-894a-68f05cd01cad\n    type: playbook\n    task:\n      id: 6858b2fe-7399-44d8-894a-68f05cd01cad\n      version: -1\n      name: Cortex XDR - Isolate Endpoint\n      description: This playbook accepts a Cortex XDR endpoint ID and isolates it using the 'Palo Alto Networks Cortex XDR - Investigation and Response' integration.\n      playbookName: Cortex XDR - Isolate Endpoint\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      endpoint_id:\n        complex:\n          root: PaloAltoNetworksXDR.Incident.alerts\n          accessor: endpoint_id\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1370,\n          \"y\": 1845\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"8\":\n    id: \"8\"\n    taskid: 8276bf0d-8d07-472c-8073-9c4440ab323e\n    type: condition\n    task:\n      id: 8276bf0d-8d07-472c-8073-9c4440ab323e\n      version: -1\n      name: Disable account automatically?\n      description: Whether to disable the account automatically.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"10\"\n      \"yes\":\n      - \"70\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.DisableAccountAutomatically\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"9\":\n    id: \"9\"\n    taskid: 49117385-c0a2-4aff-8f65-1b59586ec14f\n    type: regular\n    task:\n      id: 49117385-c0a2-4aff-8f65-1b59586ec14f\n      version: -1\n      name: Isolate affected endpoint manually\n      description: Execute endpoint isolation manually\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -920,\n          \"y\": 1330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"10\":\n    id: \"10\"\n    taskid: 8342df19-33bf-4e7a-854a-1cba2bd459ea\n    type: regular\n    task:\n      id: 8342df19-33bf-4e7a-854a-1cba2bd459ea\n      version: -1\n      name: 'Disable affected account manually '\n      description: Disable the affected account manually\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -330,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"11\":\n    id: \"11\"\n    taskid: 999d6edf-b9f0-4947-8e65-ad673007e6c5\n    type: title\n    task:\n      id: 999d6edf-b9f0-4947-8e65-ad673007e6c5\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 3120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"12\":\n    id: \"12\"\n    taskid: f48d8dd4-6d7a-4a14-80a7-eb5270cb98b8\n    type: title\n    task:\n      id: f48d8dd4-6d7a-4a14-80a7-eb5270cb98b8\n      version: -1\n      name: Containment\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"4\"\n      - \"8\"\n      - \"19\"\n      - \"15\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -300,\n          \"y\": 930\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"15\":\n    id: \"15\"\n    taskid: fa1732c0-3514-48a5-8698-6f11173c4deb\n    type: regular\n    task:\n      id: fa1732c0-3514-48a5-8698-6f11173c4deb\n      version: -1\n      name: Block suspicious files manually\n      description: Block the suspicious files identified manually\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2300,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"19\":\n    id: \"19\"\n    taskid: 28872916-60a6-4ca9-85ce-4236e68214fb\n    type: condition\n    task:\n      id: 28872916-60a6-4ca9-85ce-4236e68214fb\n      version: -1\n      name: Block suspicious IP Address automatically?\n      description: 'Whether to block the IP automatically '\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"21\"\n      \"yes\":\n      - \"74\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.BlockIPAutomatically\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 960,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"21\":\n    id: \"21\"\n    taskid: 81e05e6f-8897-4e5a-85ed-fa10a5831034\n    type: regular\n    task:\n      id: 81e05e6f-8897-4e5a-85ed-fa10a5831034\n      version: -1\n      name: 'Block attacker IP Address manually '\n      description: Block the attacker IP Address manually\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"22\":\n    id: \"22\"\n    taskid: 0d1c6251-02db-40ea-8328-e445074001b6\n    type: title\n    task:\n      id: 0d1c6251-02db-40ea-8328-e445074001b6\n      version: -1\n      name: Acquire Data for Further Investigation\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"62\"\n      - \"41\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -330,\n          \"y\": 2050\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"28\":\n    id: \"28\"\n    taskid: db979691-6e5b-4c33-8362-69488f948e97\n    type: title\n    task:\n      id: db979691-6e5b-4c33-8362-69488f948e97\n      version: -1\n      name: Eradication\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"30\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -330,\n          \"y\": 2760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"30\":\n    id: \"30\"\n    taskid: 695cb926-24f3-4e1e-8528-ddb1adbec546\n    type: regular\n    task:\n      id: 695cb926-24f3-4e1e-8528-ddb1adbec546\n      version: -1\n      name: Revoke user credentials\n      description: Set new credentials for the compromised user.\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -330,\n          \"y\": 2900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"32\":\n    id: \"32\"\n    taskid: a59cefda-d913-4acb-8440-7aca00288469\n    type: title\n    task:\n      id: a59cefda-d913-4acb-8440-7aca00288469\n      version: -1\n      name: Enrichment\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"33\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2210,\n          \"y\": 930\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"33\":\n    id: \"33\"\n    taskid: addd72ee-e6a4-419b-88db-210b83c64f5b\n    type: condition\n    task:\n      id: addd72ee-e6a4-419b-88db-210b83c64f5b\n      version: -1\n      name: Auto Enrichment?\n      description: 'Whether to run auto enrichment '\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"37\"\n      \"yes\":\n      - \"35\"\n      - \"36\"\n      - \"69\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.EnrichAutomatically\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2210,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"35\":\n    id: \"35\"\n    taskid: 77c567e4-f2b7-4dbb-8e81-1beb07b4a8aa\n    type: playbook\n    task:\n      id: 77c567e4-f2b7-4dbb-8e81-1beb07b4a8aa\n      version: -1\n      name: Account Enrichment - Generic v2.1\n      description: |-\n        Enrich accounts using one or more integrations.\n        Supported integrations:\n        - Active Directory\n      playbookName: Account Enrichment - Generic v2.1\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      Username:\n        complex:\n          root: Account.Username\n          filters:\n          - - operator: isNotEqualString\n              left:\n                value:\n                  simple: Account.Username\n                iscontext: true\n              right:\n                value:\n                  simple: \"null\"\n          transformers:\n          - operator: uniq\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: \\\n              fields:\n                value:\n                  simple: \"2\"\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2210,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"36\":\n    id: \"36\"\n    taskid: 686190f4-62db-4b07-8d5a-fff0e6bf034b\n    type: regular\n    task:\n      id: 686190f4-62db-4b07-8d5a-fff0e6bf034b\n      version: -1\n      name: Indicators Enrichment\n      description: commands.local.cmd.enrich.indicators\n      script: Builtin|||enrichIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      indicatorsValues:\n        complex:\n          root: PaloAltoNetworksXDR.Incident.alerts\n          accessor: action_remote_ip\n          transformers:\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: File.SHA256\n                iscontext: true\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3070,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"37\":\n    id: \"37\"\n    taskid: 2799a3c6-1f85-4ec7-87f2-56efdef4a788\n    type: regular\n    task:\n      id: 2799a3c6-1f85-4ec7-87f2-56efdef4a788\n      version: -1\n      name: Enrich Indicators manually\n      description: Enrich all indicators manually\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1780,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"41\":\n    id: \"41\"\n    taskid: 0e9de9f0-80b4-4640-8fa5-5bfd1c9ab7ef\n    type: title\n    task:\n      id: 0e9de9f0-80b4-4640-8fa5-5bfd1c9ab7ef\n      version: -1\n      name: ' Collect Exploitation Indicators Related Activity'\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"61\"\n      - \"81\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 2230\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"61\":\n    id: \"61\"\n    taskid: e9267c6f-4c2d-48dd-8017-cecd3cd48a4a\n    type: playbook\n    task:\n      id: e9267c6f-4c2d-48dd-8017-cecd3cd48a4a\n      version: -1\n      name: Threat Hunting - Generic\n      description: \"This playbook enables threat hunting for IOCs in your enterprise.\\nThis playbook currently supports the following integrations:\\n- Splunk\\n- Qradar\\n- Pan-os\\n- Cortex data lake \\n- Autofocus\"\n      playbookName: Threat Hunting - Generic\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"28\"\n    scriptarguments:\n      IPAddress:\n        complex:\n          root: PaloAltoNetworksXDR.Incident.alerts\n          accessor: action_remote_ip\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -180,\n          \"y\": 2460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n  \"62\":\n    id: \"62\"\n    taskid: 65273fff-6d72-49d3-89c4-b28068de1b81\n    type: title\n    task:\n      id: 65273fff-6d72-49d3-89c4-b28068de1b81\n      version: -1\n      name: Cortex XDR  - Collect Files and System Info\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"63\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -690,\n          \"y\": 2230\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"63\":\n    id: \"63\"\n    taskid: aed1591c-cd9f-42ba-84c8-51184497392e\n    type: regular\n    task:\n      id: aed1591c-cd9f-42ba-84c8-51184497392e\n      version: -1\n      name: Collect system info\n      description: Initiates a new endpoint script execution action using a script from the script library.\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"80\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -690,\n          \"y\": 2375\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"66\":\n    id: \"66\"\n    taskid: a4d8ce77-e02b-4fc6-8b8b-d8fe02bb8104\n    type: regular\n    task:\n      id: a4d8ce77-e02b-4fc6-8b8b-d8fe02bb8104\n      version: -1\n      name: Disable affected account\n      description: Disables an Active Directory user account.\n      script: '|||ad-disable-account'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      username:\n        complex:\n          root: PaloAltoNetworksXDR.Incident.users\n          filters:\n          - - operator: isNotEqualString\n              left:\n                value:\n                  simple: PaloAltoNetworksXDR.Incident.users\n                iscontext: true\n              right:\n                value:\n                  simple: \"null\"\n          transformers:\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: \\\n              fields:\n                value:\n                  simple: \"2\"\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 1845\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"69\":\n    id: \"69\"\n    taskid: c6780f7d-1c31-4e1f-8506-b37dddb4f1f9\n    type: playbook\n    task:\n      id: c6780f7d-1c31-4e1f-8506-b37dddb4f1f9\n      version: -1\n      name: Endpoint Enrichment - Generic v2.1\n      description: |-\n        Enrich an endpoint by hostname using one or more integrations.\n        Supported integrations:\n        - Active Directory Query v2\n        - McAfee ePolicy Orchestrator\n        - Carbon Black Enterprise Response v2\n        - Cylance Protect v2\n        - CrowdStrike Falcon Host\n        - ExtraHop Reveal(x)\n      playbookName: Endpoint Enrichment - Generic v2.1\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      Hostname:\n        complex:\n          root: foundIncidents.CustomFields.xdralerts.hostname\n          filters:\n          - - operator: isNotEqualString\n              left:\n                value:\n                  simple: foundIncidents.CustomFields.xdralerts.hostname\n                iscontext: true\n              right:\n                value:\n                  simple: \"null\"\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2640,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"70\":\n    id: \"70\"\n    taskid: c441865d-404b-4b4b-81ad-a2c6daabfe44\n    type: condition\n    task:\n      id: c441865d-404b-4b4b-81ad-a2c6daabfe44\n      version: -1\n      name: Is there an account to disable?\n      description: Checks if there is at least one username to enrich.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"71\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Account.Username\n                filters:\n                - - operator: isNotEqualString\n                    left:\n                      value:\n                        simple: Account.Username\n                      iscontext: true\n                    right:\n                      value:\n                        simple: \"null\"\n                - - operator: isNotEqualString\n                    left:\n                      value:\n                        simple: Account.Username\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Administrator\n                - - operator: isNotEqualString\n                    left:\n                      value:\n                        simple: Account.Username\n                      iscontext: true\n                    right:\n                      value:\n                        simple: SYSTEM\n                transformers:\n                - operator: uniq\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"71\":\n    id: \"71\"\n    taskid: e48287f6-34db-41f2-8a31-925555eca04a\n    type: condition\n    task:\n      id: e48287f6-34db-41f2-8a31-925555eca04a\n      version: -1\n      name: Is Active Directory Query v2 enabled?\n      description: Checks if there’s an active instance of the Active Directory Query v2 integration enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"66\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Active Directory Query v2\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 1580\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"73\":\n    id: \"73\"\n    taskid: 18a75451-0ef5-44eb-806d-2c006904a867\n    type: condition\n    task:\n      id: 18a75451-0ef5-44eb-806d-2c006904a867\n      version: -1\n      name: Is there an endpoint to isolate?\n      description: Checks if there is at least one username to enrich.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"6\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: foundIncidents.CustomFields.xdralerts\n                accessor: hostname\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1370,\n          \"y\": 1330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"74\":\n    id: \"74\"\n    taskid: 66b63470-6953-43fd-860e-e5f311010165\n    type: condition\n    task:\n      id: 66b63470-6953-43fd-860e-e5f311010165\n      version: -1\n      name: Is there an IP Address to block?\n      description: Checks if there is at least one username to enrich.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"82\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: PaloAltoNetworksXDR.Incident.alerts.action_remote_ip\n                filters:\n                - - operator: IsNotInCidrRanges\n                    left:\n                      value:\n                        simple: PaloAltoNetworksXDR.Incident.alerts.action_remote_ip\n                      iscontext: true\n                    right:\n                      value:\n                        simple: 10.0.0.0/8,127.0.0.0/8,172.16.0.0/12,192.168.0.0/16\n                transformers:\n                - operator: uniq\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 960,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"75\":\n    id: \"75\"\n    taskid: e0a94c31-eeef-4c3b-83f8-3424a3d81462\n    type: regular\n    task:\n      id: e0a94c31-eeef-4c3b-83f8-3424a3d81462\n      version: -1\n      name: Cortex XDR - get incident extra data\n      description: Returns additional data for the specified incident, for example, related alerts, file artifacts, network artifacts, and so on.\n      script: '|||xdr-get-incident-extra-data'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n      - \"32\"\n    scriptarguments:\n      incident_id:\n        complex:\n          root: foundIncidents.CustomFields\n          accessor: xdrincidentid\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"76\":\n    id: \"76\"\n    taskid: 1f4415ac-f8d5-45da-8cd8-b9917f8a70c5\n    type: regular\n    task:\n      id: 1f4415ac-f8d5-45da-8cd8-b9917f8a70c5\n      version: -1\n      name: 'Search XDR incidents for suspicious network behavior '\n      description: Search XDR incidents for REvil in the network.\n      scriptName: SearchIncidentsV2\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"78\"\n    scriptarguments:\n      query:\n        simple: xdralerts.description:*printnightmare_exploit_patched_machine* OR xdralerts.description:*printnightmare_local_exploit_patched_machine* OR xdralerts.description:*printnightmare_exploit_unpatched_machine* OR xdralerts.description:*printnightmare_local_exploit_unpatched_machine* OR xdralerts.description:*printnightmare_exploit.2* OR xdralerts.description:“*printnightmare_local_exploit.3* OR xdralerts.description:“*printnightmare_exploit.4* OR xdralerts.description:“*printnightmare_local_exploit.2*\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 250\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"77\":\n    id: \"77\"\n    taskid: 8966ca43-7539-4edf-89f6-e6c68ade0cb8\n    type: condition\n    task:\n      id: 8966ca43-7539-4edf-89f6-e6c68ade0cb8\n      version: -1\n      name: 'Is Cortex XDR enabled? '\n      description: Checks if the Cortex XDR instance is enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"76\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Cortex XDR - IR\n                accessor: state\n            iscontext: true\n          right:\n            value:\n              simple: active\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"78\":\n    id: \"78\"\n    taskid: ba6b05b7-8bb9-420f-8fc6-2a41ceca9c95\n    type: condition\n    task:\n      id: ba6b05b7-8bb9-420f-8fc6-2a41ceca9c95\n      version: -1\n      name: Found PrintNightmare Incidents?\n      description: Check if related PrintNightmare incidents were found in XSOAR\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"75\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: foundIncidents\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1440,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"80\":\n    id: \"80\"\n    taskid: f9cf1d24-c495-4d57-8cd5-a02ddbb851a4\n    type: regular\n    task:\n      id: f9cf1d24-c495-4d57-8cd5-a02ddbb851a4\n      version: -1\n      name: Retrieve suspicious files involved in the attack\n      description: Get files that were involved in the attack for further analysis and forensics.\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"28\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -690,\n          \"y\": 2540\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"81\":\n    id: \"81\"\n    taskid: 44dfcf25-fea0-415a-8ae7-644577eea940\n    type: regular\n    task:\n      id: 44dfcf25-fea0-415a-8ae7-644577eea940\n      version: -1\n      name: Cortex XDR XQL queries\n      description: |-\n        Run related advanced XQL queries in Cortex XDR to find any malicious related activity.\n        [Cortex XDR Hunting Blog](https://www.paloaltonetworks.com/blog/security-operations/hunting-printnightmare/)\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"28\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 250,\n          \"y\": 2460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"82\":\n    id: \"82\"\n    taskid: 5b309d3a-f683-4fd9-8b3f-d609b4225495\n    type: playbook\n    task:\n      id: 5b309d3a-f683-4fd9-8b3f-d609b4225495\n      version: -1\n      name: Block IP - Generic v3\n      playbookName: Block IP - Generic v3\n      type: playbook\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      AutoCommit:\n        simple: \"No\"\n      CustomBlockRule:\n        simple: \"True\"\n      IP:\n        complex:\n          root: PaloAltoNetworksXDR.Incident.alerts\n          accessor: action_remote_ip\n          transformers:\n          - operator: uniq\n      UserVerification:\n        complex:\n          root: inputs.UserVerification\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 960,\n          \"y\": 1845\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"19_74_yes\": 0.71,\n      \"33_35_yes\": 0.52,\n      \"33_37_#default#\": 0.68,\n      \"4_9_#default#\": 0.63,\n      \"70_22_#default#\": 0.19,\n      \"70_71_yes\": 0.56,\n      \"71_22_#default#\": 0.23,\n      \"71_66_yes\": 0.47,\n      \"73_22_#default#\": 0.33,\n      \"73_6_yes\": 0.43,\n      \"74_22_#default#\": 0.12,\n      \"77_11_#default#\": 0.1,\n      \"77_76_yes\": 0.49,\n      \"78_11_#default#\": 0.1,\n      \"78_75_yes\": 0.52,\n      \"8_10_#default#\": 0.63\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 3305,\n        \"width\": 5750,\n        \"x\": -2300,\n        \"y\": -120\n      }\n    }\n  }\ninputs:\n- key: IsolateEndpointAutomatically\n  value:\n    simple: \"False\"\n  required: false\n  description: 'Whether to isolate the endpoint automatically '\n  playbookInputQuery:\n- key: DisableAccountAutomatically\n  value:\n    simple: \"True\"\n  required: false\n  description: 'Whether to disable the account automatically '\n  playbookInputQuery:\n- key: BlockIPAutomatically\n  value:\n    simple: \"True\"\n  required: false\n  description: 'Whether to block the IP Address automatically '\n  playbookInputQuery:\n- key: EnrichAutomatically\n  value:\n    simple: \"True\"\n  required: false\n  description: 'Whether to run indicators auto enrichment automatically '\n  playbookInputQuery:\n- key: UserVerification\n  value:\n    simple: \"False\"\n  required: false\n  description: \"Possible values: True/False.\\nWhether to provide user verification for blocking IPs. \\n\\nFalse - No prompt will be displayed to the user.\\nTrue - The server will ask the user for blocking verification and will display the blocking list.\"\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\nmarketplaces:\n- xsoar\n",
  "product": "Cortex XSOAR",
  "pack": "CortexXDR",
  "support_tier": "xsoar",
  "use_cases": [
    "Malware"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "/jYRPZHCgjuYpby9rgT3u91/mD2vwvI76QO4PfEb3Ty4FkC8Q91LO/qT5Ts0cYc9ROIXPUH3iTwt/Kk8j9ZbvWlakz0iUrQ8jQcNvFcb2byikBm9qAIpvWl8nru1Ksa8cqU2vJERpr3qpFA8u8xbvbleP72k4ww5viUDvOpD+TzFq288Ig52PG46M7zVN5W7NurWvCoVqrgbqcW8C4R2vJ4ilb2bOSi9s2k3vbefbT1cSd67WeQivNk2Cr0lM7k8j1MevUOwRjvp0LY912pCO9bXo72+Tvk8o/QOvTKYl73jTay8ihuQvWnJeLyWiwU8fiDgvKj5gL2glf4793T0PA916jyPGB08exVovCO7XTxBoyi9LPuCPUUcb73d66c8DTuTvDua6ztyUNW7aYOqu1JKwzuxNiK9vYS1PKKrZD3qc/+7FOGJO5a6eT28qw+7azgovDj5gDzOt9o8q/KGvWPs67wmtVc75gjyPRrGm7wJxce8KUCpPW8NIj0W6wK9C2h/vEMutb3nKty8nPwDPIrn2bv5gLq8NhsDvGVcO7z22BI9PhyQPZ1gHLw9ypK9cbJSvct8oDxCZ5U8QnobPDZajzuhgRs9Z+LVvAK8ST3UR7k67S6JO0BJTL0CXnG9hZTtPPYGej0rGM88OnfePHRJXD3yt4s9VzzmO8UADrxTq+c7sAk4vCEhkrp9ZZu8YTbRO6AusLz0YLI8diyevNw62jog6fu8GdmNPNb0DT099ic8qTCVO3ASwb2+bPy7skaCPcaUF7mPnDU9jPO1Pa//tLxEWns7fBvWu+aHtbtAiwS9oFfIO241n7z9F6i7zfcIPE0hvb1SLQY9EQubvX2emrwNKU28phO1Oe4TTDwESOW8QPEgvRdNJ73ffIg8EfUovVw5Dj2NEl+8fJfZvNTkdL3TrrK9RpufvJdHUj3Tc6E8TKVQvHemPb2csKK8ktV3PVhxLT3mvjU8wQnWvacQnTymsaY8jSwoPMIoLzyWNoY8f/EvPUQCbjsdm4I7Tqm4uwqcJT1RoJy8AZeCPEcLKT3e8QA94pf8vAjd1LsYeY89dMr8O4aFhzsEc/i9+BEMvRPOwDwGGjK9HZrZvHqMoDy1dsK81a69vOkkZj0qhN28B1JOvQ+DjLu20mq8TzDsPPyvzDw7+dQ9Bvn5ug8DLT10G2o8+n+iPL/mxbuBYmS8KDRfPcyLXr2qTYM9cZ6ovCMRfr1jWos7ZR2qPCa69byMb+O7vaemPGnaFD0fj4I93vm3O07kw7wg0988/ibXvBUCGD1y38Y8d1I4vFznQz3bF0i9f9HLPPgTgLxRxkm72fY5vYNuOrwAYAq9cVVKPPu5cDv8IG+8PJtsu1Zv0joahjW9po8BPRqJ2rzVdoU9pyyyvE7MdTxZVLe8L+gdvDIJOb3pYP68KPaYvM8bajuHmVe8fHYYPCBVWTs1HH+8i2F0uX+HHr0hRvA8AcoxvZ93ID1ZL8+9CVDIvcnuGb3a5l28Y5xcvOgYnTtwbCO9T7givXYCbry/Qn+6494Hvf6s97sQN/A88N9KPbxF9LyHM4W9P7QEPfhNAD3mhi89XzumPafl47yApPM7Y/MpPSFeIj1JLbS8H21uPMOUeLyyxGA6FjeXPB+Kc7o8BT69dRz5O4Gd9DzN/Mq64E3PvNgz9zya4kC8j4+YO4qz6b0pwyW7D/obu3aOorsm95I8iYgjPHnrlrwZ9k89jcU9vXN3ULyrnAI82FauvC/ocTyfu1u90NIwvNk26jzLBBg8AqEovDoqqjtiib48aC8WvTy1KT043nQ9tfkNO5EZErxHQJa84wrIPPPX6btwJu28oltfve/r9Dwyjr27KF9+PcjoQT3hhBA9xIdIPWYhRL3li2s89xQnPc5nfLzLX4o8BrOavCHzo7xWJr68sTa7O0vRJz08rwE8wBkrPReMYDvKKPq8xKluPUIWgj0dsss6IgGKvCKvJTsE2EO8TDeZO6QcdryDRXQ9hSKGvXGUH703F9A80IKMPFmrEr0xeS29eK0ePBimDLwI8Ie6rBirO42phT2QaEa9TemkPGjPnDw9tz09zyhcvMU1gT0wbZQ60BpJPVeyRr1nNYm8wymDvJgHkT2pOls86jwavTWEh7wtthC9FX+rPZ9WJb19fso8T4N5O6O/UT1en9M8juW+vDB08zzpF44852unu0uOibxBKKU7g0v1OzNwSLwhUKA8ofX8O5PPSDzKPTY9N+MAvYL1y7tdEDE7LpgJPVw0R7wWkbO9SMBBvdEhWbyg+q88uzmIu7fUxbwNeFM9aIUzvCFACjz8Tc68wHxZvKdZIT2I2FC9ainIPFXmfz0nT5q7r4DyO+ZuVD2uWc08rSndvKd6Ij1GcXS8nBezPElqhjy8Dd+8D4TTvBS5fbxchce8C8oovbqEEL7YbRA9SSuFu7nArjy94we9ZhwPvSD1fL244rE8CfZbPSPurLs7Vz08TvpCvUtvNrxFyqI9qOWAPEGsfT3+J8086i0sPXVIuzze4dI84f20veubLjy8Nwg9YNVwvLDgwjzy7ri7G24dvYCzkLz6Tzw8vfWnPCretzyxERC9jfF7vT8NkDwSNPI8eyUOvTdeer3o0VS920CTvWeAF7w+rbq7+rGBvZrTvDze9we9q0AWvZy7Sj0wmGs9JW8qPRMjZrxr2L+8JrEJveFkID3nW1y9CWC+OxCttjySq0o9v8i3PK1zqLsENqY9rUZ6vKqok731iTg7bt0IPHtdL7yP7lc8PIflOxePX70mduQ7r/ItPIJpGLs4XzC8JD9HPORsP7zGgSc8zDiuvBb+obwW4ey8ZbiLPca19TvNksQ8ZLNnPLVfCj1l00G6fpMrPc8fXD1HRk28YFd2PEkFlrt+7QE9l/sFPHh37Tygl8M8icYzPGtnGbt/LDS8fqGZPcXWD72b++k7vZONu7cT+jzsPZA7m7U6vQfKKDyLKg48NOkuvQqeDb1Berc8x0s8vSYxATs1sOO7fvUzvZ9/3LwmgoC8cCw4Pba2aDxNU5i8zLEjvSFntDx9+n88OPC5vMTZCr1ErJO8Y98/vRdJXDx1eCy9xyU3vA9g5Tu4cBe9PtsgPcGsnbxk8He8D8Rtu/FyJ7zVByU9aMCCvVnNHLsSl5O8NWlZPLuDhjzMgba8s2YBPRdMsTm91229siiTPBFNTDxPZC884H9HvNfncLzfwqM9vabZPJArSr1/t7i8yn57OfvJbr2OOu48HKS3O+9ZQr1+aJc985G2uqupEL0nbYe9SzWqPBLa0bzSXey8XcxQvIhIYztJkFE9S61EPCl1ejvFR7u8Es6DPFPvJ71pjpq8xC48vDpkljx76yA8mXzAu+UA97uijUc9bLk1u6U6+Lwzy1q81vTmOyO0HDy0zGE8PwjSvA//iT053DG8bQmMPRTVtDwFFt698EEavE8RrDwFHX29BhfOvDIs1TzcfY48xCePPYyYZ71CSug8U3tvvSWRUb1D3bS7jXGOOmwwGrwYx3W9xRcEPXkqH73PHJW9BjMuPECg2bz+Oj48bVaevBsW1LzAKxw9J36fPEDl6bpDIc86gIcyPcZa1TwgyJq7hwkCOnPmZTvhFVM9eyTSvAxiSjxGMyM8Y+sPvbSOgjl1d8u8Cj00upyFq7sPIM88SjC4vGksubxjm3u8aUwBPUsDMD0GDUm8i24yPGikEzyGzVk6ZK1CvfuBNjwRfJu7O4N6POfXAj3y+i08MakevS3xpbv9hmM9jtveOzLeKjw68CE9HiK8vaVxozxiBzu9t8YaPQ1DeTxuC4Q8Aua+u8YPSrrmeLw6lBz+PBfKjTwZcPm8I/3xPKcHGjxlWCA9LaqqPXwKgrxm/Xu74buevI5fs7w254W9OtstPIlS0jyotw89noHOvA+sWDvSYU08HaCgvPSWBD2M6LG8z1ZevEuse7w7kN+7WPVKvSXjib1k5bc8jq8vvexiCz2a0SE8k2UjPT/fOT3ZSma9G+RVvfr0+rsrVSY9vNEOPR9P3LzTFI68tOkzvfdaHr2qNOk8NFGzPOUa/rwK9089xiQSvWcDyLyW00y9OhRhvRp5Sj285sE6"
}
