bundles/spark/kbs/soar-playbooks/entries/pb-cortexxdr-cortex-xdr-true-positive-incident-handling.json
{
  "id": "pb-cortexxdr-cortex-xdr-true-positive-incident-handling",
  "title": "Cortex XDR - True Positive Incident Handling",
  "category": "playbook",
  "content": "This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.\nThis playbook handles a true-positive incident closure for Cortex XDR - Malware Investigation.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (CortexXDR, xsoar-supported).\n\nUse cases: Malware.\n\nInputs — Comment: Add comment to close this incident.; Classification: Choose From - \"Unknown\" / \"TruePositive\"; BlockTag: Specify the banning tag name for founded indicators.; AutoIsolation: Indicates if automatic host isolation is allowed.\nTrue/False; TicketProjectName: For ticketing systems such as Jira a project name is required.; TicketingSystemToUse: The name of the ticketing system to use, for example Jira or ServiceNow; FileSha256: Enter the File SHA256 you would like to block. Also, this input can be used in the Threat Hunting step.; HostID: The ID of the host for running an isolation process.; FilePaths: Enter the File paths you would like to delete.; ManuallyChooseIOCForHunting: This input will provide you the ability to select IOCs to be hunted using the Threat Hunting - generic playbook.\nIf false, it will hunt for all IOCs detected in the incident.\nNote: You can also insert \"No Threat Hunting\" to skip the Threat Hunting stage..\n\nIntegrations/scripts used: AddEvidence, Cortex XDR - IR, IsIntegrationAvailable, ServiceNowCreateIncident, jira-create-issue, xdr-blocklist-files.",
  "raw_yaml": "id: Cortex XDR - True Positive Incident Handling\ninputs:\n- description: Add comment to close this incident.\n  key: Comment\n  playbookInputQuery:\n  required: false\n  value:\n    simple: 'XSOAR Incident #${incident.id}'\n- description: Choose From - \"Unknown\" / \"TruePositive\"\n  key: Classification\n  playbookInputQuery:\n  required: false\n  value:\n    simple: TruePositive\n- description: Specify the banning tag name for founded indicators.\n  key: BlockTag\n  playbookInputQuery:\n  required: false\n  value:\n    simple: BlockTag\n- description: |-\n    Indicates if automatic host isolation is allowed.\n    True/False\n  key: AutoIsolation\n  playbookInputQuery:\n  required: false\n  value:\n    simple: 'False'\n- description: For ticketing systems such as Jira a project name is required.\n  key: TicketProjectName\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: The name of the ticketing system to use, for example Jira or ServiceNow\n  key: TicketingSystemToUse\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Enter the File SHA256 you would like to block. Also, this input can be used in the Threat Hunting step.\n  key: FileSha256\n  playbookInputQuery:\n  required: false\n  value:\n    complex:\n      root: incident\n      accessor: filesha256\n      transformers:\n      - operator: uniq\n- description: The ID of the host for running an isolation process.\n  key: HostID\n  playbookInputQuery:\n  required: false\n  value:\n    complex:\n      root: incident\n      accessor: deviceid\n- description: Enter the File paths you would like to delete.\n  key: FilePaths\n  playbookInputQuery:\n  required: false\n  value:\n    complex:\n      root: incident\n      accessor: processpaths\n      transformers:\n      - operator: uniq\n- key: ManuallyChooseIOCForHunting\n  value:\n    simple: \"True\"\n  required: false\n  description: |-\n    This input will provide you the ability to select IOCs to be hunted using the Threat Hunting - generic playbook.\n    If false, it will hunt for all IOCs detected in the incident.\n    Note: You can also insert \"No Threat Hunting\" to skip the Threat Hunting stage.\n  playbookInputQuery:\n- key: IP\n  value:\n    complex:\n      root: IP\n      filters:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: IP.Address\n            iscontext: true\n      transformers:\n      - operator: uniq\n  required: false\n  description: IP value to hunt for.\n  playbookInputQuery:\n- key: MD5\n  value:\n    complex:\n      root: File.MD5\n      filters:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: File.MD5\n            iscontext: true\n      transformers:\n      - operator: uniq\n  required: false\n  description: MD5 file value to hunt for.\n  playbookInputQuery:\n- key: URL_or_Domain\n  value:\n    complex:\n      root: Domain\n      filters:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: Domain\n            iscontext: true\n      transformers:\n      - operator: append\n        args:\n          item:\n            value:\n              simple: URL\n            iscontext: true\n      - operator: uniq\n  required: false\n  description: URL or domain to hunt for.\n  playbookInputQuery:\n- key: FileSha1\n  value:\n    complex:\n      root: File\n      accessor: SHA1\n      transformers:\n      - operator: append\n        args:\n          item:\n            value:\n              simple: incident.filesha1\n            iscontext: true\n      - operator: uniq\n  required: false\n  description: File SHA1 value to hunt on.\n  playbookInputQuery:\nname: Cortex XDR - True Positive Incident Handling\noutputs: []\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"79\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 11349e70-efd4-44e1-8f86-8e119082bd38\n      iscommand: false\n      name: ''\n      version: -1\n      description: ''\n    taskid: 11349e70-efd4-44e1-8f86-8e119082bd38\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": -1430\n        }\n      }\n    continueonerrortype: \"\"\n  '3':\n    id: '3'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 981b2cb5-803f-4fd5-81f7-2cc7e572174c\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 981b2cb5-803f-4fd5-81f7-2cc7e572174c\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": 1205\n        }\n      }\n    continueonerrortype: \"\"\n  '7':\n    id: '7'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '3'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      id:\n        complex:\n          accessor: id\n          root: foundIncidents\n          transformers:\n          - args:\n              item:\n                iscontext: true\n                value:\n                  simple: incident.id\n            operator: append\n      closeNotes:\n        simple: ${inputs.Comment}\n      closeReason:\n        simple: ${inputs.Classification}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.close.inv\n      id: 9a9db41f-1f81-4939-89f9-4ce77e44781a\n      iscommand: true\n      name: Close  XSOAR incident\n      script: Builtin|||closeInvestigation\n      type: regular\n      version: -1\n    taskid: 9a9db41f-1f81-4939-89f9-4ce77e44781a\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": 1055\n        }\n      }\n    continueonerrortype: \"\"\n  '19':\n    id: '19'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    message:\n      bcc:\n      body:\n        simple: Approve isolation\n      cc:\n      format: ''\n      methods: []\n      replyOptions:\n      - Yes\n      - No\n      subject:\n      timings:\n        completeafterreplies: 1\n        completeaftersla: false\n        completeafterv2: false\n        retriescount: 2\n        retriesinterval: 360\n      to:\n    nexttasks:\n      '#default#':\n      - '44'\n      Yes:\n      - '70'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: c26e3e04-894f-4d26-80d3-2f0df6074981\n      iscommand: false\n      name: Approve isolation\n      description: Approve isolation\n      type: condition\n      version: -1\n    taskid: c26e3e04-894f-4d26-80d3-2f0df6074981\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1820,\n          \"y\": 410\n        }\n      }\n    continueonerrortype: \"\"\n  '20':\n    conditions:\n    - condition:\n      - - ignorecase: true\n          left:\n            iscontext: true\n            value:\n              simple: inputs.AutoIsolation\n          operator: isEqualString\n          right:\n            value:\n              simple: 'true'\n      label: yes\n    id: '20'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '19'\n      yes:\n      - '70'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: f745236a-b4e2-491f-8670-2ed157810803\n      iscommand: false\n      name: Is auto isolation allowed?\n      description: Is auto isolation allowed?\n      type: condition\n      version: -1\n    taskid: f745236a-b4e2-491f-8670-2ed157810803\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1610,\n          \"y\": 240\n        }\n      }\n    continueonerrortype: \"\"\n  '21':\n    id: '21'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '22'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 637d780b-eed7-458a-804f-fb5bd51d6320\n      iscommand: false\n      name: Incident Auditing\n      type: title\n      version: -1\n      description: ''\n    taskid: 637d780b-eed7-458a-804f-fb5bd51d6320\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2860,\n          \"y\": -20\n        }\n      }\n    continueonerrortype: \"\"\n  '22':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: inputs.TicketingSystemToUse\n          operator: containsString\n          right:\n            value:\n              simple: SNOW\n          ignorecase: true\n        - operator: containsString\n          left:\n            value:\n              simple: inputs.TicketingSystemToUse\n            iscontext: true\n          right:\n            value:\n              simple: ServiceNow\n          ignorecase: true\n      label: SNOW\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: inputs.TicketingSystemToUse\n          operator: containsString\n          right:\n            value:\n              simple: JIRA\n      label: JIRA\n    id: '22'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '25'\n      JIRA:\n      - '57'\n      SNOW:\n      - '56'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 4998e2bc-c881-419d-8248-97e0744f8bff\n      iscommand: false\n      name: Is a ticketing system defined?\n      description: Is a ticketing system defined?\n      type: condition\n      version: -1\n    taskid: 4998e2bc-c881-419d-8248-97e0744f8bff\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2860,\n          \"y\": 110\n        }\n      }\n    continueonerrortype: \"\"\n  '25':\n    id: '25'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '53'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: c5403268-5531-455d-8224-2c7bacde048f\n      iscommand: false\n      name: Done auditing step\n      type: title\n      version: -1\n      description: ''\n    taskid: c5403268-5531-455d-8224-2c7bacde048f\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2860,\n          \"y\": 770\n        }\n      }\n    continueonerrortype: \"\"\n  '26':\n    id: '26'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '27'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: dffa5a0f-848c-4c2c-8345-c1a330cdf68e\n      iscommand: false\n      name: Block Indicators\n      type: title\n      version: -1\n      description: ''\n    taskid: dffa5a0f-848c-4c2c-8345-c1a330cdf68e\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -990,\n          \"y\": 120\n        }\n      }\n    continueonerrortype: \"\"\n  '27':\n    form:\n      description: ''\n      expired: false\n      questions:\n      - defaultrows: []\n        fieldassociated: ''\n        gridcolumns: []\n        id: '0'\n        label: ''\n        labelarg:\n          simple: Mark the indicators to block\n        options: []\n        optionsarg:\n        - complex:\n            root: inputs.FileSha256\n            transformers:\n            - operator: uniq\n        placeholder: ''\n        readonly: false\n        required: false\n        tooltip: ''\n        type: multiSelect\n      sender: ''\n      title: Indicators to block\n      totalanswers: 0\n    id: '27'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    message:\n      bcc:\n      body:\n      cc:\n      format: ''\n      methods: []\n      subject:\n      timings:\n        completeafterreplies: 1\n        completeaftersla: false\n        completeafterv2: true\n        retriescount: 2\n        retriesinterval: 360\n      to:\n    nexttasks:\n      '#none#':\n      - '75'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: dc20ccc0-debb-429b-8acd-44950a7ad521\n      iscommand: false\n      name: Confirm Indicators to block\n      description: Confirm Indicators to block\n      type: collection\n      version: -1\n    taskid: dc20ccc0-debb-429b-8acd-44950a7ad521\n    timertriggers: []\n    type: collection\n    view: |-\n      {\n        \"position\": {\n          \"x\": -990,\n          \"y\": 240\n        }\n      }\n    continueonerrortype: \"\"\n  '29':\n    id: '29'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '30'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      indicatorsValues:\n        simple: ${Indicators to block.Answers.0}\n      tags:\n        simple: ${inputs.BlockTag}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.indicators\n      id: a75770e3-3c63-4198-8193-7f57e39f2234\n      iscommand: true\n      name: Tag Indicators\n      script: Builtin|||setIndicators\n      type: regular\n      version: -1\n    taskid: a75770e3-3c63-4198-8193-7f57e39f2234\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1200,\n          \"y\": 580\n        }\n      }\n    continueonerrortype: \"\"\n  '30':\n    id: '30'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '53'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: d0fccaee-9158-44ad-867d-3da0cb14a62d\n      iscommand: false\n      name: Done block indicators\n      type: title\n      version: -1\n      description: ''\n    taskid: d0fccaee-9158-44ad-867d-3da0cb14a62d\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -990,\n          \"y\": 770\n        }\n      }\n    continueonerrortype: \"\"\n  '33':\n    id: '33'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '20'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 9db48d58-13dc-4d2b-8fc8-f934b8a8e61d\n      iscommand: false\n      name: Isolate system/s\n      type: title\n      version: -1\n      description: ''\n    taskid: 9db48d58-13dc-4d2b-8fc8-f934b8a8e61d\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1610,\n          \"y\": 120\n        }\n      }\n    continueonerrortype: \"\"\n  '44':\n    id: '44'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '53'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 0fc69008-4879-44e6-8efa-f52a037d6402\n      iscommand: false\n      name: Done with isolating the infected device\n      type: title\n      version: -1\n      description: ''\n    taskid: 0fc69008-4879-44e6-8efa-f52a037d6402\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1610,\n          \"y\": 770\n        }\n      }\n    continueonerrortype: \"\"\n  '53':\n    id: '53'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '7'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 415a1b04-7375-4189-82dd-48f9b54d4ff9\n      iscommand: false\n      name: Final Closure\n      type: title\n      version: -1\n      description: ''\n    taskid: 415a1b04-7375-4189-82dd-48f9b54d4ff9\n    timertriggers:\n    - fieldname: containmentsla\n      action: stop\n    - fieldname: remediationsla\n      action: stop\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": 920\n        }\n      }\n    continueonerrortype: \"\"\n  '54':\n    id: '54'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '25'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      description:\n        simple: ${inputs.Comment}\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: ''\n      description: |-\n        This script is used to wrap the generic create-record command in ServiceNow.\n        You can add fields that you want to create the record with as script arguments or in the\n        code and work with the records easily.\n      id: e7d1c80a-7f2d-4545-8ff7-c65ea67ca265\n      iscommand: false\n      name: Open Snow ticket\n      type: regular\n      version: -1\n      script: ServiceNowCreateIncident\n    taskid: e7d1c80a-7f2d-4545-8ff7-c65ea67ca265\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3070,\n          \"y\": 460\n        }\n      }\n    continueonerrortype: \"\"\n  '55':\n    id: '55'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '25'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      projectName:\n        simple: ${inputs.TicketProjectName}\n      summary:\n        simple: ${inputs.Comment}\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: ''\n      description: Creates a new issue in Jira.\n      id: 05db7622-4b76-443d-8c1b-969f7ab4837b\n      iscommand: true\n      name: Open Jira ticket\n      script: '|||jira-create-issue'\n      type: regular\n      version: -1\n    taskid: 05db7622-4b76-443d-8c1b-969f7ab4837b\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2650,\n          \"y\": 460\n        }\n      }\n    continueonerrortype: \"\"\n  '56':\n    id: '56'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      yes:\n      - '54'\n      '#default#':\n      - \"25\"\n    note: false\n    quietmode: 0\n    results:\n    - brandInstances\n    scriptarguments:\n      brandname:\n        simple: ServiceNow v2\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Returns 'yes' if the integration brand is available. Otherwise returns 'no'.\n      id: 741f883d-a6f0-408a-89fe-f326e39cc9da\n      iscommand: false\n      name: Is ServiceNow Available?\n      scriptName: IsIntegrationAvailable\n      type: condition\n      version: -1\n    taskid: 741f883d-a6f0-408a-89fe-f326e39cc9da\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3070,\n          \"y\": 280\n        }\n      }\n    continueonerrortype: \"\"\n  '57':\n    id: '57'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      yes:\n      - '55'\n      '#default#':\n      - \"25\"\n    note: false\n    quietmode: 0\n    results:\n    - brandInstances\n    scriptarguments:\n      brandname:\n        simple: jira-v2\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Returns 'yes' if the integration brand is available. Otherwise returns 'no'.\n      id: b6bda6ab-a83f-4e7d-804a-7c7c255db9d7\n      iscommand: false\n      name: Is Jira Available?\n      scriptName: IsIntegrationAvailable\n      type: condition\n      version: -1\n    taskid: b6bda6ab-a83f-4e7d-804a-7c7c255db9d7\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2650,\n          \"y\": 280\n        }\n      }\n    continueonerrortype: \"\"\n  '64':\n    id: '64'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '53'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 48698586-b1d5-4a9a-8ed3-ee37b7e2a1ee\n      iscommand: false\n      name: Done cleaning malicious file\n      type: title\n      version: -1\n      description: ''\n    taskid: 48698586-b1d5-4a9a-8ed3-ee37b7e2a1ee\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2240,\n          \"y\": 770\n        }\n      }\n    continueonerrortype: \"\"\n  '66':\n    id: '66'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '74'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 084ee8e5-5651-4bf6-88ae-3360ecc1ea22\n      iscommand: false\n      name: Clean Malicious Files\n      type: title\n      version: -1\n      description: ''\n    taskid: 084ee8e5-5651-4bf6-88ae-3360ecc1ea22\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2240,\n          \"y\": -20\n        }\n      }\n    continueonerrortype: \"\"\n  '70':\n    id: '70'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    loop:\n      exitCondition: ''\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - '44'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      endpoint_id:\n        complex:\n          root: inputs.HostID\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: ''\n      description: This playbook accepts an XDR endpoint ID and isolates it using the 'Palo Alto Networks Cortex XDR - Investigation and Response' integration.\n      id: 81b48996-c4a7-43c4-851f-77bedd1b169a\n      iscommand: false\n      name: Cortex XDR - Isolate Endpoint\n      type: playbook\n      version: -1\n      playbookName: Cortex XDR - Isolate Endpoint\n    taskid: 81b48996-c4a7-43c4-851f-77bedd1b169a\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1610,\n          \"y\": 580\n        }\n      }\n    continueonerrortype: \"\"\n  '72':\n    id: '72'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '30'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      hash_list:\n        simple: ${Indicators to block.Answers.0}\n      incident_id:\n        simple: ${incident.externalsystemid}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Block lists requested files which have not already been block listed or added to allow lists.\n      id: f46a2197-9bb8-40c4-8916-e99ca9f5e572\n      iscommand: true\n      name: Create IOCs in Cortex XDR - Banned Hashes\n      script: '|||xdr-blocklist-files'\n      type: regular\n      version: -1\n    taskid: f46a2197-9bb8-40c4-8916-e99ca9f5e572\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 580\n        }\n      }\n    continueonerrortype: \"\"\n  '74':\n    form:\n      description: ''\n      expired: false\n      questions:\n      - defaultrows: []\n        fieldassociated: ''\n        gridcolumns: []\n        id: '0'\n        label: ''\n        labelarg:\n          simple: Confirm which File Path will be deleted\n        options: []\n        optionsarg:\n        - simple: ${inputs.FilePaths}\n        placeholder: ''\n        readonly: false\n        required: false\n        tooltip: ''\n        type: multiSelect\n      sender: ''\n      title: Confirm which File Path will be deleted\n      totalanswers: 0\n    id: '74'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    message:\n      bcc:\n      body:\n      cc:\n      format: ''\n      methods: []\n      subject:\n      timings:\n        completeafterreplies: 1\n        completeaftersla: false\n        completeafterv2: true\n        retriescount: 2\n        retriesinterval: 360\n      to:\n    nexttasks:\n      '#none#':\n      - '76'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: a796d2a1-aa24-474b-86f8-a924de9a6921\n      iscommand: false\n      name: Confirm which File Path will be deleted\n      description: Confirm which File Path will be deleted\n      type: collection\n      version: -1\n    taskid: a796d2a1-aa24-474b-86f8-a924de9a6921\n    timertriggers: []\n    type: collection\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2240,\n          \"y\": 240\n        }\n      }\n    continueonerrortype: \"\"\n  '75':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: Indicators to block.Answers.0\n          operator: isNotEmpty\n      label: yes\n    id: '75'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '30'\n      yes:\n      - '29'\n      - '72'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: feaee1c2-e038-485d-87d7-0f00dde68c1b\n      iscommand: false\n      name: Was there any hash selected?\n      description: Was there any hash selected?\n      type: condition\n      version: -1\n    taskid: feaee1c2-e038-485d-87d7-0f00dde68c1b\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -990,\n          \"y\": 410\n        }\n      }\n    continueonerrortype: \"\"\n  '76':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: Confirm which File Path will be deleted.Answers.0\n          operator: isNotEmpty\n          right:\n            value: {}\n      label: yes\n    id: '76'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '64'\n      yes:\n      - '91'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 910e051c-6606-49c7-85a3-9abb353c0a7c\n      iscommand: false\n      name: Was there any hash selected?\n      description: Was there any hash selected?\n      type: condition\n      version: -1\n    taskid: 910e051c-6606-49c7-85a3-9abb353c0a7c\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2240,\n          \"y\": 410\n        }\n      }\n    continueonerrortype: \"\"\n  \"78\":\n    id: \"78\"\n    taskid: 77f60012-6352-4ecf-881f-50a16d1a519e\n    type: title\n    task:\n      id: 77f60012-6352-4ecf-881f-50a16d1a519e\n      version: -1\n      name: Containment\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"26\"\n      - \"33\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1300,\n          \"y\": -20\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: containmentsla\n      action: start\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"79\":\n    id: \"79\"\n    taskid: 1a7b0178-69d8-49f9-86fa-2f8c467cea8a\n    type: title\n    task:\n      id: 1a7b0178-69d8-49f9-86fa-2f8c467cea8a\n      version: -1\n      name: Threat Hunting\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"85\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": -1300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"83\":\n    id: \"83\"\n    taskid: b4819f01-6e95-4f60-844f-8c5c6dfa14c4\n    type: title\n    task:\n      id: b4819f01-6e95-4f60-844f-8c5c6dfa14c4\n      version: -1\n      name: Remediation\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"21\"\n      - \"78\"\n      - \"66\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": -160\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: remediationsla\n      action: start\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"84\":\n    id: \"84\"\n    taskid: f7fb79ae-a021-4009-83c1-cc3ec00bfc66\n    type: playbook\n    task:\n      id: f7fb79ae-a021-4009-83c1-cc3ec00bfc66\n      version: -1\n      name: Threat Hunting - Generic\n      description: \"This playbook enables threat hunting for IOCs in your enterprise. It currently supports the following integrations: - Splunk\\n- Qradar\\n- Pan-os \\n- Cortex data lake \\n- Autofocus\\n- Microsoft 365 Defender\"\n      playbookName: Threat Hunting - Generic\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"89\"\n    scriptarguments:\n      IPAddress:\n        complex:\n          root: inputs.IP\n          transformers:\n          - operator: uniq\n      MD5:\n        complex:\n          root: inputs.MD5\n          transformers:\n          - operator: uniq\n      QRadarTimeFrame:\n        simple: LAST 7 DAYS\n      SHA1:\n        complex:\n          root: inputs.FileSha1\n          transformers:\n          - operator: uniq\n      SHA256:\n        complex:\n          root: inputs.FileSha256\n          transformers:\n          - operator: uniq\n      SplunkEarliestTime:\n        simple: -7d@d\n      SplunkLatestTime:\n        simple: now\n      URLDomain:\n        complex:\n          root: inputs.URL_or_Domain\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1990,\n          \"y\": -830\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"85\":\n    id: \"85\"\n    taskid: 15086b73-5911-4d19-8e35-0e795301c484\n    type: condition\n    task:\n      id: 15086b73-5911-4d19-8e35-0e795301c484\n      version: -1\n      name: Should the analyst choose the indicators to hunt?\n      description: Should the analyst choose the indicators to hunt?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"84\"\n      No Hunting:\n      - \"83\"\n      \"yes\":\n      - \"86\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.ManuallyChooseIOCForHunting\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n          ignorecase: true\n    - label: No Hunting\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: inputs.ManuallyChooseIOCForHunting\n            iscontext: true\n          right:\n            value:\n              simple: No Threat Hunting\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1770,\n          \"y\": -1170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"86\":\n    id: \"86\"\n    taskid: 35d1b2c6-b7ea-4861-8fe1-6d915ce0bc0b\n    type: collection\n    task:\n      id: 35d1b2c6-b7ea-4861-8fe1-6d915ce0bc0b\n      version: -1\n      name: Specify IOCs to hunt upon\n      description: Specify the IOCs to hunt for.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"90\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2390,\n          \"y\": -1000\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        simple: Analyst\n      subject:\n        simple: Specify the IOCs to hunt for.\n      body:\n      methods:\n      - email\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Which IPs should be hunted for?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - complex:\n            root: inputs.IP\n            accessor: Address\n            transformers:\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Which SHA256 files should be hunted for?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - complex:\n            root: inputs.FileSha256\n            transformers:\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Which SHA1 files should be hunted for?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - complex:\n            root: inputs.FileSha1\n            transformers:\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: Which MD5 files should be hunted for?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - complex:\n            root: inputs.MD5\n            transformers:\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"4\"\n        label: \"\"\n        labelarg:\n          simple: Which URLs/Domains should be hunted for?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - complex:\n            root: inputs.URL_or_Domain\n            transformers:\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Specify the IOCs to hunt upon.\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"87\":\n    id: \"87\"\n    taskid: 0cf8f731-f261-41a3-85e1-4fa4b1a9afe5\n    type: regular\n    task:\n      id: 0cf8f731-f261-41a3-85e1-4fa4b1a9afe5\n      version: -1\n      name: Tag the threat hunting results as Evidence\n      description: |\n        Adds provided entries to the incident Evidence Board. In a playbook, this can be positioned after a task to add the previous task's entries to the Evidence Board automatically (with no need to provide arguments).\n      scriptName: AddEvidence\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"88\"\n    scriptarguments:\n      entryIDs:\n        complex:\n          root: lastCompletedTaskEntries\n      tags:\n        simple: Found additional assets\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2190,\n          \"y\": -490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"88\":\n    id: \"88\"\n    taskid: 4375e8c0-3bdd-4e5e-85a7-0cd3dd2a0f68\n    type: regular\n    task:\n      id: 4375e8c0-3bdd-4e5e-85a7-0cd3dd2a0f68\n      version: -1\n      name: Add 'Found additional assets' tag to the incident\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"83\"\n    scriptarguments:\n      appendTags:\n        simple: \"true\"\n      tags:\n        simple: Found additional assets\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2190,\n          \"y\": -340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"89\":\n    id: \"89\"\n    taskid: 9050d570-9035-49f1-8b76-ebc28731cacb\n    type: condition\n    task:\n      id: 9050d570-9035-49f1-8b76-ebc28731cacb\n      version: -1\n      name: Are there any results?\n      description: Are there any results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"83\"\n      \"yes\":\n      - \"87\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: Splunk\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: PANWHunting\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: Microsoft365Defender\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: QRadar\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1990,\n          \"y\": -660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"90\":\n    id: \"90\"\n    taskid: 19cd7958-6923-458d-8235-850eac96511e\n    type: playbook\n    task:\n      id: 19cd7958-6923-458d-8235-850eac96511e\n      version: -1\n      name: Threat Hunting - Generic\n      description: \"This playbook enables threat hunting for IOCs in your enterprise. It currently supports the following integrations: - Splunk\\n- Qradar\\n- Pan-os \\n- Cortex data lake \\n- Autofocus\\n- Microsoft 365 Defender\"\n      playbookName: Threat Hunting - Generic\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"89\"\n    scriptarguments:\n      IPAddress:\n        simple: ${Specify IOCs to hunt upon.Answers.0}\n      MD5:\n        simple: ${Specify IOCs to hunt upon.Answers.3}\n      QRadarTimeFrame:\n        simple: LAST 7 DAYS\n      SHA1:\n        complex:\n          root: Specify IOCs to hunt upon.Answers\n          accessor: \"2\"\n      SHA256:\n        complex:\n          root: Specify IOCs to hunt upon.Answers\n          accessor: \"1\"\n      SplunkEarliestTime:\n        simple: -7d@d\n      SplunkLatestTime:\n        simple: now\n      URLDomain:\n        complex:\n          root: Specify IOCs to hunt upon.Answers\n          accessor: \"4\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2390,\n          \"y\": -830\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"91\":\n    id: \"91\"\n    taskid: c79fa8ce-3da8-424b-865d-e1994c3ea043\n    type: regular\n    task:\n      id: c79fa8ce-3da8-424b-865d-e1994c3ea043\n      version: -1\n      name: xdr-file-delete-script-execute\n      description: Initiates a new endpoint script execution to delete the specified\n        file.\n      script: Cortex XDR - IR|||xdr-file-delete-script-execute\n      type: regular\n      iscommand: true\n      brand: Cortex XDR - IR\n    nexttasks:\n      '#none#':\n      - \"64\"\n    scriptarguments:\n      endpoint_ids:\n        complex:\n          root: inputs.HostID\n      file_path:\n        complex:\n          root: Confirm which File Path will be deleted.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: uniq\n      timeout_in_seconds:\n        simple: \"600\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2030,\n          \"y\": 580\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2700,\n        \"width\": 2670,\n        \"x\": -3070,\n        \"y\": -1430\n      }\n    }\n  }\nversion: -1\ntests:\n- Test XDR Playbook\nfromversion: 6.5.0\ndescription: |-\n  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.\n  This playbook handles a true-positive incident closure for Cortex XDR - Malware Investigation.\ncontentitemexportablefields:\n  contentitemfields: {}\n",
  "product": "Cortex XSOAR",
  "pack": "CortexXDR",
  "support_tier": "xsoar",
  "use_cases": [
    "Malware"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "jbqzPBj6LrxFeYe9zUagvGU3zD3xAjo3qg+aPWho5jzlU4A7y6fGu4y2pbuUlYE9z35wPb7Ivry4eqc8MTpYvUzCOj1Cj1g9oI+VvAF9Ib3NWjW9AvFRva9yAryifKA7lVRivOKcub1fr487EPrzvAMGhrzAzYQ6D0QtO8iFRT0fKcI8g7cVPF7D6byb9D29D//2vGpEXLzzHmO8Z2/juuqyab32b+a7TnP9vH/hHj0T0im8wXd8vCTVH71DSM88OXrWuqEtwDxFTLY9nop5vEUsWr2dM8Y8yURwvI0egb0APCu8xxqkvej9pbwGGCQ7bSz0uuvoJL0NUoo8jmgJPbnkNT0E4mI5E04gvKw717xieD+9IOVXPfawhL17ArE8zBTevJO+zDt0rYg8vDc7vHo8h7tcAcW8K+e7PF4CWT2Uclg7YaWKvBgsXD0TS007aygOvbODrbt04v86X1aAvYle0LufjYe8o8GsPdRKy7xyTii8GByZPTOFfD06WrW8eth6vZ5v1L1+hSo8lUYSPbCKSLw9D/m8cWixvPczIDqNd/s8lMkePZfHbbwH7yG9qn6KvcnA0zzd2Dc8KTBbvDEq2LyKpEs95EM/vW8NKjwtkpu7mUMpPQuB0LxoB5y9A1UhPDImaz0SqCi8013/O4eATT2XAsA9Cr5BvBqMWby6biQ8fHoRvBBIozwtBSy8LgrNO3oVIL1Vccy8+g97vK5hHTxeZ9y88XgWPSOJzTy5Iqu7ZN71uyQ++r2L2BK8mrAFPcc1+Ly7vl49VR28PcfZAL0J01K8lo/YvLvXcrwLC9W8aEoevPi2Jr09RuC8BuGBPMJsgr3UtdI8o0CDvYa7Vrvs1Ay94sthvKyn9DtaUzC9CBnwvLO8sLySTRY8fZWAvcu+5Tg6p425RuLrvDaAH71Tg/G8vvhTuwh3Gj1z68c8nfoePF/NG72lIxA8qnWgPb7PczubSaw8qeefvRgAqzzRm5w8ivPRumk7yTzJKQg9W3MoPSQBujtbj6482/2XPBMggz05aoe9874Tuj0kGT1C7Wo7j+pSvaJQAbybfMI9kZzcOjXEk7zApLW9+/p0vQJ1mbzgHwS9UGBivQJJqjwdRtq8W6vOvHQ+7zw0SY28lWzMvFtkEDxc56K8guQbPSH76zx5oKM9gz/JO/MfSj06TaA7Y+kMvP3xqrytdKU79F9SPQzglb0yXaE9P3VHuw66W70z4TK8jEEkPbbxubuXRM68z3OJu+0qLD1fooE9nP4/vWhOm7y/nqQ8VjRxvXogGz1X11a7KkP1O4rEXz1PrFC9oFILPRQWJzpdu+a6rHMjvUI6QDkYXNu7Lcm4PA2RhTzXfnK7RBMtu/pkADwMByu9hGgTPb0L8rwpt6k9rv88vaov8jvhVs+8zAjKvG/ZVb1AYO28CvnUvGQGGj2FUrg5oPRgPKAcmLzHBai8/eLkvDY4T70b2Ne8DOI4vRHyHj3oWpS9AW6OvbEu97zoBea8FgXOPF8u3LxaeRi83vfLvKGBMb0NDz29FD8jvZafNTwCKVM9lgFaPXETn7yaPJu9nKLSPDdIKT0U++Q8HMeiPQhyq7zsh3685fAYPe89NT1+8M26bfsyPL6Xb7wSRbQ89yBgPA9wIbsgj6i8DYcSvANeHT26+Rg9LFPDvBJBYzzmuKK8QASuu4gx3L0LzoO8e1vxOj1PSzzHNMw8m9AlPTfKqLztZ0o93iu6vEaPYby6y3K8l4IMvY6YBj1hkYe9xcetPMP6oDwaI7G6SsW0u2+6QrzAvE090SOEvfcsJz0v3zc97cKYvMN8HDy6yXM8kZ0bPRRdhbtfTuW8Fz1YvTdySjswufs5E1dSPUthxjuDntU8rdVTPXI2sryT9T8938ooPWg/xbzg4ec7PE0qvahAoDspckS8Z7RwvHF3cD10MYY77iQePT6GNDxTjL+8F4gXPWUcKT0j9g89l6SKvBcCiLyhiTO8SORCvOiBDL2IAP48Vk3TvdwvmzrTkWA7RB8YPJ14KL0TIju9U2ISPUucL7xeNjE8jhZRPMcwxj1klR69TBk+vBEp2DxcMXW7nxJ7vWHcxT1m6xI70K5ZPZs5AL1r9Qa8bru6vC5wsD0B7A49GQ2kvCuLzrzZRsu7XkVDPV26Xr31dqQ8YundPD18Bz3aTes8aOZvveJxdTw8TgO8/vPFvHaZ0bq6JmY8ERJyvIRZYzso2q08Q9kxPJwAM7yVnRc9Od06vEFU8zyVdyQ7dsihPHFi9bx0B7+92FrfvD1XIDpjYwg9M2mwupaqCTyS2kQ9z7Riuzcz4zsrdEo8GdRIuyTzRj00OOW887PrO/zzCTskcO26V7uEPP8rlD1tyOY86INnvNacZTz/wo68r4pIvJkZkj28kSK99JhpvRWLLTwsQL28qQYKvQkdAL7CNKY88WyDuR9cljzZun68zGp9PIAvBb217Ak89/IiPVBT2rwsf5a8GXOJveR2Kbs+C5Y9W5ctvTfT0jwFCxs8lI5tPBTAxzxltNI8IFWSvXIZHD35B2U9vmtCPLiNkzzq3EI8x50Avbt23TsIyTs8ntu3u22fAD3+WJ69c7abvFFzSTwPMoI8PftDvZ43l70SIeG8IHRFvVobl7zzERg8xmiLveOswzywbSy83cGKvAztxjx1C509eYUkPawN0rxPBgi89+8AvE/mKz0BFDC9qZ+Puuhel7ykIDM9GcB8PbifyLquwkc9ktrqu8C5br3UW848qJUFPINnz7xibZE8Pno6PXv3HL3oFms7ut+TPC6oQztLcxu9HF66OuVRy7wyfyO8FaDBvM2gqrwLHCe8r4VAPbSHUrtJJ9g8+FhmPF159DzuL/w8U8LpPDfEcz1KDQQ8WZLYPKuGCz3pqmA8PRw6PHMFGj0ecPE8F4XdOvY6yTvMoCU7paikPeIe0rxIAJK7N7Y0PNdOLTyrSDm7Y8CLvbz61zwKOu86PatjO75gK72WIxk9vZ4JPL/N6Ls5G2a8b4CQvO06Sby2prm84JoXPXkYFjwNXim7oq0Rvdp2Zzwqg6i7MSmOvH9KUbzyNxy8ALX4vFqdFrshX1+9ywoZO8qYWDy+Gqw8WbxePL61jLt6C/e8xiVbvL/nhbw6s/c7PHpMvXzR3jq19gS9hFsOvcdg4jzuA7i8NPNKu0VhYzxaf0K9MN47O2nToDwEFBO84ussum3gab3lpJk9losFvB7Cd73P/xW9fGL7vAjJq73Ol9U80a/hOymk77yguik9w9PkOyJPW72/eFK9L/AwPWa1cb292Ca8wUJbvBi68roiEfY8XKmeuwfEQLx2HgO9g4IFPf54NLyE1Bq9u+5Rvckx/DtVkXg8hOySvJwdEbyNRGI9LW4Kvfru0bz97is6cktWPLo1FrymDjQ9nFU/vUTF5Twc7468dlSvPeDxKjzFcLi9TdVZvfluRT2+jZi9yA4rvVIjNT261ME7FDRhPO6qA7015Gw964ZUvTlLAb2qlmu8sSeevNd7xjygrVy94kE1PeoWBb04TKm9vdivPG3ifb3+z6A7ugn6vKfy67x0FPe77FQgvAmnF73XMWQ89VSCPDx6Mj1Rb+S7nLg6vEDM2boLwnk9PmgUvU3zjjznnuM7v30IvSClhzymO9G88CcAPEnUWjxyl6U7bCxLvcOF3rxZ6Iq7wC20PEuJOD2w8ae8H5Llu1woT7xZQoc8jPdCvQgTVTybdsS7RGfru6lMrTzywR+8rd0PvUm6ALynP/M8xkr8u+lpDjzaj049xgO+vcL5Hb1vbmi9DD0WPXnDbD0oj067t5DaO1LzLbxz/OA8YRnvPJwZszz9/1m9nNvhPM0rirzMFpc8Qa0yPbsvH7zCoq07JBiOvEjYyTkf24a9vU7AOwj/7zwG51k9GzjrvHEDNTw/Qu08Uxwpvac/Z7zEvQq9SVXiu/vEBb05l3S8HFxXvc48U72lT4W8uakNvXFXXT00Zck8TQECPfONAj2Wa5W9q+iQvUkqMLxBexc9hANHPW63i7yKFpU6cuouvbhks7xpS+Y8vk0SPFdD7Dt7Z209+mfRvBecb7w5O228f25bvdli8TyS7Qe8"
}
