bundles/spark/kbs/soar-playbooks/entries/pb-cortexxdr-cortex-xdr-possible-external-rdp-brute-force.json
{
  "id": "pb-cortexxdr-cortex-xdr-possible-external-rdp-brute-force",
  "title": "Cortex XDR - Possible External RDP Brute-Force",
  "category": "playbook",
  "content": "This playbook investigates a “Possible External RDP Brute Force” XDR Alert by gathering user, IP, and hostname information, and investigating if the following suspicious elements exists:\n\n- \"IP Reputation\" - Dbot Score is 2-3 \n- \"Source geolocation\" - RDP Connection made from rare geo-location \n-  Related to campaign - IP address is related to campaign, based on TIM module\n-  Hunting results - the hunt for indicators related to the source IP and the related campaign returned results\n-  XDR Alert search - XDR Alerts that related to the same username and endpoint, and to the MITRE tactics that comes after \"Credential Access\", were found.\n- Risky User - The user that was identified in the attack was given a medium or high score by XDR's ITDR module.\n- Risky Host - The destination host that was identified in the attack was given a medium or high score by XDR's ITDR module.\n\nSet verdict method:\n* Critical Element - The \"Critical Element\" input allows you to select a specific element that, if identified as suspicious,  the investigation's final verdict will be deemed a \"True Positive\".\n\n* Final Verdict -  Each suspicious element is being added to an array called \"Suspicious Elements\", which is used to count potential security threats. The array size will be compared to a final threshold. If the size is greater than or equal to the threshold, the investigation's final verdict will be deemed a \"True Positive\".\n\n* User Engagement - The \"UserEngagementThreshold\" input allows you to set the number of suspicious elements that trigger user engagement. When this threshold is met, an email will be sent to the user and their manager asking for authorization of RDP activity. If the RDP activity is not authorized by the user, the investigation's final verdict will be deemed a \"True Positive\".\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (CortexXDR, xsoar-supported).\n\nUse cases: Malware.\n\nInputs — Username: RDP connection username.; ExternalIP: Source external IP address.; AutoRemediation: Set this value to \"true\" to enable auto remediation (IP Block and User Block).; FinalThreshold: The threshold number of suspicious elements required to determine a 'True Positive' verdict.; CriticalElement: You can select a specific element that, if identified as suspicious, will automatically set the final verdict as true positive. The following options are available:\nIP Reputation\nRelated Campaign\nHunting Results\nRelated Alerts\nUnusual Country\nRisky User\nRisky Host\n\nNOTE: You can read about the meaning of every element in the playbook description.; UserEngagementThreshold: The threshold number of suspicious elements that will trigger a user engagement. Set 0 to disable user engagement.\n\nNOTICE: If this threshold is equal to or higher than \"FinalThreshold\", the final verdict will be deemed by the user response and not by the FinalThreshold calculation.; Hostname: RDP connection destination hostname.; EndpointID: RDP connection destination endpoint ID.; Alert_Name: Alert name.; AlertDescription: Alert description..\n\nIntegrations/scripts used: IsIntegrationAvailable, Set, ad-expire-password, ip.",
  "raw_yaml": "id: Cortex XDR - Possible External RDP Brute-Force\nversion: -1\nname: Cortex XDR - Possible External RDP Brute-Force\ndescription: \"This playbook investigates a “Possible External RDP Brute Force” XDR Alert by gathering user, IP, and hostname information, and investigating if the following suspicious elements exists:\\n\\n- \\\"IP Reputation\\\" - Dbot Score is 2-3 \\n- \\\"Source geolocation\\\" - RDP Connection made from rare geo-location \\n-  Related to campaign - IP address is related to campaign, based on TIM module\\n-  Hunting results - the hunt for indicators related to the source IP and the related campaign returned results\\n-  XDR Alert search - XDR Alerts that related to the same username and endpoint, and to the MITRE tactics that comes after \\\"Credential Access\\\", were found.\\n- Risky User - The user that was identified in the attack was given a medium or high score by XDR's ITDR module.\\n- Risky Host - The destination host that was identified in the attack was given a medium or high score by XDR's ITDR module.\\n\\nSet verdict method:\\n* Critical Element - The \\\"Critical Element\\\" input allows you to select a specific element that, if identified as suspicious,  the investigation's final verdict will be deemed a \\\"True Positive\\\".\\n\\n* Final Verdict -  Each suspicious element is being added to an array called \\\"Suspicious Elements\\\", which is used to count potential security threats. The array size will be compared to a final threshold. If the size is greater than or equal to the threshold, the investigation's final verdict will be deemed a \\\"True Positive\\\".\\n\\n* User Engagement - The \\\"UserEngagementThreshold\\\" input allows you to set the number of suspicious elements that trigger user engagement. When this threshold is met, an email will be sent to the user and their manager asking for authorization of RDP activity. If the RDP activity is not authorized by the user, the investigation's final verdict will be deemed a \\\"True Positive\\\".\\n\"\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 92a82d84-7846-4fe3-8539-b90a0e1524ad\n    type: start\n    task:\n      id: 92a82d84-7846-4fe3-8539-b90a0e1524ad\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": -750\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 5734023e-1a6c-477a-8f9e-3cfc2e0f2c71\n    type: title\n    task:\n      id: 5734023e-1a6c-477a-8f9e-3cfc2e0f2c71\n      version: -1\n      name: Analysis\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n      - \"33\"\n      - \"155\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": -615\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: triagesla\n      action: start\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 3744688c-5987-4596-8d82-421cf1075421\n    type: playbook\n    task:\n      id: 3744688c-5987-4596-8d82-421cf1075421\n      version: -1\n      name: Account Enrichment - Generic v2.1\n      description: |-\n        Enrich accounts using one or more integrations.\n        Supported integrations:\n        - Active Directory\n        - SailPoint IdentityNow\n        - SailPoint IdentityIQ\n        - PingOne\n        - Okta\n        - AWS IAM\n        - Cortex XDR (account enrichment and reputation)\n\n        Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations. For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.\n      playbookName: Account Enrichment - Generic v2.1\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"109\"\n    scriptarguments:\n      Domain:\n        complex:\n          root: inputs.Username\n          transformers:\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: \\\n              fields:\n                value:\n                  simple: \"1\"\n      Username:\n        complex:\n          root: inputs.Username\n          transformers:\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: \\\n              fields:\n                value:\n                  simple: \"2\"\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: inputs.Username\n                iscontext: true\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": -470\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 2\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: c4cf1d29-aac1-4228-88d5-7f2c39514bb5\n    type: title\n    task:\n      id: c4cf1d29-aac1-4228-88d5-7f2c39514bb5\n      version: -1\n      name: Set Verdict\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"111\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 2790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: b57c464f-3cd5-4885-8577-1097f5eb23c4\n    type: condition\n    task:\n      id: b57c464f-3cd5-4885-8577-1097f5eb23c4\n      version: -1\n      name: Communicate With User?\n      description: Check if user engagement is needed, based on UserEngagementThreshold input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"no\":\n      - \"20\"\n      \"yes\":\n      - \"13\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualNumber\n          left:\n            value:\n              complex:\n                root: inputs.UserEngagementThreshold\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: Suspicious_Elements\n                transformers:\n                - operator: count\n            iscontext: true\n    - label: \"no\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.UserEngagementThreshold\n            iscontext: true\n          right:\n            value:\n              simple: \"false\"\n          ignorecase: true\n        - operator: lessThan\n          left:\n            value:\n              complex:\n                root: inputs.UserEngagementThreshold\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: Suspicious_Elements\n                transformers:\n                - operator: count\n            iscontext: true\n        - operator: greaterThan\n          left:\n            value:\n              complex:\n                root: inputs.UserEngagementThreshold\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: Suspicious_Elements\n                transformers:\n                - operator: count\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 3245\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 315de189-4712-4537-8331-748a9cb38520\n    type: collection\n    task:\n      id: 315de189-4712-4537-8331-748a9cb38520\n      version: -1\n      name: User Communication\n      description: Ask the user via email if the RDP connection is authorized activity.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"139\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1175,\n          \"y\": 3420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        complex:\n          root: ActiveDirectory.Users\n          accessor: mail\n          transformers:\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: UserManagerEmail\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: inputs.SOCEmailAddress\n                iscontext: true\n      subject:\n        simple: Was the following action performed by you?\n      body:\n        simple: |-\n          Hello,\n          We wanted to let you know that Cortex XDR has flagged a potential issue related to your recent Remote Desktop Protocol (RDP) activity. Specifically, we detected a possible RDP brute force attempt by the user ${inputs.Username} from the remote IP address ${inputs.ExternalIP}.\n\n          This may happen due to various reasons, one of them being multiple login attempts by the user.\n\n          Was this action performed by you and can be considered as authorized?\n      methods:\n      - email\n      format: \"\"\n      bcc:\n      cc: {}\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Was the following action performed by you?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - simple: Authorized\n        - simple: Unauthorized\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Was the following action performed by you?\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: d4da95d2-9620-4858-8b65-44b0f90b66c4\n    type: condition\n    task:\n      id: d4da95d2-9620-4858-8b65-44b0f90b66c4\n      version: -1\n      name: Malicious Activity?\n      description: Determine if the activity is malicious.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: greaterThanOrEqual\n          left:\n            value:\n              complex:\n                root: Suspicious_Elements\n                transformers:\n                - operator: count\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: inputs.FinalThreshold\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 3770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: 3ccd86fb-693f-405d-81f7-7444add80f10\n    type: title\n    task:\n      id: 3ccd86fb-693f-405d-81f7-7444add80f10\n      version: -1\n      name: Malicious\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"98\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 180,\n          \"y\": 3980\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: remediationsla\n      action: start\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: 34f837cd-83aa-4268-8a9c-63725c629908\n    type: title\n    task:\n      id: 34f837cd-83aa-4268-8a9c-63725c629908\n      version: -1\n      name: Benign\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"99\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1175,\n          \"y\": 3980\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: 32c4e913-2160-4e54-8a46-158688c84fc4\n    type: regular\n    task:\n      id: 32c4e913-2160-4e54-8a46-158688c84fc4\n      version: -1\n      name: Expire User Password\n      description: Expires the password of an Active Directory user.\n      script: '|||ad-expire-password'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"105\"\n    scriptarguments:\n      username:\n        complex:\n          root: inputs.Username\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 6430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: 3924520d-8f9e-4572-842d-49fdab8188af\n    type: title\n    task:\n      id: 3924520d-8f9e-4572-842d-49fdab8188af\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1175,\n          \"y\": 6790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"33\":\n    id: \"33\"\n    taskid: 85b57bbe-1e6f-4850-8df7-9d65040c5578\n    type: regular\n    task:\n      id: 85b57bbe-1e6f-4850-8df7-9d65040c5578\n      version: -1\n      name: IP Enrichment\n      description: Checks the reputation of an IP address.\n      script: '|||ip'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"150\"\n    scriptarguments:\n      ip:\n        complex:\n          root: inputs.ExternalIP\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1275,\n          \"y\": -470\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Source IP\n      output:\n        complex:\n          root: inputs.ExternalIP\n    - incidentfield: Detected User\n      output:\n        complex:\n          root: inputs.Username\n    - incidentfield: Destination Hostname\n      output:\n        complex:\n          root: inputs.Hostname\n    - incidentfield: Alert Name\n      output:\n        complex:\n          root: inputs.Alert_Name\n    - incidentfield: Description\n      output:\n        complex:\n          root: inputs.AlertDescription\n    - incidentfield: ASN\n      output:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.Address\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.ExternalIP\n                iscontext: true\n          accessor: ASN\n    - incidentfield: IP Reputation\n      output:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Indicator\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.ExternalIP\n                iscontext: true\n          accessor: Score\n          transformers:\n          - operator: sort\n            args:\n              descending:\n                value:\n                  simple: \"true\"\n          - operator: FirstArrayElement\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"35\":\n    id: \"35\"\n    taskid: cd8f56d5-f212-4188-8afa-37fd8643413f\n    type: condition\n    task:\n      id: cd8f56d5-f212-4188-8afa-37fd8643413f\n      version: -1\n      name: Authorized Activity?\n      description: Check if the user defined the RDP connection as an authorized activity.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"21\"\n      \"yes\":\n      - \"22\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: Was the following action performed by you?.Answers\n                accessor: \"0\"\n            iscontext: true\n          right:\n            value:\n              simple: authorized\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1175,\n          \"y\": 3770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"53\":\n    id: \"53\"\n    taskid: c8b84676-d085-4424-84e7-806522185c01\n    type: condition\n    task:\n      id: c8b84676-d085-4424-84e7-806522185c01\n      version: -1\n      name: Has related Indicators to hunt?\n      description: Hunt for indicators that are related to the RDP Connection external IP.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"54\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: RelatedFiles\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: RelatedDomains\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: RelatedIPs\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: RelatedURLs\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 2130\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"54\":\n    id: \"54\"\n    taskid: 264737a7-d382-4445-887b-f205ad7f02ba\n    type: playbook\n    task:\n      id: 264737a7-d382-4445-887b-f205ad7f02ba\n      version: -1\n      name: Threat Hunting - Generic\n      description: \"This playbook enables threat hunting for IOCs in your enterprise. It currently supports the following integrations: \\n- Splunk\\n- Qradar\\n- Pan-os \\n- Cortex data lake \\n- Autofocus\\n- Microsoft 365 Defender\"\n      playbookName: Threat Hunting - Generic\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"112\"\n    scriptarguments:\n      IPAddress:\n        complex:\n          root: RelatedIPs\n      QRadarTimeFrame:\n        simple: LAST 7 DAYS\n      SHA256:\n        complex:\n          root: RelatedFiles\n      SplunkEarliestTime:\n        simple: -7d@d\n      SplunkLatestTime:\n        simple: now\n      URLDomain:\n        complex:\n          root: RelatedDomains\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 0\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 2300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"56\":\n    id: \"56\"\n    taskid: e40fd351-db7b-4d7f-8ca5-ef7faedbb720\n    type: condition\n    task:\n      id: e40fd351-db7b-4d7f-8ca5-ef7faedbb720\n      version: -1\n      name: Critical Element exist?\n      description: Check if a critical element is defined.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: in\n          left:\n            value:\n              complex:\n                root: inputs.CriticalElement\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: Suspicious_Elements\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.CriticalElement\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 3080\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"66\":\n    id: \"66\"\n    taskid: 228060ee-9d87-4835-8a8b-2726a407b28b\n    type: title\n    task:\n      id: 228060ee-9d87-4835-8a8b-2726a407b28b\n      version: -1\n      name: Investigation - Related Indicators Hunt\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"53\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 2000\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"72\":\n    id: \"72\"\n    taskid: 86bf50b3-f1d7-4f24-823a-65f20bf92543\n    type: title\n    task:\n      id: 86bf50b3-f1d7-4f24-823a-65f20bf92543\n      version: -1\n      name: Investigation\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"110\"\n      - \"116\"\n      - \"93\"\n      - \"94\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": 1680\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"73\":\n    id: \"73\"\n    taskid: 46822941-ba45-4cc2-8914-ff084ec71d96\n    type: condition\n    task:\n      id: 46822941-ba45-4cc2-8914-ff084ec71d96\n      version: -1\n      name: Is the IP malicious?\n      description: Check if the IP DbotScore is malicious.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"72\"\n      \"yes\":\n      - \"153\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: DBotScore\n                filters:\n                - - operator: greaterThanOrEqual\n                    left:\n                      value:\n                        simple: DBotScore.Score\n                      iscontext: true\n                    right:\n                      value:\n                        simple: \"3\"\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: DBotScore.Type\n                      iscontext: true\n                    right:\n                      value:\n                        simple: ip\n                    ignorecase: true\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": 160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"74\":\n    id: \"74\"\n    taskid: b465a999-a205-4292-818b-be2e6a5504e7\n    type: title\n    task:\n      id: b465a999-a205-4292-818b-be2e6a5504e7\n      version: -1\n      name: Containment Execution\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"140\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 240,\n          \"y\": 640\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: containmentsla\n      action: start\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"79\":\n    id: \"79\"\n    taskid: 0d7ace88-2aaa-436a-8859-2639c784883f\n    type: condition\n    task:\n      id: 0d7ace88-2aaa-436a-8859-2639c784883f\n      version: -1\n      name: IP and Account block playbooks executed?\n      description: Check if containment activities were already made.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"126\"\n      \"yes\":\n      - \"86\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: RDP_Brute_Force_Investigation\n                accessor: IP_Containment\n            iscontext: true\n          right:\n            value:\n              simple: Executed\n          ignorecase: true\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: RDP_Brute_Force_Investigation\n                accessor: User_Containment\n            iscontext: true\n          right:\n            value:\n              simple: Executed\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 180,\n          \"y\": 4280\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"82\":\n    id: \"82\"\n    taskid: 1970090c-95f5-45cc-84c2-87ce8b6bce2c\n    type: title\n    task:\n      id: 1970090c-95f5-45cc-84c2-87ce8b6bce2c\n      version: -1\n      name: Containment Complete\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"72\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 250,\n          \"y\": 1470\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: containmentsla\n      action: stop\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"86\":\n    id: \"86\"\n    taskid: 7ef09ff3-e817-4636-8234-feea958b778d\n    type: title\n    task:\n      id: 7ef09ff3-e817-4636-8234-feea958b778d\n      version: -1\n      name: Isolate Endpoint\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"87\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 350,\n          \"y\": 5120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"87\":\n    id: \"87\"\n    taskid: b98a91c6-31c1-4872-8639-80b5d94bc53a\n    type: condition\n    task:\n      id: b98a91c6-31c1-4872-8639-80b5d94bc53a\n      version: -1\n      name: Isolate Endpoint?\n      description: Check if IsolateEndpoint it true.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"156\"\n      \"Yes\":\n      - \"102\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.IsolateEndpoint\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 350,\n          \"y\": 5250\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"93\":\n    id: \"93\"\n    taskid: c6b2a205-bcd3-4140-8698-3601e1c729ea\n    type: playbook\n    task:\n      id: c6b2a205-bcd3-4140-8698-3601e1c729ea\n      version: -1\n      name: Cortex XDR - Get entity alerts by MITRE tactics\n      description: |-\n        This playbook is part of the Cortex XDR by Palo Alto Networks’ pack. This playbook searches alerts related to specific entities from Cortex XDR, on a given timeframe, based on MITRE tactics.\n        Note: The playbook's inputs enable manipulating the execution flow. Read the input descriptions for details.\n      playbookName: Cortex XDR - Get entity alerts by MITRE tactics\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"66\"\n    scriptarguments:\n      EntityType:\n        simple: actor_effective_username\n      HuntCnCTechniques:\n        simple: \"True\"\n      HuntCollectionTechniques:\n        simple: \"True\"\n      HuntCredentialAccessTechniques:\n        simple: \"false\"\n      HuntDefenseEvasionTechniques:\n        simple: \"false\"\n      HuntDiscoveryTechniques:\n        simple: \"True\"\n      HuntExecutionTechniques:\n        simple: \"false\"\n      HuntImpactTechniques:\n        simple: \"True\"\n      HuntInitialAccessTechniques:\n        simple: \"false\"\n      HuntLateralMovementTechniques:\n        simple: \"True\"\n      HuntPersistenceTechniques:\n        simple: \"True\"\n      HuntPrivilegeEscalationTechniques:\n        simple: \"false\"\n      HuntReconnaissanceTechniques:\n        simple: \"false\"\n      RunAll:\n        simple: \"false\"\n      entityID:\n        complex:\n          root: inputs.Username\n          transformers:\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: \\\n              fields:\n                value:\n                  simple: \"2\"\n      timeRange:\n        simple: 6 hours\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 490,\n          \"y\": 1820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"94\":\n    id: \"94\"\n    taskid: 816caa2b-57e7-43ea-8a49-c2f2cc20cde9\n    type: playbook\n    task:\n      id: 816caa2b-57e7-43ea-8a49-c2f2cc20cde9\n      version: -1\n      name: Cortex XDR - Get entity alerts by MITRE tactics\n      description: |-\n        This playbook is part of the Cortex XDR by Palo Alto Networks’ pack. This playbook searches alerts related to specific entities from Cortex XDR, on a given timeframe, based on MITRE tactics.\n        Note: The playbook's inputs enable manipulating the execution flow. Read the input descriptions for details.\n      playbookName: Cortex XDR - Get entity alerts by MITRE tactics\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"66\"\n    scriptarguments:\n      EntityType:\n        simple: agent_hostname\n      HuntCnCTechniques:\n        simple: \"True\"\n      HuntCollectionTechniques:\n        simple: \"True\"\n      HuntCredentialAccessTechniques:\n        simple: \"false\"\n      HuntDefenseEvasionTechniques:\n        simple: \"false\"\n      HuntDiscoveryTechniques:\n        simple: \"True\"\n      HuntExecutionTechniques:\n        simple: \"false\"\n      HuntImpactTechniques:\n        simple: \"True\"\n      HuntInitialAccessTechniques:\n        simple: \"false\"\n      HuntLateralMovementTechniques:\n        simple: \"True\"\n      HuntPersistenceTechniques:\n        simple: \"True\"\n      HuntPrivilegeEscalationTechniques:\n        simple: \"false\"\n      HuntReconnaissanceTechniques:\n        simple: \"false\"\n      RunAll:\n        simple: \"false\"\n      entityID:\n        complex:\n          root: inputs.Hostname\n      timeRange:\n        simple: 6 hours\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 70,\n          \"y\": 1820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"98\":\n    id: \"98\"\n    taskid: f8dbdb26-93b5-40bc-8f26-b39dfff4aa14\n    type: regular\n    task:\n      id: f8dbdb26-93b5-40bc-8f26-b39dfff4aa14\n      version: -1\n      name: Set final verdict\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"79\"\n    scriptarguments:\n      severity:\n        simple: \"3\"\n      verdict:\n        simple: Malicious\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 180,\n          \"y\": 4120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"99\":\n    id: \"99\"\n    taskid: 1ddbb5cc-f893-4174-83ab-b83fd8672efe\n    type: regular\n    task:\n      id: 1ddbb5cc-f893-4174-83ab-b83fd8672efe\n      version: -1\n      name: Set final verdict\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"32\"\n    scriptarguments:\n      severity:\n        simple: \"1\"\n      verdict:\n        simple: Benign\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1175,\n          \"y\": 4120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"102\":\n    id: \"102\"\n    taskid: e9ed0cb6-440b-4073-8cf2-fa18485134dd\n    type: playbook\n    task:\n      id: e9ed0cb6-440b-4073-8cf2-fa18485134dd\n      version: -1\n      name: Cortex XDR - Isolate Endpoint\n      description: This playbook accepts an XDR endpoint ID and isolates it using the 'Palo Alto Networks Cortex XDR - Investigation and Response' integration.\n      playbookName: Cortex XDR - Isolate Endpoint\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"138\"\n    scriptarguments:\n      endpoint_id:\n        complex:\n          root: inputs.EndpointID\n      hostname:\n        complex:\n          root: inputs.Hostname\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 5780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"105\":\n    id: \"105\"\n    taskid: a65d9512-2d2d-4991-85fe-8928ce4226c6\n    type: title\n    task:\n      id: a65d9512-2d2d-4991-85fe-8928ce4226c6\n      version: -1\n      name: Remediation Complete\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"32\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 6605\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: remediationsla\n      action: stop\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"109\":\n    id: \"109\"\n    taskid: 43cf6c15-eea5-4473-8cb2-bdd34ff10b38\n    type: regular\n    task:\n      id: 43cf6c15-eea5-4473-8cb2-bdd34ff10b38\n      version: -1\n      name: Set Account Details\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"154\"\n    scriptarguments:\n      accountgroups:\n        complex:\n          root: Account\n          accessor: Groups\n      accountname:\n        complex:\n          root: Account\n          accessor: Username\n      managername:\n        complex:\n          root: Account\n          accessor: Manager\n      passwordchangeddate:\n        complex:\n          root: Account\n          accessor: PasswordChanged\n      usercreationtime:\n        complex:\n          root: Account\n          accessor: Created\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": -310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"110\":\n    id: \"110\"\n    taskid: f7272658-f5c7-4b54-8f48-1bcb2f714537\n    type: playbook\n    task:\n      id: f7272658-f5c7-4b54-8f48-1bcb2f714537\n      version: -1\n      name: TIM - Indicator Relationships Analysis\n      description: |-\n        This playbook is designed to assist with a security investigation by providing an analysis of indicator relationships. The following information is included:\n        - Indicators of compromise (IOCs) related to the investigation.\n        - Attack patterns related to the investigation.\n        - Campaigns related to the investigation.\n        - IOCs associated with the identified campaigns.\n        - Reports containing details on the identified campaigns.\n      playbookName: TIM - Indicator Relationships Analysis\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"66\"\n    scriptarguments:\n      Indicator:\n        complex:\n          root: inputs.ExternalIP\n      LimitResults:\n        simple: \"200\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1350,\n          \"y\": 1820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"111\":\n    id: \"111\"\n    taskid: 070cf325-c3c1-4315-83e4-a124573437fa\n    type: playbook\n    task:\n      id: 070cf325-c3c1-4315-83e4-a124573437fa\n      version: -1\n      name: Cortex XDR - Possible External RDP Brute-Force - Set Verdict\n      description: \"This playbook creating an array called \\\"Suspicious Elements\\\", which is used to count potential security threats. The following elements can be added to the array:\\n\\n- \\\"IP Reputation\\\" - Dbot Score is 2-3 \\n- \\\"Source geolocation\\\" - RDP Connection made from rare geo-location \\n-  Related to campaign - IP address is related to campaign, based on TIM module\\n-  Hunting results - the hunt for indicators related to the source IP and the related campaign returned results\\n-  XDR Alert search - XDR Alerts that related to the same username and endpoint, and to the MITRE tactics that comes after \\\"Credential Access\\\", were found.\\n\\nThe array will then be outputted and its size will be compared to a final threshold. If the size is greater than or equal to the threshold, the investigation's final verdict will be deemed a \\\"True Positive.\\\"\"\n      playbookName: Cortex XDR - Possible External RDP Brute-Force - Set Verdict\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"56\"\n    scriptarguments:\n      HuntResults:\n        complex:\n          root: HasHuntResults\n      IpReputation:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Indicator\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.ExternalIP\n                iscontext: true\n          accessor: Score\n      RelatedAlerts:\n        complex:\n          root: PaloAltoNetworksXDR\n          accessor: Alert\n      RelatedCampaign:\n        complex:\n          root: RelatedCampaign\n      UnusualGeoLocation:\n        complex:\n          root: PermanentCountry\n      XDRRiskyHost:\n        complex:\n          root: PaloAltoNetworksXDR.RiskyHost\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: PaloAltoNetworksXDR.RiskyHost.risk_level\n                iscontext: true\n              right:\n                value:\n                  simple: MED\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: PaloAltoNetworksXDR.RiskyHost.risk_level\n                iscontext: true\n              right:\n                value:\n                  simple: HIGH\n              ignorecase: true\n          accessor: id\n          transformers:\n          - operator: uniq\n      XDRRiskyUser:\n        complex:\n          root: PaloAltoNetworksXDR.RiskyUser\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: PaloAltoNetworksXDR.RiskyUser.risk_level\n                iscontext: true\n              right:\n                value:\n                  simple: MED\n              ignorecase: true\n            - operator: isEqualString\n              left:\n                value:\n                  simple: PaloAltoNetworksXDR.RiskyUser.risk_level\n                iscontext: true\n              right:\n                value:\n                  simple: HIGH\n              ignorecase: true\n          accessor: id\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 715,\n          \"y\": 2920\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"112\":\n    id: \"112\"\n    taskid: 4a4aa00d-20f1-4a40-8a0e-9197341914dc\n    type: condition\n    task:\n      id: 4a4aa00d-20f1-4a40-8a0e-9197341914dc\n      version: -1\n      name: Has hunt results?\n      description: Check if hunt results were found.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"113\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Splunk\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: PANWHunting\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: QRadar\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Microsoft365Defender\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 2460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"113\":\n    id: \"113\"\n    taskid: 02e04643-3fae-4c0c-8c06-981790ed973d\n    type: regular\n    task:\n      id: 02e04643-3fae-4c0c-8c06-981790ed973d\n      version: -1\n      name: Set hunt results true\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      key:\n        simple: HasHuntResults\n      value:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 2620\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Hunt Results Count\n      output:\n        complex:\n          root: HasHuntResults\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"116\":\n    id: \"116\"\n    taskid: ead550b4-5534-44e6-8d0b-7da7aaae7493\n    type: playbook\n    task:\n      id: ead550b4-5534-44e6-8d0b-7da7aaae7493\n      version: -1\n      name: User Investigation - Generic\n      playbookName: User Investigation - Generic\n      type: playbook\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"66\"\n    scriptarguments:\n      AzureSearchTime:\n        simple: ago(1d)\n      LoginCountry:\n        complex:\n          root: inputs.Country\n      OktaSearch:\n        simple: \"true\"\n      QRadarSearchTime:\n        simple: Last 1 days\n      SIEMFailedLogonSearch:\n        simple: \"false\"\n      SplunkEarliestTime:\n        simple: -1d\n      SplunkIndex:\n        simple: '*'\n      SplunkLatestTime:\n        simple: now\n      ThreatLogSearch:\n        simple: \"false\"\n      Username:\n        complex:\n          root: inputs.Username\n      XDRAlertSearch:\n        simple: \"false\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 915,\n          \"y\": 1820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"126\":\n    id: \"126\"\n    taskid: 19599f59-4689-4ff6-860e-bd44bb4d6c0f\n    type: title\n    task:\n      id: 19599f59-4689-4ff6-860e-bd44bb4d6c0f\n      version: -1\n      name: Block Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"141\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -330,\n          \"y\": 4460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"136\":\n    id: \"136\"\n    taskid: 50eab414-ad80-4a41-8fde-44ec91e080c6\n    type: title\n    task:\n      id: 50eab414-ad80-4a41-8fde-44ec91e080c6\n      version: -1\n      name: Account Password Expire\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"137\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 6130\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"137\":\n    id: \"137\"\n    taskid: f7253592-fc4b-4d96-887c-dfc9f81c7da7\n    type: condition\n    task:\n      id: f7253592-fc4b-4d96-887c-dfc9f81c7da7\n      version: -1\n      name: Is Active Directory Enabled?\n      description: Returns 'yes' if the integration brand is available. Otherwise returns 'no'.\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"105\"\n      \"yes\":\n      - \"31\"\n    scriptarguments:\n      brandname:\n        simple: Active Directory Query v2\n    results:\n    - brandInstances\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 6260\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"138\":\n    id: \"138\"\n    taskid: 1e5c45bf-ed96-44e0-8679-cd25ae600259\n    type: regular\n    task:\n      id: 1e5c45bf-ed96-44e0-8679-cd25ae600259\n      version: -1\n      name: Set endpoint isolation status\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"136\"\n    scriptarguments:\n      endpointisolationstatus:\n        simple: Executed\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 5960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"139\":\n    id: \"139\"\n    taskid: 0456b742-d472-4c38-83df-18c9158d2574\n    type: regular\n    task:\n      id: 0456b742-d472-4c38-83df-18c9158d2574\n      version: -1\n      name: Set user response\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"35\"\n    scriptarguments:\n      userengagementresponse:\n        complex:\n          root: Was the following action performed by you?.Answers\n          accessor: \"0\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1175,\n          \"y\": 3590\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"140\":\n    id: \"140\"\n    taskid: bf916381-2f06-4522-82c4-23404e9fd117\n    type: playbook\n    task:\n      id: bf916381-2f06-4522-82c4-23404e9fd117\n      version: -1\n      name: Block Indicators - Generic v3\n      playbookName: Block Indicators - Generic v3\n      type: playbook\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"142\"\n      - \"143\"\n    scriptarguments:\n      AutoBlockIndicators:\n        complex:\n          root: inputs.AutoRemediation\n      AutoCommit:\n        simple: \"No\"\n      CustomBlockRule:\n        simple: \"True\"\n      CustomURLCategory:\n        simple: XSOAR Remediation - Malicious URLs\n      DomainToBlock:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Type\n                iscontext: true\n              right:\n                value:\n                  simple: domain\n          - - operator: greaterThanOrEqual\n              left:\n                value:\n                  simple: DBotScore.Score\n                iscontext: true\n              right:\n                value:\n                  simple: \"3\"\n          accessor: Indicator\n          transformers:\n          - operator: uniq\n      EmailToBlock:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Type\n                iscontext: true\n              right:\n                value:\n                  simple: email\n          - - operator: greaterThanOrEqual\n              left:\n                value:\n                  simple: DBotScore.Score\n                iscontext: true\n              right:\n                value:\n                  simple: \"3\"\n          accessor: Indicator\n          transformers:\n          - operator: uniq\n      FilesToBlock:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Type\n                iscontext: true\n              right:\n                value:\n                  simple: file\n          - - operator: greaterThanOrEqual\n              left:\n                value:\n                  simple: DBotScore.Score\n                iscontext: true\n              right:\n                value:\n                  simple: \"3\"\n          accessor: Indicator\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: inputs.ExternalIP\n      InputEnrichment:\n        simple: \"False\"\n      RuleDirection:\n        simple: outbound\n      RuleName:\n        simple: XSOAR - Block IP playbook - ${incident.id}\n      UserVerification:\n        simple: \"False\"\n      Username:\n        complex:\n          root: inputs.Username\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 240,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"141\":\n    id: \"141\"\n    taskid: 63871804-93c6-4407-8768-ebf3cd78fbde\n    type: playbook\n    task:\n      id: 63871804-93c6-4407-8768-ebf3cd78fbde\n      version: -1\n      name: Block Indicators - Generic v3\n      description: |+\n        This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:\n\n        - Block URL - Generic v2\n        - Block Account - Generic v2\n        - Block IP - Generic v3\n        - Block File - Generic v2\n        - Block Email - Generic v2\n        - Block Domain - Generic v2\n\n      playbookName: Block Indicators - Generic v3\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"146\"\n      - \"147\"\n    scriptarguments:\n      AutoBlockIndicators:\n        complex:\n          root: inputs.AutoRemediation\n      AutoCommit:\n        simple: \"No\"\n      CustomBlockRule:\n        simple: \"True\"\n      CustomURLCategory:\n        simple: XSOAR Remediation - Malicious URLs\n      IP:\n        complex:\n          root: inputs.ExternalIP\n      InputEnrichment:\n        simple: \"False\"\n      RuleDirection:\n        simple: outbound\n      RuleName:\n        simple: XSOAR - Block Indicators playbook - ${incident.id}\n      UserVerification:\n        simple: \"False\"\n      Username:\n        complex:\n          root: inputs.Username\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -330,\n          \"y\": 4590\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"142\":\n    id: \"142\"\n    taskid: dcd1d3e7-e9d4-4fe6-8bc3-4b34cade926d\n    type: condition\n    task:\n      id: dcd1d3e7-e9d4-4fe6-8bc3-4b34cade926d\n      version: -1\n      name: IP block executed?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"82\"\n      \"yes\":\n      - \"145\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: in\n          left:\n            value:\n              complex:\n                root: inputs.ExternalIP\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: IndicatorsToBlock\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 20,\n          \"y\": 950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"143\":\n    id: \"143\"\n    taskid: 6663c63c-2385-4491-8c16-c824eff03d1d\n    type: condition\n    task:\n      id: 6663c63c-2385-4491-8c16-c824eff03d1d\n      version: -1\n      name: User containment executed?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"82\"\n      \"yes\":\n      - \"144\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: in\n          left:\n            value:\n              complex:\n                root: inputs.Username\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: IndicatorsToBlock\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 460,\n          \"y\": 950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"144\":\n    id: \"144\"\n    taskid: 4ea24c92-5399-460c-82c0-f5be741952bf\n    type: regular\n    task:\n      id: 4ea24c92-5399-460c-82c0-f5be741952bf\n      version: -1\n      name: Set User Containment Executed\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"82\"\n    scriptarguments:\n      ipblockedstatus:\n        simple: Executed\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 460,\n          \"y\": 1110\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"145\":\n    id: \"145\"\n    taskid: 9a7c664f-4906-4afe-836e-ebe01c20037d\n    type: regular\n    task:\n      id: 9a7c664f-4906-4afe-836e-ebe01c20037d\n      version: -1\n      name: Set IP Block Executed\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"82\"\n    scriptarguments:\n      userblockstatus:\n        simple: Executed\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 20,\n          \"y\": 1120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"146\":\n    id: \"146\"\n    taskid: eab0c096-8fcf-4b32-8f4c-a481621a23df\n    type: condition\n    task:\n      id: eab0c096-8fcf-4b32-8f4c-a481621a23df\n      version: -1\n      name: IP block executed?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"86\"\n      \"yes\":\n      - \"148\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: in\n          left:\n            value:\n              complex:\n                root: inputs.ExternalIP\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: IndicatorsToBlock\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -120,\n          \"y\": 4760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"147\":\n    id: \"147\"\n    taskid: 445ebaa4-d11c-4b27-8e85-f4fbee601ecf\n    type: condition\n    task:\n      id: 445ebaa4-d11c-4b27-8e85-f4fbee601ecf\n      version: -1\n      name: User containment executed?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"86\"\n      \"yes\":\n      - \"149\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: in\n          left:\n            value:\n              complex:\n                root: inputs.Username\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: IndicatorsToBlock\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -530,\n          \"y\": 4760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"148\":\n    id: \"148\"\n    taskid: 747c7a22-a0e0-4b2a-823f-b2e83512742a\n    type: regular\n    task:\n      id: 747c7a22-a0e0-4b2a-823f-b2e83512742a\n      version: -1\n      name: Set IP Block Executed\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"86\"\n    scriptarguments:\n      ipblockedstatus:\n        simple: Executed\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -120,\n          \"y\": 4920\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"149\":\n    id: \"149\"\n    taskid: 3eea2565-9ef3-4c66-8721-6969c5855b63\n    type: regular\n    task:\n      id: 3eea2565-9ef3-4c66-8721-6969c5855b63\n      version: -1\n      name: Set User Containment Executed\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"86\"\n    scriptarguments:\n      userblockstatus:\n        simple: Executed\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -530,\n          \"y\": 4920\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"150\":\n    id: \"150\"\n    taskid: 67cc761d-26b2-438a-8bed-cfc1a6bfcec8\n    type: condition\n    task:\n      id: 67cc761d-26b2-438a-8bed-cfc1a6bfcec8\n      version: -1\n      name: Check IP Reputation\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      0 or 1:\n      - \"151\"\n      2 or 3:\n      - \"152\"\n    separatecontext: false\n    conditions:\n    - label: 0 or 1\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: ipreputation\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: ipreputation\n            iscontext: true\n          right:\n            value:\n              simple: \"1\"\n    - label: 2 or 3\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: ipreputation\n            iscontext: true\n          right:\n            value:\n              simple: \"2\"\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: ipreputation\n            iscontext: true\n          right:\n            value:\n              simple: \"3\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1275,\n          \"y\": -310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"151\":\n    id: \"151\"\n    taskid: ea6b5254-06a5-4900-870a-94283fb2bb29\n    type: regular\n    task:\n      id: ea6b5254-06a5-4900-870a-94283fb2bb29\n      version: -1\n      name: Set Reputation - Unknown or Benign\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"154\"\n    scriptarguments:\n      ipreputation:\n        complex:\n          root: incident\n          accessor: ipreputation\n          transformers:\n          - operator: If-Then-Else\n            args:\n              condition:\n                value:\n                  simple: lhs==rhs\n              conditionB: {}\n              conditionInBetween: {}\n              else:\n                value:\n                  simple: Benign\n              equals: {}\n              lhs:\n                value:\n                  simple: incident.ipreputation\n                iscontext: true\n              lhsB: {}\n              options: {}\n              optionsB: {}\n              rhs:\n                value:\n                  simple: \"0\"\n              rhsB: {}\n              then:\n                value:\n                  simple: Unknown\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1065,\n          \"y\": -140\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"152\":\n    id: \"152\"\n    taskid: 4ae89760-9d18-4881-86b8-aa102cc7f6a1\n    type: regular\n    task:\n      id: 4ae89760-9d18-4881-86b8-aa102cc7f6a1\n      version: -1\n      name: Set Reputation - Suspicious or Malicious\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"154\"\n    scriptarguments:\n      ipreputation:\n        complex:\n          root: incident\n          accessor: ipreputation\n          transformers:\n          - operator: If-Then-Else\n            args:\n              condition:\n                value:\n                  simple: lhs==rhs\n              conditionB: {}\n              conditionInBetween: {}\n              else:\n                value:\n                  simple: Malicious\n              equals: {}\n              lhs:\n                value:\n                  simple: incident.ipreputation\n                iscontext: true\n              lhsB: {}\n              options: {}\n              optionsB: {}\n              rhs:\n                value:\n                  simple: \"2\"\n              rhsB: {}\n              then:\n                value:\n                  simple: Suspicious\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1490,\n          \"y\": -140\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"153\":\n    id: \"153\"\n    taskid: 4567bca9-5d88-4092-8ed0-a56ca2170cdc\n    type: condition\n    task:\n      id: 4567bca9-5d88-4092-8ed0-a56ca2170cdc\n      version: -1\n      name: Early containment enabled?\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"72\"\n      \"yes\":\n      - \"74\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.EarlyContainment\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 240,\n          \"y\": 400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"154\":\n    id: \"154\"\n    taskid: 8a1e0eb1-0d3c-42e3-8cc6-85dee74f8987\n    type: title\n    task:\n      id: 8a1e0eb1-0d3c-42e3-8cc6-85dee74f8987\n      version: -1\n      name: Early Containment\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"73\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 685,\n          \"y\": 30\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: triagesla\n      action: stop\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"155\":\n    id: \"155\"\n    taskid: 37f5a28b-762b-4957-8865-cd83c24cb339\n    type: playbook\n    task:\n      id: 37f5a28b-762b-4957-8865-cd83c24cb339\n      version: -1\n      name: Endpoint Enrichment - Generic v2.1\n      description: |-\n        Enrich an endpoint by hostname using one or more integrations.\n        Supported integrations:\n        - Active Directory Query v2\n        - McAfee ePO v2\n        - VMware Carbon Black EDR v2\n        - Cylance Protect v2\n        - CrowdStrike Falcon\n        - ExtraHop Reveal(x)\n        - Cortex XDR (endpoint enrichment and reputation)\n        - Endpoint reputation using !endpoint command\n      playbookName: Endpoint Enrichment - Generic v2.1\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"154\"\n    scriptarguments:\n      Hostname:\n        complex:\n          root: inputs.Hostname\n          transformers:\n          - operator: uniq\n      UseReputationCommand:\n        simple: \"False\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 260,\n          \"y\": -470\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"156\":\n    id: \"156\"\n    taskid: 2b9d34d6-408e-4a2b-8685-a2e2c6925b71\n    type: condition\n    task:\n      id: 2b9d34d6-408e-4a2b-8685-a2e2c6925b71\n      version: -1\n      name: Is the endpoint at high risk?\n      description: Checks if the endpoint has a high risk associated to it by Cortex XDR.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"136\"\n      \"yes\":\n      - \"158\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: PaloAltoNetworksXDR.RiskyHost\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: PaloAltoNetworksXDR.RiskyHost.risk_level\n                      iscontext: true\n                    right:\n                      value:\n                        simple: HIGH\n                    ignorecase: true\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 650,\n          \"y\": 5430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"158\":\n    id: \"158\"\n    taskid: 57208414-9901-4eca-8860-98c2325f8d64\n    type: condition\n    task:\n      id: 57208414-9901-4eca-8860-98c2325f8d64\n      version: -1\n      name: Recommend isolation anyway\n      description: |+\n        Notice! The playbook input specifies that isolation should not be performed for the endpoint, but Cortex XDR's ITDR module considers it risky. Consider isolating it anyway.\n\n        Host ID: ${PaloAltoNetworksXDR.RiskyHost.id}\n        Risk level: ${PaloAltoNetworksXDR.RiskyHost.risk_level}\n        Reasons: ${PaloAltoNetworksXDR.RiskyHost.reasons}\n\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      Do Not Isolate:\n      - \"136\"\n      Isolate:\n      - \"102\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 420,\n          \"y\": 5600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"112_113_yes\": 0.31,\n      \"112_6_#default#\": 0.37,\n      \"11_20_no\": 0.18,\n      \"142_82_#default#\": 0.28,\n      \"143_82_#default#\": 0.35,\n      \"146_86_#default#\": 0.52,\n      \"147_86_#default#\": 0.22,\n      \"153_72_#default#\": 0.29,\n      \"156_136_#default#\": 0.19,\n      \"156_158_yes\": 0.48,\n      \"158_136_Do Not Isolate\": 0.18,\n      \"20_21_yes\": 0.4,\n      \"20_22_#default#\": 0.34,\n      \"35_21_#default#\": 0.1,\n      \"35_22_yes\": 0.7,\n      \"53_6_#default#\": 0.11,\n      \"56_11_#default#\": 0.42,\n      \"56_21_yes\": 0.21,\n      \"73_72_#default#\": 0.14,\n      \"79_86_yes\": 0.21\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 7605,\n        \"width\": 2400,\n        \"x\": -530,\n        \"y\": -750\n      }\n    }\n  }\ninputs:\n- key: Username\n  value: {}\n  required: false\n  description: RDP connection username.\n  playbookInputQuery:\n- key: ExternalIP\n  value: {}\n  required: false\n  description: Source external IP address.\n  playbookInputQuery:\n- key: AutoRemediation\n  value:\n    simple: \"false\"\n  required: false\n  description: Set this value to \"true\" to enable auto remediation (IP Block and User Block).\n  playbookInputQuery:\n- key: FinalThreshold\n  value:\n    simple: \"3\"\n  required: false\n  description: The threshold number of suspicious elements required to determine a 'True Positive' verdict.\n  playbookInputQuery:\n- key: CriticalElement\n  value: {}\n  required: false\n  description: |-\n    You can select a specific element that, if identified as suspicious, will automatically set the final verdict as true positive. The following options are available:\n    IP Reputation\n    Related Campaign\n    Hunting Results\n    Related Alerts\n    Unusual Country\n    Risky User\n    Risky Host\n\n    NOTE: You can read about the meaning of every element in the playbook description.\n  playbookInputQuery:\n- key: UserEngagementThreshold\n  value:\n    simple: \"2\"\n  required: false\n  description: |-\n    The threshold number of suspicious elements that will trigger a user engagement. Set 0 to disable user engagement.\n\n    NOTICE: If this threshold is equal to or higher than \"FinalThreshold\", the final verdict will be deemed by the user response and not by the FinalThreshold calculation.\n  playbookInputQuery:\n- key: Hostname\n  value: {}\n  required: false\n  description: RDP connection destination hostname.\n  playbookInputQuery:\n- key: EndpointID\n  value: {}\n  required: false\n  description: RDP connection destination endpoint ID.\n  playbookInputQuery:\n- key: Alert_Name\n  value: {}\n  required: false\n  description: Alert name.\n  playbookInputQuery:\n- key: AlertDescription\n  value: {}\n  required: false\n  description: Alert description.\n  playbookInputQuery:\n- key: Country\n  value: {}\n  required: false\n  description: Source external IP country.\n  playbookInputQuery:\n- key: IsolateEndpoint\n  value:\n    simple: \"false\"\n  required: false\n  description: Set this value to \"true\" to enable endpoint isolation in case of a true positive.\n  playbookInputQuery:\n- key: SOCEmailAddress\n  value: {}\n  required: false\n  description: The SOC email address to use for the user engagement section.\n  playbookInputQuery:\n- key: EarlyContainment\n  value:\n    simple: \"true\"\n  required: false\n  description: Set this value to \"true\" to allow early containment when the IP is known malicious\n  playbookInputQuery:\noutputs: []\ntests:\n- no tests\nfromversion: 6.8.0\ncontentitemexportablefields:\n  contentitemfields: {}\nmarketplaces:\n- xsoar\n",
  "product": "Cortex XSOAR",
  "pack": "CortexXDR",
  "support_tier": "xsoar",
  "use_cases": [
    "Malware"
  ],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "y6/9PCzvaDs/XO+94Zepu7Xroj0REmA9J3B+PbGlUrxxdKG86cEZvC8Bo7y8rqA9Eq0JPT4Z/zwf5sI8EHpRvWzNPT2FzFI9FpJ5vXDbXL2SuB29c+2lvXWspzwqXUA8+yebu69BM72oELK7cBE9vToF7rwdXJw61mKdukFrgzwignE6mzCeO//gMrwYfoK75M1FvEG/IDy5zkW9DNjfvICqdL3W43e8+N7RvLSIOz1+aMW6cPpLvQzEFb1a2+081S3/vMvujjxpZy89dZUXvJ7zZ72NdpE9lB0nPOHN87z0Nu+6OmskvY8+n7yswQY9yxgTPHnaIb1LMgw9d+S/vLghaT2VA+a7TaluvEozNbxLBZO9sEN3PflGG73g5Xk9/yu2vKx9arvRAJS8xuuMudrn4TzOGZe8/p4QPbAICT3wdte7mp3vvBrWOj2Hkd08puIXvUK/0ryoxuo8PVVZvb2Tf7wnFBE7cNr+PYvlJTsvVF28cxBZPaoiUT3IVVo8pn9HvQjjn73/lMA89Ga7PDylrbs0RYW89WravPUuqLzbk6g8QZx9PZwTLr0B3Ii9B2qAvWf/pTx0igU7bLdlvCLN0TzQBMY8Zu3bvOShDj3mbSu8gDIRPSYouLzQsm29+YAFPIwLhj04Cim81f8LPBVwaz0RGXw91fu5ulBuCz3h3Io8qCOTvPen/jy7GUC9DZzSPE2Ns7zD9Eq848g0u3u0pDxsxi29e1/5u2/mTz2YQF48W1wyvGlA4r2GxaO8mV2TPHnqIDtohAI9+dgdPS3YjDvSAKe8S4GkvObC0jt9V5G9lBkJvVc7DrxsXQo8mZqOvLUahb1ZTkg9Cyo/vRXV+rzH+k29dhncvNecnzziEgy9Dk4bvVELpLyPC8K7S4K5vI8FrDw0ZZO7cBYSvEs6tr2TgpG9vqJjvE7yKD0fvEY8AZyOvJ5XRb39efK8x3djPSlCFT02dx08nXKxvbnPZzuFE5Y8fygAveevszu9fAs9Zr5ZPQHEPDxLMB47b9HLu0jvWD3xTYW9Rw95vOCsvDyg75o7eV0BvEj/oDx5iqU9dbxvPHhmYLzlj+q9D6Yvvd93tjxRmFa9UUPovAa9tjs4iRK9/E1YvNoQFzz1iEC9PvMJvWwsMrwAB8G5VeS9PAUXsjzkLJg9gThcO4Nwl7obGXy7JlOnO9ojtTw4KpM7xd2qPVtDpb3jizc8mAe7uksqpb3looU8Gj4oPBssCLyC8II8GPevOu454jyS5DU9jXqNPAqKU7vf7L+8Ly7tvCPLHj3dLkU8Ls5SvJeniT2ygf07NmQ0PYxxBr1DwuS7LqQavRrfprxPZTa9p4SsPPxFOz3y+QW9h9qNPBfO5jwkVeS8XpIZPODF27wcLZg9DPG5vFwt4zzInsC8wlC+Oxkwgr253pe8U6WWvGi/sjzMcjA8/JSLPKuK3TvfxvG8LL0yPEWTSL1vLlY8zsV9vaju+zycmaa9F6eMves2Gr0ripA8L+2UvEaKTrwfVrQ7QY2WvKr+U7zsaJq6G+WkvD0C1bz8YAU9NJOePXUO3bwo31u9S7hxPZKFWz36I7M8z53QPX9xbrwX+nQ8kC7ZPAs6CT321v+8CowePelDzLvfO2m8DrXqO7rVjjzE7ki9VshuvIj+1TzPK5I8rTLHuz0EaLwTCZu8MqCEu8g5zL0MlTG9/hYLvUhhyDxq6wc95KyAPN7gK72mOPE8XdGSvFqYaLySdda6tSxdvbj9Nrzu+gK9cNNjvBeQ9TxlXDi7cfOavIFVoLuG5447I64evbBquDxsrBg9OJdDvL4WKDwMwwm8AIcmPTGYfLxeUzC9UghqveVxHTySNKG8X2JzPQK6jD2B5KQ8X2EwPYdaTb3hWis7TPIrPKDKEr11w4080zMFvbAd0Duy35q65Y/Xu0nrAzw2M2m8L6dXPZxG0btrLKe8Bg1hPXaPKz0ylBU8cmULux4vizuxkaE7ZT6yPLtsm7wggNU8gEecvTZjQr3M+wg9PFX2PBA1D73S6GW9LyxzPLgp9bxFwoa7br61OdlsuT0bwkG9yBWRPDI9qDrDTQS8rkdavbXolT01x4Y5JKJuPexONr1AdOW7HdbyusrkCj0COwc86RETvZ7BkTvgnyi9uy0qPdQ/Jb0Eytg8UalfOqT2bT39r+A6xZYTvSqkrzzBigY9Zr8ivemzCr1SsJI82Mjhu5DBuLzVZsg8zAVIvL6rtrwli1I9Q5rtu/gZkTzUFcy8+fCvOx10uDq6MV69b/+Evd+GGzt+UqE8MouTPI9Fnrx+oA49hYx0u+fV1jyaxya9nXKzu6D7AT14fQK9xhRVPHmGcj0w//m7/aqZPIR0LD3nRiM97D5avEJsMLyLp7S813IqPR+z/zyBElm9xNKJvNComLxcwIO7GxkivSs8AL7TVVO76++Nu+JkHbuZckG7AU0GvRoNiL3MosQ8PkiyPVFyaTyyRnk6gKEsvSfcQbua5Jw9hwXnPBFR7TxvYOQ8hVmZPatRFT0O8pQ6c7CAvdonEboBmOs84EByvM80OjzxjEi9KbF1vcfHCL1UlYs8eZhJPInNRDyQUj29WRMqvcReCryKJtw8mvE5vT93ob1rXcm894KDvU1eSjvOR5G8HwumvdGQZz37fQC8S677vIDBRz3kfTQ9AXdoPcqqDbx2OhS9Ozi6vGRdMT112E69ig6jvIe8Jz1XN1o9TZUNPZoQjryQZoQ9if7XvDRwVL1TNrs6wHnRO3AnP71V/pS7IcwAPFnT67xDCbe6cbOyO+wKl7yjLP+7fAPNPPpTm7zAAcm8BvbcOfxDSb3xgB+92fKqPVtr3LnckTs9o5iivM9wMz10y5A7vLnaPBYqWz3VeuU8fkANPNPjsjyDddc8PlgLPSrbjjylpRE98ZlJvJmE0jzIETQ76vy3PcYCRbzQSga8nfmvOkKkDjobnLA8b+a5vP8HIz0YhaA7WlpWvZF6cbxBcVk6CqMive1kjLrYF6k7dbUYvR7DBb2MN/y8Eug2PYbtzzyeIUg8cm0zvKJzETxJ6na7QSYJvdo4K70ORQK98aeCvCxsGbwuqSe8epPMOsKy5zpwxZa8z6G2PEeX/7t/q8S8v3r9uweVLLy8lqe8faCQvbiZrrtaLjm9yVisu8InjDxtbry8kiWXvJyEuDyQS4W9jIWcOrVxJL1WmRs8kmjlOzmEHr09IHU9sz8RvA5XC72eSUS9qBugvDzRjb0eXxQ9PW4NPVb4G729oZ49tG9ROouK+rxLmFe9+lONPOODeL1UZjS9YlbSvF8enTuxjTA9S1WyPLo1Frz8bmW8OVfbuYPQI7190Ai8iZYfPEqWrzxpCma7ahUNOT+x0rw6R4c9ABOsvDz0ybymmKW87hSavJhWAD0Cjws8BFhrvT9BPj231a68qyObPWb1Hjz2aLa9kDgNOsdDZTzRhYa9Yg6yvCtcKj2aaFo7KL9CPcdDUr0ZhNM8cMmdvZoaI72SvY683TrIOxi+kzwc/im9RTpQPRJCtL2pH3C9gZSPPDf3k7xjV0u88jwPvaCfn7wAcMY8GL2sPN6kDLzJsgk80sMNPegpCz0F5E88nhEpPCEkaDy+v5U9OUsCvc8G1LzBjlC7McCDvcapZ7taRYA7XNu7vMKaLzzWLCs9Uzm7u+8K67oW0JO7v0Z7PHAAg7qbT968jahsvL5jcjyrfgQ9BBA3vfYFY7ytZwQ7E4qGu+N83rthMgI8ZJiMvK5WBL2VAPU8F2AlvaErNbz2OSY9efLfvYZtbjxJaTu9qcb1PLMU0jycbOm8q0kJPJktCjvfL4S6bbgrPWAkjDxJ01m8iSkkukeMGb3M82o9Q6O0PPn9nzzNl0S8Fyftu2OV5LyCYFW9LJ35u3wwHz3yLIU9nPKtuykIVbvWFYg7+nSsvKwH/bs1tsK8lT0uvfmuq7s5r026ybIqvWy/Mb0X7ac8LUFWvCu/KD0Raaq7pkOsPNUBMT16BVG9eNK/vdjltLqFJk08+OqVPLktpLxzp5m7WIEevVjIYb1uj+y7sDUUvKAWm7wegK0868cNvVs1rbzptIC9MqeEverGeTwtFAK9"
}
