bundles/spark/kbs/soar-playbooks/entries/pb-cloudincidentresponse-cloud-token-theft-set-verdict.json
{
  "id": "pb-cloudincidentresponse-cloud-token-theft-set-verdict",
  "title": "Cloud Token Theft - Set Verdict",
  "category": "playbook",
  "content": "---\n\n## Cloud Token Theft  - Set Verdict Playbook\n\nThe playbook is built from a decision tree whose ultimate goal is to decide whether the observed activity is malicious.\n\n### Event Search\n\nThe playbook searches for events based on the attacker's IP address within the last two hours.\n\n### Tests Performed\n\nThe following tests are performed on the observed activity:\n\n1. **Malicious IP Check**: Determines if the IP address is malicious.\n2. **CSP ASN Check**: Checks if the activity was performed from an Autonomous System Number (ASN) belonging to one of the Cloud Service Providers (CSPs).\n3. **IP and ASN History Check**: Verifies if the IP address and ASN have been previously observed.\n4. **Region Check**: Determines if the API call was made from outside the recognized region.\n5. **Anomalous State Check**: Checks if the API call was made from an anomalous state.\n6. **Alert Check**: Looks for any related alerts around the event, including:\n   - Possible cloud instance metadata service (IMDS) abuse.\n   - Impossible Traveler by cloud identity.\n\n---\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (CloudIncidentResponse, xsoar-supported).\n\nUse cases: Incident Response.\n\nInputs — sourceIP: The source IP to search by additional alerts.; fromDate: The start date for the search additional alerts task.\n\nFilter by from date (e.g., \"3 days ago\" or 2006-01-02T15:04:05+07:00 or 2006-01-02T15:04:05Z).\n\nOutputs — alertVerdict: The alert verdict.; foundIncidents: The additional alerts found..\n\nIntegrations/scripts used: Set.",
  "raw_yaml": "id: Cloud Token Theft - Set Verdict\nversion: -1\nname: Cloud Token Theft - Set Verdict\ndescription: |-\n  ---\n\n  ## Cloud Token Theft  - Set Verdict Playbook\n\n  The playbook is built from a decision tree whose ultimate goal is to decide whether the observed activity is malicious.\n\n  ### Event Search\n\n  The playbook searches for events based on the attacker's IP address within the last two hours.\n\n  ### Tests Performed\n\n  The following tests are performed on the observed activity:\n\n  1. **Malicious IP Check**: Determines if the IP address is malicious.\n  2. **CSP ASN Check**: Checks if the activity was performed from an Autonomous System Number (ASN) belonging to one of the Cloud Service Providers (CSPs).\n  3. **IP and ASN History Check**: Verifies if the IP address and ASN have been previously observed.\n  4. **Region Check**: Determines if the API call was made from outside the recognized region.\n  5. **Anomalous State Check**: Checks if the API call was made from an anomalous state.\n  6. **Alert Check**: Looks for any related alerts around the event, including:\n     - Possible cloud instance metadata service (IMDS) abuse.\n     - Impossible Traveler by cloud identity.\n\n  ---\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 8edcb308-c0b8-46f2-8858-38f2fb3a5e58\n    type: start\n    task:\n      id: 8edcb308-c0b8-46f2-8858-38f2fb3a5e58\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 9e581115-9afa-473a-81e8-23b0a8268515\n    type: condition\n    task:\n      id: 9e581115-9afa-473a-81e8-23b0a8268515\n      version: -1\n      name: Check caller IP reputation\n      description: Checks the verdict logic. Refer to the playbook description for detailed information.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      Malicious:\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: greaterThanOrEqual\n          left:\n            value:\n              complex:\n                root: DBotScore\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: DBotScore.Indicator\n                      iscontext: true\n                    right:\n                      value:\n                        simple: inputs.sourceIP\n                      iscontext: true\n                accessor: Score\n            iscontext: true\n          right:\n            value:\n              simple: \"2\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 860\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 759d168e-6a6f-470b-83da-af9a108070a0\n    type: regular\n    task:\n      id: 759d168e-6a6f-470b-83da-af9a108070a0\n      version: -1\n      name: Get additional alerts\n      description: commands.local.cmd.get.incs\n      script: Builtin|||getAlerts\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      fromdate:\n        complex:\n          root: inputs.fromDate\n      query:\n        simple: hostip:${inputs.sourceIP}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 700\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 81f407f2-b2e4-4a82-8a59-171e1d156546\n    type: regular\n    task:\n      id: 81f407f2-b2e4-4a82-8a59-171e1d156546\n      version: -1\n      name: Set verdict - Malicious\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      key:\n        simple: alertVerdict\n      value:\n        simple: Malicious\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 2110\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: d3428dc0-7a40-4d18-8f60-91fc15d5856c\n    type: regular\n    task:\n      id: d3428dc0-7a40-4d18-8f60-91fc15d5856c\n      version: -1\n      name: Set verdict - User verification\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      key:\n        simple: alertVerdict\n      value:\n        simple: userVerification\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 2110\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 992685e9-199f-4467-8e95-7aa0bec6d1aa\n    type: condition\n    task:\n      id: 992685e9-199f-4467-8e95-7aa0bec6d1aa\n      version: -1\n      name: Check source ASN\n      description: Detailed explanation available in the playbook description.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"11\"\n      Cloud ASN:\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: Cloud ASN\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: Core.OriginalAlert.event.caller_ip_asn_org\n            iscontext: true\n          right:\n            value:\n              simple: GOOGLE\n          ignorecase: true\n        - operator: containsGeneral\n          left:\n            value:\n              simple: Core.OriginalAlert.event.caller_ip_asn_org\n            iscontext: true\n          right:\n            value:\n              simple: MICROSOFT\n        - operator: containsGeneral\n          left:\n            value:\n              simple: Core.OriginalAlert.event.caller_ip_asn_org\n            iscontext: true\n          right:\n            value:\n              simple: AMAZON\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 1030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: b14d1b34-a5d1-40c5-8055-27b3eb16a0e5\n    type: condition\n    task:\n      id: b14d1b34-a5d1-40c5-8055-27b3eb16a0e5\n      version: -1\n      name: Check ASN & Agent IP popularity\n      description: Checks the verdict logic. Refer to the playbook description for detailed information.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"12\"\n      Malicious:\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: isEqualNumber\n          left:\n            value:\n              simple: Core.OriginalAlert.event.cloud_agent_external_ip_days_seen_count\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n      - - operator: isEqualNumber\n          left:\n            value:\n              simple: Core.OriginalAlert.event.cloud_caller_ip_asn_count_distinct_cloud_best_identity\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -390,\n          \"y\": 1200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: eae9a464-1de4-4c8d-8cc5-b7689233d15d\n    type: condition\n    task:\n      id: eae9a464-1de4-4c8d-8cc5-b7689233d15d\n      version: -1\n      name: Check for API call executed outside the instance region\n      description: Detailed explanation available in the playbook description.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"13\"\n      Malicious:\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: foundIncidents.name\n            iscontext: true\n          right:\n            value:\n              simple: A compute-attached identity executed API calls outside the instance's region\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -390,\n          \"y\": 1380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 5983c9cf-dc47-4e55-889d-3c5fb3a5ef38\n    type: condition\n    task:\n      id: 5983c9cf-dc47-4e55-889d-3c5fb3a5ef38\n      version: -1\n      name: Check for API call from unusual country\n      description: Detailed explanation available in the playbook description.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"14\"\n      Malicious:\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: foundIncidents.name\n            iscontext: true\n          right:\n            value:\n              simple: A cloud identity executed an API call from an unusual country\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -390,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 8cccf35c-4e55-4b0f-8a41-1e467d990fad\n    type: condition\n    task:\n      id: 8cccf35c-4e55-4b0f-8a41-1e467d990fad\n      version: -1\n      name: Check for IMDS Access alert\n      description: Detailed explanation available in the playbook description.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"15\"\n      Malicious:\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: foundIncidents.name\n            iscontext: true\n          right:\n            value:\n              simple: Possible Cloud Instance Metadata Service (IMDS) Abuse\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -390,\n          \"y\": 1740\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: 4ee22698-d941-42a5-8add-87640f6d13e5\n    type: condition\n    task:\n      id: 4ee22698-d941-42a5-8add-87640f6d13e5\n      version: -1\n      name: Check for Impossible Traveler alert\n      description: Detailed explanation available in the playbook description.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"5\"\n      Malicious:\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: foundIncidents.name\n            iscontext: true\n          right:\n            value:\n              simple: Impossible travel by cloud identity\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -390,\n          \"y\": 1925\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: 78982aba-a0ea-4afa-848b-23338d4f91ad\n    type: title\n    task:\n      id: 78982aba-a0ea-4afa-848b-23338d4f91ad\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 2290\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_12_#default#\": 0.39,\n      \"11_4_Malicious\": 0.22,\n      \"12_13_#default#\": 0.4,\n      \"12_4_Malicious\": 0.26,\n      \"13_14_#default#\": 0.42,\n      \"13_4_Malicious\": 0.31,\n      \"14_15_#default#\": 0.41,\n      \"14_4_Malicious\": 0.41,\n      \"15_4_Malicious\": 0.51,\n      \"15_5_#default#\": 0.13,\n      \"2_4_Malicious\": 0.1,\n      \"2_6_#default#\": 0.1,\n      \"6_5_Cloud ASN\": 0.11\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1785,\n        \"width\": 1260,\n        \"x\": -780,\n        \"y\": 570\n      }\n    }\n  }\ninputs:\n- key: sourceIP\n  value: {}\n  required: false\n  description: The source IP to search by additional alerts.\n  playbookInputQuery:\n- key: fromDate\n  value: {}\n  required: false\n  description: |-\n    The start date for the search additional alerts task.\n\n    Filter by from date (e.g., \"3 days ago\" or 2006-01-02T15:04:05+07:00 or 2006-01-02T15:04:05Z)\n  playbookInputQuery:\noutputs:\n- contextPath: alertVerdict\n  description: The alert verdict.\n  type: unknown\n- contextPath: foundIncidents\n  description: The additional alerts found.\n  type: unknown\nquiet: false\ntests:\n- No tests (auto formatted)\nmarketplaces: \n- marketplacev2\n- platform\nfromversion: 6.8.0\n",
  "product": "Cortex XSOAR",
  "pack": "CloudIncidentResponse",
  "support_tier": "xsoar",
  "use_cases": [
    "Incident Response"
  ],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "cloud-security",
    "incident-response",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "xP97PSw7tDy6UqG9extUO7kNoj2UGjY9Df9oPYud0zuqyLa8R+m2vO58F706Siw9Oov7PKz6ezxxKRw9z8otvYcWQzsu+5Y9kFwNvVwdirxqAWq9U5IQve32i7yl9fA8qAa5PLvKWL2/3XG8idsLvFeRK728RGE8V1oPvFOnhLs27f87y7youjIJxrwozMa70l6HvLwsQbxCz+6863fivBwccr0z7qc8QJ9FvTB/XT3F/ZM8w2PuvFM357yukRK5gShgvSZeZDzUH3s9+7OHvADCE71I70I9pXV+PJzjCL10Qic88SSLvZ7d6buXULE8gqKAvAsHAb3GtOs7FIywPD7CsD3SIwy9HZxfu7adWbvgPQC9/KGZPVLfDb24M2I9+8AmvXNWuTxOm7Q73PvCvIrjhzyVKg09NHY2PHBa0TyuA6+81kzxvMnxgz0Q7Bw8qL0nvQyXwbyL6088br6dvbCS17xxz5U6R4DQPbOkHjwo2wq94zooPXc6rD0jjbk7jQARvWnx2L0JPFE8AyvjO2PvRjuRVKE5OZZDvKM8aLwRMWQ8z+AePUjA+bt41EW9Gx6EvV5RyzzVwOI74g6PPNKDLT36Lak8lAeSvXkqyjz0LVI7BZlpPaofdrybGym8OYRgPHuLcT1HtWa791dOPcmwrz1BGo893R2zvNfrtzxEwm28jekavGfjLrwhAeG8R4E0PUwAmLycw3C8yaFnO4wnJD2LmSO9BRc1vWmGvTzcYds8idUIvJ8o1r3ggIu6AEzePKTxkLwrwPE8RD9NPRWghLxB22q8A5MYvbHeGDw6LQO9ro7KvLBmBr3RUFw6HK2Uu6ycmL1a3XE8u2ScvZyrxbxZaVK9HCDxPLQWAz2AHAO9+04MvYaIgr396uC7dCVGvTVAV7pYsdq7dRkyvOhSJr25tee8ElHou5+GdD2N0Js77nVLvP9SnLzo40S96cVhPWSE3btZPxI9wnzTvaooozxL6J88nYa1vNtiyjwKOgA9IkfhPGZvdTzuqPg8xCeEvOOGqT2XDS29cIyPvL4poDxIm4m8WLXtvDQ6vbssKsY979YyPB+9e7wy7Y29u2t7vV/lgLsJHfy8HEb/vBPFbDwjBRS87yazugBmuTwSQw292vEqvdiOSrzLXMO5+1wfPQCoez2ZPqc9N186O9ejyTwhBzc69K+5uUW4pjxv7jy86yIbPbRCkr1d7Y484qm3u6YYjr3JNbi6x+WruyErbr3J56k8HT6evFCd2TueY489OXJiuxEWBjzwn888JlKuvARkCDwwjJo89TcMvCVuRD2TT4S8cS9FPUU/Br3/7Ku842VavZmef7wOM7O9Si/kPMhcMbywlia9p3ChPGaNTTxDgjO9T2eQPDnmM73MwFo9+UHrvLnfFT2PuXO9TXimuunZW73Isay8Zqv8vHru8zuBGYA8ExpNPCz8QDzR05m8ivgtu9CqDL2TIM88jF9CvXMAOT2t4LS9rckuvW8lqrxgmSY8MhERvRYg7bxBDVG86jsNvaLUprzUkjG86OAbPBsbpjq8L/Y8jz+xPCDFerxRRlm9AnBoPQBKyDyQM2o9nyfQPWj1RL2Kt808LU1dPbezED3KFyi8RRQYPROC57tEKBi8XPJNvHyECj167m68rXAbvKy0Sj0hh+I82NlvvNfOBbzB/ig7bFYcvMzz573MhSG9yxpIvKSjzrsIbaI88KfNPN6e0bz2JQc9pmQ1vWgyfrztSuC8VjUmvRuIwrtb1yu9szDXO2ndPzx2oPs7f+Pxu4T257vMdSs9VxKSvejc6TwKl3U9wjvlvEhuiDwMgXc8/YHKPPkPmLxWVLG8ScPdvHbsizszmdO7iKOEPTrJij0IQ1w9gZMbPT0FUjs5pA887nkfPdZDGb0A4y48pxF4vNedzLzQ6hW9ztjNOjS4yDyg8BU8kKxJPX+smbx+hAS8Krg/PRUrOz3O7qE6orjDvBTB4LvMgPm7IzPWPNaqrLwZVJI8hdKTvaNJabw+crE7nin7O7NC8bx90CK9JfuavH1bDL0PQg289ABwPICpAD1amAm9Ha1HPTdakbxIELG8HeqtvSI1sD0fds888d6pPSK4mL2OlCa9/S4FvXC6ZT2+XeE8zgM0vQpVGDszfM+8+ZkPPWQUdL3wBeu6SmOAvDYoOT08OrG8fZMavSZq2LtZIAg9HK7svOjIqLxqudA8EYitu/aKYbtmhDk9dnU3O+gfNrtNgSM9IY2FvMdVgzzrKKi8KwOxPCLH1Lydo3m90NGLvUqhM7zguX081aljPHapY7wBVz09Q4mOvI2itDyrRs6842u5OiwSXDwM0NK8eA5kvAaWiTygQAY9zN/2PC+BwzxorAg99hKnvCQ+ubwE0CS822YPPRo8zzzQQpe8ZK5PvJv9obwCXGS90AwzvWP4Fr5MNqs7wQRiPOpsnrwEYQg8EP5NvIQxRr2g/Zk84oqcPaky8Ty6P9O7Qn5zvZkMI7wv6K09zPSsPIoFdD1S7B072oQePcTcUzwAS5k6owCSvSQbYzwIBIY8I7oXvN+lYrwYEBC8VJebvK/ZTLx1orS7IESgPEj1RD3MBiK9jvgYvdYuzjvaeh09gSZRvVTQKL38MOy8nvNnvQwBLr178va78GefvcHbST3LNNm8kKEPvZkHnT2QCDQ9rkQbPYkZwbzaLBi9YQ+tvO6hozwsFHu8akGvurIvhDz0frI95Pg1PZ095bwSWy896RGmvF2TqLw7bLm7iD/Su7+ZiLzzufy7f3HQtQzSC722a2U8t+4wPcMxmjrD12S8WznQu5SHz7xSdL47WIexvEktgr2HujC8X/+CPU3HEjwfnrY8h1WfvOiKYDvkL+s7HwiXPMAFdD1Xcug7/jLMPCPxlLtgXLI8vNBoOxKuST14Uds8yYVoPGshpjwmRbM7vPGUPfAvWDtDEfU6/ZiMu4sQnTz+1ze8y6QDvVOabTx7c767yctqvB8l+LvMxIY8qVU8vaLbZ7zLEB89fMKovBqpHLw5The9p7B6PSl6bDysIEk7PW0JPECRoDzY60O8k2u3vCiVtLyNMxu9IV9+u8lm6Dv0xjy8DA4ZvIp2HD1Rs6Q7u+VhPX3v+7uzfya9WcjlvErei7wCDoY6YcI8vSNySDly1xe9SwSQuzJrMj1OQjm9OGaCOpbgFLzQITy9EuoAPR/mi7xu7Mq7gCozPKZVA72+n3c9tklvPP30h71incy9kzEGvM/5w73cqMc8auvVPEbNr7ws9I89cx4SvDFNzL02U4W9ZNSIPFSPKr3EtfO7oGYJvBpUibzzRq48r61/u9XyXjw7DiA7lPj9PE4HML291SK9RUaduuoJsTyrWWg8CrIdPMtfk7rbEmk9wxJEuhufADyQFAe9QvC4PBLVJD1GvNM83QUcvQ5S7jy+6bW7vQ68PQxxDzz37fi958sWOvZNAz1FXqm9FPZMu4ItkDzEMF+8JYuCPVT7YL37STs893sFvXqw3Dp/QLm8H/cxvbzEwTux9Eu99E2ePJIgcL2dlZq9SplpPKEadr283HG8MzZZvXBKkbzlStA7ecxJvHo4kbs2AFu7DWzlPPVLvjxtsAI9IheZPPtAwjyGQU89ZiCEvPqtWjq7MjU8hW8LveeYzTzDDws9O7igvLvlLjxZKRs9KvvavGrDY7326QA8MC4PPKQxpjycZMU45y0uueSyFjz3lfE8AwhOvR/yMjwPf8S8uWVTvM7aFTw3ube8O7U4vO+G87xLKPw8K/dpPM8pZDyw1MQ8m0rUvdirpbtnwJm9Zr6KPCvOQT2Czg47l9zdvJ9IUzqlrzQ7B++zPFzgKrvXjvi8vQe1PHAiDb3QtAk9gxomPXd/hzvVKcC8RHd+vCPagrwMIka9ZPK/O7KWwDyXnJk9N29WvQSFXTxJiqk8PaADvbIr+bzRGJ+870hJvZk5a7xw8ig8brNAvEQlHr3SNNg8coxIvMrudT0ym1U7bo+MO2PCID168S29ZpKhvaYrhzyEvBw8FTEsPXHmAr0NT5a8xNYgvXxws7yesdY75Rq7u4eTuTuVaAQ9kST3vKO15zuYUSa9b/2kvNkFDj0015I7"
}
