bundles/spark/kbs/soar-playbooks/entries/pb-core-issue-exception-approval.json
{
  "id": "pb-core-issue-exception-approval",
  "title": "Issue Exception Approval",
  "category": "playbook",
  "content": "This playbook manages communication for the approval of a requested issue exception.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (Core, xsoar-supported).\n\nIntegrations/scripts used: send-mail.",
  "raw_yaml": "description: This playbook manages communication for the approval of a requested issue exception.\nid: 'Issue Exception Approval'\ninputs: []\nname: Issue Exception Approval\noutputs: []\nquiet: true\nadopted: true\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    continueonerrortype: \"\"\n    id: \"0\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"3\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 221dcc0d-7f5e-418c-8fc5-758098644a9e\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: 221dcc0d-7f5e-418c-8fc5-758098644a9e\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 50\n        }\n      }\n  \"3\":\n    continueonerrortype: \"\"\n    form:\n      description: \"\"\n      expired: false\n      questions:\n      - defaultrows: []\n        fieldassociated: \"\"\n        gridcolumns: []\n        id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: |-\n            ${requestorName} (${requestorEmail}) is requesting approval for the following Issue Exception:\n            - **Rule Name** : ${ruleName}\n            - **Match Criteria**: ${matchCriteria}\n            - **Number of Matching Issues**: ${matchingIssues}\n            - **Justification**: ${requestorJustification}\n            - **Exception Date UTC**: ${exceptionPeriod}\n\n            Do you approve this exception?\n        options: []\n        optionsarg:\n        - simple: Yes, approve this exception\n        - simple: No, reject this exception\n        placeholder: \"\"\n        readonly: false\n        required: true\n        tooltip: Approving this exception will pause SLA timers for all matching issues. This pause will remain in effect for the duration specified in the exception rule.\n        type: singleSelect\n      - defaultrows: []\n        fieldassociated: \"\"\n        gridcolumns: []\n        id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Decision Comments\n        options: []\n        optionsarg: []\n        placeholder: Enter your comments\n        readonly: false\n        required: true\n        tooltip: Please provide context for your decision. This ensures a clear history of why this exception was granted or denied.\n        type: shortText\n      sender: Cortex Issue Exception Approval Request\n      title: Cortex Issue Exception Approval Request\n      totalanswers: 0\n    id: \"3\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    message:\n      bcc:\n      body:\n        simple: |\n          <p>Hello,</p>\n          <br>\n          <p>${requestorName} is requesting your approval to create a security issue exception. Click the link below to approve. You have 7 days to approve this request.</p>\n      cc: {}\n      format: html\n      methods:\n      - email\n      subject:\n        simple: Cortex Issue Exception Approval Request - ${ruleName}\n      timings:\n        completeafterreplies: 1\n        completeaftersla: true\n        completeafterv2: true\n        retriescount: 28\n        retriesinterval: 360\n      to:\n        simple: ${approverEmail}\n    nexttasks:\n      '#none#':\n      - \"4\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    sla:\n      days: 0\n      hours: 0\n      minutes: 0\n      weeks: 1\n    task:\n      brand: \"\"\n      description: Send data collection form to approver.\n      id: c8dbd48c-d4ad-4ee3-afe1-9ad609a0b3c0\n      iscommand: false\n      name: Send Data Collection Form to Approver\n      type: collection\n      version: -1\n    taskid: c8dbd48c-d4ad-4ee3-afe1-9ad609a0b3c0\n    timertriggers: []\n    type: collection\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 200\n        }\n      }\n  \"4\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: Cortex Issue Exception Approval Request.Answers.0\n          operator: isEqualString\n          right:\n            value:\n              simple: Yes, approve this exception\n      label: Approved\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: Cortex Issue Exception Approval Request.Answers.0\n          operator: isEqualString\n          right:\n            value:\n              simple: No, reject this exception\n      label: Rejected\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: Cortex Issue Exception Approval Request.Answers\n          operator: isEmpty\n      label: No Answer\n    continueonerrortype: \"\"\n    id: \"4\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      Approved:\n      - \"15\"\n      No Answer:\n      - \"17\"\n      Rejected:\n      - \"16\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Identify the decision result.\n      id: 10fa4d3f-be2b-4b75-8343-c095075360b0\n      iscommand: false\n      name: What Was the Decision Result?\n      type: condition\n      version: -1\n    taskid: 10fa4d3f-be2b-4b75-8343-c095075360b0\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 370\n        }\n      }\n  \"9\":\n    continueonerrortype: \"\"\n    id: \"9\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"13\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      htmlBody:\n        simple: \"<p>Hello,</p>\\n\\n<p>Your Exception Request <b>${ruleName}</b> has been approved!</p>\\n\\n<p>Issues matching the established criteria are now suppressed. This exception will remain active until <b>${exceptionPeriod}</b>.</p>\\n\\n<p>You can view and manage this exception rule  \\n<b><a href=\\\"${demistoUrls.server}/exceptions-configuration/issue-exclusions-and-exceptions/issue-exceptions\\\">here.</a></b></p>\"\n      subject:\n        simple: Cortex Issue Exception Request ${ruleName} Approved\n      to:\n        simple: ${requestorEmail}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: commands.server.mail.sendmail\n      id: 828fdaef-c114-4f43-8477-40203c0d8ff0\n      iscommand: true\n      name: Notify Requestor Of Approval\n      script: '|||send-mail'\n      type: regular\n      version: -1\n    taskid: 828fdaef-c114-4f43-8477-40203c0d8ff0\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -20,\n          \"y\": 750\n        }\n      }\n  \"11\":\n    continueonerrortype: \"\"\n    id: \"11\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"13\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      htmlBody:\n        simple: \"<p>Hello,</p>\\n\\n<p>Your Exception Request <b>${ruleName}</b> has been rejected.</p>\\n\\n<p>Issues related to this rule will continue to be generated.</p>\\n\\n<p>Please review the rejection justification and reviewer comments \\n<b><a href=\\\"${demistoUrls.server}/exceptions-configuration/issue-exclusions-and-exceptions/issue-exceptions\\\">here.</a></b></p>\"\n      subject:\n        simple: Cortex Issue Exception Request ${ruleName} Rejected\n      to:\n        simple: ${requestorEmail}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: commands.server.mail.sendmail\n      id: cc21eca5-7044-4121-997a-69803ae13005\n      iscommand: true\n      name: Notify Requestor Of Rejection\n      script: '|||send-mail'\n      type: regular\n      version: -1\n    taskid: cc21eca5-7044-4121-997a-69803ae13005\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 750\n        }\n      }\n  \"12\":\n    continueonerrortype: \"\"\n    id: \"12\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"13\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      htmlBody:\n        simple: |-\n          <p>Hello,</p>\n\n          <p>No decision was made on Exception Request <b>${ruleName}</b> and as a result the request is no longer active.</p>\n      subject:\n        simple: Cortex Issue Exception Request ${ruleName} Expired\n      to:\n        simple: ${requestorEmail}, ${approverEmail}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: commands.server.mail.sendmail\n      id: 815c27dd-6598-403f-adc1-a3169ec5570f\n      iscommand: true\n      name: Notify Requestor And Approver Of Expiration\n      script: '|||send-mail'\n      type: regular\n      version: -1\n    taskid: 815c27dd-6598-403f-adc1-a3169ec5570f\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 960,\n          \"y\": 750\n        }\n      }\n  \"13\":\n    continueonerrortype: \"\"\n    id: \"13\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 07a09e9b-b4ad-4c69-aa5d-17d0ea39d3bd\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 07a09e9b-b4ad-4c69-aa5d-17d0ea39d3bd\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 1000\n        }\n      }\n  \"15\":\n    continueonerrortype: \"\"\n    id: \"15\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"9\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      approval_justification:\n        simple: ${Cortex Issue Exception Approval Request.Answers.1}\n      approver_email:\n        simple: ${approverEmail}\n      exception_id:\n        simple: ${exceptionId}\n      status:\n        simple: APPROVED\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: Updates the approval status of an issue exception.\n      id: 29cc5079-aa6a-4f5d-bd36-a00e282ba3cd\n      iscommand: true\n      name: Update Exception as Approved\n      script: Builtin|||updateException\n      type: regular\n      version: -1\n    taskid: 29cc5079-aa6a-4f5d-bd36-a00e282ba3cd\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -20,\n          \"y\": 580\n        }\n      }\n  \"16\":\n    continueonerrortype: \"\"\n    id: \"16\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"11\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      approval_justification:\n        simple: ${Cortex Issue Exception Approval Request.Answers.1}\n      approver_email:\n        simple: ${approverEmail}\n      exception_id:\n        simple: ${exceptionId}\n      status:\n        simple: REJECTED\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: Updates the approval status of an issue exception.\n      id: a79e0fff-905a-48f2-b66a-7fcdea9c519a\n      iscommand: true\n      name: Update Exception as Rejected\n      script: Builtin|||updateException\n      type: regular\n      version: -1\n    taskid: a79e0fff-905a-48f2-b66a-7fcdea9c519a\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 580\n        }\n      }\n  \"17\":\n    continueonerrortype: \"\"\n    id: \"17\"\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - \"12\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      approval_justification:\n        simple: No decision was made within the approval timeout period.\n      approver_email:\n        simple: ${approverEmail}\n      exception_id:\n        simple: ${exceptionId}\n      status:\n        simple: NO_DECISION_MADE\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: Updates the approval status of an issue exception.\n      id: e6f71862-2a0d-43b6-9e31-e1967263df09\n      iscommand: true\n      name: Update Exception as No Decision Made\n      script: Builtin|||updateException\n      type: regular\n      version: -1\n    taskid: e6f71862-2a0d-43b6-9e31-e1967263df09\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 960,\n          \"y\": 580\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1010,\n        \"width\": 1360,\n        \"x\": -20,\n        \"y\": 50\n      }\n    }\n  }\ninternal: true\ntests:\n- No tests (auto formatted)\nfromversion: 8.14.0\nmarketplaces:\n- platform\n",
  "product": "Cortex XSOAR",
  "pack": "Core",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "8.14.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "PoBCPddO6rwd5hq9ZRccPL2CwDzUTg+8f01QPA1YpjuDAD48osqFPM6Z87x3EJY9L/6hPcDQDrspmQO8yeQyvbRDATx/cak8mVUePLA01ryw/qu7X4VrvFo26LwQ+ao8NEedO642Ub0MSaA8htOHvKgWbL3MIv689LrfuujYVzs4QSq8CrP0vMDuab1ImZ87GSOYvCapV71QnQO9TFdsPOahQr2V4IK9fswJvMRfgj09FSY9YOCWvIAH5bxSgSs9oKxyvbQZWT1pYso9v85avC1Eyry4/Zw8FTYVvd0omryR6Vu8AMgPvUv1bjxw5029vArSvLZHt7xwuwo8kQrROxX3hz2NbZ0848SYPELYfDyMmZY7aqpxPejXpbxQphs9I10KPPeznLxGBcO7I+GVvAFdDr16q6g7yIZDPUENDD0PmYs8ZA3wOzmGMD2zGDw7/cs7vcWXeDsOcB88f2WNvYKCUL0igiC7OWjFPVsPLLxFWEC9vWFTPXA0FD2qLh68zswTvaaEQr0S13g8CqQJPAHhSr3yYR+8mxwsPCjRC7x0UpO7sSYKPeCsxDr07Xq9IdJwvekSDr0Xx7Y8ztS0OqnIorrMWhU9NJ5yvR5WQD2ckNa8cSKcvGAyojwdr0q9jkm6u/ycqjw/ISI83lb2PJJa7Dw7hjw9sr6zPAhMDb3wIW+9kc0TvCP0MjwGV7o83nRKuRi3sLwuhky9t741vfXWNT29Gt286bvrulD53bpG6ny8w6bQOo9QAb7TXus8G2IbvBwWKL0ge1s9589mPb+1kzrSNAm9LMVYPLpgRL3cQpu82x0sPZCThLw3CrG8h9cIvbmD272yq+Q8t/6KvcBkLr0rjSS9QeySPEUPszygC/G6dHdYvMjoDL30Mw49upt7vcLoOT2MnSW9aA8svY0bA72Xn/W8qeqcvE+8mD1Hb4I7ooHtOu8Y+7x2ax29hgP4PK+VBj2risY8aqKrvdFdfT3gHBI9EHjOu95O/zy+75y8zByCO6FPIbznVwE9iCe2PNSt4D0v/1G98HsEu57s0zz2yl09+aRAvTHE5jxjwas9P3+ePWJto7zlNWS91BcHvdFKB72V1IO9gY6DvY2KFr2lGZe8Ul/VvLM9Qj2ZzwY7TSSyvBLbtzy/2x89Z4IqNs0wvzxQqMg91OFxvNARRT2S11k8ID6ePHPNybsBhAi9Ni4GPfuWhb2im449Mrqiukige73OQ4G8km6/PbJdWr1ob8Y8eTegvOeLMTzrN5A9iv9Vvak/Jr1Cty+9+RTVvNV3kjyofiE9Oah/vBDInT0+eCO9wtwlPcYtyzqBr5a8xlAhvaC077yknzm7ObMLPLgT4bwORbM7T9abvHBDWbt28l47PbXrvCmOK739LgA9QubfuzOxmbzHj4S9f9cRPUA9r73X5QQ8rPxXvfXkyDvz9b67xbWbPO75ID0fT4G9VB73vE/SG70MDVW8RTcivWb7PD1OG2a9cq59vQ4kOL0Fb2a8KOr7PPbcmrwgxNw74wASvQw99br1WwW9Zt6bvGK1MDy/0gU940QJPenxTb3VnVG9sF4dPTqZXD0rub08SRGuPcTM3rxfOEm7qbRiPIBz6DyVqa28hgDaPMvgUbxZdoo9ZGgZPQIkHLsn1zo73H8YPHgs4bsG3Kw8bA9nPCl5hLzOag88g56ivCWP0r0EW5Y8BlTmvNaA6zxytAw93wTpOxQ9mrydWI49RIr+vGqBCD3BpZy8Q2GIuSViEr3vku88KEgePENQtTyT6Eg8KCjHvDAcTr2zkH88dxKyvXUtvDsoxns935oLPF+lUzwE0wu8uZq0PNvnorpBYN68Ylc3OyxqmTpMlUC9AqWxPZIt9DzQlvw51VqMPUHIG7zXuCA80u+JOwb+N7xDava8Pqi2uxWfajzRwLw7bpF8PL0EtzxmJIw83UURPYgXkbpGXp+8/jQIPeh/WD329so7AxMvvSsiAr3dIy+8p9oZvNdPYbx0I887h7aPveeEV7wEvF68774UuoR/s7xErg09WKorPZvk8rzsthe8EerWPIpqhT0sUF+9+yYFPUokyDkoNYC8QmJqvaDb3j3MMsQ8lrmNPc1ee71ia5S7FvHWvASR2z1s3QY9LnUSvQWOybtQrF69R75oPRIDhLwKLt08L+hwO1H3Jjyx01A9ZyHUvFv+vzsiPA88xYmkPBVczju5oRs8zPsvvczFATyfXVk9OGAHu+7Gabx0OVc9l5Eive7VCLyaiRK8fO1TO59FSrxXmGq97fwzvJAvzLqBV3w8cGxHPC/f4Tx0hng9zyQLPdACszvZZsU7BkAaPXiQ4DuG86i8VKohPEOSxDwlJY08/eARPSVdRz3HqXA9L+DwvMjl3DxpMsM6gKcvPSqXCj0SWwI93SwfvdNlE73WlEc8lWSZO9MtZ70y8+08ETCeO4uQYj1DeIa8/hmZvNqmab2c0P677QYnPduItLupm7C8ga0KvTBUIbvf2E49sfQfPQCLTD2U0jI8Gko9Penh8TzZBz49b5r2vKHjGrxwCvM8V4QzOz2tRL1UVRK9uGJovQ4O6LwHxFQ8po2tOp4Cvjz8Qou89jaAvUf5sry98nM8wk2huxG/PL3RDIa82hSIvcuy8jtVPcm7A6OQvUUkzLxIBN68XYUOvFkNaj1lXpg8TPkgPXgUvjxbGJW8Ea92vLe0HD0aj228hcrMO4ZOqLzMiIo9t5hvPUtcVL2u83U9v6nSvPeUhb1O5qS7CKuaPPgkkrwNzG08HNANPV7SobzQnH+8Y2xgPGW3rry99HO8AsJ3vOns67uwZBE8B2YFvQKI1bs5Wq68ixigPRUmyjxRtEk9jpUcu3Vd9zx6RnI9ALrJPNJtRz1HZqu51VAjPSqyNz3dWDU9gauOvGG3UT28eog9TtiovH/RLTwPnxG9kNsgPWJoZr3QFQ072Si/vJJPZb0Jo2O9hxwHvSADkbscJzG9TgH8ulaJQTxFIP48ahczvASdZr2kznK7aEsbvTaZU7xhhEu9R1RZPJGwSz07XIY72KsQOo6ogzx6e9U6Pm/3vAVa8ry/0DC99b5CvEdbw7y/CWc8YaCxPCTpzjxij0Q8MyOKPT1qqbxYBQC9y7hJupf2A72r97a7f2n/vFS6aLu3gea7QDiTvN/KTrv4QVQ8gKw9O/S2djyvNqe8ThYbvFyOhTyuX5Y8k2uFvBT7zLwdfaI8Du4CvHahgr1cmku8yyTNvIkOZ71aHk88W6k6PAzXFL2lgoE9dBoHvHyYRb0JzeK7672+PIktQzw67WA8kRsEvEQCvLsk+O489LTyPNOZC7yMX8G819opPZghn7ws2gG9fLgGOk0dhz0gdY48qRd+PBiaET12H0c8ehc6vQEjYrz1sq+8jE8KvEXwlTy94r08Z5BYvesGQDzFQYm9psiPPTh1iz1Enay9bG0EPSnQ1jwH8TS9/NqvvAWUNDznrjg8ov5fPYvqGrxOcoA9H6JLvR7ruzsTWZm7HdTBvJOkhD17Niq9EWz8PJMxIL1EkHe9r6VnPBjrOL26uc88kLsevSYWkL0fazQ98JIAPKtIFL12LoC7s+G0PUhrLz2Z0rS7Q611O+rkJz0E/YU9d67XvB2XQrx4AEi9A2IXvNdhDz3gEOy7miGqPJHrhrtC0/w8Ob59uebEurzNYTS3u5FAPaCLQD2ySUk8FzkKPHphozxfu5S82dl9vNaD5Lyd/gO8E2NLvCLeTDwrXvo7DF5LvUh8nLuDHgs9ctevPOB0AD05yvY83xPUvbI8KD2HZNK8Ys0HPfsdizzu3Tg75IFWPFGWBr1ScRs9wUI0PQtLHTz5Gwy9peggPTrnV71sJ0E9leIxPMw8v7vKHHO8lihsO5kZrLwFVYq9sRcQvHodLT37Icw8x04+O1MzyDzDBKy87qcsPK9KF70nAhm9nWOBvAKGgbspJQq8ORiDvaXKNL0szd68X3YVvbG7Sj3iDuM8CxoePPGxtToEfBq9neOTvXzb27yPdiE8a0ORvNnTXzw2R6C8A4myvFjMwrwu3nU9+nJXO2I3Mb3404g99ukFvWHtiTzgmXI7y+gWveB2Bz3pvu67"
}
