bundles/spark/kbs/soar-playbooks/entries/pb-cloudincidentresponse-cloud-token-theft-response.json
{
  "id": "pb-cloudincidentresponse-cloud-token-theft-response",
  "title": "Cloud Token Theft Response",
  "category": "playbook",
  "content": "---\n\n## Cloud Token Theft Response Playbook\n\nThe **Cloud Token Theft Response Playbook** provides a structured and comprehensive flow to effectively respond to and mitigate alerts involving the theft of cloud tokens. The playbook supports AWS, GCP, and Azure and executes the following:\n\n**Cloud Enrichment:**\n- Enriches the involved resources\n- Enriches the involved identities\n- Enriches the involved IPs\n\n**Verdict Decision Tree:**\n- Determines the appropriate verdict based on the investigation findings\n\n**Early Containment using the Cloud Response - Generic Playbook:**\n- Implements early containment measures to prevent further impact\n\n**Cloud Persistence Threat Hunting:**\n- Conducts threat hunting activities to identify any cloud persistence techniques\n\n**Enriching and Responding to Hunting Findings:**\n- Performs additional enrichment and responds to the findings from threat hunting\n\n**Verdict Handling:**\n- Handles false positives identified during the investigation\n- Handles true positives by initiating appropriate response actions\n\n---\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (CloudIncidentResponse, xsoar-supported).\n\nUse cases: Incident Response.\n\nInputs — alert_id: The alert ID.; InternalRange: A list of internal IP ranges to check IP addresses against. The comma-separated list should be provided in a CIDR notation.; ResolveIP: Determines whether to convert the IP address to a hostname using a DNS query (True/ False).; earlyContainment: Whether to execute early containment.\nThis action allows you to respond rapidly but have higher probability for false positives.; VPNIPList: This input can process to types of data:\n1. A comma separated list of IP addresses assigned by the VPN provider. (using a XSIAM list or an hardcoded array)\n2. A comma separated list of CIDRs.\n3. A link to an IP addresses list which will be processed and extract the IP dynamically with each execution.; AWS-newInstanceProfileName: The new instance profile name to assign in the clone service account flow.; AWS-newRoleName: The new role name to assign in the clone service account flow.; AWS-roleNameToRestrict: If provided, the role will be attached with a deny policy without the compute instance analysis flow.; shouldCloneSA: Whether to clone the compromised SA before putting a deny policy to it.\nSupports: AWS.\nTrue/False; autoCredentialsRotation: Whether to rotate the identity credentials automatically..\n\nIntegrations/scripts used: ParseHTMLIndicators, core-get-cloud-original-alerts.",
  "raw_yaml": "id: Cloud Token Theft Response\nversion: -1\nname: Cloud Token Theft Response\ndescription: \"---\\n\\n## Cloud Token Theft Response Playbook\\n\\nThe **Cloud Token Theft Response Playbook** provides a structured and comprehensive flow to effectively respond to and mitigate alerts involving the theft of cloud tokens. The playbook supports AWS, GCP, and Azure and executes the following:\\n\\n**Cloud Enrichment:**\\n- Enriches the involved resources\\n- Enriches the involved identities\\n- Enriches the involved IPs\\n\\n**Verdict Decision Tree:**\\n- Determines the appropriate verdict based on the investigation findings\\n\\n**Early Containment using the Cloud Response - Generic Playbook:**\\n- Implements early containment measures to prevent further impact\\n\\n**Cloud Persistence Threat Hunting:**\\n- Conducts threat hunting activities to identify any cloud persistence techniques\\n\\n**Enriching and Responding to Hunting Findings:**\\n- Performs additional enrichment and responds to the findings from threat hunting\\n\\n**Verdict Handling:**\\n- Handles false positives identified during the investigation\\n- Handles true positives by initiating appropriate response actions\\n\\n---\"\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    taskid: 72cf7e2b-9a6f-4a1b-821e-f4679e486af5\n    type: start\n    task:\n      id: 72cf7e2b-9a6f-4a1b-821e-f4679e486af5\n      version: -1\n      name: ''\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '1'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": -1380\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '1':\n    id: '1'\n    taskid: e611d3ea-534f-46c9-8647-e82036bbb2d1\n    type: regular\n    task:\n      id: e611d3ea-534f-46c9-8647-e82036bbb2d1\n      version: -1\n      name: Fetch alert extra data\n      description: Returns information about each alert ID.\n      script: '|||core-get-cloud-original-alerts'\n      type: regular\n      iscommand: true\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      alert_ids:\n        complex:\n          root: inputs.alert_id\n      filter_alert_fields:\n        simple: 'false'\n      ignore-outputs:\n        simple: 'false'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": -1250\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: ASN\n      output:\n        simple: ${Core.OriginalAlert.event.caller_ip_asn}\n    - incidentfield: ASN Name\n      output:\n        simple: ${Core.OriginalAlert.event.caller_ip_asn_org}\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '3':\n    id: '3'\n    taskid: 98397e62-31c7-4b49-876f-a6c4210260ee\n    type: title\n    task:\n      id: 98397e62-31c7-4b49-876f-a6c4210260ee\n      version: -1\n      name: Check VPN\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '54'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": -1090\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '4':\n    id: '4'\n    taskid: a505e901-1a19-4c54-89a5-5679da10c8e7\n    type: playbook\n    task:\n      id: a505e901-1a19-4c54-89a5-5679da10c8e7\n      version: -1\n      name: Cloud Enrichment - Generic\n      description: \"---\\n\\n## Generic Cloud Enrichment Playbook\\n\\nThe **Cloud Enrichment - Generic Playbook** is designed to unify all the relevant playbooks concerning the enrichment of information in the cloud. It provides a standardized approach to enriching information in cloud environments.\\n\\n### Supported Blocks\\n\\n1. **Cloud IAM Enrichment - Generic**\\n   - Enriches information related to Identity and Access Management (IAM) in the cloud.\\n\\n2. **Cloud Compute Enrichment - Generic**\\n   - Enriches information related to cloud compute resources.\\n\\n---\"\n      playbookName: Cloud Enrichment - Generic\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '6'\n    scriptarguments:\n      cloudProvider:\n        complex:\n          root: alert\n          accessor: cloudprovider\n      username:\n        complex:\n          root: alert\n          accessor: username\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -640,\\n    \\\"y\\\": 210\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '5':\n    id: '5'\n    taskid: 296536c2-e825-421c-8e77-d23c4858e540\n    type: title\n    task:\n      id: 296536c2-e825-421c-8e77-d23c4858e540\n      version: -1\n      name: Threat Hunting\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '44'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 1700\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '6':\n    id: '6'\n    taskid: 506a830b-e106-49bb-884d-3046683e101d\n    type: title\n    task:\n      id: 506a830b-e106-49bb-884d-3046683e101d\n      version: -1\n      name: Analysis\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '42'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 380\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '8':\n    id: '8'\n    taskid: 99b32157-a4b5-4ad2-8949-3664187f3f1a\n    type: condition\n    task:\n      id: 99b32157-a4b5-4ad2-8949-3664187f3f1a\n      version: -1\n      name: Check verdict resolution\n      description: Checks which verdict was received by the Cloud Token Theft - Set Verdict playbook.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '49'\n      Malicious:\n      - '50'\n    separatecontext: false\n    conditions:\n    - label: Malicious\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: alertVerdict\n            iscontext: true\n          right:\n            value:\n              simple: Malicious\n          ignorecase: true\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 680\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '9':\n    id: '9'\n    taskid: d9455fee-7caf-46ac-8026-364883bdbc26\n    type: playbook\n    task:\n      id: d9455fee-7caf-46ac-8026-364883bdbc26\n      version: -1\n      name: Handle False Positive Alerts\n      description: \"This playbook handles false positive alerts.\\nIt creates an alert exclusion or alert exception, or adds a file to an allow list based on the alert fields and playbook inputs.\\n\"\n      playbookName: Handle False Positive Alerts\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '41'\n    scriptarguments:\n      ShouldCloseAutomatically:\n        simple: 'False'\n      ShouldHandleFPautomatically:\n        simple: 'False'\n      alertName:\n        complex:\n          root: alert\n          accessor: name\n      sourceIP:\n        complex:\n          root: alert\n          accessor: hostip\n      username:\n        complex:\n          root: alert\n          accessor: username\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 3005\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '10':\n    id: '10'\n    taskid: 0b5c42f1-1adc-47e1-85be-b74017596364\n    type: playbook\n    task:\n      id: 0b5c42f1-1adc-47e1-85be-b74017596364\n      version: -1\n      name: Cloud Response - Generic\n      description: \"This playbook provides response playbooks for:\\n- AWS\\n- Azure\\n- GCP\\n\\nThe response actions available are:\\n- Terminate/Shut down/Power off an instance\\n- Delete/Disable a user\\n- Delete/Revoke/Disable credentials\\n- Block indicators\"\n      playbookName: Cloud Response - Generic\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '5'\n    scriptarguments:\n      AWS-userRemediationType:\n        simple: Revoke\n      Azure-userRemediationType:\n        simple: Disable\n      GCP-accessKeyRemediationType:\n        simple: Disable\n      GCP-userRemediationType:\n        simple: Disable\n      autoAccessKeyRemediation:\n        simple: 'False'\n      autoBlockIndicators:\n        simple: 'True'\n      autoResourceRemediation:\n        simple: 'False'\n      autoUserRemediation:\n        simple: 'False'\n      cloudProvider:\n        simple: ${alert.cloudprovider}\n      username:\n        simple: ${alert.username}\n    separatecontext: false\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1170,\\n    \\\"y\\\": 1340\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '11':\n    id: '11'\n    taskid: 6ec57530-4216-4d77-8f85-35d0df561827\n    type: title\n    task:\n      id: 6ec57530-4216-4d77-8f85-35d0df561827\n      version: -1\n      name: Early Containment\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '10'\n      - '62'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 720,\\n    \\\"y\\\": 1200\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '14':\n    id: '14'\n    taskid: 89ca3353-c319-48a6-82ab-3c18ad78136e\n    type: title\n    task:\n      id: 89ca3353-c319-48a6-82ab-3c18ad78136e\n      version: -1\n      name: Enrich IoCs\n      description: This script will extract indicators from the given AWS CloudTrail, GCP Logging, or Azure Log Analytics event data.\n      type: title\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '47'\n      - '46'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 2010\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '15':\n    id: '15'\n    taskid: 94a1e1eb-6884-4f7a-8262-f4cf8179b2d6\n    type: title\n    task:\n      id: 94a1e1eb-6884-4f7a-8262-f4cf8179b2d6\n      version: -1\n      name: Containment\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '51'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 890,\\n    \\\"y\\\": 2530\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '19':\n    id: '19'\n    taskid: 866c90ea-1631-4f35-8c08-dbca5e72b8e8\n    type: condition\n    task:\n      id: 866c90ea-1631-4f35-8c08-dbca5e72b8e8\n      version: -1\n      name: Persistence activity or suspicious IoCs found?\n      description: Checks if one of the extracted indicators is suspicious or malicious, or if there are any results from the Cloud Threat Hunting - Persistence playbook.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '20'\n      yes:\n      - '15'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: DBotScore\n                filters:\n                - - operator: greaterThanOrEqual\n                    left:\n                      value:\n                        simple: DBotScore.Score\n                      iscontext: true\n                    right:\n                      value:\n                        simple: '2'\n                accessor: Indicator\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: AWSQuery\n                transformers:\n                - operator: append\n                  args:\n                    item:\n                      value:\n                        simple: GCPQuery\n                      iscontext: true\n                - operator: append\n                  args:\n                    item:\n                      value:\n                        simple: AzureQuery\n                      iscontext: true\n            iscontext: true\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 2340\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '20':\n    id: '20'\n    taskid: 73551cc9-76bd-48f9-8f38-2fef3a302f11\n    type: title\n    task:\n      id: 73551cc9-76bd-48f9-8f38-2fef3a302f11\n      version: -1\n      name: Manual invetigation\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '22'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 2530\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '22':\n    id: '22'\n    taskid: 03e6367e-d3af-4622-8f11-d1352c77c619\n    type: regular\n    task:\n      id: 03e6367e-d3af-4622-8f11-d1352c77c619\n      version: -1\n      name: Investigate the data collected\n      description: You should investigate the data collected manually and choose how the playbook should continue.\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '23'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 2665\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '23':\n    id: '23'\n    taskid: adea59ae-46c6-4565-8ab0-ac19f1301c91\n    type: condition\n    task:\n      id: adea59ae-46c6-4565-8ab0-ac19f1301c91\n      version: -1\n      name: Should contain the threats?\n      description: Whether to contain the threats found.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '9'\n      Yes:\n      - '51'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 2830\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '34':\n    id: '34'\n    taskid: 9a44b2ac-d8e1-42cd-828b-50908be646c9\n    type: title\n    task:\n      id: 9a44b2ac-d8e1-42cd-828b-50908be646c9\n      version: -1\n      name: Eradication\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '36'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 3180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '35':\n    id: '35'\n    taskid: 3a8277ea-891b-4edd-853d-c2e6b2bd0c3c\n    type: playbook\n    task:\n      id: 3a8277ea-891b-4edd-853d-c2e6b2bd0c3c\n      version: -1\n      name: Cloud Response - Generic\n      description: \"This playbook provides response playbooks for:\\n- AWS\\n- Azure\\n- GCP\\n\\nThe response actions available are:\\n- Terminate/Shut down/Power off an instance\\n- Delete/Disable a user\\n- Delete/Revoke/Disable credentials\\n- Block indicators\"\n      playbookName: Cloud Response - Generic\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '37'\n    scriptarguments:\n      AWS-accessKeyRemediationType:\n        simple: Delete\n      AWS-resourceRemediationType:\n        simple: Terminate\n      AWS-userRemediationType:\n        simple: Delete\n      Azure-resourceRemediationType:\n        simple: Delete\n      Azure-userRemediationType:\n        simple: Delete\n      GCP-accessKeyRemediationType:\n        simple: Delete\n      GCP-resourceRemediationType:\n        simple: Delete\n      GCP-userRemediationType:\n        simple: Delete\n      accessKeyId:\n        complex:\n          root: CloudIndicators\n          accessor: access_key_id\n      autoAccessKeyRemediation:\n        simple: 'False'\n      autoBlockIndicators:\n        simple: 'False'\n      autoResourceRemediation:\n        simple: 'False'\n      autoUserRemediation:\n        simple: 'False'\n      cloudProvider:\n        complex:\n          root: alert\n          accessor: cloudprovider\n      region:\n        complex:\n          root: Core.OriginalAlert.event\n          accessor: region\n      resourceName:\n        complex:\n          root: CloudIndicators\n          accessor: resource_name\n      username:\n        complex:\n          root: CloudIndicators\n          accessor: username\n    separatecontext: false\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 3490\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '36':\n    id: '36'\n    taskid: f7b26e88-099c-4859-8a0e-629596e6b090\n    type: condition\n    task:\n      id: f7b26e88-099c-4859-8a0e-629596e6b090\n      version: -1\n      name: Should eradicate the threats?\n      description: Whether to eradicate the threats. This playbook should be treated with care as its actions are irreversible.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '37'\n      Yes:\n      - '35'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 3310\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '37':\n    id: '37'\n    taskid: 698ba6ec-2278-4493-8c8f-c89090d79136\n    type: title\n    task:\n      id: 698ba6ec-2278-4493-8c8f-c89090d79136\n      version: -1\n      name: Resolution\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '38'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 230,\\n    \\\"y\\\": 3660\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '38':\n    id: '38'\n    taskid: 876d7226-1120-4c0d-8df4-66b95ed0fd55\n    type: condition\n    task:\n      id: 876d7226-1120-4c0d-8df4-66b95ed0fd55\n      version: -1\n      name: Is manual investigation required to complete the resolution process?\n      description: Whether to continue with the investigation manually or close the alert.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '40'\n      Yes:\n      - '39'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 230,\\n    \\\"y\\\": 3790\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '39':\n    id: '39'\n    taskid: 1f50da4e-2d0b-4012-83aa-a865b9b04551\n    type: regular\n    task:\n      id: 1f50da4e-2d0b-4012-83aa-a865b9b04551\n      version: -1\n      name: Investigate further\n      description: Continue to investigate manually.\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '40'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 3960\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '40':\n    id: '40'\n    taskid: 355623a4-717a-4333-86b9-a75900536328\n    type: regular\n    task:\n      id: 355623a4-717a-4333-86b9-a75900536328\n      version: -1\n      name: Resolve the alert\n      description: commands.local.cmd.close.inv\n      script: Builtin|||closeInvestigation\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - '41'\n    scriptarguments:\n      closeReason:\n        simple: True Positive\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 230,\\n    \\\"y\\\": 4130\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '41':\n    id: '41'\n    taskid: d09e1a12-93e1-4e50-8e5c-26fdbf28e9ec\n    type: title\n    task:\n      id: d09e1a12-93e1-4e50-8e5c-26fdbf28e9ec\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 4300\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '42':\n    id: '42'\n    taskid: 6c84bcd2-0d5c-4cf5-8c7a-8e29a87073b3\n    type: playbook\n    task:\n      id: 6c84bcd2-0d5c-4cf5-8c7a-8e29a87073b3\n      version: -1\n      name: Cloud Token Theft - Set Verdict\n      description: |-\n        ---\n\n        ## Cloud Token Theft - Set Verdict Playbook\n\n        The playbook is built from a decision tree whose ultimate goal is to decide whether the observed activity is malicious.\n\n        ### Event Search\n\n        The playbook searches for events based on the attacker's IP address within the last two hours.\n\n        ### Tests Performed\n\n        The following tests are performed on the observed activity:\n\n        1. **Malicious IP Check**: Determines if the IP address is malicious.\n        2. **CSP ASN Check**: Checks if the activity was performed from an Autonomous System Number (ASN) belonging to one of the Cloud Service Providers (CSPs).\n        3. **IP and ASN History Check**: Verifies if the IP address and ASN have been previously observed.\n        4. **Region Check**: Determines if the API call was made from outside the recognized region.\n        5. **Anomalous State Check**: Checks if the API call was made from an anomalous state.\n        6. **Alert Check**: Looks for any related alerts around the event, including:\n           - Possible cloud instance metadata service (IMDS) abuse.\n           - Impossible Traveler by cloud identity.\n\n        ---\n      playbookName: Cloud Token Theft - Set Verdict\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '8'\n    scriptarguments:\n      fromDate:\n        complex:\n          root: alert\n          accessor: created\n          transformers:\n          - operator: ModifyDateTime\n            args:\n              variation:\n                value:\n                  simple: 2 hours ago\n      sourceIP:\n        complex:\n          root: alert\n          accessor: hostip\n    separatecontext: false\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 515\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '43':\n    id: '43'\n    taskid: 2662f014-da1e-489b-8060-0c245f55789b\n    type: playbook\n    task:\n      id: 2662f014-da1e-489b-8060-0c245f55789b\n      version: -1\n      name: IP Enrichment - Generic v2\n      description: \"Enrich IP addresses using one or more integrations.\\n\\n- Resolve IP addresses to hostnames (DNS)\\n- Provide threat information\\n- Separate internal and external IP addresses\\n- For internal IP addresses, get host information\"\n      playbookName: IP Enrichment - Generic v2\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '6'\n    scriptarguments:\n      IP:\n        complex:\n          root: IP\n          accessor: Address\n          transformers:\n          - operator: uniq\n      InternalRange:\n        complex:\n          root: inputs.InternalRange\n          transformers:\n          - operator: uniq\n      ResolveIP:\n        complex:\n          root: inputs.ResolveIP\n      UseReputationCommand:\n        simple: 'False'\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 190,\\n    \\\"y\\\": 210\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '44':\n    id: '44'\n    taskid: e470723c-a8a3-4166-883b-5f4b38a6e7e6\n    type: playbook\n    task:\n      id: e470723c-a8a3-4166-883b-5f4b38a6e7e6\n      version: -1\n      name: Cloud Threat Hunting - Persistence\n      description: \"---\\n\\n## Cloud Threat Hunting - Persistence Playbook\\n\\nThe playbook is responsible for hunting persistence activity in the cloud. It supports AWS, GCP, and Azure.\\n\\n### Hunting Queries\\n\\nThe playbook executes hunting queries for each provider related to each of the following:\\n\\n1. IAM\\n2. Compute Resources\\n3. Compute Functions\\n\\n### Indicator Extraction\\n\\nIf relevant events are found during the search, indicators will be extracted using the `ExtractIndicators-CloudLogging` script.\\n\\n---\"\n      playbookName: Cloud Threat Hunting - Persistence\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '14'\n    scriptarguments:\n      AWSAccessKeyID:\n        simple: ${Core.OriginalAlert.event.identity_invoked_by_uuid}\n      AWSTimespan:\n        complex:\n          root: alert\n          accessor: timestamp\n          transformers:\n          - operator: ModifyDateTime\n            args:\n              variation:\n                value:\n                  simple: 2 hours ago\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: +\n              fields:\n                value:\n                  simple: '1'\n      AzureTimespan:\n        simple: 2h\n      GCPProjectName:\n        simple: ${alert.cloudproject}\n      GCPTimespan:\n        complex:\n          root: alert\n          accessor: timestamp\n          transformers:\n          - operator: ModifyDateTime\n            args:\n              variation:\n                value:\n                  simple: 2 hours ago\n          - operator: replace\n            args:\n              limit: {}\n              replaceWith:\n                value:\n                  simple: Z\n              toReplace:\n                value:\n                  simple: +00:00\n      cloudProvider:\n        complex:\n          root: alert\n          accessor: cloudprovider\n      region:\n        complex:\n          root: alert\n          accessor: region\n      username:\n        complex:\n          root: alert\n          accessor: username\n    separatecontext: false\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 1830\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '46':\n    id: '46'\n    taskid: 3ca72ce8-4d38-41bf-84b6-0675027851bd\n    type: playbook\n    task:\n      id: 3ca72ce8-4d38-41bf-84b6-0675027851bd\n      version: -1\n      name: Entity Enrichment - Generic v3\n      description: Enrich entities using one or more integrations.\n      playbookName: Entity Enrichment - Generic v3\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '19'\n    scriptarguments:\n      CVE:\n        complex:\n          root: CVE\n          accessor: ID\n      Domain:\n        complex:\n          root: Domain\n          accessor: Name\n          transformers:\n          - operator: uniq\n      Email:\n        complex:\n          root: Account\n          accessor: Email.Address\n          transformers:\n          - operator: uniq\n      Hostname:\n        complex:\n          root: Endpoint\n          accessor: Hostname\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: CloudIndicators\n          accessor: source_ip\n          transformers:\n          - operator: uniq\n      MD5:\n        complex:\n          root: File\n          accessor: MD5\n          transformers:\n          - operator: uniq\n      ResolveIP:\n        simple: 'False'\n      SHA1:\n        complex:\n          root: File\n          accessor: SHA1\n          transformers:\n          - operator: uniq\n      SHA256:\n        complex:\n          root: File\n          accessor: SHA256\n          transformers:\n          - operator: uniq\n      URL:\n        complex:\n          root: URL\n          accessor: Data\n          transformers:\n          - operator: uniq\n      Username:\n        complex:\n          root: CloudIndicators\n          accessor: username\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 660,\\n    \\\"y\\\": 2170\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '47':\n    id: '47'\n    taskid: eb31ed85-ba4e-4e7f-89af-03e29b765ab1\n    type: playbook\n    task:\n      id: eb31ed85-ba4e-4e7f-89af-03e29b765ab1\n      version: -1\n      name: Cloud Enrichment - Generic\n      description: \"---\\n\\n## Generic Cloud Enrichment Playbook\\n\\nThe **Cloud Enrichment - Generic Playbook** is designed to unify all the relevant playbooks concerning the enrichment of information in the cloud. It provides a standardized approach to enriching information in cloud environments.\\n\\n### Supported Blocks\\n\\n1. **Cloud IAM Enrichment - Generic**\\n   - Enriches information related to Identity and Access Management (IAM) in the cloud.\\n\\n2. **Cloud Compute Enrichment - Generic**\\n   - Enriches information related to cloud compute resources.\\n\\n---\"\n      playbookName: Cloud Enrichment - Generic\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '19'\n    scriptarguments:\n      cloudProvider:\n        complex:\n          root: alert\n          accessor: cloudprovider\n      instanceName:\n        complex:\n          root: CloudIndicators\n          accessor: resource_name\n      username:\n        complex:\n          root: CloudIndicators\n          accessor: username\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 240,\\n    \\\"y\\\": 2170\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '49':\n    id: '49'\n    taskid: 6798a3cc-ca31-44ed-8082-a2029eb938d0\n    type: condition\n    task:\n      id: 6798a3cc-ca31-44ed-8082-a2029eb938d0\n      version: -1\n      name: Investigate and set verdict\n      description: You should investigate the data collected manually and choose how the playbook should continue.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '9'\n      Malicious:\n      - '50'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 850\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '50':\n    id: '50'\n    taskid: 7887cd1f-10d5-4bc0-8b99-11260af33fd8\n    type: condition\n    task:\n      id: 7887cd1f-10d5-4bc0-8b99-11260af33fd8\n      version: -1\n      name: Should execute early containment?\n      description: Whether to execute early containment and block the IP address and respond to the username involved.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '5'\n      yes:\n      - '11'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.earlyContainment\n            iscontext: true\n          right:\n            value:\n              simple: 'True'\n          ignorecase: true\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 450,\\n    \\\"y\\\": 1030\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '51':\n    id: '51'\n    taskid: a81c56dd-412e-46b0-8a77-1bb72f5c3769\n    type: playbook\n    task:\n      id: a81c56dd-412e-46b0-8a77-1bb72f5c3769\n      version: -1\n      name: Cloud Response - Generic\n      description: \"This playbook provides response playbooks for:\\n- AWS\\n- Azure\\n- GCP\\n\\nThe response actions available are:\\n- Terminate/Shut down/Power off an instance\\n- Delete/Disable a user\\n- Delete/Revoke/Disable credentials\\n- Block indicators\"\n      playbookName: Cloud Response - Generic\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '34'\n    scriptarguments:\n      AWS-accessKeyRemediationType:\n        simple: Disable\n      AWS-resourceRemediationType:\n        simple: Stop\n      AWS-userRemediationType:\n        simple: Revoke\n      Azure-resourceRemediationType:\n        simple: Poweroff\n      Azure-userRemediationType:\n        simple: Disable\n      GCP-resourceRemediationType:\n        simple: Stop\n      GCP-userRemediationType:\n        simple: Disable\n      accessKeyId:\n        complex:\n          root: CloudIndicators\n          accessor: access_key_id\n      autoAccessKeyRemediation:\n        simple: 'False'\n      autoBlockIndicators:\n        simple: 'True'\n      autoResourceRemediation:\n        simple: 'False'\n      autoUserRemediation:\n        simple: 'True'\n      cloudProvider:\n        simple: ${alert.cloudprovider}\n      username:\n        complex:\n          root: CloudIndicators\n          accessor: username\n    separatecontext: false\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 890,\\n    \\\"y\\\": 3005\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '52':\n    id: '52'\n    taskid: 24ed2963-3107-45ad-8a3b-b155ad9ff72e\n    type: condition\n    task:\n      id: 24ed2963-3107-45ad-8a3b-b155ad9ff72e\n      version: -1\n      name: Check the VPN list type\n      description: Checks if the provided data is comma separated or an URL.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '60'\n      URL:\n      - '53'\n    separatecontext: false\n    conditions:\n    - label: URL\n      condition:\n      - - operator: startWith\n          left:\n            value:\n              complex:\n                root: inputs.VPNIPList\n            iscontext: true\n          right:\n            value:\n              simple: http://\n          ignorecase: true\n        - operator: startWith\n          left:\n            value:\n              complex:\n                root: inputs.VPNIPList\n            iscontext: true\n          right:\n            value:\n              simple: https://\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -630,\\n    \\\"y\\\": -790\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '53':\n    id: '53'\n    taskid: bf94c5a6-0100-4e60-89bc-e35364b5415a\n    type: regular\n    task:\n      id: bf94c5a6-0100-4e60-89bc-e35364b5415a\n      version: -1\n      name: Process the VPN IP list\n      description: This script will extract indicators from given HTML and will handle bad top-level domains to avoid false positives caused by file extensions.\n      scriptName: ParseHTMLIndicators\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '60'\n    scriptarguments:\n      ignore-outputs:\n        simple: 'false'\n      url:\n        complex:\n          root: inputs.VPNIPList\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -630,\\n    \\\"y\\\": -610\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Device External IPs\n      output:\n        simple: ${http.parsedBlog.indicators}\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '54':\n    id: '54'\n    taskid: eaaa946c-8d95-4186-8584-793b17a4fc7b\n    type: condition\n    task:\n      id: eaaa946c-8d95-4186-8584-793b17a4fc7b\n      version: -1\n      name: Was a VPN list provided?\n      description: Checks if data was provided for the VPNIPList input.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '59'\n      yes:\n      - '52'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.VPNIPList\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": -960\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '56':\n    id: '56'\n    taskid: 6fd2afb3-27a8-4018-8316-b3bd6bc4e1ea\n    type: condition\n    task:\n      id: 6fd2afb3-27a8-4018-8316-b3bd6bc4e1ea\n      version: -1\n      name: Should continue and investigate a known VPN IP address?\n      description: Once the attacker's IP address is part of the VPN IP list, the analyst will be required to decide whether to continue with the investigation.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '9'\n      Yes:\n      - '59'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -860,\\n    \\\"y\\\": -100\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '57':\n    id: '57'\n    taskid: 1c16c7d0-ffb1-4d5f-8d92-6a0a7e0d8e0c\n    type: regular\n    task:\n      id: 1c16c7d0-ffb1-4d5f-8d92-6a0a7e0d8e0c\n      version: -1\n      name: Set Is VPN IP Address to true\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setAlert\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - '56'\n    scriptarguments:\n      isvpnipaddress:\n        simple: 'true'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -630,\\n    \\\"y\\\": -270\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '58':\n    id: '58'\n    taskid: fd775e61-aee3-4cee-8f4f-af31b9676081\n    type: playbook\n    task:\n      id: fd775e61-aee3-4cee-8f4f-af31b9676081\n      version: -1\n      name: TIM - Indicator Relationships Analysis\n      description: \"This playbook is designed to assist with a security investigation by providing an analysis of indicator relationships. The following information is included:\\n- Indicators of compromise (IOCs) related to the investigation.\\n- Attack patterns related to the investigation.\\n- Campaigns related to the investigation.\\n- IOCs associated with the identified campaigns.\\n- Reports containing details on the identified campaigns.\"\n      playbookName: TIM - Indicator Relationships Analysis\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '6'\n    scriptarguments:\n      Indicator:\n        complex:\n          root: alert\n          accessor: hostip\n      LimitResults:\n        simple: '200'\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 210\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '59':\n    id: '59'\n    taskid: 7651a4bf-66c5-4880-894e-b9e89ee7f3b9\n    type: title\n    task:\n      id: 7651a4bf-66c5-4880-894e-b9e89ee7f3b9\n      version: -1\n      name: Enrichment\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '4'\n      - '58'\n      - '43'\n    separatecontext: false\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -230,\\n    \\\"y\\\": 70\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '60':\n    id: '60'\n    taskid: 626d149e-03db-47df-8186-ed7b64bde19a\n    type: condition\n    task:\n      id: 626d149e-03db-47df-8186-ed7b64bde19a\n      version: -1\n      name: 'Is the attacker IP matches a VPN IP? '\n      description: Checks if the attacker's IP address is part of the VPN IP list.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '59'\n      yes:\n      - '57'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              complex:\n                root: inputs.VPNIPList\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: alert\n                accessor: hostip\n            iscontext: true\n        - operator: containsGeneral\n          left:\n            value:\n              simple: alert.deviceexternalips\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: alert\n                accessor: hostip\n            iscontext: true\n        - operator: IsInCidrRanges\n          left:\n            value:\n              complex:\n                root: alert\n                accessor: hostip\n            iscontext: true\n          right:\n            value:\n              complex:\n                root: inputs.VPNIPList\n            iscontext: true\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -630,\\n    \\\"y\\\": -450\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '61':\n    id: '61'\n    taskid: b1310b85-32c0-4bb9-88ea-3db371ff6978\n    type: playbook\n    task:\n      id: b1310b85-32c0-4bb9-88ea-3db371ff6978\n      version: -1\n      name: Cloud Credentials Rotation - Generic\n      description: \"## **Cloud Credentials Rotation - Generic**\\n\\nThis comprehensive playbook combines the remediation steps from AWS, Azure, and GCP sub-playbooks into a single, cohesive guide. Regardless of which Cloud Service Provider (CSP) you're working with, this playbook will direct you to the relevant steps, ensuring swift and effective response.\\n\\nThe primary objective is to offer an efficient way to address compromised credentials across different cloud platforms. By consolidating the key steps from AWS, Azure, and GCP, it minimizes the time spent searching for platform-specific procedures and accelerates the remediation process, ensuring the highest level of security for your cloud environments.\\n\\n## **Integrations for Each Sub-Playbook**\\n\\nIn order to seamlessly execute the actions mentioned in each sub-playbook, specific integrations are essential. These integrations facilitate the automated tasks and processes that the playbook carries out. Here are the required integrations for each sub-playbook:\\n\\n### **AWS Sub-Playbook:**\\n1. [**AWS - IAM**](https://xsoar.pan.dev/docs/reference/integrations/aws---iam): Used to manage AWS Identity and Access Management.\\n2. [**AWS - EC2**](https://xsoar.pan.dev/docs/reference/integrations/aws---ec2): Essential for managing Amazon Elastic Compute Cloud (EC2) instances.\\n\\n### **GCP Sub-Playbook:**\\n1. [**Google Workspace Admin**](https://xsoar.pan.dev/docs/reference/integrations/g-suite-admin): Manages users, groups, and other entities within Google Workspace.\\n2. [**GCP-IAM**](https://xsoar.pan.dev/docs/reference/integrations/gcp-iam): Ensures management and control of GCP's Identity and Access Management.\\n\\n### **Azure Sub-Playbook:**\\n1. [**Microsoft Graph Users**](https://xsoar.pan.dev/docs/reference/integrations/microsoft-graph-user): Manages users and related entities in Microsoft Graph.\\n2. [**Microsoft Graph Applications**](https://xsoar.pan.dev/docs/reference/integrations/microsoft-graph-applications): Manages applications within Microsoft Graph.\"\n      playbookName: Cloud Credentials Rotation - Generic\n      type: playbook\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '5'\n    scriptarguments:\n      AWS-accessKeyID:\n        simple: ${Core.OriginalAlert.event.identity_orig.accessKeyId}\n      AWS-instanceID:\n        complex:\n          root: alert.username\n          filters:\n          - - operator: containsGeneral\n              left:\n                value:\n                  simple: alert.username\n                iscontext: true\n              right:\n                value:\n                  simple: i-\n          transformers:\n          - operator: Cut\n            args:\n              delimiter:\n                value:\n                  simple: /\n              fields:\n                value:\n                  simple: '2'\n      AWS-newInstanceProfileName:\n        simple: ${inputs.AWS-newInstanceProfileName}\n      AWS-newRoleName:\n        simple: ${inputs.AWS-newRoleName}\n      AWS-roleNameToRestrict:\n        simple: ${inputs.AWS-roleNameToRestrict}\n      AWS-userID:\n        simple: ${alert.username}\n      Azure-AppID:\n        simple: ${Core.OriginalAlert.event.identity_orig.claims.appid}\n      Azure-ObjectID:\n        complex:\n          root: Core.OriginalAlert.event.identity_orig\n          accessor: claims\n          transformers:\n          - operator: Stringify\n          - operator: RegexExtractAll\n            args:\n              error_if_no_match: {}\n              ignore_case: {}\n              multi_line: {}\n              period_matches_newline: {}\n              regex:\n                value:\n                  simple: http://schemas.microsoft.com/identity/claims/objectidentifier\":\"\\w{8}\\-\\w{4}\\-\\w{4}\\-\\w{4}\\-\\w{12}\n              unpack_matches: {}\n          - operator: ExtractInbetween\n            args:\n              from:\n                value:\n                  simple: http://schemas.microsoft.com/identity/claims/objectidentifier\":\"\n              to:\n                value:\n                  simple: '\"'\n      Azure-userID:\n        simple: ${alert.username}\n      GCP-SAEmail:\n        simple: ${Core.OriginalAlert.event.identity_orig.principalEmail}\n      GCP-cloudProject:\n        simple: ${alert.cloudproject}\n      GCP-userID:\n        simple: ${alert.username}\n      GCP-zone:\n        simple: ${Core.OriginalAlert.event.zone}\n      RemediationType:\n        simple: ${inputs.credentialsRemediationType}\n      cloudProvider:\n        simple: ${alert.cloudprovider}\n      identityType:\n        simple: ${Core.OriginalAlert.event.identity_orig.sessionContext.sessionIssuer.type}\n      shouldCloneSA:\n        simple: ${inputs.shouldCloneSA}\n    separatecontext: true\n    continueonerrortype: ''\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n      max: 100\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 720,\\n    \\\"y\\\": 1530\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  '62':\n    id: '62'\n    taskid: 1f5bae14-32a0-4c17-8cc8-598bb4fc4778\n    type: condition\n    task:\n      id: 1f5bae14-32a0-4c17-8cc8-598bb4fc4778\n      version: -1\n      name: Should rotate the credentials automatically?\n      description: Whether to rotate the credentials automatically.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '5'\n      yes:\n      - '61'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.autoCredentialsRotation\n            iscontext: true\n          right:\n            value:\n              simple: 'true'\n          ignorecase: true\n    continueonerrortype: ''\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 720,\\n    \\\"y\\\": 1340\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: \"{\\n  \\\"linkLabelsPosition\\\": {\\n    \\\"19_15_yes\\\": 0.65,\\n    \\\"19_20_#default#\\\": 0.48,\\n    \\\"23_51_Yes\\\": 0.61,\\n    \\\"23_9_#default#\\\": 0.25,\\n    \\\"36_35_Yes\\\": 0.41,\\n    \\\"36_37_#default#\\\": 0.8,\\n    \\\"38_39_Yes\\\": 0.42,\\n    \\\"49_9_#default#\\\": 0.14,\\n    \\\"50_11_yes\\\": 0.38,\\n    \\\"50_5_#default#\\\": 0.17,\\n    \\\"52_53_URL\\\": 0.43,\\n    \\\"54_59_#default#\\\": 0.11,\\n    \\\"56_9_#default#\\\": 0.12,\\n    \\\"60_57_yes\\\": 0.4,\\n    \\\"60_59_#default#\\\": 0.21,\\n    \\\"62_5_#default#\\\": 0.56,\\n    \\\"62_61_yes\\\": 0.44,\\n    \\\"8_49_#default#\\\": 0.48\\n  },\\n  \\\"paper\\\": {\\n    \\\"dimensions\\\": {\\n      \\\"height\\\": 5745,\\n      \\\"width\\\": 2410,\\n      \\\"x\\\": -860,\\n      \\\"y\\\": -1380\\n    }\\n  }\\n}\"\ninputs:\n- key: alert_id\n  value:\n    complex:\n      root: alert\n      accessor: investigationId\n  required: false\n  description: The alert ID.\n  playbookInputQuery:\n- key: InternalRange\n  value:\n    complex:\n      root: lists\n      accessor: PrivateIPs\n      transformers:\n      - operator: RegexExtractAll\n        args:\n          error_if_no_match: {}\n          ignore_case: {}\n          multi_line: {}\n          period_matches_newline: {}\n          regex:\n            value:\n              simple: (\\b(?:\\d{1,3}\\.){3}\\d{1,3}\\b/\\d{1,2})\n          unpack_matches: {}\n      - operator: join\n        args:\n          separator:\n            value:\n              simple: ','\n  required: false\n  description: A list of internal IP ranges to check IP addresses against. The comma-separated list should be provided in a CIDR notation.\n  playbookInputQuery:\n- key: ResolveIP\n  value:\n    simple: 'True'\n  required: false\n  description: Determines whether to convert the IP address to a hostname using a DNS query (True/ False).\n  playbookInputQuery:\n- key: earlyContainment\n  value:\n    simple: 'False'\n  required: false\n  description: \"Whether to execute early containment.\\nThis action allows you to respond rapidly but have higher probability for false positives.\"\n  playbookInputQuery:\n- key: VPNIPList\n  value: {}\n  required: false\n  description: \"This input can process to types of data:\\n1. A comma separated list of IP addresses assigned by the VPN provider. (using a XSIAM list or an hardcoded array)\\n2. A comma separated list of CIDRs.\\n3. A link to an IP addresses list which will be processed and extract the IP dynamically with each execution.\\n\"\n  playbookInputQuery:\n- key: AWS-newInstanceProfileName\n  value: {}\n  required: false\n  description: The new instance profile name to assign in the clone service account flow.\n  playbookInputQuery:\n- key: AWS-newRoleName\n  value: {}\n  required: false\n  description: The new role name to assign in the clone service account flow.\n  playbookInputQuery:\n- key: AWS-roleNameToRestrict\n  value: {}\n  required: false\n  description: If provided, the role will be attached with a deny policy without the compute instance analysis flow.\n  playbookInputQuery:\n- key: shouldCloneSA\n  value:\n    simple: 'False'\n  required: false\n  description: \"Whether to clone the compromised SA before putting a deny policy to it.\\nSupports: AWS.\\nTrue/False\"\n  playbookInputQuery:\n- key: autoCredentialsRotation\n  value:\n    simple: 'False'\n  required: false\n  description: Whether to rotate the identity credentials automatically.\n  playbookInputQuery:\n- key: credentialsRemediationType\n  value:\n    simple: Reset\n  required: false\n  description: \"The response playbook provides the following remediation actions using AWS, MSGraph Users, GCP and GSuite Admin:\\n\\nReset: By entering \\\"Reset\\\" in the input, the playbook will execute password reset.\\nSupports: AWS, MSGraph Users, GCP and GSuite Admin.\\n\\nRevoke: By entering \\\"Revoke\\\" in the input, the GCP will revoke the access key, GSuite Admin will revoke the access token and the MSGraph Users will revoke the session.\\nSupports: GCP, GSuite Admin and MSGraph Users.\\n\\nDeactivate - By entering \\\"Deactivate\\\" in the input, the playbook will execute access key deactivation.\\nSupports: AWS.\\n\\nALL: By entering \\\"ALL\\\" in the input, the playbook will execute the all remediation actions provided for each CSP.\"\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nmarketplaces: \n- marketplacev2\n- platform\nfromversion: 6.8.0\nsupportedModules:\n- xsiam",
  "product": "Cortex XSOAR",
  "pack": "CloudIncidentResponse",
  "support_tier": "xsoar",
  "use_cases": [
    "Incident Response"
  ],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "cloud-security",
    "incident-response",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "dEtQPb21tzsbE7i9cK/xPCHVuD3ANRs9QUBcPXR+nLqNqYu8jFtNvMQUB70Hzn89mpfSPCwC/btQTkw98G+FvTZAaDxi3l09jEmMOxEswTskkGS9+RA7vK0aery6J/k8usygO22Yf73gcOu7k4FTOvOITL0fZns7mdKdvJP6ADtvq+m5716Zu2MTDb030LY78BihvBok2Lr869i8Y6wEumq7i706VoE8nzQmvZjnOT0Ovo08PkqzvE9Hz7wE/gs9cMSFvchUSTwThoQ9g+mPvAAqZL1aa+08dexLu7DqWr2xjum8mf9kvXNFizzzgl08o395u3UMvrw+HvW7xe48PGLRzz1frw08rJ9SPD2EvjrJFG69tdRQPQkwibwhO1c9/8HxvNIpBT1JoD67KXmrvO69pDwGipw75Znnuzz1GD27H5C7UwDAvJDvnT3ZMWe7cwAnvepmVLxJpAa7xt6yvS2qCb3vOJ27iXLwPSm7q7xb/ge8UIUYPRGVpj050cW6nE2Kvc8Vt72OBBu8TDvAPAeYujxTs4u8XNLUu2xZwLwc3RU9FjbyPKxrC7zCNYa9JdGwvXnBHj07TU0838cQPS30GT11+xc87DuTveZO/DoNFYg8AoVIPKNukLwzYcW8i+/dO28elT0ocvc8CUuBPckkxz0ugbY9TDmuvO9VADzUHse8SBFlu9ODJzxT2DS88LadPIdNx7zk0jy7KGYevKaUMz3TjQO99dACPADcWTyAcWw8VDNOvDN60L1HhCI7XWkQPVBEs7wGBiQ9u2i1PbsnEbzvhyI8QU7gu2x0E7zFPRy9TsLlvBLdBL0sy2W5POiRvAifqL2+dbQ8dbuBvSHyCb2S3Cq9voOGu4ZRJD3bDVi9aZUWvcRed709iGi8moDqvO803jywO/i7lGJhu9LhRr1js1i9GdxOvGImCz3hOOU81Hg6vPdzHr1owTS9LVhRPQb4aTxxnaI8hKu8ve9ugj2aSLI8HDoRvd89ITyEsXA89TTfPE7BLT2a87k7wcv3u1simD2L2i69wKvXvLu0Ez0XmTO8CtSYvGdC3TuB2aY9IBnUPE5QCr3ndL29P29wvbWpCLzn20G97NwIvTLKpDwin9i8V0vCO8k2/7qGyII73elJvUbJnjz4hkS8/7grPQ5BSj1V15A9AiVou0gneDzVqsA7kENSu+5FUjxuaoM7Cs32PEQLY72OrVY9EmevvD5rSL14cQE7i06kPO7ML70vyjc8/oIpPHXYezwh+Ho9xwFuvG6evrwVubY8P4cOvUUX7TzWfoc8BLqru71THz0auam8ts8DPd7q0LwqXxi96PgdvXC3h7ys/4S9B4+sPLVOG7rYBCO9oSrNPLRThbseIWC9fYALvCdoMr0PEEY9CH3KvKC9kTw1Q169AHokvAI6h72NinK8V+2OvMDGwzyg5X88vnBHPBgXqTxMRJq7cdxgvLM24ryFD5S5eACKvQhRJz1300292jhIvXw0trzGmdU81bEHvAPKbrx6OuK7TfUMvQG04ryN2VO8lNr0Ox+0grxK2vw8m5/EPOEVHL1/Nm692vUjPfMOmTvrkTs9pF64PQiTEL1c2NQ4Tk5RPXqvND0RVS68wCwmPbAPibySlf+7xXqpPPjcsDzwweO6wC4VPAvnPj2EwWk8m/mqvDo/lDy1JYo76HSnuyhaAr4mcFO9vjuLO5LpxTth68c8mZwEPbA+TrzHyIE80gEdvQ87AjtzIyy74iFFvQ9IeLx1eTK9AuT5Ojg/2TxZLiQ8Nf3yO8UBMrzLvyU9bmqWvTRlID1CIJE9GJ8KvXOrGTtkLkw8kErdPLA5cruDv9m87sTavJ7kt7oihLC8avpoPW7CgT0liFI81OhlPVOB87zKGAI9Ee4iPe3vrbxe3gY8CpnsvJc5yrx00QW9EYOBu9eJBj2fb4I82UtNPa1LKbwrPu28JDAOPQZ7Kj279Ic8pLVOvfbFQbwnkpG8NurlPEi+ZzxnZxc9B+Rxvai3jryVigQ8kki4u5snY72ZQyC9hCa3u6iSE70Ka2C86EV0PI3ahT1LQ568e1DaPFHvsbyPDYK84YJavYwplT2vP6g8p0SgPSFicb13KRy98EJKvScPRz2kKMs835phvbE7pjw4Z3O87gIlPcWghL1UTK88xRCYvGuQmTyDcIG76Y6nu8V4HDw+sdE8L3k9vJ9Te7xpqg09YqV7vCuGbzxctVo99F7KO8DQzTzxmwg8FqlOvJK/TDzTrcW7/1fLPC4Bqrxq1oi9jw9IvVvcXbckRIc7c9xRPFbyaLzD1iI9hNzduwszojywPwu9xjoCvPcLHjxBniu9YdaOO7wVKD2fcx09xnRFvHzf5zy5SRo91MA7vSEAkTuB7eO8FVwwPQwfCT3g2DS897hFvC1g6bvNRIK9hQs6vc+BDb603GY81W+mu4McnTzeysC8K57svBYHQb1rjoo8gQOcPffnrrrnDyg6j2xfvVbP6LwbFr09pZmlPITXQj2VIG48HpsaPb2rZjwI3Bg8tWq3vTr6HDsUjb08vdtmu/frpToqFpq8l6tRvEQXDbzqloC7go7xPDxfKD3KaBC9WqFPvdQqDbw9jM88PZuIvTYHP72et8+8qxCFvdYVO73X0fC7ldJVvcfoDj0wcqu8TK2lvOXUnj05xjQ9x+7KPE91y7x9FgC9w73vvDch4DyvBri8SYevvCklajteJpU9j2eePWCLDb2BmBQ93jbevNX1Ab28XP46fXsNPMx1kLxB5xI7knfSPGQQmrxw8586cI6UPPvaqbyKiFG8ULhmvIjqxbzXvbk8NNpSvHMCm71gK327VthwPV4GCj3StyE8B/xgvAGIxzzcsHM8QjeYPAWhhz1IDog8mrr6POkpMLxW9BI9CdKUOyHD8jxTrOs7uCVKPK+dJD1v8xA848Z/PTuPyLyQ2LW7Bsl3O+724jxaaKK6e21xvahFWDu9+M07HHsjPAW6hLyYRKk8mT0bvUS8nbzVe+Q8FsHwvF9RL7yILtC8VvJoPc27xTo2kX87xPuZuw7HiTy9LwE8O2bZvEGVSrwxS2G9N4aLuymTAbx/2iy8V5x3vDQCBT2rTVe4DwUxPaiz5jqWi0G9FYKkvJcuwbw0TPU8vMDxvHfvF7zAJoq7xtEHvKwkKT0JNA+9NBOIPNtvIrzUKm69+QDrPI6QGDslV806tVCSO2E4HL1FBLA9cEeZO8GNm72aa8O9uUjuvP8Rhb2IRpA8MgaCPGosk7z6zq89yAQEvMVMkr3vZYe9/erWPPfwT71vzN27BWLevNsJlzzt4WY83N25PB8XFrx9Wj28ZKvQPJrrybz81FO9r8X/On0uBz2Gx/88j2S0Oz2ZP7xPx409OBMGu9SpGrw8Gsa8tiKNPK8vMz2iqZQ7IAaOvRKTzzzLzsu7oSGSPVPA0zwAB9K9MtXNPD1bFz2/DJi9+jcUvOjblDzA9Lc7AgJsPddlhb2sto88RKv7vLwWBrytHO286NhHvP97eDy59u28rD+5O7+mK70sW1e9xbE0O7rPar36nnu5FftiveLNE72UXFC8LOtQujp3X7uDsSs8H1LqPFKM/DzXO1M8We7NO7CuWjxTdiE94LmzvG+3PrzIiQo99MyxvMVVYD07Ma+7zvKfvI4Vlbutuyk9OS8NvVVxML3fhdk7OdfBPD04wjzOySi80++uPE2w8Dr+llQ8LLEuva0WYTzMU6W7cYQCvEPTtzwlshS91sEbvUxNT72+pQg9nyj1O854mzx/eg49igLOvWIgb7sDn2q9gFb7O9167Dw47kO6S6eMvLG0rzoqngM7hgx8PHJ7oDtexcW8tGYdPSU0R73AUwk96GFAPdMDoDoGtOK83BfkvLzy9bz3wF29HEM/POpWjjw66Is9DccWvY6pzTtD9Lg8Yle5vLywKb1veQ+9XKotvLFXf7xkfZA8FngEvJ4oKL0rs108/2qqvPHFdD0Thus73ZSTPFKOYT1iTR69sTRAvSz/NrwLRhQ9O/e0PE5U5ryI+G86srcZvTcKhbsLT+s8lTC3O9U60by4dHs9pUkEvfR9vjpHYka9qGzTvGVpKj0YT0M8"
}
