bundles/spark/kbs/soar-playbooks/entries/pb-digital-defense-frontlinevm-digital-defense-frontlinevm-pan-os-block-assets.json
{
  "id": "pb-digital-defense-frontlinevm-digital-defense-frontlinevm-pan-os-block-assets",
  "title": "Digital Defense FrontlineVM - PAN-OS block assets",
  "category": "playbook",
  "content": "This playbook will pull Panorama queried threat logs and check for any correlating assets that are found to have a minimum of high level vulnerabilities. If so, it will block the the IP using Panorama's PAN-OS - Block IP and URL - External Dynamic List playbook.\n\nCortex XSOAR/XSIAM SOAR playbook from the Digital Defense pack (Digital_Defense_FrontlineVM, partner-supported).\n\nIntegrations/scripts used: Digital Defense FrontlineVM, Panorama, Print, ScheduleGenericPolling, pan-os-check-logs-status.",
  "raw_yaml": "id: Digital Defense FrontlineVM - PAN-OS block assets\nversion: -1\nfromversion: 5.0.0\nname: Digital Defense FrontlineVM - PAN-OS block assets\ndescription: This playbook will pull Panorama queried threat logs and check for any correlating assets that are found to have a minimum of high level vulnerabilities. If so, it will block the the IP using Panorama's PAN-OS - Block IP and URL - External Dynamic List playbook.\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    taskid: 3af2c27a-a555-4626-80d4-85e692a8263c\n    type: start\n    task:\n      id: 3af2c27a-a555-4626-80d4-85e692a8263c\n      version: -1\n      name: ''\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '18'\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '1':\n    id: '1'\n    taskid: e7f4ce47-bc3e-498c-8fc8-0c18ef98e988\n    type: regular\n    task:\n      id: e7f4ce47-bc3e-498c-8fc8-0c18ef98e988\n      version: -1\n      name: pan-os-query-logs (query threat logs)\n      description: Query logs in Panorama.\n      script: Panorama|||pan-os-query-logs\n      type: regular\n      iscommand: true\n      brand: Panorama\n    nexttasks:\n      '#none#':\n      - '16'\n    scriptarguments:\n      action: {}\n      addr-dst: {}\n      addr-src: {}\n      filedigest: {}\n      ip: {}\n      log-type:\n        simple: threat\n      number_of_logs: {}\n      port-dst: {}\n      query: {}\n      rule: {}\n      time-generated: {}\n      url: {}\n      zone-dst: {}\n      zone-src: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '4':\n    id: '4'\n    taskid: 81702d7f-3631-4752-8a6c-0a6239294803\n    type: regular\n    task:\n      id: 81702d7f-3631-4752-8a6c-0a6239294803\n      version: -1\n      name: pan-os-get-logs (retrieve completed log query)\n      description: Retrieves the data of a logs query.\n      script: Panorama|||pan-os-get-logs\n      type: regular\n      iscommand: true\n      brand: Panorama\n    nexttasks:\n      '#none#':\n      - '6'\n    scriptarguments:\n      ignore_auto_extract: {}\n      job_id:\n        simple: ${Panorama.Monitor.JobID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '6':\n    id: '6'\n    taskid: ba8ae7be-71f8-445a-83e6-bc9e78260c97\n    type: regular\n    task:\n      id: ba8ae7be-71f8-445a-83e6-bc9e78260c97\n      version: -1\n      name: frontline-get-vulns (pull high & critical severity vulns from threat source)\n      description: Query FrontlineVM for vulnerabilities with a minimum severity of 'high' found from Panorama's queried log threat source.\n      script: Digital Defense FrontlineVM|||frontline-get-vulns\n      type: regular\n      iscommand: true\n      brand: Digital Defense FrontlineVM\n    nexttasks:\n      '#none#':\n      - '7'\n    scriptarguments:\n      host_id: {}\n      ip_address:\n        simple: ${Panorama.Monitor.Logs.SourceAddress}\n      max_days_since_created: {}\n      min_days_since_created: {}\n      min_severity:\n        simple: high\n      severity: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '7':\n    id: '7'\n    taskid: 58e4cfa8-fbb0-4b22-8a1f-8f85327df1ff\n    type: condition\n    task:\n      id: 58e4cfa8-fbb0-4b22-8a1f-8f85327df1ff\n      version: -1\n      name: Check if vulns found.\n      description: Check results of previous task.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '9'\n      'yes':\n      - '8'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              simple: FrontlineVM.Vulns\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 1245\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '8':\n    id: '8'\n    taskid: fc2f8a58-f508-476c-82d4-141a3a9be2ff\n    type: regular\n    task:\n      id: fc2f8a58-f508-476c-82d4-141a3a9be2ff\n      version: -1\n      name: Vulnerabilities exist within Frontline.Cloud from PAN OS threat logs.\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '19'\n    scriptarguments:\n      value:\n        simple: 'Asset found to have high level and/or critical level vulnerabilities within Frontline.Cloud: ${Panorama.Monitor.Logs.SourceAddress}'\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '9':\n    id: '9'\n    taskid: d39eca07-099d-49c2-8553-a202c39ee088\n    type: regular\n    task:\n      id: d39eca07-099d-49c2-8553-a202c39ee088\n      version: -1\n      name: No vulnerabilities found from PAN OS threat logs.\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: ''\n    scriptarguments:\n      value:\n        simple: 'High and/or critical level vulnerabilities not found within Frontline.Cloud for given asset: ${Panorama.Monitor.Logs.SourceAddress}'\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '11':\n    id: '11'\n    taskid: 963529eb-2f34-4072-801f-9eed161669d1\n    type: playbook\n    task:\n      id: 963529eb-2f34-4072-801f-9eed161669d1\n      version: -1\n      name: PAN-OS - Block IP and URL - External Dynamic List\n      description: |-\n        This playbook blocks IP addresses and URLs using PAN-OS External Dynamic Lists.\n        It checks if the EDL configuration is in place with the 'PAN-OS EDL Setup' sub-playbook (otherwise the list will be configured), and adds the input IPs and URLs to the relevant lists.\n      playbookName: PAN-OS - Block IP and URL - External Dynamic List\n      type: playbook\n      iscommand: false\n      brand: ''\n    scriptarguments:\n      AutoCommit:\n        simple: 'No'\n      EDLServerIP: {}\n      IP:\n        complex:\n          root: FrontlineVM\n          accessor: Vulns.ip-address\n          transformers:\n          - operator: uniq\n      IPListName:\n        simple: Demisto Remediation - IP EDL\n      LogForwarding: {}\n      URL: {}\n      URLListName:\n        simple: Demisto Remediation - URL EDL\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: ''\n      wait: 1\n    view: |-\n      {\n        \"position\": {\n          \"x\": -130,\n          \"y\": 1790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '16':\n    id: '16'\n    taskid: 9338a75e-30fd-404a-8dfb-a68fced09741\n    type: regular\n    task:\n      id: 9338a75e-30fd-404a-8dfb-a68fced09741\n      version: -1\n      name: GenericPolling\n      description: Called by the GenericPolling playbook, schedules the polling task.\n      scriptName: ScheduleGenericPolling\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '17'\n    scriptarguments:\n      additionalPollingCommandArgNames: {}\n      additionalPollingCommandArgValues: {}\n      dt:\n        simple: Panorama.Monitor(val.Status != 'Pending').JobID\n      ids:\n        simple: ${Panorama.Monitor.JobID}\n      interval:\n        simple: '1'\n      playbookId: {}\n      pollingCommand:\n        simple: pan-os-check-logs-status\n      pollingCommandArgName:\n        simple: job_id\n      tag: {}\n      timeout:\n        simple: '60'\n    continueonerror: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '17':\n    id: '17'\n    taskid: 15f1f59b-a7a2-4abe-879d-e562e1ae0933\n    type: regular\n    task:\n      id: 15f1f59b-a7a2-4abe-879d-e562e1ae0933\n      version: -1\n      name: pan-os-check-logs-status\n      description: Command to check panorama log status.\n      script: '|||pan-os-check-logs-status'\n      type: regular\n      iscommand: true\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '4'\n    scriptarguments:\n      job_id:\n        simple: ${Panorama.Monitor.JobID}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '18':\n    id: '18'\n    taskid: e538ae89-f731-403c-8811-59bf5fa8fc24\n    type: regular\n    task:\n      id: e538ae89-f731-403c-8811-59bf5fa8fc24\n      version: -1\n      name: Delete previous Queries in Context Data\n      description: Delete field from context\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '1'\n    scriptarguments:\n      all: {}\n      index: {}\n      key:\n        simple: |\n          Panorama.Monitor\n      keysToKeep: {}\n      subplaybook: {}\n    continueonerror: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '19':\n    id: '19'\n    taskid: bf804048-4e41-416e-8070-3f728f4b4c7a\n    type: condition\n    task:\n      id: bf804048-4e41-416e-8070-3f728f4b4c7a\n      version: -1\n      name: Block Asset(s)\n      description: Asks user before blocking assets.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      \"No\":\n      - \"20\"\n      \"Yes\":\n      - \"11\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        simple: Administrator\n      subject:\n        simple: Block Asset(s)\n      body:\n        simple: Block assets found to have vulnerabilities?\n      methods:\n      - email\n      format: ''\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n      replyOptions:\n      - \"Yes\"\n      - \"No\"\n    skipunavailable: false\n    quietmode: 0\n  \"20\":\n    id: \"20\"\n    taskid: c7f0e8e6-a289-4533-8027-f11b67c15bf7\n    type: title\n    task:\n      description: Playbook is done\n      id: c7f0e8e6-a289-4533-8027-f11b67c15bf7\n      version: -1\n      name: done\n      type: title\n      iscommand: false\n      brand: \"\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 290,\n          \"y\": 1805\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"19_11_Yes\": 0.48\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1835,\n        \"width\": 990,\n        \"x\": -130,\n        \"y\": 50\n      }\n    }\n  }\ninputs: []\noutputs: []\nmarketplaces:\n- xsoar\ntests:\n- No test - manual task\n",
  "product": "Digital Defense",
  "pack": "Digital_Defense_FrontlineVM",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:digital-defense",
    "soar",
    "support:partner",
    "vulnerability-management"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "HVsFPT2KoLxdBHy9uTMmO90AlD1ObxS9M9a7PbsjV7xixCE9P7JPPSt6UzvZLiY9fdxaPVWdsTzZFKU89kOlvSzXQT3WLsc8clJeu2Wd6LwqvbS8JVIOvRGNMLzLuwG9WRK7vM9wUb1WTeS7olUwve5ZD739BO88tAgYPDaoajxmFx88VHZ8PHZlNb0h81g7ZowOvQ2PgbzE8Vu9FW4VPYevGLyzJrS8qnGQvIGWQT0F/8K8WmwGvVw9NTxG0cy8Pn09vUoTxjzRp4g9HJZDvGxES72fAJg8T/czvPS4v73hzjk8pv1OvbzaDr2gBeI8YtwFvITBHr3uyho7DYR4PJj/LD1hyiO9oF81vA0cxrwp9SK9p2evPXgvW727g7w9GkCUvHv1A71gGwy9YqcgPJnWCz36/As7deaUOxq4XT1NIfS7so86PKnYiT2IMZO8T88iPI8UYjzNihI8wACCvTgH9jzfC8I8WPjqPZzNS7vJWgI8WHmGPYVXdT37zeS8NK6JvFBvgr3e3ak8aKOsPENVJLyFryK9StF9PLMTHDvKnxi8UHZ+PbaT3LqIZY699UrmvCHYLrywfxA9vmBGvIRmMTypRUg9rMpMvE4J3jyhEFg800/OPHAWz7yMOXi9IdiyPIkHWT0lzR09NTuSPEU5ez1p7DA91XsGPHer2zoLyjc9ER/NvH6Qvrw3YTa8wNagvL0uJL3+XIe9/j/RvFktGDz3DDG9CkMsPCTwvzwNz5S7mU0ROyp5b72AOVA7JBcoPT65Kzy8cSA9wsaEPcS/rLwu+oE6wGd+vL7UuLzcAjK9e2DRvNy04Lz14Yi81etmu7x6Sr2pNz48nJ5cvfMDYryVmre8ZzMcvDXuKj1/1fC8K5bVvJzv77wSNqE7hkjxvMS2kjxrmiS7xH0gvYkM4Lzoz0C9OWadPBuURbzhMhs9XZJgvZYIOr169UO9QvzEPQpfMz2qx6s6h+DsvavwZz3mNzo9YoPPPNoOwLx8nF682gVQPRQl9DwXI8C8w23aPJmqjz3GW6+9tx8hve4rBT1g9dU8ml63vJ5z4blohpY9yaCQu1uHhbzgMsa9QbiZvaiBGT1N3ii9oakPvWKIvjwec+u72iK3vJYHEj2yIM272abJvAiu2Twjne88cRoOPP7t2DzEirU9R1qMvJ5RsTzFVUg8O5HCu55subwt3p08jGiHPLMcLb3EnFc90XNivPiA2b3MjHm7WY+pPRU/E72uJjg8QiW1PFX5+ryqOIw9LAucuwXF2bz0bSQ9a8BuvCB1xDyzcxG6pnnqPOigwT3zasa8xJhZPLP7kjyoBwQ8ezWOvPZ7BbynCiy9MP0HvE5CHD2tZvu8Qt91vMTEpjxklpS9FCkuO9M3/bz93xQ9quwjvZdVpztY5yG9+kjYvKDEar3ZNmG8d/8qvIbbO7uRFbs8e1ByPRgj8zzmC4S723OLureYU72RbPW6tNo8vNCrRz00Xp291qwDvkIJJ722+Su9daOUPCEhiLxG5hq8TA42vdbgZjtjyWI8PCOJvGVBhrw6Z1o9HQH7PGuJNTteX1O9V+rDPDIxWD0dTNk8csm6PcqKz7w5d4S8NUUpPXh6mzxqs3e8+qsIPYPg/rrGXW08bxkkPXm3KT3mLoq80vhEvIF4xDs/aIu8lljsO1g9DzzTHT26ZZ05PUoizr2+Hfc7kivXvLNQr7z8zri6O4EDO05XobyKGuc89U+mvBn7YTv2M+48yX+wvOT8zrwNh+G8uWacO6y0aTzYVqy8Jje/vFnw5jrh6l49/n3cvMJJUTyr7Xk9b4D6ua/D8DooFSI9QG9RPVyXorw6fx68CNYlvWpvUT1NJJi8c3lCPf4sFD1vQYo8vOQBPQsjNrx+qKO6qbYXPOfMq7yk+cw8rTbuvEvtmbyFuVC8hwNDvH1x+DwGizO8RJZDPfZbzbsirbe8ZuWxPToHdz3rVqC8iRQBuq24w7yiopK8PMvgPFlsG7xcPZA9oARRveFED70Lv648KmLEPJpk3LsuRaW81Ti3vJ6uCDwZleq7CqnDPIbBYD0DaMi8qd+xPHtZ/bm+zh+8kWVhvcHNgT3x+Lu85hdFPVyqJ7282gO8P1LVvPVPmz1QCis9RuNyvb1PZbp5ave860g/PbZZpryv9sI8qyGNvMBnHTy2TL0832kWvZXbTLoNCPs8QkQ6vdS2CL0DOJ08Zpt8Ozv6VDzjX/I8IIDpuz5K+LtIQBw9PmIEvI2PMrwmB2e9ondzvA9YC7ogZYq9OEM+vYyFeLoPaFY5TCE7OgM0ijtADTE9DCE7uwmLXDsdh7+8F3NAPKmWMj3MJfG7WscCOkBwaT0UwVU6fbiWPBIIQD3B3bo8tVsovVWfGbtjeWq8azEPOjZEhT0foBO6aqaSvB90grzr2WE7eOujvHl7q714Tuw8O7cPO5g6Fjxh7zq7eGcuvbz/Eb083ec8Bx/TPBHOqTxC5oa848FlOjgsrjwT6gQ9P41yPDzmHjxPqtk8TMzpPIto8DzKGAc9/SO4vYF2yTr4zUQ8frlvPPb9MzwiUvM7j8s1O+aYKb2LRUY8FORNPbkSKTx7gM28TWHyOJa2BbwzXjw9aTktvBBxP70lc6u8JOR1vTy0srwGhyG9wTaXvREsuT1/cAS9M5AivVEFXD2kBZ09x/qPPZIuXDv07Te9kfvgvDOgNzuWYZm8B126vBB4bTuFiWw9CSiTO4GA7rtDnBk99LD+Ohtsq73hp9g8SpRqPOkAIDxPqkW86ssRPa44lrwN7QE8nVU9Pe0mk7wynZu8oKijPNCUEr0YV/M7pvADu7iRWb0vVFy8YduXPdoR8TymWwa87osVvL49Hj3CqIY80zQoPXkFgj2grtU8Lf4FPYXCsrxf1FM9OjzdPA4+UD3omTQ9AF41PSxWOz3DPUg6k/+PPfnapLwsY1Q8NDPZvL1yJjzuqHu7BbJavJn1wjyK4Fu9elV4vIFhvrz2MEI9POJavfZtwbpaUg091GUCvSUgtTo+Z+u8Y4sQPcD01TtBAN07isKLvCBG4bu5oBu8Yek8vfg3cTpAoA69uTjpvJ866LpjKsK8rgz9vDybBj18npS8stQJPa3V+jzSiDi9BeRqu53p37w+06m8X/6qvRMOkbxiuge8aLo9vCiJ9bmu3gS9fsOMvH6CKz2GHUa9WbqZPO5OR7ysIVw7UmuMO6+aTb0Earc9BWYiPKuxL72rAYe8hjPHvNYMkr0sdAs8hNA8O52sFb1gZao9yIV0vVnLnb19Dbe9T44wPPBdWr0ddOC7SjXLO4sC0jvQJoc9/KHhOww2rzyAxlI8cSxGPQ1f/rsucUC9ddO3vCz/Bj1fYhA80zxju4SfHT3ePqA9VmqqvJW3nb3VQSS8ufQYPW0OLT3saDC8/po1vNak8TxsD767aaWAPVktKrxcQry9IfNWvDfUAj3wPDq8gHtRvYSeCj3+3dI7b/U6PThn1rwy6KA8TGk1vS8ouLwLo+I8cqXmvCS1CTzfQis68dWhO+/Q07wbqK+9/WKMPFSEL73ZzyM8HxvtvNbF7rwSf+O8QgfNPHV4pLtUAJS6f9RGPZJZRT004Ks8PphIO1latTzJ95Q9eboCPDsHoTsqlLO5mI35vLz1JT3/Oje9exYVvPEDpDxyF1O8nIwPvAMoPbznsjq9JU5hPMmjiD2VaTi9mLd8vAASiTqzN/48FJQhvD5YDbwL8bi8tcfyPJXrfz3OgTc8EKXwvHQN3byBhBA7eA4NugS9gTwF7xs94HOYvc9cHryWHGK99G2KPKjLDD0JExC8HisYPCzqVj2AA028uFgbPYUSpjxXupi8yecBPfPJkLwm1zU97VAzPRVMYjrffok5RNWOvHkxgDtmm0W9335nOynfcDyGnmM83J/BvPS/hbu7TvY8VN+WvGKIBb2sjeq8dkd4vV7/Zbx7+2g648NmvUALK73WsxA9u23Wu41eKz0M9uC7L6LzO3EKQDx9vj69/nqVvYVk+jyQ+9W88jIxPRg1jr2ySI67WTyjuxC66LuwGFE9wzoEvCWMnruqo3M9KArhvEJbkbyt4cm8yNUfvWo4FD1WFXc7"
}
