bundles/spark/kbs/soar-playbooks/entries/pb-domaintools-iris-indicator-pivoting-domaintools-iris.json
{
  "id": "pb-domaintools-iris-indicator-pivoting-domaintools-iris",
  "title": "Indicator Pivoting - DomainTools Iris",
  "category": "playbook",
  "content": "Pivots are used to gather data that share a common attribute with a domain. For instance, pivoting on an IP Address will give you back all domains related to that IP address.\n\nCortex XSOAR/XSIAM SOAR playbook from the DomainTools pack (DomainTools_Iris, partner-supported).\n\nInputs — IPAddress: The IP address to pivot.; EmailAddress: The Email address for which to pivot.; NameServerIPAddress: The Name Server IP address for which to pivot.; SSLHash: The SSL Hash for which to pivot.; NameServerHostName: The Name Server Host Name for which to pivot.; MailServerHostName: The Mail Server Host Name for which to pivot.; IPAddressCount: The number of matches for the IP address.; EmailAddressCount: The number of matches for the Email address.; NameServerIPAddressCount: The number of matches for the Name Server IP address.; SSLHashCount: The number of matches for the SSL Hash..\n\nOutputs — DomainTools.PivotedDomains.Name: The DomainTools Domain Name.; DomainTools.PivotedDomains.LastEnriched: The last time DomainTools enriched domain data.; DomainTools.PivotedDomains.Analytics.OverallRiskScore: The DomainTools Overall Risk Score.; DomainTools.PivotedDomains.Analytics.ProximityRiskScore: The DomainTools Proximity Risk Score.; DomainTools.PivotedDomains.Analytics.ThreatProfileRiskScore.RiskScore: The DomainTools Threat Profile Risk Score.; DomainTools.PivotedDomains.Analytics.ThreatProfileRiskScore.Threats: The DomainTools Threat Profile Threats.; DomainTools.PivotedDomains.Analytics.ThreatProfileRiskScore.Evidence: The DomainTools Threat Profile Evidence.; DomainTools.PivotedDomains.Analytics.WebsiteResponseCode: The Website Response Code.; DomainTools.PivotedDomains.Analytics.AlexaRank: The Alexa Rank.; DomainTools.PivotedDomains.Analytics.Tags: The DomainTools Tags..\n\nIntegrations/scripts used: DomainTools Iris.",
  "raw_yaml": "id: Indicator Pivoting - DomainTools Iris\nversion: -1\nname: Indicator Pivoting - DomainTools Iris\ndescription: Pivots are used to gather data that share a common attribute with a domain. For instance, pivoting on an IP Address will give you back all domains related to that IP address.\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    taskid: a8ce28a7-1083-45bb-8c3c-311bf5a43932\n    type: start\n    task:\n      id: a8ce28a7-1083-45bb-8c3c-311bf5a43932\n      version: -1\n      name: ''\n      description: Start of playbook.\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '16'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 750,\\n    \\\"y\\\": -300\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '3':\n    id: '3'\n    taskid: 776aa67e-951c-42db-8258-9ae384c13030\n    type: title\n    task:\n      id: 776aa67e-951c-42db-8258-9ae384c13030\n      version: -1\n      name: Done\n      description: End of playbook.\n      type: title\n      iscommand: false\n      brand: ''\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 740,\\n    \\\"y\\\": 660\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '4':\n    id: '4'\n    taskid: 4101f161-91b9-4d5d-8be7-8412255ce7f8\n    type: condition\n    task:\n      id: 4101f161-91b9-4d5d-8be7-8412255ce7f8\n      version: -1\n      name: Pivot on E-mail address?\n      description: Determines whether to pivot on an Email address.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      email_address:\n      - '5'\n    separatecontext: false\n    conditions:\n    - label: email_address\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.EmailAddress\n                transformers:\n                - operator: uniq\n            iscontext: true\n      - - operator: isExists\n          left:\n            value:\n              simple: inputs.EmailAddressCount\n            iscontext: true\n      - - operator: lessThanOrEqual\n          left:\n            value:\n              simple: inputs.EmailAddressCount\n            iscontext: true\n          right:\n            value:\n              simple: inputs.PivotThreshold\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -740,\\n    \\\"y\\\": 180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '5':\n    id: '5'\n    taskid: d183d95c-7d02-45b1-832d-bf95ad0fdbd1\n    type: regular\n    task:\n      id: d183d95c-7d02-45b1-832d-bf95ad0fdbd1\n      version: -1\n      name: E-mail Pivot\n      description: Pivots on an Email.\n      script: DomainTools Iris|||domaintoolsiris-pivot\n      type: regular\n      iscommand: true\n      brand: DomainTools Iris\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      email:\n        complex:\n          root: inputs.EmailAddress\n          transformers:\n          - operator: uniq\n      ip: {}\n      mailserver_host: {}\n      nameserver_host: {}\n      nameserver_ip: {}\n      ssl_hash: {}\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -940,\\n    \\\"y\\\": 350\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '6':\n    id: '6'\n    taskid: 33062c78-7259-4717-8cf4-3b56d33bd085\n    type: regular\n    task:\n      id: 33062c78-7259-4717-8cf4-3b56d33bd085\n      version: -1\n      name: IP Pivot\n      description: Pivots on an IP address.\n      script: DomainTools Iris|||domaintoolsiris-pivot\n      type: regular\n      iscommand: true\n      brand: DomainTools Iris\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      email: {}\n      ip:\n        complex:\n          root: inputs.IPAddress\n          transformers:\n          - operator: uniq\n      mailserver_host: {}\n      nameserver_host: {}\n      nameserver_ip: {}\n      ssl_hash: {}\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -380,\\n    \\\"y\\\": 350\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '7':\n    id: '7'\n    taskid: c3a1c6b6-c0b2-405f-8649-9b43f3a4a19e\n    type: regular\n    task:\n      id: c3a1c6b6-c0b2-405f-8649-9b43f3a4a19e\n      version: -1\n      name: NameServer IP Pivot\n      description: Pivots on a NameServer IP address.\n      script: DomainTools Iris|||domaintoolsiris-pivot\n      type: regular\n      iscommand: true\n      brand: DomainTools Iris\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      email: {}\n      ip: {}\n      mailserver_host: {}\n      nameserver_host: {}\n      nameserver_ip:\n        complex:\n          root: inputs.NameServerIPAddress\n          transformers:\n          - operator: uniq\n      ssl_hash: {}\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 210,\\n    \\\"y\\\": 350\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '8':\n    id: '8'\n    taskid: 5b1e99a2-4c8e-444b-88c0-2e22f21edb3d\n    type: regular\n    task:\n      id: 5b1e99a2-4c8e-444b-88c0-2e22f21edb3d\n      version: -1\n      name: SSL Hash Pivot\n      description: Pivots on a SSL Hash.\n      script: DomainTools Iris|||domaintoolsiris-pivot\n      type: regular\n      iscommand: true\n      brand: DomainTools Iris\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      email: {}\n      ip: {}\n      mailserver_host: {}\n      nameserver_host: {}\n      nameserver_ip: {}\n      ssl_hash:\n        complex:\n          root: inputs.SSLHash\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1250,\\n    \\\"y\\\": 360\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '9':\n    id: '9'\n    taskid: 7d6ff0de-a24b-41c9-8d64-dd0743f1cdf1\n    type: regular\n    task:\n      id: 7d6ff0de-a24b-41c9-8d64-dd0743f1cdf1\n      version: -1\n      name: NameServer HostName Pivot\n      description: Pivots on a NameServer HostName.\n      script: DomainTools Iris|||domaintoolsiris-pivot\n      type: regular\n      iscommand: true\n      brand: DomainTools Iris\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      email: {}\n      ip: {}\n      mailserver_host: {}\n      nameserver_host:\n        complex:\n          root: inputs.NameServerHostName\n          transformers:\n          - operator: uniq\n      nameserver_ip: {}\n      ssl_hash: {}\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1770,\\n    \\\"y\\\": 360\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '10':\n    id: '10'\n    taskid: 1c2d4e3d-2a80-42ae-8dbc-c532148f5196\n    type: regular\n    task:\n      id: 1c2d4e3d-2a80-42ae-8dbc-c532148f5196\n      version: -1\n      name: MailServer HostName\n      description: Pivots on a MailServer HostName.\n      script: DomainTools Iris|||domaintoolsiris-pivot\n      type: regular\n      iscommand: true\n      brand: DomainTools Iris\n    nexttasks:\n      '#none#':\n      - '3'\n    scriptarguments:\n      email: {}\n      ip: {}\n      mailserver_host:\n        complex:\n          root: inputs.MailServerHostName\n          transformers:\n          - operator: uniq\n      nameserver_host: {}\n      nameserver_ip: {}\n      ssl_hash: {}\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 2340,\\n    \\\"y\\\": 380\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '11':\n    id: '11'\n    taskid: 116e7c75-54e2-4947-8332-171ea2fcc051\n    type: condition\n    task:\n      id: 116e7c75-54e2-4947-8332-171ea2fcc051\n      version: -1\n      name: Pivot on an IP address?\n      description: Determines whether to pivot on an IP Address.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      ip:\n      - '6'\n    separatecontext: false\n    conditions:\n    - label: ip\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.IPAddress\n                transformers:\n                - operator: uniq\n            iscontext: true\n      - - operator: isExists\n          left:\n            value:\n              simple: inputs.IPAddressCount\n            iscontext: true\n      - - operator: lessThanOrEqual\n          left:\n            value:\n              simple: inputs.IPAddressCount\n            iscontext: true\n          right:\n            value:\n              simple: inputs.PivotThreshold\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -180,\\n    \\\"y\\\": 180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '12':\n    id: '12'\n    taskid: 3f0eb85b-f974-4845-805a-297bc7166dec\n    type: condition\n    task:\n      id: 3f0eb85b-f974-4845-805a-297bc7166dec\n      version: -1\n      name: Pivot on a NameServer IP?\n      description: Determines whether to pivot on a NameServer IP address.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      nameserver_ip:\n      - '7'\n    separatecontext: false\n    conditions:\n    - label: nameserver_ip\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.NameServerIPAddress\n                transformers:\n                - operator: uniq\n            iscontext: true\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.NameServerIPAddressCount\n            iscontext: true\n      - - operator: lessThan\n          left:\n            value:\n              complex:\n                root: inputs.IPAddressCount\n            iscontext: true\n          right:\n            value:\n              simple: inputs.PivotThreshold\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 390,\\n    \\\"y\\\": 180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '13':\n    id: '13'\n    taskid: 92e7c263-9249-44d6-852c-c02eb4f4de75\n    type: condition\n    task:\n      id: 92e7c263-9249-44d6-852c-c02eb4f4de75\n      version: -1\n      name: Pivot on a SSL Hash?\n      description: Determines whether to pivot on a SSL Hash.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      ssl_hash:\n      - '8'\n    separatecontext: false\n    conditions:\n    - label: ssl_hash\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.SSLHash\n                transformers:\n                - operator: uniq\n            iscontext: true\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.SSLHashCount\n            iscontext: true\n      - - operator: lessThanOrEqual\n          left:\n            value:\n              complex:\n                root: inputs.IPAddressCount\n            iscontext: true\n          right:\n            value:\n              simple: inputs.PivotThreshold\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1080,\\n    \\\"y\\\": 180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '14':\n    id: '14'\n    taskid: 2e14b0b4-1fa7-4ac5-87a9-5f561da83afa\n    type: condition\n    task:\n      id: 2e14b0b4-1fa7-4ac5-87a9-5f561da83afa\n      version: -1\n      name: Pivot on NameServer HostName?\n      description: Determines whether to pivot on a NameServer HostName.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      nameserver_host:\n      - '9'\n    separatecontext: false\n    conditions:\n    - label: nameserver_host\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.NameServerHostName\n                transformers:\n                - operator: uniq\n            iscontext: true\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.NameServerHostNameCount\n            iscontext: true\n      - - operator: lessThanOrEqual\n          left:\n            value:\n              complex:\n                root: inputs.NameServerHostNameCount\n            iscontext: true\n          right:\n            value:\n              simple: inputs.PivotThreshold\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1610,\\n    \\\"y\\\": 180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '15':\n    id: '15'\n    taskid: 08927281-b7fa-4735-8fef-fd4cafddf63e\n    type: condition\n    task:\n      id: 08927281-b7fa-4735-8fef-fd4cafddf63e\n      version: -1\n      name: Pivot on a MailServer HostName?\n      description: Determines whether to pivot on a MailServer HostName.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      mailserver_host:\n      - '10'\n    separatecontext: false\n    conditions:\n    - label: mailserver_host\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.MailServerHostName\n                transformers:\n                - operator: uniq\n            iscontext: true\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: inputs.MailServerHostNameCount\n            iscontext: true\n      - - operator: lessThan\n          left:\n            value:\n              complex:\n                root: inputs.MailServerHostNameCount\n            iscontext: true\n          right:\n            value:\n              simple: inputs.PivotThreshold\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 2140,\\n    \\\"y\\\": 180\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '16':\n    id: '16'\n    taskid: 48dc1f6f-6c12-4a80-8939-17dd36c149ea\n    type: condition\n    task:\n      id: 48dc1f6f-6c12-4a80-8939-17dd36c149ea\n      version: -1\n      name: Is DomainTools Iris enabled?\n      description: Checks whether the DomainTools Iris integration is enabled.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '18'\n      'yes':\n      - '17'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: DomainTools Iris\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 750,\\n    \\\"y\\\": -130\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '17':\n    id: '17'\n    taskid: 0197bd89-9066-4970-86e9-6be1a85fdc1c\n    type: title\n    task:\n      id: 0197bd89-9066-4970-86e9-6be1a85fdc1c\n      version: -1\n      name: Indicator Pivoting\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '4'\n      - '11'\n      - '12'\n      - '13'\n      - '14'\n      - '15'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 750,\\n    \\\"y\\\": 40\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  '18':\n    id: '18'\n    taskid: 0ef54c67-04b3-45e3-830c-1cfbddb5f2ab\n    type: title\n    task:\n      id: 0ef54c67-04b3-45e3-830c-1cfbddb5f2ab\n      version: -1\n      name: Integration Not Enabled\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '3'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -1450,\\n    \\\"y\\\": 40\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\nview: \"{\\n  \\\"linkLabelsPosition\\\": {\\n    \\\"11_3_#default#\\\": 0.29,\\n    \\\"12_3_#default#\\\": 0.59,\\n    \\\"13_3_#default#\\\": 0.6,\\n    \\\"14_3_#default#\\\": 0.29,\\n    \\\"15_3_#default#\\\": 0.19,\\n    \\\"16_18_#default#\\\": 0.16,\\n    \\\"4_3_#default#\\\": 0.2\\n  },\\n  \\\"paper\\\": {\\n    \\\"dimensions\\\": {\\n      \\\"height\\\": 1025,\\n      \\\"width\\\": 4170,\\n      \\\"x\\\": -1450,\\n      \\\"y\\\": -300\\n    }\\n  }\\n}\"\ninputs:\n- key: IPAddress\n  value:\n    complex:\n      root: IP\n      accessor: Address\n      transformers:\n      - operator: uniq\n  required: false\n  description: The IP address to pivot.\n- key: EmailAddress\n  value:\n    complex:\n      root: Account\n      accessor: Email.Address\n      transformers:\n      - operator: uniq\n  required: false\n  description: The Email address for which to pivot.\n- key: NameServerIPAddress\n  value: {}\n  required: false\n  description: The Name Server IP address for which to pivot.\n- key: SSLHash\n  value: {}\n  required: false\n  description: The SSL Hash for which to pivot.\n- key: NameServerHostName\n  value: {}\n  required: false\n  description: The Name Server Host Name for which to pivot.\n- key: MailServerHostName\n  value: {}\n  required: false\n  description: The Mail Server Host Name for which to pivot.\n- key: IPAddressCount\n  value: {}\n  required: false\n  description: The number of matches for the IP address.\n- key: EmailAddressCount\n  value: {}\n  required: false\n  description: The number of matches for the Email address.\n- key: NameServerIPAddressCount\n  value: {}\n  required: false\n  description: The number of matches for the Name Server IP address.\n- key: SSLHashCount\n  value: {}\n  required: false\n  description: The number of matches for the SSL Hash.\n- key: NameServerHostNameCount\n  value: {}\n  required: false\n  description: The number of matches for the Name Server Host Name.\n- key: MailServerHostNameCount\n  value: {}\n  required: false\n  description: The number of matches for the Mail Server Host Name.\n- key: PivotThreshold\n  value:\n    simple: '500'\n  required: false\n  description: 'The threshold for matches less than to pivot on. '\noutputs:\n- contextPath: DomainTools.PivotedDomains.Name\n  description: The DomainTools Domain Name.\n  type: String\n- contextPath: DomainTools.PivotedDomains.LastEnriched\n  description: The last time DomainTools enriched domain data.\n  type: Date\n- contextPath: DomainTools.PivotedDomains.Analytics.OverallRiskScore\n  description: The DomainTools Overall Risk Score.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.ProximityRiskScore\n  description: The DomainTools Proximity Risk Score.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.ThreatProfileRiskScore.RiskScore\n  description: The DomainTools Threat Profile Risk Score.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.ThreatProfileRiskScore.Threats\n  description: The DomainTools Threat Profile Threats.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Analytics.ThreatProfileRiskScore.Evidence\n  description: The DomainTools Threat Profile Evidence.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Analytics.WebsiteResponseCode\n  description: The Website Response Code.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.AlexaRank\n  description: The Alexa Rank.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.Tags\n  description: The DomainTools Tags.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantName\n  description: The name of the registrant.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantOrg\n  description: The organization of the registrant.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Country.value\n  description: The country value of the registrant contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Country.count\n  description: The Country count of the registrant contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Email.value\n  description: The Email value of the registrant contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Email.count\n  description: The Email count of the registrant contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Name.value\n  description: The name value of the registrant contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Name.count\n  description: The name count of the registrant contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Phone.value\n  description: The phone value of the registrant contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.RegistrantContact.Phone.count\n  description: The phone count of the registrant contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.SOAEmail\n  description: The SOA record Email.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.SSLCertificateEmail\n  description: The SSL certificate Email.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Country.value\n  description: The country value of the administrator contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Country.count\n  description: The country count of the administrator contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Email.value\n  description: The Email value of the administrator contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Email.count\n  description: The Email count of the administrator contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Name.value\n  description: The name value of the administrator contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Name.count\n  description: The name count of the administrator contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Phone.value\n  description: The phone value of the administrator contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdminContact.Phone.count\n  description: The phone count of the administrator contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Country.value\n  description: The country value of the technical contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Country.count\n  description: The country count of the technical contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Email.value\n  description: The Email value of the technical contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Email.count\n  description: The Email count of the technical contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Name.value\n  description: The name value of the technical contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Name.count\n  description: The name count of the technical contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Phone.value\n  description: The phone value of the technical contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.TechnicalContact.Phone.count\n  description: The phone count of the technical contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Country.value\n  description: The country value of the billing contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Country.count\n  description: The country count of the billing contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Email.value\n  description: The Email value of the billing contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Email.count\n  description: The Email count of the billing contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Name.value\n  description: The name value of the billing contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Name.count\n  description: The name count of the billing contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Phone.value\n  description: The phone value of the billing contact.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.BillingContact.Phone.count\n  description: The phone count of the billing contact.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Identity.EmailDomains\n  description: The Email domains.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdditionalWhoisEmails.value\n  description: The value of the Additional Whois Emails.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Identity.AdditionalWhoisEmails.count\n  description: The count of the Additional Whois Emails.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Registration.DomainRegistrant\n  description: The registrant of the domain.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Registration.RegistrarStatus\n  description: The status of the registrar.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Registration.DomainStatus\n  description: The active status of the domain.\n  type: Boolean\n- contextPath: DomainTools.PivotedDomains.Registration.CreateDate\n  description: The date the domain was created.\n  type: Date\n- contextPath: DomainTools.PivotedDomains.Registration.ExpirationDate\n  description: The expiry date of the domain.\n  type: Date\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.address.value\n  description: The address value of the IP Addresses.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.address.count\n  description: The address count of the IP Addresses.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.asn.value\n  description: The ASN value of the IP Addresses.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.asn.count\n  description: The ASN count of the IP Addresses.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.country_code.value\n  description: The country code value of the IP Addresses.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.country_code.count\n  description: The country code count of the IP Addresses.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.isp.value\n  description: The ISP value of the IP Addresses.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.IPAddresses.isp.count\n  description: The ISP count of the IP Addresses.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.IPCountryCode\n  description: The country code of the IP address.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.MailServers.domain.value\n  description: The domain value of the Mail Servers.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.MailServers.domain.count\n  description: The domain count of the Mail Servers.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.MailServers.host.value\n  description: The host value of the Mail Servers.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.MailServers.host.count\n  description: The host count of the Mail Servers.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.MailServers.ip.value\n  description: The IP value of the Mail Servers.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.MailServers.ip.count\n  description: The IP count of the Mail Servers.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.SPFRecord\n  description: The SPF record.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.NameServers.domain.value\n  description: The domain value of the DomainTools Domains NameServers.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.NameServers.domain.count\n  description: The domain count of the DomainTools Domains NameServers.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.NameServers.host.value\n  description: The host value of the DomainTools Domains NameServers.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.NameServers.host.count\n  description: The host count of the DomainTools Domains NameServers.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.NameServers.ip.value\n  description: The IP value of the DomainTools Domains NameServers.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.NameServers.ip.count\n  description: The IP count of the DomainTools Domains NameServers.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.SSLCertificate.hash.value\n  description: The Hash value of the SSL certificate.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.SSLCertificate.hash.count\n  description: The Hash count of the SSL certificate.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.SSLCertificate.organization.value\n  description: The organization value of the SSL certificate.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.SSLCertificate.organization.count\n  description: The organization count of the SSL certificate.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.SSLCertificate.subject.value\n  description: The subject value of the SSL certificate.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.SSLCertificate.subject.count\n  description: The subject count of the SSL certificate.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Hosting.RedirectsTo.value\n  description: The Redirects To value of the domain.\n  type: String\n- contextPath: DomainTools.PivotedDomains.Hosting.RedirectsTo.count\n  description: The Redirects To count of the domain.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.GoogleAdsenseTrackingCode\n  description: The tracking code of Google Adsense.\n  type: Number\n- contextPath: DomainTools.PivotedDomains.Analytics.GoogleAnalyticTrackingCode\n  description: The tracking code of Google Analytics.\n  type: Number\nsourceplaybookid: Indicator Pivoting - DomainTools Iris\nfromversion: 5.0.0\ntests:\n- No tests (auto formatted)\n",
  "product": "DomainTools",
  "pack": "DomainTools_Iris",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:domaintools",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "ASoTPWW6gjxtfDK9cmfrPINEhT2VfRA9KzExPYj4Ar071sW7sToaPHl89ju8gqI91gAHPVgNOrpcm+E8Yw/NvEbjZj30jVc9RMHDvGhFGr0seui8sUayvLC3S7yqb2w7r4z8OWJCcr2jmqi8U6I/vFoOEb1FG6s644mIPNavQj0T35682T2evE2cPL1flKu6YLc+vf37pby5zUS87CM5PMKCXb0MdIG76YAmvcbGET1P+ow8yyfyvGCrDTzrpww99rQ3vQzmNT2Nhj89NZQmvQ1SPb0e4lU9PQPhPAFgDb1YJ0+6ZufKvIsPSjzTLL08nVY1vPlARL2Zh9U8FBZ/vIWbFT0HhRU8/HekvCDLnLzWMKC9OY2UPZPo9rzfDh49nbWcPAKtl7wDFbe8m6XsO7hjKzyFQg28epXpPNwU87lTark7J+TwPHIOHz2FpC68HZeZvZp4pbxyG5Q7oSB7vN7ThzxXGAS9LocDPgsaCTzuQ8m8PxM2PdKfjj03Clu8UReivZuywr1xBlc9Cq4FPTcHObwQ9jo8vwyuu5tcv7ym2Kc8p0KHvLLfD72j20C9So0ovXNpBjxhXY86nXMLPd0nbzyhVfQ8UpGPvJkpuTyXpiS9gJ2gPPP58rybFUO8anA+vGC+cT1wYdo8V3JBPaYFiD3Imok9IGlmvLCp+bwQStA8moGRPLoTST1xt1S9X92jPOyyi7wfbrQ6uR2Pu01zmz0PLEO9E3z5u0lrrDyDr9U8lP90PBOY0L3r6vO8VbU4PaRgPrx/BJs9v7pIPXuBFb3mQEy9wCyNOnE/aryEXWO9HYLoPD7sFb2PUz09Pfo1u91LO71LvV89Q7fZvL/+gTtBOnC9dkw+vQgZLz2MXjO9wpyfuzD9lLu0SNS8/YnavChlJD0yBnm7j/uHvcGiMr3HbIi9ddltPILd+jzXoMG8AXNPvAZoq7xVyjC8OJ0+PWzsOT3VHro8AAHIvZy18rtHZee8t1fVvNUu7zzhY9k8K58LPWG2yDuzEs+7Z0fgPGacoD3/4iO9n5/2uwxh6Dy/Tgi9q+K5vCSDvLyAuo49v/mxvOJjh7wyzdm9pe6VvGUQGb3aPJS8YfK5PMjyMzyYiHM8lUCKPItggTxShU+9iyzRvBM0fDx4ncy7WJybu3zEaT2bTaE9xQ3bvPRQ0rvZ0ug6RtZCvVWKOjzv4qg6YgcYvMlrGL1ppyg9rvf7PAmCxb1gwoQ7YK54PZ7sm7zyr4g8y0HBu7pN6jxHUlc9gVrKu9P+gLxCanw8gvZkPIkXuTwusv88wleQvEy3Vz1ohaY8BOQdPaLXhLuMz88790ZZvd/mI72nbj+8eA2JvAyW+jy9huy8rGqoPHunqDxzwHe9n98JvKKz1bs++aI9rovtvOModLxI25S97lilul2yV72FTnK9WkN7vFjod7xD9546z36IPLZkJDuSEOm8SkwQPPP2h7xVxwk8ynFKveFFDD2666y9/CSqvYWN9DwRYwC8TDzTu+vfm7wyPs88okNbvbsuebt0RDK7jLiLvEat77w2SWc9cqabPERdG701WDO9MOJTPZCkSj3IGWo9DF+OPa8BEr1/om08udF2PQPVlzzfnDy8KiOIPcNVm7x0a0080gYbPfQ+pDwiSyG9g4oXPDeIULsuXpo8StokvSJ1Wbx06yK9YVvRvGaS970ZgEu9MbDavBJdqbzq9qs89zxivOpMYbwkHdI8Bsr4vA8Gzbzkttm77TgcvZg/wDrrdg+9xciXPO6ChjyRhCu8VUaxOon5IjwoIo08l6JmvZnMFj1Xal49tGBvvcZ0x7wZGtM8pTPkPB0a67soTxK8nckivYdSHD2fXbo74WKiO3Y9QD3cRTY9Pu8QPRiDbr389IA6mVGEPDBfLz11SdO7C/gAvYuVPLyWS6A8QIhVvBFFVTyM49c8gaVEPTyo7rwsnhG93KKuPPfCPz3eoA29AZEEvSc2zrw2wfu73KC8PKPu8zvw7TY9cLcMvYn8s7wEmoo8x5hXPJU107zRdBm98pswvOT3Gr3vEJA8OpuzvAzmwT1GsIq9BdcrPRvbq7t7FBi9ajgrvYPKoT3/krQ8YOpTPf96IL0GQu87YznrvH8iQj1VSTM9uDMzvSY6jbwuzRq9lBXKPEinDr3j9h89WrDyvMXHEj2qmBg9vn2QPBIU0LpLo/I8JcnxvJBRL727TAc9VNA+PIyC8zlm+1s9TxrYPFVUJj0ac2I9BLuru20GLzyrF++8gdcqvMNa4rt/NF+91i5FvWOQEzprGv08Cx63PLTD47sZ4E095AmivFOIcD3CoBW9EGLWPOkCxDz21pk6uYoIPR80gD0nYTc8+cyqO+VIkj2DO3E9wSgNvSYAGbt4vH+8doMCPTw5MTrqfTm97TD5O0UvpLwxehG9aSi6vVFStb3wf8o88XT1vCugx7wAcPq87wH/OuGsg7uAM449B/f/PFX6rDzvfMy7ETyUPFvv5rsvnmY9DhUxPTu3jjwQHTE9V9sdPVLFpjxagF89Px2cvf6Wprxrq0w9pO++vKqWujziZ9C8gwWVvP3XqbxNQYm7CNRxPXf2gz27mTS9Xx6cu0zk3DxiuAA9lOkUvMHtgr2BzCS9Z3WrvU7hZ7yQ3YO8QuO+vfFbNz2nfO87Yv4avYplkz3s9cQ9mdB2PQwXHrxCRUc86HeRvXyZ4jxS7A69880lu9YYpDzmHyo9ddYXPSdqHb0cew49eryjvPvSgr3rkZK8qp46POefeLwgg6a738KRPALmuLxUgmy8F0rZPM92orxh1HO8+y8gPBHOGrzw2Vy9RxrQvGSxbbpcH8a83hkwPZTH3DwDohs9Va2OvLw9ND2ctBw9QKGVPA6adT06cJQ86KSEPD+vgDtYxXw9LWsFPODJgbwxLbI7Ues5u4dAET0zZ9q6++L9PNo9mLzWThW9lW6FvEmEk7sV9Qs9JNCEvIzrjjtz94u8RfyivFPy9bzW5Zk8m6kgvRUI5jpkJJu7cw2EvKeWQb1a86y9TQ6RPXjltDyzPrI8YYEFPQsDwbzIiwc8mSjWvNacfjuu1ga8BZ/HPLlwKz2Lolg8q34/vDDezTwXq129aRczPWIO0rtEydO8tfBCvfCurbzpWYa8ZzoCvRFOKTwYF+y8I3RnvFi63DwVzvu85nNlu54N0DwUF529cpe7PJW6lDxbi6U8oZ+0vAeQD71nxqM9xgO1vIWHab0+cqC9H6w9vT/QHr0nSAC9SrEIPPp7zzs7j309Rb1VvME5Sr0t5hC9y1YEPLfIwrzATzG9f+z1O6M+uzvEuDQ9GPc8Ox5c8TuDTAS7U7nzPAwnab0Yomi8JwXTPFd9FT0xOvQ8+4M9vBe02jslLDM9K/S3vIXsqDwR+Vy924VLPeHAMDz9uAM7zbcVvTkyKTz3P6y8LfosPQlHAT2XWp29X5JjPYe/PD2nsvC8r1QWPDJvmjy5iTs8+wjfO9mRD72rUR89gQaUvao3prujWf670VGhOij0SzxnQha9vD/yuyDAP7zImYe9scn0O8eQcb2W8Ac9mbo5vFyM/by7QW47VzyXu/NIg7zJo7o7eUyNvJQYaz1VHQ49GScOPNZzBz3x/D89jFuMvCoWj7xs79Q8YYR9vTmnXT1ptqE7q+3JO6Qt9Dxevik9F43CvJuN+Tp/tcu8K4S1PA1PtTsxwWa7iixLvBzDAr05u4k9d70hveUd27stpoI6Uvm3PCP6IDxi5lQ8KoSHvFhUELyBdxu87kfoO+XQ8josBuo8f+WvvT15RDv6TRa9JmcOPb1tlzoU7wk8oT4QvKmEEbyDOeI8/DVEPXdt6zzuvcG8vUB3PQqIY7xBs4Q9IOlMPKOpzDzYARi9qK63vN+G5Lz3JGa9+51mPL8EbD32rD49nqusvOO00rxh9es8/VoiPH85Qb3Kz1o8HCjMvDaqqbyPtf8867HAvEUXCr0g0QM9Z6lkuxyfsz1L1+M65G26OxTCxry5Eq68Y18TveqGUryUA4K8ZIf1vIIzK737NJU7AYeOO0/fgLtsOBA9mFS5PD0COL1O+3U7l5Fru42EAr1lMbC9air7vCjIRz3xdj88"
}
