bundles/spark/kbs/soar-playbooks/entries/pb-fireeyehx-fireeye-hx-execution-flow-indicators-hunting.json
{
  "id": "pb-fireeyehx-fireeye-hx-execution-flow-indicators-hunting",
  "title": "FireEye HX - Execution Flow Indicators Hunting",
  "category": "playbook",
  "content": "This playbook queries FireEye Endpoint Security (HX) for execution flow indicators, including processes name, registry keys, registry values, and applications.\n\nNote that multiple search values should be separated by commas only (without spaces or any special characters).\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (FireEyeHX, xsoar-supported).\n\nInputs — Application: Single or multiple application names or codes to search for within FireEye HX logs.\nBy default, the 'contains' clause is used.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; ProcessName: A single or multiple process names to search for within FireEye HX logs.\nBy default, the 'contains' clause is used.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; RegistryKey: A single or multiple registry keys to search for within FireEye HX logs.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; RegistryValue: A single or multiple registry values to search for within FireEye HX logs.\nBy default, the 'contains' clause is used.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; hostSetName: The name of host set to be searched.; exhaustive: Whether a search is exhaustive or quick.\nPossible values are: yes, no. Default is yes.; interval_in_seconds: The interval in seconds between each poll. Default is 60.; limit: Limits the results count (once the limit is reached, the search is stopped)..\n\nOutputs — FireEyeHX.HuntingResults: Email message objects and fields that were retrieved from FireEye HX.; FireEyeHX.HuntingResults.Timestamp - Event: The timestamp of the event.; FireEyeHX.HuntingResults.Timestamp - Accessed: The last accessed time.; FireEyeHX.HuntingResults.Timestamp - Modified: The time when the entry was last modified.; FireEyeHX.HuntingResults.File Name: The name of the file.; FireEyeHX.HuntingResults.File Full Path: The full path of the file.; FireEyeHX.HuntingResults.DNS Hostname: The name of the DNS host.; FireEyeHX.HuntingResults.URL: The event URL.; FireEyeHX.HuntingResults.Username: The event username.; FireEyeHX.HuntingResults.File MD5 Hash: The MD5 hash of the file..\n\nIntegrations/scripts used: FireEyeHX v2, IsIntegrationAvailable, SetAndHandleEmpty.",
  "raw_yaml": "id: FireEye HX - Execution Flow Indicators Hunting\nversion: -1\nname: FireEye HX - Execution Flow Indicators Hunting\ndescription: |-\n  This playbook queries FireEye Endpoint Security (HX) for execution flow indicators, including processes name, registry keys, registry values, and applications.\n\n  Note that multiple search values should be separated by commas only (without spaces or any special characters).\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: a52d8420-7a8c-4987-866d-15dd05511bae\n    type: start\n    task:\n      id: a52d8420-7a8c-4987-866d-15dd05511bae\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"56\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1750,\n          \"y\": -340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 6d03ca44-9728-4044-879d-9c3228a1ed46\n    type: title\n    task:\n      id: 6d03ca44-9728-4044-879d-9c3228a1ed46\n      version: -1\n      name: Application Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"107\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2050,\n          \"y\": -40\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: c9a4d741-cb13-4350-8973-b2514b1058e9\n    type: title\n    task:\n      id: c9a4d741-cb13-4350-8973-b2514b1058e9\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1750,\n          \"y\": 910\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"56\":\n    id: \"56\"\n    taskid: 3ba704c6-3573-47f4-8d53-ef1a0dd7dd71\n    type: condition\n    task:\n      id: 3ba704c6-3573-47f4-8d53-ef1a0dd7dd71\n      version: -1\n      name: Is FireEye HX enabled?\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"31\"\n      \"yes\":\n      - \"118\"\n      - \"14\"\n      - \"155\"\n      - \"156\"\n    scriptarguments:\n      brandname:\n        simple: FireEyeHX v2\n    results:\n    - brandInstances\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1750,\n          \"y\": -210\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"107\":\n    id: \"107\"\n    taskid: 3e8617cc-d465-4af2-81e4-7bb9ba502837\n    type: condition\n    task:\n      id: 3e8617cc-d465-4af2-81e4-7bb9ba502837\n      version: -1\n      name: Any applications to hunt for?\n      description: |\n        Checks whether any application names are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"133\"\n      \"yes\":\n      - \"108\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.Application\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2050,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"108\":\n    id: \"108\"\n    taskid: 1cf825f5-39f9-4fa2-8871-f2c467e2b037\n    type: regular\n    task:\n      id: 1cf825f5-39f9-4fa2-8871-f2c467e2b037\n      version: -1\n      name: FireEye HX Query - Applications\n      description: Searches endpoints to check all hosts or a subset of hosts for a specific file or indicator.\n      script: FireEyeHX v2|||fireeye-hx-search\n      type: regular\n      iscommand: true\n      brand: FireEyeHX v2\n    nexttasks:\n      '#none#':\n      - \"149\"\n    scriptarguments:\n      exhaustive:\n        simple: \"no\"\n      fieldSearchName:\n        simple: Application Name\n      fieldSearchOperator:\n        simple: contains\n      fieldSearchValue:\n        complex:\n          root: inputs.Application\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n      hostSetName:\n        complex:\n          root: inputs.hostSetName\n      interval_in_seconds:\n        complex:\n          root: inputs.interval_in_seconds\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.interval_in_seconds\n                iscontext: true\n      limit:\n        complex:\n          root: inputs.limit\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.limit\n                iscontext: true\n      polling:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2290,\n          \"y\": 265\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"118\":\n    id: \"118\"\n    taskid: a898916f-a6c5-4358-8934-f88705079501\n    type: title\n    task:\n      id: a898916f-a6c5-4358-8934-f88705079501\n      version: -1\n      name: Process Name Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"119\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2690,\n          \"y\": -40\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"119\":\n    id: \"119\"\n    taskid: f9918545-750e-4e26-8eb5-ec7f65371633\n    type: condition\n    task:\n      id: f9918545-750e-4e26-8eb5-ec7f65371633\n      version: -1\n      name: Any process names to hunt for?\n      description: |\n        Checks whether any process names are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"145\"\n      \"yes\":\n      - \"121\"\n      - \"120\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ProcessName\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2690,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"120\":\n    id: \"120\"\n    taskid: 8fba3425-49a8-4862-82ff-9c2e40427d90\n    type: regular\n    task:\n      id: 8fba3425-49a8-4862-82ff-9c2e40427d90\n      version: -1\n      name: FireEye HX Query - Parent Process Name\n      description: Searches endpoints to check all hosts or a subset of hosts for a specific file or indicator.\n      script: FireEyeHX v2|||fireeye-hx-search\n      type: regular\n      iscommand: true\n      brand: FireEyeHX v2\n    nexttasks:\n      '#none#':\n      - \"153\"\n    scriptarguments:\n      exhaustive:\n        simple: \"no\"\n      fieldSearchName:\n        simple: Process Name\n      fieldSearchOperator:\n        simple: contains\n      fieldSearchValue:\n        complex:\n          root: inputs.ProcessName\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n      hostSetName:\n        complex:\n          root: inputs.hostSetName\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.hostSetName\n                iscontext: true\n      interval_in_seconds:\n        complex:\n          root: inputs.interval_in_seconds\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.interval_in_seconds\n                iscontext: true\n      limit:\n        complex:\n          root: inputs.limit\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.limit\n                iscontext: true\n      polling:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2930,\n          \"y\": 260\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"121\":\n    id: \"121\"\n    taskid: 6de10b58-7f29-4eaa-80d6-4f301f161304\n    type: regular\n    task:\n      id: 6de10b58-7f29-4eaa-80d6-4f301f161304\n      version: -1\n      name: FireEye HX Query - Process Name\n      description: Searches endpoints to check all hosts or a subset of hosts for a specific file or indicator.\n      script: FireEyeHX v2|||fireeye-hx-search\n      type: regular\n      iscommand: true\n      brand: FireEyeHX v2\n    nexttasks:\n      '#none#':\n      - \"150\"\n    scriptarguments:\n      exhaustive:\n        complex:\n          root: inputs.exhaustive\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.exhaustive\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n            - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.exhaustive\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n      fieldSearchName:\n        simple: Process Name\n      fieldSearchOperator:\n        simple: contains\n      fieldSearchValue:\n        complex:\n          root: inputs.ProcessName\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n      hostSetName:\n        complex:\n          root: inputs.hostSetName\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.hostSetName\n                iscontext: true\n      interval_in_seconds:\n        complex:\n          root: inputs.interval_in_seconds\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.interval_in_seconds\n                iscontext: true\n      limit:\n        complex:\n          root: inputs.limit\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.limit\n                iscontext: true\n      polling:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3360,\n          \"y\": 260\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"133\":\n    id: \"133\"\n    taskid: 415ec2a5-fd28-4d51-8b6f-8b6d6c223017\n    type: title\n    task:\n      id: 415ec2a5-fd28-4d51-8b6f-8b6d6c223017\n      version: -1\n      name: Application Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2050,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"145\":\n    id: \"145\"\n    taskid: 9e29c944-074c-4142-8ac2-85f384c474a0\n    type: title\n    task:\n      id: 9e29c944-074c-4142-8ac2-85f384c474a0\n      version: -1\n      name: Process Name Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2690,\n          \"y\": 770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"149\":\n    id: \"149\"\n    taskid: d3ab7a54-dd52-48b5-8f0f-3e38d4774573\n    type: regular\n    task:\n      id: d3ab7a54-dd52-48b5-8f0f-3e38d4774573\n      version: -1\n      name: Save Matching Results - Applications\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"133\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FireEyeHX.HuntingResults\n      value:\n        complex:\n          root: FireEyeHX.Search.results\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.id\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2290,\n          \"y\": 425\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"150\":\n    id: \"150\"\n    taskid: 4c18d9e4-15d7-48b8-807d-dda56bcea1c8\n    type: regular\n    task:\n      id: 4c18d9e4-15d7-48b8-807d-dda56bcea1c8\n      version: -1\n      name: Save Matching Results - Process Name\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"152\"\n    scriptarguments:\n      key:\n        simple: HuntingResults2\n      value:\n        complex:\n          root: FireEyeHX.Search.results\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.data.Process ID\n                iscontext: true\n            - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.data.Process Name\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3360,\n          \"y\": 430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"152\":\n    id: \"152\"\n    taskid: ed7679c0-51c2-4342-86d3-87fa059d2419\n    type: regular\n    task:\n      id: ed7679c0-51c2-4342-86d3-87fa059d2419\n      version: -1\n      name: Remove Duplications From Matching Results\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"145\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FireEyeHX.HuntingResults\n      value:\n        complex:\n          root: HuntingResults2\n          filters:\n          - - operator: notInList\n              left:\n                value:\n                  simple: HuntingResults2.id\n                iscontext: true\n              right:\n                value:\n                  simple: FireEyeHX.HuntingResults.id\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3140,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"153\":\n    id: \"153\"\n    taskid: 11b1693a-32d7-4bcb-8151-aa6459e4b5ae\n    type: regular\n    task:\n      id: 11b1693a-32d7-4bcb-8151-aa6459e4b5ae\n      version: -1\n      name: Save Matching Results - Parent Process name\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"152\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FireEyeHX.HuntingResults\n      value:\n        complex:\n          root: FireEyeHX.Search.results\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.data.Process ID\n                iscontext: true\n            - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.data.Process Name\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2930,\n          \"y\": 430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"154\":\n    id: \"154\"\n    taskid: 624d003c-6113-4c63-8e0d-00df43aa191e\n    type: regular\n    task:\n      id: 624d003c-6113-4c63-8e0d-00df43aa191e\n      version: -1\n      name: FireEye HX Query - Registry Value\n      description: Searches endpoints to check all hosts or a subset of hosts for a specific file or indicator.\n      script: FireEyeHX v2|||fireeye-hx-search\n      type: regular\n      iscommand: true\n      brand: FireEyeHX v2\n    nexttasks:\n      '#none#':\n      - \"159\"\n    scriptarguments:\n      exhaustive:\n        complex:\n          root: inputs.exhaustive\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.exhaustive\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n            - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.exhaustive\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n      fieldSearchName:\n        simple: Registry Key Value Text\n      fieldSearchOperator:\n        simple: contains\n      fieldSearchValue:\n        complex:\n          root: inputs.RegistryValue\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n      hostSetName:\n        complex:\n          root: inputs.hostSetName\n      interval_in_seconds:\n        complex:\n          root: inputs.interval_in_seconds\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.interval_in_seconds\n                iscontext: true\n      limit:\n        complex:\n          root: inputs.limit\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.limit\n                iscontext: true\n      polling:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1230,\n          \"y\": 265\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"155\":\n    id: \"155\"\n    taskid: 8cde1c5c-8798-4a55-8f3b-385bf3b115ff\n    type: title\n    task:\n      id: 8cde1c5c-8798-4a55-8f3b-385bf3b115ff\n      version: -1\n      name: Registry Value Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"157\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1470,\n          \"y\": -40\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"156\":\n    id: \"156\"\n    taskid: 6a34e553-c8bb-41b4-8339-63a086adf5cc\n    type: title\n    task:\n      id: 6a34e553-c8bb-41b4-8339-63a086adf5cc\n      version: -1\n      name: Registry Key Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"161\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 830,\n          \"y\": -40\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"157\":\n    id: \"157\"\n    taskid: 25f71361-72c3-4462-8f05-ff90e7b0c8be\n    type: condition\n    task:\n      id: 25f71361-72c3-4462-8f05-ff90e7b0c8be\n      version: -1\n      name: Any registry values to hunt for?\n      description: |\n        Checks whether any registry values are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"160\"\n      \"yes\":\n      - \"154\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.RegistryValue\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1470,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"159\":\n    id: \"159\"\n    taskid: fe85c4f9-9d63-4c56-8898-6bc100c5524f\n    type: regular\n    task:\n      id: fe85c4f9-9d63-4c56-8898-6bc100c5524f\n      version: -1\n      name: Save Matching Results - Registry Value\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"160\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FireEyeHX.HuntingResults\n      value:\n        complex:\n          root: FireEyeHX.Search.results\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.id\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1230,\n          \"y\": 425\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"160\":\n    id: \"160\"\n    taskid: 07a9fe38-6582-4ddc-8a9d-536935d33e43\n    type: title\n    task:\n      id: 07a9fe38-6582-4ddc-8a9d-536935d33e43\n      version: -1\n      name: Registry Value Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1470,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"161\":\n    id: \"161\"\n    taskid: 7b92bf7a-7982-4390-87ad-4686f4984d95\n    type: condition\n    task:\n      id: 7b92bf7a-7982-4390-87ad-4686f4984d95\n      version: -1\n      name: Any registry keys to hunt for?\n      description: |\n        Checks whether any registry keys are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"165\"\n      \"yes\":\n      - \"163\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.RegistryKey\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 830,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"163\":\n    id: \"163\"\n    taskid: 7d3c452c-fd22-4dfb-86ba-bf4f9d8d59e5\n    type: regular\n    task:\n      id: 7d3c452c-fd22-4dfb-86ba-bf4f9d8d59e5\n      version: -1\n      name: FireEye HX Query - Registry Key\n      description: Searches endpoints to check all hosts or a subset of hosts for a specific file or indicator.\n      script: FireEyeHX v2|||fireeye-hx-search\n      type: regular\n      iscommand: true\n      brand: FireEyeHX v2\n    nexttasks:\n      '#none#':\n      - \"164\"\n    scriptarguments:\n      exhaustive:\n        complex:\n          root: inputs.exhaustive\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.exhaustive\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n            - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.exhaustive\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n      fieldSearchName:\n        simple: Registry Key Value Name\n      fieldSearchOperator:\n        simple: equals\n      fieldSearchValue:\n        complex:\n          root: inputs.RegistryKey\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n      hostSetName:\n        complex:\n          root: inputs.hostSetName\n      interval_in_seconds:\n        complex:\n          root: inputs.interval_in_seconds\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.interval_in_seconds\n                iscontext: true\n      limit:\n        complex:\n          root: inputs.limit\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.limit\n                iscontext: true\n      polling:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 590,\n          \"y\": 265\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"164\":\n    id: \"164\"\n    taskid: abc68d68-5960-43eb-84ce-78a283ff0e28\n    type: regular\n    task:\n      id: abc68d68-5960-43eb-84ce-78a283ff0e28\n      version: -1\n      name: Save Matching Results - Registry Key\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"165\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FireEyeHX.HuntingResults\n      value:\n        complex:\n          root: FireEyeHX.Search.results\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: FireEyeHX.Search.results.id\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 590,\n          \"y\": 425\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"165\":\n    id: \"165\"\n    taskid: bc931338-7d3d-4727-82a5-10a3b95d3830\n    type: title\n    task:\n      id: bc931338-7d3d-4727-82a5-10a3b95d3830\n      version: -1\n      name: Registry Key Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 830,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"157_160_#default#\": 0.74,\n      \"56_118_yes\": 0.74,\n      \"56_31_#default#\": 0.71\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1315,\n        \"width\": 3150,\n        \"x\": 590,\n        \"y\": -340\n      }\n    }\n  }\ninputs:\n- key: Application\n  value: {}\n  required: false\n  description: |-\n    Single or multiple application names or codes to search for within FireEye HX logs.\n    By default, the 'contains' clause is used.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: ProcessName\n  value: {}\n  required: false\n  description: |-\n    A single or multiple process names to search for within FireEye HX logs.\n    By default, the 'contains' clause is used.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: RegistryKey\n  value: {}\n  required: false\n  description: |-\n    A single or multiple registry keys to search for within FireEye HX logs.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: RegistryValue\n  value: {}\n  required: false\n  description: |-\n    A single or multiple registry values to search for within FireEye HX logs.\n    By default, the 'contains' clause is used.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: hostSetName\n  value: {}\n  required: true\n  description: The name of host set to be searched.\n  playbookInputQuery:\n- key: exhaustive\n  value: {}\n  required: false\n  description: |-\n    Whether a search is exhaustive or quick.\n    Possible values are: yes, no. Default is yes.\n  playbookInputQuery:\n- key: interval_in_seconds\n  value: {}\n  required: false\n  description: \"The interval in seconds between each poll. Default is 60.\\t\"\n  playbookInputQuery:\n- key: limit\n  value: {}\n  required: false\n  description: Limits the results count (once the limit is reached, the search is stopped).\n  playbookInputQuery:\noutputs:\n- contextPath: FireEyeHX.HuntingResults\n  description: Email message objects and fields that were retrieved from FireEye HX.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.Timestamp - Event\n  description: The timestamp of the event.\n  type: number\n- contextPath: FireEyeHX.HuntingResults.Timestamp - Accessed\n  description: The last accessed time.\n  type: number\n- contextPath: FireEyeHX.HuntingResults.Timestamp - Modified\n  description: The time when the entry was last modified.\n  type: number\n- contextPath: FireEyeHX.HuntingResults.File Name\n  description: The name of the file.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.File Full Path\n  description: The full path of the file.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.DNS Hostname\n  description: The name of the DNS host.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.URL\n  description: The event URL.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.Username\n  description: The event username.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.File MD5 Hash\n  description: The MD5 hash of the file.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.Port\n  description: The Port.\n  type: number\n- contextPath: FireEyeHX.HuntingResults.Process ID\n  description: The ID of the process.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.Local IP Address\n  description: The local IP Address.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.Local Port\n  description: The local Port.\n  type: number\n- contextPath: FireEyeHX.HuntingResults.Remote Port\n  description: The remote port.\n  type: number\n- contextPath: FireEyeHX.HuntingResults.IP Address\n  description: The IP address.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.Process Name\n  description: The process name.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.type\n  description: The type of the event.\n  type: string\n- contextPath: FireEyeHX.HuntingResults.id\n  description: The ID of the result.\n  type: string\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\n",
  "product": "Cortex XSOAR",
  "pack": "FireEyeHX",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "snkWPfL5mzxDSoa9DSLQu08uuj2hVRU8dM2NPe+dMTsLzBa8zdPXvKeo17yz2CE9kWc9PdoWxjtZ/q+8T5GNvdf2aj0NIy49E6N7vNbdZr0p8Hy9LpPlvKekMTnSRlM8DsOPPDG3rr2S7KU82eUwvJTq+rw9lfk7qJaGPM7T6Dzg4pO60e5PO9SspDvm4JS8LVgVvPDc3zpLAYq8LX7EvJFlkL1DVvS8VfWmvG41OT0qVkG9B0CSvL0bl7z2Gog7sLqEve59jTzQebg9O/c5vZtNKDz3aBE9vzBNO+O4irzzsly8IUxlvYOlT7zzwwy8vf5UvCPmDL3awK08zeKfuwWICT2vMs+7IK+2vOFAsLt7BDO9QQV2PeEaIb2e/Y896830vDOgtby0Ll+8oK/DPKhKSTx7qp275w1oPTFeCLxcEY68AKiSPFirIz0uO988ESJxOm/Sb7yu6KM8IrqbvWO92bsiIJQ8booDPgxhwrtHyxO8eFbiPc/Sij3RBf683QRkvXa8xb3/IkE9lY+mPOqtE73Eiuw7S9ogPGBcabzGomg7X87APFbu2rvbMr69gxvKvdK1iTxeXhk9UXiGPKv7iDs2UKq8PqRMvW+LiDtKf4y84C5jPDIKE7wVl5696Y8lPCa3Vj392XE8YsUTPYObHD1VjEU95fH5PPvYQbsXXlc8OOQbu3UcLbwbaky9brK0PEF3ybzGade8qi8EvA1OPj0wc/K8zEMIvHQ7WTwbspg7pLIAvR3Yo72RCgy7PHNuPQrBe7vHnIs9zdF6PWXwIzzg2hm9RAsDvIA1B7v8KRy9xCyrvKs+HL1rHsm7WJOpu49BDb3JdFU9oEQAvby7Ib0ZdjW9UV44vX+hGD11AiW8CP+1u0TPULyyq9A7j2pOvUW9ezx8xJK8S6vHvN5G/70wGz29geauvFXZOD30Vck8ECy0uyXhnLyMs3Y86M2ePasosruGnaU8fMvDvUlRyzzNGIQ8BQ9HvE6xD7yRdVU9StruPOxbljtnuIM6aJ1YPFqmSD0nrxO9H7s+vM8dxDy2v4y8recxvYQDSDz5ZLI9DVbJu7J6jLtU8pu8sSlpvZhFuLyeFaa8I9QDvX6wxrq1aVe9a+E+PDfUfTwuEaO8ISeQvCFZa7yKnPK7VaCnPH7gRzwnXPs9arTGvDXDDj0lSce8SoNkvb1RrTxXQQw7PUSDPWHqGr2WjBE9vWj3uxePSL0hpeY7nc3PO63f+zscLa88GGGDvCbMKTzv0I89BH8GvX/J8Ly78Mg8JExovFNiED05r1A9NTihO8Fc2T1RktA7rUwQu6ouqjyB4pG8/Ye7vMlcFr0ZAZa8UZCUuzssxzw3hMS8/3+2OjY6qjxaGTe9EuIfPQw8tLyXpnE9biCEvID5NLznEO+8KbpZvLsWaL3ahS69vQlWvfgjlrub0KG8SYQUPXMn8bwBhNO8m9cLvB+pib0y9Wg7XAdZvZIJjz1Tnru9SMFsvQ9kxryJLEC92BYOPYUvqry4TZ67BeJuvbGygzumbq+8H7TTvF7Ypbwcs249RWZLPeMz5bzM3qi9qTOqPD+cwzyFwA49wdWHPQ6cIb2FmoW7+9bdPLN7Cj3DeDK95lFQPDJYj7zjl6M8a8ypPBhXErwsZ+K7GfUWvGq51TuedWA8Zt1ZvRKnELu7QuA8+/1WvN+f971lT8a8MxW9vC5jk7yv0sk7eu0dPXwGSr3L1xE9j/xPvKt6crzMaJg7shZXvUzHrbsW+jG9kVSKPKqu+zz1bSw7VkqjvND+szzg0Bs986apvZ549jxBdKA9VccFvDrp3zwGDTg8rXhLPLgFoDzU772876DNvEG3MDxHs0O8/h10Pa0JtrmFpow8uZITPUpmU7rEO7a8spubOwF7iLxvyWQ8nCchvelDyLwzahs8xqEkPGKc2jsJADo9RVotPSRnK7z2Yy4825y7PJcb6zx5I0k7GjiLvEcLirwVqwC8rQ0CPIm9vrtrbVg8wi5pvXo4xbwUWZS8ht6yPHmlNL0WPbe8+q0/vK6gBr3hXaK7ctn2PBW+xz0xN2i9Jvg+vIShkTt4nH+831zEvbd8qj1Zp9w8144TPZoBOr2x45C7LqTsO3xUtj0157Q8v+8ivXuVvTx7jIK8TOClPeH6xrzVfee7EisSPdf/UD2ORgc9ErpBvV8BTLvG7f878wVXPIRZszzX48U8sarHvPyQkzyfwio9STHKPAk6irx1MJg9zZwPPO5swLxpzwU9DzeMvEIw0zyDa3q9E8Q8vQ+SDjmbmyo9bzSwPGKlF730Tfk8XoTLu7oJjD2QfHC83kmYPLsPLT0AhwG9XeWOuw1w/zxKuHE8DnJDPElUmT1POHU9RL3pvGe5LrpP6iO8r9PLPMN7RbsQ4wG9ikQdvJIdujtmU6K8upFjvXYx2r3jUTY7tTOMO+HvzjlwP6u8elhIvPrsWL2r9K48eBS7PegKeTx0LTU8RsS+vE71VTwpskc9teWsPDxtEz3O3CI7LoGNPDatGbzdPDQ9WToYvfU9tbtX4Rk9TeItvKQsnrzLwHK8U5GCvcyTKzv7o7k7CfS6PCEDODyB4Ka85e8xvQeyUTzOucQ5hVrJvF6QsLxexlG8QsIDvU5SXb2HFMO8VInmvQGhkTy7NSG8eJIhu4n7Qj0ki5k9Kcc2PZNszzvvaS28UhgsvW48tDzQ3IO9wvcAPTEQ5Dx4KTo9RdASPSLcRr3dRYg9O+ADvADhtzs+ee67AaOzPA37JLxdidY8drNKPSuIE7wxSIK7XEXbPB8Rn7wdWgy9FCfTvCzEajy0XJK8z0GLvDYLOzyJ4SC74n2LPYfcJru6EoI9lI7oPFDTAD12Jp09O0shPZPKiT3RzQk95BxePPHBTD3Wnl09e14mvZrjvrgKaH49RrOVOUHY1Dy4q9y8cYlUPdmON71T2li8dtlbvVLzq7jbQXQ8VhMBvbIo0DyO/qK8neHIPH07mbkVlQ49kxfGugVyarsVILU82IgWvdpvLby2Hja9WDIlPYUFQ7ull+g7shWJPHE/irtUU1A8QdCvO6aasTvuzPo7fwW+vDzBTjwSzCu8LJENvFQ+Lj2Pzbi6GutLPUEl8rsnpVG90GShvKHxkzzn4bI72FCnvP1AirwXot280O+VvJdrET0JmNq8cr48PJBrW7zpnzu9QulmPQk66bwX/Sw7DQoCOq3mprzNhyg9DsUBuxcRLb2cCG69x6DFuf3DVr2IM0M8Aa5KPIufs7wPZV49oNSXO+yzmrwU0eu8s4GRPFDdCDy4Bl+8j5wmO8EzoTzDxVY9+jAPvN8H37vyTC68n4czPUau7Lzg9FW9RLGnO8VwbT1YDTE8UhXlvM/82jwVMFg9m5edumOw0bx52lu8mSmEPAe5vzyEYMs8xfU2vfZNRD0PXwA9LFunPap8OTw99dm9FrTlusbHlrwU+YK953p+vEhiIz0Fm4Q827qpPZ+QJL0kn3k8s9JmvSODoTz6IjC9IOeoPELGPr12Rmm8+UHfu7PZOLzcDZS9xW/0OtP3rrzdEMo8YE3NvOTVlzvAndc8MTjCO50p07xbjOg6BPFiPAO/hD1RKus7z8uWPNPxrbxOUXI9JMXIvH43tLziCl872hsRvdlT8zxnNpa88vTcPHwpSTxFAIE87nOEvKQOP7pgYFk8741aPHafPzzvU8U7XStzPLLIxruV4kE8wRI+vRd85jjkYJa8b428vAWafLz26M48HyByvAZeqLyboLg7/rYpuks1CTs80S09114Dvs5/67yxMg69gQr1PFB9FLxgVL6896pevNB2Cj3ov4Y8imuYPXEc7DwvPQ29JL4PPQJLwLwnXHU916NFPezQ0TzzOl26ROJdvJu/kjs2UCG9FxgqvSMaQj2Gpi49fAmovLX+z7trfqY7ulbRPBLBj7v28RG9PIG+vFrfqjvwgtE7kHkMvWBg4bzz1Yi7Diz1vBWSVj18z2O8MC0iPTUM3Tyhz2u9aAd4vfegpbyxtB27oz3+PPcckbs1GQ28pg8XPGR6nbw17ks9jiCZvL2JtLwN9MU8nCg0vVuW6rwJf0S9u/TXvA83RT0bx508"
}
