bundles/spark/kbs/soar-playbooks/entries/pb-googlethreatintelligence-file-private-scanning-google-threat-intelligence.json
{
  "id": "pb-googlethreatintelligence-file-private-scanning-google-threat-intelligence",
  "title": "File Private Scanning - Google Threat Intelligence",
  "category": "playbook",
  "content": "This playbook submits a file for private scanning, retrieves and evaluates the analysis verdict, and automatically creates a ServiceNow ticket using the \"ServiceNow v2\" integration when the file is determined to be malicious.\n\nCortex XSOAR/XSIAM SOAR playbook from the Google pack (GoogleThreatIntelligence, partner-supported).\n\nUse cases: Threat Intelligence Management, Phishing, Hunting.\n\nInputs — file_id: Fetch the Entry ID of the last submitted file from the incident..\n\nIntegrations/scripts used: Print, gti-private-file-scan-and-analysis-get, servicenow-update-ticket.",
  "raw_yaml": "id: File Private Scanning - Google Threat Intelligence\nversion: -1\nname: File Private Scanning - Google Threat Intelligence\ndescription: This playbook submits a file for private scanning, retrieves and evaluates the analysis verdict, and automatically creates a ServiceNow ticket using the \"ServiceNow v2\" integration when the file is determined to be malicious.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 4fab4ad9-6a06-40a6-85b6-76365239b523\n    type: start\n    task:\n      id: 4fab4ad9-6a06-40a6-85b6-76365239b523\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 70\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 4123ff8b-5646-46aa-8b16-af124e05c46b\n    type: condition\n    task:\n      id: 4123ff8b-5646-46aa-8b16-af124e05c46b\n      version: -1\n      name: Is Google Threat Intelligence integration enabled?\n      description: Check Google Threat Intelligence integration is enable or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    defaultassigneecomplex: {}\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: GoogleThreatIntelligence\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 210\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 4d66a7e3-2a60-466a-869f-8b0329ee07a2\n    type: regular\n    task:\n      id: 4d66a7e3-2a60-466a-869f-8b0329ee07a2\n      version: -1\n      name: Clear Previous input\n      description: \"Delete field from context.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      key:\n        simple: ServiceNow.Ticket,GoogleThreatIntelligence.Analysis,GoogleThreatIntelligence.Submission\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 410\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 20961d81-bc53-460d-802c-af3825e550bb\n    type: condition\n    task:\n      id: 20961d81-bc53-460d-802c-af3825e550bb\n      version: -1\n      name: Check whether EntryID available in playbook input\n      description: Check whether EntryID available in playbook input or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.file_id\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 580\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 38a4862e-8314-4a46-856b-cc989eecc667\n    type: regular\n    task:\n      id: 38a4862e-8314-4a46-856b-cc989eecc667\n      version: -1\n      name: Private file scan and analysis using GTI\n      description: Scan and get the analysis of a private file submitted to GoogleThreatIntelligence.\n      script: '|||gti-private-file-scan-and-analysis-get'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      entryID:\n        simple: ${inputs.file_id}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: a8f34e38-1ba1-44c6-802b-39aab2d8675f\n    type: condition\n    task:\n      id: a8f34e38-1ba1-44c6-802b-39aab2d8675f\n      version: -1\n      name: Check Private file Analysis data meet high risk criteria?\n      description: Check whether the private file analysis data meets the high-risk criteria. If the analysis verdict is Malicious, create a ServiceNow ticket for the file.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"6\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: GoogleThreatIntelligence.Analysis.data.attributes\n                filters:\n                - - operator: isNotEmpty\n                    left:\n                      value:\n                        simple: GoogleThreatIntelligence.Analysis.data.attributes.threat_verdict\n                      iscontext: true\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: GoogleThreatIntelligence.Analysis.data.attributes.threat_verdict\n                      iscontext: true\n                    right:\n                      value:\n                        simple: MALICIOUS\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: e7af618f-b9b3-4cc8-8984-eb5ff99c1623\n    type: condition\n    task:\n      id: e7af618f-b9b3-4cc8-8984-eb5ff99c1623\n      version: -1\n      name: Is ServiceNow v2 integration enabled?\n      description: Check ServiceNow v2 integration enabled or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: containsGeneral\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: ServiceNow v2\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 1150\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 6cb1dfc0-8614-44da-8048-a112b81a7296\n    type: playbook\n    task:\n      id: 6cb1dfc0-8614-44da-8048-a112b81a7296\n      version: -1\n      name: Create ServiceNow Ticket\n      description: \"Create ServiceNow Ticket allows you to open new tickets as a task from a parent playbook.\\nWhen creating the ticket, you can decide to update based on on the ticket's state, which will wait for the ticket to resolve or close with StatePolling. \\nAlternatively, you can select to mirror the ServiceNow ticket and incident fields. To apply either of these options, set the SyncTicket value in the playbook inputs to one of the following options: \\n1. StatePolling\\n2. Mirror\\n3. Leave Blank to use none.\"\n      playbookName: Create ServiceNow Ticket\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      Comment:\n        simple: |-\n          ServiceNow Incident creation from XSOAR automation:\n\n          Incident Summary:\n          XSOAR incident ID: ${incident.id}\n          XSOAR Entry ID: ${inputs.file_id}\n          File Hash SHA-256 : ${GoogleThreatIntelligence.Analysis.data.attributes.sha256}\n      Impact:\n        simple: \"1\"\n      MirrorCommentTags:\n        simple: comments,work_notes,ForServiceNow\n      MirrorDirection:\n        simple: Both\n      'Severity ':\n        simple: \"1\"\n      ShortDescription:\n        simple: Malicious File SHA-256:${GoogleThreatIntelligence.Analysis.data.attributes.sha256}\n      SyncTicket:\n        simple: Blank\n      Urgency:\n        simple: \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 1350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: e43cc079-5915-457b-8e8f-8e8f07257990\n    type: regular\n    task:\n      id: e43cc079-5915-457b-8e8f-8e8f07257990\n      version: -1\n      name: Update description of ServiceNow ticket\n      description: Updates the specified ticket.\n      script: '|||servicenow-update-ticket'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      description:\n        simple: |-\n          ************************************************************\n           File Analysis Ticket Creation from XSOAR Platform\n          ************************************************************\n          The following fields were extracted from the Private file analysis data:\n\n          XSOAR Incident ID: ${incident.id}\n\n          Analysis ID:  ${GoogleThreatIntelligence.Analysis.id}\n\n          Severity: ${GoogleThreatIntelligence.Analysis.data.attributes.threat_severity_level}\n\n          Verdict: ${GoogleThreatIntelligence.Analysis.data.attributes.threat_verdict}\n\n          File SHA256: ${GoogleThreatIntelligence.Analysis.data.attributes.sha256}\n      id:\n        complex:\n          root: ServiceNow.Ticket\n          accessor: ID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 1530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 8a6fc2c0-9cf8-4671-8fc1-ff0d0076f9d2\n    type: title\n    task:\n      id: 8a6fc2c0-9cf8-4671-8fc1-ff0d0076f9d2\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 170,\n          \"y\": 1870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 465c7b6f-d417-44b2-8a72-9e889223e684\n    type: regular\n    task:\n      id: 465c7b6f-d417-44b2-8a72-9e889223e684\n      version: -1\n      name: War room entry for Created Ticket\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      value:\n        simple: |-\n          ### **File** Analysis ticket Created In **ServiceNow** Platform:\n\n          - **ServiceNow System ID**: ${ServiceNow.Ticket.ID}\n          - **ServiceNow Ticket Numer**: ${ServiceNow.Ticket.Number}\n          - **XSOAR incident ID**: ${incident.id}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 530,\n          \"y\": 1690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_9_#default#\": 0.16,\n      \"3_9_#default#\": 0.22,\n      \"5_9_#default#\": 0.27,\n      \"6_9_#default#\": 0.33\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1865,\n        \"width\": 740,\n        \"x\": 170,\n        \"y\": 70\n      }\n    }\n  }\ninputs:\n- key: file_id\n  value:\n    simple: '${.=(val.File instanceof Array ? val.File[val.File.length-1].EntryID : val.File.EntryID)}'\n  required: false\n  description: Fetch the Entry ID of the last submitted file from the incident.\n  playbookInputQuery:\noutputs: []\ntests:\n- GoogleThreatIntelligence-test\nfromversion: 6.10.0\n",
  "product": "Google",
  "pack": "GoogleThreatIntelligence",
  "support_tier": "partner",
  "use_cases": [
    "Threat Intelligence Management",
    "Phishing",
    "Hunting"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "phishing",
    "playbook",
    "product:google",
    "soar",
    "support:partner",
    "threat-hunting",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "bpJBPWPlSzzNIke9o0QSvDY/sz1kVlo9wMg8PWqART0I/ms8DBCgPA9zirmzCGc93YwvPX2ID7sf7xC8ek+GvXJ2KDyGRm48JUcPvI/ysLxhONO8kf8WvfsVwLx3S2A9DWzxvCK6tr1F6dI62/HWO8IVuDuNmzo8KDrJunsoej0BrpY8DEYSPWP7Ir3Vjoi8Yz9+vLqw57zEMs68wXKRPLJqurwsBFa97uEIvTznZj2QikS8XME9ve4bSr0lUSU9wZVPvR46mjwywL09+bcCOzaMJr1sJkk8p5HLOyPeTLxDKGE8dDufvZm/PjyyKTS9AdwzvJo4ybw52J88nmNmPQ9I1D2vML886Q9CPKxao7tw54+9RHh9PKrbKr0gxXM8PYE+vbxSnTwbNJk8EUVAvB9+p7zzTvK8lW8APWX9IT0X93A66pvcO6gJez2VoJe8k4WvvRWzfLxb4vC8NcyBvZ1ShbwskJ48UlGmPf0TCb0eFl+8UH28Pb5MwT2y/Zq8YtihvZfG471LgnI89iv8PJzVgzzW/py7Sz+VvGCdhrvjlSw95cxRPTuVIrxwacS8/nJ5vRL8sDv+EUu7pUp0u5tei7ywZFo959Uyvb2MLj1AHU294tG7PPnVqLvoQZC9/4ZEPZYUeT1hwHy8dZsHPRfUqD2UV4A9NDJUvMNmFbxqwk+8xJCxvFsyiLpnDkK9FCINO9KgCL3KzXQ8S0gAvTZeljzBwGu8DEy0PA3G0jyFz5Y8hntLvOuj872vTpQ88wwJPaYzo7sbmL08q9tkPaBqU7wlYyu9YOmEu4CzhbuV/kC9Uq5aPHv0Sr030Ry8JFJiPIgBH73QL2I89olIvSrsDDyrPda8zHK2O/f2Iz0V1Z28vkN1u28rxby6Ixo82rZFvVxLPDxNsmc5C7YOu/xvMb2lDxO9TFJgOdzutDv6lnM8/48BvQO5lLr/NKg7FUuePX2VjDnOBEu86XZgvf58kTzb5r08ISrmvJvwb7uhF5U7+xQpPUm2qbtDpM08FSNzPE2YYT3m9IO9LcYLvUuyuTvSyLW8I25jvdbbvrwl6aY9fxIcPXHaEL2KYIS9zW/bvGfTdTsFbgS8GEeJvVK2rjm5kwu9flDVvGlTCTxAHgk63vLyvBXvWDw6dLC8RmuWPBt9hj02QrU97fq/PIlNEj2tp0c8JCKlu61S0Lxnc8y8Nf4rPduZIb1YWjg9/IAHvZIXHr22QJM6taoZvJ8rvbzjG0o87U31vNZ/3TzcgJc9FpA4vVxf0rm9RQ88PXrlvIAzZT2gDQY9Tv6uPIpTYT1zNfK8gaH9PGQuKrzqYoI73yiEvbdvkjzqh448ZpEzPMvj7rwMPRO9qEw3u8g1Bjotj2a8D9+Wu8C8o7wrmkk94gMcveYoADxzDNC7p2iqugScDL0a1aG8K+oTvaswtrzsvWA7jb+9PO7B6byp15e8Y/ASvVpxfL3vm7e8soEuvTqKUT2cxHC9bmFSvdrtp7vICNq7wOipPHI1oLy4xyi9RiChu7jN+rwpH++8yZc9umm7fTyq3lQ9o2J8O1zV7bxYtZG93lG4PVH2HT0W/gU8ZBZgPTgGGb1QM9K83RBqPRtpWD1Tn4a8hJ41PU7HDL1WMY888gRhOleHWTwFg8Q7QVvAOxhKOjwFLF+7CMgWvXYDpLyqSCi8jNlVvM28tL10L0m9vjBRvVbqhDxsM1k7CIyLO524Mbz0eT498TmWvOw0fjw1D8e6YhU0vQ+a/Tru2oC9VatBOaXBErt2lGU8HLzIvGMgqLweJWQ9viy4vNtmWjyEXjQ9CxiJu5dxx7vMwRG9HDu1PPwnIzxC+2W8HTjZvDn9wTtAmsS8P4h0PYykFzzXsZw8XT7mPB8F3LzOxh898eyAPdTClrzALgM9Z1C3vEsokbs2+Q29MiKTPF9rhT3qOxo7orqMPC59ibz23g+9siXnPGRErzxTYjk9nFNTu5g6u7us4Cq8xkvTPKqrELzkEEg9fFiNvZxNvLxmWo+7IPHpPPgoQr1pfgs9Ic0OvXvozjufIFs8DBlWPNOhhz390IG8IPsHPdPwpTzN99u8MiyPvSb0sT2LFp28rlJMPdozdbu8bPC8+TllvddCij12OVE9GiE/vf38DjwPUt68k6k+PZcEbr1P+PE8KqNDPFW2Nj0x76Y8N7hWvbYUo7xN1IY8c9yPu0v/NTvM8lo9Q7scPAKx2jxNngk8SMirPIBj4jz69Ig9We5EvG5+O7sHhdS8kqdAPUoxBLkEI829TCgpvcc4mTtGSrI8cA1RvJAwmrySs309oy7svKz0l7z5ZxY9CBZyuw1EkzzClmS9ZT03PCc7IDwyacC80EESPMTjmz2sMG89YXgOvZW3brxxtw48TrI2PD/hBz1srlQ8N1kxvXtXvDxWNtG88qX/vHJx4L3q/oA9inpCuhjpRjpCZuW84QJ0u6a8Nr0feqg8EAGjPYEz5TxUvSa81H9svWNAn7rkpWo9bmwFPLxNQDpqbSS8trYmvIZ92jynk8M7ZmZkvbPEvTwkxCa6UAb9OlDvfLwXYig8tlWHvcWnJDwMdtc7A6stPcSvCT2IWIS9f6TpvJ6IIzzOysC8BT0fvbEXK73Yp/u8538kvXbWAb0VY906WsGZvcCTHj3yPtC8CE1+vD3mXD00EFk9uXArPRVpFTobuFW8jy4OvaIcnjxSMka9kDc4OyrLObtmo4s868Z3PTf5r7wBn9A8K5mvPAP9Ir3Ok608rMSBPE0RoLxpG/o8pYJxPZnm2LyMGjc8G1CZPKfNlzq7tyq8mbaTvMTHBjx+QJA6w5MEva5SD72V4dM8W4SGPdLePjwsZq48DX6rPC9U8jzSAzc9bqEYPAeyPz3u5pY8d2d6PNh5RT2HeAI9aLewvKVCCD1XpvM8nduPvBqGgztjPsk6pB0oPbOrnryBnNW8no2sPLC4yDt1M528IppVvQUMjTz3Po685brWvPu2iLxTOCo9XTGCvBrMWr3O3rm8E27gvNUqWbzTmAO9TpJxPCIVo7yWly48FJMlPLHuKTsVm767cMZ8OyhR7by6HAU8VaERvQF4orwACym8A/epPA1nrjz781e9VUuYPTKGYjxT9RS921WbvBLmFbvKucK8zR66OzSKjjzi0Jy85EeBvSXFUj27O468mkheuxllprwoyUW9dK0hPXEHAz1UHI+8V60HPCAMbL0PBdk908KePGTWuLy2kWW9e1tqvfRzk71PQiA7zW1sOyELXLsz6ag8O0Ztvbb2qr1gvVa9QReVPOV5A72WXTm8oyuOvMgzFDyQvwM9ZpXqO9YMpDxr5yS9U3iYPIQDmbuH2W+9JF0ju+3FFz1jHlI7uRcivBRu8Dz/GyM9y8PsvAYNB71rXv28qRpTPDMqhjwJ1ZA85EDBvNEvgDuQztm8cK3ZPbYQ/rl41JC93c9AvYCIKD2q72e9fFnrvMS1JT2xKB08d3hIPb68ab2AErM80WBrvRB4zLxg5AG8WuiTvJy5xLzut3C8chlEPbQ3dLzvX4i9Cc9fvNlOqL1mFj67FFFQvbSEmrwVx6i73+M5PRxsgro1+gU8lPpiulmnkD08eRA8UASOO1AeXry6UJo9xn5QvJrkvTxPRdC8ib+IPOfmIjy8/NW88t9OPOVqgTygGwk945YfvTrNEL1ixrq6EATXPBFaAD3S7GA8WizdO2LkU7us+Bw8WSYKvWzVCrzZA6O8abddPLmJJz0mb+E8oWFBvebZq7yL9l49ieHpPO/eVDzHWEU9PW8AviApfbxvfl69HFsYPakc1Tz3jQG8QW7Muze4Nr0l6NC7k2UvPDQDCz1l9YS9IQbbPNCUyLyqYVM9rvERPemMxLz5Fie7ECPNu51wcTvblE+9+FEEvHezBT1E6Xc81OgtvZ7Czjx6JI08qVBlvECYHL3e9WU7OBauvH3pW73OtKW8HNdKvKkLPr3HpWu8GyPlvLH/pz2gbI864V3xO2KvBzydmYu9WICcvZ9F37wfMYI8W1zSPFzXjrxOhJS9xkIjvV1DF7vHdlM94DHMPBRAjrzboIY9pqUtvBWrDTyWTga9LCSnvPQKED2eucE8"
}
