bundles/spark/kbs/soar-playbooks/entries/pb-googlethreatintelligence-cve-ticket-creation-google-threat-intelligence.json
{
  "id": "pb-googlethreatintelligence-cve-ticket-creation-google-threat-intelligence",
  "title": "CVE Ticket Creation - Google Threat Intelligence",
  "category": "playbook",
  "content": "This playbook creates a ServiceNow ticket using the \"ServiceNow v2\" integration based on enriched CVE data, leveraging the CVE exploitation state, risk rating, and CVSS score.\n\nCortex XSOAR/XSIAM SOAR playbook from the Google pack (GoogleThreatIntelligence, partner-supported).\n\nUse cases: Threat Intelligence Management, Phishing, Hunting.\n\nInputs — cve_data: Enriched CVE information from the main playbook.; onCall: Set to true to assign only the user that is currently on shift. Default is False..\n\nIntegrations/scripts used: AssignAnalystToIncident, Set, SetAndHandleEmpty, servicenow-update-ticket.",
  "raw_yaml": "id: CVE Ticket Creation - Google Threat Intelligence\nversion: -1\nname: CVE Ticket Creation - Google Threat Intelligence\ndescription: This playbook creates a ServiceNow ticket using the \"ServiceNow v2\" integration based on enriched CVE data, leveraging the CVE exploitation state, risk rating, and CVSS score.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 1adccaea-577c-4772-8f75-8acc197c36f3\n    type: start\n    task:\n      id: 1adccaea-577c-4772-8f75-8acc197c36f3\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"28\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 670,\n          \"y\": -330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: f0770579-f2c4-4822-8ece-80e6bc274501\n    type: regular\n    task:\n      id: f0770579-f2c4-4822-8ece-80e6bc274501\n      version: -1\n      name: Extract risk rating from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      key:\n        simple: cve_risk_rating\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes\n          accessor: risk_rating}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -90,\n          \"y\": 60\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: f6838e47-cf18-4477-80e9-bedcb6d687b8\n    type: regular\n    task:\n      id: f6838e47-cf18-4477-80e9-bedcb6d687b8\n      version: -1\n      name: Extract Exploitation State from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      key:\n        simple: cve_exploitation_state\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes\n          accessor: exploitation_state}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 370,\n          \"y\": 60\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 64b077ac-4541-46e2-88b2-930162a1ca22\n    type: regular\n    task:\n      id: 64b077ac-4541-46e2-88b2-930162a1ca22\n      version: -1\n      name: Extract CVSS 4.0 Score from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"19\"\n    scriptarguments:\n      force:\n        simple: \"true\"\n      key:\n        simple: cve_cvss_4_x_score\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes.cvss\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${inputs.cve_data.attributes.cvss}\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${inputs.cve_data.attributes.cvss.cvssv4_x}\n                iscontext: true\n          accessor: cvssv4_x.score}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: \"0\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 840,\n          \"y\": 60\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 3caab645-39ab-48fb-86d6-c7ce23dcf3f2\n    type: condition\n    task:\n      id: 3caab645-39ab-48fb-86d6-c7ce23dcf3f2\n      version: -1\n      name: Validate conditions for creating a ServiceNow ticket.\n      description: |-\n        This task determines whether to create a ServiceNow ticket based on the enriched CVE information.\n\n        A ServiceNow ticket will be created when any of the following conditions are met:\n\n        - Exploitation State is Confirmed\n        - Risk Rating is High or Critical\n        - CVSS Score is ≥ 7\n\n         If the CVSS Score is between 4 and 7 (4 ≤ CVSS < 7), the incident will be assigned to an analyst instead of creating a ticket.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"17\"\n      4<= CVSS score <7:\n      - \"10\"\n      CVSS score >=7:\n      - \"9\"\n      Exploitation state Confirmed:\n      - \"8\"\n      Risk Rating HIGH or CRITICAL:\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: Risk Rating HIGH or CRITICAL\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: ${cve_risk_rating}\n                filters:\n                - - operator: isNotEmpty\n                    left:\n                      value:\n                        simple: ${cve_risk_rating}\n                      iscontext: true\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: ${cve_risk_rating}\n                      iscontext: true\n                    right:\n                      value:\n                        simple: CRITICAL\n                  - operator: isEqualString\n                    left:\n                      value:\n                        simple: ${cve_risk_rating}\n                      iscontext: true\n                    right:\n                      value:\n                        simple: HIGH\n            iscontext: true\n          right:\n            value: {}\n    - label: Exploitation state Confirmed\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: ${cve_exploitation_state}\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: ${cve_exploitation_state}\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Confirmed\n            iscontext: true\n    - label: CVSS score >=7\n      condition:\n      - - operator: isNotEqualNumber\n          left:\n            value:\n              complex:\n                root: ${cve_cvss_score}\n                filters:\n                - - operator: greaterThanOrEqual\n                    left:\n                      value:\n                        simple: ${cve_cvss_score}\n                      iscontext: true\n                    right:\n                      value:\n                        simple: \"7\"\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n    - label: 4<= CVSS score <7\n      condition:\n      - - operator: isNotEqualNumber\n          left:\n            value:\n              complex:\n                root: ${cve_cvss_score}\n                filters:\n                - - operator: greaterThanOrEqual\n                    left:\n                      value:\n                        simple: ${cve_cvss_score}\n                      iscontext: true\n                    right:\n                      value:\n                        simple: \"4\"\n                - - operator: lessThan\n                    left:\n                      value:\n                        simple: ${cve_cvss_score}\n                      iscontext: true\n                    right:\n                      value:\n                        simple: \"7\"\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -100,\n          \"y\": 490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 5055f82c-a164-4e84-8a97-46b185feeda0\n    type: title\n    task:\n      id: 5055f82c-a164-4e84-8a97-46b185feeda0\n      version: -1\n      name: Risk Rating\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"29\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -540,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 5ec1bdef-f157-4496-81a3-8fd394d14103\n    type: title\n    task:\n      id: 5ec1bdef-f157-4496-81a3-8fd394d14103\n      version: -1\n      name: Exploitation state\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"29\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -110,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 24d7b685-bde4-40a4-8f7c-a2b9384c8400\n    type: title\n    task:\n      id: 24d7b685-bde4-40a4-8f7c-a2b9384c8400\n      version: -1\n      name: CVSS Score High\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"29\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: a75ba396-a70f-467c-82ae-bfd76b322a96\n    type: title\n    task:\n      id: a75ba396-a70f-467c-82ae-bfd76b322a96\n      version: -1\n      name: CVSS Score Less\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"15\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1510,\n          \"y\": 790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: a61aa29a-8531-48ca-83fb-2a9aeed1a5e9\n    type: playbook\n    task:\n      id: a61aa29a-8531-48ca-83fb-2a9aeed1a5e9\n      version: -1\n      name: Create ServiceNow Ticket\n      description: \"Create ServiceNow Ticket allows you to open new tickets as a task from a parent playbook.\\nWhen creating the ticket, you can decide to update based on on the ticket's state, which will wait for the ticket to resolve or close with StatePolling. \\nAlternatively, you can select to mirror the ServiceNow ticket and incident fields. To apply either of these options, set the SyncTicket value in the playbook inputs to one of the following options: \\n1. StatePolling\\n2. Mirror\\n3. Leave Blank to use none.\"\n      playbookName: Create ServiceNow Ticket\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"20\"\n      - \"21\"\n      - \"22\"\n      - \"23\"\n      - \"24\"\n      - \"25\"\n      - \"26\"\n    scriptarguments:\n      Comment:\n        simple: |-\n          ServiceNow Incident creation from XSOAR automation:\n\n          Incident Summary:\n          This incident was created from XSOAR automation during CVE enrichment and requires analyst review.\n          CVE ID: ${inputs.cve_data.id}\n          Risk Rating: ${cve_risk_rating}\n          CVSS Score: ${cve_cvss_score}\n          Exploitation State: ${cve_exploitation_state}\n      FieldPolling:\n        simple: \"false\"\n      Impact:\n        complex:\n          root: ${cve_cvss_score}\n          transformers:\n          - operator: MapRangeValues\n            args:\n              map_from:\n                value:\n                  simple: 7.0-10,4-6.99,0-3.99\n              map_to:\n                value:\n                  simple: 1,2,3\n              sep: {}\n      MirrorCommentTags:\n        simple: comments,work_notes,ForServiceNow\n      MirrorDirection:\n        simple: Both\n      'Severity ':\n        complex:\n          root: ${cve_cvss_score}\n          transformers:\n          - operator: MapRangeValues\n            args:\n              map_from:\n                value:\n                  simple: 7.0-10,4-6.99,0-3.99\n              map_to:\n                value:\n                  simple: 1,2,3\n              sep: {}\n      ShortDescription:\n        simple: ${inputs.cve_data.attributes.name}\n      SyncTicket:\n        simple: Blank\n      TicketType:\n        simple: incident\n      Urgency:\n        complex:\n          root: ${cve_cvss_score}\n          transformers:\n          - operator: MapRangeValues\n            args:\n              map_from:\n                value:\n                  simple: 7.0-10,4-6.99,0-3.99\n              map_to:\n                value:\n                  simple: 1,2,3\n              sep: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 0,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: 239564dc-4d13-4bdc-82b1-b5138941bdba\n    type: regular\n    task:\n      id: 239564dc-4d13-4bdc-82b1-b5138941bdba\n      version: -1\n      name: Assign an analyst to the incident\n      description: |-\n        Assign analyst to incident.\n        By default,  the analyst is picked randomly from the available users, according to the provided roles (if no roles provided, will fetch all users).\n        Otherwise, the analyst will be picked according to the 'assignBy' arguments.\n        machine-learning: DBot will calculated and decide who is the best analyst for the job.\n        top-user: The user that is most commonly owns this type of incident\n        less-busy-user: The less busy analyst will be picked to be the incident owner.\n        online: The analyst is picked randomly from all online analysts, according to the provided roles (if no roles provided, will fetch all users).\n        current: The user that executed the command.\n      scriptName: AssignAnalystToIncident\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"17\"\n    scriptarguments:\n      onCall:\n        complex:\n          root: inputs.onCall\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1510,\n          \"y\": 1030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 3502c294-62ae-4540-8186-089d4c729433\n    type: title\n    task:\n      id: 3502c294-62ae-4540-8186-089d4c729433\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1500,\n          \"y\": 2320\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: c3661621-1c4e-49cb-8626-1c53bb1c8316\n    type: regular\n    task:\n      id: c3661621-1c4e-49cb-8626-1c53bb1c8316\n      version: -1\n      name: Extract CVSS 3.0 base score from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"19\"\n    scriptarguments:\n      force:\n        simple: \"true\"\n      key:\n        simple: cve_cvss_3_x_score\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes.cvss\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${inputs.cve_data.attributes.cvss}\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${inputs.cve_data.attributes.cvss.cvssv3_x}\n                iscontext: true\n          accessor: cvssv3_x.base_score}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: \"0\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1250,\n          \"y\": 60\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: ef1733be-ffe0-458d-87b0-9875811dc482\n    type: regular\n    task:\n      id: ef1733be-ffe0-458d-87b0-9875811dc482\n      version: -1\n      name: Calculate CVSS score\n      description: This task calculates the CVE score based on the CVSS information. It will use the CVSS 4.x score if it is available; otherwise, it will use the CVSS 3.x base score.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      key:\n        simple: cve_cvss_score\n      value:\n        complex:\n          root: ${cve_cvss_4_x_score}\n          filters:\n          - - operator: isNotEqualNumber\n              left:\n                value:\n                  simple: ${cve_cvss_4_x_score}\n                iscontext: true\n              right:\n                value:\n                  simple: \"0\"\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${cve_cvss_4_x_score}\n                iscontext: true\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: ${cve_cvss_3_x_score}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1020,\n          \"y\": 290\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 7289c293-36e8-4822-8a9d-3709d46b5d45\n    type: regular\n    task:\n      id: 7289c293-36e8-4822-8a9d-3709d46b5d45\n      version: -1\n      name: Extract CVE Priority from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_priority\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes\n          accessor: priority}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1220,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: faaa3ba6-caa5-4416-8e3a-c53af4dc40c8\n    type: regular\n    task:\n      id: faaa3ba6-caa5-4416-8e3a-c53af4dc40c8\n      version: -1\n      name: Extract CVE name from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_name\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes\n          accessor: name}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -810,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: abddb3d4-ddad-4839-86a2-7f57e81962e1\n    type: regular\n    task:\n      id: abddb3d4-ddad-4839-86a2-7f57e81962e1\n      version: -1\n      name: Extract Executive Summary from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_executive_summary\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes\n          accessor: executive_summary}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -410,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: 1e9c5b71-c82a-4dd9-83c1-16b62c537521\n    type: regular\n    task:\n      id: 1e9c5b71-c82a-4dd9-83c1-16b62c537521\n      version: -1\n      name: Extract Description from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_description\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes\n          accessor: description}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 0,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: 143f32cb-ef78-470f-815d-a3403733e50c\n    type: regular\n    task:\n      id: 143f32cb-ef78-470f-815d-a3403733e50c\n      version: -1\n      name: 'Extract CVE 3.0 vector from CVE data '\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_3_0_vector\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes.cvss.cvssv3_x\n          accessor: vector}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: a6b545b8-c6ff-4e1e-87d1-2400c928ec8e\n    type: regular\n    task:\n      id: a6b545b8-c6ff-4e1e-87d1-2400c928ec8e\n      version: -1\n      name: Extract CVE link from CVE data\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_link\n      value:\n        complex:\n          root: ${inputs.cve_data.links\n          accessor: self}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 400,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: 90808756-d4a1-4b4d-8df2-e4eaa5a991f8\n    type: regular\n    task:\n      id: 90808756-d4a1-4b4d-8df2-e4eaa5a991f8\n      version: -1\n      name: 'Extract CVE 4.0 vector from CVE data '\n      description: \"Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      key:\n        simple: cve_4_0_vector\n      value:\n        complex:\n          root: ${inputs.cve_data.attributes.cvss.cvssv4_x\n          accessor: vector}\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Not Found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 800,\n          \"y\": 1560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 364e583e-d6fa-4624-8bba-67c09afeb5e4\n    type: regular\n    task:\n      id: 364e583e-d6fa-4624-8bba-67c09afeb5e4\n      version: -1\n      name: Update description of ServiceNow ticket\n      description: Updates the specified ticket.\n      script: '|||servicenow-update-ticket'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"17\"\n    scriptarguments:\n      description:\n        simple: |-\n          ************************************************************\n          CVE Ticket Creation from XSOAR Platform\n          ************************************************************\n\n          The following fields were extracted from the CVE data:\n\n          Name: ${cve_name}\n\n          CVE Link: ${cve_link}\n\n          CVE 3.x Base Score: ${cve_cvss_3_x_score}\n\n          CVE 3.x Vector: ${cve_3_0_vector}\n\n          CVE 4.x Score: ${cve_cvss_4_x_score}\n\n          CVE 4.x Vector: ${cve_4_0_vector}\n\n          CVE ID: ${inputs.cve_data.id}\n\n          Priority: ${cve_priority}\n\n          Risk Rating: ${cve_risk_rating}\n\n          Exploitation State: ${cve_exploitation_state}\n\n          Executive Summary: ${cve_executive_summary}\n\n          Description: ${cve_description}\n      id:\n        complex:\n          root: ${ServiceNow.Ticket\n          accessor: ID}\n          transformers:\n          - operator: LastArrayElement\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 0,\n          \"y\": 1790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: 6cacae1f-9466-4e57-877f-b2b189a98e9a\n    type: regular\n    task:\n      id: 6cacae1f-9466-4e57-877f-b2b189a98e9a\n      version: -1\n      name: Clear Previous inputs\n      description: \"Delete field from context.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n      - \"4\"\n      - \"3\"\n      - \"18\"\n    scriptarguments:\n      key:\n        simple: cve_cvss_3_x_score,cve_cvss_4_x_score,cve_exploitation_state,cve_risk_rating,cve_cvss_score,cve_3_0_vector,cve_4_0_vector,cve_link,cve_description,cve_executive_summary,cve_name,cve_priority\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 670,\n          \"y\": -170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: 6c829eec-5b0f-4add-8e8f-749cdfd822dc\n    type: condition\n    task:\n      id: 6c829eec-5b0f-4add-8e8f-749cdfd822dc\n      version: -1\n      name: Is ServiceNow v2 integration enabled?\n      description: Checks whether ServiceNow v2 integration is enabled or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"17\"\n      \"yes\":\n      - \"14\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: containsGeneral\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: ServiceNow v2\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 10,\n          \"y\": 935\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"29_17_#default#\": 0.19,\n      \"6_10_4\\u003c= CVSS score \\u003c7\": 0.9,\n      \"6_17_#default#\": 0.33,\n      \"6_7_Risk Rating HIGH or CRITICAL\": 0.9,\n      \"6_8_Exploitation state Confirmed\": 0.87,\n      \"6_9_CVSS score \\u003e=7\": 0.89\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2715,\n        \"width\": 3110,\n        \"x\": -1220,\n        \"y\": -330\n      }\n    }\n  }\ninputs:\n- key: cve_data\n  value: {}\n  required: false\n  description: Enriched CVE information from the main playbook.\n  playbookInputQuery:\n- key: onCall\n  value: {}\n  required: false\n  description: Set to true to assign only the user that is currently on shift. Default is False.\n  playbookInputQuery:\noutputs: []\ntests:\n- GoogleThreatIntelligence-test\nfromversion: 6.10.0\n",
  "product": "Google",
  "pack": "GoogleThreatIntelligence",
  "support_tier": "partner",
  "use_cases": [
    "Threat Intelligence Management",
    "Phishing",
    "Hunting"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "phishing",
    "playbook",
    "product:google",
    "soar",
    "support:partner",
    "threat-hunting",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "diKRPQBLGbwfhJm9E/02vEKtlT1oqyQ9JvmEPR0CBD0dlsW6FfOwvJHPJbzk6sc9B9dbPbjg5jyVTNw7apSkvYsdHr3dL+O6mCsQvdNWobxkUkK9e+j2vMcewLzVkmI9VxcrvbFcVb0f6/G8AuafO6BLpbzhEfo7FMWRvCLpRj0V9zU9LaOyPH/g8bzfjOS73PHEvCQBb7nV5z69+U3IuxnYLb3EcP+8CsElvSZHVz18UMQ8SUUYvYcyH71Jbxs9Xd8jvd+M1DyBV4o940XZOxseR72UfpY84dOxvBAv0LyK8uu7SeRFvU7KBjyz6CS9xEOEupzJIb0sjpe8ljItPYtp/D13uKk8wLE+PHYoBzwUuFy9pkOXPKh9D70qpuk77KuCvVL3ODwMScc88GZivclNyLszTMA8RdJtPJbcUD1e8BM8Q5AYvB8KCz3JQeu84EqMvbin1LzKhXe8ESdbvWuWB7279y48G2CTPUWz9bwAlwG93IqaPS2xkT3NeL+8bVaTvQL1xL3tnRA96hIkPXtNkzzwz7k7n5hbvL1yPjxTDxY98fu4PNRlgLt2axa9vyyTvUfFezxE0jI8ABiOurOKHTvP/jE9AvlMvWNugD3klda8UJ/yOxn7GDxOWS+9FzAoPZq8DT2lNzI87DEsPb22qT3oipo9huFzvP0v2Lxplj68KfCUuxJ0HzwuxRu97LZePDlvO73h2hU4d+xKvRaRbj14Sbq8aylCPL8fyDyMjws8OAsPPMwbyr3lDYk88/6FPHREIbuvbS49Mc+CPRZshLxQIEO9OLTyuv7KPzw7ATG95XRdPBpl87wpCOm8rI3/PBrUdb0/sOq5P/5lvYOJiryxYGa7HZOrvDojdzzEBqq7wYkvvBh0Lb2iNcg838xPvWCaojz7iYO8tZtFvEjrNr36TO68aaimvMZMAj0Jjqk7Rli5vGJldLx18ge8C/VzPR++4DyA4g884E6zvdSAcT1eWLQ80EsVvW8lnDwIN1M7q1/QPPI87zvmrS49arWOvHxCZD3eyf68RD3FvIftOT2L4EI8IGdbveum4rx8K7A9inNgPRFfxrxRj7S9OlikvREgDLysGwS9OwpNvUpw9bv0guO7txYOvPOyBj0EsoM86qdRvVw79TpZZEM7GCpKu0N+KT2uMuw9wqftO9tgQDyCs747kq4ZvFerZrsVaxe9oIDFPCce2LxrSgA9NntavZJ7Kb0xlJY8YhUjPcTHt7z4W5G8uZK/u619sjwdKSg9pVzLvOqj87svyBo8Emn9u7g74jwaKag8jxYWPIcCYD0+Prq8YT0NPYAh4bzQhBg9265NvcRT9TzYc9i8gZk4PT/bJb324KO8o3qiuylOILzJ5w+9qfKnul2Jujw/FwA9KAPYOny4Obu0LC29/fdkPF8fnL2FZW+3KHQkvVjr8rwq9mO8ZxcnPSfRFzwrlt285QnHvC5Hdr02oAK96bM/vcuDdT0Dday98gopvZpb4rxu6AG92vYhuvQWqbzuyde8vIgRu2lpTr2X6o45F0XnvC76R7yYWgs9554UPH2SHb11w2694pSGPRL9WD2EwcE8y63MPU4WC73Has48PRpQPfJLaj3qkH68Wx6oPH4ZWL155UA9W7YxPC3Y2TzwPrc8eB1lPHMf/TyRfOe8cGA9vWRh5LzJQnW8hNJgvF2Zpb3aM1i9MDlXu/olAj1pl6k713t4PKrzNLoTTxk9cjwCvXLXBrqm4B+8Y1R3vSQpCb0bXIW88DTjup0vDjvdB808Phu7vMnFL70kMyg9DfZnvXcEGLs2zYY9vc5ZPNZ0kzsOrbK7VUyoPA1vGbx3cBu8zsyJu7D7nDyhF4Q8X1lLPYvrWz123ZI8yDDePCkf8rwgMRA90GpnPbFc5rpRta07QAfbOjWDh7y1Dy69KaWqO6Taij220yG6+NqWPKzXlLzETzu9w1JZPSq/Oz2Ho0I9ZDYQPP9qcLtAqUC80h3auwGfGb2HoGQ9guqbven/cbwoL8k8B14YPLqiCL3obBw6XJbbvM0DpDqfmwk73RbEPDG+lD3A7Ru9fLAXPWFWh7vxV0S9y2R8vXoX2T049K66IUy1PfsWUbywFKG8BFHzvP8VlD2VywA9rQbQvMemObyWG+i8wIvNPOomPL2Hsr886kUoPUTRTj0ydZQ8EigqO/LO07sOEQg9iXaVu+2sbLzRmp48SCqTPOvGtjzM1co7POvhPMVX9TxJNbw8bVyevIPqqTy6Cha8P8YPPR9/e7wdDb29wnKfvOuX/rsICxa8yQTWvGfDh7yJHGM9NcYbvWD3DTzvRCA8nfIVu4yv9zxKJGm9OoxBOx5WOT2/0SC9ezMgvPXKbz0Vkz49vBZfvG//ljxP33G8vSvwPFckED3fsgS8eadHvUWwMjx7R/68bmIUvXEA9b1WjVE9vjN1O94Y7TwUN3K8DLLCO2EpAL3uBpA8WKGmPbCtuzvQlRQ8rmG1vObmDLyjr109eHssvAPoBT38jbo7HPe+vJa9Bj0eLek8uppmvVJlUDwC+Jo8ZWuEO9bHKrw1HKE8/FsnvVYyv7u3Apy7TrXBPOzOIDwt2Ui9AJYivaR2wrvyaMc7YwFBvX2i6rw1NK28wpAQvQPIqbz89eC7J+5QvcPRID07II68zUZnvGBLgD2OL3k9qQ1VPZzzAj3J8Z+8D7tgvFvo/TwJrVe9h7/KOCD2xzs1R5M8k/RhPXN/Qb26DRc9+FESvDNu5rygUPo8ZpXBOxwUtbyRUCc9+pdTPbYRLr3Lgro8eHZOPRG9WTvsPay88vyIuvsOADzICca6dOXwvI+SP70ursK7oStBPc6ipbvdWHM8IVgNPTVklTyUdAg91xEyPHQRHD1bCb085d6qPJfuujzc49Q8kReEO1PNJDwQ5jE9l0EXOyS+VzzrY5q8iFhRPdwZdrvM7Ri8fFqYvOIfwzxHsEg748levZFskTs7h8G8uIRcvHmCvLq7LS495CWPvBlyIb0bZa67K9D5vKaL0bvINYK9oZMvPJtwTTzuZxm7jIOuu9yqiDxsrg89FIWbO3w98Lwjco88/bcwvSbcrjybiRW9A0+nPO4K8jyOxbO8gqQwPfVq0Lsjd5O82arXvCgFZrw2EKY76duqvFg6TzzQueG86JpevY5CLD3RagO99IWBu+pyCb31MA+9iASsPNEoBj2Hq4+8Ad82uwr5Tr2RWes9SJOnu0nqVrwEiRK9b/M0vcAum728tYU7OXdZO349ULzE1z49+dBIvaXfhb1R2XG923PXukbtQr0YlXG7GGhBvQ4RvjuQaQE9HiiHOhJt6ztYKr67ccC8PCu5Pbo7LVC97omvu5fXkj2leFa84tcBOxnO6jyEwz497d/PuzLZe7xxWmW91QN/vNdSMT0dI8o8XyxDvCYQ5zsFHxq9cFRMPTywTrwMw529FgHgvDkumDzhA5q9NtcKvcLIHj1SiRk9Kq+IPb2PV73ZmR89QypWvQH+wry92Sq8GSYWvaIhDb05uAu9q+ZbPciMk7ziq6C9xWpZu81wcL1FqcO8m0iJvT+jTr2DBA88TBv1PPlYtDp8Pjs8GRfSPCikaj37YOo8xJZUvFWsgDtdJHY9YpxkPHvanDnX8BC8/Eemu5vg7TyCEZe8n/oJPFB05Duvkco8hOdmvQX/0ruCpVQ7fGpKPQLUqjxQHCI7bFVJOnOPz7peHhI9t+4kvQwxkDvTX1m9FJJHO6s0OT0VqGU85lwdvfrTq7yd4FA8rhuROsSTKzxytnk9LmulvbdpEjx4GU69ZUYwPT6oPTypC+S71J4cvW4w47wdth49JaaKPCWzTry7qlm9BScKPdREIb3DzEw9ERJdPQlgNzzuPju8pXD3u0evDb0+92O9LBhQPMWSQT1R0Gs84ubRvBqVsTxz8bo8EtYBu8PqR72e6mK7cL1avLPwEb34D4K8xUMsvH3zHr0OmYq8WE8KvSqfoT36lIY8CA/fOsaMmjyYUAS9SFqlvXmWQrxh+Bg9MQrRPI/c+7xpiEG9B6dXvGEF2LxfcgE9rjIOPbebZbpk6Z49j4dHvQP8lLu8gSG8xVJ4vFxbOz2If7s7"
}
