bundles/spark/kbs/soar-playbooks/entries/pb-googlevault-gvault-search-groups.json
{
  "id": "pb-googlevault-gvault-search-groups",
  "title": "Google Vault - Search Groups",
  "category": "playbook",
  "content": "This is a playbook for performing Google Vault search in Groups and display the results.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (GoogleVault, xsoar-supported).\n\nInputs — matterID: matterID; exportName: Export Name; dataScope: Choice of Search scope; groups: Enter one or more Groups separated by commas. You can search up to 50 Groups.; timeFrame: Search time frame. E.g: \"1 min ago\",\"2 weeks ago\",\"3 months ago\"; startTime: UTC start time (2018-10-16T12:59:02.584000Z); endTime: UTC end time (2018-10-16T12:59:02.584000Z); terms: Add specific terms for the search (subject:example); exportPST: Export format; exportMBOX: Export format.\n\nOutputs — GoogleVault.Matter.Export.MatterID: Matter ID; GoogleVault.Matter.Export.ExportID: Export ID; GoogleVault.Matter.Export.Name: Export's name; GoogleVault.Matter.Export.CreateTime: Export's creation time; GoogleVault.Matter.Export.Results.CC: CC of the message; GoogleVault.Matter.Export.Results.BCC: BCC of the message; GoogleVault.Matter.Export.Results.DateSent: The date the message; GoogleVault.Matter.Export.Results.From: The sender of the message; GoogleVault.Matter.Export.Results.Subject: The subject of the message; GoogleVault.Matter.Export.Results.DateReceived: The date the message was received.\n\nIntegrations/scripts used: PrintErrorEntry, gvault-create-export-groups, gvault-download-results, gvault-export-status, gvault-get-groups-results.",
  "raw_yaml": "id: Google-Vault-Search-Groups\nversion: -1\nfromversion: 5.0.0\nname: Google Vault - Search Groups\ndescription: This is a playbook for performing Google Vault search in Groups and display the results.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 14cac14a-3745-46d2-8ef6-da411a06da52\n    type: start\n    task:\n      id: 14cac14a-3745-46d2-8ef6-da411a06da52\n      version: -1\n      name: \"\"\n      description: ''\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 200\n        }\n      }\n    note: false\n  \"1\":\n    id: \"1\"\n    taskid: 40d47276-5b8c-4a16-8bfc-986b89a39382\n    type: regular\n    task:\n      id: 40d47276-5b8c-4a16-8bfc-986b89a39382\n      version: -1\n      name: Create Group Export\n      description: Creates a Google Vault export in order to perform search actions on emails.\n      script: '|||gvault-create-export-groups'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      dataScope:\n        simple: ${inputs.dataScope}\n      endTime:\n        complex:\n          root: inputs.endTime\n      exportMBOX:\n        simple: ${inputs.exportMBOX}\n      exportName:\n        complex:\n          root: inputs.exportName\n      exportPST:\n        simple: ${inputs.exportPST}\n      groups:\n        complex:\n          root: inputs.groups\n      matterID:\n        complex:\n          root: inputs.matterID\n      startTime:\n        complex:\n          root: inputs.startTime\n      terms:\n        complex:\n          root: inputs.terms\n      timeFrame:\n        complex:\n          root: inputs.timeFrame\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 370\n        }\n      }\n    note: false\n  \"2\":\n    id: \"2\"\n    taskid: 2499c394-d9b8-4fc2-8e39-006e6ed21018\n    type: playbook\n    task:\n      id: 2499c394-d9b8-4fc2-8e39-006e6ed21018\n      version: -1\n      name: GenericPolling\n      description: |-\n        Use as a sub-playbook to block execution of the master playbook until a remote action is complete.\n        This playbook implements polling by continually running the command in Step #2 until the operation completes.\n        The remote action should have the following structure:\n\n        1. Initiate the operation.\n        2. Poll to check if the operation completed.\n        3. (optional) Get the results of the operation.\n      playbookName: GenericPolling\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      Ids:\n        simple: ${GoogleVault.Matter.MatterID}#${GoogleVault.Matter.Export.[0].ExportID}\n      Interval:\n        complex:\n          root: inputs.pollInterval\n      PollingCommandArgName:\n        simple: queryIDS\n      PollingCommandName:\n        simple: gvault-export-status\n      Timeout:\n        complex:\n          root: inputs.pollTimeout\n      dt:\n        simple: GoogleVault.Matter.Export(val.Status != 'COMPLETED')=val.MatterID + '#' + val.ExportID\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 550\n        }\n      }\n    note: false\n  \"3\":\n    id: \"3\"\n    taskid: 31d85c78-3d02-4ef9-8734-3d41200a8857\n    type: regular\n    task:\n      id: 31d85c78-3d02-4ef9-8734-3d41200a8857\n      version: -1\n      name: Get Groups results\n      description: Get the results of a given mail export\n      script: '|||gvault-get-groups-results'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"15\"\n    scriptarguments:\n      bucketName:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.BucketName\n      maxResult:\n        complex:\n          root: inputs.maxResultForDisplay\n      viewID:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.ViewID\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1120\n        }\n      }\n    note: false\n  \"5\":\n    id: \"5\"\n    taskid: 9ed8fed0-adb4-4d5a-8de3-4390979be049\n    type: title\n    task:\n      id: 9ed8fed0-adb4-4d5a-8de3-4390979be049\n      version: -1\n      name: Done\n      description: ''\n      type: title\n      iscommand: false\n      brand: \"\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 780,\n          \"y\": 1760\n        }\n      }\n    note: false\n  \"15\":\n    id: \"15\"\n    taskid: aa748877-64f6-403b-8a28-5a48d7470abf\n    type: condition\n    task:\n      id: aa748877-64f6-403b-8a28-5a48d7470abf\n      version: -1\n      name: Check downloadFile\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"17\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.downloadFile\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1330\n        }\n      }\n    note: false\n  \"16\":\n    id: \"16\"\n    taskid: 97311171-052d-4110-8cac-66da6235bd3b\n    type: regular\n    task:\n      id: 97311171-052d-4110-8cac-66da6235bd3b\n      version: -1\n      name: Get Export status to context\n      description: ''\n      script: '|||gvault-export-status'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      exportID:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.ExportID\n      exportIDS:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.ExportID\n      matterId:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.MatterID\n      queryIDS: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 730\n        }\n      }\n    note: false\n  \"17\":\n    id: \"17\"\n    taskid: afc45103-f1da-466f-8950-4b4a4227378e\n    type: regular\n    task:\n      id: afc45103-f1da-466f-8950-4b4a4227378e\n      version: -1\n      name: Download Export file\n      description: ''\n      script: '|||gvault-download-results'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      bucketName:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.BucketName\n      downloadID:\n        complex:\n          root: GoogleVault\n          accessor: Matter.Export.DownloadID\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1550\n        }\n      }\n    note: false\n  \"18\":\n    id: \"18\"\n    taskid: 0273f108-4e62-44b6-82aa-bb543619668d\n    type: condition\n    task:\n      id: 0273f108-4e62-44b6-82aa-bb543619668d\n      version: -1\n      name: Check if status COMPLETED\n      description: ''\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"19\"\n      \"yes\":\n      - \"3\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: GoogleVault\n                accessor: Matter.Export.Status\n            iscontext: true\n          right:\n            value:\n              simple: COMPLETED\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 920\n        }\n      }\n    note: false\n  \"19\":\n    id: \"19\"\n    taskid: 1fb0571b-bd21-423c-85ae-0f9ca53649f2\n    type: regular\n    task:\n      id: 1fb0571b-bd21-423c-85ae-0f9ca53649f2\n      version: -1\n      name: Polling Timeout\n      description: ''\n      scriptName: PrintErrorEntry\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      message:\n        simple: 'Polling time out: Your search is taking a bit more time. To see your results please run playbook ''Google Vault - Display Results'' with a grater ''PollIntarval'' and ''PollTimeout'' using this ExportID: ${GoogleVault.Matter.Export.ExportID} and MatterID: ${GoogleVault.Matter.Export.MatterID}'\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 550,\n          \"y\": 1110\n        }\n      }\n    note: false\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1625,\n        \"width\": 1110,\n        \"x\": 50,\n        \"y\": 200\n      }\n    }\n  }\ninputs:\n- key: matterID\n  value: {}\n  required: true\n  description: |2-\n\n    matterID\n- key: exportName\n  value: {}\n  required: true\n  description: Export Name\n- key: dataScope\n  value:\n    simple: All Data\n  required: false\n  description: Choice of Search scope\n- key: groups\n  value: {}\n  required: false\n  description: Enter one or more Groups separated by commas. You can search up to 50 Groups.\n- key: timeFrame\n  value: {}\n  required: false\n  description: 'Search time frame. E.g: \"1 min ago\",\"2 weeks ago\",\"3 months ago\"'\n- key: startTime\n  value: {}\n  required: false\n  description: UTC start time (2018-10-16T12:59:02.584000Z)\n- key: endTime\n  value: {}\n  required: false\n  description: UTC end time (2018-10-16T12:59:02.584000Z)\n- key: terms\n  value: {}\n  required: false\n  description: Add specific terms for the search (subject:example)\n- key: exportPST\n  value:\n    simple: \"true\"\n  required: false\n  description: Export format\n- key: exportMBOX\n  value:\n    simple: \"false\"\n  required: false\n  description: Export format\n- key: pollInterval\n  value:\n    simple: \"2\"\n  required: false\n  description: Interval to check export status (minutes)\n- key: pollTimeout\n  value:\n    simple: \"30\"\n  required: false\n  description: Timeout to terminate the poll (minutes)\n- key: maxResultForDisplay\n  value:\n    simple: \"30\"\n  required: false\n  description: The maximal number of result to be displayed\n- key: downloadFile\n  value:\n    simple: \"false\"\n  required: false\n  description: If set to true the export file created will be downloaded into the War Room\noutputs:\n- contextPath: GoogleVault.Matter.Export.MatterID\n  description: Matter ID\n  type: string\n- contextPath: GoogleVault.Matter.Export.ExportID\n  description: Export ID\n  type: string\n- contextPath: GoogleVault.Matter.Export.Name\n  description: Export's name\n  type: string\n- contextPath: GoogleVault.Matter.Export.CreateTime\n  description: Export's creation time\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.CC\n  description: CC of the message\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.BCC\n  description: BCC of the message\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.DateSent\n  description: The date the message\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.From\n  description: The sender of the message\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.Subject\n  description: The subject of the message\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.DateReceived\n  description: The date the message was received\n  type: string\n- contextPath: GoogleVault.Matter.Export.Results.To\n  description: The address the message was sent to\n  type: string\n- contextPath: GoogleVault.Matter.Export.Status\n  description: Export Status (COMPLETED,FAILED,IN_PROGRESS)\n  type: string\n- contextPath: GoogleVault.Matter.Export.BucketName\n  description: Bucket holder name for this export\n  type: string\n- contextPath: GoogleVault.Matter.Export.DownloadID\n  description: ID to be used by the download-export command\n  type: string\n- contextPath: GoogleVault.Matter.Export.ViewID\n  description: ID to be used by the get-X-results command (X=drive/mail/groups)\n  type: string\n- contextPath: GoogleVault.Matter\n  description: Matter object\n  type: unknown\ntests:\n- Google_Vault-Search_And_Display_Results_test\n",
  "product": "Cortex XSOAR",
  "pack": "GoogleVault",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "identity",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "XJXYPFkIFjwK6l+97PmpPFa1XD1xbY88Obo+PdhzCjqmRe+8IBKDvPRSQL3TtWU9t0GFPYK7CDtp/Kg6QiuovfKGezyZrS89wwi/vL4/pbu5ixO9vRs2vQrWprxQb6k8S3jAvOOwzr1hCoO8fOxZvNa4HTpNYgW8toFjOzPmXjw/ghQ9A7pPvGOGBL124Js8loufvCvU1LyIxie9PWZuvEubBb3VqNy8a6orO7ElLD0qfg48yMnuvOfwiLzQzgY95b+HvUJUbT2ay3E97eIdPTexcTzss808jHrjO4QFoTsFD2o6fQiVvcckIj1g08i8fYK6vGcb1LymNFM8VUKQPI+RkD1jOwe9dvPRO/zTAj3wQFC97qM2Paj57bolzTY9X6Ddu6C6hDyej2i9k/J/vYdoojzzutA8gQOUPVoqWLxxF9G8jDTAPFuxQD2qvKq83IhNvQlkUbrquN+8y+K3vRHC/LyYXR+8Hn7aPXZweL1p+j+8UTFwPcdlaz3WBj29udTAvUO2hb0B4zA8UPm+Oohbg7zRbPE8g3+TPHf4tryI3Ro8Tn/GO7xzDD1YD/q9EmaNvSyvIz057Nu7BbLAPNKaIrwUAqK80+Z7vYYoRz0ddXu8IFPDO1n2T7z+5ge9jyX/OwHK3TyOXSe6gD2PPXbX9zzKR0k9GEoaPEkwC70SRRW977eausBajTzcl968eranOzuzM7uZ+qG7Z8P7PKxnjj2AAcW8AyD4vMARgbssAFQ7u9TrO1HUpr39hQU81yIqPOJFnTnfYgg9TS92PQhphrtqGSy974C1O68EI70ROVy8k5UcPX1rAL0HZie88YmjO7zfy70BZ2U9tcQjvEVrTzzdHv68fBuju9nxXD3RALq8WatQvOWi3byuZru7tvQ0vA0C1jy3b9m8Z3RyvcJ5t71Hx5W8Q7pOu0bCKj0RGi68h7wJPB41VbzwJd+8Ty6IPVL+sjxM55u8MLabvSbiVz35uxg8t908venFwbzIjMI8Cm4SPYAnh7tLjVi7PXRzPGxhiT1uRFO9UCERvD5ku7voX8y8t9uYvEiOjzuF7Gc9GF3kPOsNZTpFdBi9rW4XvYOUCrxV3fe82UxhvUpcB7200Io7Z9PDu4zMwzzY6mq8X3ctvUPELbvVusI74N65PNYi8jwgFqQ9ZSnUvJjArDvEdOq8RyEguCv+JDxCu8k6pk2FPHT4db2WX0g9U6aYvG8GaL3c+ww9IlwdPRFPh7v9MQ492CADveqrvztsKpU98tkzO1D2IL07/KU8nvy8vHFp+jz55G48HbObPFLDcD2BZXu9e5waPQSR+LzRD3S9jf96vTAKFL2cwVK8I/UmPEX9O72u/605g9nGO2CqEbs62ye9PeBQvKkk07ze+lw9gMiPvKspDb1Ml426hKh5O74mNL1NHEK9+OGQvNqDSDq2gOs7GvO1PMXCrbzIPvC8ddHcOlEKKb2I0dq7ECAHveyrWz0iDnC9M3A6vQdlGTzVcgo87m4xPLXXs7zFdZ08TBI8vdXenDpPsOG654hdu/7Zxbwa7oo9Cd4gPX/obbwmCaO9nNK5PBkCRjzytkU9cVOOPSel4LygS4W9tbAlPCLjVT10Dry8q4cSPYxpDbzOwjk674oJPTAd+TvbwfI7R4M1O3WJpDy4f0A9x2xrvfPSAj1UpYq8aqX7Oe4TAr5mrRm8rLNTvPrQY7zUn2K80x/BOjdrFzy9wKg8LUYhvFxOTDud6yK80OMLvWFcqjq5ORC95/lBPHJWGLoBtoS83WFMPM3m3TtcRD88zRpVvQ7jJTuVkkc9r9kQPXwlmzxDQ4q7+38sPCD2/ro/dU+8HUwQOvqfhzuMrMO8iXZPPT4lBj2RotY78ImDPe34T7yuf9o8nfiiPPb5rTunyW+7OufkvCbbSbx8Puk8erJEvAlkPTxFXww9JF8yPXFSiL3fuk+823RPPLSMHj2CVmu8kWZhvbU17roLFuK774a2PDyMNzupfTY8mXhLvQKKdbyx4Ek8xo8vPNnXX71mgia8iXKQvJcAWLtbfRc9oC2RPNZQuj2YxU696PsYPYnCFbzLuTi95Jx8vRyukj3dqNE8y+qgPSVkLLzwcdO7AngsvWcBgz1SSlY91L8ovY7isjzXjyq9cgrlPOAHIb1ETLM8SftEOyKjJD3jOIY8iSwdvbeGj7rIi6a7Hga2vH89ljwvD1w84IKovEP5aTzILhc8MGDcPHn8yDyig149D3Q9u1jG1jrSnrs8feN0POBMvbzKaFO9GIpTvReP8LsBskw9PHElPW+krjvAgJ08kJ0svDLqoDzMdTq88CQAPJLfrTvzy2G9AZ8LPboGhTwi0yY9KbOgOm4OBD4Fn5U9hJf/vNU7HryVKoS8TMo9PQJWy7uxbCk87mB0vJwNy7zIvSU6CboevFz+2b2CX4Y82XVNPNc/Cjwv5/C8PDbKu2FzKL1BXQK98CyGPerdNT2pbgi8QJsNvTJHwDsvXlw9xUxbPTZCAz1ISXE94xWPPcHpX7oTuFM9SaYGvSDE5jy8MVY9ZO3QO6CN0bvkEoC87caSveqF5zxTXgY8mGkKPP6BLT28h3S7ym9CvX+1Yr0RauI7FqcYvKEVYrq1dxy935ckvWZ8yrsXn9i80F2Zvau1zzws9HK9lqT3vDvUfT2Q/J49OnBSPWeoyrw5a+g77h2EvEl90jzdIeC86HU2PXNWLDpSAy49ydRyPUvDBL0FVYM9PxwXvQOLHr39WCI8+7KNvNAV2Lx4xbQ8KWEuPRIB8zsiEpG8rvAcPTCrBruhYYq9KNUqvJxQfzwc2uY8B5gTvUxIR7xBk7i7E8OxPeovPjytA+Y8rtB2PDXlkrxH+c48/2v5uySmVj05yQ09iCt1Oy+x5jyTRho9sLTXOnBDBD2uH4c90NTxurTsxDwf9F+9Nrg9PTkhE709eB29M/TAO8UuNzwhsrw8Ts0HvVbbHjzwiVO9n+l5PLgC+7sFwhY8tauovLC1EL0AtSg8tltBvc+8Ab0PzIa94rYlPY3Twbw6I8k7Gf6aPKmvMTyL6uk8UK9Tu496Cbxn8j67mY7QvINIHz3Crko8ekaMPCCJjjxcY5W6doKCPQ4lHTwY1Bm9zuBsvC8Xy7uCrO666CNiveysRzvqyB28z/yyvMXFVzwZy6s8kj4gPRcJBT0DiEC93d7quzIffzylnv47/u1dvLgRFr2K2KY9MR+XvPoZR72ZcZu9BbqMvINjSb1LddM8yd0hu2LU4bwYT5o9aqTTvBuqYr0yJo29sRszPTGUhrxUU3k8DyjcPHZzOzwPK309brD3PFymlTpa2OE8O/EHPZ6cnDsZd8m8heoBPLB2Iz3eMMs8Yov8u9tjZLxrPDo9FJ9rvc6FYLx/giG9M4hSPDuL7zxKIWU8AmlmvfCRAT32Sqq8k6a2PYeebzt04Zu938sMPU8KnDygCKu8uaS8PFhEBDtgpzo825emPd5BWrw+Vjs9iXIrvbacGbxEXtS8AFZePHK087uhpmG9WoETPUQ3pLrNLlW9NKT2u3o3QL2OB8I8/tYVvYRdGb1Ar4m77NmUPAjmOb2v6Zk8ADuAPIwBjT0v/UE8JOsOPXVR47tHzsY91Zf6uxmht7xM4AG9OvaZPEeTRj0gVAi9K0oLPd6y5jurgbo81kn/O9f4v7wbw2E9Y/m4OvaKXz09N6m7qcTwOVn8Yjwe6KI8D5UovcX7FrwzngO9F1adPB89UD0oj+O8/AGVvD6oNL3WUCc9/dMRPKeK0rwUFQw9HEH4vXNWAD3Fnfe81Me7PCwuHz2fohI8QD6auzzNvjsokU65B/huPE/TDz2/U/Q8/acAPZYVYLy6cwM9ocGlOwnWyTs1BQY8/D24u4NC3rxy6WS9V+6CPNtP0DygT1Q8wbLuvPWQsbwcyLq8C4/TvE1NIbsruMe8q4fFOvsYwro+5go7tedUvGjbh72NcdI78RaJu6EPmD2nhHu80HT/PDnYv7x4vl6999i5vZgnXL1Ufaw8T0OGvIvhZjw/t3e9aAu9vP6yA70UZmE9dENaPEdjy7s6hWY9bCUtvaM3Ob3erw29wRRBvftohj1bFVY8"
}
