bundles/spark/kbs/soar-playbooks/entries/pb-infobloxbloxone-unblock-indicator-infoblox-cloud.json
{
  "id": "pb-infobloxbloxone-unblock-indicator-infoblox-cloud",
  "title": "Unblock Indicator - Infoblox Cloud",
  "category": "playbook",
  "content": "This playbook unblocks the given IP or domain by adding it to the given allow type custom list of the Infoblox Cloud platform.\n\nCortex XSOAR/XSIAM SOAR playbook from the Infoblox Inc. pack (InfobloxBloxOne, partner-supported).\n\nInputs — ip_addresses: The IP addresses to unblock.; domains: The domains to unblock.; custom_list_name: Specify the name of the custom list to add the given IP addresses or domains to. Default is \"Default Allow\".; custom_list_type: Specify the type of the custom list to add the given IP addresses or domains to. Possible values are: default_allow, custom_list, threat_insight, threat_insight_nde. Default is \"default_allow\"..\n\nIntegrations/scripts used: infobloxcloud-customlist-indicator-remove, infobloxcloud-unblock-domain, infobloxcloud-unblock-ip.",
  "raw_yaml": "id: Unblock Indicator - Infoblox Cloud\nversion: -1\nname: Unblock Indicator - Infoblox Cloud\ndescription: This playbook unblocks the given IP or domain by adding it to the given allow type custom list of the Infoblox Cloud platform.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 42ade50b-969d-4343-8829-8eae77238f91\n    type: start\n    task:\n      id: 42ade50b-969d-4343-8829-8eae77238f91\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 30\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 0436f6c4-150f-4895-8d68-7c0bf0afec7c\n    type: condition\n    task:\n      id: 0436f6c4-150f-4895-8d68-7c0bf0afec7c\n      version: -1\n      name: Is Infoblox Threat Defense with DDI integration enabled?\n      description: Checks whether Infoblox BloxOne Threat Defense integration is enabled or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"10\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: containsGeneral\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: InfobloxBloxOneThreatDefense\n                    ignorecase: true\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 165\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 19225900-aa57-4b55-8908-0c11f195d86b\n    type: regular\n    task:\n      id: 19225900-aa57-4b55-8908-0c11f195d86b\n      version: -1\n      name: Clear previous inputs\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      key:\n        simple: Collect IP or domain indicators\n      subplaybook:\n        simple: auto\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 5b5a3c2f-bcc1-4ae1-8818-d26e5f65e073\n    type: condition\n    task:\n      id: 5b5a3c2f-bcc1-4ae1-8818-d26e5f65e073\n      version: -1\n      name: Check whether indicators are available in playbook input\n      description: Check whether IP addresses or domains are available in playbook input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"4\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ip_addresses\n                transformers:\n                - operator: trim\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.domains\n                transformers:\n                - operator: trim\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: c5001091-4cf5-4657-8f93-c1ea9131376d\n    type: collection\n    task:\n      id: c5001091-4cf5-4657-8f93-c1ea9131376d\n      version: -1\n      name: Collect the IP or domain indicators to unblock.\n      description: Collect the IP or Domain indicator to unblock.\n      type: collection\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      query:\n        complex:\n          root: incident\n          accessor: id\n          transformers:\n          - operator: Stringify\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'investigationIDs:'\n              suffix: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Collect the IP or domain indicators to unblock.\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Specify the IP addresses to unblock.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The given IP indicators will be added to the specified custom list.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Specify the domains to unblock.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The given domain indicators will be added to the specified custom list.\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Specify the name of the custom list.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: Default Allow\n        tooltip: Specify the name of the custom list to add the given domains to. Default is \"Default Allow\".\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: Specify the type of the custom list.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: default_allow\n        tooltip: 'Specify the type of the custom list to add the given domains to. Possible values are: default_allow, custom_list, threat_insight, threat_insight_nde. Default is \"default_allow\".'\n        readonly: false\n      title: Collect IP or domain indicators.\n      description: This task collects the IP or domain indicator values to unblock them. Also, it allows to specify the custom list name and its type.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: d9e58e19-1e08-46e4-870e-8826fc4eb3f4\n    type: title\n    task:\n      id: d9e58e19-1e08-46e4-870e-8826fc4eb3f4\n      version: -1\n      name: Check for indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"6\"\n      - \"7\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: a2aa43f6-ef94-4fc1-8135-68e60a0bfa30\n    type: condition\n    task:\n      id: a2aa43f6-ef94-4fc1-8135-68e60a0bfa30\n      version: -1\n      name: Check that IP indicators are present or not\n      description: Check that IP address is present or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"10\"\n      \"yes\":\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Collect IP or domain indicators.Answers\n                accessor: \"0\"\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.ip_addresses\n                      iscontext: true\n                - operator: splitAndTrim\n                  args:\n                    delimiter:\n                      value:\n                        simple: ','\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1040\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: ca45182a-6a3c-4687-8b73-5658aa3c455e\n    type: condition\n    task:\n      id: ca45182a-6a3c-4687-8b73-5658aa3c455e\n      version: -1\n      name: Check that domain indicators are present or not\n      description: Check that domain is present or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"10\"\n      \"yes\":\n      - \"9\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Collect IP or domain indicators.Answers\n                accessor: \"1\"\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.domains\n                      iscontext: true\n                - operator: splitAndTrim\n                  args:\n                    delimiter:\n                      value:\n                        simple: ','\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 1040\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: fdaf9d0c-5b6b-4612-8336-3a62378ebe23\n    type: regular\n    task:\n      id: fdaf9d0c-5b6b-4612-8336-3a62378ebe23\n      version: -1\n      name: Unblock the IP indicators\n      description: Unblock an IP address.\n      script: '|||infobloxcloud-unblock-ip'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"10\"\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      custom_list_name:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"2\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.custom_list_name\n                iscontext: true\n          - operator: trim\n      custom_list_type:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"3\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.custom_list_type\n                iscontext: true\n          - operator: trim\n      ip:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.ip_addresses\n                iscontext: true\n          - operator: trim\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1295\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 10394599-ec9a-44ca-8a8a-03faf3aafc38\n    type: regular\n    task:\n      id: 10394599-ec9a-44ca-8a8a-03faf3aafc38\n      version: -1\n      name: Unblock the  domain indicators\n      description: Unblock a Domain.\n      script: '|||infobloxcloud-unblock-domain'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"10\"\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      custom_list_name:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"2\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.custom_list_name\n                iscontext: true\n          - operator: trim\n      custom_list_type:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"3\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.custom_list_type\n                iscontext: true\n          - operator: trim\n      domain:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"1\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.domains\n                iscontext: true\n          - operator: trim\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 1295\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: ebd855ec-4333-423f-8c48-6e9b3ba7fd06\n    type: title\n    task:\n      id: ebd855ec-4333-423f-8c48-6e9b3ba7fd06\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -115,\n          \"y\": 2030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 615e78e5-1dce-4d65-84ed-dced53114935\n    type: condition\n    task:\n      id: 615e78e5-1dce-4d65-84ed-dced53114935\n      version: -1\n      name: Do you want to remove the indicators from Block list?\n      description: Ask whether the user wants to remove the indicators from block list.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"No\":\n      - \"10\"\n      \"Yes\":\n      - \"12\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 1510\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Do you want to remove the provided indicators from Block list?\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n      replyOptions:\n      - \"Yes\"\n      - \"No\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: ad8372cd-d2d1-4a37-8faf-b0fbac2311dd\n    type: collection\n    task:\n      id: ad8372cd-d2d1-4a37-8faf-b0fbac2311dd\n      version: -1\n      name: Collect the information to remove indicators from block list\n      description: Collect name and type of custom list from which to remove indicators.\n      type: collection\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      query:\n        complex:\n          root: incident\n          accessor: id\n          transformers:\n          - operator: Stringify\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'investigationIDs:'\n              suffix: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 1690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Collect the custom list information to remove indicators from block list.\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Specify the name of the custom list.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: Default Block\n        tooltip: Specify the name of the custom list to remove the given indicators from.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Specify the type of the custom list.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: default_block\n        tooltip: 'Specify the type of the custom list to remove the given indicators from. Possible values are: default_allow, default_block, custom_list, threat_insight, dga, dnsm, zero_day_dns, threat_insight_nde.'\n        readonly: false\n      title: Collect custom list name and custom list type\n      description: This task collects the custom list name and custom list type values to remove indicators from.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 19d83526-cfbb-48e9-8ca3-63b875664bec\n    type: regular\n    task:\n      id: 19d83526-cfbb-48e9-8ca3-63b875664bec\n      version: -1\n      name: Remove the indicators from Block list\n      description: The given indicators will be removed from the provided custom list.\n      script: '|||infobloxcloud-customlist-indicator-remove'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      custom_list_name:\n        complex:\n          root: Collect custom list name and custom list type.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.custom_list_name\n                iscontext: true\n          - operator: trim\n      custom_list_type:\n        complex:\n          root: Collect custom list name and custom list type.Answers\n          accessor: \"1\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.custom_list_type\n                iscontext: true\n          - operator: trim\n      indicators:\n        complex:\n          root: Collect IP or domain indicators.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: Collect IP or domain indicators.Answers.1\n                iscontext: true\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.ip_addresses\n                iscontext: true\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: inputs.domains\n                iscontext: true\n          - operator: splitAndTrim\n            args:\n              delimiter:\n                value:\n                  simple: ','\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 1860\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_12_Yes\": 0.65,\n      \"1_10_#default#\": 0.22,\n      \"1_2_yes\": 0.57,\n      \"3_5_yes\": 0.53,\n      \"6_10_#default#\": 0.14,\n      \"6_8_yes\": 0.4,\n      \"7_10_#default#\": 0.1,\n      \"7_9_yes\": 0.37,\n      \"8_10_#error#\": 0.31,\n      \"9_10_#error#\": 0.21\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2065,\n        \"width\": 975,\n        \"x\": -115,\n        \"y\": 30\n      }\n    }\n  }\ninputs:\n- key: ip_addresses\n  value: {}\n  required: false\n  description: The IP addresses to unblock.\n  playbookInputQuery:\n- key: domains\n  value: {}\n  required: false\n  description: The domains to unblock.\n  playbookInputQuery:\n- key: custom_list_name\n  value:\n    simple: Default Allow\n  required: false\n  description: Specify the name of the custom list to add the given IP addresses or domains to. Default is \"Default Allow\".\n  playbookInputQuery:\n- key: custom_list_type\n  value:\n    simple: default_allow\n  required: false\n  description: 'Specify the type of the custom list to add the given IP addresses or domains to. Possible values are: default_allow, custom_list, threat_insight, threat_insight_nde. Default is \"default_allow\".'\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\n",
  "product": "Infoblox Inc.",
  "pack": "InfobloxBloxOne",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:infoblox-inc",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "87RCPLeb6LwpFYa9ReYqPb/Ihj0FNZG86CwzPT73VLyPPSo95KUBvAby1LsB9pk9v+HKOQDstjxDNTC7XolbvU78szxXIIA9xs03PGMnW70cUKW8c1WZPGqD6bszGcc8WIHJus3Hh7209L26V5qSu3nxU71wb8k8/dcuPCjIEj2ejKE7nkDTuwaKVLx+27e8+/8ovTMDtbwh8Dq65XRBvLL+er2ca9e6IWwJvfUgtjzaFT89QPDbvDfqbbzvm4A8yPw9PE7NPj1yZpM9ZtqmvLCnT72p40A8ZGuFvEa1R7144hG9pZl/vOId4rsi73C8qJZQOxmODr0h2Ni7aipiPSn86zwv8gs9wvn1PPdlrjzJS5C9iK6WPdXt4LxqeMk9W7oIvFDXnznkv2a8LA3mvOgaqDtIm0u7hpq6vDmUJz3J2Ss9kyCrPLf7dz02hQM59F+JvGWNFDv+f+i87ReJvf01yrzzPIE8g0vRPXSIWzt0jO677Q2PPGqDgT2LK6I8dV5mva3vz71uGyQ9uBbtPIl2wjykS+45xzhvPCCOOL1/HKI8fwNNPaK25rxkrHC9/EaYvZBwXDxgLto8m8uQvLLRYDzdz9I8wWIuvUgzlD00uuA8w1JmO7HVlzyAdy29gXDKPJyZPD1PjOQ81HMBPQRpUD2Am609YnIaPBMGsLyizya82TmDvMoIBzzXYV08ueUiPYzu/rxOdOI6zt09vSXb9Lv9RkO96uBPPQwt0DwAd928BrDoukPgjL0ePAq8srVcPfAOZDpIclk9kXz8Pa8gobvaYwU95OzwPKaQPL1W1W+9j93hPM3Uc70A6MA71fbOvCQ83r3L3K67/od3vUD94rwMgRy9TH1VPHrYDT3vMSy9wuRDvcnCdL3Sshw8E93+vCCTfD2UQZQ8WziDvff9sTyAj1K8A6ACPDVKqzzWEuU879vzvBQcK72uID29tK5fPehk3Dwy81K8XvfKvSUrvzybyJU8S5y8vHEXXz2Zvc47Bu2GOxkBGj26xQe9RxH9u93FhD0NCv28tVFcu9ygRj1H2uc8HrCJvGWfzbv94Kg9d9x7PAknXb3C+ZO90niZvd1ok7w+ik+9LeJ5vV5MDj1FssO8Q15pPPt8Jj31hlu9pdPGvE2Tdzy6L7o8lG50vHPPJz3a+MQ936G0vFRaizxvxxc9vzfRvDcVxLyP3YG7bF0APc1uTb1GfLQ9M0wxvHKKqr1Tqgo8dgGWPXaIdb1oWRQ9sHi1PHolqrzrjmA9LiZbuhTSCL3Jvu87xnwUvALXFj0fMtA8711Zvejcpj08an+92MZOvHMRMTzPTUG8HBuzvBL9JTzydHo8iYQevB1OqzwVO+C8u6cWvQuorjxY8by8gO+wPMFPGr0izlE9g57SvOKBE73QcXi9pMLlvDbmfr0wRmC8vVmEvIej1TuRQj48N62DPbSyBT1Syb681EuzvJFGBL2ho+w8z6WQvRzB2DwZblq9hKPJvfwKSr0nvV+8S5tFOg0lm72NGbU8sFKFvYcnfrwVDBS9cV4fvc0Tx7xcgwM9WBw4PY0UWLzOnYS8JOk1PfsoDj3xGLc80ZJ4PS2pPL0zggI8PyIvPRfaSj1SKtm8WHD/PNuTjLzQsTG85//KO3OUzjykc5Q8LQs1Pa9gAjxo3xG9D57TvNYP3zzEmEo79vKbPJj7xr26UH+7fz2dvCQZ8LpYzdE8YmSOu6iOn7wsAOo8eTcIvaFnMLt16YA6ILImvQolRLyy7ma98TnePIYMqzx07H68KrHiuyOPKDsGO648Isqkva+v/DymMa09Fuigu4ocRr0gtb47/T99PY5svLzxTNO8J+0Wvb04djxHKR288vtHPRbYBD0OXVu7yE56PUoFCr1qNhe7apr2PBm+QjyPSyo7K606vJhiKLuaMJs7RDYZO7jT1TyozKK8RjViPQaQCb2m5/+8timDPdJTDj3te4g8Ss3TvERGkbz+1b271OoGPO3pxLwwjJU91uoivTw9Ir3JIIM74mEEvarjSb0/cEa9u1Nvu5YKurvDXVS85O7rPOkMsz1tmnC82ocvPIEWHz3ADo29/ks7vVeUXj3IWGc8wzNbPdv7A72ZogS9X/qRvIRTjz35s4Y8GVM4vSXQi7yB6im9iBArPVsxxbrYSiU87mm6PB05bTyN2Mk7VsJ7unXonjwnNec8s3MxO19eyLwv1tM8Ly5CPIGW4zwPJtA8vF9cuX8sn7q0Nf08PQ3LvD7mGjwiCqq8qspeOtYI2bx8BcS8WxBxvfw7wDz77pM7mQw0vDKQqLwuGrA8lprquiOO2jxMzAe8gNgCPFDRbj2WODK9kRz6OvhOfT1yZio9D3yhPLyOYD1jUIQ8PVyMO+CIoDxUTeO8QsFAu0FCBz0emGg8e5lzvZlTzLzbvJm8ltyFvEa5oL1HLqI8Gwp9PHksAbx9VUM8fA4ovdzMxLxtXsk8sGF8PbwSybyhkEy8ZWJHvKrNFbxXsL48StwEPSacmzyprLs85P9cPVUHwTzhgxk9SEGSvfmaSDvYXCA9OISNO5Odh7uDqFu71FwyvdfpDb2xfg29gMDWPDmbEz23Cwi94hntvOxcvrupmcE85s8FvRr0F71x3qm7R5wnvYAsMDzNhJg81HePvRN8NT3T1b07keIovVCsAD1qZXg9G+wXPdXweLxETli889u8vMZAujzo1Iu86Ms+vcwZJjsFVp09HN98PX4W6DtoWIg94VoRvdpkkrwTqyC6wdgDvDa6E71B5j68DD2WPFILlb3AlrI8NzDUPLKPQr34xAy98m4GPLmC9LxVShE7cuUcPO2Bm7zUTE+8J3d/PYdB/rv7IAQ97pEHPNKQHT1qXms9Mq21O8ybuj33w5G8G15RPS1ijry1sWo8fITBO5ZZcD2JMRk9NV/7PMcGMz3+w+g7hMOEPXrNeL0Ftdm7tuMgvb50Xrz2ube71G1bvYpceTwnTOa8eZ0VPYPef7xUWKY8BYsMvKS1zDwjH5C8vgBwvc9GK7sqULK7xC30POIH2DtAgP884p+yu0fYODzX0B28qPQrvUKYALwbzu+8qS7gvGJekzwasd+8lmkQO8YQJz120iQ8Lg5aPWbW+LvJ6Ii8da6gPEzyw7xJl9o7qtRJvX4VlbtQMzS8eSQPvAknpru/zky7vxqcuxFcZbwDA1O9tckDvIG8cjvcgYM7QlNHvD43Nb3Poow94nfsu8MkMb2Bgg+9de/wvNYAKb1ux1I86n0MPdSlzrzRx0U9IIGqvIXBsr3M1ZG98LnkPHI0Db3mZoE7CS5hvA3CvjuPsA09ZhOcO+SUtTs52oC8Yhy0PBXgPb1IpNm8BARevfdJtzv8Eee7LK+Fu7rkAjtRDiE9k6vWvDYUU72YSQK8INxxPUkZgj1oMeA7Wt1/vVP2hLlREHc8kPtZPfWB+TwtapG9ob8bPX/KyDxNVha9krYmvXcctjt8tuc7Z9iuPP9WCr1AZNo8e1tpvfEmk7wBiLq70x5nvAJMTj13ABe9h9cEPff0Tb3GZEW98nm4vAOLpbx+DwS7KYMxvT62Vr009Ss89Cx1PBIBt7zQMQw9AsM+PQHkEz0RUrI3YJZUvelaGj0Mf489+zgRvG349jiaH0m8F7qUvHbCXj1xUmK8K2ufOk2hKLxCcqw8aSvXvNvmXL2xpMi7UNEjPV1SljsVuZG8gXv9PM/gm7ynrYy4h/GMvPWFyjpKs2u9U13iOvAOZj1fnaa8MTQRvQuEOLyUpiS8fiYXObzkJr3OxKo9CPKfvRfYhzsqFmq8j7uDPDEUTT3Lh6E8xKxbvHhbeLlpkpW8hIxVPUVxDjxDpI88mBIhPaQIEb3Ds7I8DKQRPd/YCbwEDcs7zsIDvSzYPzyh3im9eIKKvOKiebwWc0A9dH9Ku/URALuzG3U84kbBO/YhjL2NgUQ6dPJJvasil7xxoBI8f1tzvUrJLL2Ewu28U0dUuxJ+Nz0+6Qc88cLvO/Q4Ij0SDSS98jYPvXFWJrspwFS74IIZPWwxtLwjouu8+RpmO++ZpjymnmE7WqDZvIlzGr3lzi89vr64u9JE9jyefCK9+AJwvXHe8jzWCMk7"
}
