bundles/spark/kbs/soar-playbooks/entries/pb-infoblox-mac-lease-lookup-infoblox-nios.json
{
  "id": "pb-infoblox-mac-lease-lookup-infoblox-nios",
  "title": "MAC Lease Lookup - Infoblox NIOS",
  "category": "playbook",
  "content": "This playbook looks up MAC Leases using Infoblox NIOS integration.\n\nCortex XSOAR/XSIAM SOAR playbook from the Infoblox Inc. pack (Infoblox, partner-supported).\n\nUse cases: Network Security.\n\nInputs — mac_addresses: The optional comma-separated list of MAC addresses to lookup..\n\nIntegrations/scripts used: infoblox-dhcp-lease-lookup, infoblox-list-network-info.",
  "raw_yaml": "id: MAC Lease Lookup - Infoblox NIOS\nversion: -1\nname: MAC Lease Lookup - Infoblox NIOS\ndescription: This playbook looks up MAC Leases using Infoblox NIOS integration.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: b4c0539c-4f0f-4878-8887-4c933886a789\n    type: start\n    task:\n      id: b4c0539c-4f0f-4878-8887-4c933886a789\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": -70\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 854f0c7c-bb1e-433f-8914-f6f1ab140c99\n    type: condition\n    task:\n      id: 854f0c7c-bb1e-433f-8914-f6f1ab140c99\n      version: -1\n      name: Is Infoblox NIOS integration enabled?\n      description: Checks whether Infoblox NIOS integration is enabled or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Infoblox\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 70\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: fd65645a-f58d-45c2-8cbd-4e7f27c9a59a\n    type: regular\n    task:\n      id: fd65645a-f58d-45c2-8cbd-4e7f27c9a59a\n      version: -1\n      name: Clear previous inputs\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      key:\n        simple: Collect MAC Addresses, network\n      subplaybook:\n        simple: auto\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 320\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 255a1751-76d3-4581-8249-dc8da6bb123e\n    type: collection\n    task:\n      id: 255a1751-76d3-4581-8249-dc8da6bb123e\n      version: -1\n      name: Collect MAC Addresses\n      description: Collect MAC Addresses.\n      type: collection\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      extend-context:\n        simple: FoundIndicators=.={\"value\":val.value,\"indicator_type\":val.indicator_type}\n      query:\n        complex:\n          root: incident\n          accessor: id\n          transformers:\n          - operator: Stringify\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'investigationIDs:'\n              suffix: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 700\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Collect MAC Addresses.\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Specify the MAC addresses to lookup\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The provided MAC address will be used for look up.\n        readonly: false\n      title: Collect MAC Addresses\n      description: This task collects MAC address to lookup\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: fb31b1f6-c6be-47e5-8095-d3657c0983ef\n    type: regular\n    task:\n      id: fb31b1f6-c6be-47e5-8095-d3657c0983ef\n      version: -1\n      name: DHCP Lease Lookup\n      description: Look up a DHCP lease by IP address.\n      script: '|||infoblox-dhcp-lease-lookup'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"6\"\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      extend-context:\n        simple: network=result.[0].network\n      hardware:\n        complex:\n          root: Collect MAC Addresses.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.mac_addresses\n                iscontext: true\n          - operator: splitAndTrim\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: RemoveEmpty\n            args:\n              empty_values: {}\n              remove_keys: {}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 1240\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 119369b7-a642-4bad-8988-fa0250b5ff9a\n    type: title\n    task:\n      id: 119369b7-a642-4bad-8988-fa0250b5ff9a\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 830,\n          \"y\": 1620\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 5dc634b5-7ad5-4b12-84f4-cac6050a8567\n    type: condition\n    task:\n      id: 5dc634b5-7ad5-4b12-84f4-cac6050a8567\n      version: -1\n      name: Check whether MAC addresses are available in playbook input\n      description: Check whether MAC addresses are available in playbook input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"10\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.mac_addresses\n                transformers:\n                - operator: trim\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 9769ffcb-39e3-4b50-80f5-7e16939f1015\n    type: title\n    task:\n      id: 9769ffcb-39e3-4b50-80f5-7e16939f1015\n      version: -1\n      name: Check for indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: a5b89524-ed66-479d-81e0-fee30107cfd5\n    type: condition\n    task:\n      id: a5b89524-ed66-479d-81e0-fee30107cfd5\n      version: -1\n      name: Check that MAC addresses are present or not\n      description: Check that MAC addresses are present or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Collect MAC Addresses.Answers\n                accessor: \"0\"\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.mac_addresses\n                      iscontext: true\n                - operator: trim\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 1030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 41f3caf9-8f2c-431f-88d8-be8bcf625e38\n    type: regular\n    task:\n      id: 41f3caf9-8f2c-431f-88d8-be8bcf625e38\n      version: -1\n      name: List Network Info\n      description: List network information.\n      script: '|||infoblox-list-network-info'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      pattern:\n        complex:\n          root: network\n          transformers:\n          - operator: trim\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 1450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_4_yes\": 0.46,\n      \"11_6_#default#\": 0.2,\n      \"1_2_yes\": 0.58,\n      \"1_6_#default#\": 0.1,\n      \"4_6_#error#\": 0.22,\n      \"8_10_yes\": 0.16,\n      \"8_3_#default#\": 0.56\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1755,\n        \"width\": 600,\n        \"x\": 610,\n        \"y\": -70\n      }\n    }\n  }\ninputs:\n- key: mac_addresses\n  value: {}\n  required: false\n  description: The optional comma-separated list of MAC addresses to lookup.\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.10.0\n",
  "product": "Infoblox Inc.",
  "pack": "Infoblox",
  "support_tier": "partner",
  "use_cases": [
    "Network Security"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "network-security",
    "playbook",
    "product:infoblox-inc",
    "soar",
    "support:partner"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "M2CtuzWNELxDPT29Bu0LPczWlj2zxNm80OmJPBEsSzxntr68WM2LPJl607wE74s85taePLxhMD2BysQ7CsZlvUR4Az2hYkk9r7OtunxszLxCJ4i9AECKvA+uoDrxgia8nhfzOwMRbL2Bl0e86Ky7PFK7ib04HkS8PFQRPJ8NrrsmVF+8JlefPNSR8rtdlni8Kv5tvXJTiTvtFko7Q8fYvA8EOb18oI+8Gi4dvaKUID0Y7o08bBeIvRyGPjxZH7e7uRIkvEWuDD1SNIg9aG2nuyzwYb2oc0A9x1yLvCbBQL0ZLHO7vMk/vYBDUr0lZBY8yLemvMM9Hr0QYsc7jU2QPWsWbj0oYUE91Z+xPB35Iz3CbRy9C921PVMmqTlOOKs94xXNvHdAMDvVwK+8WzGUvF/EBbw4mwg96he/PIRnmT3XKWm8A5aKPJVu4z1ZRy48t/wIvVxE4jwpPBS9LLezvQeImjvFb4O8GWQPPlL6HLnqb5M74AM1PevBaj0O6KI8kRpQvaqLcL1XzqA8LDx7vM+rAT110wE8Thj9Ovcce708CQc9fNLNPAZQ7Lqq2Za9HuCBvY1wVjzXyXI9ZbWPPJYW0DzanLC7AbNFvQLaFz25Pkg9OmlkPHswWLylqQS9gEtXPaLbYj0EigI9PK4iPdhAHz3TQxU9kKPBO2YAIr1fKk88dgwMPN/BxjxY/3e8GzfFuzViUb3tvua7KyI4PPfzjTwgAde8ThB7PGWvSrvv9+e7zipmPP5qXL0aSWe8C7B1PVhRqrvSWpE9a3LcPVrlJDzLDZa8KOcWPWCUvLyqs4i9UmOUu0hKZb3xPwO90hK9PMWhir2dgQa92iS7vRd4jrzXGZS95cOvvMSKH72/mqC82/IQvIS5Rr3iu1U8JzGOvQJcMD2upUi87OOCvU21p7wy1Ho80/ncul+8TzzEJMw83B/NuU2DjjwKEfi8zqh7PZ5n5bybjhm9VJnzvWBP2DyDEVI9IYZBvTubKDzAagC9aGQGPN31MD1gfMG8bi6oPLn1lD1GUN67c82wO/V1rDzBhms8Y8DTvL7o7zz7IGs9KjEqPNw75LyZce291+H+vJIW8bzVfZq8fabNvAWDoLzWUhS9gjGyO0ByRjvx7CG9oO1CvL1VYzxvuXG795JcPPa2Oj2YAdg9tKx/vN01Pz16gUC8JWKwvIsK4Du+DaG8MUUQPZ4KaL1dCqU9MXhQPH68sb0dbzM5NL9FPY7vgb10LcW5fV4XPBkZGz1uR0o9d0qLvNGfmLxCIB48lQxaO2PxvTyHOa08HNnIu+YJtj0bTNK8bCPtPLqwfjxjsMC8VVZjvBWyD73y2ly8l1TbuxBgjzxidAu80OwDPOOa/Dy3SIm8x+RzvDO4jL1NXO08HPkZvXp9BbvhHmu9G6SrOvLGFr0nqY+8YeOZvKtRl7yD3DQ9wA5EPUL9ID12TdS8d7uFvNZepb2PGfk6bw4Gve05Dj3nH4u9HcCtvTALWL13u1W8pzIXO4O5UL0eVBQ9TJUZvRjXbLzX5gY8/zoEveUddLz7oSE9soE5PWcYEzyLKCa8YkhRPff99TzcCLI88bV5PcEzUb3Hvh+74VYRPKm9hz2IG/C8Q38wPbWyDb1Kb468k5vru5UYCz2vnJY8wOIaPe5YlLxgFLg7L/xmvczIqjy4e728g5o9u9tYBL76m6w78Hjzu/ahJDt2MbW8x2taPMVhsruKI3I88VpJvSUFi7xsND48/GYovTS4trwFRQG9JO5UO+A6gjzPoVY7PNLkvCgoUTxmC1k91t5OvaopYj3JJOE9ZaZRPJ3BbLsTz+c8BE9NO9912Lxmucq8CjqNvDTIhryPuiS9vDZMPcpGYD1DWdW8ISeQPVSpxLvej5g8KSUtPFUB1bviFzI8BnFtvTJu8bx2RVG6C2FAvOb8FT3fWga8T8KzPLSOgL3gK/y86Y/LPcShQD28/UI7BsmmO/tw9bw6EZu8FNW/OybIobyVsrg9Y56OvCSDpbzO00Y8OQ6Ru2fNqbuXIms7GxLXu51F37y7oIS8AMrMOFdMsT1EwQk7h5rVOqtkC7xWwbK8WoYJvYCJTj2VZbw8bpClPRpNcr3sdb+86jMjveH1vj0aJ3g8xNveO/6nTbzhpQi9N+KUPN/gyLxzd7Y8VWjXO1tRYD1Bj5m6owImvVG8jjzaRRs84c4zvKio7LwQOrg84acxO7n2Mj1ZtDk9w+esuzB+vbuwiPA8TrYXPa3bND1sgbm8w9SFvN5+kDxYDOa8cI/6vHh7nLwli2q7ZTQFvYxpcTytmCO8BGrIO98G+zwQEJW7AGt2vK0CQz08BGW87FFHvNqfmT1Ezlw8cCybPP8C6Dwf2PQ8FLIUvfgjHzyckh+8QVGKvF1LIz3SF8u7RecXvXyZG7xoErK8Swg8vUDY0Lz0Xtk8QNHbPAYIW7wjY9Q8RMHXvHJcw7y3K+K6GLxpPTePz7wuSoe8BqDUvJgTibz4BtE7kTDXuzfFPD1OrR68kdt8PZlDCz3Q5BY9VVyqvY6WBz3KhzA9AwG2vMSYsDwS8AS9WGwWvQh9k7z95eU7t+tpPV6/DT3gpqi8fU1hvIe1X7w+WtK6ugIuveJiDr2b4q08pAlDvZlAVrxFKeY7H/Mvvbb7yzwHS2I8iAOovJhpMj1ZvUU9MKQ0uywg3ryO05+8cFFTvYTLJ7zac/e82HvSvAOCobyAr4I976UaPQjQ57yS5Jw9fBxKPONhhL29l466J0IAvWcA0ryhstq7M6SsPLFjir3VUxg7dQZjPJt/1Dxic5+8cOl1vMm5CL1hryw9MlEpvV6MoLxCs4q74sLKPa9UzDyYxo+6MFqCPNT+yjxsOQs82WTXPFa7Xj13PYm7UNWfPHY+VbyXTbk8Dkk+PVl8JD1PdP08PMOfPJyGuTxaYsU8H1srPc5TLb0dhOc7RjdsvAr/TDvWMoI8yAZCvc7IMzzY+9U7nW+DPMoPHr0lito7uGPqOhg9wLtWArM8h7NdvfvBuzxAVqG8WkcMPXAfury+Fj083+0kPBdIqDx005u8ia/hvNaSPbwJ6D69LBHIvITfHD0YbT29WBYpvJfd+Dx0h1w9Fbx/PROQMLwsawi90+2VvDLS07yr/vg8BiYdvZTNGL2+NoW8vTTuOQJu5ztDdAS9bqZXO4wYuLqSg0y9grDSu8+DSDzdjfc8MWAMPICwD723uYQ9wl3SvMaqgb3FECa9FgkFvNxjTL3bTzE95hzrPNgaq7s20mM9kK5TvP8YqL178JS92BCbPPIm+ryFMiw7W+UnPGQNODzSbws96HHRuylxYLxg3eW75OCsPLUl9jqIsdm8Gx8ZvUXZxjtfD648Fx++urn6Cru0/1M9aHeOO5IDBL1sK0i9vU+tPKXCgD1/Dfm8tx+BveSddTyAuHQ8LStmPfp/sjwugGC9ca++PFBFNDwCK4S9WnMyvapWwTx/d4E6Hh5cPFpair1RVpQ8UX8ivUqyBbvotVy8IdGCvF9G0rsAzJK8/+CQO5HWGL0uHWa9k+vIOwA8WL1XZYo8NSplvciLiLxkaPI7R63wPG8uIDwK1SE9pTFFPMnSmz3sriY8uG04u81uMj1kGI49IOSmvJXasrvHrg08zX9XvPKWSj1bQEG7CUu9PJvkMLqt7jQ9oPcxvRbMLr1Vi5m87cv7PCRfEj0I/hO8J4UKu0kZNr0dc1G8CjwIvaUk6Dwan0C9mP8FveSqYTyoAoo7QOJGvDIk0bwC+4k8BZZrPDPahb0ZUFY9rCmYveogA7wxV+u8aLYJPQppLT2fBZc8e2gPvZHnqzyvmaQ8vTt/Pdr4gLwUrGM6xlstPTxOEL2aIzE9fIhtPZMuijzq3k87stwAvASbuDzVmXO8/e6KPLmFjTsNfTQ9FOXjO8jscjxY+q48vAPbPEI4Pb3o35M8zArIvLu0Mb1OPJY8LPp0u+7Pd73uXw69akDevMHThz0TCu85zsvOOzho3jw3gym9yScqvdkVAT3wGEI7LTwgPPl/kDv47Au9rwUlvEcT8rtIkAM9GTOLvM4CYLyjKRY9eH0SvYU8nLyHf6O94XIQvdu0gDzEDTa8"
}
