bundles/spark/kbs/soar-playbooks/entries/pb-illuminate-analyst1-integration-demonstration.json
{
  "id": "pb-illuminate-analyst1-integration-demonstration",
  "title": "Analyst1 Integration Demonstration",
  "category": "playbook",
  "content": "A quick demonstration of the various Analyst1 enrichment commands.\n\nCortex XSOAR/XSIAM SOAR playbook from the Analyst1 pack (illuminate, partner-supported).\n\nIntegrations/scripts used: Analyst1, ParseJSON, analyst1-enrich-ipv6.",
  "raw_yaml": "id: Analyst1 Integration Demonstration\nversion: -1\nname: Analyst1 Integration Demonstration\ndescription: A quick demonstration of the various Analyst1 enrichment commands.\nfromversion: 5.0.0\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 8b0bdd64-91d3-4b4c-8ef4-355d7ec2fb3e\n    type: start\n    task:\n      id: 8b0bdd64-91d3-4b4c-8ef4-355d7ec2fb3e\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1770,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"1\":\n    id: \"1\"\n    taskid: 11464b2f-f56f-426f-859d-a58a963eee92\n    type: regular\n    task:\n      id: 11464b2f-f56f-426f-859d-a58a963eee92\n      version: -1\n      name: Parse Incident Details\n      scriptName: ParseJSON\n      type: regular\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      extend-context:\n        simple: IndicatorType=indicator_type\n      value:\n        simple: ${incident.details}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1770,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: 600de374-b058-4f8f-8a22-3809b34e4c67\n    type: condition\n    task:\n      id: 600de374-b058-4f8f-8a22-3809b34e4c67\n      version: -1\n      name: Determine Indicator Type\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      HTTP Request:\n      - \"7\"\n      IPV4:\n      - \"12\"\n      IPV6:\n      - \"9\"\n      MUTEX:\n      - \"10\"\n      String:\n      - \"11\"\n      domain:\n      - \"3\"\n      email:\n      - \"4\"\n      file:\n      - \"6\"\n      url:\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: domain\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: Domain\n    - label: email\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: Email\n    - label: url\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: URL\n    - label: file\n      condition:\n      - - operator: inList\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: File MD5,File SHA-1,File SHA-256\n    - label: HTTP Request\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: HTTP Request\n    - label: IPV4\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: IP\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: ${incident.labels.Indicator}\n            iscontext: true\n          right:\n            value:\n              simple: .\n    - label: IPV6\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: IP\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: ${incident.labels.Indicator}\n            iscontext: true\n          right:\n            value:\n              simple: ':'\n    - label: MUTEX\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: File\n    - label: String\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: ${IndicatorType}\n            iscontext: true\n          right:\n            value:\n              simple: String\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1770,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: d433f330-a2ff-49af-8828-5eca11a05aad\n    type: regular\n    task:\n      id: d433f330-a2ff-49af-8828-5eca11a05aad\n      version: -1\n      name: Enrich Domain with Analyst1 Data\n      script: Analyst1|||domain\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      domain:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -10,\n          \"y\": 475\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"4\":\n    id: \"4\"\n    taskid: 3f2838b5-6b4f-4bd3-8dd0-a385d9cf7fa6\n    type: regular\n    task:\n      id: 3f2838b5-6b4f-4bd3-8dd0-a385d9cf7fa6\n      version: -1\n      name: Enrich Email with Analyst1 Data\n      script: Analyst1|||email\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      email:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3060,\n          \"y\": 520\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"5\":\n    id: \"5\"\n    taskid: cfe6df5f-b8d3-43e6-889d-71c16cbf4642\n    type: regular\n    task:\n      id: cfe6df5f-b8d3-43e6-889d-71c16cbf4642\n      version: -1\n      name: Enrich URL with Analyst1 Data\n      script: Analyst1|||url\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      url:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1340,\n          \"y\": 570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"6\":\n    id: \"6\"\n    taskid: 3f35ab7a-acaa-46f8-8df9-573c3313939e\n    type: regular\n    task:\n      id: 3f35ab7a-acaa-46f8-8df9-573c3313939e\n      version: -1\n      name: Enrich File with Analyst1 Data\n      script: Analyst1|||file\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      file:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2630,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"7\":\n    id: \"7\"\n    taskid: 1a12da4c-3f89-44a4-8d96-3be99d35ece8\n    type: regular\n    task:\n      id: 1a12da4c-3f89-44a4-8d96-3be99d35ece8\n      version: -1\n      name: Enrich HTTP Request with Analyst1 Data\n      script: Analyst1|||analyst1-enrich-http-request\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      http-request:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2200,\n          \"y\": 570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"9\":\n    id: \"9\"\n    taskid: a2db7be6-9451-45c8-8ae7-231fbe9a6731\n    type: regular\n    task:\n      id: a2db7be6-9451-45c8-8ae7-231fbe9a6731\n      version: -1\n      name: Enrich IPV6 with Analyst1 Data\n      script: '|||analyst1-enrich-ipv6'\n      type: regular\n      iscommand: true\n      brand: \"\"\n      description: ''\n    scriptarguments:\n      ip:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 910,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"10\":\n    id: \"10\"\n    taskid: f02c6099-e632-43b1-8c88-d440913865df\n    type: regular\n    task:\n      id: f02c6099-e632-43b1-8c88-d440913865df\n      version: -1\n      name: Enrich MUTEX with Analyst1 Data\n      script: Analyst1|||analyst1-enrich-mutex\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      mutex:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3480,\n          \"y\": 465\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"11\":\n    id: \"11\"\n    taskid: d21e8959-8785-420f-8d60-f5d0a34af8ff\n    type: regular\n    task:\n      id: d21e8959-8785-420f-8d60-f5d0a34af8ff\n      version: -1\n      name: Enrich String with Analyst1 Data\n      script: Analyst1|||analyst1-enrich-string\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      string:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1780,\n          \"y\": 615\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"12\":\n    id: \"12\"\n    taskid: bc79e3f9-b069-49f8-84f1-114701110bfd\n    type: regular\n    task:\n      id: bc79e3f9-b069-49f8-84f1-114701110bfd\n      version: -1\n      name: Enrich IPV4 with Analyst1 Data\n      script: Analyst1|||ip\n      type: regular\n      iscommand: true\n      brand: Analyst1\n      description: ''\n    scriptarguments:\n      ip:\n        simple: ${incident.labels.Indicator}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 520\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 660,\n        \"width\": 3870,\n        \"x\": -10,\n        \"y\": 50\n      }\n    }\n  }\ninputs: []\noutputs: []\ntests:\n - Analyst1 Integration Demonstration - Test\n",
  "product": "Analyst1",
  "pack": "illuminate",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:analyst1",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "/L0HPYgRIr2xmJO9UZknO1Cbjz0iGQq8heKGPHNXBDx4xgu9gIQ/PLu9oDuVOhU9x10gPaQSsbwhQvk8aUS+vLSbNz2mygC8n1MWvUvITrsXZVK7Yi9TvcnuSjy044U8qD83u8KuybwsnhO96GmlO5K+tjuVolk8CNk/PHGaRzmA02s8mUqaupE5gr3exvq86UUcvSBiIzvbjje7x4+yOjDcSLxXDja98JaFvU41Wj0ImX88B2RdvRP2xrsW8xE9BPwpvQ1Z0Tw7fXU9X6G0u203db2DfXE8eeAjPVeErrzxixw8pN2lvTEu4jxEuWs8zU7zOkRX4Lw7CJ47TPuaPIBYjD1bVTE9wM9XvQmhgjxmxEC9J49qPUyP/7ye5w08P0fHOxOQLrxC3BC8dG45O5G+X7sF0U09osUaOzAQiz2rwCe7pdFmPep6kT2BZYw8/9m6u843izugwra82pxfvXtXJr3aoHq8IrvFPfPfIz0UJ/C8ssYkPVQyjD2QEUC97z56vRa18b29o5u8UAd3PcCMbLzMMSO9gxbTPOBf+rwEeiU9DA4ZPbYvnLwkexu9b/c7vKjaA72bprm7VskVPHe+Lz0cSC89N50QvRVxkjzzhEQ8wtaLOyt5kbzyoTS9s9iAvODISzzH10+8Kazzu+ccgz2JsnU9L7rpvJ2ekrzO3s68z4IZPIOrzD2QBna8SmZdPXATF713+JQ8JGsCvewRST2Rvbi9yp4sPVPxYDtbeIQ8FhAhPTAarb13gpM8ds5QPfQ0Z7suLnc9mRXHPVMaSrzPf2u9wuJ6PN/I37y1ZCG9wbATuxHTlrx1OWU7b30IPHG13rxf/Qy8aIcYvWaCJL0Ifq28E1FVvOg33jxUlci854eDvdlyDb3vuTy8ZD6vOubhQT0zKo+8ZZZmumgHXb1OPeW8Db9lPMkE1DyO91+8qTNivNR/FjxGjwA86LJDPfHeLzwcHci6PCPvvbioST0bBHo8Z7wvvQ3U3zs/V4y8kB68PHG73LzDAa+8IveAPBcRED2S+gi9Lqq4uyjajj3uxgW80bUGO8HWnTvG9JU9j/5FPCI2y7w9IBK9WvBtvOVZIb03+oG95jLKvN4lgzyFXKu8rJRNPQYZ+DzXqjw9aGwQvY3FLjwwlgU9N7D3PIzlGT26GOQ9KbCvPAIhizxKpbG8nEQ3vc/5gDt5YiU7DB2GPVQMwbw/VU49nBfGvHcMBL0wmrM85IcEPcEEWDtelt670X9qPIseIDzzeZs9TUQLPXapO70PCYQ8dVpyvOVE3zy37309usCJu5C4oT0BRk+7PhAGPHbtiryrAP881RgnvXL82TtSHTa8uqolPCGU3zyVgPq8PYgNvRJrZzuWuK69O1rwuitxMLzbw1c8jAwXvO/85rsRqZm9zxbJvP/7k713EAe8OAYdvXnH5TwB+o07q6+yPVmJ6Tx3oNg8DcKwPIFdkL2yDU+7r7G2PDsHO7zTQMO9mW0mvVPUgrwtzKG9PjEIPVWa7LyzlzM9Gr1KvShVGb18LCY9QUgtvTDp57x92sw8hz+sPInEjbuyBJu98cORPSQ+HDwi/To9HAxUPciox7yFHU09BxmPPSUgQT23oJo7keedPKeqJr3Qqe06lOQ/POixT7wcqik9g0O1OhY1ZbznoBi8mL6AOjPAV71KmjA803nBvJ3ovr0Cwte8P7H9vOmJkLw1PoS8+PLFOwkzabxpIq85bMzyu3l5abv3gt+8rSG6vDwObbwoAgC95j3PPBJxfj1mXMS8cGekvHibzzu36408cbW0vI7Gmjx4BOc9hDwyvbOh37zaOus8v1ubPZHZgzzeVZU8OswdvXxw4jzopI08zkg5PVWMgD0eTE+8R15jPQY3ILytLsc7KJdHu4UK7zzv1mw6njVave5E6zwo3he8hlDLvItGCD3kzAg71G0rPB9jjL0H+oC9dkjGPPEpGj3KJZE5DXUWvbjKzryEGsi7tPGmPGvAWrxHOAk9aoULvWAABrzOnBI9HDKKPPjP8bzJXeu8ozt9vC8xSLx6AhE7/jvqudy0BD1WJjy9DiQkOjNI+zy97S+9iys9vbUEhT2NqA49zE2wPLSZZ72A+D88hb42va906zwk2hk9RrIGvI/ibbzt0ZO8OmHLPA6zB702IfQ8/P/MO5ORhz1IqNY7eH8GO9+9nTy6ik+7lAtDPezzBr3q7L08ZaMHvJLTjrueEKw8MmtivKrCnruX0VE9kJ7PvF6oSTtsQoS898ArOjC1t7wLz8i9f4LZvEOL0rxkWQs9OsH2vDeVtDyRGTU9x4SavLNJWjvJqwy9f9laPOHqqDpCRBA7A1/fO54DQT0xNaK7r1u1PIb/Dz39cTY9cf+4vECxfzsh9vm7Vg4FPWvxXjwo4MY7c1lBPA76S73UBZK8soo9vVc69r1JSyG7rLXFOWIquLtGZfS7waHgO9DZ6TysVVw9+rOKPZNphDv4sFa8AYQEvS9jhzz+tYY9xwJyvBGlHj11XEY960YJPWl8/zx05ao8RyrnvAaU9TzeF2g8ahIjO8n9Ib24Eha9QyHZvA0HXb1bxdC8LobyPGyStDw0SDm9C2oHvUp4ErzUvGk94oyRuRUg/jvnNV29b6qovG6CiLwhwO67ooqDvOONaD1U2yy8QDJMvb1vcz2DEFc9YobtPIcvDD36Ja+9TagdvIaAFrqSOLW7KvulPKwEU7zbP7E9Y40kPQ07Mr10MAo9dJlKvSA7SL3oyd87ihkWvVIEV7xciMi73/zUPCEqL72zBAA9L5guPYdYqLsCrBO9xugnOooyMb3Q8R09eE7VO4IY87w5STO61w4hPWXrFz2dmOk64eOOvHXCezr54sy7/VzYPB48Rj3GJZK87yX1PKOayjypnVI9Qcz8O0VGFT2gSAQ8VP5cPD3UHD2GfR665LeaPMjwPr1wPaE8qHiFvAS8IDxfQgA8jk6JvVv5zbxt0wK9255mu+Hyjrzyg8w8HDpmvdwaoDp8Jpe80qZPvVbIF73tZbm8G9Z4PXKZfDzCXfm8dALxPEWBX7zbba08mZp3vSiIZ7zgNz68TjHuvAJedT3RCzm89lMbvfZuWz0Ercg6ci6RPVyMJL1sl/O8HKP8vOJyjjs5M3i8FQ9AvREmfL2GCaC8UP+1vJOBJrpnMcu7uTnpPJKCWr0BbGy96qWcPO0rkTwZoCm9v4uRuopESr2NeiY9H8eju2p+QL0w5Yq9u/WtvJ3cH73fAmg7X5Y+PG7IjzyuUCk9IrQfvUmNB73d6CO9YH+YPIcWIb1nBfa88SgSOhww8rwHvBs9WibHvKgIh7uJec28r3iDPL1FHL15pju9gHfzO9tGej0czBI9dRLxPCPqrzvpimK7wghKvTIk/7z5jgK91W8CPI8O+Ty6bAu7b5MUvVRE4DzxIgq9QT77OoE1VrxRMMC9Jm5DPMka3DzpZSq9X0SLu8NRorxaZMU8NoBAPYXSJb0SrQQ9fyFYvfDe3jrMZis8rC2uvAhl7Lwh5Di9fnxBPV/Qgb0l+mq9ThtfvfcgZL3G2I88oJwqOytjNb12eom7+pYyPHbeqDs+SJ082EuoPI5GOT1YmOM7578tvfRzbz3Pjq097gCMvEjXQrwa/tG8NlpDPL3TJz3sa2O9JPQvO0Q3BjtxSzs9nOnsvFApuLoIxwK9GxtPPcj5SD0mU8W8crVYvEOLGL1Joho88upVvHq3gj3Rea28VNuSvdFqIDxiMP68vSCzvegMOb0BUPK82VBePBhBPLkjp5U93XGFvcM01zvPqgK9/OAyPfUvGj1X83a83tFwPMJfRTwhbDc9vOuBPa4lB7yT1ti8TX3IPN1cLr1+0VI9fg5DPUKMu7zR5r671JM7vI0bQ7yoK+S7G32HO0K3jD0QfmE8HxWnuojbujwxe1c7JWghvfwrnb0UhbI7erdmvBeubrxCt2o8mcVvvfbqDb2N85a8Xt6+PDHVMT2wmwQ9SccAu8q9u7zuI787Tjk6vbe0ezwATe87VSiiu7MbNr0f4kW8LC08vBRaUryh1Ak6V/OGPBmb2rvlH1M9Rlq3vMAvlrwembq8paMDvRxEKz1wslw6"
}
