bundles/spark/kbs/soar-playbooks/entries/pb-infoblox-bring-asset-data-back-infoblox-nios.json
{
  "id": "pb-infoblox-bring-asset-data-back-infoblox-nios",
  "title": "Bring Asset Data Back - Infoblox NIOS",
  "category": "playbook",
  "content": "This playbook brings asset data from XSOAR to Infoblox by creating the host record using the Infoblox NIOS integration.\n\nCortex XSOAR/XSIAM SOAR playbook from the Infoblox Inc. pack (Infoblox, partner-supported).\n\nUse cases: Network Security.\n\nInputs — name: The name of the host record.; ipv4_addresses: The IPv4 addresses to create host record with. Example: [{\"ipv4addr\": \"192.168.1.0\"}], [{\"ipv4addr\": \"192.168.1.1\", \"configure_for_dhcp\": true}].; ipv6_addresses: The IPv6 addresses to create host record with. Example: [{\"ipv6addr\": \"2001:db8::1\"}], [{\"ipv6addr\": \"2001:db8::2\", \"configure_for_dhcp\": true}].; view: The DNS view in which the records are located.; comment: The comment for this host record.; configure_for_dns: Boolean value to decide whether to configure the host record for DNS. Default is True..\n\nIntegrations/scripts used: infoblox-create-host-record.",
  "raw_yaml": "id: Bring Asset Data Back - Infoblox NIOS\nversion: -1\nname: Bring Asset Data Back - Infoblox NIOS\ndescription: This playbook brings asset data from XSOAR to Infoblox by creating the host record using the Infoblox NIOS integration.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 273873b5-676c-4973-866d-f50bd13b12d5\n    type: start\n    task:\n      id: 273873b5-676c-4973-866d-f50bd13b12d5\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": -70\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 3ed1e93d-c6d1-461d-8443-99b277b40960\n    type: condition\n    task:\n      id: 3ed1e93d-c6d1-461d-8443-99b277b40960\n      version: -1\n      name: Is Infoblox NIOS integration enabled?\n      description: Checks whether Infoblox NIOS integration is enabled or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Infoblox\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 70\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 5a340212-0561-4c17-8d88-3d2f61506e78\n    type: regular\n    task:\n      id: 5a340212-0561-4c17-8d88-3d2f61506e78\n      version: -1\n      name: Clear previous inputs\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      key:\n        simple: Collect Host Info\n      subplaybook:\n        simple: auto\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 320\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 811346e2-bf06-4b46-8e11-98620df0f8f5\n    type: regular\n    task:\n      id: 811346e2-bf06-4b46-8e11-98620df0f8f5\n      version: -1\n      name: Create Host Record\n      description: Creates a host record.\n      script: '|||infoblox-create-host-record'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      comment:\n        complex:\n          root: Collect Host Info.Answers\n          accessor: \"4\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.comment\n                iscontext: true\n          - operator: trim\n      configure_for_dns:\n        complex:\n          root: Collect Host Info.Answers\n          accessor: \"5\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.configure_for_dns\n                iscontext: true\n      ipv4_address:\n        complex:\n          root: Collect Host Info.Answers\n          accessor: \"1\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.ipv4_addresses\n                iscontext: true\n          - operator: trim\n      ipv6_address:\n        complex:\n          root: Collect Host Info.Answers\n          accessor: \"2\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.ipv6_addresses\n                iscontext: true\n          - operator: trim\n      name:\n        complex:\n          root: Collect Host Info.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: trim\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.name\n                iscontext: true\n          - operator: trim\n      view:\n        complex:\n          root: Collect Host Info.Answers\n          accessor: \"3\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.view\n                iscontext: true\n          - operator: trim\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: default\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 1240\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: ec39e3b7-0ccd-4be7-82af-f61ef5fadf2d\n    type: title\n    task:\n      id: ec39e3b7-0ccd-4be7-82af-f61ef5fadf2d\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 830,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: bf0b003c-29b1-4114-8262-e7650491cb8a\n    type: condition\n    task:\n      id: bf0b003c-29b1-4114-8262-e7650491cb8a\n      version: -1\n      name: Check whether host info is available in playbook input\n      description: Check whether host details are available in playbook input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"12\"\n      \"yes\":\n      - \"10\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.name\n                transformers:\n                - operator: trim\n            iscontext: true\n          right:\n            value: {}\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ipv4_addresses\n                transformers:\n                - operator: trim\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ipv6_addresses\n                transformers:\n                - operator: trim\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 2dec33ad-9b9b-4859-8246-5470382be1af\n    type: title\n    task:\n      id: 2dec33ad-9b9b-4859-8246-5470382be1af\n      version: -1\n      name: Check for indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 60520d20-ab5b-4cb0-8710-5249363a77d1\n    type: condition\n    task:\n      id: 60520d20-ab5b-4cb0-8710-5249363a77d1\n      version: -1\n      name: Check that host info is present or not\n      description: Check that host info is present or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Collect Host Info.Answers\n                accessor: \"0\"\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.name\n                      iscontext: true\n                - operator: trim\n            iscontext: true\n          right:\n            value: {}\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Collect Host Info.Answers\n                accessor: \"1\"\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.ipv4_addresses\n                      iscontext: true\n                - operator: trim\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: Collect Host Info.Answers.2\n                      iscontext: true\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.ipv6_addresses\n                      iscontext: true\n                - operator: trim\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 1030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: c88148c3-db0e-4356-8a25-0aad28f2a94e\n    type: collection\n    task:\n      id: c88148c3-db0e-4356-8a25-0aad28f2a94e\n      version: -1\n      name: Collect Host Info\n      description: Collect host record details.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      extend-context:\n        simple: FoundIndicators=.={\"value\":val.value,\"indicator_type\":val.indicator_type}\n      query:\n        complex:\n          root: incident\n          accessor: id\n          transformers:\n          - operator: Stringify\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'investigationIDs:'\n              suffix: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 610,\n          \"y\": 710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Collect Host Info.\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Specify the host name.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The name of the host record.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Specify the IPv4 addresses.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: 'The IPv4 addresses to create host record with. Example: [{\"ipv4addr\": \"192.168.1.0\"}], [{\"ipv4addr\": \"192.168.1.1\", \"configure_for_dhcp\": true}].'\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Specify the IPv6 addresses.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: 'The IPv6 addresses to create host record with. Example: [{\"ipv6addr\": \"2001:db8::1\"}], [{\"ipv6addr\": \"2001:db8::2\", \"configure_for_dhcp\": true}].'\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: Specify the view for the host record.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The DNS view in which the records are located.\n        readonly: false\n      - id: \"4\"\n        label: \"\"\n        labelarg:\n          simple: Specify the comment for the host record.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The comment for this host record.\n        readonly: false\n      - id: \"5\"\n        label: \"\"\n        labelarg:\n          simple: Specify whether to configure for DNS.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - {}\n        - simple: \"Yes\"\n        - simple: \"No\"\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Whether to configure the host record for DNS. Default is Yes.\n        readonly: false\n      title: Collect Host Info\n      description: This task collects host Info to create a host record.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_4_yes\": 0.46,\n      \"11_6_#default#\": 0.2,\n      \"1_2_yes\": 0.58,\n      \"1_6_#default#\": 0.1,\n      \"8_10_yes\": 0.16\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1555,\n        \"width\": 600,\n        \"x\": 610,\n        \"y\": -70\n      }\n    }\n  }\ninputs:\n- key: name\n  value: {}\n  required: false\n  description: The name of the host record.\n  playbookInputQuery:\n- key: ipv4_addresses\n  value: {}\n  required: false\n  description: 'The IPv4 addresses to create host record with. Example: [{\"ipv4addr\": \"192.168.1.0\"}], [{\"ipv4addr\": \"192.168.1.1\", \"configure_for_dhcp\": true}].'\n  playbookInputQuery:\n- key: ipv6_addresses\n  value: {}\n  required: false\n  description: 'The IPv6 addresses to create host record with. Example: [{\"ipv6addr\": \"2001:db8::1\"}], [{\"ipv6addr\": \"2001:db8::2\", \"configure_for_dhcp\": true}].'\n  playbookInputQuery:\n- key: view\n  value: {}\n  required: false\n  description: The DNS view in which the records are located.\n  playbookInputQuery:\n- key: comment\n  value: {}\n  required: false\n  description: The comment for this host record.\n  playbookInputQuery:\n- key: configure_for_dns\n  value: {}\n  required: false\n  description: Boolean value to decide whether to configure the host record for DNS. Default is True.\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.10.0\n",
  "product": "Infoblox Inc.",
  "pack": "Infoblox",
  "support_tier": "partner",
  "use_cases": [
    "Network Security"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "network-security",
    "playbook",
    "product:infoblox-inc",
    "soar",
    "support:partner"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "hbWeun3ggLwFOnW9HnRKPb1ajj29PO059tkSPcNfnzycdqK7wYzqvM6obbzRCng97S9ZPf3V8zz1/Nm8+WjnvH+i1jweNV49EsRkusrIzbx92wC9oHX9vMSCGjyGwx880zagO0qKsb3K8io6CEWsPNWpL73aRrS7/hmpvNMeeT0Q7nG7YW0HPDc+2DxtlBS9g6hCvUXn97sEVwO8s16+PFgZjb1GpIu7ngAXvZv6Aj1uehI9nn8fvaHDkLo/SBE9iLWBvKgPZjyUaYM97aq/vKl1f72HC+s853UNPK1TK725Ypi8tQrBvEbXt7yfsjo8CFwVvQ2QQL30d407SaJ3PVROPD3/XFU9HHgoPXo3gjx2H1W9x1C9Pbs8wLx23jA90XbwvFFGkjt1yVs8/EJaPCPsk7wGRCc7QIDSPJAADz39wdE8D/jVPBdSoj1z0F+8c7sJvTP0FLuXp8m8vgSlvQLQA7x1EBA80N3TPeWsuDwMDQq7aI5oPQJiiT1L8zK8GbLLvXXX5L3pDA898/M0PSMedzyYqz06qAJNusG5cL0ACwQ8dAoOPVVkRLxENpS9dN2EvXwOvDwMeCo9r70iPE6XUDxY7rE73G1LvQsMAT2gl3Y88QsAPUEpP7spKzO8Op0CPbkAEz1Ctjw8vM0JPanMYz1NM649ZdxCPHytE71Ncq28ufWZumK/Cj2c2BQ70g4ZPZDuoLyRKUi8AXICvAtq2zwynbg785HlPHxRc7yTbe+7WdvcvAfwi70paPe7tYpDPaoJnjgyN1U9xDf0Pe8jv7yW8AK8i70QPSv9JjwQuYy9ck/Lu4B/gb2rjRO9vTEWPS5Hc71uKpq8/+GcvRp5IL006Y68+UqMu4Xyzzwj/ve8JUTTvLsHJr3L+MA8lGZivXT6Iz1CFUu8eA14vdNxF70Ye7e7o2PrPDdSHT3bVhk7FV16vMm0XDwk7966eXeIPUBfQLyO/3u8m44HvulrSD1wiuY8rv8uvbCm5TwKt5G78LivvC90BT28aKm8yK+pPKAHiD2AVsW8jVZzu8995jzBhXU8813Cu2EW9jzpNKk9efG2vIyIJ717Wu29ky6IvdBFXL16Oza9XiAwvcTSI7uiBn28CwI9PEm/JzwNIAC9/Q9/PNBPwDzQQVI8GQCbO0c2IT2hGBY+P/vOu/GzWD2A6Qk8heYSvfCuyTtdR9q8sB9QPVrifL2J/E89NFqtvOq9q71fhE48ldSbPTiPFL3Q5zS7HLtLPVZKrjwVp4A91qKouzvDG704IDQ8GLrVPHpKAz2Acew8fasWu/Gwsj0NYDK9Yy3jut6QUjz50Go7AxUJvZI6Hb1yUjS826Lduh4UJT3D9PM61pM/uo7dhjyUWMC8pOREO+rhIb3eFCg9nJEKvfKsSTxvmYK94AiKuI1Okb0vxbW8GeYPvT3ijbxTMGg8aLgzPaUlxjzpQDy98ifIvBi/i70U6oE7PZaDvf8OyjyZ0mO9JuRfvZqoN719s9S8fq8xvGT9bL3SyLQ7w+RAvSmRtLwsDZe8qKZMvZVXqbzjRV89fxVbPeZNiLxtmpu8GdIFPaDkOD3VDCk8SCiNPbWqkby4/JQ7G0klPd90qT136hm8T4L9PMmxXb2KFZe8HfEfOz25EzwwXnc8j2GFPDfOPTuml2S8svdDvXeqg7wfUsy8dp3UvBLI073yueK8d/GOvJVauLy3Gqa7yAW9PJPjajy/z808dK1MvG0LU72FghQ8/NWpvcpnvry7viy9ghvVO0JgNjxrdyY8fgXIvKYCqTxx17o84vG7vehyFD0Rjtk9+cDXOzyVjbzeWgE9BN/1POUYxzsznJq8D0njvBNhpTxpSRm9VcwOPScPNj1KsrA5AZBvPcR4Dbx+WGE8Qc4PPCjZDrzMByo8hxEQvUqh9rsINLY70MalvCjbYTw2/XW78UKePGrFIL1jbBy9AsUXPcRCID33zbM89q0luxzpkLwrPy88YDvFupFoB72fPXo9X1PbvNFz1rvT97s8eY72Ohm3/ryL1Ii8J7XKOunFEb04cpS6kID1vG4uvD3dI2i84rYgPQ+lAjwvyRm9w8qDvS2Viz25aEo9szCBPUBS17yvMn+81q7EvNnwlD0vfvE8GKAivbcLF7zZcky8rHGIPLwlKL1gW/w66yycOidWkDzHX6I8+c5EvRY6mTzINh098uBIPGb4B70PW6A8fnyKPAc1JrvBDGY7QPaNuefiM7z7jqQ9rwkru9st4jzO7sq7U6UEu9J2M7wXIyi9WGvNvDhcfzsZjtY7QIYqvHIBezyi5lQ8F4HnvAswMD15+MO8XCHXOxfnNz0o3ua8brbOvB84oD3QtzA9V3xgPF/xmj3m4l89C0YNvcKuxDwgMAG91QGYPKeAuTx76Ty8KuZwvfgN5zsKtSq8hlcfvWKUjb3FGl09mpHSOWARv7yeVI47S2/gvGlVyrwAJ4w8DTpuPR5gg7xH5Oa7k7bNvB+qqbsCURM8oTo3vHj5ijwQLZU8RCAkPTKbDD1HJTQ93c2Fvfp3oDwC7lY9tSpGvJoviTz9wdC8kPddvdJlC7x9NDS9i3djPToQTTx2xm69mKRTPK0qIrsa0Rc8k/PTvMf0rr2MUZc65WfnvD+x6rx2roc81O59vRUQkTvif708qg33vOIkID1Ap4895BzKPN9wXbwqwMi70zBovWmGhTxb3B6951uxvOiSljwjyko9TVb2PDTrG7016Es9xQ+9vJXbcL1HBYq7aGIhPPnmHLzLyZE8bFvBPBZZjr0bAzQ8//XNOzOokzyETZi8JozVuj9mDrsEckA7dnTTukOLVLxyDnu8ctWZPSCuKjwekxM8jqMOve/xrTzH8t88TOQCPQ9xhj0itg49PuhxPa7ITzysnas8WcwkPWWlyDzlSSI9VZeNujWNkjwmTCU8eqT0PFHFYb2xC3e8+RzLvPAtYTtOi6G8S+BuvbO+oTuklRy9JfqjPJs1l7w9Qhk7x/bOuwbWUbzX+NU8G1NVvSACk7sXAAK9Pq8pPU22oTwnCQk922yau5iNEDxDNMY8KW/WvJnEr7uLWr68+kJbvI+7Gj1+em29JiJEvFNNEDzMW1Y7OmABPfecnTyHFwg6jFdWvNdS07wwL+M8YfFivd9F9LwmOQy9w89AvMqb5zv9NSS8dPeAvPoXJLw/vS29QV4MvH5lVjzUUAc8DtgqvKK/K705REU9Nznmu1BpIb3SSma9YwEWvcjVWb1HdDY9nfEZPVqCurqbkVg9O4q1vJk4Pb0JvKK97z/aO59+Vb1CwRS8qxFmvFKNOT0o3jw9H9UFPWyGwrzjt3Y735LwPHt2Kb0Aku28KMEVvc2wbj2bFhA8ZUiVvMHoB7voCts87tSjvHfohr0Gc5i8pnGHPIsI9zzIsyo7EBGAvRqeJj0sqMk6wmXnPF1ZhDywm1e9UBQ0POuDMDzaXmG9lxuqvAU/wDyGLii27WgJPYWyuLywMrk8/JvwvARm1bwDopA8LNZtvM5ulTrNsjq9WOWwPB7oLL270I+9PCXbO9Kd3byIdUU8jHQ+veIKzbyUVJC6gPGEPM9i6LwP8hI7QQYpPYf/QT3fHz88CkeUvLYPAj1z3mg9Vt9SOk7VprvwXqe8JhQbvR3pcT0tKj68q8qTO9duJrs3AfA8w3ohvXkuoLuzEV+8xiMBPbB62DzwGt288HbeO89b2bxWYtA7p9owvd5oCLy+qdS88eU7vVYcRj3znZU7Xe1bvUlzMLx2Xuy7gTjquMHYzbznx3s9H+CVvbFnzLw+Y0e9rUirPFBeRz2VJ788U9WMu3Vb17vZaa88aTMjPXhiQDzJ61e78Z9qPYEK7Ly6YIY82uQdPfn+ZTyQ/1m893YFvDnCIzwcr229FuoNPAT4QbwB6SU9RMgAO826XTxrF2W88wU5vEasfb0vpvE8XpGevAih6Lzm4OQ847z9vNnvWr08PCu8CItuuqaLlj3JkT48NOkRPfLhZTz850S740AivZn2/zzFWji76ugtPPeqHDxpLUS8FnGJO+VtSrsQ1uQ7hTYZvdQDq7xsbFU9hrcEvZ019ju3R429Pz7hvAGUOD0Ebg+9"
}
