bundles/spark/kbs/soar-playbooks/entries/pb-mcafee-mar-mar-endpoint-data-collection.json
{
  "id": "pb-mcafee-mar-mar-endpoint-data-collection",
  "title": "MAR - Endpoint data collection",
  "category": "playbook",
  "content": "Use McAfee Active Response to collect data from an endpoint for IR purposes (requires ePO as well).\n\nInput:\n* Hostname (Default: ${Endpoint.Hostname})\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (McAfee-MAR, xsoar-supported).\n\nInputs — Hostname: Hostname to run on..\n\nIntegrations/scripts used: Exists, McAfee Active Response, McAfee ePO v2.",
  "raw_yaml": "id: MAR - Endpoint data collection\nversion: -1\nname: MAR - Endpoint data collection\ndescription: |-\n  Use McAfee Active Response to collect data from an endpoint for IR purposes (requires ePO as well).\n\n  Input:\n  * Hostname (Default: ${Endpoint.Hostname})\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 14834984-3a59-4eed-8de7-54179611c63d\n    type: start\n    task:\n      id: 14834984-3a59-4eed-8de7-54179611c63d\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"4\"\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 705,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: fed35557-6859-44e6-817a-ee0538819714\n    type: title\n    task:\n      id: fed35557-6859-44e6-817a-ee0538819714\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 1710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 71f42a72-b2e7-479a-86e7-bc6ff218671e\n    type: condition\n    task:\n      id: 71f42a72-b2e7-479a-86e7-bc6ff218671e\n      version: -1\n      name: Is McAfee MAR enabled?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: Is the McAfee MAR integration installed and configured?\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"26\"\n    scriptarguments:\n      value:\n        simple: ${modules(val.brand==\"McAfee Active Response\")}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1122,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: d3c21d0d-fc2a-4ba5-8bb9-da70f49ae96c\n    type: regular\n    task:\n      id: d3c21d0d-fc2a-4ba5-8bb9-da70f49ae96c\n      version: -1\n      name: Get host Processes\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,Processes\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 835\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 98827aec-511a-4f30-8fdb-04240496380d\n    type: regular\n    task:\n      id: 98827aec-511a-4f30-8fdb-04240496380d\n      version: -1\n      name: Get host Scheduled tasks\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,ScheduledTasks\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 38ad462f-1c16-4c4a-8cd8-446e19c24694\n    type: regular\n    task:\n      id: 38ad462f-1c16-4c4a-8cd8-446e19c24694\n      version: -1\n      name: Get host services\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,Services\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 1010\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 6e9fb885-21b5-417d-800c-e02aa81cb91f\n    type: regular\n    task:\n      id: 6e9fb885-21b5-417d-800c-e02aa81cb91f\n      version: -1\n      name: Get host Command line history\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"23\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,CommandLineHistory\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 1185\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 69f8efa1-8783-4165-8ce4-2f5e0f3db937\n    type: regular\n    task:\n      id: 69f8efa1-8783-4165-8ce4-2f5e0f3db937\n      version: -1\n      name: Get host \"Current flow\"\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,CurrentFlow\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 08612fec-a2cb-4b1c-8a10-e8148722075f\n    type: regular\n    task:\n      id: 08612fec-a2cb-4b1c-8a10-e8148722075f\n      version: -1\n      name: Get host DNS cache\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,DNSCache\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 835\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 5479417e-4e95-422a-8e92-4f585f40fd50\n    type: regular\n    task:\n      id: 5479417e-4e95-422a-8e92-4f585f40fd50\n      version: -1\n      name: Get host environment variables\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"21\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,EnvironmentVariables\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1902.5,\n          \"y\": 1360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: cd3926a0-6157-4ef3-8fd1-86b6cbd79e7c\n    type: regular\n    task:\n      id: cd3926a0-6157-4ef3-8fd1-86b6cbd79e7c\n      version: -1\n      name: Get host local groups\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"17\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,LocalGroups\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1472.5,\n          \"y\": 1185\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 0287ca41-8587-4bb2-84d6-4824b5133df1\n    type: regular\n    task:\n      id: 0287ca41-8587-4bb2-84d6-4824b5133df1\n      version: -1\n      name: Get host logged in users\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,LoggedInUsers\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1472.5,\n          \"y\": 1360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: c781977e-2b17-4273-86c2-246912262601\n    type: regular\n    task:\n      id: c781977e-2b17-4273-86c2-246912262601\n      version: -1\n      name: Get host network shares\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"19\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,NetworkShares\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 1010\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: ebfbc02e-b674-4899-8586-ea8621533c3b\n    type: regular\n    task:\n      id: ebfbc02e-b674-4899-8586-ea8621533c3b\n      version: -1\n      name: Get host interactive sessions\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"20\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,InteractiveSessions\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 1185\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 79f385d1-1aa0-47f9-84de-f0b579492151\n    type: regular\n    task:\n      id: 79f385d1-1aa0-47f9-84de-f0b579492151\n      version: -1\n      name: Get host network interfaces\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"24\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,NetworkInterfaces\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 1360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: c35f205c-5c9a-4846-85b9-0a11e1b9f5ad\n    type: regular\n    task:\n      id: c35f205c-5c9a-4846-85b9-0a11e1b9f5ad\n      version: -1\n      name: Get host's connected USB Storage Devices\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,UsbConnectedStorageDevices\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1902.5,\n          \"y\": 1535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: cac5062b-32b7-4789-8f25-c28ea0e40873\n    type: regular\n    task:\n      id: cac5062b-32b7-4789-8f25-c28ea0e40873\n      version: -1\n      name: Get host user profiles\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,UserProfiles\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1472.5,\n          \"y\": 1535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: 00e3cf95-5dda-411c-8ec5-027ba3348a21\n    type: regular\n    task:\n      id: 00e3cf95-5dda-411c-8ec5-027ba3348a21\n      version: -1\n      name: Get host installed software\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"25\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,Software\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 1360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: 4afc3a44-f5f9-462a-8f41-dc697c9366e2\n    type: regular\n    task:\n      id: 4afc3a44-f5f9-462a-8f41-dc697c9366e2\n      version: -1\n      name: Get host Network Sessions\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,NetworkSessions\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 1535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: e7fcd15d-3273-4163-803e-26d5e76f712e\n    type: regular\n    task:\n      id: e7fcd15d-3273-4163-803e-26d5e76f712e\n      version: -1\n      name: Get host Startup items\n      script: McAfee Active Response|||mar-search-multiple\n      type: regular\n      iscommand: true\n      brand: McAfee Active Response\n      description: Search endpoint data crossed by multiple collectors.\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      collector:\n        simple: Processes\n      collectors:\n        simple: HostInfo,Startup\n      filter-by:\n        simple: hostname\n      filter-operator:\n        simple: Equals\n      filter-value:\n        complex:\n          root: inputs.Hostname\n      filter_collector:\n        simple: HostInfo\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 1535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: 41252036-b29b-4a75-82e7-68fe3fa9b0a5\n    type: title\n    task:\n      id: 41252036-b29b-4a75-82e7-68fe3fa9b0a5\n      version: -1\n      name: Collect data from endpoint\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"27\"\n      - \"28\"\n      - \"29\"\n      - \"30\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1257.5,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 23bbdc19-0b43-4b5e-8d2b-939183909e09\n    type: title\n    task:\n      id: 23bbdc19-0b43-4b5e-8d2b-939183909e09\n      version: -1\n      name: Users and groups\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"15\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1472.5,\n          \"y\": 515\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: bf8c2f0a-d98b-4059-82db-a9f06f937177\n    type: title\n    task:\n      id: bf8c2f0a-d98b-4059-82db-a9f06f937177\n      version: -1\n      name: Executable\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"9\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 515\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: abee0804-81a8-45da-8fab-a3792b165c49\n    type: title\n    task:\n      id: abee0804-81a8-45da-8fab-a3792b165c49\n      version: -1\n      name: Network\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"12\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1042.5,\n          \"y\": 515\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: c5ff2c93-f30c-45eb-87b7-bcd676d1e7a2\n    type: title\n    task:\n      id: c5ff2c93-f30c-45eb-87b7-bcd676d1e7a2\n      version: -1\n      name: Others\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"14\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1902.5,\n          \"y\": 515\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: e5454d6d-61e8-46ea-8815-7db0da08666a\n    type: condition\n    task:\n      id: e5454d6d-61e8-46ea-8815-7db0da08666a\n      version: -1\n      name: Is McAfee ePO v2 enabled?\n      description: Is the McAfee ePO v2 integration configured and active?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"32\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: McAfee ePO v2\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -100,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: 37b2b961-94ff-4a4a-8e00-99cb34635feb\n    type: regular\n    task:\n      id: 37b2b961-94ff-4a4a-8e00-99cb34635feb\n      version: -1\n      name: Get host info from ePO v2\n      description: Finds systems in the McAfee ePO system tree.\n      script: McAfee ePO v2|||epo-find-system\n      type: regular\n      iscommand: true\n      brand: McAfee ePO v2\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      searchText:\n        complex:\n          root: inputs.Hostname\n      verbose:\n        simple: \"false\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -100,\n          \"y\": 455\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"31_32_yes\": 0.55,\n      \"31_3_#default#\": 0.22,\n      \"4_3_#default#\": 0.1\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1725,\n        \"width\": 2382.5,\n        \"x\": -100,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: Hostname\n  value:\n    complex:\n      root: Endpoint\n      accessor: Hostname\n  required: false\n  description: Hostname to run on.\n  playbookInputQuery:\noutputs: []\ntests:\n- Endpoint data collection test\n- MAR - Endpoint data collection test\n- McAfee-MAR_Test\nfromversion: 5.0.0\n",
  "product": "Cortex XSOAR",
  "pack": "McAfee-MAR",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "mUpsPMsFGDva15O9o6wTPQQeET2ORgc81+tcPcj2XT2RPvq8WxTiPHaiqbzBCVs9pZNaPS5ZI7oW4V47t8A9vaevXT3yKDU9nJYDvAMlubz+bKa8s606vd/QEjyehek8Gh0DvHozjb2qfJM8qqI6vdf7AL2TUPc8wnGLvGwc/jyDWEE6Kze9PERGKL0sOeO8IdfVvKuZiDzz4Ty8fXaqPGMrm73icBq95od3vSmNUz1M0Sm8O4NBva18DbylQUA95RddvQr8CD3jZrg9WRZHPO/lRb3a0+E7tKYXPa4q9rzhpYw87zeDvbxNGbvsgVy6gIJEO/bYEr3C82E87936O9N4DT1ZuFk9UgoPu0HH/7psU5G9ZjLAPeTSOL2b5NY8rO+evEgl2zyI5Aw7/EIHPaJfUbzoIrc7T1WCPCYDKj2AKL48COMMuwe/mT2kiMA7taj4u5jE2bwXRlG84YWgvce2sTnyzra6fObgPfEiGL0V0Sa9lRrcPY9UaT3Oyxc9lU5xvV0Cs73x2kq7c/V2vNrxEr2z4i68AiaWPFjNG7yypQc9jEqzu1STj7tutKG9JKcpvYlCSjv9+lY81NkvPCeDUrsT/QA9wKHBvTrRxrs+rmi8n98qPLqTRbzpPV+9InAqPTDEuDwd6qS7VSPQPC8/hD0mB089VBnaPCQjojuSh7G6QlMFPHhFMT3KNlu88nMsPYS77Lu5Z0u85eIcvZpPOj1VDUC9Bc8zPT61ozqKb/s7uu0wvb1F5L2FKFu9QqzoPHCnADw2toI9SA2JPQzbAbtwMYO9LuYzvE96UjxjzC+988EovKi0er271bI66Z6Yu9x3RL1Qyo08xSdWvWADlr0g7iG9C3o2vXZIc7zthAO9PoEcvBGyxzzN1J+8j1O2vRh0RjzJUoG8D7xEvDS6g72jR0u9G/yAvPtqKT3bUL88nGHJuzep9rzKWyo5mu1mPZyQDjxkapg39SIJvsqORD1drMc8wGW/u5PaIDx1h7y7P3vwPPaFWTwqtxC8q4/RPPkMYj3egRO94+rGuwGvjjv1kN08qqdTvebB/rp4Jpo9NNPRPPxW87yBXQm+Y8aIvQ+2fLuqUPq8ekiKvQ1shry/z5u9pjWrPBLIDzzIRZc7o9lSvLiJWbsQz228vB3YPPiIFj0EAMc91TfMvFpM4jsGuwo7k3HevBQ7wbs4s2C87aNyPesPkbw8mmk9bFbBvA3Ih73jm9A8e8EBPQUWCDvwFTY8c1YxPT8odT0gC5A7MyUSPCeY4rw02ok87PVGvd5O3jyftiM8OMaGuVPLmj0rwJa81eHsuz+t1LxZmb48CJS9vCrjEL19JTK9AztluyU1HT01Ows7gqnBunaoZrzmVM+87yq5PGCyjbwqrHs7vzWNvBw+AD35aTC9fuxZPMq4nL1+PiG9hUcTvUpwhLwdT2w8yTY9PYBuwrxYgOu8OsPavA87iL0IPUS8BP56vDz8Sz2ce8y9bKjHvMcAGL1DvMO8MtxHPFYrwboN+zW70M0NvZXliDyY7B28BOF6vcFQOryNyyE9ii1SPad2JL266YW9RN8pPazNIDymMLA8Qw6CPc069bwl3n08br/OPJq0rT2makC7h4oDPfe81bvHdkO8I4qMu6stFjzGY7w8sHPfO3hMLbxv2qU8ubUivZmalLzx6aa8Pne0vDonqr17ykG9pDRrvB/3LLi9gbE8Y2W4ubQ9gLwv24o9ErQDvP2RarzDGBY9+GkVvZOsuLuIyTO9OuI+uwh6pDuLUgM8LvmYOmr5rTyx9dc8QB2fvVmz3Tz6TNc9lcw+vO0/+TylsVc7LFOgO+PefzzAN1c7gckYPCvKQj2T0Bm9EolMPYoSpDpvK8M8iVQQPY6mcLxmx087g53UPFP+o7sMjCi9IG0svff3z7xXDOw7vrOavED4DD2cyAM9PhaNPLQjG7ylyBW9ns7cPAd77zyQDNE8bVEvvXs12rz5jKC81KUvPAxB6Ly1Thg9GvcWvbhCC72U2qW7NhicPAWXwLzCXxG90SuRPN6eA729K+O7VApxPEaFoT1idlK9k9+UvA6LELte5ZU8+xPHvAIAwz3wi848hJlhPcLnkL0cRRa8o9myvMvQXD069JA8DmumvJGCgDzM2Mq7fMPeOtypjr13IKM8PB/OO9lxLj0osAM9uWO5vBvdcjsYp5O8Gv/5O/E7RLzI6Ds8oSO1vNVoGDwqSmI9JOaCvLPO0Dsffxg9mcDvu7Q3yjxpma47bPIIvea5IDyiHK29gyt2vcvol7qZ1Ri933jfu0jwpbxsUz48x8k3u6g6UT1eEU+8B+ZRvIF9oztQz2689M0IO6lUlD3aJvM8sOWHPH2+iz2EngU9xMbHuk1zNz3TmjC9z9k2PE+YYDyM/A29USMZvD8wi7wX0ZA8y/XpvBh6+L35QDs7dc8Ru1u9MTz/aUS8dM3AuX27qrxY47Q8+HOOPUGUhDv4cbi85il4vdnSfryzQYo9mYk8vE4OND0QBBM9Ig80PWgRAT1Nt8I8V8kFvUX/Sju4FyI9KQxLu7nz6TvY8J286+8rvdF0nTsTELo8e4z1PKTSEj0xZUK98RQPvfKjTrrqbsk8rzdcvSOwUL2zIAa9CIQfvSddR7xBC468SyFEvSJSk7yDPM88K24APT0qDj3euCI9ekoVPRdI7bycf8w8aZfFvFr8Cz2Urw+9VppLPJIFNTzh+No80i05PVl5zrsh0089aQLsumltNL2bFSs8uMWkPNkZiru+7Lo7HI0JPXMYHL1WbXs8xsW+uxLmijxVKoG5UL7Suy3ExLxz/VG8/HDTvMohFDzsT047w6WHPZHnMLxXi0g9GlDMPL4eoD2dO4I8b3n8PHYgnD0le188eRsBvFatqjsyzuw8E9xhu9ZiFjsZ2hE9UJxmPBSvIT01WvO85y+HPRKmrbyHh8O7fcIDvCSpFTzXw5a7OiwKvW8Lxrw7LtM8VOZrvFs4XbytZvu8POw/vUBho7y0qX68yCG/vD2Xu7tynTO8gxx/PEacFTxEvGy8+nGSPFuMPbwT97I7nF1ePEWOLr1HxhO9pUVEvZiKWDx/noC8RBIFPLu/nrozlzS8DwUnPTzQsjvtgCO9SszsuX4w6Lxm4SA8/ER6veaJjTpNsJO9X6XsvPBmgTwclL28obEEPJm9CDzoRFG9+F0lPaVJC7xjBgg9sExDPFy64bszImk9eYj+vHExurwTu2G9COXavHxxkL3wl9c732eAuyDUkbz6zGA9i0sYvHouAr0lC8C870tgO1p4fbyt1wy99Ur0vKK6o7w90aY8M6qhPFqLTLyun2S8DSjkPFx9rrzF5Ru72p9pPAJzsDtVXBg9UTjgvI3bBL1n8hI9qkeuvMFzQb0rB9O8VsJOO8NmLDyqmh+7xdHeuwcQiT2+7c28Rsw2PZpZjjqb8OG9svQ0PO070Tuyfre98X7AOz0x1zzkSLo8CJWPPdXnh73axik9Hd2bvQBMg7ydJSi9dodUOz24F73l04K9wqWvukXhl7zdnKe9aBDlu7x6krypOxM96co6PPPnzLx0mz26WRztPAEaFbsBYw67dgu2PHhmST3/nIC8WKWRPKTHYjpHQhc9McHjvM8lQL3S/we8U5OqvT3VDj09VWI8N29qO+IFj7yZ9hq8FwMrvd5rZLscD6+86QW0PO/AcD0eRQS90qybPMCycryW7aq6vy3YvFzin7xn1Zg6rfeaO1f2pzxBnOy6HXkgvXx/9rwERUC8fSrfvPL8kbyhLQM9LgT9vXuLYb38vz29O3eHPVL02jyWlJu8OZW1u3Ma0Tyu8Ko8HxHAPWGNOjrNq6u8xc0+PVw/qrurTVA9OtR4PY9UQzwNFrK8BNqmvHtSqjuBCPW8HNJqvUlnJz1XTAA9SNCCO+9/XzzJz+m74HoBvKtrDb0pLGi73q4wvaSgHL1P0to75saVvM1d17zV1oI7SuHJvGqURj27kba7YrR0PNdOD7sEqKC98hXmvImQ2bszbak8z4w0PKMCmztWghm8OWn8vJgbKL2y1fc8vcXNOTor0bz6AYs986kLvW0VBr2+fjG99PStOtjvEj03Cfu7"
}
