bundles/spark/kbs/soar-playbooks/entries/pb-mitrecoa-pan-os-enforce-wildfire-best-practices-profile.json
{
  "id": "pb-mitrecoa-pan-os-enforce-wildfire-best-practices-profile",
  "title": "PAN-OS - Enforce WildFire Best Practices Profile",
  "category": "playbook",
  "content": "This playbook enforces the WildFire Best Practices Profile as defined by Palo Alto Networks BPA.\nThe playbook performs the following tasks:\n- Check for WildFire license (If license is not activated, the playbook refers users to their Palo Alto Networks account manager for further instructions).\n- Get the existing profile information.\n- Get the best practices profile information.\n- Check if the best practices profile set by Cortex XSOAR is enforced. (If not, the playbook allows the user to compare the existing profile with the best practices and decide on the action to take).\n- Create best practices profile.\n- Apply profile to policy rules on PAN-OS firewall or Panorama.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MITRECoA, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — template: Template name to enforce WildFire best practices profile.; device-group: The device group to work on. Exists only in panorama!; tag: Tag for which to filter the results.; pre-post-rulebase: Determines whether the rule is a pre-rulebase or post-rulebase rule, according to the rule structure. Exists only in panorama!.\n\nIntegrations/scripts used: ExportToCSV, SetAndHandleEmpty, pan-os-create-wildfire-best-practice-profile, pan-os-enforce-wildfire-best-practice, pan-os-get-licenses, pan-os-get-security-profiles, pan-os-get-wildfire-best-practice.",
  "raw_yaml": "id: PAN-OS - Enforce WildFire Best Practices Profile\nname: PAN-OS - Enforce WildFire Best Practices Profile\ndescription: |\n  This playbook enforces the WildFire Best Practices Profile as defined by Palo Alto Networks BPA.\n  The playbook performs the following tasks:\n  - Check for WildFire license (If license is not activated, the playbook refers users to their Palo Alto Networks account manager for further instructions).\n  - Get the existing profile information.\n  - Get the best practices profile information.\n  - Check if the best practices profile set by Cortex XSOAR is enforced. (If not, the playbook allows the user to compare the existing profile with the best practices and decide on the action to take).\n  - Create best practices profile.\n  - Apply profile to policy rules on PAN-OS firewall or Panorama.\ninputs:\n- description: Template name to enforce WildFire best practices profile.\n  key: template\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: The device group to work on. Exists only in panorama!\n  key: device-group\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Tag for which to filter the results.\n  key: tag\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Determines whether the rule is a pre-rulebase or post-rulebase rule, according to the rule structure. Exists only in panorama!\n  key: pre-post-rulebase\n  playbookInputQuery:\n  required: false\n  value: {}\noutputs: []\nstarttaskid: \"0\"\nsystem: true\ntasks:\n  \"0\":\n    id: \"0\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"13\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 22a844ca-6cc7-42b2-8b11-0fa0e1659480\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: 22a844ca-6cc7-42b2-8b11-0fa0e1659480\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": -440,\n          \"y\": -250\n        }\n      }\n  \"1\":\n    id: \"1\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"2\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Gets information about available PAN-OS licenses and their statuses.\n      id: ffa53525-038e-44b5-8d5a-68fa2b6d35f7\n      iscommand: true\n      name: Panorama - Get Licenses\n      script: '|||pan-os-get-licenses'\n      type: regular\n      version: -1\n    taskid: ffa53525-038e-44b5-8d5a-68fa2b6d35f7\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 75\n        }\n      }\n  \"2\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                accessor: Feature\n                root: Panorama.License\n                transformers:\n                - operator: toLowerCase\n          operator: containsString\n          right:\n            value:\n              simple: wildfire\n      - - left:\n            iscontext: true\n            value:\n              simple: Panorama.License.Expired\n          operator: isEqualString\n          right:\n            value:\n              simple: \"no\"\n      label: \"yes\"\n    id: \"2\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"24\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Is there a WildFire license?\n      id: f8be3302-3615-49e3-88a0-23f43d838f76\n      iscommand: false\n      name: Is there a WildFire license?\n      type: condition\n      version: -1\n    taskid: f8be3302-3615-49e3-88a0-23f43d838f76\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 250\n        }\n      }\n  \"3\":\n    id: \"3\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: bc78a5da-f08f-4485-8aa8-38a414d1b68b\n      iscommand: false\n      name: Missing License\n      type: title\n      version: -1\n      description: ''\n    taskid: bc78a5da-f08f-4485-8aa8-38a414d1b68b\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 420\n        }\n      }\n  \"4\":\n    id: \"4\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"6\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      security_profile:\n        simple: wildfire-analysis\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Gets information for the specified security profile.\n      id: daf606c1-ede5-4ca1-82a9-b62b76ba12d8\n      iscommand: true\n      name: PAN-OS - Get security profiles\n      script: '|||pan-os-get-security-profiles'\n      type: regular\n      version: -1\n    taskid: daf606c1-ede5-4ca1-82a9-b62b76ba12d8\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 545\n        }\n      }\n  \"5\":\n    id: \"5\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"8\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: View WildFire best practices.\n      id: c01fe63a-5a4b-4a8f-8a8f-0d028b2c2cd5\n      iscommand: true\n      name: PAN-OS - Get WildFire best practice\n      script: '|||pan-os-get-wildfire-best-practice'\n      type: regular\n      version: -1\n    taskid: c01fe63a-5a4b-4a8f-8a8f-0d028b2c2cd5\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 1070\n        }\n      }\n  \"6\":\n    id: \"6\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"7\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      key:\n        simple: WildFire.ExistingProfile\n      value:\n        complex:\n          accessor: WildFire\n          root: Panorama\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      id: cbe34cfd-168b-4709-8fe6-5bc0d161c038\n      iscommand: false\n      name: Set existing WildFire profile\n      script: SetAndHandleEmpty\n      type: regular\n      version: -1\n    taskid: cbe34cfd-168b-4709-8fe6-5bc0d161c038\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 720\n        }\n      }\n  \"7\":\n    id: \"7\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"5\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      all:\n        simple: \"no\"\n      key:\n        simple: Panorama.WildFire\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Delete field from context\n      id: 0b8429f9-a7b1-495c-8a2f-8a824655468d\n      iscommand: false\n      name: Delete context\n      script: DeleteContext\n      type: regular\n      version: -1\n    taskid: 0b8429f9-a7b1-495c-8a2f-8a824655468d\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 895\n        }\n      }\n  \"8\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                accessor: Name\n                root: WildFire.ExistingProfile\n          operator: isEqualString\n          right:\n            value:\n              simple: WF Best Practices - XSOAR\n      label: \"yes\"\n    id: \"8\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"20\"\n      - \"21\"\n      \"yes\":\n      - \"25\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Is WildFire best practice profile by XSOAR enforced?\n      id: 15dd5028-7d59-4c84-8b89-db435f95dea3\n      iscommand: false\n      name: Is WildFire best practice profile by XSOAR enforced?\n      type: condition\n      version: -1\n    taskid: 15dd5028-7d59-4c84-8b89-db435f95dea3\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 1240\n        }\n      }\n  \"9\":\n    id: \"9\"\n    ignoreworker: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 6cd7e47a-86f1-4beb-84eb-a7491f683a9c\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 6cd7e47a-86f1-4beb-84eb-a7491f683a9c\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -440,\n          \"y\": 4580\n        }\n      }\n  \"11\":\n    id: \"11\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"19\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      profile_name:\n        simple: WF Best Practices - XSOAR\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Creates a WildFire analysis best practice profile.\n      id: ef757809-c553-4f13-8438-cd2fd4e5cd82\n      iscommand: true\n      name: PAN-OS - Create WildFire best practice profile\n      script: '|||pan-os-create-wildfire-best-practice-profile'\n      type: regular\n      version: -1\n    taskid: ef757809-c553-4f13-8438-cd2fd4e5cd82\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1930,\n          \"y\": 1920\n        }\n      }\n  \"12\":\n    id: \"12\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"30\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      template:\n        complex:\n          root: inputs.template\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Enforces wildfire best practices to upload files to the maximum size, forwards all file types, and updates the schedule.\n      id: fd128974-925c-4089-8a7c-76ea2a8566ec\n      iscommand: true\n      name: PAN-OS - Enforce WildFire best practice\n      script: '|||pan-os-enforce-wildfire-best-practice'\n      type: regular\n      version: -1\n    taskid: fd128974-925c-4089-8a7c-76ea2a8566ec\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2200,\n          \"y\": 2450\n        }\n      }\n  \"13\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                filters:\n                - - left:\n                      iscontext: true\n                      value:\n                        simple: modules.brand\n                    operator: isEqualString\n                    right:\n                      value:\n                        simple: Panorama\n                - - left:\n                      iscontext: true\n                      value:\n                        simple: modules.state\n                    operator: isEqualString\n                    right:\n                      value:\n                        simple: active\n                root: modules\n          operator: isExists\n      label: \"yes\"\n    id: \"13\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"1\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Is PAN-OS integration enabled?\n      id: fca127c2-6feb-43b5-87d2-a553bfb09c0c\n      iscommand: false\n      name: Is PAN-OS integration enabled?\n      type: condition\n      version: -1\n    taskid: fca127c2-6feb-43b5-87d2-a553bfb09c0c\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -440,\n          \"y\": -100\n        }\n      }\n  \"14\":\n    id: \"14\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"39\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: \"You are missing a WildFire license which is a prerequisite for this \\\"PAN-OS - Enforce WildFire Best Practices Profile\\\" playbook, and for the related \\\"Courses of Action\\\" playbooks. \\nPlease contact your Palo Alto Networks account manager for future guidance and assistance.\"\n      id: e260f7dd-8ed3-421f-8174-75f8807f76fe\n      iscommand: false\n      name: Missing License - Please contact your Palo Alto Networks account manager\n      type: regular\n      version: -1\n    taskid: e260f7dd-8ed3-421f-8174-75f8807f76fe\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 545\n        }\n      }\n  \"15\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.template\n          operator: isNotEmpty\n      label: \"yes\"\n    id: \"15\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"30\"\n      \"yes\":\n      - \"12\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Enforce WildFire best practices?\n      id: 64a1e98a-ced1-42d0-8aa5-374fec0459a7\n      iscommand: false\n      name: Enforce WildFire best practices?\n      type: condition\n      version: -1\n    taskid: 64a1e98a-ced1-42d0-8aa5-374fec0459a7\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1930,\n          \"y\": 2280\n        }\n      }\n  \"16\":\n    id: \"16\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"46\"\n      \"yes\":\n      - \"17\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Apply profile to policy rule in PAN-OS?\n      id: ac8f4b34-ba67-4267-84c9-7fdad53ebeca\n      iscommand: false\n      name: Apply profile to policy rule?\n      type: condition\n      version: -1\n    taskid: ac8f4b34-ba67-4267-84c9-7fdad53ebeca\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 660,\n          \"y\": 3260\n        }\n      }\n  \"17\":\n    id: \"17\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: b791c0df-d340-4d28-8333-9fcc145eb763\n      iscommand: false\n      name: PAN-OS Apply profile to a rule\n      type: title\n      version: -1\n      description: ''\n    taskid: b791c0df-d340-4d28-8333-9fcc145eb763\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 945,\n          \"y\": 3430\n        }\n      }\n  \"18\":\n    id: \"18\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"35\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre-post-rulebase:\n        complex:\n          root: inputs.pre-post-rulebase\n      profile_name:\n        simple: WF Best Practices - XSOAR\n      profile_type:\n        simple: wildfire-analysis\n      tag:\n        complex:\n          root: inputs.tag\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: ff75241a-e2aa-412e-8948-ee6287f54651\n      iscommand: false\n      name: PAN-OS - Apply Security Profile to Policy Rule\n      playbookId: PAN-OS - Apply Security Profile to Policy Rule\n      type: playbook\n      version: -1\n      description: ''\n    taskid: ff75241a-e2aa-412e-8948-ee6287f54651\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 945,\n          \"y\": 3570\n        }\n      }\n  \"19\":\n    id: \"19\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"15\"\n    note: false\n    quietmode: 0\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: f8a6c599-9428-4a71-8ba5-3f1e70cd4c8a\n      iscommand: false\n      name: PAN-OS Commit Configuration\n      playbookId: PAN-OS Commit Configuration\n      type: playbook\n      version: -1\n      description: ''\n    taskid: f8a6c599-9428-4a71-8ba5-3f1e70cd4c8a\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1930,\n          \"y\": 2100\n        }\n      }\n  \"20\":\n    id: \"20\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"23\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      csvArray:\n        complex:\n          accessor: ExistingProfile\n          root: WildFire\n      fileName:\n        simple: WildFire Existing Profiles\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Export given array to csv file\n      id: 71ff981d-ee43-497d-8eef-50cf783a68d3\n      iscommand: false\n      name: Export WildFire existing profiles to CSV\n      script: ExportToCSV\n      type: regular\n      version: -1\n    taskid: 71ff981d-ee43-497d-8eef-50cf783a68d3\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1355,\n          \"y\": 1410\n        }\n      }\n  \"21\":\n    id: \"21\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"23\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      csvArray:\n        complex:\n          accessor: WildFire\n          root: Panorama\n      fileName:\n        simple: WildFire Existing Best Practices\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Export given array to csv file\n      id: 05379310-7643-4e63-81e1-6f2984801cc6\n      iscommand: false\n      name: Export WildFire best practices to CSV\n      script: ExportToCSV\n      type: regular\n      version: -1\n    taskid: 05379310-7643-4e63-81e1-6f2984801cc6\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1780,\n          \"y\": 1410\n        }\n      }\n  \"22\":\n    id: \"22\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"39\"\n      \"yes\":\n      - \"11\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: |\n        To understand the difference between the existing policies and the best practices, please compare between the policies by:\n\n        1) Comparing the context data under \"WildFire.ExistingProfile\" key to the data under \"Panorama.WildFire\" key.\n        2) Comparing between the exported CSV files - \"WildFire Best Practices\" and \"WildFire Existing Profiles\".\n\n        If you have differences between your profiles and the best practices profiles recommended, you are not following the best practices Courses of Action\n      id: 1127a7e0-19f8-42a6-8b9c-466321d60b4f\n      iscommand: false\n      name: Create WildFire best practice profile?\n      type: condition\n      version: -1\n    taskid: 1127a7e0-19f8-42a6-8b9c-466321d60b4f\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1570,\n          \"y\": 1750\n        }\n      }\n  \"23\":\n    id: \"23\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"22\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 622356ae-a015-49ae-80e1-5b661a6d2390\n      iscommand: false\n      name: Remediation and Policy Updates\n      type: title\n      version: -1\n      description: ''\n    taskid: 622356ae-a015-49ae-80e1-5b661a6d2390\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1570,\n          \"y\": 1580\n        }\n      }\n  \"24\":\n    id: \"24\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"4\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 4af0ff0c-7a6d-4c01-88c4-e0156f356122\n      iscommand: false\n      name: Gather Profiles Information\n      type: title\n      version: -1\n      description: ''\n    taskid: 4af0ff0c-7a6d-4c01-88c4-e0156f356122\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 420\n        }\n      }\n  \"25\":\n    id: \"25\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"26\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: b6c6139d-ab61-4be5-805b-d45abb7bef67\n      iscommand: false\n      name: BPA profile exists\n      type: title\n      version: -1\n      description: ''\n    taskid: b6c6139d-ab61-4be5-805b-d45abb7bef67\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 660,\n          \"y\": 1410\n        }\n      }\n  \"26\":\n    id: \"26\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"16\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      wildfireprofilename:\n        simple: WF Best Practices - XSOAR\n      wildfireprofilestatus:\n        simple: The best practices profile by XSOAR already exists.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 376cbb97-5dd4-4f7f-818c-95a67ecf39aa\n      iscommand: true\n      name: Set best practices profile information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 376cbb97-5dd4-4f7f-818c-95a67ecf39aa\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 660,\n          \"y\": 1565\n        }\n      }\n  \"30\":\n    id: \"30\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"31\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 805eaf35-e41d-4c4e-8648-e0caad944f75\n      iscommand: false\n      name: BPA profile created\n      type: title\n      version: -1\n      description: ''\n    taskid: 805eaf35-e41d-4c4e-8648-e0caad944f75\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1930,\n          \"y\": 2620\n        }\n      }\n  \"31\":\n    id: \"31\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"16\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      wildfireprofilename:\n        simple: WF Best Practices - XSOAR\n      wildfireprofilestatus:\n        simple: The best practices profile has been created by XSOAR.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 5a2daf78-d2b9-42e4-8d4b-2ee6eccb7f93\n      iscommand: true\n      name: Set best practices profile information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 5a2daf78-d2b9-42e4-8d4b-2ee6eccb7f93\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1930,\n          \"y\": 2770\n        }\n      }\n  \"35\":\n    id: \"35\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"37\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: bd6063b1-ec04-4e9d-858e-ad88265d1dfa\n      iscommand: false\n      name: Set Profile information to layout\n      type: title\n      version: -1\n      description: ''\n    taskid: bd6063b1-ec04-4e9d-858e-ad88265d1dfa\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 945,\n          \"y\": 3760\n        }\n      }\n  \"37\":\n    id: \"37\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"44\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      wildfirerules:\n        complex:\n          accessor: Name\n          root: Rule\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: bc611e0d-9b64-4553-8f69-209e98605575\n      iscommand: true\n      name: Set best practices profile rules to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: bc611e0d-9b64-4553-8f69-209e98605575\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 945,\n          \"y\": 3900\n        }\n      }\n  \"39\":\n    id: \"39\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"40\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 5769b77c-219c-411a-81a9-849b5b1f1055\n      iscommand: false\n      name: Not according to BPA\n      type: title\n      version: -1\n      description: ''\n    taskid: 5769b77c-219c-411a-81a9-849b5b1f1055\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 2090\n        }\n      }\n  \"40\":\n    id: \"40\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"44\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      wildfireprofilename:\n        simple: WF Best Practices - XSOAR\n      wildfireprofilestatus:\n        simple: The best practices profile was not created by XSOAR.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 64b50300-35bb-4be5-85a5-e227b3011a35\n      iscommand: true\n      name: Set best practices profile information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 64b50300-35bb-4be5-85a5-e227b3011a35\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 2250\n        }\n      }\n  \"44\":\n    id: \"44\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"45\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 3e3b75df-73b0-4f23-88bb-e8a2dcfa9c20\n      iscommand: false\n      name: Trigger BPA Scan\n      type: title\n      version: -1\n      description: ''\n    taskid: 3e3b75df-73b0-4f23-88bb-e8a2dcfa9c20\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 4070\n        }\n      }\n  \"45\":\n    id: \"45\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"47\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      check_id:\n        simple: 255,47,53,109,110,111,112,113,114,115,117,118,119,203,204,205,251\n      failed_grid_id:\n        simple: bpafailedcheckswildfire\n      passed_grid_id:\n        simple: bpapassedcheckswildfire\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 55ed3638-4dea-43d1-8c90-915bc5167a5a\n      iscommand: false\n      name: Palo Alto Networks BPA - Submit Scan\n      playbookId: 629bfb7f-d719-4b74-8f1b-7f5a97b816db\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 55ed3638-4dea-43d1-8c90-915bc5167a5a\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 4220\n        }\n      }\n  \"46\":\n    id: \"46\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"44\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      wildfirerules:\n        simple: The best practices profile was not applied to rules by XSOAR.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 2b974f09-de55-44d1-88a0-01005d9f52ce\n      iscommand: true\n      name: Set rules information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 2b974f09-de55-44d1-88a0-01005d9f52ce\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 390,\n          \"y\": 3440\n        }\n      }\n  \"47\":\n    id: \"47\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"9\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      bpafailedcheckswildfire:\n        complex:\n          accessor: Failed\n          root: BPA\n          transformers:\n          - operator: uniq\n      bpapassedcheckswildfire:\n        complex:\n          accessor: Passed\n          root: BPA\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 869537cf-3650-4d8b-8c1a-cec9cee4c341\n      iscommand: true\n      name: Set BPA scan results to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 869537cf-3650-4d8b-8c1a-cec9cee4c341\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 4410\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"22_11_yes\": 0.48\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 4895,\n        \"width\": 3020,\n        \"x\": -440,\n        \"y\": -250\n      }\n    }\n  }\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\nmarketplaces:\n- xsoar\n- marketplacev2\n- platform\n",
  "product": "Cortex XSOAR",
  "pack": "MITRECoA",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "xlEOPSghh7yxPJe9xngzO6hTjz1yTvG73dhRPQrZuzwr/fA7MVMlO4KNF7y6QEo9kgVLPXYR1jxU7+u8E7mUveIVlT2KNGw9rj4evcfL27y+86m8J+ckvVSFAL3BeyS7lT5EvPN4br0Esx+8eHoyvW+f0rxeWGM8e+kwPdUlf7x1uY09tiIvvLYiO732Z628DsswvAds/rrnNWw8GxTLvOgcHL2YdtO7We93vAFRrz0EIry8Lz8QvSvPRb2e5pu7gVJhvfyHBD29H9Y9aGAiPPVEybwA1EQ9bekVvUcyH72sWvi8s6N3vU9aKbxwXig9fTZ2vLqHwbjRCxO8uWs0PV3dLz0sHgU9DyThvK1woLzoAxa9Nl4dPU6mCb09OrM93jU0vYtzKD1snZG9RHuHO3a/QD3vIXK8Ca/HOwYj4D3f4jo8UE5MvNO7qz2Vhqs7meIAPB2+ZLvHq+c66v3AvedAjbz9p2C7Qf6KPRF0Aby1tUq8S7+tPfwggD3QkPA6iY7EvSrrYb1x9g48vN6RvKtOqLuezXC82xsWPKFu9TuKDuY8906LPbFrSryp2V29hv8hvUlSzjy5QJg6SWkHPOK//Dz08Gs8N0kBvR/kjbxRz8A8SZNVu47/gLyj6928HIXbO7tsjz0c6Mq7g3obu4GphT1hpaQ9r8i9vAiwgL18Vpo59Lo9PCjVtLz8c406YiMRvKiN9LzgbiO99AMBu3tKDj24Yyy9VNQCPba9UrsarRy8/wYWPdu5rr2G6RK8R+IbPWX3Hb1l2TO7d+mdPX3n1rqXIJG7SfzmvDu0Fb1kbam8Tb5ivVm5DL2ycxa9VZYIvd6rkL1fQ1s7CHZZve5Xe7sLQNi8Vh/VvOAK6TwfNPq8lQV0PCABGjv0Hp88NmOGvf8IozyrzJ27hOqRvJI/G73kXV29T2+2u5vhkjzhcPM81ecvvD/Oh7sEzFq9cazWPYcJkjxfzu67SYiXvYhuiz37WBk8qmvtvLntyLyjxfa7RMLHPPEM8DwOPKG8QRL7N0MHIT2jOSa9fM8Au38nFj3EYbS86BKsvKhnBj0jYlk9TOOxvJ8xCL2t8YK97rV+vWptMD2KR0e87zzzvOhKmryDqla9MsUVveVSDD0F2aE78+5hvChdIzwDFZo8s6+ePKHCLzy2AvQ9CW1svWMYJT1uwoW8GNoSvE6q6zy+Yp88kY9qPcP48bwNmlM9iKIRvKfTr71EYgO9kBRVPa5cwbzA+4i87yqKPO1V6Ty16a890Li/vDnYIL3Tfpc9QID2O+iKJD3lQjk8wkjKO1njxT1axiO9dmbrO0wIrLyHRDw8Xa2EvZ3ux7y+egS9pIHvPJUdKD1dub276cLGvL1nLLxEfB29522iO+ni6bzeTbE5JMsOvawrQLykWki9kSTmu0TPir3f9t+8UXO4vGR+t7wOQbk87hcZPY2mj7s+Yqi8BXasvCU7ubxk4Dy8blIYvUiJHj0Zwp694BPnvfTtV73WIke8ollCPKYZYryOGRM8zxZOvfxTsLxCYlg9lHIbvQbUT73EQok9XGaZPANkqbyleV69vyRVvLwzGT29eTs99LJaPUfFPLzIMpo5nBhZPcakdTzMT1e8zw+vPAnX4LyfJrw8zSuhPAHOUzsu56+8Io4nO4AulrsNuh08gh3XvG1s/zwSk/S88WiruxT1+714o8U8uBGivImfyrwy4z08bmCzPEiLQb02qio9Pd/Du1IU7jxjp8A8EYoxvQ3YU7zax4697BvcPFDXlzxfFyU8QM+rvLUvzDucMjU91Qo7vT2UYjyIkxE9kqARPT0h1DzfAv48TJfEPHtZPjtIywE7aLwmvazyM7tay7m8rddBPU7OKDw8ihU9azzmPPE+dTw2fBW8XOZivHAsE7yveIO8UkhKvRVvA7xFpAe9ZVgCvPzGBT3DN6W794uGPbY8mLt9ncY7/yNUPb6cAD1O+t873Ws3vQ6eGL1xoQg8JmclPSodnzyaZsk9y9T6vKPwNL2Q6Nu7YOyLPPkVvryiQgm9Vf+Iu/pyl7wsCai6QRCxO3T3iDwCw+G6Zh1APL797jyeZpc7kI8xvfruaD3NQ1I9zbAqPSbdV72B2tS8AnyiO2kigj0wr9g860sbvX84Xjugbca8iLimPfRzGr2iedk8UhrTuuQAazzrOR89wNUwveOm4jzhrLO77HLVvIpELr1a9aI8HyGYvCHn5Tsb1Go96UmKPHxcuTxEAyS74tsSve3jCTqzUoe8eCMtvAyxiDsOgom9Q6XRvPAFKbws5YU4y0HiPEAjUjsRp/08l3Q0PWzrTjwYWFC7P+WkPVfIVz3FMKG8sy0sPKpBnT1FmDs7Nn2vu5s1MD1BAhe8Ify7vKCGMbpwi3w8vStQPBqQgTxHMTm8w9q6vPHAV7ylpAA9JbyNvO+6uL2c+L88BDWaPEXNDbyrp9i8HjQ9vMaJIb0L5H08EAQgPJd4dLyKhle936EMvJEbjLvoPQw9Qsp8u20Nez2fOks8G+JZuhvrCj0kOGE9c3q6vThG9bvDXUU9IG5ou230FjudNic8uWw+vWAER71HS/U8yxBZPE+trDu8iTS9xRpTvUOXfLpUSdE8N+mnvO4bDDyARge7jrj4u3vwLbwzlJe8LzdGvYGbtzyrs4C65sZBvebiPD1KCCA9qVcBPUhLObxWdC+9JiRLvayYGTyTT3C9JQRPvOfl1bwxrDw9Ff0TPazP37xIT788B6y9us8s47xPBco3H34QvXJvjTztPUe8uF5jPdJD2Lx5M8+8Kg81PIhOgrypcFy8qCp0PBR1xbwhjVw7JlDJO+JmBL22Oby8RxF3PeNLqTzCfbA8/CUNvQ6cLz1HYqI8+/A/Pbw0Jz0BwnE8V8HqPOr56jp+VVg9+2YAPXGRAz0HaMo8tQDHPEIgGj1qnYo7mII5Pa8747y6bkO78X31usciEjy1hJs8FGwdvaRjgzxjchq9aR4bu3EhZr0BeyM9i68tvPYfGL1UqSs7Pg5fvUfC1rv1qMK75Y5DPaOHZTzoyUG8iG9gO39aczuyo7q6X88DvVGJQT1BW+e8TWPyvDMMED1Amjy9ek1FvGxorTxAXea7TWwEPdMWdTyzdTK9rGODPAFgVbsH6sI8tH9MvdSEabxXFki9UkOuvGQkKTyb32a83EmAPM8dbD3LFmq97B1mPY1B4LvQ3WQ80KkhvLtHRL1dVac90P0BPVRQV70Mooy9TexlvO5eGb2cx5S8WkX2Owb2VL2xTG89xJwxvWu5lb0owKi9x3KTPPphMb1DGge8VS7NPK8w9zxR0hc9xMKCPKQ9jzwiXva7b68mPYkavLyq2ke9nqSqvDws7TybMwI901TOvFV/yTzcW0M9YJuQvFvIIL05kUu9wVCau6TdZz2QYSI7EjR3vIn1qjyJJVS8RtxmPY3cuLzPFsa9Av7VPKXKQj1kKoW9jwVJvYNbkj3H6oy8MzcQPVXc2bxY8C097u05vXdeHb0TrvW8kMMqvPFkPTv8cYK8syLvPPoyrjypjp+96CjsPOuzpbzo/+g8g2olPErGT71o6xU9hPFiO9adnjshs5Y6+sRbPfTmQT1FqVc5OBEfPHgsYrxw00s9t8emvJZiXTvqqJC82sgzvf/h+jwSmze93uCdO2jQkjzhha+8kqBHvJ4JJb2/P46870Z1PJpxaDzTQJW8rImAuqCFljwyunM8vomCvD7lnjxEcii8FutRPOnDTD0on8i8NeinvLxAY73XMbM8ePqJu4TUcbv+vSs9/mS2vZ59Ajy7IA+98oHuPFOeYz1EtlY8NJlAu+R9DzwP5Lu8lwgePRx5kzz3IK25/k4hvDVsZL1VbGs9yXaIPUFQFDwei2W7qgmKu1XP27uoNfm8BR/pPEMVCj21ph89n+6cvM+szjuxrmK5ESkmPUjWqLwZSAe9cz0TvW5msLyFfMk8yL1GvbKgWrzS4rc8f2KzvHGfdj0NQn883JoYPfpIKLuAAiO9AmSBvZoMgjzTdGG8GJ99PJ7bxrzw7pc7DFkHvUHjvTzwIDk9AN/WPOZ377ofV0k9j/PdvNHJCr0wgNG8M4w/vb2WoD2MaBM9"
}
