bundles/spark/kbs/soar-playbooks/entries/pb-microsoftdefenderadvancedthr-microsoft-defender-for-endpoint-isolate-endpoint.json
{
  "id": "pb-microsoftdefenderadvancedthr-microsoft-defender-for-endpoint-isolate-endpoint",
  "title": "Microsoft Defender For Endpoint - Isolate Endpoint",
  "category": "playbook",
  "content": "This playbook accepts an endpoint ID, IP, or host name and isolates it using the Microsoft Defender For Endpoint integration.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MicrosoftDefenderAdvancedThreatProtection, xsoar-supported).\n\nInputs — Device_id: The device ID to isolate.\nFor more information about the device, you can use the following commands:\n!microsoft-atp-get-machine-details\n!microsoft-atp-get-machines; Hostname: The host name you want to isolate.; Device_IP: The device IP you want to isolate.; Isolation_type: Optional Values: Full/Selective. Default is Full.\n\nFor more information see Microsoft documentation:\n  https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#isolate-devices-from-the-network.\n\nOutputs — MicrosoftATP.MachineAction.ID: The machine action ID.; MicrosoftATP.IsolateList: The machine IDs that were isolated.; MicrosoftATP.NonIsolateList: The machine IDs that will not be isolated.; MicrosoftATP.IncorrectIDs: Incorrect device IDs entered.; MicrosoftATP.IncorrectHostnames: Incorrect device host names entered.; MicrosoftATP.IncorrectIPs: Incorrect device IPs entered..\n\nIntegrations/scripts used: IsIntegrationAvailable, Print, SetAndHandleEmpty, endpoint, isError, microsoft-atp-isolate-machine.",
  "raw_yaml": "id: Microsoft Defender For Endpoint - Isolate Endpoint\nversion: -1\nname: Microsoft Defender For Endpoint - Isolate Endpoint\ndescription: This playbook accepts an endpoint ID, IP, or host name and isolates it using the Microsoft Defender For Endpoint integration.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 0c9a3619-7414-4966-860a-3b83f7ae3c9a\n    type: start\n    task:\n      id: 0c9a3619-7414-4966-860a-3b83f7ae3c9a\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": -350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: f658a709-df9b-463e-8305-7c14c5b68512\n    type: condition\n    task:\n      id: f658a709-df9b-463e-8305-7c14c5b68512\n      version: -1\n      name: Is Microsoft Defender For Endpoint Integration Enabled?\n      description: Returns 'yes' if the integration is available.\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"32\"\n    scriptarguments:\n      brandname:\n        simple: Microsoft Defender Advanced Threat Protection\n    results:\n    - brandInstances\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": -230\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 2f36c13b-1511-485c-86e0-0bbf57eba943\n    type: title\n    task:\n      id: 2f36c13b-1511-485c-86e0-0bbf57eba943\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1800\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 2c229082-3fd9-43b2-83dc-5ff28a9be1b9\n    type: condition\n    task:\n      id: 2c229082-3fd9-43b2-83dc-5ff28a9be1b9\n      version: -1\n      name: Is the device ready for isolation?\n      description: Is the device ready for isolation?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"31\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: MicrosoftATP.IsolateList\n            iscontext: true\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 805\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 4448d4cc-2c91-4b3a-8aa8-01705c810970\n    type: regular\n    task:\n      id: 4448d4cc-2c91-4b3a-8aa8-01705c810970\n      version: -1\n      name: Isolate endpoint\n      description: Isolates a machine from accessing external networks.\n      script: '|||microsoft-atp-isolate-machine'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      comment:\n        simple: 'XSOAR Microsoft Defender Isolate Endpoint - #Inc ${incident.id}'\n      isolation_type:\n        simple: ${inputs.Isolation_type}\n      machine_id:\n        simple: ${MicrosoftATP.IsolateList}\n    continueonerror: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 1180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: f4b67ca6-19e6-492d-84e9-3e93ef002e3e\n    type: condition\n    task:\n      id: f4b67ca6-19e6-492d-84e9-3e93ef002e3e\n      version: -1\n      name: ' Check if Isolate Action Succeeded'\n      description: Checks whether given entry/entries returned an error. Use ${lastCompletedTaskEntries} to check the previous task entries. For an array of entries, returns 'yes' if one of the entries returned an error.\n      scriptName: isError\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"9\"\n    scriptarguments:\n      entryId:\n        simple: ${lastCompletedTaskEntries}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 1350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 6ee8a70d-bd1a-4fe0-8e3f-2ff1a9ac9b89\n    type: regular\n    task:\n      id: 6ee8a70d-bd1a-4fe0-8e3f-2ff1a9ac9b89\n      version: -1\n      name: Print a warning to the war room - Device already isolated\n      description: Prints a device already isolated message to the War Room (Markdown supported).\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      value:\n        complex:\n          root: MicrosoftATP.IsolateList\n          filters:\n          - - operator: notIn\n              left:\n                value:\n                  simple: MicrosoftATP.IsolateList\n                iscontext: true\n              right:\n                value:\n                  simple: MicrosoftATP.MachineAction.MachineID\n                iscontext: true\n          transformers:\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: |\n                    The Isolate Action did not succeed. Please validate your input or check if the machine is already in an Isolate state. The Device ID/s that were not Isolated\n              suffix: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 1630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 913c4449-5898-4aaf-87d0-e4454d35c87b\n    type: regular\n    task:\n      id: 913c4449-5898-4aaf-87d0-e4454d35c87b\n      version: -1\n      name: Print inactive device\n      description: Prints an inactive device message to the War Room (Markdown supported).\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      value:\n        simple: |-\n          The following devices can't be isolated. Please validate that those devices are active in the system.\n          ${MicrosoftATP.NonIsolateList}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": 1630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 7cc2d23d-784c-4029-8d0b-62aebc0b2abd\n    type: regular\n    task:\n      id: 7cc2d23d-784c-4029-8d0b-62aebc0b2abd\n      version: -1\n      name: Set Active Device\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: MicrosoftATP.IsolateList\n      value:\n        complex:\n          root: MicrosoftATP.Machine\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: MicrosoftATP.Machine.HealthStatus\n                iscontext: true\n              right:\n                value:\n                  simple: Active\n              ignorecase: true\n          accessor: ID\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 620\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 9543301b-5b6c-4bb5-864c-3d40cd4152dd\n    type: regular\n    task:\n      id: 9543301b-5b6c-4bb5-864c-3d40cd4152dd\n      version: -1\n      name: Set Non-valid Devices\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: MicrosoftATP.NonIsolateList\n      value:\n        complex:\n          root: MicrosoftATP.Machine\n          filters:\n          - - operator: isNotEqualString\n              left:\n                value:\n                  simple: MicrosoftATP.Machine.HealthStatus\n                iscontext: true\n              right:\n                value:\n                  simple: Active\n              ignorecase: true\n          accessor: ID\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": 620\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: ba1c6190-674a-44db-89cd-d8e982093c58\n    type: condition\n    task:\n      id: ba1c6190-674a-44db-89cd-d8e982093c58\n      version: -1\n      name: Is there any inactive device?\n      description: Are there any inactive devices?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"10\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: MicrosoftATP.NonIsolateList\n            iscontext: true\n          right:\n            value: {}\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": 805\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 30182da7-2783-468c-8d15-4305b8f01d5e\n    type: regular\n    task:\n      id: 30182da7-2783-468c-8d15-4305b8f01d5e\n      version: -1\n      name: Print incorrect Device ID\n      description: Prints an incorrect device ID message to the War Room (Markdown supported).\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      value:\n        simple: \"Please note that the following ID / Hostname / IP are incorrect. No action was taken on the following Device ID / hostname / IP: \\n${MicrosoftATP.IncorrectIDs}\\n${MicrosoftATP.IncorrectIPs}\\n${MicrosoftATP.IncorrectHostnames}\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 1630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 2816c649-e7c3-4f09-8730-e20eb9346ac2\n    type: condition\n    task:\n      id: 2816c649-e7c3-4f09-8730-e20eb9346ac2\n      version: -1\n      name: Check if there is any provided incorrect info\n      description: Check if there are any incorrect device IDs.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"20\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.Device_id\n                filters:\n                - - operator: notIn\n                    left:\n                      value:\n                        simple: inputs.Device_id\n                      iscontext: true\n                    right:\n                      value:\n                        simple: MicrosoftATP.Machine.ID\n                      iscontext: true\n                transformers:\n                - operator: uniq\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.Hostname\n                filters:\n                - - operator: notIn\n                    left:\n                      value:\n                        simple: inputs.Hostname\n                      iscontext: true\n                    right:\n                      value:\n                        simple: MicrosoftATP.Machine.ComputerDNSName\n                      iscontext: true\n                transformers:\n                - operator: uniq\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.Device_IP\n                filters:\n                - - operator: notIn\n                    left:\n                      value:\n                        simple: inputs.Device_IP\n                      iscontext: true\n                    right:\n                      value:\n                        simple: MicrosoftATP.Machine.NetworkInterfaces.IPAddresses\n                      iscontext: true\n                transformers:\n                - operator: uniq\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 620\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 9b159ca4-130c-4e62-88c4-8b797db390fd\n    type: regular\n    task:\n      id: 9b159ca4-130c-4e62-88c4-8b797db390fd\n      version: -1\n      name: Set Incorrect ID\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"24\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: MicrosoftATP.IncorrectIDs\n      value:\n        complex:\n          root: inputs.Device_id\n          filters:\n          - - operator: notIn\n              left:\n                value:\n                  simple: inputs.Device_id\n                iscontext: true\n              right:\n                value:\n                  simple: MicrosoftATP.Machine.ID\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 805\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: 66a8b331-c775-4263-8289-dcedbf3f2799\n    type: regular\n    task:\n      id: 66a8b331-c775-4263-8289-dcedbf3f2799\n      version: -1\n      name: Set Incorrect IP\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"17\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: MicrosoftATP.IncorrectIPs\n      value:\n        complex:\n          root: inputs.Device_IP\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.Device_IP\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 1350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: f95ccb2e-09b5-4ae3-88d7-802940ec7bd1\n    type: regular\n    task:\n      id: f95ccb2e-09b5-4ae3-88d7-802940ec7bd1\n      version: -1\n      name: Set Incorrect Hostname\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"23\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: MicrosoftATP.IncorrectHostnames\n      value:\n        complex:\n          root: inputs.Hostname\n          filters:\n          - - operator: notIn\n              left:\n                value:\n                  simple: inputs.Hostname\n                iscontext: true\n              right:\n                value:\n                  simple: MicrosoftATP.Machine.ComputerDNSName\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 1180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 93070bb8-0dbd-4a97-842e-f851bba34472\n    type: title\n    task:\n      id: 93070bb8-0dbd-4a97-842e-f851bba34472\n      version: -1\n      name: Normalizing Device info\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"28\"\n      - \"30\"\n      - \"29\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": 300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: 79a55f6a-7ab3-4d04-8b68-cfc13ab442dc\n    type: title\n    task:\n      id: 79a55f6a-7ab3-4d04-8b68-cfc13ab442dc\n      version: -1\n      name: Active Device\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: 74d28cdb-2cf4-4d2e-846c-762d094bf01f\n    type: title\n    task:\n      id: 74d28cdb-2cf4-4d2e-846c-762d094bf01f\n      version: -1\n      name: Inactive Device\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"12\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": 450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: 59d101b0-bfca-443a-8cb7-8465d9e44521\n    type: title\n    task:\n      id: 59d101b0-bfca-443a-8cb7-8465d9e44521\n      version: -1\n      name: Incorrect Input\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"19\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 310,\n          \"y\": 450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: 38e3795b-141d-4aba-820a-4f95e7eb47da\n    type: title\n    task:\n      id: 38e3795b-141d-4aba-820a-4f95e7eb47da\n      version: -1\n      name: Isolate Device\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"7\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1160,\n          \"y\": 1030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: 361b1e36-d71c-4128-83a8-012269159fec\n    type: condition\n    task:\n      id: 361b1e36-d71c-4128-83a8-012269159fec\n      version: -1\n      name: Was any data provided?\n      type: condition\n      iscommand: false\n      description: 'Validate/Enrich inputs through !endpoint'\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"33\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Device_id\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Device_IP\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Hostname\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": -60\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"33\":\n    id: \"33\"\n    taskid: 91926f31-cb8d-4e2a-8d36-11b6b491c6cd\n    type: regular\n    task:\n      id: 91926f31-cb8d-4e2a-8d36-11b6b491c6cd\n      version: -1\n      name: Enrich Endpoint info\n      description: Returns information about an endpoint.\n      script: '|||endpoint'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      hostname:\n        simple: ${inputs.Hostname}\n      id:\n        simple: ${inputs.Device_id}\n      ip:\n        simple: ${inputs.Device_IP}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 730,\n          \"y\": 150\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"13_10_yes\": 0.67,\n      \"13_2_#default#\": 0.1,\n      \"19_2_#default#\": 0.21,\n      \"1_2_#default#\": 0.1,\n      \"5_2_#default#\": 0.1,\n      \"8_2_#default#\": 0.1,\n      \"8_9_yes\": 0.62\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2215,\n        \"width\": 1490,\n        \"x\": 50,\n        \"y\": -350\n      }\n    }\n  }\ninputs:\n- key: Device_id\n  value: {}\n  required: false\n  description: |-\n    The device ID to isolate.\n    For more information about the device, you can use the following commands:\n    !microsoft-atp-get-machine-details\n    !microsoft-atp-get-machines\n  playbookInputQuery:\n- key: Hostname\n  value: {}\n  required: false\n  description: The host name you want to isolate.\n  playbookInputQuery:\n- key: Device_IP\n  value: {}\n  required: false\n  description: The device IP you want to isolate.\n  playbookInputQuery:\n- key: Isolation_type\n  value:\n    simple: Full\n  required: false\n  description: |-\n    Optional Values: Full/Selective. Default is Full.\n\n    For more information see Microsoft documentation:\n      https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#isolate-devices-from-the-network\n  playbookInputQuery:\noutputs:\n- contextPath: MicrosoftATP.MachineAction.ID\n  description: The machine action ID.\n  type: string\n- contextPath: MicrosoftATP.IsolateList\n  description: The machine IDs that were isolated.\n  type: string\n- contextPath: MicrosoftATP.NonIsolateList\n  description: The machine IDs that will not be isolated.\n  type: string\n- contextPath: MicrosoftATP.IncorrectIDs\n  description: Incorrect device IDs entered.\n  type: string\n- contextPath: MicrosoftATP.IncorrectHostnames\n  description: Incorrect device host names entered.\n  type: string\n- contextPath: MicrosoftATP.IncorrectIPs\n  description: Incorrect device IPs entered.\n  type: string\ntests:\n- No tests (auto formatted)\nfromversion: 6.2.0\n",
  "product": "Cortex XSOAR",
  "pack": "MicrosoftDefenderAdvancedThreatProtection",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.2.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "62IoPZcI4DyyCoq9Ilu9POcBbj2GJto8A4qdPVwsZbomCiK9BW8FPdYxlbxaO4E9kX86PVCFHTxPjDU8BK5xvR9yrT3Byhk9/66PvFra1bt54MS8oQo1vYpJX7vTLDo7XLnTvHiulL3pOcg8FyNgvafDK70un7Q8elOCugVWS7vc5g86yLYDPLeYF73XXZa8UE/fvLhMNryXDJW8EwAOPL26Or0ClFW9K/cFvWdRdz1f0oW8uJjKvE7zwLxJSrs8O71dvF+cObr2gak9rQMJvDK/37yMcSk9btgUPc2dHb0+MIG8aEkVvVCe97wSQoi4N55EOdKK5bxy6TG8ihgSPUlceDxj+tY8J3R1u9Tfm7z090y9CHW/Pd2BA72mhsc8DpBiPF/JpTqc5/i7PpIsPNH7i7zvWwC87SvROg9MWT3ILFw8Lw/FOx5Llz0thOy6gL8LvbbWmLuCxeU8FeSKvVs7L7xHSFc8LSLTPT74Bb0XzQi8FkmCPSYSXz3uhRA6moJPve4Yp71qUqC8akouPNw/p7zIDRW7Fp4zuxL5Jb0CnB89YaR5PUXlobxZIKO9OqpJvSQ21DzDf7286ihMuskwtTwuw4s99ThJvUQuKz03LKE8FGl8PIJ/abzmmaK9a4YDPLoVbj1uVgs95IFhPSlCRj3Jd6c972NMPAzXnbxnOXe86D4guzLtVDtqD1K9HwUpPPrN2rzhSw28rm/nuUn7dDz0bYm8TwSTPEkK1Luahx67hw6dOzDMjb3QNn27m/8yPZEHyDsjO8M96nmVPYX0mrwpnze8fLn+O5YnHL0xmWS9CwrrPPRbAr00Lh68jHTLO/iJdL2wbGo7K3RuvVvfAb2PL5q9jKcVvBtRtjviolq9K35RvEKf9bwIaP+7UYeYvN9XxDxx2zo82Y+FvINtML3F04y9JwUcvc3QRD2XG4E8V7y+uPJilryBbZS7gYWbPMHJMTo47ig9w5vkvQ4jwjxJigg9yDaPvGatPztEPuw8UleBPThcFjwl96A84J4VPP12YD1H+fe8/WxovEwxoTuu/2w9zpmqvIUfdDx75cg9CTBVu2QxDr23jAO++tu1vb/eTrwNGlW9CWc+vYzES7qEUy29sFAIPPHWND03q1Q7m6TGvEXwyrzZufG8u6MsPRJ0AjyHOKc9LXlJvdh/QT044Fk8rrQfPF2QjDwbKQK70Q0dPQuQmr3W1A49r1EAvfRzab2YWgO70DKCPbUG57wW3uw7UiBtPBb+DT3uZzw9Cfbpu0b1O71Xkhc684d+u7yVBj1lv6K8/SJwPJg5mD3uvxC95t3GOoq02LzcZl68PEnKvLfCSrywEXm8Hap6u/438DwyTYS8DzxmuzgJ3jxMGcy8xodtPFjmHb2Q+iE9pJCavARjbLtlmnO9dZkSu5VPnb20ciu9A2c2vMvUID3VQ5c8ru89PWrgUrzOxWe8St7zuw/CoL3BtWw8gVgXvRG2+jy2YN+9bSuIvQmNCb1MEgy8hJ8dO13sn7vUyvA7hbYuvUt2ejsNKdm8GhedvE+bUL2g+GE8KBSBPUDRGL0HqBe9dACBPPdhWz1Mdvs8JkKXPV6JWLz48NS8DRR5PVfwez2cZge9AKQ6PfV/k7waj4a7ud0qu2ylMDzA6b86z7ddvLgVvTvpdVs8atAuvNSFeTyUefW8l+pBvNMc6r1M+q48DFLcuynd87tp6H68FgyzvDLjD70Sg9k8eps+vb6x1bzpIU+5HY91vDJthDxQIj+9U1CxO50IKz1nco67GV3WPOT3kTuPAIk8xPWBvXaGxzwa3Fg9srG1uwBPxrx23hI8jtzYPEDFyTwtlIS8etfVvG2v6zzAPvm8RWFpPfhPaz3Srgk9aRQaPZ1m3rw251M9afYPPfajnTvrJKQ7LV8LvXz8wbxdbGS82BGdvEtLLT3zOa88qn9DPY8+BTxNKXK91cY0PQSHKD2F57Y7RqKBvQ/0KDyTWc+7EWPjPJpDB7zWxXM9op2UvT2yJr2ARBg8kt0bPLY7Vb2LfF28IdaAO0tYFL0D+I285R5qPdVKjj1ya5a9WyYNO9RIIbtqE0k9sixivJLgzD1AUVy8tInrPDyGKb3fNcW8swS/vKswaz39dsY8KPEVvccxeTt/1E+9CF+WPdltKb2mOus8r1g3PAlcAT0E3XE8y4gLvWxd/DzoSI+7lT0BurIRODzzTaS7kWYnub7Nu7ucGlk9P2mzOzwvUD3bnC49MLglPBoa0Dz6Xuy8RgJtPE7njLx0g4y95h2NvZeZkDuLEoi7aNiNOqnYcryLPkE9O1SKuxZM+7uPPb68CCtrvMpkGD1cO/y8cYm1PKEbgz3R8YC8WUFjvJh8Jj370Lw85mgZvKvrXTxSLnE8AVp/Oq5zJjw8X9S7mp0WvfS6zry0Wsa8+M2OvO9r772dfMA8Np8dvEKsJTunMqG7S+ZeuhBoe70dynI9gppzPG48mbsQl3o8ykdjvboberxnlH89XPSWvAgd/zw1ab88S/o9PdRKIz24Sxe7V9mKvY/z4DwXREc9kcMlPOBSmbsL9M+8bFouvfTpWLxU5k48uSRHPapf2zsVLxa9QhAmvUheyjuhwZ484C06vTIig71Qwym88zh7vTy9EL2+uGO7BT6Uvcz5CT0/kQC9kmu1uzXL2jwsznI8kmckPUdUsTpjPqi8zTbEvIxqrjyTYKu8sYMvPGqkkTvKfjQ91scEPXyk6zs/94U9arkAvOpyQ71A3Z66BeMRPeJsGLzUPyQ9J2v3PPRpBr02BZS8G38gvJSdDr1fLu68dn0CvOoW5bwpcKG75Md2vLysMr07uUa8flVnPePnhrwvGAo9WVaGuuoraD3IoSE72bp+PMjYkT13eDo7x3sZO+mwIr1ysKY8Pj9+PFJaizzI6iw8n41ivD1ugTz48RW78bqZPVcxIL0MZsm8YgllPAJIiTwcyhe7T3KrvLTWh7qsgzw7mvCUvFqTUjybJ2Q8gE6euo6Jd7yNBwi8PIsovMMGQL0fuAK9sQduPEKDjzyVx3q8BwMgvQ/AGD3e2BG8R0BWvFT6E7y5eR29WeG1vNIZmjzvVOG8TqEhveL4TTxDm+G88EY6PVb84LuDMMU6gquVvByj6zr7p2o8EluAvfNZ+TyChBe9I/LdvHPlarwf2K+4F340PNDRdj2Czh+9PTbYu+AdiDzXJlk7ymSbvNB8Fr0084Y9NoGFvB8Li702GCa9WpnNvBdlJ70+9AA94+f1O4AJrrxCKZI98fP1uduPz7xoLye9JqUBPS70ML3iluK8eu4bvK2x3rw6bDU9kcQVO0hHK7x+yhW96NJQPJvqBb2up+S8r1PJvGnFJDylVYU95zGiufvsj7wOUkI9vowFvVuK+rxowxO9JxMwPB1wBj2T7pu7vfpivc0pQz0etoI6KESmPTAUmzzums+9Hay8PNlyvTzyfYC9v86Iu1rp7Tx7NmI8TQVYPVY7nL09p6g8xasSvdZlGr0eU6w7Ghy/vDoZQTxXHY69C36pPGEFXL293Ki9MpBvvE1fZr0uqg89dLApvb026LyeVBc9zztFPLLN4jt4SxE9OEbAPH52XD3Pszk8ryUPvOShuroKIYM9VIqxvHlsU7yJI2A8DzkzvVNmpDyYr9K7LfnZvF4Xwbv6IBO7B1AgvQFdIzxZZwk7MEt4PNWktzzSpFW8WBoaPNWNBTxtbIE8EDz6vFeAADt1Irm8n98MPeV2QDwf3Nq8TGOCvPgkHzzh/3o8TCrFujQA6LzQthI9Vl3jvWJzPbzGWXe9wltbPKejHz3GTfo73d0hvIp4X7wEPSS8cma1POuuqDwatz08k/AIPSEC7jtpHQ88D5RiPVBDZLzPHQ260tgAPG6QIrxejYS9IDi9O3icvTx+6nE91MQ3vHX9rDxpmKe6ZzTtvM5ABb3k1B29UOh7vXgk/LwaCJc7c19lvQoSfb1oPwk8rgUxvc05XD2DxkA9elIfPfShCz06oT69dgNtvfn1MD3f6kE7+2xlPd3hAb2T5au7o9wVvVCqMr1nglk9Sq/2O7j3C7w88QE9gpr7vMdDhbwFi2K9tXU1vXpFFD1ZIUe8"
}
