bundles/spark/kbs/soar-playbooks/entries/pb-mitrecoa-courses-of-action-command-and-control.json
{
  "id": "pb-mitrecoa-courses-of-action-command-and-control",
  "title": "Courses of Action - Command and Control",
  "category": "playbook",
  "content": "This playbook handles MITRE ATT&CK Techniques using intelligence-driven Courses of Action (COA) defined by Palo Alto Networks Unit 42 team. It utilizes each of the sub-playbooks for specific techniques that belong to this phase (tactic) according to the MITRE ATT&CK kill chain. The sub-playbook called depends on the technique input.\n \n***Disclaimer: This playbook does not simulate an attack using the specified techniques, but follows the steps to remediation as defined by Palo Alto Networks Unit 42 team’s Actionable Threat Objects and Mitigations (ATOMs).\n \nTactic:\n- TA0011: command and control\n\nMITRE ATT&CK Description: \nThe adversary is trying to communicate with compromised systems to control them.\n\nCommand and Control consists of techniques that adversaries may use to communicate with systems under their control within a victim network. Adversaries commonly attempt to mimic normal, expected traffic to avoid detection. There are many ways an adversary can establish command and control with various levels of stealth depending on the victim’s network structure and defenses.\n\nPossible playbook triggers:\n- The playbook can be used as a part of the “Courses of Action - Collection” playbook to remediate techniques based on kill chain phase.\n- The playbook can be used as a part of the “MITRE ATT&CK - Courses of Action” playbook, that can be triggered by different sources and accepts the technique MITRE ATT&CK ID as an input.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MITRECoA, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — technique: Mitre ATT&CK ID of a technique.; template: Template name to enforce WildFire best practices profile.; pre_post: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory for Panorama instances.; device-group: The device group for which to return addresses (Panorama instances).; tag: Tag for which to filter the rules..\n\nOutputs — Handled.Techniques: The techniques handled in this playbook; CC.ProductList: Products used for remediation..\n\nIntegrations/scripts used: Set, SetAndHandleEmpty.",
  "raw_yaml": "id: Courses of Action - Command and Control\nname: Courses of Action - Command and Control\ndescription: \"This playbook handles MITRE ATT&CK Techniques using intelligence-driven Courses of Action (COA) defined by Palo Alto Networks Unit 42 team. It utilizes each of the sub-playbooks for specific techniques that belong to this phase (tactic) according to the MITRE ATT&CK kill chain. The sub-playbook called depends on the technique input.\\n \\n***Disclaimer: This playbook does not simulate an attack using the specified techniques, but follows the steps to remediation as defined by Palo Alto Networks Unit 42 team’s Actionable Threat Objects and Mitigations (ATOMs).\\n \\nTactic:\\n- TA0011: command and control\\n\\nMITRE ATT&CK Description: \\nThe adversary is trying to communicate with compromised systems to control them.\\n\\nCommand and Control consists of techniques that adversaries may use to communicate with systems under their control within a victim network. Adversaries commonly attempt to mimic normal, expected traffic to avoid detection. There are many ways an adversary can establish command and control with various levels of stealth depending on the victim’s network structure and defenses.\\n\\nPossible playbook triggers:\\n- The playbook can be used as a part of the “Courses of Action - Collection” playbook to remediate techniques based on kill chain phase.\\n- The playbook can be used as a part of the “MITRE ATT&CK - Courses of Action” playbook, that can be triggered by different sources and accepts the technique MITRE ATT&CK ID as an input.\\n\"\ninputs:\n- description: Mitre ATT&CK ID of a technique.\n  key: technique\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Template name to enforce WildFire best practices profile.\n  key: template\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory for Panorama instances.\n  key: pre_post\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: The device group for which to return addresses (Panorama instances).\n  key: device-group\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Tag for which to filter the rules.\n  key: tag\n  playbookInputQuery:\n  required: false\n  value: {}\noutputs:\n- contextPath: Handled.Techniques\n  description: The techniques handled in this playbook\n  type: unknown\n- contextPath: CC.ProductList\n  description: Products used for remediation.\n  type: unknown\nstarttaskid: \"0\"\nsystem: true\ntasks:\n  \"0\":\n    id: \"0\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"2\"\n      - \"7\"\n      - \"8\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 56f85db2-5a8e-4286-8020-e62df079f1d8\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: 56f85db2-5a8e-4286-8020-e62df079f1d8\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 490,\n          \"y\": 50\n        }\n      }\n  \"2\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1071\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"2\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"9\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: f657340b-30bc-49fe-8b90-38eb88b03cf3\n      iscommand: false\n      name: Application Layer Protocol\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: f657340b-30bc-49fe-8b90-38eb88b03cf3\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 700,\n          \"y\": 190\n        }\n      }\n  \"3\":\n    id: \"3\"\n    ignoreworker: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 5fb4c985-4271-43ba-8775-531daf1972e4\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 5fb4c985-4271-43ba-8775-531daf1972e4\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 1200\n        }\n      }\n  \"7\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1573.002\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"7\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"10\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: eae50a55-5822-4012-833a-d38cd0684bfa\n      iscommand: false\n      name: Asymmetric Cryptography\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: eae50a55-5822-4012-833a-d38cd0684bfa\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 190\n        }\n      }\n  \"8\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1105\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"8\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"11\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 8d7796d5-0d02-4d8d-899b-e6ffd9337d97\n      iscommand: false\n      name: Ingress tool transfer\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: 8d7796d5-0d02-4d8d-899b-e6ffd9337d97\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -220,\n          \"y\": 190\n        }\n      }\n  \"9\":\n    id: \"9\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      ApplyToRule:\n        complex:\n          root: inputs.ApplyToRule\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre_post:\n        complex:\n          root: inputs.pre_post\n      rule_name:\n        complex:\n          root: inputs.rule_name\n      tag:\n        complex:\n          root: inputs.tag\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 96d5e60c-4ec7-4776-8961-a9e90c754672\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1071 - Application Layer Protocol\n      playbookId: MITRE ATT&CK CoA - T1071 - Application Layer Protocol\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 96d5e60c-4ec7-4776-8961-a9e90c754672\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 700,\n          \"y\": 360\n        }\n      }\n  \"10\":\n    id: \"10\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"13\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      ApplyToRule:\n        complex:\n          root: inputs.ApplyToRule\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre_post:\n        complex:\n          root: inputs.pre_post\n      rule_name:\n        complex:\n          root: inputs.rule_name\n      tag:\n        complex:\n          root: inputs.tag\n      template:\n        complex:\n          root: inputs.template\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 22133a68-22ae-4947-8f3e-125172f54ac6\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1573.002 - Asymmetric Cryptography\n      playbookId: MITRE ATT&CK CoA - T1573.002 - Asymmetric Cryptography\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 22133a68-22ae-4947-8f3e-125172f54ac6\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 360\n        }\n      }\n  \"11\":\n    id: \"11\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"12\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      ApplyToRule:\n        complex:\n          root: inputs.ApplyToRule\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre_post:\n        complex:\n          root: inputs.pre_post\n      rule_name:\n        complex:\n          root: inputs.rule_name\n      tag:\n        complex:\n          root: inputs.tag\n      template:\n        complex:\n          root: inputs.template\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 44bf0b74-8b04-4dc0-8b5d-fdb0c5cbad80\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1105 - Ingress tool transfer\n      playbookId: MITRE ATT&CK CoA - T1105 - Ingress tool transfer\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 44bf0b74-8b04-4dc0-8b5d-fdb0c5cbad80\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": -220,\n          \"y\": 360\n        }\n      }\n  \"12\":\n    id: \"12\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"17\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: CC.Products\n      value:\n        simple: '[\"Cortex XDR\",\"PAN-OS\"]'\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: b095b49a-0eda-4d4a-82af-e290dc79563d\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: b095b49a-0eda-4d4a-82af-e290dc79563d\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -220,\n          \"y\": 530\n        }\n      }\n  \"13\":\n    id: \"13\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"17\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: CC.Products\n      value:\n        simple: PAN-OS\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: 818bba6c-1826-44bd-80e4-cee6b4c840ea\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: 818bba6c-1826-44bd-80e4-cee6b4c840ea\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 530\n        }\n      }\n  \"14\":\n    id: \"14\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"17\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: CC.Products\n      value:\n        simple: '[\"Cortex XDR\",\"PAN-OS\"]'\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: 8524c7af-f5de-4fc2-8352-688fb7a89f80\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: 8524c7af-f5de-4fc2-8352-688fb7a89f80\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 700,\n          \"y\": 530\n        }\n      }\n  \"17\":\n    id: \"17\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      commandandcontrolremediationproducts:\n        complex:\n          root: CC\n          transformers:\n          - args:\n              title: {}\n            operator: JsonToTable\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 7cca4301-f796-405e-8b41-dca7685ff1aa\n      iscommand: true\n      name: Set Command and Control Remediation products to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 7cca4301-f796-405e-8b41-dca7685ff1aa\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 700\n        }\n      }\n  \"18\":\n    id: \"18\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"20\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: aa701a1d-6874-47d5-83ed-738fd16b4174\n      iscommand: false\n      name: Set techniques information to the layout\n      description: \"\"\n      type: title\n      version: -1\n    taskid: aa701a1d-6874-47d5-83ed-738fd16b4174\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 880\n        }\n      }\n  \"20\":\n    fieldMapping:\n    - incidentfield: Remediated Techniques\n      output:\n        complex:\n          root: Handled\n          transformers:\n          - args:\n              title: {}\n            operator: JsonToTable\n    - incidentfield: Techniques to Handle\n      output:\n        complex:\n          root: Unhandled\n          transformers:\n          - args:\n              title: {}\n            operator: JsonToTable\n    id: \"20\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"3\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: Unhandled.Techniques\n      stringify: {}\n      value:\n        complex:\n          filters:\n          - - left:\n                iscontext: true\n                value:\n                  simple: TechniquesList\n              operator: notIn\n              right:\n                iscontext: true\n                value:\n                  simple: Handled.Techniques\n          root: TechniquesList\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      id: 42726c68-e29f-4ee3-8926-1a13a95aa62b\n      iscommand: false\n      name: Set techniques information to the layout\n      script: SetAndHandleEmpty\n      type: regular\n      version: -1\n    taskid: 42726c68-e29f-4ee3-8926-1a13a95aa62b\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 1030\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"2_3_#default#\": 0.21,\n      \"7_3_#default#\": 0.21,\n      \"8_3_#default#\": 0.17\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1215,\n        \"width\": 1300,\n        \"x\": -220,\n        \"y\": 50\n      }\n    }\n  }\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\nmarketplaces:\n- xsoar\n- marketplacev2\n- platform\n",
  "product": "Cortex XSOAR",
  "pack": "MITRECoA",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "IY74PMvMtzxTfou9omTcPLPJfT2gBks8mdu1PQIKkDxST6G7iOGqvJhew7sYEAw9901rPUy1mDwFc9O8xGl6vRLsoz07PJ09UCiivMwfhTwZ3bO7puSJvEXdb7tv2Om8o+nEO3fgUr3gNGQ9cob8vFA6Xr1Lyz68G04aPZAIszz8+/g8KebevDYj5zua/AG7qAhFvZhXrTuS6wW9S0mxO+qqcb1Mltm8GDiFvBGlXz0fPce80no+vUJmFr02+rM8mmhcvRvzlLltA049IfzAPDgwIL1KX1Y8cschvWRI97zOxDK95ai5vbIiA7z53a88WFUBvbH90juOEsU7c2zbutoy0zzebg48I2CNvGeVDzsLpE29NRadPDrkSb3ba4M9x9gDvPqvGT0uBa+8+YMbPA/ICLw2cTi8kCBjPHgrcz1JOiI8wIlGPS6gXD2qIxk8z9IVuyo2jruhwus8ROFlve1p/7xraci8y8rWPeBinrz/aQW9YK+GPe5raD1kA0283WaJvRGA6r0I58g8YZ3HPI0FAr2MHm+8c9rXu8zKjTy6Tc08zHAjPWMrnLz6HSq9tlx0vfDlSj13DuC8W57GPPkPYzw2WB28NG8hvX4ZKr3ah788xXRoPMhW3LwXsIW9N33auzLZhD33nP06y4hrOxZvjj08hwM9HP9Pvc+Knryf4bi8JcvBusvDajySAXy9dDeDtrQcFbx1es+8zQtkvB2qFT3QsD+8MKbju9YJMzyapnk8cy1ePTiekL0kXJo8V8RdPVqaILwBl5g8pQMXPRqk9Lx8zE28txcEvePf+LzHi/i8NLIPvNadwzz7QVQ84PHzO/7Yn71pEyo9+usmvZ41Ib1Q7uS8QsvzvFR4Jjx5k5G9mswivUuhK73J9iY84B88vecdAbwPfCW8wdItvKNghLzx9ka9Z6IpPIWJDbzxQR099jUHvXWGyztAhr+8GBKzPRjY1Tzhxr47KkKgvfg99jxMjy090TU8vBfiIz1kdL+7lGw+PWSQ2zzuIpG8FB2cu7nfqj3kjNq8Ju6qu0G2TT148yA9R4GnvG+Cbj22g6s9oI2lOdu0RjymPYa9a6OwvRc6SDx+kxu9OKNvvcaNpry0nZ69NsuivCi0Mz0HGPI723UkvdyVJbz6fNE7ANZiPc9hHj27XP89YvEGvYdGubudCZ47mt4hPDFpVjuc8gI8jm3HPMB5Dr2TNHY9UUKnvHEGiL38p7e8E4mtPZUPQrzIyjm8HnpbPHU4FT2aa7Q9G96wO3RMUr1t/8o8kqSMvEgwrz2cTC09sXEkvTMqVj2gcq28dM/5OqWa2rzX5Jo8v/4wvZ5yBzt5pQ+9jOntPHZTnzyCjvy7gUITvJ3c3zxmcxi9dFkdPFAfYrz9Dg89S1NPO3PINbtQfEq9zaaWvPOtoL0ecUw8ir4YvYST4byz/+27m4naOjNK8jzW4hK8od7du6OZSr0QPOy7IkGOvbYNST21W+e928lcvc8NFL0orbq70027vOry47vR3GQ8msxcvX3/2bwoCMA8jw86vakALL3wEVw9jhL+POOjtrx1KIu9G2NXPO97ED0akzQ9lzCtPSqgFb0Qeuw7LABePd5CFT3xcvi6xTgoPDit9LzYfJ67P78CPe2OkLz4p5I8h9H+u2jTezzsr9Y8/IEzu2ElTzxRoFa8rclDu9ZD873NP6O8x84vvKHsPLykake7/FKsPGyzNb0c+Ru8xmzivMBNyjxl3wA9vrgnvT7sibvAjS69qDkFPIk77DwggJS7YfCqOxf877tLrWs8A4t3vfh2M7oDC5A8Yv8nPMBr2LpMg5Q89icePQI7gjyrbHy8080lvf8S2jsM8/u8wimoPU+6PT0scEQ8NEmGPe5ugLyqmDS8AGHbueC3ejrtxTU93ithvSB5Ar26OwK9GWEKO1u3Tj3TxjY9hzFUPf1+4TtSN2O89jV2PFUrKD2UAl49m98kvWyMQL2LQb67i2c5vPlk1jsqqIk9t8VWvbkpI70uFsA8aqEUvWXpUL0AccO8a+ImO/mS3LzbGKy8QLZiu6lQ1zwxejO94I3RPIRJ2jvqVOQ8AcjZvDzngj33ayE8cUVHPZgchr1/SES8UMu0vHFTpz0f5Zs8abezvLTFBjygQJm8LLygPcWVXr30YDU8e5oiPYg5QT3MnoE8n+tGvTLvhzzq4O28lb9tPKWQQ7zBycc7JXoVvK21iDwQiCs98qhOPWwo9DywRXY9zualu6HmYLy62Jk7RW1zu5b1g7wZrAe9i0YvvdHHTTxTPYA8kKmnvON5FrxjaUE9VBoEPP2bIT2nQgG8BzPNPMT7qTy0P329mC/ZO/E8DD1mHIi7860VPQ7+KT0bY7U8LJU3PKOeCT2uv/M8TEJgPW849jz3vWi87ZMuvUCHILpfEJW6Xo6fvJxD572abPg81rHaPEZIxDyZQz69ST4SPYn+ML0YFle8tRfUPAfRmLl3oPC8vJCMu+QrjjruTWw9pn7KPK5zkj3kYs4843IUPTSnUj1VC7081a8Avd/pyDzOHEM9OsR+vEoxHT18J5M8ZymGvKRGHL1MSfA7K17JOwtszDzUvQC9HOtQvXtUjzv5N608/6I2vSRvczzfvuu7ThUKvIKBT710xvk7+YhgvKckNj2whZi8ZawrvWYfmT2A+4k9Uj/XPABlQb2hDSy9rdjwvNIYHj1ok2+9axPUvGfFIb164nI9wghDPZHNK73uZq08/RNuuzUQLryOXpw5aXetPH0OmLwWS4C8WUViPUWwmbyhSls8zjmNuhmlk7xdrua7w7sHvfnbGTw2xoM8M1C1PAb5E73b5Oi8kS1IPb73aDwB4Ng8RRRRvHr+Az2Kd967yuCRPLvwDj39zr48wRF2PIuK+LsZMrc8VrybPBn9Mz1MfW46ZCDOPF0JHjy+EsI8QoVcPdIygLzdSc88VHpUPAupzruEeUQ8oAEevWfXjzpFkkK8NN3WursNAL1/3a48Jwu8u5HQubzrmA29qTgMvTex0jyeU+S8pTL6PLpHfjyGdb671lQzvEgvojtiOGU8hUtWvPlfCLxbeg29mTImvYrcvTySw568JN05vYiyFT30zKW8NCZdPbKqqboL2n+9fO6Ou+CZBDzKeto8D1gKvXpuBr3ReIG9sg2gvEZMNz0BukC9/n4vvLWdaz1Hupi99Mc6PHPRhzzsQvS8qDyAPN0SZ7wwppY9TwVGPN8gd70seNW8QNq7uyrwAr0OR9i7WODrPA73EL1WW1I96G64O7wZkb2zrUS92hk1Pf5pQr3W3di8c/bcuj2Gozx3ZL0476yJPCaBqzzHXfG6d4A8ukpFsLykt6+8WGG/PMhIAT3NC8A8LWWNvMd/nDwL/f88SwQRvVyOI7yJCnu8hYwwPLyTpjzCe4W77qtYvRtQDz17EmW8R4ehPUcVDzvo1be9F+uWO4JPaD16KHG9YBIOvWyAozwyEJq8nMcOPTzIZr3vWAY9tm/UvF+MK73Bju68n7oFvPn5lru1NRm9TwG4PI2bWL06ub29jXDfu/dt47xi/JG8ZgPUu8cMK7yjtc88dHU8PewBVTx1l+26UsQkPZLThz3lx/O8kCg8vRmRdby5oHA9X8YivXn3grzn9Xk8goUevTfU2jzBYIi7JxyrOUF1kjyoWVq8EmL2PJeFn7zfPqA8XnYePd00kTziAMY6MDPROlIXkjypc9k8ocEcvT+WU7xLj+q8XvXXO4O/Uj2kQWq8t6MqvHBnG706lsE88TLCvDnrorx6Y4s9HgjhvUK8tzzch3C9xT4gPVMm5DyjUlS5MagIPF2Z9bt9jLM7fvmNPIkeCDu1Lg290CYrPVRbQL0bBXs9YyWjPVbs3jtrDnM8J/18vA4fibxpmRK9ojIqO/7kSz1uUu88k91FvDYVAz1DPb88KpigPNCUNb2Gufm8CdyKvHlQnLwfTh88/4U5vXfmkLwvie47pP6/O+KVSD3uq5W7Dc/BOjJBODxoNzG9r02ovR7JLT3uQZE8+LHhOn94xTswkZi6D8OBvA8burmqwtE8NMscPdu3gb25yvg8F018vPHT5ryR6TG9S0aVvareOT3+Vu88"
}
