bundles/spark/kbs/soar-playbooks/entries/pb-microsoftgraphsecurity-search-and-delete-emails-microsoft-graph-security.json
{
  "id": "pb-microsoftgraphsecurity-search-and-delete-emails-microsoft-graph-security",
  "title": "Search And Delete Emails - Microsoft Graph Security",
  "category": "playbook",
  "content": "This playbook performs the following steps:\n  1. Checks that the Microsoft Graph integration is available and active.\n  2. Lists existing eDiscovery cases and finds the specified case, or creates it if missing.\n  3. Composes the KQL content query based on the mailbox scope (recipientsOnly, allTenantMailboxes, or other).\n  4. Creates a new eDiscovery search with the composed query, or reuses an existing search based on the force input.\n  5. Runs an estimate statistics operation to count emails matching the query.\n  6. Waits for the estimate operation to complete and checks whether any emails were found.\n  7. Optionally previews the results (statistics summary or full export), based on the preview input.\n  8. Purges the matching emails (Hard delete / Soft delete / manual analyst approval).\n  9. Cleans up the eDiscovery search based on the cleanup input.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MicrosoftGraphSecurity, xsoar-supported).\n\nInputs — case: eDiscovery case to use. Looked up by name; created if missing.; mailbox_scope: One of: recipientsOnly, allTenantMailboxes, allCaseCustodians, allCaseNoncustodialDataSources, allTenantSites. Drives data_source_scopes and KQL composition.; kql: KQL query identifying the emails to search/delete. Additional clauses are composed around it depending on mailbox_scope.; recipients: CSV of email addresses. Required when mailbox_scope=recipientsOnly. Optional when mailbox_scope=allCaseCustodians.; mailbox_exclusion: CSV of mailboxes to exclude. Honored only when mailbox_scope=allTenantMailboxes.; search_name: When provided, plays into the force semantics (force=true delete-and-recreate, force=false reuse). When omitted, an auto-name like XSOAR-Search-${incident.id}-${ts} is generated.; description: eDiscovery search description. Defaults to \"Created by XSOAR for incident ${incident.id}\" when empty.; force: Only meaningful when search_name is provided. true ⇒ delete-and-recreate. false ⇒ reuse existing.; preview: \"true\" / \"false\" / empty=manual. Whether to pause for analyst review before delete.; preview_mode: \"statistics\" (count + size from estimate) or \"export\" (run export job, download report)..\n\nIntegrations/scripts used: IsIntegrationAvailable, Print, Set, msg-create-ediscovery-case, msg-create-ediscovery-search, msg-delete-ediscovery-search, msg-export-result-ediscovery-data, msg-get-last-estimate-statistics-operation, msg-list-case-operation, msg-list-ediscovery-cases, msg-list-ediscovery-searchs, msg-purge-ediscovery-data, msg-run-estimate-statistics.",
  "raw_yaml": "id: Search And Delete Emails - Microsoft Graph Security\nversion: -1\nname: Search And Delete Emails - Microsoft Graph Security\ndescription: |-\n  This playbook performs the following steps:\n    1. Checks that the Microsoft Graph integration is available and active.\n    2. Lists existing eDiscovery cases and finds the specified case, or creates it if missing.\n    3. Composes the KQL content query based on the mailbox scope (recipientsOnly, allTenantMailboxes, or other).\n    4. Creates a new eDiscovery search with the composed query, or reuses an existing search based on the force input.\n    5. Runs an estimate statistics operation to count emails matching the query.\n    6. Waits for the estimate operation to complete and checks whether any emails were found.\n    7. Optionally previews the results (statistics summary or full export), based on the preview input.\n    8. Purges the matching emails (Hard delete / Soft delete / manual analyst approval).\n    9. Cleans up the eDiscovery search based on the cleanup input.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 7151238b-5451-4006-8266-d61b065a77c9\n    type: start\n    task:\n      id: 7151238b-5451-4006-8266-d61b065a77c9\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: d44d516f-6273-47b6-a953-c8873802f5fe\n    type: condition\n    task:\n      id: d44d516f-6273-47b6-a953-c8873802f5fe\n      version: -1\n      name: Check Microsoft Graph integration is available\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'.\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"3\"\n    scriptarguments:\n      brandname:\n        complex:\n          root: modules\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: modules.state\n                iscontext: true\n              right:\n                value:\n                  simple: active\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: modules.brand\n                iscontext: true\n              right:\n                value:\n                  simple: Microsoft Graph\n          accessor: brand\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 250\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: cb216bf9-6f61-40b5-86dd-d7cd348fd6a3\n    type: title\n    task:\n      id: cb216bf9-6f61-40b5-86dd-d7cd348fd6a3\n      version: -1\n      name: Done\n      description: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 7400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: b4d9ab83-1eba-4aae-8198-35a5bf9f253b\n    type: regular\n    task:\n      id: b4d9ab83-1eba-4aae-8198-35a5bf9f253b\n      version: -1\n      name: List eDiscovery cases\n      description: Get a list of the eDiscovery cases.\n      script: '|||msg-list-ediscovery-cases'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      all_results:\n        simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 405\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: b87b74bb-0344-41b1-b9e9-b11523b60205\n    type: condition\n    task:\n      id: b87b74bb-0344-41b1-b9e9-b11523b60205\n      version: -1\n      name: Does the specified eDiscovery case exist?\n      description: Checks whether the eDiscovery case specified by the case input already exists.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      Create new case:\n      - \"6\"\n      Reuse existing case:\n      - \"45\"\n    separatecontext: false\n    conditions:\n    - label: Reuse existing case\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: MsGraph.eDiscoveryCase.DisplayName\n            iscontext: true\n          right:\n            value:\n              simple: ${inputs.case}\n            iscontext: true\n    - label: Create new case\n      condition:\n      - - operator: isNotEqualString\n          left:\n            value:\n              simple: MsGraph.eDiscoveryCase.DisplayName\n            iscontext: true\n          right:\n            value:\n              simple: ${inputs.case}\n              iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 550\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: e4da15b6-a414-4da3-85dc-61f162596974\n    type: regular\n    task:\n      id: e4da15b6-a414-4da3-85dc-61f162596974\n      version: -1\n      name: Create eDiscovery case\n      description: Create a new eDiscovery case. This command only creates an eDiscovery (Premium) case using the new case format. To learn more about the new case format in eDiscovery, see https://learn.microsoft.com/en-us/microsoft-365/compliance/advanced-ediscovery-new-case-format.\n      script: '|||msg-create-ediscovery-case'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"59\"\n    scriptarguments:\n      description:\n        simple: Case created by XSOAR Search and Delete (MS Graph Security) playbook.\n      display_name:\n        simple: ${inputs.case}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 735\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: ab1a86b8-d7b0-446a-9a9b-1b5853c04816\n    type: condition\n    task:\n      id: ab1a86b8-d7b0-446a-9a9b-1b5853c04816\n      version: -1\n      name: Route by mailbox scope\n      description: Routes the flow based on the mailbox_scope input to compose the appropriate KQL content query.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"43\"\n      allTenantMailboxes:\n      - \"9\"\n      recipientsOnly:\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: recipientsOnly\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.mailbox_scope\n            iscontext: true\n          right:\n            value:\n              simple: recipientsOnly\n    - label: allTenantMailboxes\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.mailbox_scope\n            iscontext: true\n          right:\n            value:\n              simple: allTenantMailboxes\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 1105\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 6524c0a7-03c1-4d5a-9872-5ec26c2e6ab2\n    type: regular\n    task:\n      id: 6524c0a7-03c1-4d5a-9872-5ec26c2e6ab2\n      version: -1\n      name: Build participants clause\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"36\"\n    scriptarguments:\n      key:\n        simple: ParticipantsClause\n      value:\n        complex:\n          root: inputs.recipients\n          transformers:\n          - operator: splitAndTrim\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR participants:'\n          - operator: ConcatFormat\n            args:\n              ctx_data: {}\n              ctx_inc: {}\n              ctx_inputs: {}\n              keep_symbol_to_null: {}\n              prefix:\n                value:\n                  simple: '(participants:'\n              suffix:\n                value:\n                  simple: )\n              variable_markers: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1205,\n          \"y\": 1460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 26697752-8b49-4ec3-9393-347610a400f8\n    type: condition\n    task:\n      id: 26697752-8b49-4ec3-9393-347610a400f8\n      version: -1\n      name: Is a mailbox exclusion list provided?\n      description: Set a value in context under the key you entered.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      Exclusion not provided:\n      - \"38\"\n      Exclusion provided:\n      - \"39\"\n    separatecontext: false\n    conditions:\n    - label: Exclusion not provided\n      condition:\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.mailbox_exclusion\n            iscontext: true\n          right:\n            value: {}\n    - label: Exclusion provided\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.mailbox_exclusion\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -200,\n          \"y\": 1280\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: c9c7de29-6dfd-4fb4-9809-8e24b90c51fe\n    type: condition\n    task:\n      id: c9c7de29-6dfd-4fb4-9809-8e24b90c51fe\n      version: -1\n      name: Was a custom search name provided?\n      description: Checks whether a custom search name was provided, or if one should be auto-generated.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      Create new search:\n      - \"48\"\n      Reuse existing search:\n      - \"53\"\n    separatecontext: false\n    conditions:\n    - label: Reuse existing search\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.search_name\n            iscontext: true\n          right:\n            value: {}\n    - label: Create new search\n      condition:\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.search_name\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 2495\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 6005b1c6-1caf-4750-833a-e40fc3e977c1\n    type: regular\n    task:\n      id: 6005b1c6-1caf-4750-833a-e40fc3e977c1\n      version: -1\n      name: List eDiscovery searches in case\n      description: Get a list of eDiscoverySearch resources from an eDiscovery case.\n      script: '|||msg-list-ediscovery-searchs'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      all_results:\n        simple: \"true\"\n      case_id:\n        simple: ${ResolvedCaseId}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 2845\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 347752aa-64dd-4cb9-b174-ee01c86ed291\n    type: condition\n    task:\n      id: 347752aa-64dd-4cb9-b174-ee01c86ed291\n      version: -1\n      name: 'Does a matching eDiscovery search already exist? '\n      description: Checks whether an existing eDiscovery search with the specified name was found in the case.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"16\"\n      \"yes\":\n      - \"15\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: MsGraph.eDiscoverySearch.SearchId\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 3020\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 956ad573-7bc7-45ac-82cc-adf60e76ad46\n    type: condition\n    task:\n      id: 956ad573-7bc7-45ac-82cc-adf60e76ad46\n      version: -1\n      name: Re-create or reuse existing search?\n      description: Determines whether to delete and recreate the existing search or reuse it, based on the force input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"16\"\n      Delete existing search:\n      - \"14\"\n      \"false\":\n      - \"58\"\n    separatecontext: false\n    conditions:\n    - label: Delete existing search\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.force\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    - label: \"false\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.force\n            iscontext: true\n          right:\n            value:\n              simple: \"false\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 3370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 51bd5c63-cef4-4c93-8fc0-20016576ec7c\n    type: regular\n    task:\n      id: 51bd5c63-cef4-4c93-8fc0-20016576ec7c\n      version: -1\n      name: Delete existing search\n      description: Delete an eDiscoverySearch object.\n      script: '|||msg-delete-ediscovery-search'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      search_id:\n        simple: ${ExistingSearchID}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 3535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: abf029f6-833c-484b-9a24-08c6da5a1f66\n    type: regular\n    task:\n      id: abf029f6-833c-484b-9a24-08c6da5a1f66\n      version: -1\n      name: Retrieve search ID from existing search\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      key:\n        simple: ExistingSearchID\n      value:\n        complex:\n          root: MsGraph.eDiscoverySearch\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: MsGraph.eDiscoverySearch.DisplayName\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.search_name\n                iscontext: true\n          accessor: SearchId\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 3195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: ca8bed28-4c84-47e2-806f-b4916c07e757\n    type: regular\n    task:\n      id: ca8bed28-4c84-47e2-806f-b4916c07e757\n      version: -1\n      name: Create eDiscovery search\n      description: Create a new eDiscoverySearch object.\n      script: '|||msg-create-ediscovery-search'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"60\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      content_query:\n        simple: ${ContentQuery}\n      data_source_scopes:\n        simple: ${DataSourceScopes}\n      description:\n        simple: ${ResolvedDescription}\n      display_name:\n        simple: ${ResolvedSearchName}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 3720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 51f0b4ca-c19f-4103-b388-31259f61120e\n    type: regular\n    task:\n      id: 51f0b4ca-c19f-4103-b388-31259f61120e\n      version: -1\n      name: Run estimate statistics\n      description: Starts an eDiscovery estimate statistics operation in Microsoft Purview. The operation calculates the size and number of items matching the search query.\n      script: '|||msg-run-estimate-statistics'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"30\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      search_id:\n        simple: ${ResolvedSearchId}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 4200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 0ad5456f-26d3-4084-bd50-14182e11359f\n    type: condition\n    task:\n      id: 0ad5456f-26d3-4084-bd50-14182e11359f\n      version: -1\n      name: Should results be previewed before purging?\n      description: Determines the preview mode (statistics or export) based on the preview_mode input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"31\"\n      export:\n      - \"22\"\n      statistics:\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: statistics\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.preview_mode\n            iscontext: true\n          right:\n            value:\n              simple: statistics\n    - label: export\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.preview_mode\n            iscontext: true\n          right:\n            value:\n              simple: export\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 5180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: c6d965ea-ba83-40b1-a8e7-20f59f373f8d\n    type: regular\n    task:\n      id: c6d965ea-ba83-40b1-a8e7-20f59f373f8d\n      version: -1\n      name: Display estimate statistics\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"31\"\n    scriptarguments:\n      value:\n        simple: |-\n          eDiscovery search estimate:\n          - Items count: ${MsGraph.eDiscovery.EstimateStatistics.mailboxCount}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 5400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: d1411a16-4909-4ddd-972c-6542288d5283\n    type: regular\n    task:\n      id: d1411a16-4909-4ddd-972c-6542288d5283\n      version: -1\n      name: Start export task\n      description: Export results from an estimated ediscoverySearch. For details, see Manage a collection estimate (https://learn.microsoft.com/en-us/purview/ediscovery-create-draft-collection#manage-a-collection-estimate).\n      script: '|||msg-export-result-ediscovery-data'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"2\"\n      '#none#':\n      - \"23\"\n    scriptarguments:\n      additional_options:\n        simple: advancedIndexing\n      case_id:\n        simple: ${ResolvedCaseId}\n      display_name:\n        simple: XSOAR-Export-${incident.id}\n      export_criteria:\n        simple: searchHits\n      export_format:\n        simple: ${inputs.export_format}\n      search_id:\n        simple: ${ResolvedSearchId}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 5400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: 9a3b0f81-8d6a-452e-b77d-a4c2d981c6a2\n    type: regular\n    task:\n      id: 9a3b0f81-8d6a-452e-b77d-a4c2d981c6a2\n      version: -1\n      name: Download export file\n      description: Get a list of the caseOperation objects and their properties, or retrieve a specific operation by ID. When operation_id is provided, you can set download_file=true to download the export report (if available).\n      script: '|||msg-list-case-operation'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"2\"\n      '#none#':\n      - \"62\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      download_file:\n        simple: \"true\"\n      operation_id:\n        simple: ${ResolvedOperationID}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 5565\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: 1c372dd7-6952-4567-a5d5-d2de73837bce\n    type: condition\n    task:\n      id: 1c372dd7-6952-4567-a5d5-d2de73837bce\n      version: -1\n      name: How should the matched emails be purged?\n      description: Determines the purge type based on the delete_type input - Hard, Soft, or manual analyst selection.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      hard:\n      - \"25\"\n      manual:\n      - \"29\"\n      soft:\n      - \"26\"\n    separatecontext: false\n    conditions:\n    - label: hard\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.delete_type\n            iscontext: true\n          right:\n            value:\n              simple: Hard\n    - label: soft\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.delete_type\n            iscontext: true\n          right:\n            value:\n              simple: Soft\n    - label: manual\n      condition:\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.delete_type\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 6055\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: 32ec426e-0287-4df0-aba0-76ab957a2994\n    type: regular\n    task:\n      id: 32ec426e-0287-4df0-aba0-76ab957a2994\n      version: -1\n      name: Permanently delete matched emails\n      description: |-\n        Deletes mailbox items in Exchange or messages in Microsoft Teams that are included in an eDiscovery search.\n\n        You can collect and purge the following categories of Teams content:\n\n        Teams 1:1 chats - Chat messages, posts, and attachments shared in a Teams conversation between two people. Teams 1:1 chats are also called conversations.\n        Teams group chats - Chat messages, posts, and attachments shared in a Teams conversation between three or more people. Also called 1:N chats or group conversations.\n        Teams channels - Chat messages, posts, replies, and attachments shared in a standard Teams channel.\n        Private channels - Message posts, replies, and attachments shared in a private Teams channel.\n        Shared channels - Message posts, replies, and attachments shared in a shared Teams channel.\n      script: '|||msg-purge-ediscovery-data'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"2\"\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      purge_areas:\n        simple: mailboxes\n      purge_type:\n        simple: permanentlyDelete\n      search_id:\n        simple: ${ResolvedSearchId}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 6420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: 6a7babf6-b24b-4622-bbed-821267861b16\n    type: regular\n    task:\n      id: 6a7babf6-b24b-4622-bbed-821267861b16\n      version: -1\n      name: Move matched emails to recoverable items\n      description: |-\n        Deletes mailbox items in Exchange or messages in Microsoft Teams that are included in an eDiscovery search.\n\n        You can collect and purge the following categories of Teams content:\n\n        Teams 1:1 chats - Chat messages, posts, and attachments shared in a Teams conversation between two people. Teams 1:1 chats are also called conversations.\n        Teams group chats - Chat messages, posts, and attachments shared in a Teams conversation between three or more people. Also called 1:N chats or group conversations.\n        Teams channels - Chat messages, posts, replies, and attachments shared in a standard Teams channel.\n        Private channels - Message posts, replies, and attachments shared in a private Teams channel.\n        Shared channels - Message posts, replies, and attachments shared in a shared Teams channel.\n      script: '|||msg-purge-ediscovery-data'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"2\"\n      '#none#':\n      - \"33\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      purge_areas:\n        simple: mailboxes\n      purge_type:\n        simple: recoverable\n      search_id:\n        simple: ${ResolvedSearchId}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 675,\n          \"y\": 6420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 01dac98c-072e-444c-b985-5dd20af2c49c\n    type: condition\n    task:\n      id: 01dac98c-072e-444c-b985-5dd20af2c49c\n      version: -1\n      name: Should the eDiscovery search be cleaned up?\n      description: Determines whether to delete the eDiscovery search after purge, based on the cleanup input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      auto:\n      - \"66\"\n      delete:\n      - \"28\"\n    separatecontext: false\n    conditions:\n    - label: delete\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.cleanup\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    - label: auto\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.cleanup\n            iscontext: true\n          right:\n            value:\n              simple: auto\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 6730\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: 4da86785-6f2e-44b5-aab5-4ddf760fe0fb\n    type: regular\n    task:\n      id: 4da86785-6f2e-44b5-aab5-4ddf760fe0fb\n      version: -1\n      name: Delete eDiscovery search\n      description: Delete an eDiscoverySearch object.\n      script: '|||msg-delete-ediscovery-search'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      search_id:\n        simple: ${ResolvedSearchId}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 7055\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: f9813592-c76e-4b7f-b773-f1d539f59160\n    type: condition\n    task:\n      id: f9813592-c76e-4b7f-b773-f1d539f59160\n      version: -1\n      name: 'Analyst: select purge type or skip'\n      description: 'Manually select the purge type: Hard (permanently delete), Soft (move to recoverable items), or skip.'\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      hard:\n      - \"25\"\n      soft:\n      - \"26\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 6220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: 6302ccd6-f04f-4548-b37f-4bab41ff8b2b\n    type: regular\n    task:\n      id: 6302ccd6-f04f-4548-b37f-4bab41ff8b2b\n      version: -1\n      name: Wait for estimate statistics to complete\n      description: Retrieves the most recent eDiscovery estimate statistics operation for a given search in Microsoft Purview. Use this command after running 'msg-run-estimate-statistics' to check the results.\n      script: '|||msg-get-last-estimate-statistics-operation'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#error#':\n      - \"2\"\n      '#none#':\n      - \"34\"\n    scriptarguments:\n      case_id:\n        simple: ${ResolvedCaseId}\n      search_id:\n        simple: ${ResolvedSearchId}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: errorPath\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 4345\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: 9aa42b1b-5c2b-43d4-a282-5946b11b02d0\n    type: title\n    task:\n      id: 9aa42b1b-5c2b-43d4-a282-5946b11b02d0\n      version: -1\n      name: Purge Emails\n      description: Proceeds to delete-type decision (Hard / Soft / manual).\n      type: title\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"24\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 5915\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: 5dfcc1b9-f036-4128-bf12-4ad829d0a809\n    type: title\n    task:\n      id: 5dfcc1b9-f036-4128-bf12-4ad829d0a809\n      version: -1\n      name: Preview Results\n      description: Proceeds to preview mode (statistics display or export).\n      type: title\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"51\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 4675\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"33\":\n    id: \"33\"\n    taskid: 0dea4413-56d2-40fd-a5ac-75fdbfa5dfa5\n    type: title\n    task:\n      id: 0dea4413-56d2-40fd-a5ac-75fdbfa5dfa5\n      version: -1\n      name: Cleanup eDiscovery Search\n      description: Proceeds to cleanup the eDiscovery search based on the cleanup input.\n      type: title\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 6580\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"34\":\n    id: \"34\"\n    taskid: ac28ee48-9886-4b01-8e3a-c0816eecab78\n    type: condition\n    task:\n      id: ac28ee48-9886-4b01-8e3a-c0816eecab78\n      version: -1\n      name: Is any email found?\n      description: Checks whether the estimate statistics operation found any matching emails.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"35\"\n      Email found:\n      - \"32\"\n    separatecontext: false\n    conditions:\n    - label: Email found\n      condition:\n      - - operator: greaterThan\n          left:\n            value:\n              simple: MsGraph.eDiscovery.EstimateStatistics.mailboxCount\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 4490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"35\":\n    id: \"35\"\n    taskid: 7baeb44e-0084-4841-953a-729355cefaa5\n    type: regular\n    task:\n      id: 7baeb44e-0084-4841-953a-729355cefaa5\n      version: -1\n      name: Print no emails found\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      value:\n        simple: No emails found\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -270,\n          \"y\": 7240\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"36\":\n    id: \"36\"\n    taskid: 865d4ce7-87b5-40ad-8abc-c6133ea01611\n    type: regular\n    task:\n      id: 865d4ce7-87b5-40ad-8abc-c6133ea01611\n      version: -1\n      name: Finalize the email search query\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"46\"\n    scriptarguments:\n      key:\n        simple: ContentQuery\n      value:\n        complex:\n          root: inputs.kql\n          transformers:\n          - operator: ConcatFormat\n            args:\n              ctx_data: {}\n              ctx_inc: {}\n              ctx_inputs: {}\n              keep_symbol_to_null: {}\n              prefix:\n                value:\n                  simple: (\n              suffix:\n                value:\n                  simple: )\n              variable_markers: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1205,\n          \"y\": 1625\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"37\":\n    id: \"37\"\n    taskid: 8d35f52e-2886-47f1-8130-228dbdca7bda\n    type: regular\n    task:\n      id: 8d35f52e-2886-47f1-8130-228dbdca7bda\n      version: -1\n      name: 'Set scope: all tenant mailboxes (recipients filter)'\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"55\"\n    scriptarguments:\n      key:\n        simple: DataSourceScopes\n      value:\n        simple: allTenantMailboxes\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1205,\n          \"y\": 1965\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"38\":\n    id: \"38\"\n    taskid: f6c5a22f-4426-453c-89fb-c455c0852063\n    type: regular\n    task:\n      id: f6c5a22f-4426-453c-89fb-c455c0852063\n      version: -1\n      name: Use provided KQL query as-is (no exclusion)\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: ContentQuery\n      value:\n        simple: ${inputs.kql}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -460,\n          \"y\": 1795\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"39\":\n    id: \"39\"\n    taskid: 53f4067d-32d6-450d-b57a-017f00600c7d\n    type: regular\n    task:\n      id: 53f4067d-32d6-450d-b57a-017f00600c7d\n      version: -1\n      name: Build exclusion clause\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"40\"\n    scriptarguments:\n      key:\n        simple: ScopeClause\n      value:\n        complex:\n          root: inputs.mailbox_exclusion\n          transformers:\n          - operator: splitAndTrim\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR participants:'\n          - operator: ConcatFormat\n            args:\n              ctx_data: {}\n              ctx_inc: {}\n              ctx_inputs: {}\n              keep_symbol_to_null: {}\n              prefix:\n                value:\n                  simple: 'NOT (participants:'\n              suffix:\n                value:\n                  simple: )\n              variable_markers: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"40\":\n    id: \"40\"\n    taskid: 4d20c77e-8215-4b9a-a297-d572c2e18bf0\n    type: regular\n    task:\n      id: 4d20c77e-8215-4b9a-a297-d572c2e18bf0\n      version: -1\n      name: Wrap KQL query for exclusion filtering\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"47\"\n    scriptarguments:\n      key:\n        simple: ContentQuery\n      value:\n        complex:\n          root: inputs.kql\n          transformers:\n          - operator: ConcatFormat\n            args:\n              ctx_data: {}\n              ctx_inc: {}\n              ctx_inputs: {}\n              keep_symbol_to_null: {}\n              prefix:\n                value:\n                  simple: (\n              suffix:\n                value:\n                  simple: )\n              variable_markers: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1625\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"41\":\n    id: \"41\"\n    taskid: 2d6195c1-1d25-46e5-81ac-7b5dc6a7f67c\n    type: regular\n    task:\n      id: 2d6195c1-1d25-46e5-81ac-7b5dc6a7f67c\n      version: -1\n      name: Set DataSourceScopes\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"55\"\n    scriptarguments:\n      key:\n        simple: DataSourceScopes\n      value:\n        simple: allTenantMailboxes\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1965\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"42\":\n    id: \"42\"\n    taskid: ca0bca0b-daa6-43b8-bcfe-bd9b408d3e6f\n    type: regular\n    task:\n      id: ca0bca0b-daa6-43b8-bcfe-bd9b408d3e6f\n      version: -1\n      name: 'Set scope: all tenant mailboxes (no exclusion)'\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"55\"\n    scriptarguments:\n      key:\n        simple: DataSourceScopes\n      value:\n        simple: allTenantMailboxes\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -460,\n          \"y\": 1965\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"43\":\n    id: \"43\"\n    taskid: 63b997cb-bb9c-4232-b473-195f512e09f4\n    type: regular\n    task:\n      id: 63b997cb-bb9c-4232-b473-195f512e09f4\n      version: -1\n      name: Use provided KQL query as-is (whole-tenant scope)\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"44\"\n    scriptarguments:\n      key:\n        simple: ContentQuery\n      value:\n        simple: ${inputs.kql}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 1795\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"44\":\n    id: \"44\"\n    taskid: 30ff0c96-f2d4-4cb9-9ef7-fce35b84a0b8\n    type: regular\n    task:\n      id: 30ff0c96-f2d4-4cb9-9ef7-fce35b84a0b8\n      version: -1\n      name: 'Set scope: custom mailbox scope from input'\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"55\"\n    scriptarguments:\n      key:\n        simple: DataSourceScopes\n      value:\n        simple: ${inputs.mailbox_scope}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 1965\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"45\":\n    id: \"45\"\n    taskid: e34a31af-d9f5-41a2-9a45-173ebc4f66a1\n    type: regular\n    task:\n      id: e34a31af-d9f5-41a2-9a45-173ebc4f66a1\n      version: -1\n      name: Store found case ID\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      key:\n        simple: ResolvedCaseId\n      value:\n        complex:\n          root: MsGraph.eDiscoveryCase\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: MsGraph.eDiscoveryCase.DisplayName\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.case\n                iscontext: true\n          accessor: CaseId\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 910\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"46\":\n    id: \"46\"\n    taskid: 4e05ced4-64d2-4420-9142-f973a0ffc8d3\n    type: regular\n    task:\n      id: 4e05ced4-64d2-4420-9142-f973a0ffc8d3\n      version: -1\n      name: Add recipients filter to KQL query\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"37\"\n    scriptarguments:\n      key:\n        simple: ContentQuery\n      value:\n        simple: ${ContentQuery} AND ${ParticipantsClause}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1205,\n          \"y\": 1795\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"47\":\n    id: \"47\"\n    taskid: df7ea8d5-3b82-4cd2-ae70-b8836bd27455\n    type: regular\n    task:\n      id: df7ea8d5-3b82-4cd2-ae70-b8836bd27455\n      version: -1\n      name: Add exclusion clause to KQL query\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"41\"\n    scriptarguments:\n      key:\n        simple: ContentQuery\n      value:\n        simple: ${ContentQuery} AND ${ScopeClause}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1795\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"48\":\n    id: \"48\"\n    taskid: aed47801-15d1-4a27-a24a-1ccba376f185\n    type: regular\n    task:\n      id: aed47801-15d1-4a27-a24a-1ccba376f185\n      version: -1\n      name: Generate search name automatically\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      key:\n        simple: ResolvedSearchName\n      value:\n        simple: XSOAR-Search-${incident.id}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -12.5,\n          \"y\": 3535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"51\":\n    id: \"51\"\n    taskid: c8983c79-3fd9-488d-bb60-7963afe28fec\n    type: condition\n    task:\n      id: c8983c79-3fd9-488d-bb60-7963afe28fec\n      version: -1\n      name: Which preview mode should be used?\n      description: Determines whether to preview results before purging, based on the preview input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      Preview:\n      - \"20\"\n      \"false\":\n      - \"31\"\n      manual:\n      - \"52\"\n    separatecontext: false\n    conditions:\n    - label: Preview\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.preview\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    - label: \"false\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.preview\n            iscontext: true\n          right:\n            value:\n              simple: \"false\"\n    - label: manual\n      condition:\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.preview\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 4835\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"52\":\n    id: \"52\"\n    taskid: 0047d740-5682-4985-b3d7-9e14a0a1e73f\n    type: condition\n    task:\n      id: 0047d740-5682-4985-b3d7-9e14a0a1e73f\n      version: -1\n      name: 'Analyst: confirm whether to preview found emails'\n      description: Asks the analyst whether to preview the found emails before proceeding with deletion.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      Preview:\n      - \"20\"\n      export:\n      - \"22\"\n      \"false\":\n      - \"31\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 5010\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"53\":\n    id: \"53\"\n    taskid: 77d9ff54-9db1-4286-8d0d-b3bddeb5dc25\n    type: regular\n    task:\n      id: 77d9ff54-9db1-4286-8d0d-b3bddeb5dc25\n      version: -1\n      name: Save resolved search name\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      key:\n        simple: ResolvedSearchName\n      value:\n        simple: ${inputs.search_name}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 2670\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"55\":\n    id: \"55\"\n    taskid: f766c27d-3a2b-4921-9ea8-c1350a1c5009\n    type: condition\n    task:\n      id: f766c27d-3a2b-4921-9ea8-c1350a1c5009\n      version: -1\n      name: Was a custom search description provided?\n      description: Checks whether a custom search description was provided, or if a default one should be generated.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      Generate new description:\n      - \"56\"\n      Reuse existing description:\n      - \"57\"\n    separatecontext: false\n    conditions:\n    - label: Generate new description\n      condition:\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.description\n            iscontext: true\n          right:\n            value: {}\n    - label: Reuse existing description\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.description\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 2165\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"56\":\n    id: \"56\"\n    taskid: 989beff6-8095-48b2-87cc-1599230e4bc2\n    type: regular\n    task:\n      id: 989beff6-8095-48b2-87cc-1599230e4bc2\n      version: -1\n      name: Generate default search description\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      key:\n        simple: ResolvedDescription\n      value:\n        simple: Created by XSOAR for incident ${incident.id}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 2340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"57\":\n    id: \"57\"\n    taskid: 70aa15dc-26b3-44ee-8777-ff15897db1fe\n    type: regular\n    task:\n      id: 70aa15dc-26b3-44ee-8777-ff15897db1fe\n      version: -1\n      name: Save provided search description\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      key:\n        simple: ResolvedDescription\n      value:\n        simple: ${inputs.description}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 2340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"58\":\n    id: \"58\"\n    taskid: 5fb1b974-2985-480f-a50c-a96272c7cb35\n    type: regular\n    task:\n      id: 5fb1b974-2985-480f-a50c-a96272c7cb35\n      version: -1\n      name: Store newly created search ID\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"64\"\n    scriptarguments:\n      key:\n        simple: ResolvedSearchId\n      value:\n        simple: ${ExistingSearchID}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 940,\n          \"y\": 3885\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"59\":\n    id: \"59\"\n    taskid: d68a2d28-3c84-4439-91bb-38d5a3da3e62\n    type: regular\n    task:\n      id: d68a2d28-3c84-4439-91bb-38d5a3da3e62\n      version: -1\n      name: Store newly created case ID\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      key:\n        simple: ResolvedCaseId\n      value:\n        complex:\n          root: MsGraph.eDiscoveryCase\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: MsGraph.eDiscoveryCase.DisplayName\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.case\n                iscontext: true\n          accessor: CaseId\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 910\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"60\":\n    id: \"60\"\n    taskid: b953f91e-607a-4ab9-8d0a-5bb2fcb89f82\n    type: regular\n    task:\n      id: b953f91e-607a-4ab9-8d0a-5bb2fcb89f82\n      version: -1\n      name: Store found search ID\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"64\"\n    scriptarguments:\n      key:\n        simple: ResolvedSearchId\n      value:\n        complex:\n          root: MsGraph.eDiscoverySearch\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: MsGraph.eDiscoverySearch.DisplayName\n                iscontext: true\n              right:\n                value:\n                  simple: ResolvedSearchName\n                iscontext: true\n          accessor: SearchId\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 3885\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"62\":\n    id: \"62\"\n    taskid: ff45c5db-b918-44ae-a7e2-18322177c397\n    type: regular\n    task:\n      id: ff45c5db-b918-44ae-a7e2-18322177c397\n      version: -1\n      name: 'Notify: export results are not yet ready'\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"31\"\n    scriptarguments:\n      value:\n        simple: |-\n          ### Export Still In Progress\n\n          The eDiscovery export task is still running, and the file is not ready yet.\n\n          Please wait a few minutes and then re-run the **Download export file** task manually to retrieve the results.\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 5720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"64\":\n    id: \"64\"\n    taskid: e2964f4a-40fc-4dad-9f23-bad2f2ba6c03\n    type: title\n    task:\n      id: e2964f4a-40fc-4dad-9f23-bad2f2ba6c03\n      version: -1\n      name: Run Search Statistics\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"19\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 367.5,\n          \"y\": 4060\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"66\":\n    id: \"66\"\n    taskid: b9542dc9-c9f7-4486-ac51-7ab1c46fd1b6\n    type: condition\n    task:\n      id: b9542dc9-c9f7-4486-ac51-7ab1c46fd1b6\n      version: -1\n      name: Was the search auto-generated?\n      description: Checks whether the eDiscovery search was auto-generated by the playbook (i.e., no search_name input was provided). If auto-generated, the search is deleted as part of cleanup. User-named searches are preserved.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"28\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.search_name\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 6900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_2_#default#\": 0.53,\n      \"20_21_statistics\": 0.52,\n      \"26_2_#error#\": 0.85,\n      \"34_35_#default#\": 0.38,\n      \"51_31_false\": 0.32\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 7360,\n        \"width\": 2045,\n        \"x\": -460,\n        \"y\": 100\n      }\n    }\n  }\ninputs:\n- key: case\n  value: {}\n  required: true\n  description: eDiscovery case to use. Looked up by name; created if missing.\n  playbookInputQuery:\n- key: mailbox_scope\n  value:\n    simple: allTenantMailboxes\n  required: false\n  description: 'One of: recipientsOnly, allTenantMailboxes, allCaseCustodians, allCaseNoncustodialDataSources, allTenantSites. Drives data_source_scopes and KQL composition.'\n  playbookInputQuery:\n- key: kql\n  value: {}\n  required: false\n  description: KQL query identifying the emails to search/delete. Additional clauses are composed around it depending on mailbox_scope.\n  playbookInputQuery:\n- key: recipients\n  value: {}\n  required: false\n  description: CSV of email addresses. Required when mailbox_scope=recipientsOnly. Optional when mailbox_scope=allCaseCustodians.\n  playbookInputQuery:\n- key: mailbox_exclusion\n  value: {}\n  required: false\n  description: CSV of mailboxes to exclude. Honored only when mailbox_scope=allTenantMailboxes.\n  playbookInputQuery:\n- key: search_name\n  value: {}\n  required: false\n  description: When provided, plays into the force semantics (force=true delete-and-recreate, force=false reuse). When omitted, an auto-name like XSOAR-Search-${incident.id}-${ts} is generated.\n  playbookInputQuery:\n- key: description\n  value: {}\n  required: false\n  description: eDiscovery search description. Defaults to \"Created by XSOAR for incident ${incident.id}\" when empty.\n  playbookInputQuery:\n- key: force\n  value:\n    simple: \"false\"\n  required: false\n  description: Only meaningful when search_name is provided. true ⇒ delete-and-recreate. false ⇒ reuse existing.\n  playbookInputQuery:\n- key: preview\n  value:\n    simple: \"true\"\n  required: false\n  description: '\"true\" / \"false\" / empty=manual. Whether to pause for analyst review before delete.'\n  playbookInputQuery:\n- key: preview_mode\n  value:\n    simple: statistics\n  required: false\n  description: '\"statistics\" (count + size from estimate) or \"export\" (run export job, download report).'\n  playbookInputQuery:\n- key: export_format\n  value:\n    simple: msg\n  required: false\n  description: File format for the export when preview_mode=export. \"msg\" produces individual .msg files inside a ZIP (preferred for analyst review). \"pst\" produces a single PST archive. Ignored when preview_mode=statistics.\n  playbookInputQuery:\n- key: delete_type\n  value:\n    simple: Soft\n  required: false\n  description: '\"Hard\" / \"Soft\" / empty=manual (also lets analyst pick Skip).'\n  playbookInputQuery:\n- key: cleanup\n  value:\n    simple: auto\n  required: false\n  description: '\"auto\" / \"true\" / \"false\". auto ⇒ delete the search only if it was auto-generated.'\n  playbookInputQuery:\ninputSections:\n- inputs:\n  - case\n  - mailbox_scope\n  - kql\n  - recipients\n  - mailbox_exclusion\n  - search_name\n  - description\n  - force\n  - preview\n  - preview_mode\n  - export_format\n  - delete_type\n  - cleanup\n  name: General (Inputs group)\n  description: Generic group for inputs\noutputSections:\n- outputs: []\n  name: General (Outputs group)\n  description: Generic group for outputs\noutputs: []\ntests:\n- No tests\nfromversion: 6.10.0\n",
  "product": "Cortex XSOAR",
  "pack": "MicrosoftGraphSecurity",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "onRZPbwpfDw4amW9wyB3PGKFVj0ueIg87PZ1PZN5X7uvtIm8c+UpvCs3Mb2m9ys9Ru1zPdbDaLtY1QE8Wl9mvdlh1TxvIus8nCEruz/zKb3V1oC9icDAuzDH4rxRoYq8aEHBPJSjlr2LNpQ8zVGdvFUC07xxNiQ7kJzePLXBrzrAGRW7RNs1vPYh5Lxsj5E8dkkBvG1ryrwFBf68+rcEvQSKPr0rdSi9C0WyvH1dkzyLIom7K+X4vOcBU7w2zr48sLa3vRqFET0bX9o9YnnTvDU0Dr37Vb88qUwbPUZDg7xSeSe8nwxyvSQF1DwLQs+8CJuPO5/pHr1LU7c7L1Cju4yGPz0wjz+7FvOsvM02bzzwL2u9bEUxPa8fnzru3lY9HmVeO+Z/QzzYBRC9QSVIvJsGNTxgW7Y7BJ0WPYEQ/DzIWCG9wMWeulwlgj1nmKI8QzNAvbAxlLzFPBE8yoWqvfMy+ryin/q8Gx28PRFJEr0b8Lm8/rKDPZt7rD3+dDi8S2yRvboyw73/+5c6MxlzPB/VFr2UQKW8/nh1PHAIpbzubTg8q037PIUYq7vMg8S9iByrvWdeczx44YE83ZLoPPRoRz0rh1a7dRMTvdpAWTx7BkW8qBSYPIA03bsroDm9o9MmvKAeET3QCVk8h9ivPcvFKz0ysck8GQeaPAmZzLyItGK8pyR/OxlIEj0udOG7+PLnOVoOcrx3IbC8Q1h9vNdQsz1pCwy9rhuiunslO7zVPWW6AFdAPP+2sL2oInG8HS4LPOF5+rzkqVg9N9dMPWPJ1Ly81LC8Xip0vFXNM73GI/y80ubqvOIERLxHVIi894kgvI2Yxb34FwQ9PK7qvOVOfLwY00y9FRjzO69WrjwyakO9/UnXvHOXtjvXrPm8aDQDvVLpET3S/Ry9WKZEvX5swr2ALDm9tNi4vEEq3jycNgS8uc60vK4jk7zKIIq8CyeIPaaUpbvHne08XKhcvcXaEz2z+7o8bUALvJH0Irvt1nc8UtlsPejxCrzgH1w8IyR9PKDpET1mVQy9f2c1uxK5JD2zesq7orCrvC6NhryUx5k9nlsWPQ08rzsHDZG9sbdFvUw3CDt1vya9xnMdvfs/q7xvKAS9UGhJPXoChjtgKzE7oJ8TvHGuRLvpIfq7feHlPJ2pQT2lsrc92OQ3vSncjzwbg2G8VgfHOY3FDj1mOtC8qlyiPG/9Mr2vozE9nrKcvCXdib04ho08jPUCPd1Md7t6bSs8XYZPvHkmszxYITM9oIsyvYhUO73vIE27HcBSvWEM5TxN1Zg8u/gnu5zDzT3ivdC8oNv1PLAJnLth4wY8ev1VvUdmwryG7ZO8YDKtuz08BL1z4Cc8Tv4XPIY1tbuu0cq8USD8PFqJWr3VFBI9PfaGvD5KKr2+Bj29c8qBPOAWw72mBpy98kouvVb1BT0/6C26Re8XPfFHmry/x4m8D47FvAVrRL0Hc388HFwWvThF/jyxA7m9jQwTvT7LWLu/M4G6r1HhPPf8nLwXYhk9JTJqvVdheTwJHlm98syavBla/LxmgB89HwP2PMSyNL28ix69pasfPWjQ1Tzbpgw91WCVPXTQiLwgiMO8giyxPE3bXD1GBRa98QAqPQG8JDz93p08+58ZPWzrrzwGMwq4MTZ0PBTjCz2GTt48va7PvPkTLbwgQ6U6SMG2u8jyAr5IzfO82C2qu9miwLvLiBa7jQnQPJnMJL0M1EU9VaKuvODOQ7wCQvE7/Toavd7YSbw0jFe8H2VcO5Z+GDw3wYQ8ucN8usHaIzsOQVc8azwvvd1jLDz1g2o99VfYumOObzw/6Pg8E8IEPRmbeTwWVzC92EVgvCEgpzxuBd683PCDPesqQz0jQec7N5ixPGFMQDyoGQ8924T9PD1EhDySNNo7VMyzvIfktruEAQ88+ql8PBVds7thrEY8LxH6PMrW2bxghhi9RERsPX+7fj0k5pK7uS4Jvf+QLb2ZBt48CHueu6HNRrwjmwS9wK5QvSv6Ib0TD7684zkEO6i/or01e6C8PhdUPCKzC7zJIdg8goFBPJx7rD1DNgO9O1OoO0I99Lt6iAI7YqIFvcObqz1BnN88E7xXPdoVSb3Z73+7uTWbvOYDuT0NJdY8RqYrvBnKW7w8c8S8hB5MPflFJbwSfHU7kNVbPBgMGj3enNk8jO7SvF/tHDzgdsG8FEAyOno5cbuMGNE8oizKvHbQiDzCLlw9fP/8PLdbBryvMkQ9ahDzvC0qrjz0MUE9MXBFPCUMsDs4/Ya96+SQvYG0Ab2tAHo7KcD2O3WzgzwvnL87u5QYuYeXEj1+bSK9QDpZPAk1Wbt6TgW9zuBUPMnqeT2tiBU9Sdy5PIBtyz1jJCE9IXsdvX0pAj2DsZO8QpDAO4+PYjx0W9u8m9k0vKy0HzwUSk68FBkXvWXk4L3hpoW7QezqPMplh7wUi+K8wRL7u3XWmr2vG4i7n2HaPXHs2jyCKAe9PzQsvdLMnLopBFY9O36QPImZnz0D8yE9XcmIPTor8TyncAA9/3QnvWMWrDyqcFI9TJcEu+1pxrvt/ku8YHZcvdPoWr1YiQs9e1DXvEEfJD0EVMq8nWsFvRWnmDwHzK88BT/GvCi5dL1QbAa9xhRYvcGltrw9JMe7Du3EvaxZsTzvJSK9XTniO+GC0zxw3Cw97q6GPYV32rv3XKm8x7j7O0Q1AT0ZGe+8fim5u0dX97wF0ZU9fRZOPe9lzLxkicc8sQsxvYQzPb3LYog8L4NEPG1oA72M5Co5QZeQPFFbIb1ffVg8PIw0PINpw7sPKzq9Uy+uuwxrorxWrOA7TMRyOwsUl7ltjyC8z9C7PUvr2jtFmAU9Vuv6udHQDD1Nf4U90fnMPLMJdD2RYXg9sk7NPAvMKT3eRho9R5GUu8nUGD3GBis9YAifuzXs1DzCQ9m8Xa2lPfz8gr0GGiO7Kb4xu5hXEbxj6Rc9ivLVvCWwOD3wdLG8FWaMvI7+k7sDsCI8knsivcZtFryd34M8TFmBvY8U57yzN4O97sJNPUOwz7scoPE7xQL2PH8BT7xW9gY9G6pWusPy1ruOd8O83rYBvWcYcLysXcs7PFdIO//f0bwRBJg8/Qw2Pc5LJbt2+Ey9GvXeOzSXRrx2LTE729eOvdqQCDyr+1Y8ECebvF+uSzwSQTw8O7SpPFIZvTxIpha9x/NtPF1b+buWW308p5rSu4pNyLypgJM9iE2nvLzCdL1US4O9tzXwvLn7i7183Nk8zJ0GOi9ay7yMnYw928xCPN1P8bx8+me9KQrgPOd0QbqglyC8AqlqPCJmRjwg1Hc9E7gAPD3ViDz2fRW8ki4XPUmEELu7Lx29hehSvNpu4TwmqPI8auSOO2o8GzwLnxU9fqUivQr2CLwKIxS9Yu+/u0ze8zxl3JS7AXP7vGKVPD0Q3668jQm1PZdd+7uWt529dOESPcMmCD2dc0a9xzWLvBNzwDydHwg80R+qPWuu97yCsh09UaY8vTYSIjsYbOm8FNU9OsY4pjy8pju9NLwCPf5FlLyoC6C9r0OGPAAaf739e9c7Y8xWvUM//7x5+8A8IbRpO1ZK0rzehhm8o/RDPejsFz0JXNE8el0MPO0ABb0gnIA9UepSvDKA4bzFkqW79o+avPbgnz1b3Mk6QP/BPKEM5rzJDxQ9zu/YvHBW3rwaMT68qZpFPOejFT0uaIO8h1JgO4O8UjyJvM48ssBbvAUVwbvZir68dSO1uyhJGLyjw7+7UZoXvN5eE70AUCc9FGyrOipLorwUt1c9Ar4QvpzhxjzRJT28C9UUPbZwsjwyrAY9kBTzOlhgibwkUIw85vT9PJB29DwRowq94nGMPXMAj7xG6FE9rdxVPWwJWDyF1FY8ZqR2O8cJkbeogSO8QwWMvECBIz1Grw89NM0Dvda1VzxWlwU8LUbtvALwpLsqQ4C8k5ravD4a17xgPgg8nnzmvJ1DO70N3t05o6WOvMKjez2yzui7y84RPLodlDyu9hq920mAvXyPHL23NZy6JJSBOuD8Hrs8ZRK9aPAVvcm06LxKo4Q9nx+nPIxDNbsy0hA9ysWrvDr3D728iQm9gvF3vedwaz1GCkS8"
}
