bundles/spark/kbs/soar-playbooks/entries/pb-mcafee-tie-tie-ioc-hunt.json
{
  "id": "pb-mcafee-tie-tie-ioc-hunt",
  "title": "TIE - IOC Hunt",
  "category": "playbook",
  "content": "Hunt for sightings of MD5, SHA1 and/or SHA256 hashes on endpoints, using McAfee TIE (requires ePO as well).\n\nInput:\n* Hash (default, takes all deferent hashes from context)\n\nOutput:\n* All agents that files with \"Hash\" has been executed on (TIE)\n* Enrich Agents info from ePO\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (McAfee-TIE, xsoar-supported).\n\nInputs — Hash: The Hash to hunt (Could be MD5,SHA1,SHA256).\nDefault is set to all hashes.\n\nOutputs — McAfee.ePO.Endpoint: Endpoint information for agents has been executed on..\n\nIntegrations/scripts used: Exists, epo-find-system, tie-file-references.",
  "raw_yaml": "id: TIE - IOC Hunt\nversion: -1\nname: TIE - IOC Hunt\ndescription: |-\n  Hunt for sightings of MD5, SHA1 and/or SHA256 hashes on endpoints, using McAfee TIE (requires ePO as well).\n\n  Input:\n  * Hash (default, takes all deferent hashes from context)\n\n  Output:\n  * All agents that files with \"Hash\" has been executed on (TIE)\n  * Enrich Agents info from ePO\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: b79d975a-a6dc-4a66-8515-c8f4177b0a40\n    type: start\n    task:\n      id: b79d975a-a6dc-4a66-8515-c8f4177b0a40\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"7\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 1bf80041-9e03-4daf-861c-a709df537687\n    type: condition\n    task:\n      id: 1bf80041-9e03-4daf-861c-a709df537687\n      version: -1\n      name: Is TIE enabled?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: Is the McAfee TIE integration installed and configured?\n    nexttasks:\n      '#default#':\n      - \"4\"\n      \"yes\":\n      - \"3\"\n    scriptarguments:\n      value:\n        simple: ${modules(val.brand==\"McAfee Threat Intelligence Exchange\")}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: c906e63c-45c5-4540-8f42-b74db1943725\n    type: regular\n    task:\n      id: c906e63c-45c5-4540-8f42-b74db1943725\n      version: -1\n      name: List all agents that the hash has been executed on\n      description: Retrieves the set of systems which have referenced (typically executed) the specified hashes.\n      script: '|||tie-file-references'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      file:\n        complex:\n          root: inputs.Hash\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 519\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: c283821d-46ac-4b77-8728-9bc136f0c729\n    type: title\n    task:\n      id: c283821d-46ac-4b77-8728-9bc136f0c729\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1492\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: adfc3709-ca91-4ac0-8c2b-179c44d30403\n    type: condition\n    task:\n      id: adfc3709-ca91-4ac0-8c2b-179c44d30403\n      version: -1\n      name: Did we find any relevant agents?\n      scriptName: Exists\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: condition\n    nexttasks:\n      '#default#':\n      - \"4\"\n      \"yes\":\n      - \"8\"\n    scriptarguments:\n      value:\n        simple: ${File.References.AgentGuid}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 703\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 5d9d7475-757f-4b4a-81a7-8ad317b5a714\n    type: regular\n    task:\n      id: 5d9d7475-757f-4b4a-81a7-8ad317b5a714\n      version: -1\n      name: Get Agent info from ePO v2 (epo-find-system)\n      description: Finds systems in the McAfee ePO system tree.\n      script: '|||epo-find-system'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      searchText:\n        complex:\n          root: McAfee.TIE.FilesReferences.References\n          accessor: AgentGuid\n      verbose:\n        simple: \"false\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 1300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: a08baee9-a402-4bc8-8cae-77c4c144d889\n    type: title\n    task:\n      id: a08baee9-a402-4bc8-8cae-77c4c144d889\n      version: -1\n      name: Hunt HASH in TIE\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 1df1aefe-fce4-4fb8-80e0-3fbef311f772\n    type: title\n    task:\n      id: 1df1aefe-fce4-4fb8-80e0-3fbef311f772\n      version: -1\n      name: Enrich in ePO\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"9\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 926\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: a01b200f-cc8b-4f6c-8fbd-b8c568201ad4\n    type: condition\n    task:\n      id: a01b200f-cc8b-4f6c-8fbd-b8c568201ad4\n      version: -1\n      name: Is McAfee ePO v2 enabled?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: Is the McAfee ePO v2 integration installed and configured?\n    nexttasks:\n      '#default#':\n      - \"4\"\n      \"yes\":\n      - \"6\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: McAfee ePO v2\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 1090\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_4_#default#\": 0.1,\n      \"5_4_#default#\": 0.28,\n      \"5_8_yes\": 0.58,\n      \"9_4_#default#\": 0.44,\n      \"9_6_yes\": 0.59\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1507,\n        \"width\": 647.5,\n        \"x\": 162.5,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: Hash\n  value:\n    simple: ${.=val.File.map(function(f) {return [f.MD5, f.SHA1, f.SHA256];}).reduce(function(a,\n      b){return a.concat(b);}, []).filter(function (val1) {return val1;})}\n  required: false\n  description: |-\n    The Hash to hunt (Could be MD5,SHA1,SHA256).\n    Default is set to all hashes\n  playbookInputQuery:\noutputs:\n- contextPath: McAfee.ePO.Endpoint\n  description: Endpoint information for agents has been executed on.\n  type: unknown\ntests:\n- search_endpoints_by_hash_-_tie_-_test\n- McAfee-TIE Test\nfromversion: 5.0.0",
  "product": "Cortex XSOAR",
  "pack": "McAfee-TIE",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "Rg3YPN2CmDz27rq9pcbUvIYZnD3Eqr67kFwaPViigT2fWNG8jSy4PCR4nbpS8Eg9E9oDPdZFDj3W72Q8ePOjvTbZNj1c7yQ9Y5nPvGzXorxfBOW8rkYFva/t1rsCPI68/R8EPKeX6ryG5cc7Tl/wvG1bj7ySgUI8dYKrPG8e7jsFV5+8o7rIPCRwWr2peRe8B5QuuxB9GT0SVPW8E4rvPOVTjr0TT5y8vZpvvWatHj2gLaO8Baw+vbgP2LxeEvQ8k+pavR3H0Txomqs99HqVvJalpLzl7Ng8W18EPVbU87ydcmE7u+SxvayGZjzBvqW8PDg3vO38sryx1Ha7LLmUu+tTuTy8pyI9TrTcuzZf3zwAVZ290bVXPThGdL3UVQI8G4k6vdxzrzwwrmq7nJa0PC5ZprtQFoc8Vpy5PO+8kT1zaJA8WpZwO0XdlD1HCMS7yXoEvdGuh7zYD5S7kV2/vbg4/ztRgEI7NYv5PQGedzs54S+9I+llPQfvcj2DgKi8QxInvd7DuL0PC4g8OosCPC4LF7yMuTq8sbIQPO0xlrudZx09GjtAu6sSEb1GsJ69Wr9evRMUgrzNSZu7KRlKvNVb4rrI/GS8Q2YyvXW4mLz5PKC5MjL6O4BNA71vETa9O2bRPBvQQD0E1Mc8ufrUPGABOD2SHnY9v2swvMc5L7smMOM7A+MSPKd8tjyjvyK9YIlpPLVqRry+ZQC9v45YvWTvGT1LUf+88ASFPGJyTDz7uAU6WlcNvFA6i70qrla7JQcLPUs0jbypiYE9HD4kPVk9pLwUzS+9I03PvBFLUrvdmVG9s4FfPIu9Zb1v0iG9aC7ePLuzhr2Zjnc8PdXwvK5kJr3lmSS9L8oEveH9Bbz1Hym9FCONvdtywrxDBve8V3ljvVumwjxZZ228MCzrvDY4p70noyW8JsaDvIhMbDy8PQY91DkjvfzWIrzN6QA8zoZEPRvoB7tMbyQ9AiDpvW1XGT06zpg8uu5juxGhfzx0GEM8WH4oPfh1iDwd14C8+hCZPbL2iz20ljO9jbvHu+U7nDzB8WO8wN1rvbibDzs3wFw9l00XPcGemrsPVRa9yzq3vdZbbLx4IRy8Ja6nvBzGkDxWHna97i6TPE04CDy1kUA8fIMxvYrQNb20AnW73xwiPJNtpDyFa789H8+XvP7eZbx6DfW8WmD7vAwwy7pRcBK8iN+fPfkSDr2GQgU9jNWePAALib1w3Lo8vgrmOuPqpTxHsLS4LxUMvFhFXT01hco81byrvFl1qbyCd7U85neKvTJdhj0hjEQ9ZHqXu7b+Mz1nJz+8uyEEPUnV0Ly6NfE8/zcavVfNqbxS0DW9LprSO0QuDz2wwDe8o3sAPL0qnzzX3ia9+WUOvAn78zvKVkk9IfGtvLDZtDuPxSm98FKDO/JDrb2LXVS8hwFuvcLK3zwK5L279yukPFtJ+bxSY/K7qZ3sOmNvar3EEYE7h3B7POgKNT0Ffam9Wo93vQ86VLxu7h696zzIO+lKrrwcw4s8UrAWvZE5lTvxGOq7/U8EvTAqWbqKpik9QJqNPUQHh7z8sa+9e5QKPULlKTs3TzE9lN+YPVkOq73xbJi7rkg8PUW2Nz17VmQ6DHLtPClkXbx+o/Y8t87gOpAmzDvj5FI78CKNvHFU6rtDzwo9uaUEvfEun7ysbIk6f9wTvBZx1r0u48S8uHD5vLwzBj04nEw8nUsdPS/Ofr2/BGU8+TZRvKU4nTwJpBI93mxBvV5ggTx1/Ia9sod6PPPwuDseLs08Y4DDvKHUnDwAUQs95OykvbzyzTxLPoc9B6nrPH8jGDtznqa8wzbTPN0k/Tvz2bi7E8GPvL7zyTw4K7s7r3oAPXGJKryZBTU8rVNRPfa93rzKBUi6wJugPEsqfrwhppM7zAR8vXE0Yr1pTM08nEIYvR8urTzHW5U9JcZePVqhC7xvB868Aw9OPbzypTwQDKM8yDgCvTFYCr1gKQG9pnEZvThZ8rwpLok8xPdevXPJu7m5kla91O7LPBQy5bxmJBO9myqDPKxukrzQ0fy8MuJEOtbkwz0oMSi9eXALvR/NqLyU0zs8cBIqvTMPrj1zwuM7DL1RPUHYOr05bk28rG/NvMVtiD2DVzw8fP6ru01CBbyy+ei7qB4DPVZ4G71ABXY8/AvgO+ZKaz2W0gw9hjSIvDJFLzxKcDC8VLVTPCJmsLyPVXI84vqgvJawsjxemIY98nuWvJB14bubMQM9ejMTPBz2qrwxOeY8hLYIvfCVkzzzJI69sCXqvC6CXLx5zEy75bPHuxHxazvPnc47F8KQvOsbEz0facS7ZEcZPEhwo7uvOeY8FWc/vKZlHj1/xgI9STFEvJCGyz24qy09L2NQOSBcajxVCF07S7mavObFOTtbp1C8l+ZgvFRQCTy6gI07D6YevaTz6b2WF3s7UuVPPJFahbyfRBK8s/WgPEeG5ryhW5w8jK9xPdL8HbzNkDe7XtFLvQF397y3h5s98TizPNrzszkSQ9M8Kc5TPQ+DnTz67Ik9nK4Ovbo8Aj3PDGA9PrxlvCF7pLpt0cy84W1cvVjEDj1OT9Q86d6ZPCdruDwH4cS8t10dvZEEHDzfyZo8C3gmvZ/ENb0iLIw70sKPvbl8Q7xb6hi78AFJvecFsjydK608IJiLO1m1VT2vq/48BblZPXBtTb3Ejos8em8LvdweJD221TS9D9KcPOHKWrzFe+C7srUMPbmykLzrAQc9Gf6yuop0z7x+yAA8jTO1un+R2jq0Xsw7TIBjPW+hFL2o3hW7H0bwPNctjDwrww+9mzxLvD4lgDz0ymu7WE/hvJmcLzy5UYS7CuuJPez6Nz38URo9sF11PMchrTzFuyY8fqUOvM7ltj2pBKG8XlSKvGVFEzvIhRk9+BSQO78d2Dv/N0M91Y5+PF56ZDx8NQm9Lvo5PT8jgrsec4M8QhijPFPkVDwO+Rc9sY4qvTNU+Dy8uHy8nwXXvLM2VLwtCa48+TY+vTuFZDxMt6+8EjgqvdhkxryIbTW92UkePMMbbju7MSO8ZSZtPOxD7rxt1ss82fAqO+fPGb0Z0pi8sXF8vQzVGj0l0H+7n2HoPEYTOD31Mku8WK+DPaTeljxc99K8tIFNPEzJm7rShNe7DgF6vUq3JL0NdFa9QqMCvT88Oj0mH+u8Q8iBuutXgTxfSVa9uRdGPbkfJDu0qdW8cwoBPVqD87uC7G89IUtuuy/oYL18IY69Z55qPCQcjr1E5dM8fgbHO+tt2zzSMAQ9B9/AvP1XMr3gLPO8jBhkPO+SR71rnqm8eeqKPBAzmzxas6Q8LN8svbfzkLx4vPC8uYWmPDDcsbutfF+8dbFDPPVZVzzbV5E9T5UfvW2TPb24eyU9EtUdvQ0seDsR4ee8K6AWPXPzLj27ioI7khz7vKa7Nz23Wu46blmxPfSWqzyYysy9H8U3vPk+dby8pYe9sPkcupEVKj1FOhc7PvWPPc8qZL3BvMo8X4NWvTUJ17wRMMC82T0yvJ4xb721lw69FBMdvL7EJL2yL6W9WLSLvCmtjr2JOtc8z6LPvHhpiTsU41q5v/KOO683PDoQpdY8hmTJOxrt8zwYz7O8XFUHPRUiqzyAFDw9jQYQvTDfSr0TDxQ9WVjFvK4VtDxrqRK9eIGXPH0DRrtbXi86z7Z4vTqtdLyMY4G7ToUbPD84JD3pyJ28wmkKO79/NLxBkYG8yQb6vC/2mruoL9284GowvKDK47xlldY81EWovChBcLzSeuU8o3KhvJFyB7365go9GH0GvgaDWL3Dbje9LxRePYwFnjxcz3G8FiOCPAa20TzRBi49k9uiPUpF4jsEo3i8YFWRPB53ELxMbEg90NaAPZg4erxI8ei8oOnfvPlD/zyUhXq7SNs2vbabWj3iSRA9/VI4va1gDTzL9wA6j7PJu1pyAruGv0S9RNjdvAI5KL0iSoY8Bw07vdHSgby8Edm7AhEVvYdZST3+aLa7rT5POwV94zxRiYW9mZCQvBnwjLxVuhe8xxc+PEUHrDx0B/m8nZUXvUGbiL3/PZk9cyFTPc52bryOhw49eA9+vbbzlbxA9oy9otDtPFrfRjyYFJW7"
}
