bundles/spark/kbs/soar-playbooks/entries/pb-mcafee-advanced-threat-defen-detonate-url-mcafee-atd.json
{
  "id": "pb-mcafee-advanced-threat-defen-detonate-url-mcafee-atd",
  "title": "Detonate URL - McAfee ATD",
  "category": "playbook",
  "content": "Detonates a URL using the McAfee Advanced Threat Defense sandbox integration.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (McAfee_Advanced_Threat_Defense, xsoar-supported).\n\nInputs — URL: URL to detonate.; Interval: Polling frequency - how often the polling command should run (minutes); Timeout: How much time to wait before a timeout occurs (minutes).\n\nOutputs — ATD.Task.taskId: The task ID of the sample uploaded; ATD.Task.jobId: The job ID of the sample uploaded; ATD.Task.messageId: The message Id relevant to the sample uploaded; ATD.Task.url: The URL detonated; ATD.Task.srcIp: Source IPv4 address; ATD.Task.destIp: Destination IPv4 address; ATD.Task.MD5: MD5 of the sample uploaded; ATD.Task.SHA1: SHA1 of the sample uploaded; ATD.Task.SHA256: SHA256 of the sample uploaded; File.Name: Filename (only in case of report type=json).\n\nIntegrations/scripts used: Set, atd-check-status, atd-file-upload, atd-get-report.",
  "raw_yaml": "id: detonate_url_-_mcafee_atd\nversion: -1\nname: Detonate URL - McAfee ATD\nfromversion: 5.0.0\ndescription: Detonates a URL using the McAfee Advanced Threat Defense sandbox integration.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: d2f4d7dc-4562-4517-8d63-3539676ca81d\n    type: start\n    task:\n      id: d2f4d7dc-4562-4517-8d63-3539676ca81d\n      version: -1\n      name: \"\"\n      description: start\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"9\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"1\":\n    id: \"1\"\n    taskid: 1ffe1273-53cc-4196-85ee-aeb00cdc3683\n    type: regular\n    task:\n      id: 1ffe1273-53cc-4196-85ee-aeb00cdc3683\n      version: -1\n      name: McAfee ATD Upload URL\n      description: Uploads the submission to McAfee ATD.\n      script: '|||atd-file-upload'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      analyzeAgain: {}\n      dstIp: {}\n      entryID: {}\n      fileName: {}\n      filePriorityQ: {}\n      messageId: {}\n      skipTaskId: {}\n      srcIp: {}\n      submitType:\n        simple: \"1\"\n      url:\n        complex:\n          root: inputs.URL\n      vmProfileList: {}\n      xMode: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 275,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"2\":\n    id: \"2\"\n    taskid: d774d782-52bb-4667-8842-9401535bdf2f\n    type: playbook\n    task:\n      id: d774d782-52bb-4667-8842-9401535bdf2f\n      version: -1\n      name: GenericPolling\n      description: |-\n        Use as a sub-playbook to block execution of the master playbook until a remote action is complete.\n        This playbook implements polling by continually running the command in Step #2 until the operation completes.\n        The remote action should have the following structure:\n\n        1. Initiate the operation.\n        2. Poll to check if the operation completed.\n        3. (optional) Get the results of the operation.\n      playbookName: GenericPolling\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      Ids:\n        complex:\n          root: ATD\n          filters:\n          - - operator: isNotEqualNumber\n              left:\n                value:\n                  simple: ATD.Task.taskId\n                iscontext: true\n              right:\n                value:\n                  simple: \"-1\"\n          accessor: Task\n          transformers:\n          - operator: getField\n            args:\n              field:\n                value:\n                  simple: taskId\n      Interval:\n        complex:\n          root: inputs.Interval\n      PollingCommandArgName:\n        simple: taskId\n      PollingCommandName:\n        simple: atd-check-status\n      Timeout:\n        complex:\n          root: inputs.Timeout\n      dt:\n        simple: ATD.Task(val.status != 'Completed').taskId\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"3\":\n    id: \"3\"\n    taskid: 139bb8bd-8c59-483e-8632-aa1031236b24\n    type: regular\n    task:\n      id: 139bb8bd-8c59-483e-8632-aa1031236b24\n      version: -1\n      name: McAfee ATD Get Report\n      description: Retrieve the reports from McAfee ATD.\n      script: '|||atd-get-report'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      jobId: {}\n      taskId:\n        complex:\n          root: ATDTask\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: ATDTask.status\n                iscontext: true\n              right:\n                value:\n                  simple: Completed\n          transformers:\n          - operator: getField\n            args:\n              field:\n                value:\n                  simple: taskId\n      threshold: {}\n      type:\n        simple: pdf\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"5\":\n    id: \"5\"\n    taskid: 7aef66ab-1f28-4a35-89d8-173760f509c5\n    type: condition\n    task:\n      id: 7aef66ab-1f28-4a35-89d8-173760f509c5\n      version: -1\n      name: Is there a URL to detonate?\n      description: Checks that there is a URL in the playbook’s input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"1\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              simple: inputs.URL\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"6\":\n    id: \"6\"\n    taskid: 586f9a47-8d2a-4ff5-8ad5-788ddc8310ed\n    type: title\n    task:\n      id: 586f9a47-8d2a-4ff5-8ad5-788ddc8310ed\n      version: -1\n      name: Done\n      description: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"8\":\n    id: \"8\"\n    taskid: bd6b3429-b5e0-4bf5-8aa7-5b6305b016dc\n    type: condition\n    task:\n      id: bd6b3429-b5e0-4bf5-8aa7-5b6305b016dc\n      version: -1\n      name: Filter taskId\n      description: Checks that valid URLs only have been sent to detonation.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: ATD\n                filters:\n                - - operator: isNotEqualNumber\n                    left:\n                      value:\n                        simple: ATD.Task.taskId\n                      iscontext: true\n                    right:\n                      value:\n                        simple: \"-1\"\n                accessor: Task\n                transformers:\n                - operator: getField\n                  args:\n                    field:\n                      value:\n                        simple: taskId\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 275,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"9\":\n    id: \"9\"\n    taskid: 35d8af19-10dd-43fa-855d-1a99e08bbf12\n    type: condition\n    task:\n      id: 35d8af19-10dd-43fa-855d-1a99e08bbf12\n      version: -1\n      name: Is McAfee ATD sandbox enabled?\n      description: |\n        Verify that there is a valid instance of McAfee ATD enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: McAfee Advanced Threat Defense\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"10\":\n    id: \"10\"\n    taskid: d9cb6357-65d3-489e-829a-32db7a9e54f1\n    type: regular\n    task:\n      id: d9cb6357-65d3-489e-829a-32db7a9e54f1\n      version: -1\n      name: atd-check-status\n      description: Updates the status of the tasks in the context.\n      script: '|||atd-check-status'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      jobId: {}\n      taskId:\n        complex:\n          root: ATD\n          filters:\n          - - operator: isNotEqualNumber\n              left:\n                value:\n                  simple: ATD.Task.taskId\n                iscontext: true\n              right:\n                value:\n                  simple: \"-1\"\n          accessor: Task.taskId\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n  \"11\":\n    id: \"11\"\n    taskid: e67fe4e6-2060-46ff-8f61-c87a4b88cf93\n    type: regular\n    task:\n      id: e67fe4e6-2060-46ff-8f61-c87a4b88cf93\n      version: -1\n      name: Set Context\n      description: '-'\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      append: {}\n      key:\n        simple: ATDTask\n      value:\n        complex:\n          root: ATD\n          filters:\n          - - operator: isNotEqualNumber\n              left:\n                value:\n                  simple: ATD.Task.taskId\n                iscontext: true\n              right:\n                value:\n                  simple: \"-1\"\n          accessor: Task\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1245\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"8_2_yes\": 0.57\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1610,\n        \"width\": 605,\n        \"x\": 50,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: URL\n  value:\n    complex:\n      root: URL\n      accessor: Data\n  required: false\n  description: URL to detonate.\n- key: Interval\n  value:\n    simple: \"1\"\n  required: false\n  description: Polling frequency - how often the polling command should run (minutes)\n- key: Timeout\n  value:\n    simple: \"15\"\n  required: false\n  description: How much time to wait before a timeout occurs (minutes)\noutputs:\n- contextPath: ATD.Task.taskId\n  description: The task ID of the sample uploaded\n  type: string\n- contextPath: ATD.Task.jobId\n  description: The job ID of the sample uploaded\n  type: string\n- contextPath: ATD.Task.messageId\n  description: The message Id relevant to the sample uploaded\n  type: string\n- contextPath: ATD.Task.url\n  description: The URL detonated\n  type: string\n- contextPath: ATD.Task.srcIp\n  description: Source IPv4 address\n  type: string\n- contextPath: ATD.Task.destIp\n  description: Destination IPv4 address\n  type: string\n- contextPath: ATD.Task.MD5\n  description: MD5 of the sample uploaded\n  type: string\n- contextPath: ATD.Task.SHA1\n  description: SHA1 of the sample uploaded\n  type: string\n- contextPath: ATD.Task.SHA256\n  description: SHA256 of the sample uploaded\n  type: string\n- contextPath: File.Name\n  description: Filename (only in case of report type=json)\n  type: string\n- contextPath: File.Type\n  description: File type e.g. \"PE\" (only in case of report type=json)\n  type: string\n- contextPath: File.MD5\n  description: MD5 hash of the file (only in case of report type=json)\n  type: string\n- contextPath: File.SHA1\n  description: SHA1 hash of the file (only in case of report type=json)\n  type: string\n- contextPath: File.SHA256\n  description: SHA256 hash of the file (only in case of report type=json)\n  type: string\n- contextPath: File.EntryID\n  description: The Entry ID of the sample\n  type: string\n- contextPath: DBotScore.Indicator\n  description: The indicator we tested (only in case of report type=json)\n  type: string\n- contextPath: DBotScore.Type\n  description: The type of the indicator (only in case of report type=json)\n  type: string\n- contextPath: DBotScore.Vendor\n  description: Vendor used to calculate the score (only in case of report type=json)\n  type: string\n- contextPath: DBotScore.Score\n  description: The actual score (only in case of report type=json)\n  type: number\n- contextPath: IP.Address\n  description: IP's relevant to the sample\n  type: string\n- contextPath: InfoFile.EntryID\n  description: The EntryID of the report file\n  type: string\n- contextPath: InfoFile.Extension\n  description: The extension of the report file\n  type: string\n- contextPath: InfoFile.Name\n  description: The name of the report file\n  type: string\n- contextPath: InfoFile.Info\n  description: The info of the report file\n  type: string\n- contextPath: InfoFile.Size\n  description: The size of the report file\n  type: number\n- contextPath: InfoFile.Type\n  description: The type of the report file\n  type: string\n- contextPath: File\n  description: File object\n  type: unknown\n- contextPath: File.Malicious\n  description: File Malicious object\n  type: unknown\n- contextPath: DBotScore\n  description: DBotScore object\n  type: unknown\n- contextPath: InfoFile\n  description: Report file object\n  type: unknown\n- contextPath: URL.Malicious\n  description: URL Malicious object\n  type: unknown\ntests:\n- Test Playbook McAfee ATD\n- Detonate URL - Generic Test\n",
  "product": "Cortex XSOAR",
  "pack": "McAfee_Advanced_Threat_Defense",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "forensics-malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "HHghPfth/jw72YS9rmAMPZ0YmD2YHj291oc3Pbdddbukzq28JDG4PIZTE71TI0U9TZMOPeHOIrwhGP48WctTvVR0jDyQjdI8o7xzvSfKp7tYkSO9+eJFvd9ELrym5hA9NKWdvLnyNb2ac6A8AlBEvM2xP7zsajU9g4uwPL82MDwnRG087f6YO8i547mTv2Q86oONu0sGgbu/M/a87o/DPL7hqb2xHE69dPSVvU34lj3LeA+8f7kNu2IFv7wvQAE9tCRwvRteNj2qMFE9CDPWu6SZC71pY2o8xmQ+u4w2J70/hSU6gXtuvYP+WTyLDtm6h9UIPBYPhTw+Giw8dj+OvIq4Cj2kXam86kSwvNc83Lt3YyO9ijp7PbADKb0vjJE8QuVUu8GGOLtOX/66T3/Su75yHDuID488nEgbvG+l2DpeMew6+u3wPM16bj21VTy8OdW+vHtAoDxFYIi7WujLvDKHgLwoIfK7Q8MIPhI8iTxPA++7Ov6iPTIheD1krB68//AivfxmHL54K9a70A4aPdiuKb0rzLW8FKYfPcFMYjx6y5w8rWBGu8s6oL2Pp3y9gh5fveGBfrsOW7m8MBwwukQmQT3fpco8PF9AvTug67xju5I7UL7FPK2kx7tPpk693LXKPEZUQT0Wcfe7R0OxPeQLkj034mE9NRAiPSz9KLwyXLG8MwYqvKIzDj2ew968ajGYvAT0AL3lsIe8u7JOvHrpozzMq3e8DDJvOigBDDyCb2I7D04Su7NcCL5frXy8TOotPcj/bzryF7M9wvx5PUdbGb2vksy8jCO7vAuhhzwM1YC9UnK8PGqmtrz6pDe8WBAVPOrNfr023nQ7T1cTvbHKEL1rNGW9YQsJPO1qNj2GI3q9lwUpvUK/rztWCnm8N8ElvWJKFjxcZ6M8QnttvM8mDb3mZAy9HnaCu88bfj3DPlq7VkocPAhGfr0ACMu80woKPiafk7tJ1vw8EziIvTFPuzyL3bS785qmPPQHsjxqDh88so2QPYlXtDwXjEW8invLPE44lD2aVIW9/vcfvfrmWj3hFmY8svFlvTl+bbt/drA9pBEouymin7rbz8S8TOUQvcQ6z7xZu3+9GPbHvF0FoTuCqCa93BiDvOm0LT0gVqe8GMXCvBNJJzwYgzU7pLIePUwbgz059HE9bK1uPKgRcz3fKPI8SxzMvGOFfDtK1Ly8kEOyPXeFBL3W/7Q8eUSCOoLVGb0WRtK87uG3PNy4BLzlC1Q8tSXQPATxwTs1JQs9Oo6bO62SPr3Bc6U8Jcg5vQ2ZjT2uHIO5XTaavOabTD1OJiO8LXgLvcb1pDwxacU8UIQZvTt+zbyhEwg9kxliuy6XGT2e/lm9DiPOvKQhbDxEdR69o14EvSg4L7zFUjo8RBS7uw/lEr2PczK9fpkvvJb/c71Jt9C8D3MXOvTdsjwyAdI7vhu3OwF/fbzFExy9a2npPCgNqr0+vyG6KdNQvOPCxTwGhbm9tJMovR/B77z3npY7BGzKOwaTEb1pHVc9yeZBvV8z5jw7HvG8n9jAvMrlvrwfezw93h6MPH08CL2km529u6JMPS/xHz1z9g498FSbPAPMNbs619E7t7mYPSE+KT1HBdq8mGP3PFs3NL04ZM28kc6nvLg70Dv4zFc8w3iyvK/NabynFvg7dM5lvIf7mjutqPa8Pa2xPB338L1yTz69MG4yvRCMprwycrA7zoPxO4xO/TqL6L4752d4vI+OALwYxig95FsfvRrOmTtQsVy9A+vgOmeZijzpX8y8u6PkPKOnhDuQ0+U8PRxuvSJTpTxaTlo9gVgNveL2hLvkQJ88vyAAPU08bjsSWKs8oz4avPLhBz0le0Y8rEw/Pbjciz2rVKg88u1nPdVQ27tlgWU8rSsgPCMYkjwd0AY9lDQNvKUksbxUubE8b3IAvMlKqjySPDg9ER+ePSIwA7yd9hG9Od8kvPDPdD3VEsU8iFIQvcQrJr1DI4y8q1D2O4iY0Lwi8Sg9dRZ1vcF+o72Rhs28Ft3uPH29XL2/Tme9A/DDPLV39bynT4k8yBW6PD7+jz17pWe9ib4CPG1VG7uWHj489rUsvcKPpz3vvxK8xNQ7PSTjSL3izpm8TVi/vEsruT0tdBw9MUiEvHIfDL01N0O9GE72PIf5/rxwBIE8lSTfO5h8jD0a3Wg8qFz0u8zUnbz7txG9B8vOOyZB9br0UhQ9o08jPGV6drzjPR89xqFAvIHIOjqFXh09yXRIPMpvsDt8Vzc6qAaqvHHLXbxNKcy9CNlTvRllN7zejzw8W+rbvKbF5rzbVU894K3wuoUVWju7yoi8Y4omvd7whDxMS7I5Pbd/OtE6Jz0qDPM7oHdgPdl1fD1B+yM9dCDIOzsg/7vHtjE9CatTPUSofTz9Kuq8474QvdaCKby9bY68ioADvVTZ4r2rj2U8HieCvJ0CzruBnOe81bSZPBeAMb0noSO8Pf64PEW5nrub8R27mgCbvI9TQ71XJ8A9skLPPIJwgz32In09gelcPfIDeTylkyM8MiJsvbpWPT2aeBM8naS8vEyT4bu/yPG8f8RLvDCOsrl7Ni08Ix2RPPVj+DydjW+9KahYvJrQtjwAXIg8pJPqvC1/O728zSe8CjvNvP1M5rz9UA47jTFrvd4VvTxUOEa7LWSfvK+coz0l0q49CfphPfzZbjw5CdK86EbbvLwhUD1NpFm8cTl3PB3c4rrvn/M8U0ZrPYoCIbzDoQE9mWfvO3k8/jxETf88SrUOPaldirzt0rO8b34nPRI3r7wC3bw844szPaBv8boO7ag7qvlzOlndvrufrL67qugSvMfLOLzKmog8qcLbPAkwXjuE/9w8YgvNuwTokj2kJSe7DEysPCJWXz2B87080WQGPKoDYDwxOAS8kKA2u0cZBD3MNCQ8jQYjOFzdojsFedc7Cdx9Pa6T8rzXBkY8xbidvOnNjLt6LgW8OiKNvf6oBry3ykO9Du+zvB4tjrwoAns8utarvKLDiL3J6pe8NIplvQmOOr2RZVO94CpVu5YPlDyg7Ee6tbQsvBI8nry2UYw8mdNOvEcYjrwNCvy8R4bVvLMC/TqCxRw9V4u8PM0FLz1uiV+8ErcIPXjRpDxxlVq9VybovGQbOLuCQXk64r/svMBxHrzef1S9ZnqSvARi8DyQnQK9/iggPbHUDzwGJxi9XXEDPYCCGb3ah388AyrmO/nvF7254IU9OGcmvUAN/Lyruhq9GIbXvMl7A73NBOo824XVPCZulrw5FdM8D8QavVXBHb3c0qu9ea1pPUFmK732bb87CGgMvZvuDzzUF7Q8SbaSvKKDZDuD6sq8rnDFO6Raubyhhpu8iBfXvEk9eD0xXFw9sX6FvBLgd7zjt886YaOOvW9GVLxOqEC95iiJOz/oFTurnwQ9eOqbvFRJsTyXBpS9nTGCPf/9TzsWX6W93DiqPJiTHz3Z7hm9rwG/PO0RIz055nw8Fp5pPb9zV72QQh8950JnvagFj7wiP8u8tmANukCQJLzq/ia9gz4OPSzgCL1M5569NTmNvJh477xIX9e8EhRou5tGlLxOozE8d3/MOqfHfbvZ5189yvXcOwa6ej22D7q8/yAbvF8aKDx0byU96FhCvY1GZL098Wc87wv7vBh/ajwiXwK7A2S/vJ/zKrwzR4w8Q5LCuoj9sLwGoRi7oD7sPC1zVT362bM6+e4KvA6b/DyY3uI7iUCxvKg9vztb7Bm92XVBu3wNUTv5mC68/BqWu2x4uLv11Lw8k3m4uwOoVry+zDU9mZxRvWFox7y1t0C9wXNePZ4GZj02TJ87cG4UPIlzLT2o5Z48cjmLPUQo7TuYKxC7EUINO7R9ljy6UmI9t4hePcWyGT1cBe68cU2FPC7MgLzp4hS909fBvAJMMz3iBnE9wjy5vFQJET0tE1M7E0zjvCJCvTwHkSO9Icl5vI2k1Lwehw49TigIvb1gHL20LAU9bjmDPMZHgT1tbSQ8BVbpvOYbCL1kF1y9o7CovRAsMLzuQym8wW4JPfxTRDyC8da7LxoLvbZuO70EgEg9fYEkvDEiKL1xkyU8cCHVvJzsjTveokq9vTAcvc9vizw9BBw9"
}
