bundles/spark/kbs/soar-playbooks/entries/pb-mitrecoa-coa-t1566-phishing.json
{
  "id": "pb-mitrecoa-coa-t1566-phishing",
  "title": "MITRE ATT&CK CoA - T1566 - Phishing",
  "category": "playbook",
  "content": "This playbook Remediates the Phishing technique using intelligence-driven Courses of Action (COA) defined by Palo Alto Networks Unit 42 team.\n \n***Disclaimer: This playbook does not simulate an attack using the specified technique, but follows the steps to remediation as defined by Palo Alto Networks Unit 42 team’s Actionable Threat Objects and Mitigations (ATOMs).\nTechniques Handled:\n- T1566: Phishing\n\nKill Chain phases:\n- Initial Access\n\nMITRE ATT&CK Description:\n\nAdversaries may send phishing messages to gain access to victim systems. All forms of phishing are electronically delivered social engineering. Phishing can be targeted, known as spearphishing. In spearphishing, a specific individual, company, or industry will be targeted by the adversary. More generally, adversaries can conduct non-targeted phishing, such as in mass malware spam campaigns.\n\nAdversaries may send victims emails containing malicious attachments or links, typically to execute malicious code on victim systems or to gather credentials for use of Valid Accounts. Phishing may also be conducted via third-party services, like social media platforms.\n\nPossible playbook uses:\n- The playbook can be used independently to handle and remediate the specific technique.\n- The playbook can be used as a part of the “Courses of Action - Defense Evasion” playbook to remediate techniques based on the kill chain phase.\n- The playbook can be used as a part of the “MITRE ATT&CK - Courses of Action” playbook, which can be triggered by different sources and accepts the technique MITRE ATT&CK ID as an input.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MITRECoA, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — template: Template name to enforce WildFire best practices profile.; pre_post: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory for Panorama instances.; device-group: The device group for which to return addresses (Panorama instances).; tag: Tag for which to filter the results..\n\nOutputs — Handled.Techniques: The techniques handled in this playbook.\n\nIntegrations/scripts used: IsIntegrationAvailable, Set, SetGridField.",
  "raw_yaml": "description: \"This playbook Remediates the Phishing technique using intelligence-driven Courses of Action (COA) defined by Palo Alto Networks Unit 42 team.\\n \\n***Disclaimer: This playbook does not simulate an attack using the specified technique, but follows the steps to remediation as defined by Palo Alto Networks Unit 42 team’s Actionable Threat Objects and Mitigations (ATOMs).\\nTechniques Handled:\\n- T1566: Phishing\\n\\nKill Chain phases:\\n- Initial Access\\n\\nMITRE ATT&CK Description:\\n\\nAdversaries may send phishing messages to gain access to victim systems. All forms of phishing are electronically delivered social engineering. Phishing can be targeted, known as spearphishing. In spearphishing, a specific individual, company, or industry will be targeted by the adversary. More generally, adversaries can conduct non-targeted phishing, such as in mass malware spam campaigns.\\n\\nAdversaries may send victims emails containing malicious attachments or links, typically to execute malicious code on victim systems or to gather credentials for use of Valid Accounts. Phishing may also be conducted via third-party services, like social media platforms.\\n\\nPossible playbook uses:\\n- The playbook can be used independently to handle and remediate the specific technique.\\n- The playbook can be used as a part of the “Courses of Action - Defense Evasion” playbook to remediate techniques based on the kill chain phase.\\n- The playbook can be used as a part of the “MITRE ATT&CK - Courses of Action” playbook, which can be triggered by different sources and accepts the technique MITRE ATT&CK ID as an input.\"\nid: MITRE ATT&CK CoA - T1566 - Phishing\ninputs:\n- description: Template name to enforce WildFire best practices profile.\n  key: template\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory for Panorama instances.\n  key: pre_post\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: The device group for which to return addresses (Panorama instances).\n  key: device-group\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Tag for which to filter the results.\n  key: tag\n  playbookInputQuery:\n  required: false\n  value: {}\nname: MITRE ATT&CK CoA - T1566 - Phishing\noutputs:\n- contextPath: Handled.Techniques\n  description: The techniques handled in this playbook\n  type: unknown\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"17\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 19c8b9f6-1020-4d9f-8dc3-15f634ddc14d\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: 19c8b9f6-1020-4d9f-8dc3-15f634ddc14d\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -830\n        }\n      }\n  \"1\":\n    id: \"1\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"13\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Manual - Cortex XDR - Setup file blocking.\n      id: 2d53375f-b379-440c-8281-faf27f7446de\n      iscommand: false\n      name: Manual - Cortex XDR - Setup file blocking\n      type: regular\n      version: -1\n    taskid: 2d53375f-b379-440c-8281-faf27f7446de\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -190\n        }\n      }\n  \"2\":\n    id: \"2\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      ApplyToRule:\n        complex:\n          root: inputs.ApplyToRule\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre-post-rulebase:\n        complex:\n          root: inputs.pre_post\n      rule_name:\n        complex:\n          root: inputs.rule_name\n      tag:\n        complex:\n          root: inputs.tag\n    separatecontext: true\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 19a97534-0d96-4cf1-8f13-fdbc812f1cb5\n      iscommand: false\n      name: PAN-OS - Enforce Anti-Virus Best Practices Profile\n      playbookId: PAN-OS - Enforce Anti-Virus Best Practices Profile\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 19a97534-0d96-4cf1-8f13-fdbc812f1cb5\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 120\n        }\n      }\n  \"3\":\n    id: \"3\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"15\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      ApplyToRule:\n        complex:\n          root: inputs.ApplyToRule\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre-post-rulebase:\n        complex:\n          root: inputs.pre_post\n      rule_name:\n        complex:\n          root: inputs.rule_name\n      tag:\n        complex:\n          root: inputs.tag\n      template:\n        complex:\n          root: inputs.template\n    separatecontext: true\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 0b5f3a2e-2d36-4f2e-8c0c-2e036e05f07d\n      iscommand: false\n      name: PAN-OS - Enforce WildFire Best Practices Profile\n      playbookId: PAN-OS - Enforce WildFire Best Practices Profile\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 0b5f3a2e-2d36-4f2e-8c0c-2e036e05f07d\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 440\n        }\n      }\n  \"4\":\n    id: \"4\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"7\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Manual - Cortex XDR - Configure Malware Security Profile.\n      id: e9bb301a-76b9-4f38-8741-eb8ed4e1cd27\n      iscommand: false\n      name: Manual - Cortex XDR - Configure Malware Security Profile\n      type: regular\n      version: -1\n    taskid: e9bb301a-76b9-4f38-8741-eb8ed4e1cd27\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 750\n        }\n      }\n  \"5\":\n    id: \"5\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"8\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      AuthenticateEmail:\n        simple: \"False\"\n      BlockIndicators:\n        simple: \"False\"\n      OnCall:\n        simple: \"false\"\n      Role:\n        simple: Administrator\n      SearchAndDelete:\n        simple: \"False\"\n    separatecontext: true\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: |-\n        Use this playbook to investigate and remediate a potential phishing incident. The playbook simultaneously engages with the user that triggered the incident, while investigating the incident itself.\n\n        The final remediation tasks are always decided by a human analyst.\n      id: dccd6b57-14cb-423e-8a4a-49bb524d268e\n      iscommand: false\n      name: Phishing Investigation - Generic v2\n      playbookId: Phishing Investigation - Generic v2\n      type: playbook\n      version: -1\n    taskid: dccd6b57-14cb-423e-8a4a-49bb524d268e\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 1240\n        }\n      }\n  \"6\":\n    id: \"6\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"9\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      AutoIsolation:\n        simple: \"3\"\n      Email: {}\n      FilePath:\n        complex:\n          accessor: Path\n          root: File\n      Hostname:\n        complex:\n          accessor: Hostname\n          root: Endpoint\n      MD5:\n        complex:\n          accessor: md5string\n          root: incident\n      SHA1:\n        complex:\n          accessor: sha1\n          root: incident\n      SHA256:\n        complex:\n          accessor: sha256\n          root: incident\n      UseD2:\n        simple: \"no\"\n    separatecontext: true\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: |-\n        This playbook is triggered by a malware incident from an 'Endpoint' type integration. The playbook performs enrichment, detonation, and hunting within the organization, and remediation on the malware.\n        Used sub-playbooks:\n        - Endpoint Enrichment - Generic v2.1\n        - Retrieve File from Endpoint - Generic\n        - Detonate File - Generic\n        - File Enrichment - Generic v2\n        - Calculate Severity - Generic v2\n        - Isolate Endpoint - Generic\n        - Block Indicators - Generic v2\n      id: b454b964-1d49-4aa3-8f1d-a1942c67e3d3\n      iscommand: false\n      name: Endpoint Malware Investigation - Generic\n      playbookId: Endpoint Malware Investigation - Generic\n      type: playbook\n      version: -1\n    taskid: b454b964-1d49-4aa3-8f1d-a1942c67e3d3\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 1730\n        }\n      }\n  \"7\":\n    id: \"7\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"8\"\n      \"yes\":\n      - \"10\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Would you like to use \"Phishing Investigation - Generic v2 playbook?\n      id: 90d8aa99-edb6-4772-8e78-b0e692dca95f\n      iscommand: false\n      name: Would you like to use \"Phishing Investigation - Generic v2?\n      type: condition\n      version: -1\n    taskid: 90d8aa99-edb6-4772-8e78-b0e692dca95f\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 920\n        }\n      }\n  \"8\":\n    id: \"8\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"11\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Would you like to use \"Access Investigation - Generic\" playbook?\n      id: 661caf70-78d0-45c8-8855-a9cead5e64cd\n      iscommand: false\n      name: Would you like to use \"Access Investigation - Generic\" playbook?\n      type: condition\n      version: -1\n    taskid: 661caf70-78d0-45c8-8855-a9cead5e64cd\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 1415\n        }\n      }\n  \"9\":\n    id: \"9\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"19\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: Handled.Techniques\n      stringify: {}\n      value:\n        simple: T1566\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: 27847884-c59d-4520-8d79-3e3313220c1d\n      iscommand: false\n      name: Set technique handled\n      script: Set\n      type: regular\n      version: -1\n    taskid: 27847884-c59d-4520-8d79-3e3313220c1d\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 1900\n        }\n      }\n  \"10\":\n    id: \"10\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"5\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: d179b3c5-55a4-4ae9-8993-0009be78ddfe\n      iscommand: false\n      name: Deploy Cortex XSOAR Playbook – Phishing Investigation - Generic v2\n      type: title\n      version: -1\n      description: ''\n    taskid: d179b3c5-55a4-4ae9-8993-0009be78ddfe\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 1090\n        }\n      }\n  \"11\":\n    id: \"11\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"6\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: e9dd57c0-56af-4845-8bb3-17a48f5fadd0\n      iscommand: false\n      name: Deploy Cortex XSOAR Playbook – Endpoint Malware Investigation - Generic\n      type: title\n      version: -1\n      description: ''\n    taskid: e9dd57c0-56af-4845-8bb3-17a48f5fadd0\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 1590\n        }\n      }\n  \"12\":\n    id: \"12\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"1\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: ca4fa64d-0f08-415f-87c4-baa055805ff5\n      iscommand: false\n      name: Setup file blocking in Cortex XDR\n      type: title\n      version: -1\n      description: ''\n    taskid: ca4fa64d-0f08-415f-87c4-baa055805ff5\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -330\n        }\n      }\n  \"13\":\n    id: \"13\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"2\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 301ace9a-a00f-41e4-8f1c-eec88d21eb0f\n      iscommand: false\n      name: PAN-OS - Enforce Anti-Virus Best Practices Profile\n      type: title\n      version: -1\n      description: ''\n    taskid: 301ace9a-a00f-41e4-8f1c-eec88d21eb0f\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -20\n        }\n      }\n  \"14\":\n    id: \"14\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"3\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 28258f8a-0aa6-4520-839a-eb1a80b51646\n      iscommand: false\n      name: PAN-OS - Enforce WildFire Best Practices Profile\n      type: title\n      version: -1\n      description: ''\n    taskid: 28258f8a-0aa6-4520-839a-eb1a80b51646\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 300\n        }\n      }\n  \"15\":\n    id: \"15\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"4\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 6454dac8-a5eb-4ec7-8975-33e336ca1e3b\n      iscommand: false\n      name: Configure Malware Security Profile in Cortex XDR\n      type: title\n      version: -1\n      description: ''\n    taskid: 6454dac8-a5eb-4ec7-8975-33e336ca1e3b\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 610\n        }\n      }\n  \"16\":\n    id: \"16\"\n    ignoreworker: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      id: 6bdf8c2f-37e1-4f4b-86d6-2a6cce71622e\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 6bdf8c2f-37e1-4f4b-86d6-2a6cce71622e\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 2270\n        }\n      }\n  \"17\":\n    id: \"17\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"18\"\n      \"yes\":\n      - \"12\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      brandname:\n        simple: Cortex XDR - IR\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'\n      id: 8f7ac68a-6290-460e-8e89-813de391d237\n      iscommand: false\n      name: Is Cortex XDR integration Enabled?\n      script: IsIntegrationAvailable\n      type: condition\n      version: -1\n    taskid: 8f7ac68a-6290-460e-8e89-813de391d237\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -675\n        }\n      }\n  \"18\":\n    id: \"18\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"12\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: |\n        Enable the Cortex XDR integration to follow this CoA.\n\n        If needed - please contact your Palo Alto Networks account manager for future guidance and assistance.\n      id: d8f9bf82-e8ce-4f39-8047-420de382b072\n      iscommand: false\n      name: Manual - Enable Cortex XDR integration\n      type: regular\n      version: -1\n    taskid: d8f9bf82-e8ce-4f39-8047-420de382b072\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 850,\n          \"y\": -500\n        }\n      }\n  \"19\":\n    continueonerror: true\n    id: \"19\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"16\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      columns:\n        simple: technique\n      context_path:\n        simple: Handled.Techniques\n      grid_id:\n        simple: handledtechniques\n      keys: {}\n      overwrite: {}\n      sort_by: {}\n      unpack_nested_elements: {}\n    separatecontext: false\n    skipunavailable: true\n    task:\n      brand: \"\"\n      description: Creates a Grid table from items or key-value pairs.\n      id: cb49f8d4-2fc7-44ae-857b-d56fa653dcd2\n      iscommand: false\n      name: Set grid field\n      script: SetGridField\n      type: regular\n      version: -1\n    taskid: cb49f8d4-2fc7-44ae-857b-d56fa653dcd2\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 2080\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"7_8_#default#\": 0.49,\n      \"8_9_#default#\": 0.44\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 3165,\n        \"width\": 780,\n        \"x\": 450,\n        \"y\": -830\n      }\n    }\n  }\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\n",
  "product": "Cortex XSOAR",
  "pack": "MITRECoA",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "v8boPLP9DD2274m9B4SsPHx1kz2IzjW8gpiIPdrcLztu9ec7sgPHvBOSpzwdNzs9ib4oPUSyzjzP48i8emGVvXITdT3MZFQ9yh8yvZhpoLzkz8i8+DZKu8sPhry41Ai8YBwgvE/cS70CvNI8bkuyu1AePb0Cjkk8mfR/PLRQAD0Yzpg7sY1puzKG97v3AkW7R2vAvLW/w7y/iUi8Ks+TvDURM702HqW8G7swvcYiTz2Omxe9j7cGvY52YL2O2+g8XLRjvajwNj01DrM9cHrpu+N6Zr011YU8uu9CvI8rGb1HlI68Dg/Zvfy/o7xZh8+7ICWhvMBayLxXATc8zkkKvTRfLT1qduw8SVenvIAbsjtC6y29JjbUPBat7bwIwY49qHUbu7exqDx247q8DVsxvCjnoDpm3V29AgL6O5OMUz3tPv47/w8VunzQDz2NPPq7WNsHvWtAfrwiJ+W3UGIyvR8vc7y8T+W8lFvCPSdZibyD1vC8ejWTPWU9jj2zmP46NzVdvZPaOr3WnkY9IaTVPGtspbzOBLe8MTFhOpaplLzzKBk8oMJXPRrfTLzP/h69rhc+vcz9Aj0THrG8zqfrO9qi4rry75k85mHGvIBjG72jxjk84DJ0PEN5Ir0Mqi69qFrBvEB+wD2VU2w8diqXPCcwfD13xyk9BeMbvcTEwLwruqg5Q1mTvBMLADuJ14y9CjiAunpPtLx0BT29pIs/vVj3gT1CGsi8reDePHTNjjzSsRS8n4ydPGr+v73nfyo86y2FPWsQDL2S/BY9wS43PdVbNzzqQ468lmcUvaItcb3Aevw7yHQlvSSHAD1JgTm8wD3TO/v8lL1mzTY9BRsEva4FC709+yW9fpRwO/ePhTwKToy93ywivY+kbLxZRoE8ce0lvb4oLLxGEAI8LzoTvJjfbrzZPYe9o8A/PNb2obva9y49GmM6vZuvm7xswge8KiitPYf0sTygIcw7JPZEvRlRAT21ERg8NwYIOxSmFj0+kqC8aCBWPUIAUbpjV4e8JjwHPQT0uj3foQ69Likwu7arOj2EB/48NQMUvRnJSj1fkHs9ZeaQvNtDEbzfb5O9FyFqvRpdQjyTqtq8C/ddvVNK6zmhnIy9+K/EvDroJz23Eqy8IixmvbvWnLy12Za8EiYQPbyoYz3KAvI99kSOvIkOGjwcOvq7HytjvKOoIj1H4JI89WMwPQ0Ger32Mvg8jQeavBMWiL2XmAq8njmQPVXwV7wavUe7h/jdPJgojj3UjEo99CW/vKaIF717cMA8BPcSvfx2Tj3d6is95TuIvI5fjT0uw0o7Xq6KPKaanLxk9C88V10avWV3QrwaUay8qnGcPO75QTujgbS8KjR4PO4GfDyfLQe9UXGNvCS0FLxgaSw9v7nMuypJjTtA5IC9Uf2CvINuFr2WBxY8bOcKvVgp/Lwr71e7XxQGO2JewzxGnWu8AbgBPNzv5rx119Q8Onf1vFQTID2cF+q9sDSDvbItLL0TxXO8MIGjvMaojztcrQg90XQ+vYn52jp3y2I8dgSUvBxv5Ly/o0E9vWDkPL9ddLxcCTW9Yre9PGC3sTzlLUc9pPWrPcyEH721ldm7uvcJPd9Ryzxid2e8hosOPcpRGb3AKbc81HDcPHtpiLyauA88ZHd+u1cJSjw3Bp66Qh/Cu8o+1LuR1pC7aKPju42rE747XOO84tvlu6Vpjrz9NoK8cduAPNTgAL00a548PmOjvK+0ljz9iKw8340ovZb37TvkLZ27NZbaPKfNyDwl3qY87S1GvE+XU7yRVSo83xxdvSNTaztzDC49f523vGS8SDxhpAo8R24mPRau6DymIQ69qQ7KvL9albxy0xK921ODPc3XRT08dAE9n+m6PTFMGDsFXj+8NmyBPJBUqzs1c9U8TCBEvSDrLLwWz9W7coyKuy/vWz2N0Aw9FyqVPSvtJDw0mZa8cEvUPO0dgD22wGI9eHfkvKFgorvEZQm9SCOVu+6qUTxP1RY9hNuAvemFgrwPA+E7Mychvey9ML3DBzi9tpCyPBPE1rxW8CC9IJvsOiFAhD2G1Ry9EkocO3/2Gzub3oo8b74JvYmKiT1z/Xg8urk/PS+pRb22eKq8e42OvHM8kT2fAyA9TR6dvKPOpzvSEfK7f1GgPXjsCb1y98g7fJ0PPTB8Sz0JZpA842IxvYIyxDxA/bi6XRdyvDtoML2iWhg9ujfzvH0wyLtVoCc9QzcKPfkXnzyUY9A8RI0AvS4+A711cVw8/miXPNcE1byp8aW9QJO+vGneNTzIMMw8KY03vTHfkDy+oEY9n1cgPCjnKD2Rv7+6VI/MPD/pgzyfisa8H34ivOS1Az0OYFk6qPIHPTS/OT1QjSo9S1pxvN7UgDy0quA8lV0iPTx/oDxagiu9u0XBvKxMTrym4gO9dtMRvYAg0L2EUZs88hMkPGrT2zyAs3K81x7auhhRcr1mWCS7H6sgPdlTsbywYkS9/qcrPAAJUTsLKLM9wXK4PPNqsj3dNJM8VuY8PVAgHz11GCE9vcMRvX5NlzxQRT49kJs9vLgdCD1XsoQ8ZvWGvOzM7bwj//s8CaQ+vQhyUzwYk4i9V9M+vQixJbyKmY88iqYXvefTSDt24hK8qzsUvX2HPL3za5q6d+PEvGiZQT2duVW7AOUqvBEsVT2K+YU9otr6O6l2Pr2HLw29Z8oqvZEPCD2b55S9rvZjuyHIAr03wZc9tIQiPZknPb0oqmk8Y2ySvK32Ab2kORs82A4RPGv87LsEBHq8rH2RPbCbKry2VdW7/uhSPHBuIL2pqCs78qBMvKRtDLxBF967lwKmPMjeX7z54Bq98LpYPWWTbTw/LPg8eW6suwJJhD3zlhY8fprDPHwpwDxc+8M8Sh+hPPe8MbxrbhY9yWT0OtnI1zyLbWi5T7CBvGeA5DwqRhW8ghVJPVE1bbzt9ds5LfYOu+SPALwScwg8JZIfvcqdtjovDJS80Z8SvVBKS71xZd48tGmsvMk79ry4p6W8a0A7vTal+buWrFe9V7IOPQFL8jtdshU9zfrovDG6prz+UoY8WG2rvKSRL7zidhi9EnnLvE3/HzwaTxw8E4y4vLdDSj1QCIy8SIyGPO4bcbxznF69q805PJ711TuvELs8dZ+0vAX1z7yh8S69Mi2vPMW6ZT3A2x69VybcvCnxiD2GxZC9HEjOPOpMzzsX1AS8G8F5O303Ar1yn409H07FPM9z2b0sciq90yGiO+nSSL0oZWU8gKqwPEejkLzibXE9RJXtvIP7i73SR569xBAEPSfJjryHEaM6OpeNvIBxSTwND9o77o9bvJ7jlTwJMQC86Q6EuR0l0bzcZQO9C6kYPdKikTvn33w8cfEgvJ/8njzhgFQ9pgFevPf+sTuMPp28BqgsPTv3hTv8DYY7fQqMvWXBCD3/Rh+8ghSqPXRqIjs89Ma9h+HHO34aYT2Zbnm9BZevvBofzDw8kfy8RCZAPYn3NL1Nm/w8dytGvcg7qbyDdzO87CJfu5+UsDz7yUO6CFmyOxogaLyo57y9EydxPEfIi72cRya89+jaO4zTp7xAWpy7kXVcPXidr7twGCw711QhPce+jT3NCQs8N+KRvDkyr7yE2Jg9PQ1/vamgPTxwpx49h3oUvVO1pjwj+ks77okDOzoeADz2Aao7UV8KvDk+CL2cQxg8VPjNPKr1yTz0pD68BmRNu+N1TTzjHt88CNA5vVr2pbyIWQO9UYaWvJq1izyt28S8fJYFvIormbxELi09xSW1vEfwkjufM109LtsGvrB7/TwHKAW9a6fAPGrL+TuSx5k8DDKpPMYK1Dtf4QQ9dyoSPa7E3TzY1Cy9fT+FPZfFlb3rows9GyeVPfo61jxIKe47+/cJu8DySL2YCDe9qoBDvM/1Yzz7odE8j33nvMzptjytVAQ9YrzBPOtUyLzQMBm93k0GvdCwNL1Uezk8jZxxvUDAYrxShBA6EaKEPAA68zzVXqA75CjzvO2+KjwLwRK96mB/vY811bk08Qo9nckUvVxbQbzea6e8Q0D5vP4RxjyXvLU88A4uPZW5OL2Jcno9GtvGu3IAIbtU6FO94GZIvZjjNz1LRHg8"
}
