bundles/spark/kbs/soar-playbooks/entries/pb-mitrecoa-pan-os-enforce-file-blocking-best-practices-profile.json
{
  "id": "pb-mitrecoa-pan-os-enforce-file-blocking-best-practices-profile",
  "title": "PAN-OS - Enforce File Blocking Best Practices Profile",
  "category": "playbook",
  "content": "This playbook enforces the File Blocking Best Practices Profile as defined by Palo Alto Networks BPA.\nThe playbook performs the following tasks:\n- Get the existing profile information.\n- Get the best practices profile information.\n- Check if the best practices profile set by Cortex XSOAR is enforced. (If not, the playbook allows the user to compare the existing profile with the best practices and decide on the action to take).\n- Create best practices profile.\n- Apply profile to policy rules on PAN-OS firewall or Panorama.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MITRECoA, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — device-group: The device group to work on. Exists only in panorama!; tag: Tag for which to filter the results.; pre-post-rulebase: Determines whether the rule is a pre-rulebase or post-rulebase rule, according to the rule structure. Exists only in panorama!.\n\nIntegrations/scripts used: ExportToCSV, IsIntegrationAvailable, SetAndHandleEmpty, pan-os-create-file-blocking-best-practice-profile, pan-os-get-file-blocking-best-practice, pan-os-get-security-profiles.",
  "raw_yaml": "id: PAN-OS - Enforce File Blocking Best Practices Profile\nname: PAN-OS - Enforce File Blocking Best Practices Profile\ndescription: |\n  This playbook enforces the File Blocking Best Practices Profile as defined by Palo Alto Networks BPA.\n  The playbook performs the following tasks:\n  - Get the existing profile information.\n  - Get the best practices profile information.\n  - Check if the best practices profile set by Cortex XSOAR is enforced. (If not, the playbook allows the user to compare the existing profile with the best practices and decide on the action to take).\n  - Create best practices profile.\n  - Apply profile to policy rules on PAN-OS firewall or Panorama.\ninputs:\n- description: The device group to work on. Exists only in panorama!\n  key: device-group\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Tag for which to filter the results.\n  key: tag\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Determines whether the rule is a pre-rulebase or post-rulebase rule, according to the rule structure. Exists only in panorama!\n  key: pre-post-rulebase\n  playbookInputQuery:\n  required: false\n  value: {}\noutputs: []\nstarttaskid: \"0\"\nsystem: true\ntasks:\n  \"0\":\n    id: \"0\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"1\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: a97a377f-834f-4763-85fd-481dfbedf6c9\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: a97a377f-834f-4763-85fd-481dfbedf6c9\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 70\n        }\n      }\n  \"1\":\n    id: \"1\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"21\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      brandname:\n        simple: Panorama\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'\n      id: 5fe876ca-a681-49c4-8ea4-4e6240bf2c11\n      iscommand: false\n      name: Is PAN-OS integration enabled?\n      script: IsIntegrationAvailable\n      type: condition\n      version: -1\n    taskid: 5fe876ca-a681-49c4-8ea4-4e6240bf2c11\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 220\n        }\n      }\n  \"2\":\n    id: \"2\"\n    ignoreworker: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 8f0a8764-4141-435b-8cb2-5a66d64e39e1\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 8f0a8764-4141-435b-8cb2-5a66d64e39e1\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 4220\n        }\n      }\n  \"5\":\n    id: \"5\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"9\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Get file-blocking best practices.\n      id: 3d0f60f0-b789-4fa4-85ad-7baeec5e6529\n      iscommand: true\n      name: PAN-OS - Get file blocking best practice\n      script: '|||pan-os-get-file-blocking-best-practice'\n      type: regular\n      version: -1\n    taskid: 3d0f60f0-b789-4fa4-85ad-7baeec5e6529\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1520,\n          \"y\": 1070\n        }\n      }\n  \"6\":\n    id: \"6\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"7\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      security_profile:\n        simple: file-blocking\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Gets information for the specified security profile.\n      id: d5bc10c3-d0a4-44d5-885a-724390af7f4c\n      iscommand: true\n      name: PAN-OS - Get file blocking profile\n      script: '|||pan-os-get-security-profiles'\n      type: regular\n      version: -1\n    taskid: d5bc10c3-d0a4-44d5-885a-724390af7f4c\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1520,\n          \"y\": 530\n        }\n      }\n  \"7\":\n    id: \"7\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"8\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      key:\n        simple: FileBlocking.ExistingProfile\n      value:\n        complex:\n          accessor: FileBlocking\n          root: Panorama\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      id: 9c2832f0-7495-4a39-8d39-e6fc35f603b0\n      iscommand: false\n      name: Set existing file blocking profile\n      script: SetAndHandleEmpty\n      type: regular\n      version: -1\n    taskid: 9c2832f0-7495-4a39-8d39-e6fc35f603b0\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1520,\n          \"y\": 710\n        }\n      }\n  \"8\":\n    id: \"8\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"5\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      all:\n        simple: \"no\"\n      key:\n        simple: Panorama.FileBlocking\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Delete field from context\n      id: b31ff7f5-bb26-449a-89e7-2f6704b8260c\n      iscommand: false\n      name: Delete Context\n      script: DeleteContext\n      type: regular\n      version: -1\n    taskid: b31ff7f5-bb26-449a-89e7-2f6704b8260c\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1520,\n          \"y\": 880\n        }\n      }\n  \"9\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: FileBlocking.ExistingProfile.Name\n          operator: isEqualString\n          right:\n            value:\n              simple: FB Best Practices - XSOAR\n      label: \"yes\"\n    id: \"9\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"18\"\n      - \"19\"\n      \"yes\":\n      - \"23\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Is file blocking best practice profile by XSOAR enforced?\n      id: 0488867b-b92e-4d0e-87cc-b9375f184fb7\n      iscommand: false\n      name: Is file blocking best practice profile by XSOAR enforced?\n      type: condition\n      version: -1\n    taskid: 0488867b-b92e-4d0e-87cc-b9375f184fb7\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1520,\n          \"y\": 1240\n        }\n      }\n  \"10\":\n    id: \"10\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"44\"\n      \"yes\":\n      - \"16\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Apply profile to policy rule in PAN-OS?\n      id: aa3ccf30-b903-4652-87f1-249d60e91496\n      iscommand: false\n      name: Apply profile to policy rule?\n      type: condition\n      version: -1\n    taskid: aa3ccf30-b903-4652-87f1-249d60e91496\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 2920\n        }\n      }\n  \"12\":\n    id: \"12\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"17\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      profile_name:\n        simple: FB Best Practices - XSOAR\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Creates a file blocking best practice profile.\n      id: 07fbf179-2799-4da2-8b76-e8259d7e8edc\n      iscommand: true\n      name: PAN-OS - Create best practice profile\n      script: '|||pan-os-create-file-blocking-best-practice-profile'\n      type: regular\n      version: -1\n    taskid: 07fbf179-2799-4da2-8b76-e8259d7e8edc\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3180,\n          \"y\": 1920\n        }\n      }\n  \"15\":\n    id: \"15\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"32\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre-post-rulebase:\n        complex:\n          root: inputs.pre-post-rulebase\n      profile_name:\n        simple: FB Best Practices - XSOAR\n      profile_type:\n        simple: file-blocking\n      tag:\n        complex:\n          root: inputs.tag\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: cb95f24d-98f3-481e-8650-2b08d98d4d71\n      iscommand: false\n      name: PAN-OS - Apply Security Profile to Policy Rule\n      playbookId: PAN-OS - Apply Security Profile to Policy Rule\n      type: playbook\n      version: -1\n      description: ''\n    taskid: cb95f24d-98f3-481e-8650-2b08d98d4d71\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 3240\n        }\n      }\n  \"16\":\n    id: \"16\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"15\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: fc86bff8-36f6-4bbd-89ea-f65587a8469f\n      iscommand: false\n      name: PAN-OS Apply profile to a rule\n      type: title\n      version: -1\n      description: ''\n    taskid: fc86bff8-36f6-4bbd-89ea-f65587a8469f\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 3100\n        }\n      }\n  \"17\":\n    id: \"17\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"43\"\n    note: false\n    quietmode: 0\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 1b1064f2-e5a0-4b1f-8298-f9146ec8e3ae\n      iscommand: false\n      name: PAN-OS Commit Configuration\n      playbookId: PAN-OS Commit Configuration\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 1b1064f2-e5a0-4b1f-8298-f9146ec8e3ae\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3180,\n          \"y\": 2100\n        }\n      }\n  \"18\":\n    id: \"18\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"22\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      csvArray:\n        complex:\n          accessor: ExistingProfile\n          root: FileBlocking\n      fileName:\n        simple: File Blocking Existing Profiles\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Export given array to csv file\n      id: 2ceac369-8eb3-4f00-8831-575d4e286ed4\n      iscommand: false\n      name: Export File Blocking existing profiles to CSV\n      script: ExportToCSV\n      type: regular\n      version: -1\n    taskid: 2ceac369-8eb3-4f00-8831-575d4e286ed4\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2370,\n          \"y\": 1410\n        }\n      }\n  \"19\":\n    id: \"19\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"22\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      csvArray:\n        complex:\n          accessor: FileBlocking\n          root: Panorama\n      fileName:\n        simple: File Blocking Best Practices\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Export given array to csv file\n      id: 1b3d517b-6123-4289-8d14-5dcddd3928ab\n      iscommand: false\n      name: Export File Blocking best practices to CSV\n      script: ExportToCSV\n      type: regular\n      version: -1\n    taskid: 1b3d517b-6123-4289-8d14-5dcddd3928ab\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2790,\n          \"y\": 1410\n        }\n      }\n  \"20\":\n    id: \"20\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"35\"\n      \"yes\":\n      - \"12\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: |-\n        To understand the difference between the existing policies and the best practices, please compare between the policies by:\n\n        1) Comparing the context data under \"FileBlocking.ExistingProfile\" key to the data under \"Panorama.FileBlocking\" key.\n        2) Comparing between the exported CSV files - \"File Blocking Best Practices\" and \"File Blocking Existing Profiles\".\n\n        If you have differences between your profiles and the best practices profiles recommended, you are not following the best practices Courses of Action.\n      id: 3b484c4c-f38d-4a4f-8799-af2cd45385b0\n      iscommand: false\n      name: Create File Blocking best practice profile?\n      type: condition\n      version: -1\n    taskid: 3b484c4c-f38d-4a4f-8799-af2cd45385b0\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2590,\n          \"y\": 1750\n        }\n      }\n  \"21\":\n    id: \"21\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"6\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: ce5a89a0-356b-40c3-80e4-9b2f5f35dc6b\n      iscommand: false\n      name: Gather Profiles Information\n      type: title\n      version: -1\n      description: ''\n    taskid: ce5a89a0-356b-40c3-80e4-9b2f5f35dc6b\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1520,\n          \"y\": 390\n        }\n      }\n  \"22\":\n    id: \"22\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"20\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: cd8db069-7234-4ac3-80ad-e731fa0209ce\n      iscommand: false\n      name: Remediation and Policy Updates\n      type: title\n      version: -1\n      description: ''\n    taskid: cd8db069-7234-4ac3-80ad-e731fa0209ce\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2590,\n          \"y\": 1580\n        }\n      }\n  \"23\":\n    id: \"23\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"24\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: aec20a3f-180a-487c-8aa5-c2f2e4216883\n      iscommand: false\n      name: BPA profile exists\n      type: title\n      version: -1\n      description: ''\n    taskid: aec20a3f-180a-487c-8aa5-c2f2e4216883\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 1410\n        }\n      }\n  \"24\":\n    id: \"24\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"10\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      fileblockingprofilename:\n        simple: FB Best Practices - XSOAR\n      fileblockingprofilestatus:\n        simple: The best practices profile by XSOAR already exists.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: dcaf8f96-8628-4f9c-8b2d-410a134e3494\n      iscommand: true\n      name: Set best practices profile information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: dcaf8f96-8628-4f9c-8b2d-410a134e3494\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 1565\n        }\n      }\n  \"28\":\n    id: \"28\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"10\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      fileblockingprofilename:\n        simple: FB Best Practices - XSOAR\n      fileblockingprofilestatus:\n        simple: The best practices profile has been created by XSOAR.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 45cf4418-6078-470a-8011-172c62ddd765\n      iscommand: true\n      name: Set best practices profile information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 45cf4418-6078-470a-8011-172c62ddd765\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3180,\n          \"y\": 2430\n        }\n      }\n  \"32\":\n    id: \"32\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"34\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 67824df7-30e4-4a78-87b2-ac5b90eed064\n      iscommand: false\n      name: Set Profile information to layout\n      type: title\n      version: -1\n      description: ''\n    taskid: 67824df7-30e4-4a78-87b2-ac5b90eed064\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 3410\n        }\n      }\n  \"34\":\n    id: \"34\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"40\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      fileblockingrules:\n        complex:\n          accessor: Name\n          root: Rule\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: e2796bf8-493e-4881-82ba-99eb47cfbcc8\n      iscommand: true\n      name: Set best practices profile rules to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: e2796bf8-493e-4881-82ba-99eb47cfbcc8\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1240,\n          \"y\": 3560\n        }\n      }\n  \"35\":\n    id: \"35\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"36\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: d7c1a49a-474f-4b12-8160-6570fbbee482\n      iscommand: false\n      name: Not according to BPA\n      type: title\n      version: -1\n      description: ''\n    taskid: d7c1a49a-474f-4b12-8160-6570fbbee482\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2310,\n          \"y\": 1920\n        }\n      }\n  \"36\":\n    id: \"36\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"10\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      fileblockingprofilename:\n        simple: FB Best Practices - XSOAR\n      fileblockingprofilestatus:\n        simple: The best practices profile was not created by XSOAR.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: e96aa45d-9ea8-426a-8c16-31b12e23a91c\n      iscommand: true\n      name: Set best practices profile information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: e96aa45d-9ea8-426a-8c16-31b12e23a91c\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2310,\n          \"y\": 2070\n        }\n      }\n  \"40\":\n    id: \"40\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"41\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: e9a57282-1741-416b-8222-a4089ff5a4f5\n      iscommand: false\n      name: Trigger BPA Scan\n      type: title\n      version: -1\n      description: ''\n    taskid: e9a57282-1741-416b-8222-a4089ff5a4f5\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 770,\n          \"y\": 3730\n        }\n      }\n  \"41\":\n    id: \"41\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"45\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      check_id:\n        simple: \"45\"\n      failed_grid_id:\n        simple: bpafailedchecksfileblocking\n      passed_grid_id:\n        simple: bpapassedchecksfileblocking\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 117ebd0e-b5f6-43e0-88f8-b57c483b3914\n      iscommand: false\n      name: Palo Alto Networks BPA - Submit Scan\n      playbookId: 629bfb7f-d719-4b74-8f1b-7f5a97b816db\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 117ebd0e-b5f6-43e0-88f8-b57c483b3914\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 770,\n          \"y\": 3890\n        }\n      }\n  \"43\":\n    id: \"43\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"28\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 496908b9-0ffc-4057-87c3-64e1ff088f06\n      iscommand: false\n      name: BPA profile created\n      type: title\n      version: -1\n      description: ''\n    taskid: 496908b9-0ffc-4057-87c3-64e1ff088f06\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3180,\n          \"y\": 2280\n        }\n      }\n  \"44\":\n    id: \"44\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"40\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      fileblockingrules:\n        simple: The best practices profile was not applied to rules by XSOAR.\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 24ae0cbc-d6e5-4ec8-8a67-c6b5ab4eb3c6\n      iscommand: true\n      name: Set rules information to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 24ae0cbc-d6e5-4ec8-8a67-c6b5ab4eb3c6\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 770,\n          \"y\": 3120\n        }\n      }\n  \"45\":\n    id: \"45\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"2\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      bpafailedchecksfileblocking:\n        complex:\n          accessor: Failed\n          root: BPA\n          transformers:\n          - operator: uniq\n      bpapassedchecksfileblocking:\n        complex:\n          accessor: Passed\n          root: BPA\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 9378d8f5-5c97-42d5-8fae-4e8f9a2590c1\n      iscommand: true\n      name: Set BPA scan results to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 9378d8f5-5c97-42d5-8fae-4e8f9a2590c1\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 770,\n          \"y\": 4050\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_21_yes\": 0.46,\n      \"1_2_#default#\": 0.49\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 4215,\n        \"width\": 3180,\n        \"x\": 380,\n        \"y\": 70\n      }\n    }\n  }\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\nmarketplaces:\n- xsoar\n- marketplacev2\n- platform\n",
  "product": "Cortex XSOAR",
  "pack": "MITRECoA",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "USC/PHtBi7sXzV+9C1C6u22Jnj1CoSi9TYelPZEf9zwVqwk9RwlMOpcCMjzTA1w9DsuAPZzVxTzuY927NImKvfU1mz3XAA8919MBPGE907z/dLK8OmxWvaSYwLxWZwC9dOquuz0fhb2xJ585RDgwvU0bkLyspoM8/DovPfZ02bthN0Y9yqMYPEJoMb303Om7daJFvSxUCb08acA7wEx9OScTbb1+7Ia5k2W7uUfWjj044aq8TGFCvOh6U70u3Q09KERuvRlgLD28Y8Q9qa41O5MUAb2S0P48VZifvOwyeL2tBSC9UBMMvSfm8LuryRA9IyFmPLn2uby3R7S83BUbPU0PmzzLCuM8Y45SvOQZpbzCcVS9Cj2IPffuML23g4M9zSUmvaNFrjyewGu9Jw46vP75aT3h5g888auOPEMUkD1JKw68aMG+O+uVqD3Tn0i81KYLPSHXXDr2wwI8mo62vVt/uDl50WI84aSxPZYXrbzDrUc8nz+nPdBXnD2tULm86kK3vRiqg72qwLM8m65MvC1NcTsu7aO8ZKOGO19CHzzhaUY7i8BFPcLPezzYOiy9xBJHvFYOTLtJjIE7xjPMO4SENrolbC49OU7dvP6ufzqhVbs8Hi74PCh7x7y9yEm94XDGO3lTmj0JyNq7UujMu+X6VT1F2XM9JIzavBTdir0LptM8u8neu6uc/zvFZwQ8J8umuzNStLw7uei8WtQDvAPZCz2GE8S8EowZPaG0sjzNXIy8v23SPOIgu71604a7MDFWPQIXnbxf8Cq7uUbJPfrjYb3T35e71QL3vKp2wbxzwSi9mE+5vJn82LzaOMS8CyGMu7/vk72fIHU6AUQUvZjKsTuUrxe82DGsvLJaLz16SSy9Za7bupHzgrxLDMG6GuSPvaYFKD3auNs70WwNvaHx5bwz31C9J71OO5G/obpPXmQ8ZtHVvGgF7rzEuZG9yiTUPX5rmTyLqw67tB2Vvf8+Tz2VfVu7b9Heu0hqprxSS5A8cGaFPLK7Dj3IsdW8twHtPFmIPj2G93i93E5PvFqx5TyCcRO7kgqUvNEc/TzH2lk9d/rfvEteu7yfgqm9Jc1TvTcKdj0ur7K7tPkyvU4/YDwZ4Bq9tx+nvP5oSD1M75y8fdPLvFOVjzy9nH88s6eOPDZNXzxNyOg9C6nOvC9jUDwEpLi7Kt25uxg46TqKin87a7puPQvV57wsrE892cOavCy6t71bGta83CIfPX6cwLwFO3a8gxw0Pe3E2Txexa49Fz7FvBMUDr2K+m09Jvd2vEiVKD0BKVa7nKUuPf4Uxj3ng/e8EtYcPRWgALvYkR49FICGvdaoOrx5kA67szSbPOWD4TzwEvm6kHHDvEU5AjuQ+r68nTi9OxntL737xt481ad6vcIAhLywSOW8GqEevSz3UL2r3qK8HQh8vOPJvrtEjp48oOpUPdhulbxi6dS7P6CvvAQkL73+2te8GYhuuyMyRD1JkAC9GOvhvYWtKL2jv4a8WO0sPDPm27ztlQW6k5KqvXgu4rxoAxQ9tPCTvC5HRr214Ys9YsuJPHhGlLzVVWS97uinO3rPJD2XVQo9/pSsPbP7U7xE0tq8bKMwPb01h7qmro28YHxUvA6XhbuiQMY8h7WYPOuTtjteLBu7t0OxvKP5zDtltha5Jx6Pu/JzaD2snPi7gowBuzzkC75+Gg499UfpvFU9uLyt0Lw8ano2Pd11/bzCcSc9jUGOvGVWpTykQKY8N2U5vZCyQLy2jFC99erLPFYBzTufsgi9MDHfvDeq0jwLMzo9qNJsvcWx5TwOfFo9e5DvPPv9ujwNagg9RUsTPaWwdzzm3AS9AAAxvaj+sDwBiAW981w+PYPhXDsKJEc8bhYuPNNslTmXfoc77m8UOzLUrLyA7Ru7XDdMvf63q7w3urw8KSgbvPXriDwP7sS6cKV5PRlokrx99AC98uSTPdrxPj2uf6c8xbr4vMoyVL3DjqI5BsL9PNqxcbxznkc9W80dvZeYUr1bnnO8JUabO4CO2TpLd+i8pSg+vIAmYDwthow8nL9RPFWTPD2sXYM8UReJPM9inTz6MJK7Gt5IvY0uZD2hsRY8gEsfPdS65rwqVZ68N8pmvDM3gT1Hxu88mSbNvLQSATzdeJa8jI2jPf7efb3/YvI8rDP7vKXfaztFOEs99RSJvXyjIzy0+N28rJyZvMYi1bxFP2I64NuBvLVV7zz0mjk8qt6jPCCXBDxbGQs9NHkUvS5snTxT5k297lmNPJuoPLxb1Yu9HbRKvUvoI7wuPzQ88onzOyRbtjt/HQA9LPb5PItofDo7HHO8N1ywPVcUSz1IWAa9KYYjPEOTSz0odYE82JPBPMRNdD09Tm266afNvGDdSDuwJr082+MFuxZe7jxFHis8oa3QvHxaR7ygBaQ8JEhOu2E/yL2RucY8SkKMPP8GCjyEt328cO+7Olq6GL0ubXQ87ZVoPKsVkDwR9968M2HivADhrztMXys91kk3u4nBGj1RVz67Ul2OPIDomzy8jmo9G+Vdvf9ZhTvhmpQ9oUW8uyKmiTyXkIu80mb8vLLnvrz/4QY966dCPOkQ6TwUkV69sXxMvRmT0bsR++A8mM1zvDjp5bzlS7O8oTHGvCmbhbsm/R+90SJ0vWA3UD2UQBy8jf0CvfQZGj2tY4M9cuOOPDPx6ryAa+S8187XvMWsnDxKsiG9nrXMvJp+qLu86/w8w9IEPYI3qDt7vAc9wZZNvEsyR71ypYY72uIDvQXlRzx7dl68LzxjPZT9sbxeIh68Yc6APODh6boxChW9AKTpO5n9H73netY71KEKPPHBxby68BK8uPmlPfY8ALyjAuw8O8C/vHPjHT0u8yk9ApEBPaocKT1i+Zg8r30ePSXqdTxo93A9XLIMPaBu+zwlWTI9WCaXPDuY5TypAnc899IhPcKW1rxDDsS7KHDWuzPRnjyA3fU83gXCvOJdrTxyWyi9sHQXu5pIl71yQxw8iA0ZvE9vcbzWspC7d/MTvelpYDwNSj68WNwSPQXjeTyYNEI82zSIPEnWuzvCvL47KCOavBR2Cj3mzRW9F7wWvRuarjxD1wm9CFqLvPe7pjywQ8u8sUilPISKvDsVtzC91KEwPOJjYbytIw887GCGvQZoQLz+h/i7WUxcvEUs+Dzgu++8xgcaPBtVNj2o+2q9Ro6FPQC7Hz0DFZ46Kd+qvP8JKL017bM9zikgPNIBFr2LeWu98vMXvBar0Lz18Yu86numvFqvG72FBUs9F0mFvQNWmr2iqLW92e79PKKlJL0E7Ei8HzavPMA98TzGswk9kDGHPHK6NTwm8Ym8vaE0PbBdebzvQIK9M3LqvBltmjzyiJY8TMi+vDlMsjzsaKs9nP4LvVaWbb2HVUq9GSGuPMjzBz3lGNE7EQQLvbj71zynSLY7DaWMPTJIv7tyZ5y99/KtPFg9Nz1rTnm9/pk/vcXjZj3/ZhO6pHX1PINBC73g/Eo9ys3avHfZM70rjBo7aiy8vD2OFbzlRsi7B4iIPL1fX7qXu5K9S/iQPADSIb10XOU8RdA3PCoz4Lyn+ig8jlDYO6COULyE8ko73MpIPRWEQz1RmbO5nsdLPNeonrv6LYg9Ve+gvIA+gDxNz5K8eLsHvTn3Gz1GQZW8W3ytO5yBIj0zJO68VpuvOkEs/LwfBaa7t21wPAdYGT1a/LS86guOO+T5Yrsdypc8b/gwuyhmMzxZXMC82iuRPKqboz019/68qDnwvAKbOr38Xho9ohyUPEYJ5rxCNEU9lb7XvdI4nbyIVO28WecfPUAbGz2y3IM8yewrPV+rmboQfxg86XeZPDvwfDx/sVS7duLZunpmS73fvII99K0QPVDGM7vpmfA8xJgCvBrANTzVWSy9SZuhPOsNITyxjLk8Z7JVvOArKLxKDA87EHzfO/tarrxXoAO9yQVCvWrnuLxfw3s8KPJ1vb+OML01DMY8LcqnvJS9ZT1p8CI9FrVwPaEjc7sFPPe8AE1EvSSBaLpDu7+7hNgpPUQPubzTiaC8CZswvVVcGLxmQQQ90q7MPCX2yLyXA3Y9yxEivRqFJrtmude8otODvb79Wz1fyhQ9"
}
