bundles/spark/kbs/soar-playbooks/entries/pb-microsoftdefenderadvancedthr-mde-host-advanced-hunting.json
{
  "id": "pb-microsoftdefenderadvancedthr-mde-host-advanced-hunting",
  "title": "MDE - Host Advanced Hunting",
  "category": "playbook",
  "content": "This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.\nThis playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature based on the provided inputs.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MicrosoftDefenderAdvancedThreatProtection, xsoar-supported).\n\nInputs — FileSha1: A comma-separated list of file SHA1 hashes to hunt.; FileSha256: A comma-separated list of file Sha256 hashes to hunt.; IP: A comma-separated list of IPs to hunt.; DeviceName: A comma-separated list of host names to hunt.; FileName: A comma-separated list of file names to hunt.; DeviceID: A comma-separated list of device ID to hunt.; FileMd5: A comma-separated list of file MD5 hashes to hunt.; QueryBatch: Define the custom queries you would like to run as a part of the 'MDE - Host Advanced Hunting' playbook.  This input will be passed to the 'query_batch' argument in the '!microsoft-atp-advanced-hunting' command. For more information and examples, check the command's hints..\n\nOutputs — MicrosoftATP.HuntTampering: The query results for hunt tampering.; MicrosoftATP.HuntTampering.Result: The query results.; MicrosoftATP.HuntPrivilegeEscalation: The query results for hunt privilege escalation.; MicrosoftATP.HuntPrivilegeEscalation.Result: The query results.; MicrosoftATP.HuntLateralMovementEvidence.Result: The query results for hunt lateral movement evidence.; MicrosoftATP.HuntLateralMovementEvidence.Result.network_connections: Query results from the Microsoft Defender For Endpoint Advanced Hunting on network connections.; MicrosoftATP.HuntLateralMovementEvidence.Result.smb_connections: Query Results from the Microsoft Defender For Endpoint Advanced Hunting on SMB connections.; MicrosoftATP.HuntLateralMovementEvidence.Result.credential_dumping: Query results from the Microsoft Defender For Endpoint Advanced Hunting on credential dumping.; MicrosoftATP.HuntLateralMovementEvidence.Result.management_connection: Query results from the Microsoft Defender For Endpoint Advanced Hunting on management connections.; MicrosoftATP.HuntPersistenceEvidence: Query results from the Microsoft Defender For Endpoint Advanced Hunting for hunt lateral movement evidence..\n\nIntegrations/scripts used: microsoft-atp-advanced-hunting, microsoft-atp-advanced-hunting-lateral-movement-evidence, microsoft-atp-advanced-hunting-privilege-escalation, microsoft-atp-advanced-hunting-tampering, microsoft-atp-get-file-info.",
  "raw_yaml": "contentitemexportablefields:\n  contentitemfields: {}\ndescription: |-\n  This playbook is part of the 'Malware Investigation And Response' pack. For more information, refer to https://xsoar.pan.dev/docs/reference/packs/malware-investigation-and-response.\n  This playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature based on the provided inputs.\nid: MDE - Host Advanced Hunting\ninputs:\n- description: A comma-separated list of file SHA1 hashes to hunt.\n  key: FileSha1\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: A comma-separated list of file Sha256 hashes to hunt.\n  key: FileSha256\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: A comma-separated list of IPs to hunt.\n  key: IP\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: A comma-separated list of host names to hunt.\n  key: DeviceName\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: A comma-separated list of file names to hunt.\n  key: FileName\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: A comma-separated list of device ID to hunt.\n  key: DeviceID\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: A comma-separated list of file MD5 hashes to hunt.\n  key: FileMd5\n  playbookInputQuery:\n  required: false\n  value: {}\n- key: QueryBatch\n  value: {}\n  required: false\n  description: Define the custom queries you would like to run as a part of the 'MDE - Host Advanced Hunting' playbook.  This input will be passed to the 'query_batch' argument in the '!microsoft-atp-advanced-hunting' command. For more information and examples, check the command's hints.\n  playbookInputQuery:\nname: MDE - Host Advanced Hunting\noutputs:\n- contextPath: MicrosoftATP.HuntTampering\n  description: The query results for hunt tampering.\n  type: unknown\n- contextPath: MicrosoftATP.HuntTampering.Result\n  description: The query results.\n- contextPath: MicrosoftATP.HuntPrivilegeEscalation\n  description: The query results for hunt privilege escalation.\n  type: unknown\n- contextPath: MicrosoftATP.HuntPrivilegeEscalation.Result\n  description: The query results.\n- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result\n  description: The query results for hunt lateral movement evidence.\n  type: unknown\n- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.network_connections\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting on network connections.\n- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.smb_connections\n  description: Query Results from the Microsoft Defender For Endpoint Advanced Hunting on SMB connections.\n- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.credential_dumping\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting on credential dumping.\n- contextPath: MicrosoftATP.HuntLateralMovementEvidence.Result.management_connection\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting on management connections.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for hunt lateral movement evidence.\n  type: unknown\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for hunt persistence evidence.\n  type: unknown\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.scheduled_job\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for scheduled jobs.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.registry_entry\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for registry entries.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.startup_folder_changes\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for startup folder changes.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.new_service_created\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for created new services.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.service_updated\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for updated services.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.file_replaced\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for replaced files.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.new_user\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for new users.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.new_group\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for new groups.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.group_user_change\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for changes in group users.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.local_firewall_change\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for changes in the local firewall.\n- contextPath: MicrosoftATP.HuntPersistenceEvidence.Result.host_file_change\n  description: Query results from the Microsoft Defender For Endpoint Advanced Hunting for changes in the host file.\n- contextPath: MicrosoftATP.File\n  description: File information from Microsoft ATP.\n  type: unknown\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '3'\n      - '17'\n      - '13'\n      - '85'\n      - '90'\n      - \"91\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: e1f36156-43d0-496d-8e38-8c3e0b9acd38\n      iscommand: false\n      name: ''\n      version: -1\n      description: ''\n    taskid: e1f36156-43d0-496d-8e38-8c3e0b9acd38\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": -320,\n          \"y\": 60\n        }\n      }\n    continueonerrortype: \"\"\n  '3':\n    id: '3'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '82'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 80881684-437d-4f3f-8f5a-08635fc83ec6\n      iscommand: false\n      name: Network Activity\n      type: title\n      version: -1\n      description: ''\n    taskid: 80881684-437d-4f3f-8f5a-08635fc83ec6\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 210\n        }\n      }\n    continueonerrortype: \"\"\n  '9':\n    id: '9'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '26'\n      - '27'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 77275ae0-24c8-4b95-8a3c-2f126e3e28af\n      iscommand: false\n      name: Privilege Escalation\n      type: title\n      version: -1\n      description: ''\n    taskid: 77275ae0-24c8-4b95-8a3c-2f126e3e28af\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1010,\n          \"y\": 420\n        }\n      }\n    continueonerrortype: \"\"\n  '13':\n    id: '13'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '80'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: fc4c5cfd-ec21-4e0a-86fa-37e98199aea8\n      iscommand: false\n      name: PowerShell Analysis\n      type: title\n      version: -1\n      description: ''\n    taskid: fc4c5cfd-ec21-4e0a-86fa-37e98199aea8\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 210\n        }\n      }\n    continueonerrortype: \"\"\n  '17':\n    id: '17'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '81'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Finds sandbox reports by providing an FQL filter and paging details.\n      id: b0532ae0-413b-47ec-866f-ba24eb3ccb6a\n      iscommand: false\n      name: Persistence\n      type: title\n      version: -1\n    taskid: b0532ae0-413b-47ec-866f-ba24eb3ccb6a\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 130,\n          \"y\": 210\n        }\n      }\n    continueonerrortype: \"\"\n  '26':\n    id: '26'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '38'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 2a614f24-f7ad-4297-8d4a-42cceb520fe3\n      iscommand: false\n      name: Mimikatz/Other Lsaas manipulation\n      type: title\n      version: -1\n      description: ''\n    taskid: 2a614f24-f7ad-4297-8d4a-42cceb520fe3\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1220,\n          \"y\": 570\n        }\n      }\n    continueonerrortype: \"\"\n  '27':\n    id: '27'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '37'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 76fa906f-09b2-4504-8c7b-fa9b08b11910\n      iscommand: false\n      name: Is the Local Admin Signed to the Device?\n      type: title\n      version: -1\n      description: ''\n    taskid: 76fa906f-09b2-4504-8c7b-fa9b08b11910\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 570\n        }\n      }\n    continueonerrortype: \"\"\n  '28':\n    id: '28'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '29'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: a01ea774-9fa9-4b88-8baa-c75302acab66\n      iscommand: false\n      name: Defense Evasion\n      type: title\n      version: -1\n      description: ''\n    taskid: a01ea774-9fa9-4b88-8baa-c75302acab66\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1670,\n          \"y\": 420\n        }\n      }\n    continueonerrortype: \"\"\n  '29':\n    evidencedata:\n      customfields: {}\n      description:\n        simple: Results on Tempering Activity query in Advanced Hunting feature - Microsoft Defender For Endpoint\n      tags:\n        simple: Tempering Action\n    id: '29'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '49'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      device_id:\n        simple: ${inputs.DeviceID}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Detects any evidence of MDE agent/sensor manipulation.\n      id: 9cdcffbf-a41a-4aa1-84be-3749d6507a06\n      iscommand: true\n      name: Is there an attempt to disable MS?\n      script: '|||microsoft-atp-advanced-hunting-tampering'\n      type: regular\n      version: -1\n    taskid: 9cdcffbf-a41a-4aa1-84be-3749d6507a06\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1670,\n          \"y\": 715\n        }\n      }\n    continueonerrortype: \"\"\n  '37':\n    evidencedata:\n      customfields: {}\n      description:\n        simple: Results on Local Admin query in Advanced Hunting feature - Microsoft Defender For Endpoint\n      tags:\n        simple: Local Admin\n    id: '37'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '83'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      device_id:\n        simple: ${inputs.DeviceID}\n      device_name:\n        simple: ${inputs.DeviceName}\n      query_operation:\n        simple: or\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Is there evidence for privilege escalation?\n      id: d586a7ba-cae8-4eb5-87f7-340c05f4880e\n      iscommand: true\n      name: Local Admin user was logged in?\n      script: '|||microsoft-atp-advanced-hunting-privilege-escalation'\n      type: regular\n      version: -1\n    taskid: d586a7ba-cae8-4eb5-87f7-340c05f4880e\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 715\n        }\n      }\n    continueonerrortype: \"\"\n  '38':\n    evidencedata:\n      customfields: {}\n      description:\n        simple: Results on Credential Dump query in Advanced Hunting feature - Microsoft Defender For Endpoint\n      tags:\n        simple: Credential Dump\n    id: '38'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '54'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      device_id:\n        simple: ${inputs.DeviceID}\n      device_name:\n        simple: ${inputs.DeviceName}\n      query_purpose:\n        simple: credential_dumping\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Is there evidence of attempted lateral movement? By selecting a “query_purpose” argument, a designated query template will be used.\n      id: d78da24b-058f-4a6d-8527-4c64f52fd4fb\n      iscommand: true\n      name: Password manipulation\n      script: '|||microsoft-atp-advanced-hunting-lateral-movement-evidence'\n      type: regular\n      version: -1\n    taskid: d78da24b-058f-4a6d-8527-4c64f52fd4fb\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1220,\n          \"y\": 715\n        }\n      }\n    continueonerrortype: \"\"\n  '40':\n    id: '40'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 90714257-1b61-4033-8da6-89bc2ff4b75c\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 90714257-1b61-4033-8da6-89bc2ff4b75c\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 1280\n        }\n      }\n    continueonerrortype: \"\"\n  '49':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: MicrosoftATP.HuntTampering.Result\n          operator: isNotEmpty\n          right:\n            value: {}\n      label: yes\n    id: '49'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '40'\n      yes:\n      - '50'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Any results\n      id: 98aff37a-37d5-49df-8e7c-66face7cc480\n      iscommand: false\n      name: Any results?\n      type: condition\n      version: -1\n    taskid: 98aff37a-37d5-49df-8e7c-66face7cc480\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1670,\n          \"y\": 915\n        }\n      }\n    continueonerrortype: \"\"\n  '50':\n    id: '50'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      appendTags:\n        simple: 'true'\n      severity:\n        simple: High\n      tags:\n        simple: Tempering Action\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 6a4a3f16-815d-42bb-8fb2-350acde766aa\n      iscommand: true\n      name: Raise the severity of the incident and add the \"Tempering Action\" tag.\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 6a4a3f16-815d-42bb-8fb2-350acde766aa\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1920,\n          \"y\": 1100\n        }\n      }\n    continueonerrortype: \"\"\n  '53':\n    id: '53'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      appendTags:\n        simple: 'true'\n      tags:\n        simple: Credential Dump\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 34269eb1-ede9-4203-801a-33448974015c\n      iscommand: true\n      name: Add \"Credential Dump\" tag\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 34269eb1-ede9-4203-801a-33448974015c\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1450,\n          \"y\": 1100\n        }\n      }\n    continueonerrortype: \"\"\n  '54':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: MicrosoftATP.HuntLateralMovementEvidence.Result.credential_dumping\n          operator: isNotEmpty\n          right:\n            value: {}\n      label: yes\n    id: '54'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '40'\n      yes:\n      - '53'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Any results?\n      id: 22bb1d45-e100-44bc-82ee-7b203b41fda7\n      iscommand: false\n      name: Any results?\n      type: condition\n      version: -1\n    taskid: 22bb1d45-e100-44bc-82ee-7b203b41fda7\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1220,\n          \"y\": 915\n        }\n      }\n    continueonerrortype: \"\"\n  '80':\n    id: '80'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    loop:\n      exitCondition: ''\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      DeviceID:\n        complex:\n          root: inputs.DeviceID\n          transformers:\n          - operator: uniq\n      DeviceName:\n        complex:\n          root: inputs.DeviceName\n          transformers:\n          - operator: uniq\n      FileMd5:\n        complex:\n          root: inputs.FileMd5\n          transformers:\n          - operator: uniq\n      FileName:\n        complex:\n          root: inputs.FileName\n          transformers:\n          - operator: uniq\n      FileSha1:\n        complex:\n          root: inputs.FileSha1\n          transformers:\n          - operator: uniq\n      FileSha256:\n        complex:\n          root: inputs.FileSha256\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: inputs.IP\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: ''\n      id: e8cd08d7-1da1-4612-86b0-b219262d8398\n      iscommand: false\n      name: MDE - Host Advanced Hunting For Powershell Executions\n      type: playbook\n      version: -1\n      description: 'This playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature to hunt for host PowerShell executions.'\n      playbookName: MDE - Host Advanced Hunting For Powershell Executions\n    taskid: e8cd08d7-1da1-4612-86b0-b219262d8398\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 505\n        }\n      }\n    continueonerrortype: \"\"\n  '81':\n    id: '81'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    loop:\n      exitCondition: ''\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      DeviceID:\n        complex:\n          root: inputs.DeviceID\n          transformers:\n          - operator: uniq\n      DeviceName:\n        complex:\n          root: inputs.DeviceName\n          transformers:\n          - operator: uniq\n      FileName:\n        complex:\n          root: inputs.FileName\n          transformers:\n          - operator: uniq\n      FileSha1:\n        complex:\n          root: inputs.FileSha1\n          transformers:\n          - operator: uniq\n      FileSha256:\n        complex:\n          root: inputs.FileSha256\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: inputs.IP\n          transformers:\n          - operator: uniq\n      FileMd5:\n        complex:\n          root: inputs.FileMd5\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: ''\n      description: This playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature to hunt for host persistence evidence.\n      id: 1b17ebad-cdd4-4e5b-8c33-d009cc922a8d\n      iscommand: false\n      name: MDE - Host Advanced Hunting For Persistence\n      type: playbook\n      version: -1\n      playbookName: MDE - Host Advanced Hunting For Persistence\n    taskid: 1b17ebad-cdd4-4e5b-8c33-d009cc922a8d\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 130,\n          \"y\": 505\n        }\n      }\n    continueonerrortype: \"\"\n  '82':\n    id: '82'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    loop:\n      exitCondition: ''\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      DeviceID:\n        complex:\n          root: inputs.DeviceID\n          transformers:\n          - operator: uniq\n      DeviceName:\n        complex:\n          root: inputs.DeviceName\n          transformers:\n          - operator: uniq\n      FileMd5:\n        complex:\n          root: inputs.FileMd5\n          transformers:\n          - operator: uniq\n      FileName:\n        complex:\n          root: inputs.FileName\n          transformers:\n          - operator: uniq\n      FileSha1:\n        complex:\n          root: inputs.FileSha1\n          transformers:\n          - operator: uniq\n      FileSha256:\n        complex:\n          root: inputs.FileSha256\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: inputs.IP\n          transformers:\n          - operator: uniq\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 61945bd1-c7fd-4fd6-809a-bbfcd32b2f79\n      iscommand: false\n      name: MDE - Host Advanced Hunting For Network Activity\n      type: playbook\n      version: -1\n      description: 'This playbook uses the Microsoft Defender For Endpoint Advanced Hunting feature to hunt for host network activity.'\n      playbookName: MDE - Host Advanced Hunting For Network Activity\n    taskid: 61945bd1-c7fd-4fd6-809a-bbfcd32b2f79\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 505\n        }\n      }\n    continueonerrortype: \"\"\n  '83':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: MicrosoftATP.HuntPrivilegeEscalation.Result\n          operator: isNotEmpty\n          right:\n            value: {}\n      label: yes\n    id: '83'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '40'\n      yes:\n      - '84'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Any results?\n      id: 9f356086-d122-4912-8b9d-cc8f985b8c89\n      iscommand: false\n      name: Any results?\n      type: condition\n      version: -1\n    taskid: 9f356086-d122-4912-8b9d-cc8f985b8c89\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -780,\n          \"y\": 915\n        }\n      }\n    continueonerrortype: \"\"\n  '84':\n    id: '84'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      appendTags:\n        simple: 'true'\n      tags:\n        simple: Local Admin\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 923a4c23-ff07-41eb-8060-1d5dfe3975e7\n      iscommand: true\n      name: Add \"Local Admin\" Tag\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 923a4c23-ff07-41eb-8060-1d5dfe3975e7\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1000,\n          \"y\": 1100\n        }\n      }\n    continueonerrortype: \"\"\n  '85':\n    id: '85'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '89'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      id: 93201884-f8ac-48db-81bb-d350f685faf3\n      iscommand: false\n      name: File Signature Check\n      type: title\n      version: -1\n      description: ''\n    taskid: 93201884-f8ac-48db-81bb-d350f685faf3\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": -320,\n          \"y\": 210\n        }\n      }\n    continueonerrortype: \"\"\n  '86':\n    evidencedata:\n      customfields: {}\n      description:\n        simple: Results on File Information by SHA1 - Microsoft Defender For Endpoint\n      tags:\n        simple: File Information by SHA1\n    id: '86'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '87'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      hash:\n        complex:\n          root: inputs.FileSha1\n          transformers:\n          - args:\n              item:\n                iscontext: true\n                value:\n                  simple: inputs.FileSha256\n            operator: append\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Retrieves file info by a file hash (Sha1 or Sha256). Note, if the given hash is not part of the results, it was not found.\n      id: 07cfc5b0-5d48-4604-80c3-d1c511b3b188\n      iscommand: true\n      name: Gets file information.\n      script: '|||microsoft-atp-get-file-info'\n      type: regular\n      version: -1\n    taskid: 07cfc5b0-5d48-4604-80c3-d1c511b3b188\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -320,\n          \"y\": 715\n        }\n      }\n    continueonerrortype: \"\"\n  '87':\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              simple: MicrosoftATP.File.Signer\n          operator: isNotEmpty\n          right:\n            value: {}\n      label: yes\n    id: '87'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#default#':\n      - '40'\n      yes:\n      - '88'\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: ''\n      description: Any digital signing info?\n      id: c5c560ec-0485-4d28-8c0f-91156eeaa22b\n      iscommand: false\n      name: Any digital signing info?\n      type: condition\n      version: -1\n    taskid: c5c560ec-0485-4d28-8c0f-91156eeaa22b\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -320,\n          \"y\": 915\n        }\n      }\n    continueonerrortype: \"\"\n  '88':\n    id: '88'\n    ignoreworker: false\n    isautoswitchedtoquietmode: false\n    isoversize: false\n    nexttasks:\n      '#none#':\n      - '40'\n    note: false\n    quietmode: 0\n    scriptarguments:\n      appendTags:\n        simple: 'true'\n      signature:\n        simple: ${MicrosoftATP.File.Signer}\n      tags:\n        simple: Signed File\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 09efc76c-787c-4434-826e-fa6d4445aa76\n      iscommand: true\n      name: Updates the \"Signed File\" tag and sets the signature incident field.\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 09efc76c-787c-4434-826e-fa6d4445aa76\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -90,\n          \"y\": 1090\n        }\n      }\n    continueonerrortype: \"\"\n  '89':\n    id: '89'\n    taskid: 0a3ba1a2-67eb-4d83-8e17-962c519073d4\n    type: condition\n    task:\n      id: 0a3ba1a2-67eb-4d83-8e17-962c519073d4\n      version: -1\n      name: Is there a hash?\n      description: Is there a hash?\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '40'\n      yes:\n      - '86'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.FileSha1\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.FileSha256\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -320,\n          \"y\": 505\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  '90':\n    id: '90'\n    taskid: 87ffe3f4-08ba-45e7-8232-46393f0dfca2\n    type: condition\n    task:\n      id: 87ffe3f4-08ba-45e7-8232-46393f0dfca2\n      version: -1\n      name: Check if device information was provided\n      description: Check if device information was provided.\n      type: condition\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#default#':\n      - '40'\n      yes:\n      - '9'\n      - '28'\n    separatecontext: false\n    conditions:\n    - label: yes\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.DeviceName\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.DeviceID\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1010,\n          \"y\": 210\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"91\":\n    id: \"91\"\n    taskid: 5d0575ec-de5f-4e07-809a-7752524442c8\n    type: title\n    task:\n      id: 5d0575ec-de5f-4e07-809a-7752524442c8\n      version: -1\n      name: Custom Batch Queries\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"95\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1430,\n          \"y\": 210\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"92\":\n    id: \"92\"\n    taskid: 840d2674-b2d8-459f-8bf9-631f804f0323\n    type: regular\n    task:\n      id: 840d2674-b2d8-459f-8bf9-631f804f0323\n      version: -1\n      name: Run Custom Queries\n      description: 'Allows you to run programmatic queries like in Microsoft Defender ATP Portal (https://securitycenter.windows.com/hunting). Limitations: You can only run a query on data from the last 30 days. The results include a maximum of 10,000 rows. The number of executions is limited (up to 15 calls per minute, 15 minutes of running time every hour and 4 hours of running time a day).'\n      script: '|||microsoft-atp-advanced-hunting'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"94\"\n    scriptarguments:\n      extend-context:\n        simple: MicrosoftATP.Hunt.Result.customQueries=\n      query_batch:\n        complex:\n          root: inputs.QueryBatch\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1430,\n          \"y\": 715\n        }\n      }\n    note: false\n    evidencedata:\n      description:\n        simple: Results for the custom batch queries in Advanced Hunting feature - Microsoft Defender For Endpoint.\n      tags:\n        simple: Custom Queries\n      customfields: {}\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"93\":\n    id: \"93\"\n    taskid: 830501f5-c63f-41c3-8cea-9f34b8217078\n    type: regular\n    task:\n      id: 830501f5-c63f-41c3-8cea-9f34b8217078\n      version: -1\n      name: Add \"Custom Queries\" Tag\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"40\"\n    scriptarguments:\n      appendTags:\n        simple: \"true\"\n      tags:\n        simple: Custom Queries\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1430,\n          \"y\": 1110\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"94\":\n    id: \"94\"\n    taskid: cfdda55a-4b15-4b32-80c6-801d5109c806\n    type: condition\n    task:\n      id: cfdda55a-4b15-4b32-80c6-801d5109c806\n      version: -1\n      name: Any results?\n      description: Any results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"40\"\n      \"yes\":\n      - \"93\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: MicrosoftATP.Hunt.Result.customQueries\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1430,\n          \"y\": 925\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"95\":\n    id: \"95\"\n    taskid: ef864f21-de9b-4e97-83fc-af2f028f865a\n    type: condition\n    task:\n      id: ef864f21-de9b-4e97-83fc-af2f028f865a\n      version: -1\n      name: Are there any batch queries?\n      description: Are there any batch queries?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"40\"\n      \"yes\":\n      - \"92\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.QueryBatch\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1430,\n          \"y\": 505\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1285,\n        \"width\": 3730,\n        \"x\": -1920,\n        \"y\": 60\n      }\n    }\n  }\ntests:\n- Microsoft Defender Advanced Threat Protection - Test\nfromversion: 6.5.0\nsystem: true\n",
  "product": "Cortex XSOAR",
  "pack": "MicrosoftDefenderAdvancedThreatProtection",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "endpoint",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "aSPDPLpeajyJIey9i1+VvBfT4D2G0qo8EVCLPTKW8zy9f4m8T2qau0WwA73QZFo9kg4nPSuZDjzq8Yo7u7IxvTTbpT3m2TY9LPQKvUGztbxCjz+96MBlvcf7rTtA/pW8NKPsu8fYLr0JerQ8VsWXvWWbArtVnhw8dEwbPRcAlbvmehk8rD3uPEHAF70isKe7SyLmvBdDGzwUZ129PTajvJtPd73O4tE5sTsKvTT9RD3EbRO9OXkKvAivR7xh1LM8dr+Avc15QLtZhnA9sSAivcorCrygkxk9Hyj9PKSEwrwy3nu8Bo6vvS70K70MdJo8mb+ZuqgMGr0wAqw727QBvEWIBLz4q+28n7jQvBui5Lw8EFa9qa+IPeXdNL1QLxK6mHazvK+lAjxSFeK6Z0wGvCsgtzylKZ66ArcpPRXXcz0cZD+84CuEO6cNLD1lf8M8oT2IvI/kDrxYGc083KeCvU1MizwA3Bo8iDPnPSjKBbzTE3G8D6hYPaA4rT2U4yy9fBGBvXXM9L1KIHW7a7KoPDSm/LyLmVG8m+28POy2Pr3O4co8+XygOzcx/7zrICe9Wc6QvdpsYTyxQMS8xakNPefBIjyVO1w8+f7yu+E9iLzVjmG7aJEfPUmpRL1eXbC9tjO6Ob7mnT0SzbU8CzlHPQ1Ziz3xbxs9ySNkvG+qhjv2+508sw4dO8ZkpDxSkEG9dU/2O9n2rLwRdky9uYSGO86WOD1Vbjm81Ln2u5cvCj2ki1y8RvoGvOkAz71CMzC8o+hMPYozA72Lcyk9ykWAPejmAb0YwyO9YWAWveztw7xXWXO9qdQXPMRINryFYHu7T0OAPL+dmr01OyU9lao/vGDbbryNAIu9qoFPvPWjJD33Oli9i3nFvFn8Rb0krCy8jI0lvFef0Dz+gLk8BEkgvZaqwb3xj1K9CX5rvMTvrzyPy1E8ODPnvLv0tLxnOpM8lDdLPSQYdbyUuDg9biaRvfgu/DyB+NM8V7gbvYV2Fjz7d0s9pThkPYORrjtnJ9q69MsOPbXBYj0/ICu9S61sPIA4rzywv5u8EwEpvTYGlDqfg5k9z9fhu/HDlTyMr4K9MuN/vXNKITtG39e8ezWGvNHYoLwoZ0W90DOKPC9OpTwSo5i75sjKvICmz7wQwOK4JX0WPdZRqzxuvJY9O0e6vF22UDxpqo+8SscyvQaLlDyjmGS8z91fPcDSK716www9pNjWPJ3qOL0iEZS8Q5k+POf+fjwoiEe8dropvJzuBT3rH3Y9IJumPMjPE7xMdEk8JuUtvbd++jxryJo8BHeXu+1bZz3sWyY8dPXtPJ1b4rxxFDM8InDqvHZExro0u4i8a++/O31uVz0H2Oe7hqrNO8QeCD0OaTe9RZMWu56QvLyGI6U9Td1HvFJb7Lsnw8+8+8GkvJvLoL34c+a8YZoDvQl48DzZDiC8bHBWPMLCWrxLG+E7MUSYOxmGmr2gfBw7xxETvOwi5zwiEH692eJuvXjYHbzCQz68XlcEvH7ocLzggIc8NJzavJd1k7yY05q87z4xvD4a07yvG/08xA5mPTLyUr1pRJi9pCUKPfEs8jyrVRA96m6iPewOVb0pi8C8F6AwPdR8rTzNc+G8M7qGPFoSabqXG2i8dowpvSSRh7sYdAS9Evo6OyDpVTyeI448FWyKvM7miryw9Ya82mbDvCQB270srR69ODFBO9XdzTuSQC070bVIPLiEf73cxQw9tKz3vLv5mbxpknE8l45CvbWtcjwluE+9hL0EPU+WXT1Btia8x2PcPAZHDrtzEws9cWZKvZKA0jwPWZ895TYovUHN6DuvG407hePdPHdLFj1WaeC8oqMRveOUDz1iYLU6DXQSPXvZOD0BzCA8CA3UPA+l1DlmJAU9gAIqPAIlvjwUdtk8zrJRvemEIL35Unu8n9dFu4Kbkrv8fpg8g/IyPZo1HTuqErO8T3LjPGLC1TzHHwW8V9sOvXHuTbw5L/i8rOYEvEV51ryh4/Q8e1p+vRiGX70YOSa8SKorPE51fr3wYM28+jfUvNZMAb3KrBe9oL0WPf96pz0BECu9FqIOvXfMDLxoYCQ8p4lzvSpXfD0Wey28j9wFPVTR2bwMcCW8t2qivBOmcT1TGyc94zqLvCNOeTxcqxi9DvGYPXXRZb1EH4i7GPhlPNZ3Qz3qV5o85GVlvUMXnDyXnyY6pN9Ju/Pd+LuQxA489ziQPOQksTppsHc9aUALPUVZ1zvkrWg9zJBZPEjWFbyghJs8gpYHPYR0kjy3fTm9K71mvcyLC7vo1pE8Gk2ePP0ZFL1ado085A8UvR36Cz2d/he9N1oevBNOST1RRaS8uwTsuUNLcz3J5aC7raW6u3RDsj0EI/M8sA5ePMba0TzlkIK6HkgTPchbpjzobkG92CwKvOA1gzzCfqW6cgC6vJFyGb7XgKo6R6asPFJ4VLw43yK9XeaPvGO3Gr3ZNfw8HKJwPQV6qjtLMZS6g0g2vRGyg7xDe5892wjHO94cwDzNKI09L2hGPYaB6Dxy1Pc817cPvUQV4Ty3H0g9J6IdPFwMlTwkjYq9aWpSvel9KDz3P7E87P08PJd5mztYxBq9iV0mvR+WADoM7Tk8AyisvCBnTb20DTm9Io5Wvfcgeb1zZcO7GyyCvayc7jzDmKi79+ufvAdlSz0RP0Y9IyoyPdCRKbyNNuy8KEgjvG8oWT16a2G9iC78O9Q2ArsNbXY8Y67rPCNmhLwq2DE9yfEqvIFYLL3fB6A7iYPqPOWxybzS64A8+lCNPcEah7zP89g7HLP1O8vXxLz97A+9Ct0KvXckPrxLHr47jqjOO7IAobwPY9y7oJuLPa7xyDpFHIc8/EfYvPn7fj2Hs748HXRoPKQopD0Ihg09vs8BPBw9Lzsj4Rc9UqMFPVXw/DtAYIs8AiZOPNm/MbzHVYC7cB1OPS1/VDyhZQw8p+YJPXMgcTzbIrg8SWOivLGVHz1peyS699oNvS+vuLw+H9M85SqAvODPCDvDUIC7sI8hvdJE+7yi/hK9gRouPbMVEbysJAU6cBugPOZ1QjzWp448v7+0O0Umkbw8r5C8L5lMvVywjjyqxnO8cNKEvMa32TwxiAo6gKEWPcgXsTuSp0+9O9BVOzNPrTz7unO5Ukt6vcxFizuulaC8EhiVvO6OJD1O9yu8jw4/vKSLIzycami9IMzIO2Iof7r+tUa88SknvQXxNb2dTIg9o1oOvP68aL0ER0K9mq0ZPOeLl72D7FY7DhaoO7YyHbxMz4Y9/YYDPSIDV7zSr4S9CjEJPZUSwLy6s6K89/UPvJWBlTzMSHM94zznO689aroqDAq9mornPO3pQLwk7Am96pLhvGXYTz2f70c9GQp+vHiG5rx/cpU96STGvHqK27zFTCe8ua8aO+NXKT1xVKU7D5IjvXLzCz1jKBI9LSWCPS4cJT0YUNa9yjo3OxroIz0tjZy91qYRu57pnzxr2Sg8eb89PYo3aL3xM1Q9s2Q6vcAhKr13N6G8fKYVvdoMW7ydQFu858xBPB5BkLytz9u9Pi/svKdckL08dnc7OScyvfRHvzowAfQ8By0CPWGLMzy8F7A7ji2kOxhUjD1IiBE8b9tDvL5FUrzIy1E9Yj06vRUF+bxkb0o9cKdzvTEOejx69LG83qqjOyFBhjxi9iI8/sqtvAdoXDvNN0289p1rPFWhrzw9/KC77FP3O9FMr7wYeac8QPH/vKYe1bsXa4a8CHesPOt8R7wzCbu6m1MwPLJfoLxP1ou7gqKKvAgE67xSMl89GbPuvU54Db0r7y29LpwcPQk49zvmIz26E8/Iu8ZFnjyLEh+6DmcbPQ/s6jvNrZW7zFjEPFgkz7wtxnY9TOmCPQy/WbwNGeU8fQHou0jpGT0CB+y8+Z4HvK+ZZz3o+gQ9mYcTvVG7uTz6sVe7WxGGvEr9k7wf83u9sIJLvXR3nrtIhVw8TLokvedFP731lQI712tsvAn2Tj2qs2+7LNtfOszYJT1nVkS91+GLvd1HQTz7eRc8l4TWOYmpPjtC/YA6BJLLvPbrNb07i3g935RlPEI2gLzAGjQ8w0h2vRkBB71eami988a5vOktUD21j7g8"
}
