bundles/spark/kbs/soar-playbooks/entries/pb-mitrecoa-courses-of-action-persistence.json
{
  "id": "pb-mitrecoa-courses-of-action-persistence",
  "title": "Courses of Action - Persistence",
  "category": "playbook",
  "content": "This playbook handles MITRE ATT&CK Techniques using intelligence-driven Courses of Action (COA) defined by Palo Alto Networks Unit 42 team. It utilizes each of the sub-playbooks for specific techniques that belong to this phase (tactic) according to the MITRE ATT&CK kill chain. The sub-playbook called depends on the technique input.\n \n***Disclaimer: This playbook does not simulate an attack using the specified techniques, but follows the steps to remediation as defined by Palo Alto Networks Unit 42 team’s Actionable Threat Objects and Mitigations (ATOMs).\n \nTactic:\n- TA0003: Persistence\n\nMITRE ATT&CK Description: \nThe adversary is trying to maintain their foothold.\n\nPersistence consists of techniques that adversaries use to keep access to systems across restarts, changed credentials, and other interruptions that could cut off their access. Techniques used for persistence include any access, action, or configuration changes that let them maintain their foothold on systems, such as replacing or hijacking legitimate code or adding startup code.\n\nPossible playbook triggers:\n- The playbook can be used as a part of the “Courses of Action - Collection” playbook to remediate techniques based on kill chain phase.\n- The playbook can be used as a part of the “MITRE ATT&CK - Courses of Action” playbook, that can be triggered by different sources and accepts the technique MITRE ATT&CK ID as an input.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (MITRECoA, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — technique: Mitre ATT&CK ID of a technique.; pre_post: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory for Panorama instances.; device-group: The device group for which to return addresses (Panorama instances).; tag: Tag for which to filter the rules..\n\nOutputs — Handled.Techniques: The techniques handled in this playbook; Persistence.ProductList: Products used for remediation..\n\nIntegrations/scripts used: Set, SetAndHandleEmpty.",
  "raw_yaml": "id: Courses of Action - Persistence\nname: Courses of Action - Persistence\ndescription: \"This playbook handles MITRE ATT&CK Techniques using intelligence-driven Courses of Action (COA) defined by Palo Alto Networks Unit 42 team. It utilizes each of the sub-playbooks for specific techniques that belong to this phase (tactic) according to the MITRE ATT&CK kill chain. The sub-playbook called depends on the technique input.\\n \\n***Disclaimer: This playbook does not simulate an attack using the specified techniques, but follows the steps to remediation as defined by Palo Alto Networks Unit 42 team’s Actionable Threat Objects and Mitigations (ATOMs).\\n \\nTactic:\\n- TA0003: Persistence\\n\\nMITRE ATT&CK Description: \\nThe adversary is trying to maintain their foothold.\\n\\nPersistence consists of techniques that adversaries use to keep access to systems across restarts, changed credentials, and other interruptions that could cut off their access. Techniques used for persistence include any access, action, or configuration changes that let them maintain their foothold on systems, such as replacing or hijacking legitimate code or adding startup code.\\n\\nPossible playbook triggers:\\n- The playbook can be used as a part of the “Courses of Action - Collection” playbook to remediate techniques based on kill chain phase.\\n- The playbook can be used as a part of the “MITRE ATT&CK - Courses of Action” playbook, that can be triggered by different sources and accepts the technique MITRE ATT&CK ID as an input.\\n\"\ninputs:\n- description: Mitre ATT&CK ID of a technique.\n  key: technique\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory for Panorama instances.\n  key: pre_post\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: The device group for which to return addresses (Panorama instances).\n  key: device-group\n  playbookInputQuery:\n  required: false\n  value: {}\n- description: Tag for which to filter the rules.\n  key: tag\n  playbookInputQuery:\n  required: false\n  value: {}\noutputs:\n- contextPath: Handled.Techniques\n  description: The techniques handled in this playbook\n  type: unknown\n- contextPath: Persistence.ProductList\n  description: Products used for remediation.\n  type: unknown\nstarttaskid: \"0\"\nsystem: true\ntasks:\n  \"0\":\n    id: \"0\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"1\"\n      - \"7\"\n      - \"8\"\n      - \"11\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: cf55be19-99e8-4d66-8af4-e54a522726f8\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: cf55be19-99e8-4d66-8af4-e54a522726f8\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 50\n        }\n      }\n  \"1\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1543.003\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"1\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"9\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 0d9fe73f-f8a9-4418-825e-b8931a92afe5\n      iscommand: false\n      name: Windows Service\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: 0d9fe73f-f8a9-4418-825e-b8931a92afe5\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 690,\n          \"y\": 190\n        }\n      }\n  \"3\":\n    id: \"3\"\n    ignoreworker: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 595f9069-3611-4cdd-8e62-47f3276f95b8\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 595f9069-3611-4cdd-8e62-47f3276f95b8\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 1210\n        }\n      }\n  \"7\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1078\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"7\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"12\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 884ed9ca-648a-4d32-8442-ba183bb37300\n      iscommand: false\n      name: Valid Accounts\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: 884ed9ca-648a-4d32-8442-ba183bb37300\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 190\n        }\n      }\n  \"8\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1547\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"8\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"13\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 19d2afc3-5290-45e8-85bf-211e2fb350cc\n      iscommand: false\n      name: Boot or Logon Autostart Execution\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: 19d2afc3-5290-45e8-85bf-211e2fb350cc\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": -230,\n          \"y\": 190\n        }\n      }\n  \"9\":\n    id: \"9\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"16\"\n    note: false\n    quietmode: 0\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: db5fdae5-c4f1-451f-8f38-20c1e94f3585\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1543.003 - Windows Service\n      playbookId: MITRE ATT&CK CoA - T1543.003 - Windows Service\n      type: playbook\n      version: -1\n      description: ''\n    taskid: db5fdae5-c4f1-451f-8f38-20c1e94f3585\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 690,\n          \"y\": 360\n        }\n      }\n  \"10\":\n    id: \"10\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: c75fe19b-91aa-4352-8d3f-bac99e18cd08\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1547.001 - Registry Run Keys Startup Folder\n      playbookId: MITRE ATT&CK CoA - T1547.001 - Registry Run Keys Startup Folder\n      type: playbook\n      version: -1\n      description: ''\n    taskid: c75fe19b-91aa-4352-8d3f-bac99e18cd08\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1110,\n          \"y\": 360\n        }\n      }\n  \"11\":\n    conditions:\n    - condition:\n      - - left:\n            value:\n              simple: T1547.001\n          operator: inList\n          right:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.technique\n                transformers:\n                - args:\n                    delimiter:\n                      value:\n                        simple: ','\n                  operator: split\n      label: \"yes\"\n    id: \"11\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"10\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 4cb716fb-56a2-4705-8936-0ecbbd0e6cb2\n      iscommand: false\n      name: Registry Run Keys Startup Folder\n      description: \"\"\n      type: condition\n      version: -1\n    taskid: 4cb716fb-56a2-4705-8936-0ecbbd0e6cb2\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1110,\n          \"y\": 190\n        }\n      }\n  \"12\":\n    id: \"12\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 0\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"15\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      ApplyToRule:\n        complex:\n          root: inputs.ApplyToRule\n      device-group:\n        complex:\n          root: inputs.device-group\n      pre_post:\n        complex:\n          root: inputs.pre_post\n      rule_name:\n        complex:\n          root: inputs.rule_name\n      tag:\n        complex:\n          root: inputs.tag\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 1f5acb62-a622-4ed8-8c9b-50dcc00f4e5a\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1078 - Valid Accounts\n      playbookId: MITRE ATT&CK CoA - T1078 - Valid Accounts\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 1f5acb62-a622-4ed8-8c9b-50dcc00f4e5a\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 360\n        }\n      }\n  \"13\":\n    id: \"13\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"17\"\n    note: false\n    quietmode: 0\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 64f09143-c169-455f-8eb3-261b6a138f3f\n      iscommand: false\n      name: MITRE ATT&CK CoA - T1547 - Boot or Logon Autostart Execution\n      playbookId: MITRE ATT&CK CoA - T1547 - Boot or Logon Autostart Execution\n      type: playbook\n      version: -1\n      description: ''\n    taskid: 64f09143-c169-455f-8eb3-261b6a138f3f\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": -230,\n          \"y\": 360\n        }\n      }\n  \"14\":\n    id: \"14\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: Persistence.Products\n      value:\n        simple: Cortex XDR\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: bfca9199-7818-49d4-8e56-1ec121786fc0\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: bfca9199-7818-49d4-8e56-1ec121786fc0\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1110,\n          \"y\": 540\n        }\n      }\n  \"15\":\n    id: \"15\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: Persistence.Products\n      value:\n        simple: '[\"Cortex XSOAR\",\"PAN-OS\"]'\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: 2bc031ef-116d-4674-8bf5-ae3fc03f6849\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: 2bc031ef-116d-4674-8bf5-ae3fc03f6849\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 540\n        }\n      }\n  \"16\":\n    id: \"16\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: Persistence.Products\n      value:\n        simple: Cortex XDR\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: 54c5c6eb-b4ad-4973-8a4d-52a17de8e7db\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: 54c5c6eb-b4ad-4973-8a4d-52a17de8e7db\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 690,\n          \"y\": 540\n        }\n      }\n  \"17\":\n    id: \"17\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: Persistence.Products\n      value:\n        simple: Cortex XDR\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered.\n      id: 9804aac0-f93d-49af-8411-9b942cd07f27\n      iscommand: false\n      name: Set remediation products\n      script: Set\n      type: regular\n      version: -1\n    taskid: 9804aac0-f93d-49af-8411-9b942cd07f27\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": -230,\n          \"y\": 540\n        }\n      }\n  \"18\":\n    id: \"18\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"19\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      persistenceremediationproducts:\n        complex:\n          root: Persistence\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: Builtin\n      description: commands.local.cmd.set.incident\n      id: 66d2e143-13ad-466f-8a46-a29e6e72bf53\n      iscommand: true\n      name: Set Persistence Remediation products to the layout\n      script: Builtin|||setIncident\n      type: regular\n      version: -1\n    taskid: 66d2e143-13ad-466f-8a46-a29e6e72bf53\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 710\n        }\n      }\n  \"19\":\n    id: \"19\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"20\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: a6a3cdee-98c4-4dcf-8daa-e4730d53a370\n      iscommand: false\n      name: Set techniques information to the layout\n      description: \"\"\n      type: title\n      version: -1\n    taskid: a6a3cdee-98c4-4dcf-8daa-e4730d53a370\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 890\n        }\n      }\n  \"20\":\n    fieldMapping:\n    - incidentfield: Remediated Techniques\n      output:\n        complex:\n          root: Handled\n          transformers:\n          - args:\n              title: {}\n            operator: JsonToTable\n    - incidentfield: Techniques to Handle\n      output:\n        complex:\n          root: Unhandled\n          transformers:\n          - args:\n              title: {}\n            operator: JsonToTable\n    id: \"20\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"3\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: Unhandled.Techniques\n      stringify: {}\n      value:\n        complex:\n          filters:\n          - - left:\n                iscontext: true\n                value:\n                  simple: TechniquesList\n              operator: notIn\n              right:\n                iscontext: true\n                value:\n                  simple: Handled.Techniques\n          root: TechniquesList\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      id: 9e20071d-ea6d-48a5-80a0-3effeffbf641\n      iscommand: false\n      name: Set techniques information to the layout\n      script: SetAndHandleEmpty\n      type: regular\n      version: -1\n    taskid: 9e20071d-ea6d-48a5-80a0-3effeffbf641\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 200,\n          \"y\": 1040\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_3_#default#\": 0.29,\n      \"1_3_#default#\": 0.54,\n      \"7_3_#default#\": 0.48,\n      \"8_3_#default#\": 0.28\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1225,\n        \"width\": 1720,\n        \"x\": -230,\n        \"y\": 50\n      }\n    }\n  }\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\n",
  "product": "Cortex XSOAR",
  "pack": "MITRECoA",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "tVu3PApdDz1+fpC95vHBPGGzYT1Qd2Q7wJvIPRQuBTtprNa7+W/NvIngFTspMG0989tYPZh5FD3jHXy8hBgtvToWiz3FBoE9rzluvJd4/7qhKq28WjHBvL2ZjjpT1U29rPawusjqX72bgag9KMQ6vSYMSr2+Iu87MQ+EPAuFxzumn0U7QnrSO8/PBDsEv/Y7md0fvUzsyDzFG0q9z+mhu/1gYb2aZ+G8kvEDvS2OUT3j8OM6LOkPvcfSH71wK5w8GsGEvZnvJjtxQ4E9s002PGo3Mr15hQ48tX71vKgU9byacEm9O0C0vQK+hbxdf3A8z71BvEGoWDvgwz87yWuXO0GcCD3wOZ07+giuvJ8iMTxgtE69szNRPXWrIL0qeog9rSipvNz25Txlme+6joJHPNiLcLtIvYm8paSUPNVciT2G3nC7UB95PfaGXD30uEy8T40kPODgKLwlS+Q8HZBlvXLAD731re68UCT+PV/Twrw6rtI7J4ZnPbv4hz2GrfC8VYyqvb901L1iWxM8c0RrPJ9QEbw+yYO8wakmugATprsGhQI83RQqPcmfS7x0lEC9WsBqvWOiGD0BpaK8YuNWPKs6YzxB0s47Z6rdvCV0Grx8fRE9wRbxPGxlQb3udoK9rmjaus5gmD23s+w8NmLnPGbQhj0uXaU8X0I4vY2+OLze7wY8e7viO1P6qruaVT+9L49MvNUutTsmjky88eCxPAqa3zzsNUy8YsmaO0phILyaSaw82DS1PPN6kL016Sc7Tl5gPV8kqzw5SgE9oeRJPawXPb1bk7O8RHvvvM4PKb2ptcW81/IIvfw5Dj3GHJY70LFOuydugb35Y9M8RxY7vb1oMLx+r6y8jW3ivFVKPzr+K5S9YshzvaRlo7wfbxs7huFgvZwoRDyjdKS81b/KvNAOxbwbWzS9taZoOtxBCzyjsh49gRZCvZufDbpjGsO8+pitPX4+vTxJd8i72bqrvTXDLz2CGb48als9vKicvzzhQl87sHRePcaqqzzPVuC7qcwuPBmquz3Dos28lrDpu36aBT0RtgI9oN8ovJMs3TwveJA9aF/WO36AuTx05pO9wTuUvT/Woju5JNe8Zp5MvU4vhjwV8ji9m7iGvD9ngz1pgFC7cIojvXtNmbp3/K08XQiaPZj+QTxxRwA+LQy3vJHYNrwlbP47NwNmvGUr1TyQNwy7/xfxPF+s6byx/D49hZkdvaXekL1NFiK8YYF4Pf0gkzpYT1C89XdAPF+5PD3DdZQ9aewTu3Nkwrx6TYA8lglRvITgjD29sNw8Lqn4vCAtgT1NSDw7JEmTPBxTWDyMojU9XRFuvbF/Ebwefh+9oV07OqQFdzwRdrK8nnqKvElZ+DxRPBW9jH1sPD0TJ7wyYkQ9hOlNvImHzjsy0yW9LioMvbZkVL3SS+Q8UCIWvai/rrpVDo27YdOovEmALD2kWx69yul9O7WSaL1/YEw7fTz9vKRueT10X8m9kOZTvfgURL0trX28NfpnvJrOKbtWvEA834aZvYYesbwXwL88+BIPvZb/Nb2S7ZI9EsfVO762yTrNbx+9upq7PJ5ZxzwydUI9iAbAPfudTL3FfSy7stiJPQXViTzKQUq77WFKPHCse7xZP5w7YKEOPfGkwLy5yto78FvwvFpgMDwbeiM92r0+PEXYvbvsIN47cYRUvBEwJb4oLYg7brZGvMqC5rtdegK89gdAPRKEFL1inb27xwbjvA8vPDx596U71qgjvT1ijTv1meC8w88pPSAaBj0r0426+dKEvDg98rpaMsQ7OytGvdrwyTvEY0w9CO9ZPAbB+Lu1thU9lJk/PZXTFDyPof68f3hLvZeMpDww7h69DbSsPU77gD3LB+w84VZ6PWr0sbynQg67YoX2O4raO7v2BDw90KCOvbXXQr3fhAq9+07AvBfOxzxFccI8B9psPXLo0Lpf5yG9qVeCPMy8Jz0/BZs9uiwrvdLvhrz6PeG81oWBvGehjbs81go9061LvbEvgrxw7588wgNDvf5CyrytDg28ZbQHvLOazbz9t8G8phx9PMQ7TD0wxeS8aF1wPEKlYzxCt5M8A4yOvCJGkT2+M4g8pwRiPZSbhL0iPgy9NSoLva5hkD1gcBQ9stIQvfJVi7uiq4e8vf+GPctmVb2Ct6e7U8u2O8uGbz0ztbg8KKFEvT6jiTy8UQ29g36au4ycB7waf1w8L4COvA1tATx+qJs8PSoTPYmKADxSfS89WntuPPTX27sZXb67Eb9CPNgP+7xVoEC9MgkBvS/tU7vKSHs7gQXGu8gfc7z5bZQ8DbqGPBNbhTvgniC8tNytPIhuqDycyo69KxKPvFIcEj1VqFA7pvmsPEdhfz1GUug8p5qgPCFDAz3jkCc9PmibPc+OLjubpRu8tu3lvBa7fzvB1aw8CBbrvE3L8r0GWsE8Z2sJPOopzDy2wJy82C0pPSSMSL2oTM+75bT+PAlQWTwKVha9sC/nvNwl1TwQ5Zo9VW8HPZ8Xhz0ylRA80cEiPaj2TT3FN0w9O8IivVtu5zxttVw9/P1wvLm8Qz3mE6w8fOHZugceQLmiA5M7enviu6sDnDzW0BW9atqmvMaaNbsUPLY8R3HpvItm2bteWiy71BJ5vIfGb72aNoU7PfXCvEyhIT0f0gC8kmjWvMRQWD0goIc9ntPCPLRmHL2aXA69SGH0vC/N0TwOQUi9r4H3vFiXqbzrcV49GSA/Pa8kZb0EvXA8Nns6vKU4F712bQG7Vrg3PNLbhzskoZG8gH2EPVonObybk1o83z2ZPCxcwbwbWeu8WedUvYCIdDwJ+2Q8IRj/PG2s1Lzb1p68jPdXPUHY8DkoSdI88t8yu3bhKT0YxT67oUqAPIKJhTwMJpM8crEZPGH5a7xJl9w8lr1UPBZUDj3xsBy8IDWBvOkCAD0B7H08YJ1oPbS8MTsRt0o8GyNyPP879bvWCtY8bdscvTjCBzuL4+K7Ifyxu6w5Lb2qUBM8fALCvI0i3bu6VMm8t/I4vA1ZzzzwGHm8GaM+PRTMrDzE6EA7Gm/zvF+pXzweFEI8Kry3vMr5PDw7ZeS8tAoOvaUNszyubKO8Mis2vWSzNz3CIcG8PfBMPeL5TjsRlIO9QyhFPMGvvDyUVTw94EtavSGga7z9dyq9cxuAvKCsbT0zXJm9PaNwu4rY9DwI/a69Hjl5Oy4DAj1oqQy8sEyDO+FTPLzIup49/8aZPKrtPL3jCM+8Oo+ZPPUAO71Hezo8cVCCO68SA7wkCEU9UwZzvEw2Ir1ku3C99AbePBNxRb3UR6O8cXkRun4TzDx8lzk8mxu7Oy3Idzud9kW8vwmaO1XVpLv8lUu82pNsPNtGzTwGe5w8jjIEvcDyijvs7aQ8BtPDvDrrI706Agu8HSq/PMpyGTwBzbA6oQBNvX/cKz2sVoK8fJKiPYjlvTs26dK944C2PNqCNT1nEIy9RrYQvQrf5bsKq/e73iKQPEEJmL0ahxI9ZaFOvRq4ML3Oaqi80IsNvPtYDzp51aW89fT0OyTHeb29Qc+9Ug8YvGrwh70oLZi8fusduzQV7LzkCEc8AfF6PTSbsjv0Zbs7vrtcPbe5iD1X0Sy9ebjDvDPhCL307kM9amIDvTqmrbwThNk8gZs1vZz9Hz0iBbY7W+BOO+u3cjwcapW7Owh2PHktW7yi5y88dnwPPWfCejwc3KW7YBORu/xdW7sblCs9ihRVvCc1CjxpxJK8WogTOIJLLz1CSpa7Z+cNvEd9CL25G+07uM0Dvc9z97wA4Tc9LtawvYH/gzziOUO9rW8KPW/EzzxgFU485NkQPDn5bzz6FXY8BohePPHnljzNNFu76mYfPV/BVL2bL+c8DV+oPW0zT7yRt807WiqVvHwLLDtR3Gm97yokvN/cFzwPy5Y8MJeeO/RA0buZr+w8mazzuZnsmLwpPYy8/En1vA/ilLySi6082hszvbBbRb2kdNG82BQbPIIWTD0wpXm8BFE2PCqNoDyrc2O9aTlwvSK/GD2uysg82sepPMZtrDurva+8TP1yvMRfIrz4klg8W1knPaIKWL3Byoo95NWQvGn/t7xmi0G9V5CYvacgKj2y5u88"
}
