bundles/spark/kbs/soar-playbooks/entries/pb-proactivethreathunting-proactive-threat-hunting-entity-enrichment.json
{
  "id": "pb-proactivethreathunting-proactive-threat-hunting-entity-enrichment",
  "title": "Proactive Threat Hunting - Entity Enrichment",
  "category": "playbook",
  "content": "This playbook will be executed from the \"Proactive Threat Hunting\" layout button with the objective of enriching information on hosts and users specified by the analyst.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (ProactiveThreatHunting, xsoar-supported).\n\nUse cases: Hunting.\n\nIntegrations/scripts used: JsonToTable, Print, Set, endpoint, xdr-get-alerts.",
  "raw_yaml": "id: Proactive Threat Hunting - Entity Enrichment\nversion: -1\nname: Proactive Threat Hunting - Entity Enrichment\ndescription: This playbook will be executed from the \"Proactive Threat Hunting\" layout button with the objective of enriching information on hosts and users specified by the analyst.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 3c4fd296-88b2-43c2-8498-c6bc05dcbedb\n    type: start\n    task:\n      id: 3c4fd296-88b2-43c2-8498-c6bc05dcbedb\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n      - \"28\"\n      - \"29\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 420,\n          \"y\": -90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 7a4ed82d-bb5e-4701-8bb3-4b8cfd310250\n    type: regular\n    task:\n      id: 7a4ed82d-bb5e-4701-8bb3-4b8cfd310250\n      version: -1\n      name: Print update to notes\n      description: Prints text to the War Room. (Markdown supported).\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      value:\n        simple: Entity enrichment has executed. Follow the work plan and see the the results under \"Investigation and Response\" tab.\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 50\n        }\n      }\n    note: true\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Endpoints Details\n      output:\n        simple: ${shouldbeempty}\n    - incidentfield: Related Alerts\n      output:\n        simple: ${shouldbeempty}\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 1b622dcf-2e0d-4063-8f76-e620a507d40f\n    type: regular\n    task:\n      id: 1b622dcf-2e0d-4063-8f76-e620a507d40f\n      version: -1\n      name: Endpoint enrichment\n      description: Returns information about an endpoint.\n      script: '|||endpoint'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      hostname:\n        complex:\n          root: Choose entities to enrich.Answers\n          accessor: \"0\"\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1180,\n          \"y\": 830\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: ecbda7db-7aaa-4ab6-838d-7821036829d7\n    type: condition\n    task:\n      id: ecbda7db-7aaa-4ab6-838d-7821036829d7\n      version: -1\n      name: Has endpoint enrichment results\n      description: Check if the automation \"endpoint\" outputs results.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"30\"\n      \"yes\":\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Endpoint\n                accessor: Hostname\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1180,\n          \"y\": 990\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 2059eb16-79e8-43f4-86ef-1845e9cab36e\n    type: collection\n    task:\n      id: 2059eb16-79e8-43f4-86ef-1845e9cab36e\n      version: -1\n      name: Choose entities to enrich\n      description: Ask the user to select entities(users/endpoints) to enrich.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"14\"\n      - \"15\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 420,\n          \"y\": 220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Choose endpoint to enrich\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - {}\n        - complex:\n            root: incident\n            accessor: affectedhosts\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Choose user to enrich\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - {}\n        - complex:\n            root: incident\n            accessor: affectedusers\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Choose entities to enrich\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 41f3e374-9a9c-4430-8c04-3112776f3c4c\n    type: regular\n    task:\n      id: 41f3e374-9a9c-4430-8c04-3112776f3c4c\n      version: -1\n      name: Set endpoint enrichment data to layout\n      description: Accepts a JSON object and returns a markdown.\n      scriptName: JsonToTable\n      type: regular\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"24\"\n    scriptarguments:\n      extend-context:\n        simple: endpointsdetailsmarkdown=\n      title:\n        simple: Endpoints Details\n      value:\n        complex:\n          root: Endpoint\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1540,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Hunting Endpoint Enrichment\n      output:\n        simple: \"True\"\n    - incidentfield: Endpoints Details\n      output:\n        simple: ${endpointsdetailsmarkdown}\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 43fc02e8-1308-44fb-855e-978ec775d10f\n    type: title\n    task:\n      id: 43fc02e8-1308-44fb-855e-978ec775d10f\n      version: -1\n      name: Endpoint Details\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"4\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1180,\n          \"y\": 690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: aedf05b6-53ee-4de4-8f4e-c0e830b51ab5\n    type: title\n    task:\n      id: aedf05b6-53ee-4de4-8f4e-c0e830b51ab5\n      version: -1\n      name: Alerts Related To The Endpoint\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"13\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 630,\n          \"y\": 690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 7437209c-2eea-4918-8c1f-fe682758c9b4\n    type: condition\n    task:\n      id: 7437209c-2eea-4918-8c1f-fe682758c9b4\n      version: -1\n      name: Related alerts found?\n      description: Checks if related alerts were found.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"31\"\n      \"yes\":\n      - \"27\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: PaloAltoNetworksXDR.Alert\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 420,\n          \"y\": 990\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: fba78e75-3d40-48b9-82e3-238b7fdcdf54\n    type: regular\n    task:\n      id: fba78e75-3d40-48b9-82e3-238b7fdcdf54\n      version: -1\n      name: Set related alerts to layout\n      description: Accepts a JSON object and returns a markdown.\n      scriptName: JsonToTable\n      type: regular\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"20\"\n    scriptarguments:\n      extend-context:\n        simple: relatedalertsmarkdown=\n      title:\n        simple: Alerts Related To The Entities\n      value:\n        complex:\n          root: relatedalertsnoempty\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 190,\n          \"y\": 1330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Related Alerts\n      output:\n        simple: ${relatedalertsmarkdown}\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: aa91639d-1c03-457c-8003-9b888ee7c4d0\n    type: regular\n    task:\n      id: aa91639d-1c03-457c-8003-9b888ee7c4d0\n      version: -1\n      name: Search alerts related to endpoint\n      description: \"Returns a list of alerts and their metadata, which you can filter by built-in arguments or use the custom_filter to input a JSON filter object. \\nMultiple filter arguments will be concatenated using the AND operator, while arguments that support a comma-separated list of values will use an OR operator between each value.\"\n      script: '|||xdr-get-alerts'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      custom_filter:\n        simple: |-\n          {\n                  \"AND\": [\n                    {\n                      \"SEARCH_FIELD\": \"agent_hostname\",\n                      \"SEARCH_TYPE\": \"CONTAINS\",\n                      \"SEARCH_VALUE\": \"${Choose endpoint to enrich.Answers.0}\"\n                    }\n                  ]\n               }\n      time_frame:\n        simple: 24 hours\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 630,\n          \"y\": 820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 7dc348a7-1bca-4981-814a-c3563a6ec5a4\n    type: title\n    task:\n      id: 7dc348a7-1bca-4981-814a-c3563a6ec5a4\n      version: -1\n      name: Endpoint Enrichment\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"23\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": 390\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: dccc55d2-c585-458a-853a-2ec14191ed29\n    type: title\n    task:\n      id: dccc55d2-c585-458a-853a-2ec14191ed29\n      version: -1\n      name: User Enrichments\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"21\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -110,\n          \"y\": 390\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: 52caf803-4131-40da-8460-77e6ebba29dd\n    type: title\n    task:\n      id: 52caf803-4131-40da-8460-77e6ebba29dd\n      version: -1\n      name: User Details\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"17\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -470,\n          \"y\": 690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 88ed19f4-decc-4e7c-8b51-f2e056f75d8f\n    type: playbook\n    task:\n      id: 88ed19f4-decc-4e7c-8b51-f2e056f75d8f\n      version: -1\n      name: Account Enrichment - Generic v2.1\n      description: |-\n        Enrich accounts using one or more integrations.\n        Supported integrations:\n        - Active Directory\n        - SailPoint IdentityNow\n        - SailPoint IdentityIQ\n        - PingOne\n        - Okta\n        - AWS IAM\n\n        Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations). For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.\n      playbookName: Account Enrichment - Generic v2.1\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"25\"\n    scriptarguments:\n      Username:\n        complex:\n          root: Choose entities to enrich.Answers\n          accessor: \"1\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -470,\n          \"y\": 820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: 540ea721-6a4e-423a-8b5c-594dc4964014\n    type: title\n    task:\n      id: 540ea721-6a4e-423a-8b5c-594dc4964014\n      version: -1\n      name: Alerts Related To The User\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"19\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 118f5ba3-e522-4999-8258-b4fc1717bd26\n    type: regular\n    task:\n      id: 118f5ba3-e522-4999-8258-b4fc1717bd26\n      version: -1\n      name: Search alerts related to endpoint\n      description: \"Returns a list of alerts and their metadata, which you can filter by built-in arguments or use the custom_filter to input a JSON filter object. \\nMultiple filter arguments will be concatenated using the AND operator, while arguments that support a comma-separated list of values will use an OR operator between each value.\"\n      script: '|||xdr-get-alerts'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      custom_filter:\n        simple: |-\n          {\n                  \"AND\": [\n                    {\n                      \"SEARCH_FIELD\": \"hostname\",\n                      \"SEARCH_TYPE\": \"CONTAINS\",\n                      \"SEARCH_VALUE\": \"${Choose endpoint to enrich.Answers.1}\"\n                    }\n                  ]\n               }\n      time_frame:\n        simple: 24 hours\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 820\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: acdce72f-e021-4d93-8153-625552bc9c63\n    type: title\n    task:\n      id: acdce72f-e021-4d93-8153-625552bc9c63\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 420,\n          \"y\": 1600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: 5ac27be5-c75e-4a7d-8f8c-4310738fe853\n    type: condition\n    task:\n      id: 5ac27be5-c75e-4a7d-8f8c-4310738fe853\n      version: -1\n      name: Has user to enrich?\n      description: Checks if the analyst selected accounts to enrich.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"18\"\n      - \"16\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Choose entities to enrich.Answers\n                accessor: \"1\"\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -110,\n          \"y\": 520\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: 7e3c1314-4843-41ae-8d3a-957520b7375f\n    type: title\n    task:\n      id: 7e3c1314-4843-41ae-8d3a-957520b7375f\n      version: -1\n      name: User Enrichment Completed\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"20\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -230,\n          \"y\": 1460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: ad98b94b-9bd8-46d2-8999-1f1becbd19d8\n    type: condition\n    task:\n      id: ad98b94b-9bd8-46d2-8999-1f1becbd19d8\n      version: -1\n      name: Has endpoint to enrich?\n      description: Checks if the analyst selected endpoints to enrich.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"24\"\n      \"yes\":\n      - \"9\"\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Choose entities to enrich.Answers\n                accessor: \"0\"\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": 520\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: b69a7ae8-5ce8-4421-853a-e5ddcec0d60b\n    type: title\n    task:\n      id: b69a7ae8-5ce8-4421-853a-e5ddcec0d60b\n      version: -1\n      name: Endpoint Enrichment Completed\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"20\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": 1460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: 0b8d6f3b-ed1c-4da5-802c-6ab7579d6d19\n    type: condition\n    task:\n      id: 0b8d6f3b-ed1c-4da5-802c-6ab7579d6d19\n      version: -1\n      name: Has user enrichment results?\n      description: Checks if the playbook \"Acoount Enrichment - Generic v2.1\" outputs results.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"32\"\n      \"yes\":\n      - \"26\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Account\n                accessor: Username\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -470,\n          \"y\": 990\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: c7ff90ca-7678-41bf-86a9-e69595144ae2\n    type: regular\n    task:\n      id: c7ff90ca-7678-41bf-86a9-e69595144ae2\n      version: -1\n      name: Set user enrichment data to layout\n      description: Accepts a JSON object and returns a markdown.\n      scriptName: JsonToTable\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      extend-context:\n        simple: usersdetailsmarkdown=\n      title:\n        simple: Users Details\n      value:\n        complex:\n          root: Account\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -880,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Users Details\n      output:\n        simple: ${usersdetailsmarkdown}\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 7cc54632-316e-422e-88cb-583e745788a4\n    type: regular\n    task:\n      id: 7cc54632-316e-422e-88cb-583e745788a4\n      version: -1\n      name: Set results without empty fields\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: relatedalertsnoempty\n      value:\n        complex:\n          root: PaloAltoNetworksXDR\n          accessor: Alert\n          transformers:\n          - operator: RemoveEmpty\n            args:\n              empty_values:\n                value:\n                  simple: FALSE,null,UNKNOWN,NO\n              remove_keys:\n                value:\n                  simple: \"true\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 190,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: 7d183c61-0d6f-430c-8ee2-15258b8f1e0e\n    type: regular\n    task:\n      id: 7d183c61-0d6f-430c-8ee2-15258b8f1e0e\n      version: -1\n      name: Delete context to avoid duplications - endpointsdetailsmarkdown\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      key:\n        simple: endpointsdetailsmarkdown\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 10,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: 305bae10-f1bd-4682-881c-83a19c3bf490\n    type: regular\n    task:\n      id: 305bae10-f1bd-4682-881c-83a19c3bf490\n      version: -1\n      name: Delete context to avoid duplications - relatedalertsmarkdown\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      key:\n        simple: relatedalertsmarkdown\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 420,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: 4797f0a2-af07-4efb-8dda-169504366c08\n    type: regular\n    task:\n      id: 4797f0a2-af07-4efb-8dda-169504366c08\n      version: -1\n      name: Set no results found\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"24\"\n    scriptarguments:\n      endpointsdetails:\n        simple: '#### No endpoint results found'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1110,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: a1fcaadc-7e2c-408d-8169-bb6a65a3bdd6\n    type: regular\n    task:\n      id: a1fcaadc-7e2c-408d-8169-bb6a65a3bdd6\n      version: -1\n      name: Set no results found\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"20\"\n    scriptarguments:\n      relatedalerts:\n        simple: '#### No related alerts found'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 640,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: 7ff4506d-2921-4315-85f8-1ccc8477d033\n    type: regular\n    task:\n      id: 7ff4506d-2921-4315-85f8-1ccc8477d033\n      version: -1\n      name: Set no results found\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      usersdetails:\n        simple: '#### No user details found'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -470,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"23_24_#default#\": 0.16\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1755,\n        \"width\": 2800,\n        \"x\": -880,\n        \"y\": -90\n      }\n    }\n  }\ninputs: []\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.9.0\n",
  "product": "Cortex XSOAR",
  "pack": "ProactiveThreatHunting",
  "support_tier": "xsoar",
  "use_cases": [
    "Hunting"
  ],
  "fromversion": "6.9.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-hunting",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "UbnUPDZugbw/6ry9FsErPFmWgz1KkJ87G4RAPei9lTwdigm9fq2OutOgMjz/VAw9KPtRPWOlnjrv5zI827xEvafHTD12/J08+TFnO8rbkrzKFle9PM6BvXHxYDqJK1M96I2iO52Dgr3kIsG8x6WtvJJ35LwHxDo9h9PWvMbLOzzd1mY8HHO4PCwzT72StDW8CKApvfnkx7vjBWC8VtDzPC3DYb2BVTa9OBn+vCtMPT3CA1k87c/1vJo7EL2V1JI8ks82vcTLHjvLz4I9D5wWOgzra73uyRo9Cf8Avdh9LbxmPdY87KPGvaZywrwAwK+5c7pIu0t/Qr3R0pw8SGFmvPpKmD3s3ig8RyNGO7cjRbwOEyC9FkqaPX/xB72dizk9cZBku43IaTyIcg+9Zu+4PHW9YLz4SP08zLwgPMc3pTyMDni8a8m6O/xTKj0ek8q7hjfsvMvwd7xWnsK7Stylvatm2zuqmRE8iE3GPcDC+rsb7UK7/Q6FPbdLjz3reHW7ZyuNvQgR5r2JRoG8wtdbPTov7rzhqAm92mIOPGH50rxeA8o8z/y+PA30DDy02gS9iUk5vQSJ2rwv7Qw8qI3GPOnlpruG0fg8tv39vOM4MT2cnkS85FBHPNf0Br1jw269Xr+3vLM11Txj+eO7uVYNPS0eYD1lT6k9qreaO0Ht8LrsuRi8Zzr8u0C/g7yL84S7ZLy6PPo/9rwGgMc7w3AavfEcBT2Lgn29OTC0PGXpDDzKfjS8rPXJPF88u72P8GY7G4QOPX21izxrETY9UPLCPUaRlLwiCUa9rRLJu18+3Tr28Dm9DD6QvCtqHL33Tdc7Mec3PEkFSL0KRz096E5Bved7Or1aHKK89/C5vLycHD29ymC97AuHveGpZ7x1PgA9CdcAvbrccDtjT9C8ssIQPa4dvL2HbDq9B5+XPJxalTzBWq28OerSvOmg1rzO70y7y8OUPXW8JjwOB1o8ovIFvpPfiT3I/Xs8gKM/vcCnqjzA5J+8O1OkPBAn6LtXxEO8XyMovL1rOT3GUE29WQQKvYo8bz0/b4U8WLbovKAoizyZYKU93Lv6OgPFijsVIMy93fiLvSx/u7q/QGq9/CtDvb88G70x7sa8R2kePfEHuDyuAH48/+6UvIGSwbw2cHK83YyzO7olFT0piwg+7TE4PNEMFj35njG8eHpRva9JZjvMAZu89EUoPeiMcL00mFs9bGc/vOsLIL05zGk8ZcJKPPnN1zuNxSM6jfzaPMa0rTwA+6M9QJZ8vNk78rwt9HQ8FCoYvfP5yzs4Ix88zxiNOybygz1Z4/y8SftDPOnkNb09TOG78V50vSmWqLyBB/e8eu1KPOQQtjy3g4A7B4GHOfeuTbvLnHq9N0osPCoPlDoRwk8928chvfGGgDwZ01a9TWU9vDb35LwVcwe9wMLKvGyV97sRI7g8/5ryPCZefDwn2bu8R+XdOwrXqL1nBYO7bkcmvd6hWz3Ukp29ttqMvXQCmrtOTy29t+hcvKbGS7wAxFy8zn6YvNJDTLxdJs48O94AvRTAgLxMa9g8RnH+PGh+1bzDfcK9EoURPTzEJj2iiT894DrTPRETHb3kBGo8hpKUO3gERz3UmkU8tt6/PMw5Dr1TPsG7hW+4PPvM7jx0R3Q78xcavLYqgDslyfu8yw6ivJRnS7zgdqA5N7uDO35xwr25F9+8APtavFG9qrpvohQ8NJqaPDYqirxqPOk85BtbPLoLjbspY6k8qNTMvPrGf7xM3Qq914LVPHupQD1d2dM8//Utux1kILwDsDQ9ftJjvSveDz0ugJQ9fPoGvGDCNjxIaZu868UfPVBAdDwlT4y8niXTvCrhujsJvIy8NH41PeFluj3r2yq7wMM0PVFugLzVNQ483PV4u5SEuTsp7j67of5IvZffebxdzOK8aXmju/ozpjybPNU7Z6p6PQdPeLyDZSW90mVfPUXiHj2YKhY8X3pCvRAGvTqSKYW8RZD4PA7Ilb0h3ts8JhedvbewKbtSyw88NpkfPevjXr2DpEa9S4LQOi2U/LwmXt26LUGlO7xLuT3w1wK9jpq5Ozd5iLwP+Bw898AJvRETiT08lsk8mr94PSoMC71Bd5e8Ydqcuni8Qz0ka1c9jdBNvXY6UzxWm8q8dpDOPGdldL3L4IY8Kdg0PFEzNT2kHlo8sksGvTVmkTtFXJ082dQnPCGvvLxRAVQ8HaOnPOMMMjy2tno9rqO1vEQKGLvCrlg9SPe0vHEOU7vV7La7FAW+O9alELyiGL+9N8D5vHduxzzGYYK6ji1/OfGsJzthNUk94OcHvK8Ytjy3P/+8MUiBvMNxwzwxlxC9mj//OzWrTz1ceLg86dQFPKE/hD0H3tU86jZbvLzP8zuwk7a8BZWjO8sSvTz0sde84p25vGoaNb2l07W85x84vcWhDb4jE/Q7Ctvxu0siGTyysby7l5V+vAMg17zy9/g8vcE4PZjpuDxb2mQ6SoyfvHl3crvjH4w9lqaZu11VJD2zzeY8K0EQPefsAD3xjzg9YDuWvXl9uju1npw8ZSItu/FtBrvYmFK9mk1AvcC33rzySIU8Sn+yPNjurTuEJQS8BhLjvEXBgrwG9ao8TC51vELNB72Dy1O9pmIsvfKMeTtmTjC9Fc28vagN5TzongS8SMf3vNImYT1udDk9JcqvPEmfJbw0Uja9gOXfOjRl0jxg09a8xCePPLdfubuGl1M93xUVPbPjAr2TDiM9M9chvaePvr2f/s67QwqsvIGfmLzAum07HWvFPKARqbxyvcM7yHjVOqNQq7vqqWe8HqleuwgPLL1E8ho9CKAYvfwVnrxMRTy83g+KPfVJPDx2ZRU73Rw1vCCpLzxgNaM8kfkLPEEBXj0LvIs8MzEtvOOlIj1fH4E9YiedPAGD4DmudAI91neMOylNKD1JjXu7zzA8PdkYLb0Ibt28rBOaPOKncjxosZi8DucbvV5J9bsi6Te8F4lhvNpu57vwLl48Mj/qvDMD4bsGWDC8C6Y/vbYKDTsdAwa92LINPcPIHTzXsWI48tuUO/a4t7xx1u07rebIvH3ePb05eAK9nFEdvYogvDuF7T68qjrVOr5rHLoKphy9eFyePF9j/rsCKai9oW+MPL72sbz8aYK68rysvW6YsbshJkS9KEzsvHsoubv2+le7sq1VPJMclLw8ZIi9pg8APcwoKLsxd928eYuzvNDL1byx5pI9auSwPOz2eL3KWya9fteOvDQnm73tbnk8lzShPK6+3Ls0dkA9SyKavLdkUL3VZiO966qNO7De6LyNXZm86whcOjVQWTic1Vo9XqEmPIqIhjunds68lys/PWmZFr0bbQW9yPm/vNPLdj33i7s8TXnbOXoZMLwYObI8eZXhvPDAdb0fxwO9up2YOyz/5jycy/o7tigFO0T1Ej2H2DK8JkkOPQKa3zt4IwO+qtP/uiROejxkQqq9QOXxO8WiGjwjYDI9yp+fPXxPfb1DC3g9OFOCvZ2gAb2i7cW8QZYrvUy3mLwR8Ci98aYmPehBBL3mSL2994qGu4P5Sr21xw48Kk7zvMzmS7p1dqc8vD7gPMbyATsOxgc9ywoYPN56xTwCHZQ8KzlrOb61+TzyXak9tRQwPKW6Iby9Ypi8Vvj0vI33ZTwdG9a8SLp2O6uRsrtDE9A8PRXSvIYsKLwnnxS9yXbePFpV1DxztEa8SlpuvMiFvrolzv48Z57pvO8lCzsVmT678hx4vIskiDwR+ly7y2JKvRjbLbxn8b084Oq4vDty6LvRP0E902PvvdHRMzwO+HO9/i+lPFq1crzWWgO8/hYJPZm8CDyW1Yc72TtgPZe2nzs4mwK9ZFD+PISFVL0BYpU90PaKPYCIBr3uONk77rVOuywiVry5CNe8jFPLvEkfOj0wgWw9EKnxu2ccwzygMak8lfOAOyP+n7z9o3e8+oq8vMqMD72ziJ276Pe8vL/nO733M8S7MKyVu44wRD3j9Go88tqMOSnVIDwUqum77xR6vaZooLwScVM8IjedPII3O7zu5WW8D/UnvSnlJ7x55Pk8gM3APLc+Pb29DWo9ndJrvJguVLsFNwi9Mie9vNFjzzwST4w8"
}
