bundles/spark/kbs/soar-playbooks/entries/pb-proactivethreathunting-proactive-threat-hunting-block-indicators.json
{
  "id": "pb-proactivethreathunting-proactive-threat-hunting-block-indicators",
  "title": "Proactive Threat Hunting - Block Indicators",
  "category": "playbook",
  "content": "This playbook will be executed from the \"Proactive Threat Hunting\" layout button with the objective of blocking indicators specified by the analyst.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (ProactiveThreatHunting, xsoar-supported).\n\nUse cases: Hunting.\n\nIntegrations/scripts used: Print, SearchIndicator.",
  "raw_yaml": "id: Proactive Threat Hunting - Block Indicators\nversion: -1\nname: Proactive Threat Hunting - Block Indicators\ndescription: This playbook will be executed from the \"Proactive Threat Hunting\" layout button with the objective of blocking indicators specified by the analyst.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 373d00c0-6e3b-4a0d-8fdb-fd7e4ff82acf\n    type: start\n    task:\n      id: 373d00c0-6e3b-4a0d-8fdb-fd7e4ff82acf\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"15\"\n      - \"8\"\n      - \"9\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -940\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 13569f3d-eefd-4c99-8d9d-a169f732f1c7\n    type: regular\n    task:\n      id: 13569f3d-eefd-4c99-8d9d-a169f732f1c7\n      version: -1\n      name: Get indicators\n      description: |-\n        Searches Cortex XSOAR Indicators.\n\n        Searches for Cortex XSOAR indicators and returns the id, indicator_type, value, and score/verdict.\n\n        You can add additional fields from the indicators using the add_field_to_context argument.\n      scriptName: SearchIndicator\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      query:\n        simple: incident.id:${incident.id} tags:\"Hunting Session - Exist In Environment\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Block Indicators Status\n      output:\n        simple: Executed\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 2c28f1e1-dbbd-41ed-8bcf-94075968d126\n    type: playbook\n    task:\n      id: 2c28f1e1-dbbd-41ed-8bcf-94075968d126\n      version: -1\n      name: Block Indicators - Generic v3\n      playbookName: Block Indicators - Generic v3\n      type: playbook\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      AutoBlockIndicators:\n        simple: \"False\"\n      AutoCommit:\n        simple: \"No\"\n      CustomBlockRule:\n        simple: \"True\"\n      CustomURLCategory:\n        simple: XSOAR Remediation - Malicious URLs\n      DomainToBlock:\n        complex:\n          root: foundIndicators\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: foundIndicators.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: domain\n              ignorecase: true\n          accessor: value\n      EmailToBlock:\n        complex:\n          root: None\n          transformers:\n          - operator: uniq\n      FilesToBlock:\n        complex:\n          root: foundIndicators\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: foundIndicators.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: file\n              ignorecase: true\n          accessor: value\n      IP:\n        complex:\n          root: foundIndicators\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: foundIndicators.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: IP\n              ignorecase: true\n          accessor: value\n      InputEnrichment:\n        simple: \"False\"\n      MD5:\n        complex:\n          root: None\n          transformers:\n          - operator: uniq\n      RuleDirection:\n        simple: outbound\n      RuleName:\n        simple: XSOAR - Block Indicators playbook - ${incident.id}\n      SHA256:\n        complex:\n          root: None\n          transformers:\n          - operator: uniq\n      URL:\n        complex:\n          root: foundIndicators\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: foundIndicators.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: url\n              ignorecase: true\n          accessor: value\n      UserVerification:\n        simple: \"True\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 08b09081-0f1c-42a0-8d02-9a58ac4088ca\n    type: title\n    task:\n      id: 08b09081-0f1c-42a0-8d02-9a58ac4088ca\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 9038c930-e180-482e-8b0f-583892205ba6\n    type: regular\n    task:\n      id: 9038c930-e180-482e-8b0f-583892205ba6\n      version: -1\n      name: Print update to notes\n      description: Prints text to the War Room. (Markdown supported).\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      value:\n        simple: Block indicators procedure has executed. Follow the work plan to continue.\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -620\n        }\n      }\n    note: true\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 1e8e2819-875f-4dff-838f-e2be4f776c73\n    type: collection\n    task:\n      id: 1e8e2819-875f-4dff-838f-e2be4f776c73\n      version: -1\n      name: Which IOCs To Block?\n      description: Asking the user to select IOCs to block.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -260\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Which IOCs To Block?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - simple: All IOCs that are related to the SDO\n        - simple: IOCs detected in my environment\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Which IOCs To Block?\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 1c5125f8-0ee3-4eba-82f4-cce0659f3e34\n    type: condition\n    task:\n      id: 1c5125f8-0ee3-4eba-82f4-cce0659f3e34\n      version: -1\n      name: Block only detected IOCs?\n      description: Checks the user response in the collection task \"Which IOCs to block?\".\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"7\"\n      \"yes\":\n      - \"1\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: Which IOCs To Block?.Answers\n                accessor: \"0\"\n            iscontext: true\n          right:\n            value:\n              simple: IOCs detected in my environment\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: c3cce0f0-efa5-451e-805f-61c1aad85074\n    type: regular\n    task:\n      id: c3cce0f0-efa5-451e-805f-61c1aad85074\n      version: -1\n      name: Get indicators\n      description: |-\n        Searches Cortex XSOAR indicators.\n\n        Searches for Cortex XSOAR indicators and returns the id, indicator_type, value, and score/verdict.\n\n        You can add additional fields from the indicators using the add_field_to_context argument.\n      scriptName: SearchIndicator\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      query:\n        simple: incident.id:${incident.id} tags:\"Hunting Session\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Block Indicators Status\n      output:\n        simple: Executed\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 5f157551-88c5-4df4-8754-672b18b2a6fd\n    type: regular\n    task:\n      id: 5f157551-88c5-4df4-8754-672b18b2a6fd\n      version: -1\n      name: Delete context to avoid duplications - foundIndicators\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      key:\n        simple: foundIndicators\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 880,\n          \"y\": -800\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: fa3ec0b7-9d40-4f43-8855-64cd8bf4500c\n    type: regular\n    task:\n      id: fa3ec0b7-9d40-4f43-8855-64cd8bf4500c\n      version: -1\n      name: Delete context to avoid duplications - IOCs to block\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      key:\n        simple: Which IOCs To Block?\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": -800\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 01e94d39-b13c-40db-8732-af1a36b3a8eb\n    type: condition\n    task:\n      id: 01e94d39-b13c-40db-8732-af1a36b3a8eb\n      version: -1\n      name: Executed from freestyle hunt?\n      description: Checks if the playbook was executed from the Freestyle Hunt tab.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"11\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: incident\n                accessor: freestylehunt\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: fa0df08a-f415-4fc3-8e99-ef242f8e05ee\n    type: collection\n    task:\n      id: fa0df08a-f415-4fc3-8e99-ef242f8e05ee\n      version: -1\n      name: 'Upload a CSV file '\n      description: |\n        Creates a file (using the given data input or entry ID) and uploads it to the current investigation War Room.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"13\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": -260\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Please Upload a CSV file\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: attachments\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Please Upload a CSV file\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 5e2137da-2a58-4950-8e7f-7759b14ba83d\n    type: regular\n    task:\n      id: 5e2137da-2a58-4950-8e7f-7759b14ba83d\n      version: -1\n      name: Extract Indicators From CSV\n      description: commands.local.cmd.extract.indicators\n      script: Builtin|||extractIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"14\"\n    scriptarguments:\n      entryID:\n        complex:\n          root: Please Upload a CSV file.Answers.0.[0]\n          accessor: EntryID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": -100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: bc1e2558-c767-4191-8951-e3ea835a86fa\n    type: playbook\n    task:\n      id: bc1e2558-c767-4191-8951-e3ea835a86fa\n      version: -1\n      name: Block Indicators - Generic v3\n      description: |+\n        This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:\n\n        - Block URL - Generic v2\n        - Block Account - Generic v2\n        - Block IP - Generic v3\n        - Block File - Generic v2\n        - Block Email - Generic v2\n        - Block Domain - Generic v2\n\n      playbookName: Block Indicators - Generic v3\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      AutoBlockIndicators:\n        simple: \"True\"\n      AutoCommit:\n        simple: \"No\"\n      CustomBlockRule:\n        simple: \"True\"\n      CustomURLCategory:\n        simple: XSOAR Remediation - Malicious URLs\n      DomainToBlock:\n        complex:\n          root: ExtractedIndicators\n          accessor: Domain\n          transformers:\n          - operator: uniq\n      EmailToBlock:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Type\n                iscontext: true\n              right:\n                value:\n                  simple: email\n          - - operator: greaterThanOrEqual\n              left:\n                value:\n                  simple: DBotScore.Score\n                iscontext: true\n              right:\n                value:\n                  simple: \"3\"\n          accessor: Indicator\n          transformers:\n          - operator: uniq\n      FilesToBlock:\n        complex:\n          root: ExtractedIndicators\n          accessor: File\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: ExtractedIndicators\n          accessor: IP\n          transformers:\n          - operator: uniq\n      InputEnrichment:\n        simple: \"False\"\n      RuleDirection:\n        simple: outbound\n      RuleName:\n        simple: XSOAR - Block Indicators playbook - ${incident.id}\n      URL:\n        complex:\n          root: DBotScore\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: DBotScore.Type\n                iscontext: true\n              right:\n                value:\n                  simple: url\n              ignorecase: true\n          - - operator: greaterThanOrEqual\n              left:\n                value:\n                  simple: DBotScore.Score\n                iscontext: true\n              right:\n                value:\n                  simple: \"3\"\n          accessor: Indicator\n          transformers:\n          - operator: uniq\n      UserVerification:\n        simple: \"False\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": 270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: 2dabf83a-5538-4a01-8c1c-f7565198bb1a\n    type: regular\n    task:\n      id: 2dabf83a-5538-4a01-8c1c-f7565198bb1a\n      version: -1\n      name: Delete context to avoid duplications - ExtractedIndicators\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      key:\n        simple: ExtractedIndicators\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": -800\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"6_1_yes\": 0.46,\n      \"6_7_#default#\": 0.59\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1445,\n        \"width\": 1250,\n        \"x\": 30,\n        \"y\": -940\n      }\n    }\n  }\ninputs: []\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.9.0\n",
  "product": "Cortex XSOAR",
  "pack": "ProactiveThreatHunting",
  "support_tier": "xsoar",
  "use_cases": [
    "Hunting"
  ],
  "fromversion": "6.9.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-hunting",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "+oo0PTci27wFJbi9Q0QgvfgRmD0auW078mZ0PZyy2Dx975W6pAocvJ/mhbxV7YY9WIg1Pai6dLsa+Zc8IbR7vTgBCD3k1g49HXL9PBM7rbwnrGi9WZonvUSz8DsmIGo8tKNxuyt/l70Gehw8PS2wvJfjG72qcWo94oPKuwWx7Tyu8jW8I05JPOG8Xb37soy8QS4qvdNV87wubbq8oYtfPLscLL3qnfi8VgmfvNNNZT1cwD08jnwGveeS6rzJYNg8aTUnvQq6Kzwum2A9dSI2O7CHJ72mu/Y8lMasvPE/BL10bQE99OVSvbbRnDsiINs7j81AuzsXar3rKqa8RdUPPRNenD3/XJW8IU3/u4pxBzxqCBO9es9uPYr3ZL0rj4Q9zsBWO8XwHTqN+PK8kCeevBBHI7qvdsA8sUzjPC6M/zyxutC8+nGyPK2/ez2FSUU8fM+lvGBIZLu312E7zEy4vSY0djzVYKg8/hOzPYfgV7xjyqY6h56lPUDL1T1jh2Y7LvNqvbsQxb3EQrw83htwPYF9A70v+oa88sd5O3KpdrxJ+aQ8TbCGPfpM9btuel+9/XADvdLp5LuMkgk7EUEDvJVtaTud1Ms8sbD1vI10ET20LTq8NAWnPFE4+bwJKIK9BjTWu+g01jwvWxo8LioRPYLRuTySjZM9MNCqO/Uftjwoei28zywBvH6zMb3I6lC7E666O8zqqbwEX0o8n2WCvN+YhTvkt0q9L5iHPH1xLz3Zclu8jzX5PI8Fsr3N+V48CsaEPdfvzDuDXJg9KZ6fPXe4mbzGaQi9awfHu68QmbxfiSC9AlKLvEYHGr0oZqA6uceDPKCwhL1XQWE9CeVgvXOYnLq9AZ28Bfi2vH/Avjwq9iy9LXYSvQCmrbwc96c5c5dzvVyiE7wV6qK8TR0cPKdHUb1zK8C8tUKKuq2okjwNY3c7cA/fO2vV17wN5Dc8oU6IPf6cED0hDM08nAYDvqc9PD2rROg8b4fgvDWOsjqaYFe87BNdPKBn7zt2Ki48GzgVPFjNVT2CZlK9CZe3vLNTIz1ZKpA81yNFvXz6dLvxDKs92GUzvK9BLTw1w6i9r0O5vXq/KLw7fJC94BWYvYwCy7yuL8a8/LAPPevcGj3O+5e7hr9xO3NFlby1nJa8rZR9POXSPD1oh9k9JeE4vMRIZjxzchO8KF0bvOPCiTyRIZu7ekwqPaFb0LwZeIE9JwULvUWFO71hM468l5gTPbWjCbsLqxS7KiwxPKk+PjwMmrM9/Ua6vOEiXbxorBU9rRDVvHKS1TzipZk81whiug9dlj2XW369+GggPAtHGr0MH4Q8yNlZveg4GTpgGTe9/q7XPAx6irzWtyy8bRMruz12hTyLYXa9IS6VPNg9HL3TbzI9CsYbvcM60Tygea+8dqU/vM82bb2EWdO8szOpvOSo2TvKviU9k6ecPFVppbud19i88W41vM+khb3/9qK8hLRtvR9Xbj0PzoK96x2ZvWuJmLxUS+K76+Cyu4r7x7xYBFm89WKGvencbLzI/9G82DKVvD4xWrs7YEg9jhoSPd+MhbzhCc69Su4DPEWBNjzy7Eg9s/rJPXF4Kb0BvZK7RM8ZPPEgez0jLoK5TUemPMYH0rwjEXw800UQPe0XoTv8ll28C4ZxuwPlYzywza68ADj4OoSvwjsTqYE8cFVLPIX0uL2p7Ju80F40PLS3crvp2MK7U60yPNpo1bz1hQw9FafdvJ4OpjxWiXQ8LpbuvL/n/rtvvjO9SDWCPGT9zzxhO7Y70Yr4vOfqe7widmU952EuvVeoAj1pKVE9sss5POHOJjyIGou8zok9PBLhdrp4mUq9SBEivRLtZTxqLfG8qRW6PfWlMj2pVjQ9pJZDPeoNu7uwVR89rmOUunDedrzuOjU8L3ghvf0kK7xBB/W745aHO5Zk2Twec5G7aWM+PadSRrsMmSG9mNmZPVi4Mj1XBRk97xYNvSKuy7v2A0m8nTqdO5mVCL1HgkU9CeqXvVcI+Lx/CIm7ubQ1PPWgIb3UjjG9alZIOyVt8bsMW+u7/jG1PNK0ij0/2Qi9bUQPvJpDlbx225Q8uEdkvWLeqD1Ok7k8mrZwPYKADL2ns8e8jgoCvX5Fkj3Q5S49X2tzvREsPTyozGU7/nWIPZBoPr0FsN87RYzCPJuX2Dypq8w8SZFdvZiIxjwBVJQ8NArLO6OghbzaicA8GgDMvN558jxvA4o9iuogOyuN4Ls7+ZE8kCHyvKgWy7wfBxy9x56dPG7oa73rpL29YxRHvYeSgDsY/gU91mNrvFHqa7zfDAA94L4XvM0LLD1Ttxo89e7Ku5PbID20Dqe8Fu6OPF5gTz09OX88aWCLPMzZXT1GUMo8pkzEvFRKqbtbU/i8Q/vJurHpJD138GS8OzEtvfLbXbwaPg69j3e4vEZpBL4dje48JkSVOmMYEjwuHKO8TO3uvB51OL0W85k8edsQPVg7bzxi9ws8tsLAvIgiujyFroU9VTAsvOneGT2uvAE9kIsePT0wDT2gAjE9+alPvXWA0jynFs86z3szPGJHtTxlGiC7KcEyvak2mLxImvY8HifQuto4ETyyd0S94NNjvVhFZbyGeVi77PaOvB7Vdb16aEq9PW7KvJoZrLxhsyC9eJudvemj3TwgqOu8pcCQvFnUfj3obWc9dJ9DPU9xtbzf6+K88gkPvIa4tLwoehy9N5TKu+sxszyfjYk9q/DSPCRvCrsD1/c8UvBmvPkUwb03xVm8/BMxvfPAG7ziN8M8P5MpPV1PCL1wDUy8o0aHOn8o9bwY106932KguwOEs7w/FrC8A7zavC7er7uebQK9+clEPWfE1rzeSHU84ifRO+q/UrxdlwM9M2qhO/gJmj1tMwI71ebOu3YU5DxdrZI90iKau2bBAD0sKTo9Ege5O9Vsaj38ZYa8O1kxPVd3Yb0XAeu8jicYPRYkDLw2wbm8AqdFvewBOjy00CO9feeNuyO3E70gR588MmAzvapowrrGZEo7iqA8vQ8y1TuIiKS78t+pPPp4h7xglvo7RJlSvPMAkDxWbv27CKwIvem/xrwTQa05V3LyvOP6jLymcwi936ZJu04KVLzWMUq7yw2NPZ730zvaB4K9uKvdPBtN7bwFsSs72YmPvRJWRjzNhxW9Orsiu2ahajzcYKy8DjKyPCfAmTwnK5G97Gl2PVWpMTvR/KC8d1Tmu8EserxuGSc9I7VhPNIDUb3Cp0i9uYUCvCgwnr3Wgow8GK39O1T0M7wesko9w2wcvTBnhr22h1q9pJvOPKh/eLxN1ie9wHEnvD7KmTzJcMs8jG+HvGh7azzRXQ+9O7wcPQsjoLy2+4m8qa6evLShBT2WVL88EjP+up5wAzzCNy89PMtLvCD3er3bOBs5dgYdPf9v+Tytgcq7jbHUuxh0Ez2zd468xWKoPeEkxDx28we+mLXRvGM7zDw+84G97gwrvZzIMT3ASho9MGw3PYl2Rb1Jrfw86N54vaGF0LzH8SG8UIGSvE1McbujXDC9yutYPWQxLb19D429Suimuy/oIb2Dqp48UwiJvJcxOzxrfQU9VwGxPFAWTTspCws9TpHIPK8uAT0VhC88TcHOu6LLNDwt0J897GaJPDLok7v/Yx87VsB8vJF/iTyHcRK9pzxCPCEMhjzUD5K7PYPhu+Obh7y6YJm8FfWpPPM1OD21fDG7gMqhvLf6lDxrflG8gUH6vEt3r7yKEiQ6KLKHvMA45DwLRMU8JYCrvKhAjDxsMgw9WdD+vJQVPjttB1o94wsAvm1JbTi264K8K4ABPQWpFDxw4Di8ETMbOAntnztTgC08+zD2PJGqlDyzzs68zxo8PQRMJb0TJjY9M2VNPXZltbz4oj088N5qvK/C8bu9U0e9RxupvHtD3DxOrVc9K6cNvDJfITy/NFs8ysGzvKFjiDtcQaS8luPevJupmTpbolu8yinYvF/XSL0P2c88newovHJlPT2kNpk89hZ2OsCO1zw5cwK9OSQfvSVNDr1Ykdk7YB0YPZdIa7zUELC82n0avaMzUzy+hac8BKwJPQ9QT72rHhU9A/SPvMX71DxsLk68J9hSvVKv1TyMql48"
}
