bundles/spark/kbs/soar-playbooks/entries/pb-palo-alto-networks-enterpris-dlp-user-message-app-check.json
{
  "id": "pb-palo-alto-networks-enterpris-dlp-user-message-app-check",
  "title": "DLP - User Message App Check",
  "category": "playbook",
  "content": "Check if the given message app exists and is configured and retrieve the user details from it.\n\nCortex XSOAR/XSIAM SOAR playbook from the Palo Alto Networks Enterprise DLP pack (Palo_Alto_Networks_Enterprise_DLP, xsoar-supported).\n\nInputs — UserEmail: The user email address that will be used through email communication in case both Slack and MS Teams are not enabled.; UserDisplayName: The display name of the user. Will be used in case MS Teams or Email are the message app.; UserMessageApp: The communication method with the user.\nCan be one of the following:\n\n- Slack\n- Microsoft Teams\n- Email\n\nIf you choose to set \"Email\", it's also possible to set the relevant email integration instance with the \"SendEmailInstance\" input..\n\nOutputs — user_display_name: The user display name.; Slack.User: The user name returned from Slack..\n\nIntegrations/scripts used: IsIntegrationAvailable, Set, SlackV3, pan-dlp-update-incident.",
  "raw_yaml": "id: DLP - User Message App Check\nversion: -1\nname: DLP - User Message App Check\ndescription: Check if the given message app exists and is configured and retrieve the user details from it.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 19727acc-e5df-4907-8890-aaadd67a4e95\n    type: start\n    task:\n      id: 19727acc-e5df-4907-8890-aaadd67a4e95\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"16\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1200,\n          \"y\": -120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 7d96386d-2657-44ae-819a-7346c6124fe7\n    type: condition\n    task:\n      id: 7d96386d-2657-44ae-819a-7346c6124fe7\n      version: -1\n      name: Is Slack v3 enabled?\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'.\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"no\":\n      - \"3\"\n      \"yes\":\n      - \"2\"\n    scriptarguments:\n      brandname:\n        simple: SlackV3\n    results:\n    - brandInstances\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1740,\n          \"y\": 310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 6e29fdb0-1cb4-4c33-89fb-b89d0c882334\n    type: regular\n    task:\n      id: 6e29fdb0-1cb4-4c33-89fb-b89d0c882334\n      version: -1\n      name: Find user on slack\n      description: Gets details about a specified user.\n      script: SlackV3|||slack-get-user-details\n      type: regular\n      iscommand: true\n      brand: SlackV3\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      user:\n        simple: ${incident.sourceusername}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1740,\n          \"y\": 550\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 08f87b86-f565-41be-8e72-f32d56778f24\n    type: regular\n    task:\n      id: 08f87b86-f565-41be-8e72-f32d56778f24\n      version: -1\n      name: Update feedback status via API to \"SEND_NOTIFICATION_FAILURE\"\n      description: Set feedback status to \"SEND_NOTIFICATION_FAILURE\".\n      script: '|||pan-dlp-update-incident'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"15\"\n    scriptarguments:\n      error_details:\n        simple: User ${incident.sourceusername} not found on Slack\n      feedback:\n        simple: SEND_NOTIFICATION_FAILURE\n      incident_id:\n        simple: ${incident.pandlpincidentid}\n      region:\n        simple: ${incident.pandlpincidentregion}\n      user_id:\n        simple: ${incident.sourceusername}\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 710,\n          \"y\": 1000\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 984daff2-f3cf-4fbc-8438-005a57b0c84f\n    type: condition\n    task:\n      id: 984daff2-f3cf-4fbc-8438-005a57b0c84f\n      version: -1\n      name: Is Microsoft Teams enabled?\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'.\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"no\":\n      - \"3\"\n      \"yes\":\n      - \"6\"\n    scriptarguments:\n      brandname:\n        simple: Microsoft Teams\n    results:\n    - brandInstances\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1200,\n          \"y\": 310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: c6296856-7a2a-4ec1-8a58-c0eb56fbc689\n    type: regular\n    task:\n      id: c6296856-7a2a-4ec1-8a58-c0eb56fbc689\n      version: -1\n      name: Set user display name (Slack)\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: user_display_name\n      value:\n        complex:\n          root: Slack.User\n          accessor: Name\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1740,\n          \"y\": 1075\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: bb2f3f8f-d83b-4180-820c-14083cc3fbc0\n    type: regular\n    task:\n      id: bb2f3f8f-d83b-4180-820c-14083cc3fbc0\n      version: -1\n      name: Set user display name (Email/MSTeams)\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: user_display_name\n      value:\n        complex:\n          root: inputs.UserDisplayName\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: incident.sourceusername\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1200,\n          \"y\": 690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 8cce0aab-62c9-483e-8793-4c868f041c1e\n    type: condition\n    task:\n      id: 8cce0aab-62c9-483e-8793-4c868f041c1e\n      description: \"\"\n      version: -1\n      name: User exists on Slack?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: Slack.User.ID\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1740,\n          \"y\": 740\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 59226be6-39e5-4361-87c5-fa1fa030361d\n    type: title\n    task:\n      id: 59226be6-39e5-4361-87c5-fa1fa030361d\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1200,\n          \"y\": 1410\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: cad55a70-43ec-4948-8c4b-201495141c5b\n    type: condition\n    task:\n      id: cad55a70-43ec-4948-8c4b-201495141c5b\n      description: \"\"\n      version: -1\n      name: User email exist?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"6\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.UserEmail\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 710,\n          \"y\": 310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: 4e4989f1-ac4b-4289-8901-c23526126cec\n    type: regular\n    task:\n      id: 4e4989f1-ac4b-4289-8901-c23526126cec\n      version: -1\n      name: Set incident feedback status to \"Send notification failure\"\n      description: Set feedback to \"Exception not requested\".\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      pandlpincidentfeedback:\n        simple: Send notification failure\n    separatecontext: false\n    continueonerror: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 710,\n          \"y\": 1185\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: 34d95494-4d6b-4af9-8ed2-620a2e651b3a\n    type: condition\n    task:\n      id: 34d95494-4d6b-4af9-8ed2-620a2e651b3a\n      description: \"\"\n      version: -1\n      name: What is the selected message app?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"17\"\n      Email:\n      - \"13\"\n      MSTeams:\n      - \"4\"\n      Slack:\n      - \"1\"\n    separatecontext: false\n    conditions:\n    - label: Slack\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.UserMessageApp\n            iscontext: true\n          right:\n            value:\n              simple: Slack\n          ignorecase: true\n    - label: MSTeams\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.UserMessageApp\n            iscontext: true\n          right:\n            value:\n              simple: Microsoft Teams\n          ignorecase: true\n    - label: Email\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.UserMessageApp\n            iscontext: true\n          right:\n            value:\n              simple: Email\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1200,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 1858ad0a-6ded-4067-8823-c76754b263dc\n    type: title\n    task:\n      id: 1858ad0a-6ded-4067-8823-c76754b263dc\n      version: -1\n      name: No message app - failure\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 260,\n          \"y\": 310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"13_3_#default#\": 0.17,\n      \"13_6_yes\": 0.17,\n      \"16_4_MSTeams\": 0.53,\n      \"1_2_yes\": 0.43,\n      \"1_3_no\": 0.1,\n      \"4_3_no\": 0.11,\n      \"4_6_yes\": 0.15,\n      \"8_3_#default#\": 0.12,\n      \"8_5_yes\": 0.51\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1595,\n        \"width\": 1860,\n        \"x\": 260,\n        \"y\": -120\n      }\n    }\n  }\ninputs:\n- key: UserEmail\n  value: {}\n  required: false\n  description: The user email address that will be used through email communication in case both Slack and MS Teams are not enabled.\n  playbookInputQuery:\n- key: UserDisplayName\n  value: {}\n  required: false\n  description: The display name of the user. Will be used in case MS Teams or Email are the message app.\n  playbookInputQuery:\n- key: UserMessageApp\n  value: {}\n  required: false\n  description: |-\n    The communication method with the user.\n    Can be one of the following:\n\n    - Slack\n    - Microsoft Teams\n    - Email\n\n    If you choose to set \"Email\", it's also possible to set the relevant email integration instance with the \"SendEmailInstance\" input.\n  playbookInputQuery:\noutputs:\n- contextPath: user_display_name\n  description: The user display name.\n  type: unknown\n- contextPath: Slack.User\n  type: unknown\n  description: The user name returned from Slack.\ntests:\n- No tests (auto formatted)\nfromversion: 6.8.0\n",
  "product": "Palo Alto Networks Enterprise DLP",
  "pack": "Palo_Alto_Networks_Enterprise_DLP",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "network-security",
    "playbook",
    "product:palo-alto-networks-enterprise-dlp",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "8m2EPW3G8LoEqr29W9hMPOTSuD13tBK846CHPbBPTbzRNya7MWocPDQCyro6+gg9vtYePYXtPbzTfxG9K6WXvezRo7zC3wc9Ap7ivIBSpL0Hn/i83njuvBkGHb1W3528i1xGPGG3Jb3dk5g8A24HvV8bE71KKAw7bSAAPTr8dT3ktu+7UYaovCWxHL3qxJs6TpCzu6mitbwQUAS9ZLUQvfRCvbybM/u8dKaQu2h5ED1pBSa9wDsAPYsGOb0KVtM8useCvd1IAT1ApuQ94rpjvJxuVL3sNES882YEvPvL6LxzgCG7hf8bvRfbHL0ohqu8JgPbvMErszoy5Z48xeMRvRyakz2AK708DKwAPc/uIzyBxxa9Zf6aPY+QOr2nBrM8LM4YvVqCv7z3TqS8HnWfvEFPoTtPmq08qExzPdz4FD3fJLm8ThqNPL3LHT0RJ6w6qkfyvNmhSjwlZtg8zdiwvRQQFL3yezE8qtKoPecEyLuR4AC8M2cSPWqIJz0RXui7tmWyvapZGb0R1i897P9evE9qbroejgu91DOgPEEJDz2rhOm6d0+jPDvAKr2PAJq9vl9evTg+cLxEaUM9SAMHu9g5Oj3HinC6qAr+u8ZllzylONQ6dSLIPOLx77uS4fK8hgbSvLNsXj2l2Oc8te8pPcmdnjwd3HU9YBoVPawkl719wJM8mGBBO7DVSD3+Mvc8yJr1vCF1KLyVhB+9cVUtvLluiD30JUm9et1MPE1Lx7xQnIW8K7tavNpwDL5NyKE8FdY4PPEL/LyRLfc81wKiPXk10zyR+Om8YTMZvXjfHzx145S8L8xzO8XYLrw98gy8GbSKPKOZnr2zu/U8NmVVvSWUjL2b2r69ZPJCvQbbkzxqlhO9UCIGPXUvML25SAE8DbdDvdivMT0Idfu61XsWPVtrqbwWFDw8yQ5UvZWU0jsAs5m8AVzdvFV3Abt7zCW9hOuSPQFrEj23ocA6JQKqvXkxKj3ETLy7D+GAOcIyTT0V6m48PILRPJBdozx5zbw89GKXPXrsXD2xmKu9m3yjvOZT9jx7FZY8r0+xvFG5LT0krIw9zuH7PAZ/0Lsk0G+9YscSvfMgzbqtSRy9QZsmvb6Wmbz4RL65JyfuvGSnYzspCm48CTIqvWSDTTxW/gY9HMjwPIxv2Dw3Hm09jaCrvKm4pzy0L0A9MDzXu5icN7v3wUq85G+JPRyVnr2gl/I8nxcRvcrISL2XXuE7Qeo9PKwqqTvmFb275r4juULI1zmAJqg8H1zGvD8qCb3UFsa8mRM6vSV/ET0cj448ub8qPFQZxz1jovC8oZW/PIaPFD0t26k8oTwCvUaKmbxna/y7i62dvGuvhTxaxda8OST+Onrv5Dzri6q8gJd3PP+iEr2m4KW7H8i6vITr47y+7lu97zRTPfhyh70AIoS7npqXvLxaxDzWCXg60DpiPZTAJT3Cxf281LwdvHki+bzUFSe97Y+svMIckDz9PMG9vEmyvYMMJrsw1o29d4bYPFviqbzWte27pGU0vUeURbwdIpC8KymPvHISDb3MP5o9sSIVPdJfoL3W1ku92NxrPKibhz0P+dM8Zb29PXLkzLwENao7KRGKPbYuRzw05qK8oN6+PGw2Db00ueY8le3BPLDDIj3eiMc5rYTHvNmKWbxz9og7peuOvIkbxjsfgRi84xy3u+mR7729c0m8eg+XvIiCjLxhDUU80dpiPCEWy7wa8ek8cHQYvZ6n07y0wEq7laxavUGuAb194hA9XxZGPMC/MzmUY8c8jS6ivHgYGT3kPX08osMqvSzq1LoyQ6g9CjYhvJEQPz25TIc8MzC5O6Y+Ujsr3oC8rU1yvAPb1jvmPCQ70O9aPRPP3zyt/Q886znNPBOXiLzpBqu8YkpbvIhuJTq2JXU8tSAQvZXRULw8eQU9V31rvOW94Dv05A89CyUePTTmfDxadLA8blV0PQZ3DT3BdO48uejtvAx44bzRUaS8z0lePKmfqTsNH1k8lhogvbR3Gb0SH866nmMmPAAfL71cfh86cKw0vJaJer2CdX88vpgsPXxwpj0t1Qq9bYwrPGrz6rthke68kA80veFprz2syn49ynIePQPzG72fb7q8c+zivEL0hj37hTE9+hQavWzBcjy/D+O8de1zPZGRN71dqAU7wee6vEinZj2k/4o8od/4vNwNrjxNIAK8i/LpvBbNZDxClS68uOk1u4s/ebw1tGA9gJsDvJaPoTsCPEc92KhMvRYFvDxr2JS8EO3avEPjyDxqFrW9nHZ0vYGYgTxfabc8SozGvJ1PzTvq2yE9Yu+EPAvG47sqOqa8Lj5MPQvWFj0dpiC8p8qyPPzZgTyfd2k89yIDu7OihT38e/88z+qEvftpnTxTpjq5YtkVPZsnRDzZ/Y08uKN5OyKIHb3IWyW8ChoOvWCXrb19eAc9A0mBPD4pRz14Vyg7PZsFvdB2jr2e70a6jqioPeRH7TrjniA88v0VvTnxAb0o6d88G8PgPCjgTj1zNNI8Ie49Pf6C/TxCNnQ9Dc0OvZsAIjwmMwo9W6rXPCZCG70Exz29B1pyvSbbbLs/7GS8hxlZPSIE9TyI0GW7tD09vRV9pDsoxYS87mhsvAcYHr3WWZ+7X989vS9M6Lz7nWa9HpOevWKDKD1COjC9rN+/O1Aaojz6O0g9XKLQPDye8rtYhhA8MEolvZu4/Dys9Y28PLmIu8umtjyRwUM9SvOkOMqJj722zDQ9pzINvaoqd72rjaW88j/vu0pLxzvIng492U6dPB6hzLyzTR67WIcwvFlH7rx/W5I8Vvw/vIpMrrzRLZi8Yl1pvJfKWrxJ9fm7/D/tPZIiaLu4f/s8k0y6OxfqIT2+XCY92PT9PMf2ZD0oGhQ99qiBPIqLkjzsSVQ9TwGKu9TnJD0ThRE8y1Lyu+zAcD1ZHd282a9WPe0jer049ty87pgmvVgEh7zWC5I8X7evvEyvpzxct+u8XOy3PKaWQrzaM8U73GBdvPoBib3ptnI96RKAvbMa8jy4+3S9K+smPY24tzvQHxQ9k9poOw5eJr3h4S48+NKVPFoapbxSZbq8anUjvFVslrzKf787D0ipPDJJ7zwCV/g86AaBPBGMsjtlLoO9JhBSvf+jwruKqoa8joBAveoC+jprNsy72m1tvSHSyTxkEJw8rEPEPFbztjzYFhS9omFyPAQyDDyt6vw86ie0OWcbpLv6HIA9YiKXvFprRr0F7SS9FcuQu1jxBLyEWdI7Od9vPCWgOr39HJM9Kn2XvNcC97ze2i69EQOsO+Rx47zstvO8WZWJPLiLhjzb/oU9t17XOyU2Qjwuyq28R+BePWKnQ7x8w5W9Kkk+PKjaQj2f3Kc6eCmnvMcZkzwOyIU9LzGwvHnKi7vBrRu9X058u83xAT0dX128RlP9vPOHSzwxJDe7Xc5GPV8ZkzyMXYK9ES5iPflfJj3HDEy9zheQPHl5AD2fTCk730UBPeBTqzrtWT88fW1rvf0CcLzTkVq9Nm/juk4SMbwHyzq96YmwutSIrbxHcYu9RTEXPT4Wib2iSJ06Me9ovCLBt7vAnEw8e66cPN/SMLreIPA7q9+BPf0DPD16R5C8sFR4vBfhQz0IwoA9z9XtvGs+Vb09rmW8OmSeu/MRXz3ncw69w5MDvGeWSzqHbkM8jif2vJXF6rxxlZq7hBBEPThDmz15OB28VYHyPE4yMjt+LZ48ozd8vNKAIj0PY9w6h1quvNFVKzz5AgO9ipCdvD+O/bwqLgC6CFilPE9gDjwc2dE8bwDSvcJjDz11tL88f/IKPUYqZjw42ri86h97PJmDgzopjZk8pr8fPdpmxzw+ZCu9XuhtPJdmgrxTmTY9n2RuPBMMc7sCXwQ8T58NPLfmWzvQVU+9upnfvBeEuTxk6o08LfAVPI7Yj7wPOc48+eCjvCtsMTwWKNS8NisovR6F3bp0rJI8k5afveyZc72zgQy8qxkYvRHE9zyoxbW8j97tPKi1F7sYYHC943JpvQYQabwuoqE8q4KSvH50mrz1xhK9liNBvfPeC72BDoQ8IEW8vERFNb0rWLM8hoXcvM16vLx7aK68uEEqvcgNpDx7mgY8"
}
