bundles/spark/kbs/soar-playbooks/entries/pb-prismacloud-prisma-cloud-find-public-cloud-resource-by-fqdn.json
{
  "id": "pb-prismacloud-prisma-cloud-find-public-cloud-resource-by-fqdn",
  "title": "Prisma Cloud - Find Public Cloud Resource by FQDN",
  "category": "playbook",
  "content": "Find Public Cloud resources by FQDN using Prisma Cloud inventory\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (PrismaCloud, xsoar-supported).\n\nInputs — FQDN: FQDN to look up; CloudProvider: Public Cloud Provider (AWS, Azure, GCP).\n\nOutputs — PrismaCloud.Attribution: Prisma Cloud attributed asset information..\n\nIntegrations/scripts used: GetDomainDNSDetails, SetAndHandleEmpty.",
  "raw_yaml": "description: Find Public Cloud resources by FQDN using Prisma Cloud inventory\nid: Prisma Cloud - Find Public Cloud Resource by FQDN\ninputs:\n- description: FQDN to look up\n  key: FQDN\n  playbookInputQuery:\n  required: true\n  value: {}\n- description: Public Cloud Provider (AWS, Azure, GCP)\n  key: CloudProvider\n  playbookInputQuery:\n  required: false\n  value: {}\nname: Prisma Cloud - Find Public Cloud Resource by FQDN\noutputs:\n- contextPath: PrismaCloud.Attribution\n  description: Prisma Cloud attributed asset information.\n  type: unknown\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"20\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 233469d4-00ac-4da3-89bc-bc6fbb5000c0\n      iscommand: false\n      name: \"\"\n      version: -1\n      description: ''\n    taskid: 233469d4-00ac-4da3-89bc-bc6fbb5000c0\n    timertriggers: []\n    type: start\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1830,\n          \"y\": -1210\n        }\n      }\n  \"2\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.CloudProvider\n          operator: inList\n          right:\n            value:\n              simple: AWS,Amazon Web Services,Amazon\n      label: AWS\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.CloudProvider\n          operator: inList\n          right:\n            value:\n              simple: Azure,Microsoft Azure\n      label: Azure\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.CloudProvider\n          operator: inList\n          right:\n            value:\n              simple: GCP,Google Cloud Platform,Google\n      label: GCP\n    id: \"2\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"6\"\n      AWS:\n      - \"3\"\n      Azure:\n      - \"4\"\n      GCP:\n      - \"5\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Branch based on Cloud Provider\n      id: cf810e4e-3be0-49df-81f2-2c2555b5f06b\n      iscommand: false\n      name: What Cloud Provider?\n      type: condition\n      version: -1\n    taskid: cf810e4e-3be0-49df-81f2-2c2555b5f06b\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 195\n        }\n      }\n  \"3\":\n    id: \"3\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"22\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 98184b95-282e-419f-8eb6-6525125140e8\n      iscommand: false\n      name: Search in AWS\n      type: title\n      version: -1\n      description: ''\n    taskid: 98184b95-282e-419f-8eb6-6525125140e8\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 630\n        }\n      }\n  \"4\":\n    id: \"4\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"23\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: bf4933c9-f314-48f7-8e75-1b163e55ce3b\n      iscommand: false\n      name: Search in Azure\n      type: title\n      version: -1\n      description: ''\n    taskid: bf4933c9-f314-48f7-8e75-1b163e55ce3b\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 630\n        }\n      }\n  \"5\":\n    id: \"5\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"24\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: e61bb662-18e6-42d8-86a3-4b24573f0df2\n      iscommand: false\n      name: Search in GCP\n      type: title\n      version: -1\n      description: ''\n    taskid: e61bb662-18e6-42d8-86a3-4b24573f0df2\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 950,\n          \"y\": 630\n        }\n      }\n  \"6\":\n    id: \"6\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"5\"\n      - \"4\"\n      - \"3\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 52ba0293-1d05-48a0-8b47-859e96eb5298\n      iscommand: false\n      name: Search All Cloud Providers\n      type: title\n      version: -1\n      description: ''\n    taskid: 52ba0293-1d05-48a0-8b47-859e96eb5298\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 800,\n          \"y\": 380\n        }\n      }\n  \"14\":\n    id: \"14\"\n    ignoreworker: false\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 764cacac-5fd0-4b0f-8d3c-d325ff6bc323\n      iscommand: false\n      name: Done\n      type: title\n      version: -1\n      description: ''\n    taskid: 764cacac-5fd0-4b0f-8d3c-d325ff6bc323\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 490,\n          \"y\": 1610\n        }\n      }\n  \"15\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                filters:\n                - - left:\n                      iscontext: true\n                      value:\n                        simple: modules.brand\n                    operator: isEqualString\n                    right:\n                      value:\n                        simple: PrismaCloud v2\n                - - left:\n                      iscontext: true\n                      value:\n                        simple: modules.state\n                    operator: isEqualString\n                    right:\n                      value:\n                        simple: active\n                root: modules\n          operator: isExists\n      label: \"yes\"\n    id: \"15\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"14\"\n      \"yes\":\n      - \"17\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Check whether Prisma Cloud integration is enabled.\n      id: 5037e75b-1b6d-464a-8c17-9faafac909aa\n      iscommand: false\n      name: Is Prisma Cloud enabled?\n      type: condition\n      version: -1\n    taskid: 5037e75b-1b6d-464a-8c17-9faafac909aa\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1410,\n          \"y\": -865\n        }\n      }\n  \"16\":\n    id: \"16\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"2\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 061c6be4-68dd-40dd-8628-5e193ccd92d7\n      iscommand: false\n      name: Search Prisma Cloud Inventory\n      type: title\n      version: -1\n      description: ''\n    taskid: 061c6be4-68dd-40dd-8628-5e193ccd92d7\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": -80\n        }\n      }\n  \"17\":\n    id: \"17\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"18\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      id: 06e89eb9-f232-40cf-8d18-02a639b8d7ed\n      iscommand: false\n      name: Extract CNAMEs for domain(s)\n      type: title\n      version: -1\n      description: ''\n    taskid: 06e89eb9-f232-40cf-8d18-02a639b8d7ed\n    timertriggers: []\n    type: title\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1020,\n          \"y\": -650\n        }\n      }\n  \"18\":\n    id: \"18\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"19\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      domain:\n        complex:\n          root: inputs.FQDN\n      qtype:\n        simple: CNAME\n      server: {}\n      use_tcp: {}\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Returns DNS details for a domain\n      id: c8698828-22df-4ea8-8b77-f00c9c488511\n      iscommand: false\n      name: Get Domain DNS Details\n      script: GetDomainDNSDetails\n      type: regular\n      version: -1\n    taskid: c8698828-22df-4ea8-8b77-f00c9c488511\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1020,\n          \"y\": -510\n        }\n      }\n  \"19\":\n    id: \"19\"\n    ignoreworker: false\n    nexttasks:\n      '#none#':\n      - \"16\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: FQDN\n      stringify: {}\n      value:\n        complex:\n          root: inputs.FQDN\n          transformers:\n          - args:\n              item:\n                iscontext: true\n                value:\n                  simple: DomainDNSDetails.CNAME\n            operator: append\n          - args:\n              regex:\n                value:\n                  simple: \\.$\n              replaceWith: {}\n            operator: replaceMatch\n          - operator: uniq\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      id: a3ad6ced-1383-405b-83d6-650df4aeff52\n      iscommand: false\n      name: Join list of inputs with CNAMEs\n      script: SetAndHandleEmpty\n      type: regular\n      version: -1\n    taskid: a3ad6ced-1383-405b-83d6-650df4aeff52\n    timertriggers: []\n    type: regular\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1020,\n          \"y\": -350\n        }\n      }\n  \"20\":\n    conditions:\n    - condition:\n      - - left:\n            iscontext: true\n            value:\n              complex:\n                root: inputs.FQDN\n          operator: isNotEmpty\n      label: \"yes\"\n    id: \"20\"\n    ignoreworker: false\n    nexttasks:\n      '#default#':\n      - \"14\"\n      \"yes\":\n      - \"15\"\n    note: false\n    quietmode: 0\n    separatecontext: false\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Check if there are any FQDNs in the input.\n      id: 4e7f38c1-dada-4da6-8155-94ccc8c44249\n      iscommand: false\n      name: Are there FQDNs in input?\n      type: condition\n      version: -1\n    taskid: 4e7f38c1-dada-4da6-8155-94ccc8c44249\n    timertriggers: []\n    type: condition\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1830,\n          \"y\": -1080\n        }\n      }\n  \"22\":\n    id: \"22\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      AWSDomains:\n        simple: .amazonaws.com,.cloudfront.net\n      FQDN:\n        complex:\n          root: FQDN\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Find an AWS resource using Prisma Cloud inventory\n      id: 838decb7-a3bd-4af5-83dd-3250df3938f8\n      iscommand: false\n      name: Prisma Cloud - Find AWS Resource by FQDN\n      playbookId: Prisma Cloud - Find AWS Resource by FQDN v2\n      type: playbook\n      version: -1\n    taskid: 838decb7-a3bd-4af5-83dd-3250df3938f8\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 30,\n          \"y\": 790\n        }\n      }\n  \"23\":\n    id: \"23\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      AzureDomains:\n        simple: .azure.com,.azurewebsites.net,.windows.net,.azmk8s.io\n      FQDN:\n        complex:\n          root: FQDN\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Find Azure resources using Prisma Cloud inventory\n      id: 91f7be39-0c10-4605-8f67-8028cdf526fe\n      iscommand: false\n      name: Prisma Cloud - Find Azure Resource by FQDN\n      playbookId: Prisma Cloud - Find Azure Resource by FQDN v2\n      type: playbook\n      version: -1\n    taskid: 91f7be39-0c10-4605-8f67-8028cdf526fe\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 790\n        }\n      }\n  \"24\":\n    id: \"24\"\n    ignoreworker: false\n    loop:\n      exitCondition: \"\"\n      iscommand: false\n      max: 100\n      wait: 1\n    nexttasks:\n      '#none#':\n      - \"14\"\n    note: false\n    quietmode: 0\n    scriptarguments:\n      FQDN:\n        complex:\n          root: FQDN\n      GCPDomains:\n        simple: .google.com\n    separatecontext: true\n    skipunavailable: false\n    task:\n      brand: \"\"\n      description: Find GCP resources using Prisma Cloud inventory\n      id: 403e6f56-f3b0-4430-8d30-6a242557971e\n      iscommand: false\n      name: Prisma Cloud - Find GCP Resource by FQDN\n      playbookId: Prisma Cloud - Find GCP Resource by FQDN v2\n      type: playbook\n      version: -1\n    taskid: 403e6f56-f3b0-4430-8d30-6a242557971e\n    timertriggers: []\n    type: playbook\n    view: |-\n      {\n        \"position\": {\n          \"x\": 950,\n          \"y\": 790\n        }\n      }\nversion: -1\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"2_3_AWS\": 0.26,\n      \"2_4_Azure\": 0.29,\n      \"2_5_GCP\": 0.82\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2885,\n        \"width\": 2180,\n        \"x\": 30,\n        \"y\": -1210\n      }\n    }\n  }\nfromversion: 6.0.0\ntests:\n- No tests\n",
  "product": "Cortex XSOAR",
  "pack": "PrismaCloud",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "cloud-security",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "QSRCPfFdID2p/JK9MTWvO26kDj1q5Qs9EfYJPBhzM707gOs7YSOru029s7yLy8o87bPIPFetFbzFFao8pmlavSjxmj3Hk6I87lQ2vB48QTzkfBO8VioUPJwAILyBUKA8R97yurgmbr0qHWA8kocBPQ+yWL0H4xY9G5t4PEGTJj3MTs68N6ZJPJxgeb1/GfG8VCSvvKgxsbsT4CA8TyKiOyMrUb2BVSy8dqh0vIXzyjzaXPI7jkpMvVuCmbzyBDg9G+mmvcETubr21ss87NlkvCXQj70Dcv48pF61PFZ7r7xkemQ7TdisvEUrCL1Isq48XgUjuvEzsLx8LA088W3tvLjvdD2213S8lnCqOguG1ryWY5C9033APUXAwbxDzIA9+T5EvKf32juyTrg8MTOMuss2AT3ouA49QkSiPB3VYrvbhu6652ARPes3OD1Wbpa8h+xOvZ4GvTwvDD08K9KRvbgh/bzz1608OibMPWgtibwfWbw6L/x7PfxXvT2F6PQ84h97vbIF2b1QW04828QxPFytKrvh/Ry8QnkKPY5+O71rHZ88igEcvKZlKb1nYoy9tABRvfxsFr2vrGa8njaxPFoZgj3WLqI8vXGAvU1O3rx7iT+87PEMPdormjxDeaM7pij0PCzwKj17Jx89q4+JPcvbrT2MEZo9aGjFPN6Hw7zyTxs8VJYcPLORAD1r0YU8OjhrPLEKyrxtdzq95GDHPBk0Bj0szYK9cdVHu5pxSL3NjwC9LzmfvNWNgr14nv+8Xm1MPXS2IbxWnCC6c2iUPQHpVz0wsBK9pYEru51iWjw8wjq8Fg6vOq/xJb22p/67Xm2AvJJ+r71Q3gy9760AvTYSoTxwgF69VhzhuwDZKry5MoW8ppgTvXZ++7wCxVC85/abvFWe9DzUvB48lU51vOV/Lb23xpm8h39jPCpbgD0+Ag49edsqvSOS+7vNKAC9MSyEPVWFezvvRdY8VrnQvdF8dz2j55A9ZUCjvG0wYT3yKTm8UzcSPD33AD1BFLC7rdDGu0uBZzs9Bly85140vf/g/TzWL0294HYpO3Wyc7vBDp494IaOuwKZiDohQKm9ttJ/vV82q7xdReq8oXU4vJnQsbpUUiK8qFepPPFXpDyCpd48EPmmvIomzzwWuqQ67z/7PB8KvzxTr6c9qaOKOXGuSDxtz2w8gD45vB5ZHDxS2SS9mchqOz2b87yV+Xs9m1C7vE/LiL2OiAY9yAR7PXQvcrp4x8o7FjpavFydi7sdYok9Jpn5u0WSerw2uRs98AtrvECIKT3EPS492sAUvWtBZz2nOlg8RrBKPddP1Lyf1T08H8dWvX4jOr24sdu8SoPFOi45IrxeGsq88DNBPLwdWLynpT69UoNRvP1cKr2DM9s8l8kJvXYDqLyfkhG96O0svfBszLxM3Ry9WU0cvavQPzysPNs7hglaPWXlczwxH5u9P/GbvOwptrtSZ++8qmJKvUsDQz38DGW9jBoMvYYuAT0yEZi7W40GPRzYB730QhU9HPCcva0HL71uE4q8FBUwvLiS57w7DF09i0UOO+4kBb2XfHa9/hpLPbSJj7xjzUQ8hJAlPaOvOr2wgIg8lg8xPWAmpDzIEb68pvamPalPBL2q9K28ntnBPCXbojwSCwa9EUt9O3xjHj1ni2A5KnSJu3LBKLu+FQ48tDAVvJSXnL0+tGq9N9RKvJ3VXjyldNG8ItAqvLmyE7zYdEU9bT44vckYe7wJ6SM9uyWcvbMw6rzxqhU9L3rqPHzzVzxzqq89jTVWvZsBIjxXZ6I8KZc8vetNizwWRJ095un6OtG8qjw5/QY9xjhgPA3ZKb0Zfvm8fy1bPIkAGD0KB4c7ukiTPTojEj3vQvw8jKItPcsSmbsUHBC80OMQvDLIrrwcgjy8g5O2vQMJE7yp+vu7QlfsvN0M8zzbNWU8b58TPTKmMb0oTBO9q0RHPXzQpzzaav07LitBvSde37pqAoa8zrZCvHDqADxtuCc9jbA8vBcdzLxRsqW8ZHZnPOppF72gz0y89QuLvDcPNLyrAJM8VaHivKcspTwWK4+7EQ/7PN18Lb1SBb+8y4JEvRF8sT2EiYY8tARWPUhrbb3LTJS8usT5vPGtmD39kSs959BJvQU4Dj2FWyy9LdodvXuBCL1DXtU8iwxJvbv2CD0ihzc87wt9vF7ltLyIkIA8LZGZPC5SOLztMJE8ERTqvDVwCDzmxh49ozvoPGuS3DtELp48/UAwvSgCnDqKK8k8kmYEvPcdGTzZdZ29NpEQveOngLxcH5w7VC9hPE739Lw4Y9s8xbp3vIgnQj1VsSe9CxdDO+wlEz2rYb28OzKqO2+hNT0BN1o9L0BfO9W9gj1hxMM8bIdjveO1XzwlXGm8Z2CXPGuKcDw+PNY8U1kBvdUrBL2+SCO8s698vdHDqb3334o9Yc6dPJql4LyktFU6zo5bu7GdHL2C2+K5O+hzPTB8jDwmTWO959O3vIP3Kr02KCk9caaNPCUvUDqYra88pT94PRR4GjyS+Js78b9MvWCthzyNlo080gPBPJtPDzteHm+3T3T+vChW7DqQxSo7VXJqPZHcST3pFIm83cGdPGtO27yAQV89YXjivGeDBb2yhOS89tmLvT9oCr3qzE68EJmnvduCED323Cq9UZnavPnqnz1zvzg9QmLGPfgNQzzXeXy9ZABovf4DPbt2Tpm8uKpdvA9pDjwHInI9HsdmPaALO70FihY99k0JvCPrUr3NkwA9fEogvZqg07qQa/q8vHZcPHznG72u1b88ceoXOyzNJrxVZfs80FqVugll57x/4R88Oa+evNEforwIXYc7XPMyPUqPOj21YvM7xqUOvar7jj3xOFY8nmyHvHZSTz1Q8PQ8hxBDPQ4/pbwbwC896gJyPFWqGD2a5B09AqwqvIDy6Tvoo7e8y6HnPPB6izvbPbW7U10jvdrD/DxlcKa82bhzvYG0mbs1GBy8EiZ4vE/98buO1Hc87wbwvFVwWrwXfZM8b3ZAvf3oG70cf3y9wI15PXM0SLwWdHk8yeezPKla6Lwvol07xRRuvdtmaTyo5Ty91V5LvAfo6zzSnjO9fgTCOmu3zTzdlfk6925NPXdPRjyqRBi9wDokvJWfEL2z7o68ls4IvbVNx7xTbMu6nTsNvBDm7zxlhgs4xb5rvIBUS7wExc295+a7POL3VLyt7Om5dnIuPLCfK732xZs9nvqmvBBBxr2PRpy9Z3vyOwLvG730Jjk9l59HPHA8prwIL/48iTeAvVO/Z71k3pu9GfDxOjdYw72Bxw69NwEdvNtmyjxYAmA9c+WUvPTr37zxlBI9COVcPdVX87wNjxq9avkTO/ey/Dzo8uo8PnXYuYQCjbpeeIQ9W1hhveBtTb28Na686ItQPeqsAD0CIlW8z1uEvLviQz017iM8RfECPXa9nLt4wpO9wdB1PXBErzw4uwG9hCG0PHWCETuI5ra8aB2UPamnOL0v7yI8Th4lvArGBD08mI27W+U7vGGqgLy/u4y9IE9dPFsuQ71DLLy9/RE7vTWcQ71fMLU7PRNbvTSseLxyVnA8h5QnPZ7BFzweNDk8VinaPOvKszwqF7U71N0vvXswUjsiaFc9DngDPRvSZrta47682+zSvGufejxTgvC8MRr5PKT/Hrz+WzQ8dLrJvAVDAbvnDh680hNqvA41gz3jgle6wyXoPMAyBr3FFZg8c00SO1+LJL1i2Dg8DHN5vJdejDuwkVs709vvvNSwk71TKxW8+1pKvNmaT7ywZLo8oUWovT0QNDxMFlm9gkrKPP0kLTzzpDw9PVr1vE23jTzeOk69XIGdPOlpKj22xNC7sc3JPIQ+ab0k4MM8kjEOPQWg0bzH8la8XcnrvDsMZLyPzCW98su6vBU6aLtmGAY9CI8XvcOUBLxW5Om73fyLvOMVOb0YcIm7Aajbu14/Br3061E9E40pvWuLTr0qBrg8M4xiPGK08DzVr6y7nBySPNqLUzz3shm9Km+Nvesk8by+Mmi8FFXdPC3hoTuznra8+uYEu1lVxLw8OU48XgbOvExBuLwGABI9YY9YPEWpxbqV+6m81keYvJ3lPz0lE4+8"
}
