bundles/spark/kbs/soar-playbooks/entries/pb-pcapanalysis-pcap-parsing-and-indicator-enrichment.json
{
  "id": "pb-pcapanalysis-pcap-parsing-and-indicator-enrichment",
  "title": "PCAP Parsing And Indicator Enrichment",
  "category": "playbook",
  "content": "This playbook is used to parse and extract indicators within PCAP files and perform enrichment on the detected indicators. Supported file types are pcap, cap, pcapng. The playbook can handle one PCAP file per incident. The user inputs which indicator types are to be enriched including, email, URLs, IP addresses. The user can specify in the inputs which indicators are internal or that will be treated as internal (not enriched). The user can also specify a specific regex pattern to search for. Another option is to specify the protocol types to be printed to context for data extraction. Additional inputs allow the user to provide the WPA password for decrypting 802.11 (wireless) traffic and add an RSA certificate to decrypt SSL traffic. To display the results within the relevant incident fields, the playbook needs to run in a PCAP Analysis incident type. For handling of PCAP files larger than 30 MB, refer to the PcapMinerV2 documentation.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (PcapAnalysis, xsoar-supported).\n\nInputs — PcapFilter: This input specifies a search filter to be used on the pcap file. Filters can be used to search only for a specific IP, protocols, and other examples. The syntax is the same as in Wireshark which can be found here: https://www.wireshark.org/docs/man-pages/wireshark-filter.html\n\nUsing a filter can improve performance and decrease the output results.; ProtocolsToOutput: This input provides which protocols to output to context. This can be a single or several protocols from this list\n HTTP\n DNS\n LLMNR\n SYSLOG\n SMTP\n NETBIOS\n ICMP\n KERBEROS\n TELNET\n SSH\n IRC\n FTP\nSMB2\n\nTo provide more than one protocol use comma separation such as \nDNS,FTP\n\nEach selected protocol will have its own unique data displayed in context. Such as HTTP data, SMTP data etc.; RegexToSearch: This input value is used to provide a python regular expression to search in the the packet body. An example can be \\w{10} for expressions that have 10 letter words.; WpaPassword: This input value is used to provide a WPA (Wi-Fi Protected Access) password to decrypt encrypted Wi-FI traffic.; WhichIndicatorTypeToEnrich: This input checks which indicator types that will be extracted from the PCAP will be enriched. Values can be\nip\nemail\nurl\nTo provide more than one indicator type use comma separation such as \nip,url,email; InternalUrlName: The organization's internal URL name. This is provided for the script IsInternalHostName that checks if the detected URLs are internal or external if the hosts contain the internal domains suffix. For example demisto.com. If there is more than one domain, use comma separation such as demisto.com,paloaltonetworks.com. Another example value can be localhost.; InternalEmailDomainName: The organization's internal email domain name. This is provided for the script IsEmailAddressInternal that checks if the detected emails are internal or external. This  input can contain a List of internal domains to check, comma separated; InternalIPRange: A list of internal IP ranges to check IP addresses against. The list should be provided in CIDR format, separated by commas. An example of a list of ranges could be: 172.16.0.0/12,10.0.0.0/8,192.168.0.0/16. If a list of IP ranges is not provided, the list provided in the IsIPInRanges script (the known IPv4 private address ranges) is used by default.; PcapFileEntryID: This input specifics the file entry id for the PCAP file if the user provided the file in the incident. One PCAP file can run per incident.; RsaDecryptKeyEntryID: This input specifics the file entry id for the RSA decrypt key if the user provided the key in the incident..\n\nOutputs — InternalIPAddresses: The internal IP addresses that were found in the PCAP.; ExternalIPAddresses: The external IP addresses that were found in the PCAP.; ExternalEmailAddresses: The external email addresses that were found in the PCAP.; InternalEmailAddresses: The internal email addresses that were found in the PCAP.; ExternalUrls: The external URLs that were found in the PCAP.; InternalUrls: The internal URLs that were found in the PCAP.; PCAPResults.Protocols: List of protocols found in the PCAP.; DestinationTcpPorts: A list of destination TCP ports that were found in the PCAP.; DestinationUdpPorts: A list of destination UDP ports that were found in the PCAP..\n\nIntegrations/scripts used: IsEmailAddressInternal, IsIPInRanges, IsUrlPartOfDomain, PcapMinerV2, SetAndHandleEmpty, SetGridField, email, ip, url.",
  "raw_yaml": "id: PCAP Parsing And Indicator Enrichment\nversion: -1\nfromversion: 5.0.0\nname: PCAP Parsing And Indicator Enrichment\ndescription: This playbook is used to parse and extract indicators within PCAP files\n  and perform enrichment on the detected indicators. Supported file types are pcap,\n  cap, pcapng. The playbook can handle one PCAP file per incident. The user inputs\n  which indicator types are to be enriched including, email, URLs, IP addresses. The\n  user can specify in the inputs which indicators are internal or that will be treated\n  as internal (not enriched). The user can also specify a specific regex pattern to\n  search for. Another option is to specify the protocol types to be printed to context\n  for data extraction. Additional inputs allow the user to provide the WPA password\n  for decrypting 802.11 (wireless) traffic and add an RSA certificate to decrypt SSL\n  traffic. To display the results within the relevant incident fields, the playbook\n  needs to run in a PCAP Analysis incident type. For handling of PCAP files larger\n  than 30 MB, refer to the PcapMinerV2 documentation.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: da420ca0-1bd6-4f13-8bb7-7c8cd937db10\n    type: start\n    task:\n      id: da420ca0-1bd6-4f13-8bb7-7c8cd937db10\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"2\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2660,\n          \"y\": 410\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: f3eb580f-395e-4d62-8035-54a7ecd313da\n    type: condition\n    task:\n      id: f3eb580f-395e-4d62-8035-54a7ecd313da\n      version: -1\n      name: Is there a PCAP file?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"14\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.PcapFileEntryID\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2660,\n          \"y\": 540\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: c72c4d05-d686-45d2-8b09-2dcdb3742692\n    type: condition\n    task:\n      id: c72c4d05-d686-45d2-8b09-2dcdb3742692\n      version: -1\n      name: Are there flow results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n\n    nexttasks:\n      '#default#':\n      - \"82\"\n      \"yes\":\n      - \"89\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResultsFlow\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2660,\n          \"y\": 3100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"14\":\n    id: \"14\"\n    taskid: f72b29e3-c2ec-45c1-86c5-2e51f2bc76be\n    type: regular\n    task:\n      id: f72b29e3-c2ec-45c1-86c5-2e51f2bc76be\n      version: -1\n      name: PCAP Miner execution\n      description: PcapMiner V2 parses pcap files by displaying all of the relevant\n        data within the file, including ip addresses, ports, flows, specific protocol\n        breakdown, searching by regex, decrypting encrypted traffic, and more.\n      scriptName: PcapMinerV2\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"32\"\n      - \"58\"\n      - \"45\"\n    scriptarguments:\n      convs_to_display: {}\n      custom_regex:\n        simple: ${inputs.RegexToSearch}\n      entry_id:\n        simple: ${inputs.PcapFileEntryID}\n      extract_ips: {}\n      extract_strings:\n        simple: \"True\"\n      filtered_file_name: {}\n      iterate: {}\n      packets_to_analyze: {}\n      pcap_filter:\n        simple: ${inputs.PcapFilter}\n      protocol_output:\n        simple: ${inputs.ProtocolsToOutput}\n      rsa_decrypt_key_entry_id:\n        simple: ${inputs.RsaDecryptKeyEntryID}\n      wpa_password:\n        simple: ${inputs.WpaPassword}\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2910,\n          \"y\": 710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"32\":\n    id: \"32\"\n    taskid: b467332e-2b1e-4d55-8286-9923e14e7c54\n    type: title\n    task:\n      id: b467332e-2b1e-4d55-8286-9923e14e7c54\n      version: -1\n      name: IPs\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"33\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3540,\n          \"y\": 890\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"33\":\n    id: \"33\"\n    taskid: ce0f18f4-323a-4bd3-8ad0-2b61ba4b2406\n    type: condition\n    task:\n      id: ce0f18f4-323a-4bd3-8ad0-2b61ba4b2406\n      version: -1\n      name: Are there ip results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"34\"\n      \"yes\":\n      - \"35\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResults.IP\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3540,\n          \"y\": 1025\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"34\":\n    id: \"34\"\n    taskid: fc7dfa86-96a7-4c43-81f4-c56794d65507\n    type: title\n    task:\n      id: fc7dfa86-96a7-4c43-81f4-c56794d65507\n      version: -1\n      name: Done IP\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3540,\n          \"y\": 2950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"35\":\n    id: \"35\"\n    taskid: b662d6e1-f3cf-4756-84a2-d5d4ba73451e\n    type: title\n    task:\n      id: b662d6e1-f3cf-4756-84a2-d5d4ba73451e\n      version: -1\n      name: Sort internal and external IPs\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"37\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3270,\n          \"y\": 1340\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"37\":\n    id: \"37\"\n    taskid: eec94df2-3e6e-4fa1-8fc5-4403af8aad71\n    type: regular\n    task:\n      id: eec94df2-3e6e-4fa1-8fc5-4403af8aad71\n      version: -1\n      name: Determine whether the IP addresses are internal or external\n      description: Returns yes if the IP is in one of the ranges provided, returns\n        no otherwise.\n      scriptName: IsIPInRanges\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"38\"\n    scriptarguments:\n      ip:\n        complex:\n          root: PCAPResults\n          accessor: IP\n          transformers:\n          - operator: uniq\n      ipRanges:\n        simple: ${inputs.InternalIPRange}\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3270,\n          \"y\": 1660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"38\":\n    id: \"38\"\n    taskid: 08ed9b96-4280-4096-88e9-ced85740b8a8\n    type: regular\n    task:\n      id: 08ed9b96-4280-4096-88e9-ced85740b8a8\n      version: -1\n      name: Set detected IP addresses as internal\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"39\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: InternalIPAddresses\n      stringify: {}\n      value:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3270,\n          \"y\": 1850\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"39\":\n    id: \"39\"\n    taskid: 1eb234e9-21ba-4b90-85c7-1c64e00f1d57\n    type: regular\n    task:\n      id: 1eb234e9-21ba-4b90-85c7-1c64e00f1d57\n      version: -1\n      name: Set detected IP addresses as external\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"41\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ExternalIPAddresses\n      stringify: {}\n      value:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3270,\n          \"y\": 2035\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"41\":\n    id: \"41\"\n    taskid: 874822fb-0e31-4497-844b-35586575011d\n    type: title\n    task:\n      id: 874822fb-0e31-4497-844b-35586575011d\n      version: -1\n      name: Enrich IP\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"42\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3270,\n          \"y\": 2220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"42\":\n    id: \"42\"\n    taskid: 935d0af4-b4d1-41e3-8b91-aa3a1c72ee5d\n    type: condition\n    task:\n      id: 935d0af4-b4d1-41e3-8b91-aa3a1c72ee5d\n      version: -1\n      name: Are there external IP addresses?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"34\"\n      \"yes\":\n      - \"44\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: ExternalIPAddresses\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3270,\n          \"y\": 2360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"43\":\n    id: \"43\"\n    taskid: b1b2bcc1-76e3-401e-8e61-f19401e9c96b\n    type: regular\n    task:\n      id: b1b2bcc1-76e3-401e-8e61-f19401e9c96b\n      version: -1\n      name: Enrich IPs\n      description: Checks the reputation of an IP address.\n      script: '|||ip'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"34\"\n    scriptarguments:\n      fullResponse: {}\n      ip:\n        simple: ${ExternalIPAddresses}\n      long: {}\n      retries: {}\n      sampleSize: {}\n      threshold: {}\n      wait: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3000,\n          \"y\": 2770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"44\":\n    id: \"44\"\n    taskid: 2883fbbb-8027-46ea-8083-2364edd5f59e\n    type: condition\n    task:\n      id: 2883fbbb-8027-46ea-8083-2364edd5f59e\n      version: -1\n      name: Auto enrich IPs?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"34\"\n      \"yes\":\n      - \"43\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: inputs.WhichIndicatorTypeToEnrich\n            iscontext: true\n          right:\n            value:\n              simple: ip\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3160,\n          \"y\": 2590\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"45\":\n    id: \"45\"\n    taskid: e35e5432-9d4c-4633-8e57-547b179ac6f9\n    type: title\n    task:\n      id: e35e5432-9d4c-4633-8e57-547b179ac6f9\n      version: -1\n      name: Emails\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"46\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5410,\n          \"y\": 890\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"46\":\n    id: \"46\"\n    taskid: e02bb65b-8c87-4f23-8cc3-fc82988f5a3e\n    type: condition\n    task:\n      id: e02bb65b-8c87-4f23-8cc3-fc82988f5a3e\n      version: -1\n      name: Are there email results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"48\"\n      \"yes\":\n      - \"81\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResults.Email\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResultsSMTP.From\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResultsSMTP.To\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5410,\n          \"y\": 1025\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"47\":\n    id: \"47\"\n    taskid: 1917e0b9-f00a-475e-8cc0-1614b65a940d\n    type: title\n    task:\n      id: 1917e0b9-f00a-475e-8cc0-1614b65a940d\n      version: -1\n      name: Sort internal and external emails\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"50\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5170,\n          \"y\": 1370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"48\":\n    id: \"48\"\n    taskid: 89342b80-c37c-40ba-8861-033f446c9fc4\n    type: title\n    task:\n      id: 89342b80-c37c-40ba-8861-033f446c9fc4\n      version: -1\n      name: Done emails\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5410,\n          \"y\": 2940\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"50\":\n    id: \"50\"\n    taskid: 5501cc3e-c773-47c1-8dc2-05068a671ab8\n    type: regular\n    task:\n      id: 5501cc3e-c773-47c1-8dc2-05068a671ab8\n      version: -1\n      name: Determine whether the emails  are internal or external\n      description: Checks if the email address is part of the internal domains\n      scriptName: IsEmailAddressInternal\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"51\"\n    scriptarguments:\n      domain:\n        simple: ${inputs.InternalEmailDomainName}\n      email:\n        complex:\n          root: PCAPResults\n          accessor: Email\n          transformers:\n          - operator: uniq\n      include_subdomains: {}\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5170,\n          \"y\": 1660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"51\":\n    id: \"51\"\n    taskid: 523a1b62-28ec-4b2b-8f7f-92d4586632ef\n    type: regular\n    task:\n      id: 523a1b62-28ec-4b2b-8f7f-92d4586632ef\n      version: -1\n      name: Set detected emails as internal\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"52\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: InternalEmailAddresses\n      stringify: {}\n      value:\n        complex:\n          root: Account\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: Account.Email.NetworkType\n                iscontext: true\n              right:\n                value:\n                  simple: Internal\n          accessor: Email.Address\n          transformers:\n          - operator: uniq\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5170,\n          \"y\": 1840\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"52\":\n    id: \"52\"\n    taskid: 5cbd4808-ebfd-4965-8ec1-fac4cc8d432f\n    type: regular\n    task:\n      id: 5cbd4808-ebfd-4965-8ec1-fac4cc8d432f\n      version: -1\n      name: Set detected emails as external\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"53\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ExternalEmailAddresses\n      stringify: {}\n      value:\n        complex:\n          root: Account\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: Account.Email.NetworkType\n                iscontext: true\n              right:\n                value:\n                  simple: External\n          accessor: Email.Address\n          transformers:\n          - operator: uniq\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5170,\n          \"y\": 2025\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"53\":\n    id: \"53\"\n    taskid: c56d9409-8c36-46d2-8282-3d4d0278524f\n    type: title\n    task:\n      id: c56d9409-8c36-46d2-8282-3d4d0278524f\n      version: -1\n      name: Enrich email\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"54\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5170,\n          \"y\": 2200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"54\":\n    id: \"54\"\n    taskid: 7b01a59b-add5-473b-8fb4-4b54b019c9c0\n    type: condition\n    task:\n      id: 7b01a59b-add5-473b-8fb4-4b54b019c9c0\n      version: -1\n      name: Are there external emails?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"48\"\n      \"yes\":\n      - \"56\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: DetectedExternalEmail\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5170,\n          \"y\": 2350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"55\":\n    id: \"55\"\n    taskid: e686558b-676c-4eb2-8092-f0f691423764\n    type: regular\n    task:\n      id: e686558b-676c-4eb2-8092-f0f691423764\n      version: -1\n      name: Set detected emails as external\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"56\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ExternalEmailAddresses\n      stringify: {}\n      value:\n        complex:\n          root: PCAPResults\n          accessor: Email\n          transformers:\n          - operator: uniq\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4480,\n          \"y\": 2360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"56\":\n    id: \"56\"\n    taskid: 5c6aaa11-d92a-40d6-8317-9ae5079202be\n    type: condition\n    task:\n      id: 5c6aaa11-d92a-40d6-8317-9ae5079202be\n      version: -1\n      name: Auto enrich emails?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"48\"\n      \"yes\":\n      - \"57\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: inputs.WhichIndicatorTypeToEnrich\n            iscontext: true\n          right:\n            value:\n              simple: email\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5060,\n          \"y\": 2590\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"57\":\n    id: \"57\"\n    taskid: a637ac4b-4ea6-4129-89e4-d133f4d175d2\n    type: regular\n    task:\n      id: a637ac4b-4ea6-4129-89e4-d133f4d175d2\n      version: -1\n      name: Enrich Emails\n      description: Checks the reputation of an email address.\n      script: '|||email'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"48\"\n    scriptarguments:\n      email:\n        simple: ${ExternalEmailAddresses}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4880,\n          \"y\": 2760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"58\":\n    id: \"58\"\n    taskid: 2b920ff6-1b98-4636-848d-4b2331f79dd2\n    type: title\n    task:\n      id: 2b920ff6-1b98-4636-848d-4b2331f79dd2\n      version: -1\n      name: URLs\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"59\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2000,\n          \"y\": 890\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"59\":\n    id: \"59\"\n    taskid: 23b53a64-5173-46ba-8ba7-ada8d80d9293\n    type: condition\n    task:\n      id: 23b53a64-5173-46ba-8ba7-ada8d80d9293\n      version: -1\n      name: Are there URL results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"60\"\n      \"yes\":\n      - \"61\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResultsHTTP.RequestURI\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: PCAPResults.URL\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2000,\n          \"y\": 1025\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"60\":\n    id: \"60\"\n    taskid: 5deebcf3-017c-4557-8f7f-c8323e55cbe5\n    type: title\n    task:\n      id: 5deebcf3-017c-4557-8f7f-c8323e55cbe5\n      version: -1\n      name: Done URLs\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2000,\n          \"y\": 2940\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"61\":\n    id: \"61\"\n    taskid: 63a0a36f-6d8a-4cf2-8886-a5d3fca5b310\n    type: title\n    task:\n      id: 63a0a36f-6d8a-4cf2-8886-a5d3fca5b310\n      version: -1\n      name: Sort internal and external urls\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"62\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -980,\n          \"y\": 1380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"62\":\n    id: \"62\"\n    taskid: 99a725f8-0e6a-46ce-84b7-414120b8c374\n    type: condition\n    task:\n      id: 99a725f8-0e6a-46ce-84b7-414120b8c374\n      version: -1\n      name: Has the internal url suffix name been provided?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"70\"\n      \"yes\":\n      - \"63\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.InternalUrlName\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -980,\n          \"y\": 1490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"63\":\n    id: \"63\"\n    taskid: dbe5e08f-9b77-46aa-8f20-1cdf737d290c\n    type: regular\n    task:\n      id: dbe5e08f-9b77-46aa-8f20-1cdf737d290c\n      version: -1\n      name: Determine whether the URLs are internal or external\n      description: Checks if the supplied URLs are in the specified domains.\n      scriptName: IsUrlPartOfDomain\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"64\"\n    scriptarguments:\n      domains:\n        complex:\n          root: inputs.InternalUrlName\n      urls:\n        complex:\n          root: PCAPResults\n          accessor: URL\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1730,\n          \"y\": 1660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"64\":\n    id: \"64\"\n    taskid: de2143d9-5c9a-4a53-832e-6056d808b9ef\n    type: regular\n    task:\n      id: de2143d9-5c9a-4a53-832e-6056d808b9ef\n      version: -1\n      name: Set internal URLs\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"65\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: InternalUrls\n      stringify: {}\n      value:\n        complex:\n          root: IsUrlPartOfDomain\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IsUrlPartOfDomain.IsInternal\n                iscontext: true\n              right:\n                value:\n                  simple: \"true\"\n          accessor: URL\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1730,\n          \"y\": 1850\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"65\":\n    id: \"65\"\n    taskid: b22d38bf-0ef7-4ba4-89e5-b6a56c695e5b\n    type: regular\n    task:\n      id: b22d38bf-0ef7-4ba4-89e5-b6a56c695e5b\n      version: -1\n      name: Set external URLs\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"66\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ExternalUrls\n      stringify: {}\n      value:\n        complex:\n          root: IsUrlPartOfDomain\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IsUrlPartOfDomain.IsInternal\n                iscontext: true\n              right:\n                value:\n                  simple: \"false\"\n          accessor: URL\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1730,\n          \"y\": 2025\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"66\":\n    id: \"66\"\n    taskid: ecaf0156-22fa-4c66-8a81-a5e20175ebdb\n    type: title\n    task:\n      id: ecaf0156-22fa-4c66-8a81-a5e20175ebdb\n      version: -1\n      name: Enrich URLs\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"67\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1730,\n          \"y\": 2220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"67\":\n    id: \"67\"\n    taskid: 8a795ab4-7cdc-4566-8a97-63b9a6b5661b\n    type: condition\n    task:\n      id: 8a795ab4-7cdc-4566-8a97-63b9a6b5661b\n      version: -1\n      name: Are there external URLs?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"60\"\n      \"yes\":\n      - \"68\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: ExternalUrls\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1730,\n          \"y\": 2360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"68\":\n    id: \"68\"\n    taskid: c5f8a83c-861a-4858-8022-262d92b7d66e\n    type: condition\n    task:\n      id: c5f8a83c-861a-4858-8022-262d92b7d66e\n      version: -1\n      name: Auto enrich URLs?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"60\"\n      \"yes\":\n      - \"69\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: containsGeneral\n          left:\n            value:\n              simple: inputs.WhichIndicatorTypeToEnrich\n            iscontext: true\n          right:\n            value:\n              simple: url\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1610,\n          \"y\": 2590\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"69\":\n    id: \"69\"\n    taskid: a8090734-f27d-4aff-8b65-36a4b0335940\n    type: regular\n    task:\n      id: a8090734-f27d-4aff-8b65-36a4b0335940\n      version: -1\n      name: Enrich URLs\n      description: Checks the reputation of a URL in AutoFocus.\n      script: '|||url'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"60\"\n    scriptarguments:\n      long: {}\n      retries: {}\n      sampleSize: {}\n      submitWait: {}\n      threshold: {}\n      url:\n        simple: ${ExternalUrls}\n      wait: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1430,\n          \"y\": 2760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"70\":\n    id: \"70\"\n    taskid: 332ef2c6-3f69-4162-84a8-dd9352382e6c\n    type: regular\n    task:\n      id: 332ef2c6-3f69-4162-84a8-dd9352382e6c\n      version: -1\n      name: Set detected URLs as external\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"68\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ExternalUrls\n      stringify: {}\n      value:\n        simple: ${PCAPResults.URL}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -980,\n          \"y\": 2405\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"81\":\n    id: \"81\"\n    taskid: 6b3c0123-f35d-430b-8010-77291e4d33f6\n    type: condition\n    task:\n      id: 6b3c0123-f35d-430b-8010-77291e4d33f6\n      version: -1\n      name: Was an internal email domain provided?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"55\"\n      \"yes\":\n      - \"47\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.InternalEmailDomainName\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4480,\n          \"y\": 1200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"82\":\n    id: \"82\"\n    taskid: f61b656b-ea66-433b-8e26-7658a311a44a\n    type: title\n    task:\n      id: f61b656b-ea66-433b-8e26-7658a311a44a\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2660,\n          \"y\": 3960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"83\":\n    id: \"83\"\n    taskid: 888a9461-0a3b-407e-8093-cabf986fe0d0\n    type: regular\n    task:\n      id: 888a9461-0a3b-407e-8093-cabf986fe0d0\n      version: -1\n      name: Set detected protocols\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"88\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: DetectedProtocols\n      stringify: {}\n      value:\n        complex:\n          root: PCAPResults\n          accessor: Protocols\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4480,\n          \"y\": 3420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"84\":\n    id: \"84\"\n    taskid: 6334adeb-a54c-4260-8c79-e2ea69b81238\n    type: regular\n    task:\n      id: 6334adeb-a54c-4260-8c79-e2ea69b81238\n      version: -1\n      name: Set internal IP addresses\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"88\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: InternalIPAddresses\n      stringify: {}\n      value:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4080,\n          \"y\": 3420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"85\":\n    id: \"85\"\n    taskid: 31089581-7f83-4944-8bcb-5d0fcec410eb\n    type: regular\n    task:\n      id: 31089581-7f83-4944-8bcb-5d0fcec410eb\n      version: -1\n      name: Set external IP addresses\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"88\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ExternalIPAddresses\n      stringify: {}\n      value:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3680,\n          \"y\": 3420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"86\":\n    id: \"86\"\n    taskid: b3b89f57-cd83-4b42-8c8f-17e1627542ef\n    type: regular\n    task:\n      id: b3b89f57-cd83-4b42-8c8f-17e1627542ef\n      version: -1\n      name: Set destination TCP ports\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"88\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: DestinationTcpPorts\n      stringify: {}\n      value:\n        complex:\n          root: PCAPResultsFlow\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: PCAPResultsFlow.Transport\n                iscontext: true\n              right:\n                value:\n                  simple: TCP\n          accessor: DestPort\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3280,\n          \"y\": 3420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"87\":\n    id: \"87\"\n    taskid: 2ee78bd9-41cc-4398-8fbb-98018f47a8f1\n    type: regular\n    task:\n      id: 2ee78bd9-41cc-4398-8fbb-98018f47a8f1\n      version: -1\n      name: Set destination UDP ports\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"88\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: DestinationUdpPorts\n      stringify: {}\n      value:\n        complex:\n          root: PCAPResultsFlow\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: PCAPResultsFlow.Transport\n                iscontext: true\n              right:\n                value:\n                  simple: UDP\n          accessor: DestPort\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2880,\n          \"y\": 3420\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"88\":\n    id: \"88\"\n    taskid: 28d644d1-9a98-4906-871a-6582ec30898a\n    type: condition\n    task:\n      id: 28d644d1-9a98-4906-871a-6582ec30898a\n      version: -1\n      name: Is this a PCAP analysis incident type?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"82\"\n      \"yes\":\n      - \"90\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: incident.type\n            iscontext: true\n          right:\n            value:\n              simple: PCAP Analysis\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3680,\n          \"y\": 3615\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"89\":\n    id: \"89\"\n    taskid: ef8d8aee-3355-449e-8d41-db1c273cacad\n    type: title\n    task:\n      id: ef8d8aee-3355-449e-8d41-db1c273cacad\n      version: -1\n      name: Set common fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"85\"\n      - \"83\"\n      - \"84\"\n      - \"86\"\n      - \"87\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3680,\n          \"y\": 3270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"90\":\n    id: \"90\"\n    taskid: a16b8f94-a497-42c3-8c0d-bd8af99b748b\n    type: regular\n    task:\n      id: a16b8f94-a497-42c3-8c0d-bd8af99b748b\n      version: -1\n      name: Set incident fields\n      description: Creates a Grid table from items or key-value pairs.\n      scriptName: SetGridField\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"82\"\n    scriptarguments:\n      columns:\n        simple: SourceIP,SourcePort,DestinationIP,DestinationPort,Duration,StartTime,EndTime,Bytes\n      context_path:\n        simple: PCAPResultsFlow\n      grid_id:\n        simple: pcapflows\n      keys:\n        simple: SourceIP,SourcePort,DestIP,DestPort,Duration,StartTime,EndTime,Bytes\n      overwrite:\n        simple: \"true\"\n      sort_by: {}\n      unpack_nested_elements: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3970,\n          \"y\": 3790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    fieldMapping:\n    - incidentfield: Unique Ports\n      output:\n        complex:\n          root: PCAPResultsFlow\n          filters:\n          - - operator: lessThan\n              left:\n                value:\n                  simple: PCAPResultsFlow.DestPort\n                iscontext: true\n              right:\n                value:\n                  simple: \"49151\"\n          accessor: DestPort\n          transformers:\n          - operator: uniq\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n    - incidentfield: Protocols\n      output:\n        complex:\n          root: PCAPResults\n          accessor: Protocols\n          transformers:\n          - operator: uniq\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n    - incidentfield: Internal Addresses\n      output:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    - incidentfield: External Addresses\n      output:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n    - incidentfield: PCAP Start Time\n      output:\n        simple: ${PCAPResults.StartTime}\n    - incidentfield: PCAP End Time\n      output:\n        simple: ${PCAPResults.EndTime}\n    - incidentfield: PCAP Number Of Packets\n      output:\n        simple: ${PCAPResults.Packets}\n    - incidentfield: PCAP Number Of Streams\n      output:\n        simple: ${PCAPResults.Packets}\n    - incidentfield: PCAP File Name\n      output:\n        complex:\n          root: File\n          filters:\n          - - operator: inList\n              left:\n                value:\n                  simple: File.EntryID\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.PcapFileEntryID\n                iscontext: true\n          accessor: Name\n    - incidentfield: PCAP File Size\n      output:\n        complex:\n          root: File\n          filters:\n          - - operator: inList\n              left:\n                value:\n                  simple: File.EntryID\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.PcapFileEntryID\n                iscontext: true\n          accessor: Size\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"2_3_#default#\": 0.71,\n      \"59_60_#default#\": 0.7,\n      \"62_70_#default#\": 0.76\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 3615,\n        \"width\": 4810,\n        \"x\": -5410,\n        \"y\": 410\n      }\n    }\n  }\ninputs:\n- key: PcapFilter\n  value: {}\n  required: false\n  description: |\n    This input specifies a search filter to be used on the pcap file. Filters can be used to search only for a specific IP, protocols, and other examples. The syntax is the same as in Wireshark which can be found here: https://www.wireshark.org/docs/man-pages/wireshark-filter.html\n\n    Using a filter can improve performance and decrease the output results.\n  playbookInputQuery:\n- key: ProtocolsToOutput\n  value:\n    simple: DNS,SMB2,HTTP,LLMNR,SYSLOG,SMTP,NETBIOS,ICMP,KERBEROS,TELNET,SSH,IRC,FTP\n  required: false\n  description: \"This input provides which protocols to output to context. This can\\\n    \\ be a single or several protocols from this list\\n HTTP\\n DNS\\n LLMNR\\n SYSLOG\\n\\\n    \\ SMTP\\n NETBIOS\\n ICMP\\n KERBEROS\\n TELNET\\n SSH\\n IRC\\n FTP\\nSMB2\\n\\nTo provide\\\n    \\ more than one protocol use comma separation such as \\nDNS,FTP\\n\\nEach selected\\\n    \\ protocol will have its own unique data displayed in context. Such as HTTP data,\\\n    \\ SMTP data etc.\"\n  playbookInputQuery:\n- key: RegexToSearch\n  value: {}\n  required: false\n  description: This input value is used to provide a python regular expression to\n    search in the the packet body. An example can be \\w{10} for expressions that have\n    10 letter words.\n  playbookInputQuery:\n- key: WpaPassword\n  value: {}\n  required: false\n  description: This input value is used to provide a WPA (Wi-Fi Protected Access)\n    password to decrypt encrypted Wi-FI traffic.\n  playbookInputQuery:\n- key: WhichIndicatorTypeToEnrich\n  value: {}\n  required: false\n  description: \"This input checks which indicator types that will be extracted from\\\n    \\ the PCAP will be enriched. Values can be\\nip\\nemail\\nurl\\nTo provide more than\\\n    \\ one indicator type use comma separation such as \\nip,url,email\\n\\n\"\n  playbookInputQuery:\n- key: InternalUrlName\n  value: {}\n  required: false\n  description: The organization's internal URL name. This is provided for the script\n    IsInternalHostName that checks if the detected URLs are internal or external if\n    the hosts contain the internal domains suffix. For example demisto.com. If there\n    is more than one domain, use comma separation such as demisto.com,paloaltonetworks.com.\n    Another example value can be localhost.\n- key: InternalEmailDomainName\n  value: {}\n  required: false\n  description: The organization's internal email domain name. This is provided for\n    the script IsEmailAddressInternal that checks if the detected emails are internal\n    or external. This  input can contain a List of internal domains to check, comma\n    separated\n  playbookInputQuery:\n- key: InternalIPRange\n  value: {}\n  required: false\n  description: 'A list of internal IP ranges to check IP addresses against. The list\n    should be provided in CIDR format, separated by commas. An example of a list of\n    ranges could be: 172.16.0.0/12,10.0.0.0/8,192.168.0.0/16. If a list of IP ranges\n    is not provided, the list provided in the IsIPInRanges script (the known IPv4\n    private address ranges) is used by default.'\n  playbookInputQuery:\n- key: PcapFileEntryID\n  value:\n    complex:\n      root: File\n      filters:\n      - - operator: inList\n          left:\n            value:\n              simple: File.Name\n            iscontext: true\n          right:\n            value:\n              simple: incident.pcapfile.name\n            iscontext: true\n        - operator: isEqualString\n          left:\n            value:\n              simple: File.Extension\n            iscontext: true\n          right:\n            value:\n              simple: pcap\n        - operator: isEqualString\n          left:\n            value:\n              simple: File.Extension\n            iscontext: true\n          right:\n            value:\n              simple: cap\n        - operator: isEqualString\n          left:\n            value:\n              simple: File.Extension\n            iscontext: true\n          right:\n            value:\n              simple: pcapng\n      accessor: EntryID\n  required: false\n  description: This input specifics the file entry id for the PCAP file if the user\n    provided the file in the incident. One PCAP file can run per incident.\n  playbookInputQuery:\n- key: RsaDecryptKeyEntryID\n  value:\n    complex:\n      root: File\n      filters:\n      - - operator: inList\n          left:\n            value:\n              simple: File.Name\n            iscontext: true\n          right:\n            value:\n              simple: incident.pcapencryptionkey.name\n            iscontext: true\n        - operator: isEqualString\n          left:\n            value:\n              simple: File.Extension\n            iscontext: true\n          right:\n            value:\n              simple: key\n      accessor: EntryID\n  required: false\n  description: This input specifics the file entry id for the RSA decrypt key if the\n    user provided the key in the incident.\n  playbookInputQuery:\noutputs:\n- contextPath: InternalIPAddresses\n  description: The internal IP addresses that were found in the PCAP.\n  type: string\n- contextPath: ExternalIPAddresses\n  description: The external IP addresses that were found in the PCAP.\n  type: string\n- contextPath: ExternalEmailAddresses\n  description: The external email addresses that were found in the PCAP.\n  type: string\n- contextPath: InternalEmailAddresses\n  description: The internal email addresses that were found in the PCAP.\n  type: string\n- contextPath: ExternalUrls\n  description: The external URLs that were found in the PCAP.\n  type: String\n- contextPath: InternalUrls\n  description: The internal URLs that were found in the PCAP.\n  type: string\n- contextPath: PCAPResults.Protocols\n  description: List of protocols found in the PCAP.\n  type: string\n- contextPath: DestinationTcpPorts\n  description: A list of destination TCP ports that were found in the PCAP.\n  type: string\n- contextPath: DestinationUdpPorts\n  description: A list of destination UDP ports that were found in the PCAP.\n  type: String\ntests:\n- PCAP Parsing And Indicator Enrichment Test\n",
  "product": "Cortex XSOAR",
  "pack": "PcapAnalysis",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "forensics-malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "IHebPHDk9jll+rq9ptH+umhDnj0v+hY9s9eGPS6HkzuF/UI8cSw9O0ZQfrysME49bF03PaNZLTxDoBy8uyCLvTlqgz3YhVA9ddY9vVkWJr0CDVC9IP8Kva25VLwa/6Q6/fnPvBrpKbycoZe8kQunvGCEHL0D9ao83R+mu4KJ0jz6Pbq7iwcivM8VpryByKe8798nvS8vqru5tDS8/KUIvac+Zb1+puG79uDEvMBbCj3oE6i8OnsJveIax7xfy2M92hO1vSswgz0IHms9J/ksPArsOL1Dkww9xtmOPNYmHb15Ss68XbeLvQOqJDz7cEw9IJ5TvMjcobyfHq88U7nkPEaXTz3aDcw868ROvMXflLlm55m9T/GIPfMlQL2AFF89tdUWvfpftjziMem8dQWpvGLVED0h1ga8OOBJPYaVZD0L1pm8crSgO+xAmT2TUzK80XlBvNn1uDzZaYE8JEsovSA7BDojy9W8FuXQPdbjqLuM2vS8BjY6Pa3SBj6lXAG87N8rvfsDxb3E6To9aIfQO4TZn7xggaa89ZKpPC63k7w2apM8LhyePOg8v7z1m6a9T02nvQWLzDy/6TU9+Gt6PH8YKj1yMBO8GMeUvGzmCTw5o3U8i+OdPGuxGb0p0Cq9+vQGPfC+kD35tN27mUGcPOIuCD15+lM9bcZIPF/nwrxm+Xq652yeOfK6XT0fn768N6Nju4EDDb3hqRe9X+ihPD65nT1992C8Doa2u+o7tDnUDyg8c0+WvGAyzr04fhO8PwA9Pf4/LLwqJRE9gkq9PW+wUbydd5g7o42GPMYY1jpjtfq8zy0EvBleg7y/k2Y8BO+JPBYXg73yRIQ8tfI+vUMCBrweY0K9ePFVvMQ/SzwXJIW9HrDYvMxgMb3sYf28FqQxvf+wR7zmrEQ8COgXvVA6Hb3LIMu8MCaNvMnPyDw6sbU8hti5PEscFL1zwXa8sWBfPcv0Zzvj1Gs8eGLdvVq6WD1kmBa7By47vIw4ybqwuRI9loUJPTNj/TtrHkm7WXfZPLnHtzw7EHi9Jj4yPL3PqjyGYgC8KiKnvTQFJrxPC7E9PELfvLG5SL2aq9u9I+s6vdHhJzwHnsu8ZB9ovfaaErygmRS9A6wFu/RpbLubwTi8c+aFvURZhbxdJ908U1KNPM0UQz1OAM09ZkuIvHd5ujtRIv47fmmLu9D09zt+hue53KJcPSVZubxFPrE8QVYfvIshdr1Q5bC8BMk2O1MuZDsFw0k8S83ZPCKrOTwvyZo9X23lvF+BsbxHVdM8Sg5mvGMGMD2YMeA8GUDovKlDsj3cGTm9wuTNPJ3m47ol49a88bQLvfIypbyCTh+9NyyuvM50XTyJiKa87pn3N7n3vrzCNDK9ELvDvCZRE70l3Mc8AWKKvFQnTzzVss68cEAXvC0/gr2ujQW9BRojvYQAAz2KJ+E779ZoPdGjEr1AC9C8v2MSvbrMir3J0jw8Eh6UvHzNxTzVr3S9SgGSvUVloDq88Hi7eriVPIjJpDr0jNQ8NlbFvZFNfTrElda6yBG3vAIt6rxKUY09yMwoPVCayLygjmS99FFNPZZ/bjo11kE8Om5sPWfmWr0EYsW6xjJkPe3tKT299RS9R+4QPVcVBb3jhF+8W4FpPPLCrru/hjI8e8tEPfcV8DzeV288KIWYO3HPW7qhEHe8P6lJPHOYBL6D+h29AYv+u4dPy7z88os8mroTPAm0Dr0u45I8SNAYvY+CjrxS+Kw6aGJOvVxlzTu1QXS97B8hu9zTxjuG1wa7cZEFvcAeXTy0Seg8YcfevNFBMj0WBqg9D3MnvSmgeLou0jI8h937PBRNZLs+Dy29GYs6vTvg3rzeBSa8S/d3PVKi7Dx9gjo8QwSqPQQEdrxop067W2YhPKxRSzxnSwg8kRtAvX+HtbuZtLA8ecOKu6q15zzAc+K7YZVaPf61xLvVxDu9vRRTPYwdlDx7juq7y7TUvFEjYbyYaIu8kFqVO90ZOrumPgc99qCMvap5Ab24Y8S8MSw6vG8Hnr0YaSq9meCxu9K0V70OIIm8z5zeOyDPuj2tIIK9U9lpPA2iBDz0yeq8i4xvvUQ6rT1Uc2K7MPJbPa8bib3cpFY87iWnu5MjOz0+hyU9CCEYvYP7HT1Gr7+8XQodPUUBK71ts+k7wQatPEoA/DzH9s872T4JvN6Dkzw7eJs8DaH6vFlt9ryMzWE9+s3kvELICTvsMpY8zD2gPEDmfLt7cQw9FMOHvLCswLybeNA657qFuvtVubw+Voa97YJzvaA3cDxQFgs9Lh7Xu/aMRjtEt0I9sDYAvOkWcj3NgOG8LC4zPOq9+DyK5Ni85rjKPELSLz3MdBo67+kNPEG8CT2i7To992GnvGYvE7x1VSI885mjPGc9hjzTCo684hMnuiZWKryblxW9uBgdvaARp70slNi7XtcvOsApsbxhDWC9CSu3vD6mRr2k5uU8M82kPYvUfLslDNa8tp4/vdEBdDtKx6A9Vz6PPBk1gD3hzpY8nfKCPfy9pTvcro09eVK+vSkfVTwi7Rk9mxYCvAT61jthBvu8SNHOvNRQB7wQnlw89MSKPCZhmzwYSwi9pZwKvbFzCr3ufx09oT8oPOXOdbyhRuO818+5vK0ZOL2SFmC8DyqJvftDrjw0/qU7yH0GvHIdhj1/6NI9wVXaO052mLwzqxS9TJWHvD68CDxq8oS9JKskPINwCj0mcI495npGPW7DR707fx09tZ5AvWelL71IDK48nRiQPCi3Mby4YgE8U/0sPXxHKr3JGkq8ILiSO/Ku5jqKgoG8fzPXu49z9rlDHlY8D4eOOggFhLvz+jW8BpKBPd4mGjyqAv88Z3dOu3igPj0JEY886Hv/O1Bmuz2YOgk8vtz7utcrtzzEWzU97+frPCU67TsuyOo8y3MuvatGXj3V69k74tCaPQZV0rw+DJa8Kwj1vJMQGLz+aNE8y1hRvZrnvTvikgG9X/sQu1ocsrwFWAw9MQYpvag99ry/Bys84T4nvSNGRbwjnOO8dWuNPeWj07v4/Zs8RWfou5terLx/hvM7y+dAvK4cNbogqQW9+l3DvKyRtzx/dh281p3Du2FLFj07NQu91o0vPRb+6byL7fq7DnHSuzuYiLw5kq88ZvaqvJPspLwVLhe9x24OvJQ5yjzRa9C8v+2zu/bpkbumUH69ewm8PC+pxDsr9x+7TSQ7u0yq67xzyIA9gG3GvIolnr3+Kau9DVhdu9/J5Lw4ljo8w2tBO5FDcLwQAX09FKzoOyRgbL1Jhzm9emhDPXbPorzWwiK9JJTsO2B7pTzIC0M8gpZFPFqKjbzHygK9PrJrvLw4hbyicx29UWzCOsJmAT1k+oG8q97mvODlODxR91k9gI8Ivd3mnrsOcPK8hPODO6WaJzzQCs48llV9vT+nPD0lSA29DHdVPfk0mzxup7S9+8WiPHTOez2FGkS9F/zPvLbuEz3+VoS8bAEZPUygcr14bwU91LxZvQLAWrx8nrO8Hhf5PN/fIj06fIm8ZOPdPINwAL1Pp4i9zhA+vAGZeb0OPgE9LR2lvMRXkbw+tT48j826PJ+37LstZB08P1X+PIrsjj19rdi8dcEavGOhWLu0ApM9mEEQvcoUw7zCwNE7Qozjuilicz0DWfy8KfQ5vJpKYjy/OXc9HHq6uxZEHbxnWxa8UyVYPDew5zylH907uiN0u49Ifry4kYE8HafLvDbGJT2Chg+81IMUvI3UhbzussO79Q0YvRkfFL3hR0o9NeXkO24OqjwECSw9YtelvY0EortPpcm8u8e5PPTWPjwxWBk8vWZzO7cNDj0xoog8x+pXPR8eyzvIZp+7EUqIPLHeyrxwBug7Q2fxPPlMyDyMwG48JAeRvBEXlLz7lxS9LjBIO8pAa7ye/848Injpu1omXjxv/YG86jJyumcZPb0xDca8tbr6u6Y8d7wdxw89ExXYvJ9GXL1Ql3Q5CrMDvSAs4jym0o27JWUDPcL+MDtRUhe9iAVpvcodV7yFVKc8CvT0vJ7rKrzzE/Y7S04kvbHmKzo803G7lb4TvExfRbwyLks9HgSmvDL7uLzkl5G9LOJ0vWWqYz3x8yY8"
}
