bundles/spark/kbs/soar-playbooks/entries/pb-pcysys-pentera-filter-and-create-incident.json
{
  "id": "pb-pcysys-pentera-filter-and-create-incident",
  "title": "Pentera Filter And Create Incident",
  "category": "playbook",
  "content": "Sub-playbook to select specific entries from the Pentera action report and create incidents for each of the selected entries\n\nCortex XSOAR/XSIAM SOAR playbook from the Pentera pack (Pcysys, partner-supported).\n\nInputs — Filter password cracking: Filter all password cracking operation types; Filter BlueKeep vulnerability: Filter all BlueKeep operation types; Filter Minimum Severity: Filters actions according to given value. \nWill not filter anything if got zero (0) as value.; FullActionReport: Pentera Full Action Report is the summary of the given TaskName in a CSV format, that contains all the actions that Pentera performed during the task run. \nThe value will be provided from Pentera Run Scan and Create Incidents playbook.; Filter MS17-010 vulnerability: Filter all MS17-010 operation types; Filter network device default password usage: Filter all network device default password operation types; Filter open shares : Filter all open shares operation types.\n\nIntegrations/scripts used: PenteraOperationToIncident, SetAndHandleEmpty.",
  "raw_yaml": "id: Pentera Filter And Create Incident\nversion: -1\nname: Pentera Filter And Create Incident\ndescription: Sub-playbook to select specific entries from the Pentera action report\n  and create incidents for each of the selected entries\nstarttaskid: '0'\ntasks:\n  '0':\n    id: '0'\n    taskid: ed5fe622-78c8-499a-8122-404fad3e2339\n    type: start\n    task:\n      id: ed5fe622-78c8-499a-8122-404fad3e2339\n      version: -1\n      name: ''\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '15'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 50\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '1':\n    id: '1'\n    taskid: 2ff4fb91-5267-486a-8139-c6bd26c43e42\n    type: regular\n    task:\n      id: 2ff4fb91-5267-486a-8139-c6bd26c43e42\n      version: -1\n      name: FilterBySeverity\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '4'\n    scriptarguments:\n      append:\n        simple: 'false'\n      key:\n        simple: FilteredBySeverity\n      stringify: {}\n      value:\n        complex:\n          root: SuccessfulOperations\n          filters:\n          - - operator: greaterThan\n              left:\n                value:\n                  simple: SuccessfulOperations.Severity\n                iscontext: true\n              right:\n                value:\n                  simple: inputs.Filter Minimum Severity\n                iscontext: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1165,\\n    \\\"y\\\": 835\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '2':\n    id: '2'\n    taskid: 8a58b205-8db2-4f66-833e-26292c0f4164\n    type: condition\n    task:\n      id: 8a58b205-8db2-4f66-833e-26292c0f4164\n      version: -1\n      name: Is Minimum Severity Greater Than Zero\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '3'\n      'yes':\n      - '1'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: greaterThan\n          left:\n            value:\n              simple: inputs.Filter Minimum Severity\n            iscontext: true\n          right:\n            value:\n              simple: '0'\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 660\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '3':\n    id: '3'\n    taskid: a0aa3683-ff03-44d8-8c00-641e2791ae3a\n    type: regular\n    task:\n      id: a0aa3683-ff03-44d8-8c00-641e2791ae3a\n      version: -1\n      name: Select all the entries\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '4'\n    scriptarguments:\n      append:\n        simple: 'false'\n      key:\n        simple: FilteredBySeverity\n      stringify: {}\n      value:\n        complex:\n          root: SuccessfulOperations\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 735,\\n    \\\"y\\\": 835\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '4':\n    id: '4'\n    taskid: 0cdc17a2-92ca-49db-8fbb-282b27ff6ec0\n    type: title\n    task:\n      id: 0cdc17a2-92ca-49db-8fbb-282b27ff6ec0\n      version: -1\n      name: Filter by Operation Type and a successful Status\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '5'\n      - '9'\n      - '11'\n      - '13'\n      - '25'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 1010\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '5':\n    id: '5'\n    taskid: 2c797aac-dfe4-4586-8833-660c3f57ba2b\n    type: condition\n    task:\n      id: 2c797aac-dfe4-4586-8833-660c3f57ba2b\n      version: -1\n      name: Are we filtering BlueKeep\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '8'\n      'yes':\n      - '20'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.Filter BlueKeep vulnerability\n            iscontext: true\n          right:\n            value:\n              simple: 'True'\n          ignorecase: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 50,\\n    \\\"y\\\": 1155\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '8':\n    id: '8'\n    taskid: f97ebe5a-1bad-432c-8cd2-4cce1ff9051c\n    type: title\n    task:\n      id: f97ebe5a-1bad-432c-8cd2-4cce1ff9051c\n      version: -1\n      name: Incidents\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": -250,\\n    \\\"y\\\": 2280\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '9':\n    id: '9'\n    taskid: cccf54e0-f450-4e83-8299-036f0f144870\n    type: condition\n    task:\n      id: cccf54e0-f450-4e83-8299-036f0f144870\n      version: -1\n      name: Are filtering we MS17-010 vulnerability\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '8'\n      'yes':\n      - '10'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.Filter MS17-010 vulnerability\n            iscontext: true\n          right:\n            value:\n              simple: 'True'\n          ignorecase: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 500,\\n    \\\"y\\\": 1155\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '10':\n    id: '10'\n    taskid: ec9c975c-1556-4a4a-8d95-c5bf56968034\n    type: regular\n    task:\n      id: ec9c975c-1556-4a4a-8d95-c5bf56968034\n      version: -1\n      name: FilterMS17010OperationTypes\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '22'\n    scriptarguments:\n      append:\n        simple: 'true'\n      key:\n        simple: FilterPenteraOperations\n      stringify: {}\n      value:\n        complex:\n          root: FilteredBySeverity\n          filters:\n          - - operator: containsString\n              left:\n                value:\n                  simple: FilteredBySeverity.Operation Type\n                iscontext: true\n              right:\n                value:\n                  simple: MS017-10 Analysis\n              ignorecase: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 612.5,\\n    \\\"y\\\": 1330\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '11':\n    id: '11'\n    taskid: 93c28eb8-dd1f-470e-869f-95cce6ff4162\n    type: condition\n    task:\n      id: 93c28eb8-dd1f-470e-869f-95cce6ff4162\n      version: -1\n      name: Are we filtering password cracking\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '8'\n      'yes':\n      - '12'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.Filter password cracking\n            iscontext: true\n          right:\n            value:\n              simple: 'True'\n          ignorecase: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 1155\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '12':\n    id: '12'\n    taskid: 98ca5d8e-849f-4f7a-8e5a-90e748794ab8\n    type: regular\n    task:\n      id: 98ca5d8e-849f-4f7a-8e5a-90e748794ab8\n      version: -1\n      name: FilterPasswordCrackingOperationTypes\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '22'\n    scriptarguments:\n      append:\n        simple: 'true'\n      key:\n        simple: FilterPenteraOperations\n      stringify: {}\n      value:\n        complex:\n          root: FilteredBySeverity\n          filters:\n          - - operator: containsString\n              left:\n                value:\n                  simple: FilteredBySeverity.Operation Type\n                iscontext: true\n              right:\n                value:\n                  simple: Password Crack Level\n              ignorecase: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1062.5,\\n    \\\"y\\\": 1330\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '13':\n    id: '13'\n    taskid: 950328b4-5ced-4d17-8da7-4d7ddb56ca3b\n    type: condition\n    task:\n      id: 950328b4-5ced-4d17-8da7-4d7ddb56ca3b\n      version: -1\n      name: Are we filtering network device default password usage\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '8'\n      'yes':\n      - '14'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.Filter network device default password usage\n            iscontext: true\n          right:\n            value:\n              simple: 'True'\n          ignorecase: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1400,\\n    \\\"y\\\": 1155\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '14':\n    id: '14'\n    taskid: 3d4d8e9b-e83a-4513-8a87-6ea8f45e6497\n    type: regular\n    task:\n      id: 3d4d8e9b-e83a-4513-8a87-6ea8f45e6497\n      version: -1\n      name: FilterDefaultPasswordsOperationTypes\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '22'\n    scriptarguments:\n      append:\n        simple: 'true'\n      key:\n        simple: FilterPenteraOperations\n      stringify: {}\n      value:\n        complex:\n          root: FilteredBySeverity\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: FilteredBySeverity.Operation Type\n                iscontext: true\n              right:\n                value:\n                  simple: Using default credentials on a network device or a Firewall\n              ignorecase: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1512.5,\\n    \\\"y\\\": 1330\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '15':\n    id: '15'\n    taskid: 69b6dab6-7d90-459f-864f-49938335a70d\n    type: title\n    task:\n      id: 69b6dab6-7d90-459f-864f-49938335a70d\n      version: -1\n      name: Filter by \"success\" status\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '16'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 195\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '16':\n    id: '16'\n    taskid: 0643290f-a130-4c67-8bf8-008791c20138\n    type: regular\n    task:\n      id: 0643290f-a130-4c67-8bf8-008791c20138\n      version: -1\n      name: FilterSuccessStatus\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '17'\n    scriptarguments:\n      append:\n        simple: 'false'\n      key:\n        simple: SuccessfulOperations\n      stringify: {}\n      value:\n        complex:\n          root: inputs.FullActionReport\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.FullActionReport.Status\n                iscontext: true\n              right:\n                value:\n                  simple: success\n              ignorecase: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 340\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '17':\n    id: '17'\n    taskid: f34f18b2-efb3-433d-8aaf-391dd5166b21\n    type: title\n    task:\n      id: f34f18b2-efb3-433d-8aaf-391dd5166b21\n      version: -1\n      name: Filter by severity\n      type: title\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '2'\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 950,\\n    \\\"y\\\": 515\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '18':\n    id: '18'\n    taskid: be8973c3-d090-4c22-8203-b1bf29dea320\n    type: regular\n    task:\n      id: be8973c3-d090-4c22-8203-b1bf29dea320\n      version: -1\n      name: Create Pentera Incidents\n      description: commands.local.cmd.create.inc\n      script: Builtin|||createNewIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - '8'\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      assetid: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      blockedaction: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactname: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields:\n        complex:\n          root: PenteraIncidents\n          accessor: penteraoperationdetails_cf\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destntdomain: {}\n      destos: {}\n      details:\n        complex:\n          root: PenteraIncidents\n          accessor: details\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      dpoemailaddress: {}\n      duoaccountstatus: {}\n      duration: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailheaders: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailto: {}\n      emailtocount: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      entryIDs: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      malwarefamily: {}\n      measurestomitigate: {}\n      name:\n        complex:\n          root: PenteraIncidents\n          accessor: name\n      niststage: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      penteraoperationdetails: {}\n      penteraoperationtype:\n        complex:\n          root: PenteraIncidents\n          accessor: penteraoperationtype\n      penteravulnerablehosts: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      reporteremailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      safebreachsimulationid: {}\n      samaccountname: {}\n      sansstage: {}\n      sectorofaffectedparty: {}\n      severity:\n        simple: High\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type:\n        simple: Pentera Insight\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1050,\\n    \\\"y\\\": 2020\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '20':\n    id: '20'\n    taskid: 8c0987ae-977b-4e76-8e51-559ee51c1cf2\n    type: regular\n    task:\n      id: 8c0987ae-977b-4e76-8e51-559ee51c1cf2\n      version: -1\n      name: FilterBlueKeepOperationTypes\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '22'\n    scriptarguments:\n      append:\n        simple: 'true'\n      key:\n        simple: FilterPenteraOperations\n      stringify: {}\n      value:\n        complex:\n          root: FilteredBySeverity\n          filters:\n          - - operator: containsString\n              left:\n                value:\n                  simple: FilteredBySeverity.Operation Type\n                iscontext: true\n              right:\n                value:\n                  simple: CVE-2019-0708\n              ignorecase: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 162.5,\\n    \\\"y\\\": 1330\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '22':\n    id: '22'\n    taskid: 9633a8b1-efb1-4750-8d67-c9c102caf026\n    type: condition\n    task:\n      id: 9633a8b1-efb1-4750-8d67-c9c102caf026\n      version: -1\n      name: Is Pentera Operations not empty?\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '8'\n      'yes':\n      - '26'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: FilterPenteraOperations\n            iscontext: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1050,\\n    \\\"y\\\": 1640\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '24':\n    id: '24'\n    taskid: 9e73be18-14ab-43e2-87f2-6803f907f992\n    type: regular\n    task:\n      id: 9e73be18-14ab-43e2-87f2-6803f907f992\n      version: -1\n      name: FilterOpenShares\n      description: Checks if the specified value exists in context. If the value exists,\n        it will be set in context, otherwise no value will be set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: ''\n    nexttasks:\n      '#none#':\n      - '22'\n    scriptarguments:\n      append:\n        simple: 'true'\n      key:\n        simple: FilterPenteraOperations\n      stringify: {}\n      value:\n        complex:\n          root: FilteredBySeverity\n          filters:\n          - - operator: containsString\n              left:\n                value:\n                  simple: FilteredBySeverity.Operation Type\n                iscontext: true\n              right:\n                value:\n                  simple: Ability to access an open share\n              ignorecase: true\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1962.5,\\n    \\\"y\\\": 1330\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '25':\n    id: '25'\n    taskid: 7d3b5789-9dce-49a5-8232-47040ef4e08b\n    type: condition\n    task:\n      id: 7d3b5789-9dce-49a5-8232-47040ef4e08b\n      version: -1\n      name: Are we filtering open shares\n      type: condition\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#default#':\n      - '8'\n      'yes':\n      - '24'\n    separatecontext: false\n    conditions:\n    - label: 'yes'\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: 'inputs.Filter open shares '\n            iscontext: true\n          right:\n            value:\n              simple: 'True'\n          ignorecase: true\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1850,\\n    \\\"y\\\": 1155\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  '26':\n    id: '26'\n    taskid: 2466a731-6e00-4f30-8a8b-6079bd4d92ed\n    type: regular\n    task:\n      id: 2466a731-6e00-4f30-8a8b-6079bd4d92ed\n      version: -1\n      name: Pentera Group Incidents\n      scriptName: PenteraOperationToIncident\n      type: regular\n      iscommand: false\n      brand: ''\n      description: ''\n    nexttasks:\n      '#none#':\n      - '18'\n    scriptarguments:\n      context_key: {}\n      custom_fields_output:\n        simple: penteraoperationdetails\n      full_action_report:\n        complex:\n          root: FilterPenteraOperations\n    separatecontext: false\n    view: \"{\\n  \\\"position\\\": {\\n    \\\"x\\\": 1050,\\n    \\\"y\\\": 1860\\n  }\\n}\"\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: \"{\\n  \\\"linkLabelsPosition\\\": {},\\n  \\\"paper\\\": {\\n    \\\"dimensions\\\": {\\n \\\n  \\     \\\"height\\\": 2295,\\n      \\\"width\\\": 2592.5,\\n      \\\"x\\\": -250,\\n      \\\"\\\n  y\\\": 50\\n    }\\n  }\\n}\"\ninputs:\n- key: Filter password cracking\n  value:\n    simple: 'True'\n  required: true\n  description: Filter all password cracking operation types\n  playbookInputQuery:\n- key: Filter BlueKeep vulnerability\n  value:\n    simple: 'True'\n  required: true\n  description: Filter all BlueKeep operation types\n  playbookInputQuery:\n- key: Filter Minimum Severity\n  value:\n    simple: '0'\n  required: true\n  description: \"Filters actions according to given value. \\nWill not filter anything\\\n    \\ if got zero (0) as value.\"\n  playbookInputQuery:\n- key: FullActionReport\n  value: {}\n  required: true\n  description: \"Pentera Full Action Report is the summary of the given TaskName in\\\n    \\ a CSV format, that contains all the actions that Pentera performed during the\\\n    \\ task run. \\nThe value will be provided from Pentera Run Scan and Create Incidents\\\n    \\ playbook.\"\n  playbookInputQuery:\n- key: Filter MS17-010 vulnerability\n  value:\n    simple: 'True'\n  required: true\n  description: Filter all MS17-010 operation types\n  playbookInputQuery:\n- key: Filter network device default password usage\n  value:\n    simple: 'True'\n  required: true\n  description: Filter all network device default password operation types\n  playbookInputQuery:\n- key: 'Filter open shares '\n  value:\n    simple: 'True'\n  required: true\n  description: Filter all open shares operation types\n  playbookInputQuery:\noutputs: []\nfromversion: 5.0.0\ntests:\n- No tests (auto formatted)\n",
  "product": "Pentera",
  "pack": "Pcysys",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:pentera",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "BiVNPUTkJDvZlKC995GKvOmcVD2bEEK9c/eCPW2otzwphD28FwKEPB85ZzzuATQ99R56PcMbYTzyxn48JN16vQ+hdT0IiHk9UnoTvXJ3zjp/qYq9xhvBvAhZuTuxkvs68Z9CvQOSmL2I2cK8MjgPvZ7lXr105eY8gYevuvhug7yrRwI8Wb1+vAQClLylkeu8uS9nvbP+jbxyrG+8PhpCPBUkgrzQoS28tMCYvMpBgz2xYee7SPjFvP2Qwbyc1jW85ZOQvZGkXTy1Xlw95ZxZO62sFr1Aqjc93AqZvDUmDL1x94C9fZ03vdoHq7w6pae8QGXDPIQVMLwnX3+8dAXkPDHHZT2FvK08HIKEvAFQqbutIs+8iXCZPUUY3byPkXE94jScvXaKgjo8byG9zTESvYWDxzxXGKw8hvHWPM/34jyFxSk7f1zfPAyPkj3Bo3q8Ed79vOajJjyjBo48fPTNvVZaiDsYo4k8FLDPPausLr1JHdW7JJOKPceHzD3eJp28SWcGvWDrj72eiWM8DHIZvbj1QjxyjBC94y12vPQOtLvMEiE9Hb4oPeIq7LsBhoG94JyGvV9ShzwFUXE5o4nRO2ycIzz2oos9NjpjvTTPSz3ut9y64XkOPNUZJL3HSaW98P9xPNibwD2egeq8XXUMPbHssD0ldYY9qToFPLMvBr1OptU65O2zuWSJwzsOyyC9L6Fju9Jj3bvW9ge9rSEHvV1jTjsVvoa7sToqvGazRzxWTlQ8p6jLPHOmEb5o1cC8IHfpPHw7MjwTDHo9yf6gPcd1Sb33Wk69yTLRu8azDr1DHhi9EM+sPMmfaLzPryK8bYuDvKl4Ob1vGek6c6+fvDdYObw7HTG9VwTZuzfGZDz3thK9nxgGvfPND70LZTg7Ay9GvVNMrDurCoy8UUzVuxZwab0bpF29GwFivOwdlDxZf2U9K81fPAun/7wq0Pe8cVmbPXjhOT3rVJG8WYOjvSPx+jxZucE8Bc/JPCT0Zzx5JeY8m9UAPPKRaDw3Xxa87MrwvG62gT1vSA29d/ymvKfxxDwvSmg8ZqPKvPSe8rysYQo9usOaPG7LmLoC0OO9sazAvNpzhzwJxui8k8uHvRlV57yUXrm8y/0UPAwzxTxE5sc89tMvvVAApbxuyr67oGzaOwueQD2XDp89DYNIvP8/3DvQCwg809eOvKFBgjyEvMg7LQVoPdNCf72jXno9eBlZvVMwhL2Rdie7CDoTPekU1zsbPo28svxCu8HGPj08mVs9CgkOvCnO0btYvZk8KGR5vVe7Lj05V3w82Ty4u6aFfD095h69kC4tPemLiTuTUYm8QNucOz0YuDygCxu9+3wEPNdqt7p4hRY70e0qvIPeDLs0wVS8D0LePFZX6Lzo7Vg9NxzYuh98D7ypycm8Vf+RvDX+J71TZAu8JCelvF4uhrySTv88tPIAPKhPEj0YswK9nytXvGlpQL3eNu874wIivX5P8DwkHLW9IL5KvXl68LuMdiy9hz6ovEn8lbwvlL08Z8whvUhTd7qytEO8MCoOvNdqQzzQt0A9qDqHO8rqkbwMP1C9HTu2PPlBZj3xeEA8r1UZPUKIzjuZ4RC8ZiDQPF/HGD2K3gK9uG0zPaog+Lx9BFW88Uk3O/ojYzxblne9rNKxu/OudDxRylM898Yxvbaa5rqG+wy9W0mJvJ/6970nKlM8PftEvCrh9DwWuhW7lUnpPI7Ygrw+TU08rJJ2vP1usDy4oki8Vge7vJ+Gh7wvtDu8NC2IPLhWVD3TPcc8JEW9vDwNyTzhrp89NYK3vTFFCj00rSY92+WEu9IzPrxgA0I9yHopPWQLRDzqAdO8CQ48vNa/OzwUD468cIfYPSn9Az241xU901Q3PepcxrxA+xg8daPyOxr19bxmtCa833GGvaP9Jrr7Nuw87+JAvFIGFT2oaSo9LLXfPNjBqbzRBDa9ui9lPeHkNz1esH08M2QMvZfY87zkFeC8+8Y3PEioM70tVUY8KTYKveHUorxIcMm8p/vXPHU6qrtX0re7VPc0vDEunTu9gaM537WlvBSUgj1gdjq9jkogvcZvkzqn19m8KnVOvQ5ItT0X5xC8GKAZPU2vH72YsUQ9VAQSvfq5sz2HDW47ltAFvS7znzwjoKg7zRyWPHDWTr1obRM9DzeduwO1jTz02wg9dp9MvLWwyDoKr4a74SlMO8w4W7xQ4yI8MoZNvUtBzzzR0S48NPNbPFC7ADwf/P48GQCzOxqdA7yKwKi8/bIAPYynWLqb0aq9FbA0vV08N7xbzL48m74hPbQVFr0aaUs9LEwmu5NPJTxVvaC8zCpGPMIoEz35Neu8oKcuPNkpdz2dh4W8LUw2PErFTjxN6QY9rRqkPAPcVjxnDYo8Q0DAPKafJz0feb28a5UyvDbgWbvnSb08TZ8fPOdz3b3kaHo8XbKwOy/AWDxKibu8IIi5vIUtjb0LfSQ95VcoPYLeJLu2IBK93UGKvSwmKDyUiWU9rPCPPNBWBz31eVo8qQUuPYf5QrpyvaM8gBVXvcZC6jyduus8e1ktPQHeLboKsxG9EUiyvIveprwYF3I9xAy5us0Xmjzs2UC9YR/mvImho7yGA1E9U+AevYWJsrxDVjs89IQSvItezLxqfqq8EZZYvY42ST2ERRA86MGAu14vnj1w06k9rVLIPDvTuzu73pG9LeT2vKwwrLx9kzi9lH+iO4thhzz9OGA94utHPWIVSL25S/s8BXo6vUUQmLxz1xA97EADPUny2bstZKM70Md6PR4bN72RErQ68A/9PEF4jjy5hua8AafivIjwmjtl2ys9unuovCpIEL3Zby69rmBrPf7BpjtTeLo883M1PCEihj2AJC898/X5PAcUgT2aNhA98rSBvEJVFD1wJpc8FSPrO+T9ojuZryY9WtwOvSyFozyoNau5aaIpPdGaZrzJQk48/gvSPBkKezya7py8NMDSvDIzzbtgdeG8YLyFvLtfNLuvgE48X/z5vCVHAbxx9g88j0A+vBbQNrwICYS9EJdAPSpelTsHXFi79rDCvELQIz3Dg9E8mHs6vVedIbzLO8887ic2vUBJuDxphIQ8yPJYu/koUzyPcIu7PGZfPQ6UuLxQ1NS7359RPEHntrwBLbQ8mNgDvY4QAzzXBeu8v2rKvAQyUj2KsV+8ZG7DOy1noDwbuZW9Dk2PPFLH3Dw/sKw8DAafO166Jrw+orY9fcaoO+hCNr2xvmK9rxVuPKckoL1/ca48SLbsPJHlZLzHarY9r8KPvAxOmb0ptbi9Wj7hPEwWT7yPtc68sFLsvOeLizwzeII9fCQkPe94nbypor28MiYXPU+oJb0yGiW90vbcOy4NiT1+t8e71umJuzFsAj3UH/U8xO6WvG9nxbxk5369dFXGvED3oLs5xAE9CgFdvB7JCT3LsPU8m8qBPX1FiLxK9qm9jHKYPJGw0DwXnIe998IyvSuoQTsmU+87HUBRPefjNL3mEH49Inw1vU1AKrwuuni8+ryPOwCZabuwUZO6DKzwPLZmA73/wFS9K8EZPG9m1Lx/y+M8VwakvBxzBL0njpY8m/8aO7OUZrzt0MI8YdJQPUKBOT1LyjI7NIiIvNFcpry/eF09Wt6JvarbyDtwPRy8m6uevLKweTw82ZE7JUt2PFdyqTyQw6E6rr4TvcUb+7pe9Qu83uLrPNmXgj1zqda8oZ5NvEY8dL1heLY8+KQ3vfX2IrqMFlC7XptCunUlozyIuE48BTdOvVizAL3HGvs8j3OyPETHSjyFv1k9KpbxvccVQ73xKLi8SVuPPHGq6Dx7MqG8NkeqPFBRVDyt8dA8vUH2PEqDzzyVIkW8qdC1PC5Zu7wMiK88RpmDPYoLQzwgTia8Bu8nO9Zs47vBrXy9jLoDvWSd1DyuxKs8maHmO3EWaTugd/O8v0TIPOXZa71aF6g85lwSvYAdY7zAU2O6VuvQvI5JAr2MBtu8J4X9uxIDgz139Qc9AHvNPMEk/Twi1qG8mV2ovT1aFTxVQKg8W0+sPGoyp7zv+iq9BgzHvEpndLxW9vY7XSexPJjnNLy421A9U6wNvbCz+TuzEyu9GE0jvLTmjT3YODo9"
}
