bundles/spark/kbs/soar-playbooks/entries/pb-prismacloud-pcr-azure-sql-database-misconfig.json
{
  "id": "pb-prismacloud-pcr-azure-sql-database-misconfig",
  "title": "Prisma Cloud Remediation - Azure SQL Database Misconfiguration",
  "category": "playbook",
  "content": "This playbook remediates the following Prisma Cloud Azure SQL database alerts.\n\nPrisma Cloud policies remediated:\n\n- Azure SQL database auditing is disabled\n- Azure SQL Database with Auditing Retention less than 90 days\n- Azure Threat Detection on SQL databases is set to Off\n- Azure SQL Database with Threat Retention less than or equals to 90 days\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (PrismaCloud, xsoar-supported).\n\nInputs — policyId: Prisma Cloud policy Id..\n\nIntegrations/scripts used: Azure SQL Management, IsIntegrationAvailable.",
  "raw_yaml": "id: Prisma Cloud Remediation - Azure SQL Database Misconfiguration\nversion: -1\nfromversion: 5.0.0\ncontentitemexportablefields:\n  contentitemfields: {}\nname: Prisma Cloud Remediation - Azure SQL Database Misconfiguration\ndescription: |-\n  This playbook remediates the following Prisma Cloud Azure SQL database alerts.\n\n  Prisma Cloud policies remediated:\n\n  - Azure SQL database auditing is disabled\n  - Azure SQL Database with Auditing Retention less than 90 days\n  - Azure Threat Detection on SQL databases is set to Off\n  - Azure SQL Database with Threat Retention less than or equals to 90 days\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 61bee172-14d4-4a48-815c-913b49bef800\n    type: start\n    task:\n      id: 61bee172-14d4-4a48-815c-913b49bef800\n      version: -1\n      name: \"\"\n      description: \"\"\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"15\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 630,\n          \"y\": 0\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: 1abd9220-e39e-4206-8aa3-dba2695c7f4e\n    type: title\n    task:\n      id: 1abd9220-e39e-4206-8aa3-dba2695c7f4e\n      version: -1\n      name: Done\n      description: \"\"\n      type: title\n      iscommand: false\n      brand: \"\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 630,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"5\":\n    id: \"5\"\n    taskid: 3b40741f-1c37-47df-8aad-4ff5fcd4d029\n    type: condition\n    task:\n      id: 3b40741f-1c37-47df-8aad-4ff5fcd4d029\n      version: -1\n      name: Execute remediation\n      description: Execute the appropriate remediation task using the Prisma Cloud policy Id.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"10\"\n      auditPolicy:\n      - \"12\"\n      threatPolicy:\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: auditPolicy\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.policyId\n            iscontext: true\n          right:\n            value:\n              simple: 96b1b8e3-6936-434f-94ab-a154cd5967d9\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.policyId\n            iscontext: true\n          right:\n            value:\n              simple: fa6fa903-8887-49dd-917f-91687df98dd1\n    - label: threatPolicy\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.policyId\n            iscontext: true\n          right:\n            value:\n              simple: 8f7eee48-dffb-4f18-9207-8ea48680b0e2\n        - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.policyId\n            iscontext: true\n          right:\n            value:\n              simple: c83a7b1d-ac74-475b-80fe-b1244daa1b27\n    view: |-\n      {\n        \"position\": {\n          \"x\": 900,\n          \"y\": 330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"10\":\n    id: \"10\"\n    taskid: aa685f71-f2a6-4079-8553-11774b7be594\n    type: regular\n    task:\n      id: aa685f71-f2a6-4079-8553-11774b7be594\n      version: -1\n      name: Manually update SQL database settings\n      description: |-\n        1. Log in to the Azure Portal\n        2. Go to SQL servers\n        3. Choose the reported each DB server\n        4. Under the Security section, Click on 'Auditing'\n        5. Set 'Auditing' to 'On'\n        6. Select 'Storage' and click on 'Storage Details'\n        7. Configure 'Retention (days)' setting to greater than or equal to 90 days\n        Note: The default value for the retention period is 0 (unlimited retention).\n        8. Click on 'Ok'\n        9. Click on 'Save'\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 840,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"12\":\n    id: \"12\"\n    taskid: 273fe351-27f0-481f-83ab-524a1bcd91c4\n    type: title\n    task:\n      id: 273fe351-27f0-481f-83ab-524a1bcd91c4\n      version: -1\n      name: Auditing is disabled\n      description: \"\"\n      type: title\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 290,\n          \"y\": 500\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"15\":\n    id: \"15\"\n    taskid: 5505c422-1127-43cb-82d0-017fe3e729e1\n    type: condition\n    task:\n      id: 5505c422-1127-43cb-82d0-017fe3e729e1\n      version: -1\n      name: Is Azure SQL Management integration enabled?\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"5\"\n    scriptarguments:\n      brandname:\n        simple: Azure SQL Management\n    results:\n    - brandInstances\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 630,\n          \"y\": 160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"21\":\n    id: \"21\"\n    taskid: d94edb5a-d5dc-439c-80b0-ed661cb922d9\n    type: title\n    task:\n      id: d94edb5a-d5dc-439c-80b0-ed661cb922d9\n      version: -1\n      name: Threat Detection set to off\n      description: \"\"\n      type: title\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1350,\n          \"y\": 500\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"22\":\n    id: \"22\"\n    taskid: c19af503-7e18-4879-874b-f84f1102467c\n    type: regular\n    task:\n      id: c19af503-7e18-4879-874b-f84f1102467c\n      version: -1\n      name: Enable auditing with 90 day retention\n      description: Enables the database's auditing policy with a 90 day retention.\n      script: Azure SQL Management|||azure-sql-db-audit-policy-create-update\n      type: regular\n      iscommand: true\n      brand: Azure SQL Management\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      audit_actions_groups: {}\n      db_name:\n        complex:\n          root: incident.labels\n          accessor: resource\n          transformers:\n          - operator: ParseJSON\n          - operator: getField\n            args:\n              field:\n                value:\n                  simple: name\n          - operator: substringFrom\n            args:\n              from:\n                value:\n                  simple: '/ '\n      is_azure_monitor_target_enabled: {}\n      is_storage_secondary_key_in_use: {}\n      queue_delay_ms: {}\n      retention_days:\n        simple: \"90\"\n      server_name:\n        complex:\n          root: incident.labels\n          accessor: resource\n          transformers:\n          - operator: ParseJSON\n          - operator: getField\n            args:\n              field:\n                value:\n                  simple: name\n          - operator: substringTo\n            args:\n              to:\n                value:\n                  simple: ' /'\n      state:\n        simple: Enabled\n      storage_account_access_key: {}\n      storage_account_subscription_id: {}\n      storage_endpoint: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 290,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"27\":\n    id: \"27\"\n    taskid: e1c3197a-b812-40b0-83b8-4b002703fd6a\n    type: regular\n    task:\n      id: e1c3197a-b812-40b0-83b8-4b002703fd6a\n      version: -1\n      name: Enable threat detection with 90 day retention\n      description: Enables the database's threat detection policy with a 90 day retention.\n      script: Azure SQL Management|||azure-sql-db-threat-policy-create-update\n      type: regular\n      iscommand: true\n      brand: Azure SQL Management\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      db_name:\n        complex:\n          root: incident.labels\n          accessor: resource\n          transformers:\n          - operator: ParseJSON\n          - operator: getField\n            args:\n              field:\n                value:\n                  simple: name\n          - operator: substringFrom\n            args:\n              from:\n                value:\n                  simple: '/ '\n      disabled_alerts: {}\n      email_account_admins: {}\n      email_addresses: {}\n      retention_days:\n        simple: \"90\"\n      server_name:\n        complex:\n          root: incident.labels\n          accessor: resource\n          transformers:\n          - operator: ParseJSON\n          - operator: getField\n            args:\n              field:\n                value:\n                  simple: name\n          - operator: substringTo\n            args:\n              to:\n                value:\n                  simple: ' /'\n      state:\n        simple: Enabled\n      storage_account_access_key: {}\n      storage_endpoint: {}\n      use_server_default: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1350,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"15_3_#default#\": 0.1,\n      \"15_5_yes\": 0.55,\n      \"5_10_#default#\": 0.65,\n      \"5_21_threatPolicy\": 0.62\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 945,\n        \"width\": 1440,\n        \"x\": 290,\n        \"y\": 0\n      }\n    }\n  }\ninputs:\n- key: policyId\n  value: {}\n  required: true\n  description: Prisma Cloud policy Id.\n  playbookInputQuery:\noutputs: []\ntests:\n- No Test\n",
  "product": "Cortex XSOAR",
  "pack": "PrismaCloud",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "cloud-security",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "2I6RPQ6D3jxfr0a9RjT+O5ogAD0RLr67Vg7IPDkI77yBdgy9/UzNO6TDPrpWKSg9S7lZPZ3rPbx1gBI7sf71vEYW8jwSF/M8bOT7u4FfVTwRgzi95vkYvPNjk7z4u0g7R2qHO0Clp72JtE48iShxvGrGp7yGLtO79EL+OzKUPbsv1ZQ8JssBu7dwh715/OC8aQ7mvM/ViDx9rQ69lQs1vEGkp71wsYI8pFApvF0CJD1J6JQ88m2AvBuLrL1tOVc8NfeNvVXZIDyoLRc9ahE+uuiulb2J58m7/ViTvAmjmb1Tr0C9ktqIvTjUxbz3DFm8B2uWPFPwsbyveBy7A2g7PB/PUz31LCG85OpKvAvlE72Qpeu8MIMbPS7hrTpsYZY9gdtMOzl8vjvkSoY7oEo7PDW1WD2Knhc9NSRbPKJL5DzSBDM89WRUO683JD3pEhQ9uvTZvFp/p7zZHp08BGqbvcdNIbyiqoC8gqdmPVobl7w6DhK6zf8fPY//4T324q88lCT7vISbx732UtA8iT4OvPjq9zzMT2g8k3VPPD2rpLwh6q08PfsMPPLbfLz/KPC8C559vRg397w7JLW6rjWgPNYTXj3qtUg9kXDWvGEksDxBGhq9eQOru1xOH7zRPmu8uVEFPbLDhj0dsAw8SqZTPYT5ST0F5mw9yL8GvHhRAL3Wl5m85iIsOwsZPzuJH9g6rTw1PLxABrt2lZG8rH0VPVchaj25Bqi8pOFoPO2P2ryrPWe9nEdKPI7esr1OpIm81QnmPA+soDoQp+08cZymPXj4FruTSBS8pCmNvJjG87y9DAg8VO+Bu0qVizs4H4M7H9L/vIunqL0VIJI8K4LjvOs5ELyu03K9lriEvP5LHD0eelC7ctxSO/Y1Qr28Q/G82q8LvZdwDT3+UC08bkbWvCITBb3c8jG9mT0LvUyjgj3ZSs88H+tCvQNtV7sgCzm9mIA0PUo/jbzprg47IJupvS5TcD1cP508TxrDPN87obxghHK8jL/WPP0XJrx3HF87XplqvQDiHT2ALwO9yOONvOaH3jyDxuw8444LuyJ7hrygvnE9Wq3jPN4StDwtKb29uDeqvRYgqzyUxZi9ctL5vDo07DugFIi7urE+O8b4xDxlw9M8QGKQvHGqbzyCHxe90CyFPY5EMT1Ctas9nR+gvO0PrjyLVWK81u49vJexNbuIPOG7L2wSPYr1rL2iwn89/0OPvVsIjL3UO3U8LbPRPdbmobuq6/88+8ebvLAcFT0ONik9s99FulJED70pD4E8bIsJvbRsuTydJ2886kDkPNnP8jwm1kW8SKChPOK6bjzJAJg9lE1DvbVhi7zDxTO9t7ZjPCRe77v6kjg8pVAZvOVv5zv/WDk7ircLPMb7Mb1yJ149+nXavMy7C70k9GG9JM0SvbHkb73xfF+9IlAqvMNzoTweWQM8pL6ePMwe9Dy8Jem8fPe0u7TRebz1X7C7cNK4vMKQQD1PyBO99VJvvY1oAr3Lp9W8JssPOcuFK7wFIya8hMSxvR9Lq7x4y4C9/5eWvE3AML2lkBs9naijPJv0UjwKFYK9OBPiPLJ3tTmoCWk9awmvPTcJnbwpthi9D/I3PAbLnzwo70W9ljIxPdR/tLz4MLk6Nt72PNksujyRN+K8vwndu08/Nz0xVgk7qjguOZf5OrsOX029aoyhvA4nwL1I9wa8qDsdvGpr3zqoqAW9yPoFPQEmy7zGxrU9mHP1vMhi4TtCyK68R1d1vd0cXL0tbRu6/RXaPLIBWD2oIBA8owfbvIQzFbw3exk8rx+NvcrN+rkS76A9Z9a5u0mWXDtXtjk98roJPW2h2rwnsC+9zlL7u84Umz31VTW96k6yPZQjxz3kaRI86W5lPDpdHrwG5k483/8uvPlPRb0J+aG8KovJvB0axLtTsaS7axWuvN9EvTxx7Ay8NomiPDXp7Lta93e8pcNqPWL/6zwo+xg8SvxmvUwaaLxbP2q9aZvivN12MLy7icQ8M6mQvRm6PL25Sac8MQ/ZOjnonryk1Ra8JeYFvXGX8rzn1B49lIvavC2BLz34tJ277ohsvCSd0rqQdI28Gbn/vN2DyD3P4d08k6YtPZeRnLyJtbq8zWRtvGLYXj2g64A983AZvfmM2byTSGS9E+FYPJPdgb2Wp/s88P6gvLf8iLuz5/c8qkbsvPmFgzzgd4w4J2WlOyVFcrvMYCw7Lq/DPBkfmztf41g8I7T9PLs9YTyjk1w851uxPE8oJT2SI0W9VNrrO0eGtTt4GIe9lsGpvO5IMjwezJy7miWXPJUq8rxtsgc9apiou15cq7xDiuC7IUukvABJGz3v9V29Pt4DvfB/Dz3Gqp48tUBOPaZuWz2Akh08siKxvFsItjz4S008kVFkPc3J+Tynido79w3EvIAW8LxAvR+8Wfcbvc9x0b3UkQo9BUt8PMt8ObyCnU+9LX4sOLIleL3vWtY8voN5PNnWvrx3kCG9QV2hvW5lhDtyYFA9MgAyPB3bLz0K+g+8mhDZPAbGhTy98Fw8WZSMvabNIzu5dyE9MNH2PHfUljxFGEa8a1huvGTrKbys2BS992QZvO1CDT3ynxO9OR8+uyXSTb3wvCI9f28IvSinZr0vxzy98Km4vKRLD71sZmk7JsdkvfBq7DsR1Rm9pIepvOMy4jxLkRs9GSOfPagchDzBY3i9m3OavPT1ozyh4ym9wXTju9HxCjw43349jTOjPTqHH72TclQ93ZWmvGgOBb3+bpa89UXfvFTAabuQbIG8rfflPPUrKr1HsF66LvjEPDKmirunb1k7uW4LvY2p1LxqCG04DimKuzAc3ry3JVW85EHLPGobEz0TWj08Ila0vILyCj0VNCY9DjoyPBRMOj0yzwE9/Rg/PSAmKDzxFgA9L8NwOx/taj1JMkI9C/ZyvJzloDxKRFe7hQWBPX/Xar29+K+8zXGuPJYVyjztQ0M8m8BSvR1VoTr0K0m8P3CEu+GZP7yQTqo8ArGhvGLNMjv491Q7qTt8vceuJ70evsC852cxPRhTPD01A0m8uQfAvFakSjwpsLA8LyxVvaEpozxRPGS9NCSuvM9/yruUPG+8ULUxPOGJNzuBekK7qCYMPeBsmzws6/m8XrI3u5w1I7zWXZi6EFDcvbh0/7zs4cy7LB7WvJHwNj0pu9s6yUfnO0ru2jxmSIa9n/GwPCNMSz1q4OO7yUcTu97xnLzy75M98GGVO5yEgb05IFa9YNbSvJ1BTr1ecvG82ojTvDfKELx6O4o9adSVvLMBIL3riom9j4DPO19Lir2ACmi7iiUmu66DTzwIe289c8uVO76K6bw3bVg7cFyDPUydBr2t28O8f5TsO1VHTz0e5Q090DF2uztkqTxBvts81MGovEHhNbyZE6e8ipjrPMubZD02bIi5hOLnvDZ+Aj0qrLA7xURiPVnYebyI6o+9p+eiPUS2nT2kuVq9JKAmvc+DbrwXzPU8PI67PYooTr0eOSU9iNQNvUhvEb1fHh48hsj+vKI6CTvNeIq9hGbSOsdIHL2COYa9YhY9PGjweL0wvvg896YKvROrbr0l+QA9S03JPFlZHrz3xzE8hNq4PFtWmTtQYai8JX39vFubqjxozP88lNcIPSRSBLqqPhy8P7QZvepnnjw5qti8FH4LPcBTVrw27k+7eMdAvdVMebxEHQC9ZNoNO9iNbz20Pzs8dmkkPCaVXjxuGSE9ebiAvNI2KTpec4M6VWZ+uyFrFD3XvXC86q36vNxU6ru5Sw899lLVvL4ShjvH2/Y8OMgAvpO2lzwQjoe9EwkwPSZ31zss28s8tgBDPOD8j7zGXQS9RMu+PL9jIzxv+We8sLYQPS8yML3gIfQ8/XaAPUnJoLzJJGU8extmPNIAnjxBjym9vfVovSAdBT1J+4k9UY0svYa1rryAvAS7tT3eu2GppLw2rAG9ynD0vAG6MLxxM3a75UKXvXPfgr08d7Q8IXf2vDh4Mz2xxQE8dR70PLA3jjwcmZS9Mrt8vSLmvLvA0aA8prwzPbr3k7sM/6+7yYUJvZfYv7w8GJg8AsTBPGkx1btTiDY9+DFrvIVrxjpSvbG8j9rQvLIDGz2rz6Q8"
}
