bundles/spark/kbs/soar-playbooks/entries/pb-prismaaccess-prisma-sase-create-address-object.json
{
  "id": "pb-prismaaccess-prisma-sase-create-address-object",
  "title": "Prisma SASE - Create Address Object",
  "category": "playbook",
  "content": "This playbook creates new address objects in the Prisma SASE Object section. Those objects can be used later on in other objects such as Security Rules.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (PrismaAccess, xsoar-supported).\n\nInputs — IP: The address value (should match the type); TSGID: Tenant services group ID. If not provided, the tsg_id integration parameter will be used as the default.; Folder: The configuration folder group setting.\nThe default value is 'Shared'.; AutoCommit: Possible values:\nTrue -> Will commit and push configuration.\nFalse -> Manual push will be required.\nElse --> Will ignore the push section and continue the playbook.; Type: IP Netmask (value: ip_netmask): IP address or a network using the slash notation - ip_address/mask.\nIP Range (value: ip_range): Range of IP addresses using the notation ip_address-ip_address.\nIP Wildcard (value: ip_wildcard): IP wildcard address in the format of an IPv4 address followed by a slash and a mask.\nFQDN (value: fqdn): Domain name.; limit: Default: 50 \nThis input controls the limit size for the get IP objects command.\nThis will help to avoid object duplicates in the systems..\n\nOutputs — PrismaSase: The root context key for Prisma SASE integration output.; PrismaSase.Address: Created address object.; PrismaSase.Address.description: Address description.; PrismaSase.Address.folder: Address folder.; PrismaSase.Address.id: Address ID.; PrismaSase.Address.type: Address type.; PrismaSase.Address.address_value: Address value.; PrismaSase.Address.name: Address name..\n\nIntegrations/scripts used: prisma-sase-address-object-create, prisma-sase-address-object-list, prisma-sase-candidate-config-push.",
  "raw_yaml": "id: Prisma SASE - Create Address Object\nversion: -1\ncontentitemexportablefields:\n  contentitemfields: {}\nname: Prisma SASE - Create Address Object\ndescription: This playbook creates new address objects in the Prisma SASE Object section. Those objects can be used later on in other objects such as Security Rules.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 73e9f923-ee52-4693-8196-f6a4c7b5cb0e\n    type: start\n    task:\n      id: 73e9f923-ee52-4693-8196-f6a4c7b5cb0e\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 5adacab1-a4cf-41aa-89b8-25cde871a6f0\n    type: condition\n    task:\n      id: 5adacab1-a4cf-41aa-89b8-25cde871a6f0\n      version: -1\n      name: Is there an IP?\n      description: Is there an IP?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.IP\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 250\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: df5b80e3-9932-4be1-8b87-4c7177ec2891\n    type: regular\n    task:\n      id: df5b80e3-9932-4be1-8b87-4c7177ec2891\n      version: -1\n      name: Get IP objects\n      description: Lists all addresses objects.\n      script: '|||prisma-sase-address-object-list'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      folder:\n        complex:\n          root: inputs.Folder\n      name:\n        complex:\n          root: inputs.IP\n          transformers:\n          - operator: uniq\n      tsg_id:\n        complex:\n          root: inputs.TSGID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 690,\n          \"y\": 430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 060c4380-0f99-4a04-8338-c44b6cbdaa4b\n    type: title\n    task:\n      id: 060c4380-0f99-4a04-8338-c44b6cbdaa4b\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 1500\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 5f4a9cd4-8f7b-4170-800d-bc9ee601c150\n    type: condition\n    task:\n      id: 5f4a9cd4-8f7b-4170-800d-bc9ee601c150\n      version: -1\n      name: Do the IPs exist?\n      description: Do the IPs exist?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: notIn\n          left:\n            value:\n              simple: inputs.IP\n            iscontext: true\n          right:\n            value:\n              simple: PrismaSase.Address.address_value\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Type\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 690,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 9b9c246e-2b37-422b-81c4-cdc836d6b1d2\n    type: regular\n    task:\n      id: 9b9c246e-2b37-422b-81c4-cdc836d6b1d2\n      version: -1\n      name: Create new address object\n      description: Create a new address object.\n      script: '|||prisma-sase-address-object-create'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      address_value:\n        complex:\n          root: inputs.IP\n          filters:\n          - - operator: notIn\n              left:\n                value:\n                  simple: inputs.IP\n                iscontext: true\n              right:\n                value:\n                  simple: PrismaSase.Address.address_value\n                iscontext: true\n          transformers:\n          - operator: uniq\n      name:\n        complex:\n          root: inputs.IP\n          filters:\n          - - operator: notIn\n              left:\n                value:\n                  simple: inputs.IP\n                iscontext: true\n              right:\n                value:\n                  simple: PrismaSase.Address.address_value\n                iscontext: true\n          transformers:\n          - operator: uniq\n      tsg_id:\n        complex:\n          root: inputs.TSGID\n      type:\n        complex:\n          root: inputs.Type\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 940,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 886727fa-b66e-4ebf-8b4e-c31e425ec809\n    type: regular\n    task:\n      id: 886727fa-b66e-4ebf-8b4e-c31e425ec809\n      version: -1\n      name: Push Config\n      description: Push the candidate configuration.\n      script: '|||prisma-sase-candidate-config-push'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      folders:\n        simple: Remote Networks, Mobile Users, Service Connections\n      tsg_id:\n        complex:\n          root: inputs.TSGID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 940,\n          \"y\": 1325\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 471f2e7b-835f-432f-8cbb-1076304e23a6\n    type: condition\n    task:\n      id: 471f2e7b-835f-432f-8cbb-1076304e23a6\n      version: -1\n      name: Commit and push configuration to folders?\n      description: Commit and push configuration to folders?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      Auto Commit:\n      - \"6\"\n      Manual:\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: Auto Commit\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.AutoCommit\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n          ignorecase: true\n    - label: Manual\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.AutoCommit\n            iscontext: true\n          right:\n            value:\n              simple: \"False\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 940,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 0bb91649-69cd-4eff-8741-15f147c5f3f4\n    type: condition\n    task:\n      id: 0bb91649-69cd-4eff-8741-15f147c5f3f4\n      version: -1\n      name: Choose to commit and push configuration automatically\n      description: Choose to commit and push configuration automatically\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      Push:\n      - \"6\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 710,\n          \"y\": 1150\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n      replyOptions:\n      - Push\n      - \"No\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_3_#default#\": 0.14,\n      \"4_3_#default#\": 0.31,\n      \"8_6_Push\": 0.39\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1445,\n        \"width\": 870,\n        \"x\": 450,\n        \"y\": 120\n      }\n    }\n  }\ninputs:\n- key: IP\n  value: {}\n  required: false\n  description: The address value (should match the type)\n  playbookInputQuery:\n- key: TSGID\n  value: {}\n  required: false\n  description: Tenant services group ID. If not provided, the tsg_id integration parameter will be used as the default.\n  playbookInputQuery:\n- key: Folder\n  value:\n    simple: Shared\n  required: false\n  description: |-\n    The configuration folder group setting.\n    The default value is 'Shared'.\n  playbookInputQuery:\n- key: AutoCommit\n  value: {}\n  required: false\n  description: |-\n    Possible values:\n    True -> Will commit and push configuration.\n    False -> Manual push will be required.\n    Else --> Will ignore the push section and continue the playbook.\n  playbookInputQuery:\n- key: Type\n  value: {}\n  required: true\n  description: |-\n    IP Netmask (value: ip_netmask): IP address or a network using the slash notation - ip_address/mask.\n    IP Range (value: ip_range): Range of IP addresses using the notation ip_address-ip_address.\n    IP Wildcard (value: ip_wildcard): IP wildcard address in the format of an IPv4 address followed by a slash and a mask.\n    FQDN (value: fqdn): Domain name.\n  playbookInputQuery:\n- key: limit\n  value:\n    simple: \"50\"\n  required: false\n  description: \"Default: 50 \\nThis input controls the limit size for the get IP objects command.\\nThis will help to avoid object duplicates in the systems.\\n\"\n  playbookInputQuery:\noutputs:\n- contextPath: PrismaSase\n  description: The root context key for Prisma SASE integration output.\n  type: unknown\n- contextPath: PrismaSase.Address\n  description: Created address object.\n- contextPath: PrismaSase.Address.description\n  description: Address description.\n- contextPath: PrismaSase.Address.folder\n  description: Address folder.\n- contextPath: PrismaSase.Address.id\n  description: Address ID.\n- contextPath: PrismaSase.Address.type\n  description: Address type.\n- contextPath: PrismaSase.Address.address_value\n  description: Address value.\n- contextPath: PrismaSase.Address.name\n  description: Address name.\ntests:\n- No tests (auto formatted)\nfromversion: 6.8.0\nsupportedModules:\n- agentix\n- xsiam\n- edr\n- cloud\n- cloud_runtime_security\n",
  "product": "Cortex XSOAR",
  "pack": "PrismaAccess",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "cloud-security",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "GHMOPSpw4Dw1zI69QNuqPJeSYz32CM+8vUU8PUQbI70sAYi87qoWPHCbWL0+W1g9QHUnPZcLzDpsKJy7oGQ4vYRWhT2jXAU8InrEvEHZxzxJm1C9dBzKvCa0BL0iELs7jzYzvFr19LxJvNQ8eop4PE/pBb2X/567iBlvPPA1sDyAhIE8HwiaPBmiIL0myTG9923fvFDUrLtw+I440mnpupArjb0CsL88O+RJPFIHGzxQSjC8JdBHvcgD8Lv9tyw9eLJvvfMp7TwhjhQ9LWynvKpzXr2Z+N88YY92OvenOL0517O86JGNOZGPBLvNGwE9wN46vNbcFb3KLlc8um2BPH0Gdj15HJc9FhgHu1ogCLzVbru9XIDiPb/0J7yZhMQ9pNMWvd+92Lx9HVE5AeimO17YpzykY/w7bIp/PMLKlD3fRNc8bAOMO3LcLT2CAgi9oLsrvdXxezzrYbg8D0o4vYFqGL3YJqk8Zl/cPZN/pLsqxhi8ybRnPZ5Acz1Wj4U80JbLvQSpAb6wUWU8wXl6PEsE8zyGzQg8+7VPu9IaPr1lcGS70MHuPPRMQrw5s6q9Kn7svNKniTt/xU082gbJPGf9Vz29MH89Sa1AvQLlYTtYnvY8lTFOPH3ACTqmiR+8ClsjPRadez1tkck77HtOPRD2sz1tSb89PjEuPA7uQ7268Jm8PUubPNclKD0Qu0e89iNFvHXzQryPCMe82bhzPJcYbj0Vs827TPPDPCkGEbwEszy8sPLduqoMtb1Q1AK9HFEmPUtGmrufUHk9KHugPbC4Frx30rg7PmUovKdUFbx2lvu8bIC1PHffN72rJXc8+Dj8vB2Bz70vP7y8J0RgvYyNxDsKpxO9vFBFvdrDGj28oFy80ocTvNZxhbyFokw7bZQfvO4v9DyeJAu6qC7QvOefMr1qn5Q8Op1BPEGvJj2djNO7iWGivL7TsLyY+rm8/2iUPRQ2Hz0Jiiu8jRmovT51gT04duU8ZQa0vBEMJD2ac528+MCaPGeXyTyiaLK8voQZvSZ9CT2v1NC8oC+hvDT2FzwS8UO7YooYPQxREDudNrY9ByHSvImUx7tcMMG9Zh13vUl7TzuSiiO9ikVUvRMXZ7svTHO8syWVPIAiqTzF14q8ytY1vatlrTs5YgE9zrnEPIQQ2zxwfsk9c78LvYGe8jwNQRu7vWYSPBvBMDz2u9e7nXdePa8fj70b/Gg9RW8gvFV+zb1BOQ68lm0OPfNow7x8jMc8Ar2BPKlfWj1WdKY90HgXvRsFj71WbgU9X+vzPDmsSz3ZMpW8PkQKvZ5/QT1/2fW8GZE6PWiGNLsvCKo7yA6OvaKWIb1OTDy8LK+pvFPdrTuT3Gc8s0yKvBFfsbtMo6q8UOZAvQkPzbzDYD09wA4UvGAC5roNfIC98dqnvEU0hr3Dw4a8zEIlvaZ5QzzfooS8fBssPfg80TzWMIe9YVeZu6Tu6rwJJYo8PSd7veAm9jy5J4G9ksnJvdh3Mb3zuDW7agauPI3zn7wTpwA9QWeJvSWxLb2cnIS7aFj9vH4G17wepwI9kDUGPVSjS71GrnW9LpA1PU4j9zy31IQ8E3FnPbo/r7wv1Mk7oCsmPRICOT2uLmy9LWs2PahJ97yOAS47xt2CPEWy7ruPQ++8b8f5u4A55jsE8Z88jsaovMXFnLvJEhS8dtSFvIxpC76xM9W8aCesvLhyYLx2MFq8Ejb4PMXhCzx4pD89x1csvEPSLLoKDeG79bdevdZUTry3EJu82lxjPDgFxDy+mgc7DxT5vIJBRzxKcmc9o2sWvbtTtDxkgZY9t6HgvIUewDwaQAI9C/IPPaRitbzXFG68goIFPE/yhzs1+GI7WspGPTWfJz12H3s7zRSOPUooi732g+o8XgKOuwqjRzyVNcm8K69EOy6OlrzolzK8o+YavNBp1zzQXI88+4xbPZx1Br2y72290gpGPa0wajw0t+i7Szw/vdAHBbw3Q1g8QePfvKq0sTzeWhc9o8NCvPRwjrz/twG9nIoDPM4m+Lz855W8GDGDvDGCMr36vuI8mPUevX3ztT0oNfG8yWnQPDWrDzyK0QK9wmvmvCSXuj2xbe48BZeqPaZXHL0e4yC7aIb1u4VqjT39RwM97tOkvLqmizn+YIG9S2KFPPOSSL1k2zU9MKs8vNldfzwGxas8JuD+vK6SFjrqdT+64U4IvAf+V71M2VQ8BfYoveTbuTxdw5W7ZiE3vJaT4bnyYEc9xCyQvKUU4Dv+N0K8VYoFPYZ69bq414C9T0FcvRDg/7lY1aE7wargPH2cMDv71ZQ8EUmLvKkwujzdTYC7jSlDu4IHzTxo24O88XPqO6b3gT2Rc708yyULu9OyST0JpDo9HrwFvYEJRztDekS8nzZEPYgt7Ty+ccE8jZAevdaNkbzvl+68BAgbvTK7ur1f1BI9dagFPUtHBLx7Aau6PR9GPKV/E70+qbq85SEIPT/TVLzesw87wIA0vUKP5rtqVG89KXwjvCAdUD2FGTE8VoMaPRJ3lDzGxJU8n7OCvcMXirutt+c8g0mOu42gqTztVAG9SpSQvCZhsLzH1J08JTmvPOORUD0eHhu9MIaYvK8VzLyXFiI9dV6YvFGCJ72WX4a8CNdVvQ/DEr3xyRm82CufvU2pZDu0hEU8gZwDvTvKwj1rd689+d3QPBzj0zoBazK8k9o6vaorkzxHrVm9yJatvIu4bjzSMVg9qLM7PfQVr7yjjhs9Mm3Buk1/Rr0G5XI7zdruO2z2SL29k/w8H19KPW8gjb0AZ/Q6cYGxO/aINLyotBk82UmivBuCgjoVOcC8eBZBPNCUIr2o3h28JrkjPYUVZrragGU8DE2dvKCrfT1CFgw9U9/gu9wMaj2In/o8BX32PDg2F7x56OE8sskiPSsHHj1dLQ89xZ2xvDljNj37OTa8kZ1uPZQMi7w1Ly28SPIjvcoflzsbW187sA0avdG5bzxcnua83jLEO9DkNbzZhBg9f3Yuvdra2LwUoMg8ck/3vO7wxbxFiqC9wdwFPU34jDw960Y7IjYWO2fdHLzGaZ08J9ZeOzNOejumrQO9Ul/6uy4LgjykKq+8h5rxvAjxBDy6r/q7QSURPecJlDxOjMU7LL+FvMiLCL3nsUq7q5tGvWAPaLw6ZwG92YdbuiJYNT2EvxS9dimcPHVU5DzaTJq9XDaRPH01mTytyIi7QiEcvC2ckL3c4oE9GweavNa2n72E5h69wBABvevUDL27QqY8fZb3PDgMxLyCvE09fLwRveEpiryatGi9I5EWPd0hJb0hnAu9TWgLPYd+mjzeJyI9Bl+lPCkwOL0Hn9i6ULi6PDiDX7y8VRa9m98Evb0VaD2z5QA9jPpyvMylDD1GObY8ByoAvTduUbzd4wC9FXO4PIJ/9Tw/eQk9zheKvQG6RT1fA5I8uFHbO3mUYDyEomK9ZrhiPVSSBj0uwsW881sYvVCAuTweBIK85SdgPfSaM72yii89iY3TvFV34LzEdRU8/qNPuxAaGjt00kq9+xUGPQ1IC70wZeK9bFJLvNFEOL0q+bC8sFHyvJymx7yr86W8/ioBu3Fpo7xlULU8fbo2PTvtgT28ZuO8bqLBu8R1qzyLhiU93+nDO4/r+rwRk4c8tYulvLYOaj0Vj8K8KX+TPBwjLjy41Js7R1cyvIvnZbs4FzO8/IhlvEd5Jz0VOTq8kpCSPEum3Lwn+rk8+xiivN+EET1+jvk7AeBVvCFO0DyDPIM8HGDMvIF7S70siRK9RZ91OzF3jrpCk3U9HBOUvRTGQbwKG2e9V32UPLyjGj2LnQM9DeNxO3LHBjxMoTe8RrajPEpGzTvOB2k849VJPa085rzSwrI8m6zBPMy+2DxufJI76TvNPIB5eDqsqBm9qgOSPFxr+DvW6NM8YLxMu8Z3QryUjJS8w3AfvWaCEb2BPA+9UiEEvKp977zZigw8AnMpvdaRYb3hVf28Wb0SPEIIQD2bs8K7+M0QPXDuyzsOL928sKYKvfF6r7z/0AQ8tj4bPIOQBbvZl487ziNjvEkeOr2FZVs9Q/m3O8S3PLynvRQ9UQMvvIGaKL2ntYS94rnZvOZfmD0DXMA7"
}
