bundles/spark/kbs/soar-playbooks/entries/pb-qradar-qradar-generic.json
{
  "id": "pb-qradar-qradar-generic",
  "title": "QRadar Generic",
  "category": "playbook",
  "content": "The QRadar Generic playbook is executed for the QRadar Generic incident type. It performs all the common parts of the investigation, including notifying the SOC, enriching data for indicators and users, calculating severity, assigning incidents, and notifying the SIEM admin about false positives.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (QRadar, xsoar-supported).\n\nInputs — Enrich: Determines whether to enrich all indicators in the incident.; OnCall: Set to true to assign only the user that is currently on shift. Requires Cortex XSOAR v5.5 or later.; SocEmailAddress: The SOC team's email address.; SocMailSubject: The subject of the email to send to the SOC.; SiemAdminEmailAddress: The SIEM admin's email address.; UseCalculateSeverity: Determines whether to use the Calculate Severity playbook to calculate the incident severity. If the playbook isn't used, the severity is determined by the QRadar magnitude value.; SiemAdminMailSubject: The subject of the email to send to the SIEM admin.; UseCustomSeveritySettings: Determines whether to use the default mapping in the QRadar generic mapper to set the XSOAR incident severity, or set the severity using the FieldToSetSeverityFrom and ScaleToSetSeverityFrom playbook inputs. Any value other than false is considered as true and causes the playbook inputs to be used.; FieldToSetSeverityFrom: Specifies the field to use for calculating the incident severity, for example the severity field.; ScaleToSetSeverityFrom: The range of values of FieldToSetSeverityFrom is 1-10. The XSOAR incident severity field value range is 0-4 where\n0 - Informational\n1 - Low\n2 - Medium\n3 - High\n4 - Critical\n\nThe scale translates the value of FieldToSetSeverityFrom to a valid incident severity value. The default scale is 1,1,1,2,2,2,2,3,3,3 \nThis means that values 1-3 of FieldToSetSeverityFrom are translated to low severity (positions 1-3 in the scale), values 4-7 are translated to medium severity (positions 4-7 in the scale) and values 8-10 are translated to high severity (positions 8-10 in the scale)..\n\nIntegrations/scripts used: AssignAnalystToIncident, GenerateInvestigationSummaryReport, send-mail.",
  "raw_yaml": "id: QRadar Generic\nversion: -1\ncontentitemexportablefields:\n  contentitemfields: {}\nname: QRadar Generic\ndescription: The QRadar Generic playbook is executed for the QRadar Generic incident type. It performs all the common parts of the investigation, including notifying the SOC, enriching data for indicators and users, calculating severity, assigning incidents, and notifying the SIEM admin about false positives.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 08854949-08a5-4873-8f01-b3935c78675f\n    type: start\n    task:\n      id: 08854949-08a5-4873-8f01-b3935c78675f\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"33\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": -1920\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: a04c8331-e7c5-4107-8605-b6ee82d4639d\n    type: condition\n    task:\n      id: a04c8331-e7c5-4107-8605-b6ee82d4639d\n      version: -1\n      name: Should indicators be extracted and enriched?\n      description: Checks whether the Enrich playbook input is set to True.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"3\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.Enrich\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n          ignorecase: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": -1105\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: c74d18c6-9939-4701-828f-149cddba2b8d\n    type: title\n    task:\n      id: c74d18c6-9939-4701-828f-149cddba2b8d\n      version: -1\n      name: Start Remediation SLA Timer\n      description: Assigns a random analyst to this incident.\n      type: title\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"28\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": -110\n        }\n      }\n    note: false\n    timertriggers:\n    - fieldname: remediationsla\n      action: start\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: aca20665-33d5-4e20-866b-0b8f73cd90fc\n    type: title\n    task:\n      id: aca20665-33d5-4e20-866b-0b8f73cd90fc\n      version: -1\n      name: Enrich Data\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"9\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 562.5,\n          \"y\": -920\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: e3efbacf-f8e3-4291-8ab7-459037ce9a64\n    type: collection\n    task:\n      id: e3efbacf-f8e3-4291-8ab7-459037ce9a64\n      version: -1\n      name: Manually review the incident\n      description: Manually review and investigate this incident.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"20\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 395\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: false\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Investigation Notes\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Investigation Notes\n      description: Provide notes regarding the investigation.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 4b1a5788-3cef-4857-8023-dcd01dfa8793\n    type: regular\n    task:\n      id: 4b1a5788-3cef-4857-8023-dcd01dfa8793\n      version: -1\n      name: Close investigation\n      description: Closes the current incident.\n      script: Builtin|||closeInvestigation\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      closeNotes:\n        simple: |-\n          Closed By: ${Investigation Notes.Answers.name}\n          ${Investigation Notes.Answers.0}\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 220,\n          \"y\": 3740\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 354e53b0-0132-44d6-895e-0f6e0a248cd9\n    type: regular\n    task:\n      id: 354e53b0-0132-44d6-895e-0f6e0a248cd9\n      version: -1\n      name: Extract indicators from incident\n      description: Extracts all indicators from the incident and enriches the indicators by using the reputation command defined for each indicator type.\n      script: Builtin|||extractIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"53\"\n    scriptarguments:\n      text:\n        complex:\n          root: incident\n    reputationcalc: 2\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 562.5,\n          \"y\": -790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: de6f9320-320d-4bd6-820f-b612a7a0c2c7\n    type: title\n    task:\n      id: de6f9320-320d-4bd6-820f-b612a7a0c2c7\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 220,\n          \"y\": 3880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: fd2276ce-b8ca-43f2-8d91-1ad091484e27\n    type: regular\n    task:\n      id: fd2276ce-b8ca-43f2-8d91-1ad091484e27\n      version: -1\n      name: Send investigation report to SOC\n      description: Sends an email using EWS.\n      script: '|||send-mail'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      attachIDs:\n        complex:\n          root: InfoFile\n          filters:\n          - - operator: containsGeneral\n              left:\n                value:\n                  simple: InfoFile.Name\n                iscontext: true\n              right:\n                value:\n                  simple: report_Investigation_Summary\n          accessor: EntryID\n      body:\n        complex:\n          root: ${demistoUrls\n          accessor: investigation}\n          transformers:\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: |\n                    Link to the incident\n              suffix: {}\n      subject:\n        complex:\n          root: inputs.SocMailSubject\n          transformers:\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: incident.id\n                iscontext: true\n      to:\n        simple: ${inputs.SocEmailAddress}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -110,\n          \"y\": 3570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 1b3aae31-8d82-401d-87cf-d0148d0b278b\n    type: condition\n    task:\n      id: 1b3aae31-8d82-401d-87cf-d0148d0b278b\n      version: -1\n      name: Was this a true positive?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      False Positive:\n      - \"29\"\n      True Positive:\n      - \"45\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 1540\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: false\n        completeaftersla: false\n      replyOptions:\n      - \"Yes\"\n      - \"No\"\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: ff1b9850-ef10-4d42-80e3-39b72d8d01f8\n    type: regular\n    task:\n      id: ff1b9850-ef10-4d42-80e3-39b72d8d01f8\n      version: -1\n      name: Generate Investigation Summary Report\n      description: |-\n        A script to generate the investigation summary report automatically\n        can be used in the post-processing flow as well.\n      scriptName: GenerateInvestigationSummaryReport\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"17\"\n    scriptarguments:\n      incidentId:\n        complex:\n          root: incident\n          accessor: id\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 220,\n          \"y\": 2880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: b419c44d-1762-4553-8493-f9d7606af7bc\n    type: condition\n    task:\n      id: b419c44d-1762-4553-8493-f9d7606af7bc\n      version: -1\n      name: Use Calculate Severity?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"32\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.UseCalculateSeverity\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 562.5,\n          \"y\": -450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 670d8449-b528-465d-8b3f-6e22cda63229\n    type: condition\n    task:\n      id: 670d8449-b528-465d-8b3f-6e22cda63229\n      version: -1\n      name: Was the SOC email address provided?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"8\"\n      \"yes\":\n      - \"31\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.SocEmailAddress\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 220,\n          \"y\": 3030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: 355b3075-9035-4285-82b0-c4d63679b10c\n    type: condition\n    task:\n      id: 355b3075-9035-4285-82b0-c4d63679b10c\n      version: -1\n      name: Was the SIEM admin email address provided?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"15\"\n      \"yes\":\n      - \"30\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.SiemAdminEmailAddress\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -60,\n          \"y\": 2040\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 0c7b3033-c209-4a87-8ef5-63fbd907f68d\n    type: regular\n    task:\n      id: 0c7b3033-c209-4a87-8ef5-63fbd907f68d\n      version: -1\n      name: Assign an analyst to the incident\n      description: Assigns a random analyst to this incident.\n      scriptName: AssignAnalystToIncident\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      assignBy:\n        simple: random\n      onCall:\n        complex:\n          root: inputs.OnCall\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 215\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 381f98db-b60a-4514-89d8-959cd9189cb3\n    type: title\n    task:\n      id: 381f98db-b60a-4514-89d8-959cd9189cb3\n      version: -1\n      name: XSOAR Exclude Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"39\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: 4dfa75fe-917f-4eed-894a-3f2dfda362fc\n    type: collection\n    task:\n      id: 4dfa75fe-917f-4eed-894a-3f2dfda362fc\n      version: -1\n      name: Provide data for rule adjustment\n      type: collection\n      iscommand: false\n      brand: \"\"\n      description: 'Provide data to adjust the rule in order to avoid similar false positives in the future.'\n    nexttasks:\n      '#none#':\n      - \"18\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -60,\n          \"y\": 1870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: false\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Which rules need to be adjusted?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - {}\n        - simple: ${incident.listofrulesoffense}\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Which indicators need to be excluded in QRadar?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - {}\n        - complex:\n            root: ExtractedIndicators\n            transformers:\n            - operator: getField\n              args:\n                field:\n                  value:\n                    simple: Domain\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.IP\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.URL\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.Email\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.File\n                  iscontext: true\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Data for rule adjustment by the SIEM admin\n      description: Provide what should be adjusted in the rule\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: 8873fc30-eabd-4137-8f78-8ba80684a2a0\n    type: regular\n    task:\n      id: 8873fc30-eabd-4137-8f78-8ba80684a2a0\n      version: -1\n      name: Determine incident severity according to offense info\n      description: Sets the incident severity according to the FieldToSetSeverityFrom and ScaleToSetSeverityFrom playbook inputs, which specify the relevant offense field and the scale for the severity translation.\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"34\"\n    scriptarguments:\n      severity:\n        complex:\n          root: inputs.FieldToSetSeverityFrom\n          transformers:\n          - operator: MapValuesTransformer\n            args:\n              input_values:\n                value:\n                  simple: 1,2,3,4,5,6,7,8,9,10\n              mapped_values:\n                value:\n                  simple: inputs.ScaleToSetSeverityFrom\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -20,\n          \"y\": -1620\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: 226309cb-824c-486f-8b8a-f977f03bba67\n    type: title\n    task:\n      id: 226309cb-824c-486f-8b8a-f977f03bba67\n      version: -1\n      name: Investigation\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"19\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 60\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: d8d79caa-94a4-4f02-8bda-d306a1357b34\n    type: regular\n    task:\n      id: d8d79caa-94a4-4f02-8bda-d306a1357b34\n      version: -1\n      name: Set as false positive\n      description: Sets the incident status as false positive.\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      closeReason:\n        simple: False Positive\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -60,\n          \"y\": 1710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: 88147dfd-8093-46f6-8a63-5ef810b03328\n    type: title\n    task:\n      id: 88147dfd-8093-46f6-8a63-5ef810b03328\n      version: -1\n      name: SIEM Admin\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"15\"\n      - \"52\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -60,\n          \"y\": 2390\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: e02854a2-f41b-444b-8953-067035e160ca\n    type: title\n    task:\n      id: e02854a2-f41b-444b-8953-067035e160ca\n      version: -1\n      name: SOC Summary\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"13\"\n      - \"8\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -110,\n          \"y\": 3250\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: b6008b80-dc3e-4381-8c5f-5ead8aa3debe\n    type: playbook\n    task:\n      id: b6008b80-dc3e-4381-8c5f-5ead8aa3debe\n      version: -1\n      name: Calculate Severity - Standard\n      playbookName: Calculate Severity - Standard\n      type: playbook\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"2\"\n    separatecontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 760,\n          \"y\": -280\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"33\":\n    id: \"33\"\n    taskid: 9a80f6b4-18be-413a-8397-794a919efa0b\n    type: condition\n    task:\n      id: 9a80f6b4-18be-413a-8397-794a919efa0b\n      version: -1\n      name: Use custom severity?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"34\"\n      use custom:\n      - \"25\"\n    separatecontext: false\n    conditions:\n    - label: use custom\n      condition:\n      - - operator: isNotEqualString\n          left:\n            value:\n              simple: inputs.UseCustomSeveritySettings\n            iscontext: true\n          right:\n            value:\n              simple: \"false\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": -1790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"34\":\n    id: \"34\"\n    taskid: 359cb86e-fb0e-4a4c-8291-edef6d443ee2\n    type: condition\n    task:\n      id: 359cb86e-fb0e-4a4c-8291-edef6d443ee2\n      version: -1\n      name: Run additional searches?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"1\"\n      \"yes\":\n      - \"35\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.RunAdditionalSeach\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: incident.starttime\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: incident.idoffense\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": -1450\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"35\":\n    id: \"35\"\n    taskid: bb27c52d-e30b-491a-80a8-c20fb7f914dd\n    type: playbook\n    task:\n      id: bb27c52d-e30b-491a-80a8-c20fb7f914dd\n      version: -1\n      name: QRadar - Get Offense Logs\n      description: \"Works for QRadar integrations versions 2 and 3, v1 is deprecated.\\n\\nNote: For QRadar v2 and v3 you can use the integration to fetch the events according to the limit defined in the instance settings. Using this playbook you can define you can define an additional search to query a larger number of logs.\\n\\nDefault playbook inputs use the QRadar incident fields such as idoffense, starttime. These fields can be replaced, but need to point to relevant offense ID and starttime fields. \"\n      playbookName: QRadar - Get Offense Logs\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"1\"\n    scriptarguments:\n      Fields:\n        simple: ${inputs.Fields}\n      GetOnlyCREEvents:\n        simple: ${inputs.GetOnlyCREEvents}\n      ID:\n        complex:\n          root: incident\n          accessor: idoffense\n      MaxLogsCount:\n        simple: ${inputs.MaxLogsCount}\n      StartTime:\n        complex:\n          root: incident\n          accessor: starttime\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -20,\n          \"y\": -1280\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"37\":\n    id: \"37\"\n    taskid: 379235d9-c4b9-46c1-81f8-ceac15a2b23a\n    type: condition\n    task:\n      id: 379235d9-c4b9-46c1-81f8-ceac15a2b23a\n      version: -1\n      name: Any indicators to tag?\n      description: |-\n        Checks if one number(float) as bigger than the other(float)\n        Returns yes: if first > second\n        Returns no: if first <= second\n        Returns exception if one of the inputs is not a number\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"15\"\n      \"yes\":\n      - \"38\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: greaterThan\n          left:\n            value:\n              complex:\n                root: Provide closing reason and tag indicators.Answers\n                accessor: \"0\"\n                transformers:\n                - operator: count\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 510,\n          \"y\": 2040\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"38\":\n    id: \"38\"\n    taskid: 78b79c26-5204-4982-8530-8cc48542474d\n    type: regular\n    task:\n      id: 78b79c26-5204-4982-8530-8cc48542474d\n      version: -1\n      name: Tag Indicators\n      description: commands.local.cmd.set.indicator\n      script: Builtin|||setIndicator\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"15\"\n    scriptarguments:\n      tags:\n        simple: ${inputs.IndicatorTag}\n      value:\n        simple: ${Provide closing reason and tag indicators.Answers.0}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 510,\n          \"y\": 2700\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"39\":\n    id: \"39\"\n    taskid: 57166b79-05fa-43af-8d85-fa6e622371ca\n    type: condition\n    task:\n      id: 57166b79-05fa-43af-8d85-fa6e622371ca\n      version: -1\n      name: Is Indicator exclusion allowed in XSOAR?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"42\"\n      \"yes\":\n      - \"44\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEqualString\n          left:\n            value:\n              simple: inputs.ExcludeIndicatorsInXSOAR\n            iscontext: true\n          right:\n            value:\n              simple: \"false\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"41\":\n    id: \"41\"\n    taskid: 511e4e6a-ea30-4ca6-8249-d1a11fc267b3\n    type: condition\n    task:\n      id: 511e4e6a-ea30-4ca6-8249-d1a11fc267b3\n      version: -1\n      name: Any indicators to exclude?\n      type: condition\n      description: \"\"\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"42\"\n      \"yes\":\n      - \"43\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: greaterThan\n          left:\n            value:\n              complex:\n                root: Indicators to exclude in XSOAR.Answers\n                accessor: \"0\"\n                transformers:\n                - operator: count\n            iscontext: true\n          right:\n            value:\n              simple: \"0\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 0,\n          \"y\": 1030\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"42\":\n    id: \"42\"\n    taskid: f6ca219f-b710-403c-8d4b-c9dbc86b607c\n    type: title\n    task:\n      id: f6ca219f-b710-403c-8d4b-c9dbc86b607c\n      version: -1\n      name: True/False Positive tuning\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"14\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 210,\n          \"y\": 1400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"43\":\n    id: \"43\"\n    taskid: f5ef5d8f-37c9-4fe1-8021-f1f49e9cad32\n    type: regular\n    task:\n      id: f5ef5d8f-37c9-4fe1-8021-f1f49e9cad32\n      version: -1\n      name: Exclude Indicators\n      description: commands.local.cmd.exclude.indicators\n      script: Builtin|||excludeIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      indicatorsValues:\n        simple: ${Indicators to exclude in XSOAR.Answers.0}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -170,\n          \"y\": 1220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"44\":\n    id: \"44\"\n    taskid: 1d1b35bd-3d25-4ffa-839e-b2b4f647bd2c\n    type: collection\n    task:\n      id: 1d1b35bd-3d25-4ffa-839e-b2b4f647bd2c\n      version: -1\n      name: Select indicators to exclude\n      description: Provide data to adjust the rule in order to avoid similar false positives in the future.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"41\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 0,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: false\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Which indicators need to be excluded in XSOAR?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - {}\n        - complex:\n            root: ExtractedIndicators\n            transformers:\n            - operator: getField\n              args:\n                field:\n                  value:\n                    simple: Domain\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.IP\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.URL\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.Email\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.File\n                  iscontext: true\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Indicators to exclude in XSOAR\n      description: Provide what should be adjusted in the rule\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"45\":\n    id: \"45\"\n    taskid: 19cfa6ac-e92f-4950-8a66-e38083737378\n    type: collection\n    task:\n      id: 19cfa6ac-e92f-4950-8a66-e38083737378\n      version: -1\n      name: Provide closing reason and tag indicators\n      description: Provide data to adjust the rule in order to avoid similar false positives in the future.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"50\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 510,\n          \"y\": 1710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: false\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: 'Which indicators need to be tagged? '\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - {}\n        - complex:\n            root: ExtractedIndicators\n            transformers:\n            - operator: getField\n              args:\n                field:\n                  value:\n                    simple: Domain\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.IP\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.URL\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.Email\n                  iscontext: true\n            - operator: append\n              args:\n                item:\n                  value:\n                    simple: ExtractedIndicators.File\n                  iscontext: true\n            - operator: uniq\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: What is the closing reason?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Provide closing reason and tag indicators\n      description: Provide what should be adjusted in the rule\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"50\":\n    id: \"50\"\n    taskid: eacc95db-5005-477b-88d5-ecc5947beccb\n    type: regular\n    task:\n      id: eacc95db-5005-477b-88d5-ecc5947beccb\n      version: -1\n      name: Set closing reason\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"37\"\n    scriptarguments:\n      closeReason:\n        simple: ${Provide closing reason and tag indicators.Answers.1}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 510,\n          \"y\": 1870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"52\":\n    id: \"52\"\n    taskid: bb2db2a5-aa9b-403c-828b-b89904706e34\n    type: collection\n    task:\n      id: bb2db2a5-aa9b-403c-828b-b89904706e34\n      version: -1\n      name: Send email to SIEM admin\n      description: Sends an email using EWS.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"15\"\n    scriptarguments:\n      body:\n        complex:\n          root: Data for rule adjustment by the SIEM admin\n          accessor: Answers\n          transformers:\n          - operator: Stringify\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: |\n                    Link to offense\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: incident.linktooffense\n                iscontext: true\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: \"\\nRules to adjust - \"\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: Data for rule adjustment by the SIEM admin.Answers.0\n                iscontext: true\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: \"\\nValues to exclude - \"\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: Data for rule adjustment by the SIEM admin.Answers.1\n                iscontext: true\n      subject:\n        complex:\n          root: inputs.SiemAdminMailSubject\n          transformers:\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: incident.idoffense\n                iscontext: true\n      to:\n        simple: ${inputs.SiemAdminEmailAddress}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -60,\n          \"y\": 2710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        simple: ${inputs.SiemAdminEmailAddress}\n      subject:\n        complex:\n          root: inputs.SiemAdminMailSubject\n          transformers:\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: incident.idoffense\n                iscontext: true\n      body:\n        simple: |\n          Dear ${inputs.SocEmailAddress}\n          please adjust the following rules\n          ${Data for rule adjustment by the SIEM admin.Answers.0}\n\n          And the following indicators\n          ${Data for rule adjustment by the SIEM admin.Answers.1}\n      methods:\n      - email\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: false\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Were the rules adjusted?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - {}\n        - simple: \"Yes\"\n        - simple: \"No\"\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Were the indicators adjusted?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - {}\n        - simple: \"Yes\"\n        - simple: \"No\"\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Adjustments to SIEM\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"53\":\n    id: \"53\"\n    taskid: 2bbee7bc-a5b9-4c8a-81ff-6a165827f860\n    type: playbook\n    task:\n      id: 2bbee7bc-a5b9-4c8a-81ff-6a165827f860\n      version: -1\n      name: Entity Enrichment - Generic v3\n      playbookName: Entity Enrichment - Generic v3\n      type: playbook\n      iscommand: false\n      brand: \"\"\n      description: 'Enrich entities using one or more integrations.'\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      CVE:\n        complex:\n          root: CVE\n          accessor: ID\n      Domain:\n        complex:\n          root: Domain\n          accessor: Name\n          transformers:\n          - operator: uniq\n      Email:\n        complex:\n          root: Account\n          accessor: Email.Address\n          transformers:\n          - operator: uniq\n      Hostname:\n        complex:\n          root: Endpoint\n          accessor: Hostname\n          transformers:\n          - operator: uniq\n      IP:\n        complex:\n          root: IP\n          accessor: Address\n          transformers:\n          - operator: uniq\n      MD5:\n        complex:\n          root: File\n          accessor: MD5\n          transformers:\n          - operator: uniq\n      ResolveIP:\n        simple: \"False\"\n      SHA1:\n        complex:\n          root: File\n          accessor: SHA1\n          transformers:\n          - operator: uniq\n      SHA256:\n        complex:\n          root: File\n          accessor: SHA256\n          transformers:\n          - operator: uniq\n      URL:\n        complex:\n          root: URL\n          accessor: Data\n          transformers:\n          - operator: uniq\n      Username:\n        complex:\n          root: QRadar.Username\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Account.Username\n                iscontext: true\n          - operator: uniq\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: QRadar.Username\n                iscontext: true\n      URLSSLVerification:\n        simple: \"False\"\n      UseReputationCommand:\n        simple: \"False\"\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 562.5,\n          \"y\": -630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"14_29_False Positive\": 0.56,\n      \"14_45_True Positive\": 0.66,\n      \"18_15_#default#\": 0.3,\n      \"37_15_#default#\": 0.3\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 5865,\n        \"width\": 1310,\n        \"x\": -170,\n        \"y\": -1920\n      }\n    }\n  }\ninputs:\n- key: Enrich\n  value:\n    simple: \"true\"\n  required: false\n  description: Determines whether to enrich all indicators in the incident.\n  playbookInputQuery:\n- key: OnCall\n  value:\n    simple: \"false\"\n  required: false\n  description: Set to true to assign only the user that is currently on shift. Requires Cortex XSOAR v5.5 or later.\n  playbookInputQuery:\n- key: SocEmailAddress\n  value: {}\n  required: false\n  description: The SOC team's email address.\n  playbookInputQuery:\n- key: SocMailSubject\n  value:\n    simple: 'XSOAR Summary report, ID - '\n  required: false\n  description: The subject of the email to send to the SOC.\n  playbookInputQuery:\n- key: SiemAdminEmailAddress\n  value: {}\n  required: false\n  description: The SIEM admin's email address.\n  playbookInputQuery:\n- key: UseCalculateSeverity\n  value:\n    simple: \"true\"\n  required: false\n  description: Determines whether to use the Calculate Severity playbook to calculate the incident severity. If the playbook isn't used, the severity is determined by the QRadar magnitude value.\n  playbookInputQuery:\n- key: SiemAdminMailSubject\n  value:\n    simple: 'Adjustment/Exclusion for offense '\n  required: false\n  description: The subject of the email to send to the SIEM admin.\n  playbookInputQuery:\n- key: UseCustomSeveritySettings\n  value:\n    simple: \"false\"\n  required: false\n  description: Determines whether to use the default mapping in the QRadar generic mapper to set the XSOAR incident severity, or set the severity using the FieldToSetSeverityFrom and ScaleToSetSeverityFrom playbook inputs. Any value other than false is considered as true and causes the playbook inputs to be used.\n  playbookInputQuery:\n- key: FieldToSetSeverityFrom\n  value:\n    complex:\n      root: incident\n      accessor: magnitudeoffense\n  required: false\n  description: |\n    Specifies the field to use for calculating the incident severity, for example the severity field.\n  playbookInputQuery:\n- key: ScaleToSetSeverityFrom\n  value:\n    simple: 1,1,1,2,2,2,2,3,3,3\n  required: false\n  description: \"The range of values of FieldToSetSeverityFrom is 1-10. The XSOAR incident severity field value range is 0-4 where\\n0 - Informational\\n1 - Low\\n2 - Medium\\n3 - High\\n4 - Critical\\n\\nThe scale translates the value of FieldToSetSeverityFrom to a valid incident severity value. The default scale is 1,1,1,2,2,2,2,3,3,3 \\nThis means that values 1-3 of FieldToSetSeverityFrom are translated to low severity (positions 1-3 in the scale), values 4-7 are translated to medium severity (positions 4-7 in the scale) and values 8-10 are translated to high severity (positions 8-10 in the scale).\"\n  playbookInputQuery:\n- key: RunAdditionalSeach\n  value:\n    simple: \"true\"\n  required: false\n  description: By default the incident fetches the events defined in the integration instance settings (default is 20 events). To fetch additional events, change this setting to true.\n  playbookInputQuery:\n- key: MaxLogsCount\n  value:\n    simple: \"50\"\n  required: false\n  description: 'Maximum number of log entires to query from QRadar. Used for the QRadar - Get Offense Logs subplaybook.'\n  playbookInputQuery:\n- key: GetOnlyCREEvents\n  value:\n    simple: All\n  required: false\n  description: |\n    If this value is \"OnlyCRE\", get only events made by CRE. Values can be \"OnlyCRE\", \"OnlyNotCRE\", \"All\". Used for the QRadar - Get Offense Logs subplaybook.\n  playbookInputQuery:\n- key: Fields\n  value:\n    simple: QIDNAME(qid), LOGSOURCENAME(logsourceid), CATEGORYNAME(highlevelcategory), CATEGORYNAME(category), PROTOCOLNAME(protocolid), sourceip, sourceport, destinationip, destinationport, QIDDESCRIPTION(qid), username, PROTOCOLNAME(protocolid), RULENAME(\"creEventList\"), sourcegeographiclocation, sourceMAC, sourcev6, destinationgeographiclocation, destinationv6, LOGSOURCETYPENAME(devicetype), credibility, severity, magnitude, eventcount, eventDirection, postNatDestinationIP, postNatDestinationPort, postNatSourceIP, postNatSourcePort, preNatDestinationPort, preNatSourceIP, preNatSourcePort, UTF8(payload), starttime, devicetime\n  required: false\n  description: |\n    A comma-separated list of extra fields to get from each event. You can use different fields or rename the existing fields. Used for the QRadar - Get Offense Logs subplaybook.\n  playbookInputQuery:\n- key: IndicatorTag\n  value:\n    simple: block\n  required: false\n  description: The tag to provide for true positive indicators, for example to use the indicators in an EDL (External Dynamic List).\n  playbookInputQuery:\n- key: ExcludeIndicatorsInXSOAR\n  value:\n    simple: \"false\"\n  required: false\n  description: If this value is not false, add indicators to the XSOAR exclude list. The excluded indicators won't be created in XSOAR anymore.\n  playbookInputQuery:\noutputs: []\ntests:\n- No test\nfromversion: 6.0.0\nsupportedModules:\n- agentix\n- xsiam\n",
  "product": "Cortex XSOAR",
  "pack": "QRadar",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "jomEPXPXH7zee6q9MaGSO2cDHj1g8e878E1tPeQvUTtpXKS8RFIYvHXL1rzLdLs9FvDLPVqlV7hSwJs8/ahvvXP9tjzLuwI99t4vveAaJb0amyy9Z6jMvEZZMDxzVic8k7X9vMBcRL3RjYS7rJ4rPEC9fr1TCFA6MnKVOdNcHjxpFAo855abPMwQp7zoekk7VbwZvdkbG72lopy8jUQVvF1RRb1wof47Ij1SvLudAj3+ao07QCpHvarpVb1+NMc89mKovXZP0jxowzo9QO24Ok6USrxLxZE8Ev2AvOxb2ry3yya7yC4RvSnbOTuiqsA7eRUDvADwTryAEY48xZ2mPABwvj3WAQs7K9yOvCuyvzxZBYu9x8YvPSKwoLyBn6g9MSg4vY/SsTyRPVa8UePwukpXRLwccrm7ugDZO5FAiD3ruT87P+rQuzLZrjziSuk6LQwuvehkrzsytRA9zeGYvRbdKr0LCFW9mmfIPWQrzLzZdWS98yh+PetHmj1giw28yhqTvXlE3b3SZBg9/VQtPdIsgDtq+Aq92QMOvbi8hTyaj2s81DiPPPSTTrxGjJS9m7CAvSLTWjzMt+I8XVKxu5avCD1dB+k7mb4SvTnY+Dy8egE8Z1tvO1HD+7v0ESK9SF3JOxuEhD0jgIO8QhXcO6Rpij1hhM09yWmkO0HGBjzHNNW7lMa/O/5Q/TxI0gy8gd+zPCEpFb3X+5I7TKt8vW4plT2Yj+O8PzfdO3n+STxiPRi7oWCTvDsgwb2d07O7hRA9Pd8FTb2lHYk9BOt6Pbuj3rswFfq8PlKjO0Eg5LwDu7K856DHPEdDgTxcAVe9T+FGvLghZr1BvMM82h1rvde6pjrzeb+8pGE4vUCuEj15STC98U6DvIgxgL3TvIy8sw81vSlNSzy4lOG8wQrPO2opY73NkDa9343fPGMsQj3bH448XjljPEAmNr11sEC9FSR7PfndIT3Ackg8r0mOvfftcz1mytE8baekvCfRuzzKKDo8ZrvYPFYOD7yj/4i8xi00PND1nj3mVZ29SyFIvPtpSD3QZZm8jGgnvZ3prbxXO4o9G99LPeCoDb2ovau9q59ivRWF7bv3JaG9j1RQvaNqNbxBlDW9ulp8PLjt3jzIhtY8y80YveialDzRRT87XRUbPAqGtjxVaJY9WQ+RPOpzoDy3YUG8I2wDPZSIJDyrJD87nD+7PKIPeb0nhiA9rYhhvbj/rL289B07Bea+PH+rhLxSLfO8L2C7PA+XMj07jZM9jOYUvACgKL2+uIi8rFtNvf4EKj1Lb/A8bnOSPPmgnT3jgbS8gl0KPVNZyLx9RZC8zbNBvQ8dLrwqZ9C8wydMPOqenTtXX6I8TCC2PDp9OLyTTNS8L1pcOr/SqbzHC+M88mgavWfKirwXZ328wW47PBOix70z+ZK87l1avdnUGD3ke44830rGPMJb5Dz41ue8DIKvvPsnJ70onHC7ijQGvTKyIz1GKse9tSyGvQu+FDoggnC8N1fSPFldmrzcGsq8NEyCvTQugr3vx2y8Y2G6vOivBD3f+9c71dxIPFHVI70rgHe9oZVAPR7PGj0THAc9O3N4PWaBg7x0kcW6B0zEPOy8aD1ASO+855mSPEv8G72zITk8weg2Pb1tYDpKixm98z9XO369rzyMtSc8iSC4vOI6wDu/sAS9waliPEt3j73Y2fU57a1LvO/cAjyJ25G7yT0LvObpFr2COok9akfuvFIu5Lt5/f27LO8UvQ8Tg7qf7hq9yjouvdxF5bqcT4E846WNO9HII7yWzAU9bT6OvTwGqjwlChc9R2iuunf+hjlDKzs8hCTePNI157sfSmS8Ml7quylavLtfmf+7IR4fPTrrTT0b8lU8rtVtPbHkWLwzjy08PSnSPNOMBzw5CTa8tOftvO/5LD3YaIE7bW42OyWuhjw6/WM8UH4IPQ+TJbxor0W9YteQPAFJ0zzW7CM8o9Q5vYN0Srxw0KG8GrXtvFh73rzUwdg8tNiFvVWIdr1mD/C8zJXSPFDxQ70xlQS96bViPIqRIbykZtY8VGk2PCXmnj1xNVO9r4NOuxFVi7s09Au9TtFvvW80yT0klRw9SfplPZB/EL2gTmU8YDAjvOikmT1/qGI8wnQpvKKahryS+4e8w/SXPQkZHr2aeDE8nRv8O0IIDD0mSMs8O5yQvKhlDTyzEQo8jyXjvHU61rxLGyM9o/NCPZF9F7yBsl49cy8IPRIo7DuHZ+A8hwhJu+nSbTzIBP87g8ZSPFN4QbwR3pW9FMLvvBM0qLuxN6o8Dh2nPFQpnLxQ1hg9hY6OvARaHzyxM2m8vyquO8TjpDw80Qe9VGS8OhDo2jwPMX08+lkvPAd01Dxh0CI9P6SgvECUXjyPpay77IVnPQa23Dz8oAK9Nf/5vOu0Db2RpAe9kQ0ku2okub00tAG8nSd4vLam/Ls0zNe8NcMquyTvIr2+03A7GRqHPT9AxDuF4BU8VcWCvImzMbtXsJE9/NPgvGgq/TzikV09ZhucPKYSGz2qs0Q9NkWevTYMPrx9y1E8R50KvU3lvbyp5As8wjJYvXFyNb3AZSc9r7yzvAt4aD1zB0S9zBtbvU8EH71/7+I8kKmhvM7qyrxEb/G873CavO/AvrxWg4S82uaRvTSOlTxhEu+7v4W3vHMHgD3CjpA93TfUPOoVWbzTXWm82JyCvHbgQD2cWxO9aZi6O1DtZDz7Ubw9FyicPcQrGL3HAyI9PjygvI1qL706rvK7PW8LPEipsby7lwU9kEwLPZT4Dr2eVL87zvwRO8UwkDzXs+O8/64jPEIXMrz3k/U8YYkOvcH0FL28iAS9WlhVPYyP5TzgxWI9TFS4u2y1jjyMUE09yjlBPSKVWT3VQCI9JPPmPDldzzzblkE9baQaPDZ4JrshFQc9qVYYvFH+8Tz/3sK88nKrPZdyr7zAT5a8clpmvLgyMjytIjk7RCVnvQCPUTt6euS89ppuPCR9obqifB49EIt/vJh3Y72h08C8/g4YvWip+LykphS93zMAPVpImryCya488cI/vJztPDtlSjc8bbXAvImb9Lydcf+5CiA5vOgZajs78JU7zTjFvGkGH7pdyTI8BSR2PdTnjLwwfVG939HSuaRNgLvJRCu8Q78AvVtWz7xsyN+8FGWBvNGZ8DxQLy29N75+PApfgrpRXeq8E8wrPD/yrzyYmc27Zly7u0YGDr2es4g9pFo6PNcekb12AAO84S/bvJR7fb1ihEE7d4jAO/uoxLsr0IM9kwWzvL0eqLxx/Ki8w8LmPNTDGr1NH/m8qPVGvCgvFD3kQMw8x1mCu5ieZruPGoe9V5Y7PMFs37xBOxO9HsyCvODEoj0rRyA9PAW2u937VDxCyyM9ddb1vDGIrby8kVy9Wyg4PKYy7rrYpTY9g1MovTRK5DyYWtm8g5ZePULYMDw1eIe9Ey9qvJZsIT3eoJe9HKvyvIvUQDwaZTE8yxSLPbkTEL388Yk9/mUcvfepBL0omSS9C4mYu3rNWTwo4N+828klPc011LzlvYi9c+K/PGV/Ab2ROpq7loQRvYQSWr1JpZA8VBDgvLDrq7yz0t66zxNEPaK+Ez2W/KQ8/bxEu7SbLTyWLqk9ejucvNag9bt+Yjq8XGc7vdf9yDyKW5m8bY6gukZYezyR/AU93dt8vRNJFbzonlC8taYVPOmsKjus93q83s2UOyaVejs9g0o9pG8Xvf+iqTwXsla7rYsAvd6NJTugdC67PfJivXDXKrwgAFU9aUBhuxTPLT2zb4Q9A77KvTc11Tqa2xq9l/I/PS7qVzxpCzQ8JiuBvIB2fDxgC6M7RiNNPSMboTujdc+8vudLPdHqE71barY8J0iSPYqClbudvvG8jvlYvCMXTb1NRyC9MSBIuyyoKz1BIEg8H8uQvDxMP7wKQkW7twxUOvNsTr2qDCC85pBrPECBL7yJ2D098QARvQfbGL23q+e7yaAcvGRitT0HHGE9M3YGPaknsbz3RIC8ibP7vGv92TsGYAQ9JQCGPMSUnrwVDtY6VLOPvfTBobzZDwo9heAUPc4t3LzvEvE8kDYgvfBt6bwgtXe9egKvvLumoz09ZUO8"
}
