bundles/spark/kbs/soar-playbooks/entries/pb-qradar-qradar-indicator-hunting-v2.json
{
  "id": "pb-qradar-qradar-indicator-hunting-v2",
  "title": "QRadar Indicator Hunting V2",
  "category": "playbook",
  "content": "The Playbook queries QRadar SIEM for indicators such as file hashes, IP addresses, domains, or urls.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (QRadar, xsoar-supported).\n\nInputs — MD5: MD5 hash file or an array of hashes to search.; QradarMD5Field: MD5 field to search in QRadar. If none are specified, the search will use a payload contains filter.; SHA1: SHA1 hash file or an array of hashes to search.; QradarSHA1Field: SHA1 field to search in QRadar. If none are specified, the search will use a payload contains filter.; SHA256: SHA256 hash file or an array of hashes to search.; QradarSHA256Field: SHA256 field to search in QRadar. If none are specified, the search will use a payload contains filter.; IPAddress: Source or destination IP to search. Can be a single address or an array of addresses.; QradarIPfield: IP field to search in QRadar. If none are specified, the search will use sourceip or destinationip (combined).; URLDomain: Domain or Url can be single or an array of domain/urls to search. By default the LIKE clause is used.; QradarURLDomainField: URL/Domain field to search in QRadar. If none are specified, the search will use a payload contains filter..\n\nOutputs — QRadar.DetectedUsers: Users detected based on the username field in your search.; QRadar.DetectedInternalIPs: Internal IP addresses detected based on fields and inputs in your search.; QRadar.DetectedExternalIPs: External IP addresses detected based on fields and inputs in your search.; QRadar.DetectedInternalHosts: Internal host names detected based on hosts in your assets table. Note that the data accuracy depends on how the Asset mapping is configured in QRadar.; QRadar.DetectedExternalHosts: External host names detected based on hosts in your assets table. Note that the data accuracy depends on how the Asset mapping is configured in QRadar..\n\nIntegrations/scripts used: IsIPInRanges, Set, SetAndHandleEmpty, qradar-assets-list, qradar-search-retrieve-events.",
  "raw_yaml": "id: QRadar Indicator Hunting V2\nversion: -1\ncontentitemexportablefields:\n  contentitemfields: {}\nname: QRadar Indicator Hunting V2\ndescription: 'The Playbook queries QRadar SIEM for indicators such as file hashes, IP addresses, domains, or urls. '\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: a2b99d88-69c8-4a87-8d60-74d21ca2db74\n    type: start\n    task:\n      id: a2b99d88-69c8-4a87-8d60-74d21ca2db74\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"55\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": -125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 30250b5a-c4ae-4477-8d7d-aa586c6a5c2f\n    type: title\n    task:\n      id: 30250b5a-c4ae-4477-8d7d-aa586c6a5c2f\n      version: -1\n      name: Hash Search\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"8\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 842.5,\n          \"y\": 350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: b4ad1b02-a07b-4f3b-8949-2389d2c0c08e\n    type: title\n    task:\n      id: b4ad1b02-a07b-4f3b-8949-2389d2c0c08e\n      version: -1\n      name: IP Search\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"7\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 360\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: b2482cd1-e6f4-45ab-84c4-0faf3d9e96ae\n    type: title\n    task:\n      id: b2482cd1-e6f4-45ab-84c4-0faf3d9e96ae\n      version: -1\n      name: Domain/Url Search\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"9\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2775,\n          \"y\": 350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: b3700546-6a71-4c26-89dc-6ac3ffe0439a\n    type: condition\n    task:\n      id: b3700546-6a71-4c26-89dc-6ac3ffe0439a\n      version: -1\n      name: Is there an IP to search?\n      description: Is there an IP on which to search?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"166\"\n      \"yes\":\n      - \"50\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.IPAddress\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 4ca411b2-9118-4c88-80ba-fd45cf7dc4d4\n    type: condition\n    task:\n      id: 4ca411b2-9118-4c88-80ba-fd45cf7dc4d4\n      version: -1\n      name: Is there a hash to search?\n      description: Is there a hash on which to search?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"166\"\n      \"yes\":\n      - \"26\"\n      - \"27\"\n      - \"38\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.MD5\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.SHA1\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.SHA256\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 842.5,\n          \"y\": 475\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 8a910c41-e636-4df8-873d-55961fd9f5ff\n    type: condition\n    task:\n      id: 8a910c41-e636-4df8-873d-55961fd9f5ff\n      version: -1\n      name: Is there a domain or url to search?\n      description: Is there a domain or URL on which to search?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"166\"\n      \"yes\":\n      - \"11\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.URLDomain\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2775,\n          \"y\": 475\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 2afade2a-c653-4db2-8fc2-7dc20abba4f6\n    type: condition\n    task:\n      id: 2afade2a-c653-4db2-8fc2-7dc20abba4f6\n      version: -1\n      name: Is there a custom domain or url field?\n      description: Is there a custom domain or url field?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"56\"\n      \"yes\":\n      - \"57\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.QradarURLDomainField\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2775,\n          \"y\": 660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: 9dbc1709-6693-4705-8a81-90432e69bbc5\n    type: condition\n    task:\n      id: 9dbc1709-6693-4705-8a81-90432e69bbc5\n      version: -1\n      name: Is there a custom MD5 field?\n      description: Is there a custom MD5 field?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"64\"\n      \"yes\":\n      - \"65\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.QradarMD5Field\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1385,\n          \"y\": 950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: 9719193a-aa81-4017-8fe3-9b9c54f7c510\n    type: condition\n    task:\n      id: 9719193a-aa81-4017-8fe3-9b9c54f7c510\n      version: -1\n      name: Is there an MD5 to search?\n      description: Is there an MD5 on which to search?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"166\"\n      \"yes\":\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.MD5\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1385,\n          \"y\": 775\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: 37b3d830-4401-42fa-8c4a-ec9952bf39fd\n    type: title\n    task:\n      id: 37b3d830-4401-42fa-8c4a-ec9952bf39fd\n      version: -1\n      name: MD5 Search\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"22\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1385,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 2f6a1090-e0b8-4485-8185-83165e489c33\n    type: title\n    task:\n      id: 2f6a1090-e0b8-4485-8185-83165e489c33\n      version: -1\n      name: SHA1 Search\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"29\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -505,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: eab04f66-1e17-4945-8f72-a5cdda1bc308\n    type: condition\n    task:\n      id: eab04f66-1e17-4945-8f72-a5cdda1bc308\n      version: -1\n      name: Is there a SHA1 to search?\n      description: Is there a SHA1 hash on which to search?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"166\"\n      \"yes\":\n      - \"31\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.SHA1\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -515,\n          \"y\": 775\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: d6eb18bc-0884-47a5-829b-d1ae0060d3bc\n    type: condition\n    task:\n      id: d6eb18bc-0884-47a5-829b-d1ae0060d3bc\n      version: -1\n      name: Was there a custom SHA1 field?\n      description: Was there a custom SHA1 field?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"62\"\n      \"yes\":\n      - \"63\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.QradarSHA1Field\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -505,\n          \"y\": 940\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"38\":\n    id: \"38\"\n    taskid: 7a308843-7a82-4f8a-8273-bc8c81ac4d39\n    type: title\n    task:\n      id: 7a308843-7a82-4f8a-8273-bc8c81ac4d39\n      version: -1\n      name: SHA256 Search\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"39\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 372.5,\n          \"y\": 650\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"39\":\n    id: \"39\"\n    taskid: d4834696-2334-462e-8fbb-d978b9079097\n    type: condition\n    task:\n      id: d4834696-2334-462e-8fbb-d978b9079097\n      version: -1\n      name: Is there a SHA256 to search?\n      description: Is there a SHA256 hash on which to search?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"166\"\n      \"yes\":\n      - \"41\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.SHA256\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 372.5,\n          \"y\": 775\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"41\":\n    id: \"41\"\n    taskid: 9202b39d-89cd-4fde-83a5-4912e2a7913b\n    type: condition\n    task:\n      id: 9202b39d-89cd-4fde-83a5-4912e2a7913b\n      version: -1\n      name: Is there a custom SHA256 field?\n      description: Is there a custom SHA256 field?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"60\"\n      \"yes\":\n      - \"61\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.QradarSHA256Field\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 372.5,\n          \"y\": 950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"50\":\n    id: \"50\"\n    taskid: e9557ca0-59b9-4011-85df-20107a011f2c\n    type: condition\n    task:\n      id: e9557ca0-59b9-4011-85df-20107a011f2c\n      version: -1\n      name: Is there a custom IP field?\n      description: Is there a custom IP field?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"59\"\n      \"yes\":\n      - \"58\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.QradarIPfield\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1575,\n          \"y\": 660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"55\":\n    id: \"55\"\n    taskid: a9fa4f2d-8daf-456c-8d88-7c1c7eb830b4\n    type: condition\n    task:\n      id: a9fa4f2d-8daf-456c-8d88-7c1c7eb830b4\n      version: -1\n      name: Is Qradar enabled?\n      description: Is Qradar enabled?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"165\"\n      \"yes\":\n      - \"176\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: inList\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: QRadar,QRadar_v2,QRadar v3\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1350,\n          \"y\": 30\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"56\":\n    id: \"56\"\n    taskid: caed8241-b8b1-4f34-8f29-2177fdb3e10f\n    type: title\n    task:\n      id: caed8241-b8b1-4f34-8f29-2177fdb3e10f\n      version: -1\n      name: QRadar query without custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"102\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2570,\n          \"y\": 845\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"57\":\n    id: \"57\"\n    taskid: 148ec15e-e700-43d9-80a1-6867e0e697c4\n    type: title\n    task:\n      id: 148ec15e-e700-43d9-80a1-6867e0e697c4\n      version: -1\n      name: QRadar query with custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"175\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3000,\n          \"y\": 840\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"58\":\n    id: \"58\"\n    taskid: b376ca7c-0ef3-4ce6-8188-27c49b3d14f3\n    type: title\n    task:\n      id: b376ca7c-0ef3-4ce6-8188-27c49b3d14f3\n      version: -1\n      name: QRadar query with custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"172\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2100,\n          \"y\": 840\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"59\":\n    id: \"59\"\n    taskid: 352bb2ce-fe56-4415-805b-d15436205a16\n    type: title\n    task:\n      id: 352bb2ce-fe56-4415-805b-d15436205a16\n      version: -1\n      name: QRadar query without custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"101\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1670,\n          \"y\": 840\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"60\":\n    id: \"60\"\n    taskid: 7c514669-525a-41e6-89b3-4b03683cd2cd\n    type: title\n    task:\n      id: 7c514669-525a-41e6-89b3-4b03683cd2cd\n      version: -1\n      name: QRadar query without custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"100\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 170,\n          \"y\": 1125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"61\":\n    id: \"61\"\n    taskid: 3fb63155-a852-454d-8c8a-7e77db25eb7f\n    type: title\n    task:\n      id: 3fb63155-a852-454d-8c8a-7e77db25eb7f\n      version: -1\n      name: QRadar query with custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"169\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 600,\n          \"y\": 1125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"62\":\n    id: \"62\"\n    taskid: 3aae3e82-5aad-4f67-83df-46ed41175b6d\n    type: title\n    task:\n      id: 3aae3e82-5aad-4f67-83df-46ed41175b6d\n      version: -1\n      name: QRadar query without custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"99\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -710,\n          \"y\": 1125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"63\":\n    id: \"63\"\n    taskid: 289810bf-110b-4c31-8ebc-907f334ad50a\n    type: title\n    task:\n      id: 289810bf-110b-4c31-8ebc-907f334ad50a\n      version: -1\n      name: QRadar query with custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"170\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -280,\n          \"y\": 1125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"64\":\n    id: \"64\"\n    taskid: ce8af6fc-bdde-4ba4-8df1-81430d419c3b\n    type: title\n    task:\n      id: ce8af6fc-bdde-4ba4-8df1-81430d419c3b\n      version: -1\n      name: QRadar query without custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"98\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1590,\n          \"y\": 1125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"65\":\n    id: \"65\"\n    taskid: dc5b8a0d-79f6-4865-8e9c-3a2638bbd6c7\n    type: title\n    task:\n      id: dc5b8a0d-79f6-4865-8e9c-3a2638bbd6c7\n      version: -1\n      name: QRadar query with custom fields\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"181\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1160,\n          \"y\": 1125\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"98\":\n    id: \"98\"\n    taskid: dff6c803-c9df-4549-89ce-8713862e29fe\n    type: regular\n    task:\n      id: dff6c803-c9df-4549-89ce-8713862e29fe\n      version: -1\n      name: Set MD5 to an array\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"173\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FileMD5\n      value:\n        complex:\n          root: inputs.MD5\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1590,\n          \"y\": 1290\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"99\":\n    id: \"99\"\n    taskid: e5f785bb-75ea-4ff2-87e2-7ed44fdcf134\n    type: regular\n    task:\n      id: e5f785bb-75ea-4ff2-87e2-7ed44fdcf134\n      version: -1\n      name: Set SHA1 to an array\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"171\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FileSHA1\n      value:\n        complex:\n          root: inputs.SHA1\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -710,\n          \"y\": 1290\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"100\":\n    id: \"100\"\n    taskid: 6cc731ba-436e-4959-887e-973dffd05aa4\n    type: regular\n    task:\n      id: 6cc731ba-436e-4959-887e-973dffd05aa4\n      version: -1\n      name: Set SHA256 to an array\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"168\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: FileSHA256\n      value:\n        complex:\n          root: inputs.SHA256\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 170,\n          \"y\": 1270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"101\":\n    id: \"101\"\n    taskid: 9699d2e9-2d1f-48ba-85fc-144e59bcf3a1\n    type: regular\n    task:\n      id: 9699d2e9-2d1f-48ba-85fc-144e59bcf3a1\n      version: -1\n      name: Set IP to an array\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"167\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: IPAddress\n      value:\n        complex:\n          root: inputs.IPAddress\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1670,\n          \"y\": 1000\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"102\":\n    id: \"102\"\n    taskid: 2e9bf4dc-56ce-4125-86b0-66f99fdf4651\n    type: regular\n    task:\n      id: 2e9bf4dc-56ce-4125-86b0-66f99fdf4651\n      version: -1\n      name: Set Domain or URL to the array\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"174\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: DomainURL\n      value:\n        complex:\n          root: inputs.URLDomain\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2570,\n          \"y\": 990\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"120\":\n    id: \"120\"\n    taskid: f1aaa2dc-6ab1-408e-8851-d73171be6244\n    type: title\n    task:\n      id: f1aaa2dc-6ab1-408e-8851-d73171be6244\n      version: -1\n      name: Sort internal and external IP addresses\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"124\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 2640\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"123\":\n    id: \"123\"\n    taskid: 777b2d48-c9f0-433d-8de3-7b015ba4c472\n    type: regular\n    task:\n      id: 777b2d48-c9f0-433d-8de3-7b015ba4c472\n      version: -1\n      name: Set detected IP addresses as external\n      description: Checks if the specified value exists in context. If the value exists, it will be set in context, otherwise no value will be set it context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"165\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: QRadar.DetectedExternalIPs\n      value:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"no\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2080,\n          \"y\": 3280\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"124\":\n    id: \"124\"\n    taskid: 62deb054-e2c8-4fc9-88c5-ecc24d8fd88f\n    type: condition\n    task:\n      id: 62deb054-e2c8-4fc9-88c5-ecc24d8fd88f\n      version: -1\n      name: Are there detected IP addresses?\n      description: Are there detected IP addresses?\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"165\"\n      \"yes\":\n      - \"142\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: QRadar.DetectedIPs\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 2775\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"142\":\n    id: \"142\"\n    taskid: 1b6be11a-d587-4ef8-8784-8541d2761d85\n    type: regular\n    task:\n      id: 1b6be11a-d587-4ef8-8784-8541d2761d85\n      version: -1\n      name: Determine whether the IP address is internal or external\n      description: Returns yes if the IP is in one of the ranges provided, returns no otherwise.\n      scriptName: IsIPInRanges\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"143\"\n    scriptarguments:\n      ip:\n        simple: ${QRadar.DetectedIPs}\n      ipRanges:\n        simple: ${inputs.InternalRange}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2080,\n          \"y\": 2950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"143\":\n    id: \"143\"\n    taskid: 61ca426a-bbab-45f5-8594-a0cadbd399b7\n    type: regular\n    task:\n      id: 61ca426a-bbab-45f5-8594-a0cadbd399b7\n      version: -1\n      name: Set detected IP addresses as internal\n      description: Checks if the specified value exists in context. If the value exists, it will be set in context, otherwise no value will be set it context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"123\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: QRadar.DetectedInternalIPs\n      value:\n        complex:\n          root: IP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: IP.InRange\n                iscontext: true\n              right:\n                value:\n                  simple: \"yes\"\n          accessor: Address\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2080,\n          \"y\": 3115\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"161\":\n    id: \"161\"\n    taskid: f7b5c63c-7cbb-4907-8317-2dd39f6ed397\n    type: regular\n    task:\n      id: f7b5c63c-7cbb-4907-8317-2dd39f6ed397\n      version: -1\n      name: Set detected usernames\n      description: Sets a value into the context with the given context key\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"162\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: QRadar.DetectedUsers\n      value:\n        complex:\n          root: ${\n          accessor: =[]}\n          transformers:\n          - operator: GetValuesOfMultipleFields\n            args:\n              key:\n                value:\n                  simple: QRadar.SearchEvents.Events\n                iscontext: true\n              list:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2305,\n          \"y\": 2110\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"162\":\n    id: \"162\"\n    taskid: 1a600002-c821-46b1-82ac-d8b5ece75e26\n    type: regular\n    task:\n      id: 1a600002-c821-46b1-82ac-d8b5ece75e26\n      version: -1\n      name: Get hostnames from assets\n      description: Retrieves assets list.\n      script: '|||qradar-assets-list'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"163\"\n    scriptarguments:\n      filter:\n        complex:\n          root: QRadar\n          accessor: DetectedIPs\n          transformers:\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: interfaces contains ip_addresses contains value= \"\n              suffix:\n                value:\n                  simple: '\"'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR '\n    separatecontext: false\n    continueonerror: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2305,\n          \"y\": 2290\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"163\":\n    id: \"163\"\n    taskid: 7b5105b2-a7fe-4909-8226-8afb3bbcdee4\n    type: regular\n    task:\n      id: 7b5105b2-a7fe-4909-8226-8afb3bbcdee4\n      version: -1\n      name: Set detected hostnames from assets\n      description: Sets a value into the context with the given context key\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"120\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: QRadar.DetectedInternalHosts\n      value:\n        complex:\n          root: QRadar.Asset.Name\n          accessor: Value\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2305,\n          \"y\": 2460\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"165\":\n    id: \"165\"\n    taskid: b35aeb4f-d9f1-41f6-850a-a4b482a2bb8c\n    type: title\n    task:\n      id: b35aeb4f-d9f1-41f6-850a-a4b482a2bb8c\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 3455\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"166\":\n    id: \"166\"\n    taskid: 5590f9d8-8ff3-4775-8bd0-16d911adb755\n    type: title\n    task:\n      id: 5590f9d8-8ff3-4775-8bd0-16d911adb755\n      version: -1\n      name: Set detecetd Values\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"178\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 1640\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    continueonerrortype: \"\"\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"167\":\n    id: \"167\"\n    taskid: 483eaadc-4742-47fa-8f9e-f39f02c8eefd\n    type: regular\n    task:\n      id: 483eaadc-4742-47fa-8f9e-f39f02c8eefd\n      version: -1\n      name: |\n        QRadar Full Search on IP\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: IPAddress\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: UTF8(payload) ILIKE  '%$1%'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: DATEFORMAT(devicetime,'dd-MM-yyyy hh:mm'),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid),\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1670,\n          \"y\": 1175\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"168\":\n    id: \"168\"\n    taskid: 97d66679-4345-44cc-8e45-7682f562c85b\n    type: regular\n    task:\n      id: 97d66679-4345-44cc-8e45-7682f562c85b\n      version: -1\n      name: QRadar Full Search on SHA256\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: FileSHA256\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: UTF8(payload) ILIKE  '%$1%'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: DATEFORMAT(devicetime,'dd-MM-yyyy hh:mm'),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid),\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 170,\n          \"y\": 1445\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"169\":\n    id: \"169\"\n    taskid: c6fc16a8-fb56-46d7-8053-384a433b5771\n    type: regular\n    task:\n      id: c6fc16a8-fb56-46d7-8053-384a433b5771\n      version: -1\n      name: QRadar Full Search on SHA256\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: inputs.QradarSHA256Field\n          transformers:\n          - operator: ProductJoin\n            args:\n              join:\n                value:\n                  simple: \"=\"\n              list2:\n                value:\n                  simple: inputs.SHA256\n                iscontext: true\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ''' OR \"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: \"=\"\n              replaceWith:\n                value:\n                  simple: '\" = '''\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where \"'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'DATEFORMAT(devicetime,''dd-MM-yyyy hh:mm''),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid) '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ''' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 600,\n          \"y\": 1445\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"170\":\n    id: \"170\"\n    taskid: 6621a3dc-3b43-471a-8294-1e1fb8238276\n    type: regular\n    task:\n      id: 6621a3dc-3b43-471a-8294-1e1fb8238276\n      version: -1\n      name: QRadar Full Search on SHA1\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: inputs.QradarSHA1Field\n          transformers:\n          - operator: ProductJoin\n            args:\n              join:\n                value:\n                  simple: \"=\"\n              list2:\n                value:\n                  simple: inputs.SHA1\n                iscontext: true\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ''' OR \"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: \"=\"\n              replaceWith:\n                value:\n                  simple: '\" = '''\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where \"'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'DATEFORMAT(devicetime,''dd-MM-yyyy hh:mm''),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid) '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ''' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -280,\n          \"y\": 1465\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"171\":\n    id: \"171\"\n    taskid: b9df3e96-97ba-453d-8070-dfb8338c6ee9\n    type: regular\n    task:\n      id: b9df3e96-97ba-453d-8070-dfb8338c6ee9\n      version: -1\n      name: QRadar Full Search on SHA1\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: FileSHA1\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: UTF8(payload) ILIKE  '%$1%'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: DATEFORMAT(devicetime,'dd-MM-yyyy hh:mm'),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid),\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -710,\n          \"y\": 1465\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"172\":\n    id: \"172\"\n    taskid: 1260ad7c-2e3f-4cb1-8137-cfd4d023d16d\n    type: regular\n    task:\n      id: 1260ad7c-2e3f-4cb1-8137-cfd4d023d16d\n      version: -1\n      name: QRadar Full Search on IP\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: inputs.QradarIPfield\n          transformers:\n          - operator: ProductJoin\n            args:\n              join:\n                value:\n                  simple: \"=\"\n              list2:\n                value:\n                  simple: inputs.IPAddress\n                iscontext: true\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ''' OR \"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: \"=\"\n              replaceWith:\n                value:\n                  simple: '\" = '''\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where \"'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'DATEFORMAT(devicetime,''dd-MM-yyyy hh:mm''),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid) '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ''' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2100,\n          \"y\": 1175\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"173\":\n    id: \"173\"\n    taskid: e4a747c0-ca2e-4a51-859d-e33a002a979b\n    type: regular\n    task:\n      id: e4a747c0-ca2e-4a51-859d-e33a002a979b\n      version: -1\n      name: Qradar Full Search on MD5\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: FileMD5\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: UTF8(payload) ILIKE  '%$1%'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: DATEFORMAT(devicetime,'dd-MM-yyyy hh:mm'),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid),\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1590,\n          \"y\": 1465\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"174\":\n    id: \"174\"\n    taskid: a468e334-bc35-4395-88d0-55cec984dc60\n    type: regular\n    task:\n      id: a468e334-bc35-4395-88d0-55cec984dc60\n      version: -1\n      name: QRadar Full Search on Domain/URL\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: DomainURL\n          transformers:\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: (.*)\n              replaceWith:\n                value:\n                  simple: UTF8(payload) ILIKE  '%$1%'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ' OR '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'DATEFORMAT(devicetime,''dd-MM-yyyy hh:mm''),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid) '\n              suffix:\n                value:\n                  simple: ' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2570,\n          \"y\": 1165\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"175\":\n    id: \"175\"\n    taskid: d2f85e1c-d849-42a9-8783-e3afbea7c91b\n    type: regular\n    task:\n      id: d2f85e1c-d849-42a9-8783-e3afbea7c91b\n      version: -1\n      name: QRadar Full Search on Domain/URL\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: inputs.QradarURLDomainField\n          transformers:\n          - operator: ProductJoin\n            args:\n              join:\n                value:\n                  simple: ILIKE\n              list2:\n                value:\n                  simple: inputs.URLDomain\n                iscontext: true\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: '%'' OR \"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: ILIKE\n              replaceWith:\n                value:\n                  simple: '\" ILIKE ''%'\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where \"'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'DATEFORMAT(devicetime,''dd-MM-yyyy hh:mm''),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid) '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: '%'' '\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 3000,\n          \"y\": 1175\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"176\":\n    id: \"176\"\n    taskid: 82ef281a-644a-4657-8453-50ca8ce25bdd\n    type: title\n    task:\n      id: 82ef281a-644a-4657-8453-50ca8ce25bdd\n      version: -1\n      name: Indicator Hunting\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"2\"\n      - \"5\"\n      - \"6\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 210\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"178\":\n    id: \"178\"\n    taskid: 116782ab-603b-493c-8079-e003e251ab6c\n    type: condition\n    task:\n      id: 116782ab-603b-493c-8079-e003e251ab6c\n      version: -1\n      name: Has query results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"120\"\n      \"yes\":\n      - \"182\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: QRadar.SearchEvents\n                accessor: Events\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1875,\n          \"y\": 1770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"181\":\n    id: \"181\"\n    taskid: b4328ddc-50db-4488-8444-48fcac80a903\n    type: regular\n    task:\n      id: b4328ddc-50db-4488-8444-48fcac80a903\n      version: -1\n      name: QRadar Full Search on MD5\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"166\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      polling:\n        simple: \"true\"\n      query_expression:\n        complex:\n          root: inputs.QradarMD5Field\n          transformers:\n          - operator: ProductJoin\n            args:\n              join:\n                value:\n                  simple: \"=\"\n              list2:\n                value:\n                  simple: inputs.MD5\n                iscontext: true\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ''' OR \"'\n          - operator: replaceMatch\n            args:\n              regex:\n                value:\n                  simple: \"=\"\n              replaceWith:\n                value:\n                  simple: '\" = '''\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ' from events where \"'\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'DATEFORMAT(devicetime,''dd-MM-yyyy hh:mm''),LOGSOURCENAME(logsourceid),CATEGORYNAME(category),QIDNAME(qid) '\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationUserFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: ','\n              suffix: {}\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n              suffix: {}\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ''' '\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'select '\n              suffix:\n                value:\n                  simple: inputs.TimeFrame\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1160,\n          \"y\": 1465\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"182\":\n    id: \"182\"\n    taskid: 5414f421-9773-4d5b-83da-d723d429bfdb\n    type: regular\n    task:\n      id: 5414f421-9773-4d5b-83da-d723d429bfdb\n      version: -1\n      name: Set detected source and destination IP addresses\n      description: Sets a value into the context with the given context key\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"161\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: QRadar.DetectedIPs\n      value:\n        complex:\n          root: ${\n          accessor: =[]}\n          transformers:\n          - operator: GetValuesOfMultipleFields\n            args:\n              key:\n                value:\n                  simple: QRadar.SearchEvents.Events\n                iscontext: true\n              list:\n                value:\n                  simple: inputs.InvestigationIPFields\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2305,\n          \"y\": 1950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_56_#default#\": 0.61,\n      \"124_165_#default#\": 0.65,\n      \"22_166_#default#\": 0.1,\n      \"29_166_#default#\": 0.12,\n      \"39_166_#default#\": 0.19,\n      \"55_176_yes\": 0.44,\n      \"8_166_#default#\": 0.1,\n      \"8_26_yes\": 0.73,\n      \"9_166_#default#\": 0.25\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 3645,\n        \"width\": 4970,\n        \"x\": -1590,\n        \"y\": -125\n      }\n    }\n  }\ninputs:\n- key: MD5\n  value: {}\n  required: false\n  description: MD5 hash file or an array of hashes to search.\n  playbookInputQuery:\n- key: QradarMD5Field\n  value: {}\n  required: false\n  description: MD5 field to search in QRadar. If none are specified, the search will use a payload contains filter.\n  playbookInputQuery:\n- key: SHA1\n  value: {}\n  required: false\n  description: SHA1 hash file or an array of hashes to search.\n  playbookInputQuery:\n- key: QradarSHA1Field\n  value: {}\n  required: false\n  description: SHA1 field to search in QRadar. If none are specified, the search will use a payload contains filter.\n  playbookInputQuery:\n- key: SHA256\n  value: {}\n  required: false\n  description: SHA256 hash file or an array of hashes to search.\n  playbookInputQuery:\n- key: QradarSHA256Field\n  value: {}\n  required: false\n  description: SHA256 field to search in QRadar. If none are specified, the search will use a payload contains filter.\n  playbookInputQuery:\n- key: IPAddress\n  value: {}\n  required: false\n  description: |\n    Source or destination IP to search. Can be a single address or an array of addresses.\n  playbookInputQuery:\n- key: QradarIPfield\n  value:\n    simple: sourceip,destinationip\n  required: false\n  description: IP field to search in QRadar. If none are specified, the search will use sourceip or destinationip (combined).\n  playbookInputQuery:\n- key: URLDomain\n  value: {}\n  required: false\n  description: |\n    Domain or Url can be single or an array of domain/urls to search. By default the LIKE clause is used.\n  playbookInputQuery:\n- key: QradarURLDomainField\n  value: {}\n  required: false\n  description: 'URL/Domain field to search in QRadar. If none are specified, the search will use a payload contains filter. '\n  playbookInputQuery:\n- key: TimeFrame\n  value:\n    simple: LAST 7 DAYS\n  required: false\n  description: |-\n    Time frame as used in AQL\n    Examples can be\n    LAST 7 DAYS\n    START '2019-09-25 15:51' STOP '2019-09-25 17:51'\n    For more examples review IBM's AQL documentation.\n  playbookInputQuery:\n- key: InternalRange\n  value:\n    complex:\n      root: lists\n      accessor: PrivateIPs\n      transformers:\n      - operator: RegexExtractAll\n        args:\n          error_if_no_match: {}\n          ignore_case: {}\n          multi_line: {}\n          period_matches_newline: {}\n          regex:\n            value:\n              simple: (\\b(?:\\d{1,3}\\.){3}\\d{1,3}\\b/\\d{1,2})\n          unpack_matches: {}\n      - operator: join\n        args:\n          separator:\n            value:\n              simple: ','\n  required: false\n  description: 'A list of internal IP ranges to check IP addresses against. The comma-separated list should be provided in CIDR notation. For example, a list of ranges would be: \"172.16.0.0/12,10.0.0.0/8,192.168.0.0/16\" (without quotes).'\n  playbookInputQuery:\n- key: InvestigationIPFields\n  value:\n    simple: sourceip,destinationip\n  required: true\n  description: The values of these QRadar fields will be used for the playbook IP addresses outputs.\n  playbookInputQuery:\n- key: InvestigationUserFields\n  value:\n    simple: username\n  required: true\n  description: The values of these QRadar fields will be used for the playbook user name outputs.\n  playbookInputQuery:\noutputs:\n- contextPath: QRadar.DetectedUsers\n  description: Users detected based on the username field in your search.\n  type: string\n- contextPath: QRadar.DetectedInternalIPs\n  description: Internal IP addresses detected based on fields and inputs in your search.\n  type: string\n- contextPath: QRadar.DetectedExternalIPs\n  description: External IP addresses detected based on fields and inputs in your search.\n  type: string\n- contextPath: QRadar.DetectedInternalHosts\n  description: Internal host names detected based on hosts in your assets table. Note that the data accuracy depends on how the Asset mapping is configured in QRadar.\n  type: string\n- contextPath: QRadar.DetectedExternalHosts\n  description: External host names detected based on hosts in your assets table. Note that the data accuracy depends on how the Asset mapping is configured in QRadar.\n  type: string\ntests:\n- test_Qradar_v2\n- QRadar_v3-test\n- QRadar Indicator Hunting Test\nfromversion: 5.0.0\nsupportedModules:\n- agentix\n- xsiam\n- edr\n- cloud\n- cloud_runtime_security\n",
  "product": "Cortex XSOAR",
  "pack": "QRadar",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "AWycPLx+1ruwhMK9jkP9vHP2rT3PZnc8rmwhPT2riDzgXtq8+hRtvPeMML3iBHc9DZZCPS2EFDy5Zea7c6VUvTHdxT3UanI9Gd17vZVrPb3l4cS8yG5wvT4YzjmrWA67pXWsuxDi1rys6zq7V9pZvKIxKr06DRE9SzuXOxzx5jz1Ur68Gxf6PNmZz7y61Ty8Ze0SvTGuOLwBMgq9g9C5vHR1b70r0kQ8VwH6vDegMT1RNG28DgNavWTba7wM0BQ9aqGAvYL1mjqquoY8Cm4FvPBCvLzBUCc9g2rHt6w/vbwkpne8Wg2FvXSVwLyMalw83vDyvAmfhrwlBo88avt4u9KdiT0nsk28S6jUvEjAwTySW6K9GdihPdb7F72ZNSA92ufzvL4ihTzEgcu7tD+uvN+j6zwWga27Wrz4PLv5HT1cDy+8Zfygu+MxRDxFpzA8f2UXveApCLpYBrI6znKqvWQ+z7uxotK7yWsWPjSmAL2zO4q8X/9aPQQekT1/W1C99KGUvQwvDb7qo7o8FSMlPdaueTtk1wu9bjutO7N8o7ssSmo8t+3Wu9twHr29l2m9zxEPvdQ4YLzWB0c8ZqhaPKs2djz+8p27pHQZvY+2Rjxz9KY8AgUpPQGupDtNxN28qRkQPUIbfj3exOM8AdMlPYEyVD1uHc89hMOSPAjOjLvJCKQ7Vq06u47qZTwgylq6ETEbPNy/zrxYIoC7hjxTPIBZBz32BSW9RV0fPI0uGrsXKpe7ihOFvJKdvb3UkL66kFlzPTgSMr2tC2Q9IOeePRPowLtuxym9z8jYO5yTGrzUeJi9YDWRPHD16rxj2Hm8MHnbPBLCYL1rDHo84UcyvSDRiTh0kFu9CvA+vfOtCD0T0jG9IoURvQ22Nr2b5b27xTWSvFsAujsNkmW8mqzbvKozvr1tYiU8dqnOutBYujzXXoU7yXaoPEdgB713poS7lvmHPa0LSjwJqEs9hPjcvbZpDT1JMZi6jda/uwizCj04gAq8wo4aPZKtrTq3Pg29BfZbPdiRXT1mIM29lygOvIWNJD16zlq9+n2/vGLliLzsLII9QAWJu2OUxTvuKeC9Xz2gvSqayrxg+Tm9he9XvMXfaTsGQd68eGUOPanHkzz9VKa8EFESvVB7PjzuLF08PdkMPcPceTx5j7k9OcjrO6p9tzzIg6O8RmT5u4lvRTt04i27UVuePJ0dyrwyJAs9jV6LvOmWqL1FeSW6P7H2O+bDNjyRqBq6KpuIPMiznTzgx4c94HIwPC/qOr3f1OM8Zm9jvT7XMD1pcy89oqgivMqHKD2/4IW8QEevPPdAIL0uBI28TPSnvEP37bw5SPK85JueukKEETyxolW7EayDPJYEpTyXKJu9sSOCurDNJDlL1DY9vpZHvS9Eg7woow69Q/7ivOBiib2LY6C8bLDEvNJ+Qj39za48ezYHPWAlOryYhvC8+2qhu/iGg70TwJw7ATlHvd0E+DwrFFq9sayGvYEn2ztOwRC9XWnaPF1rMr0VwB88hmZRvbDdVb0mqAq9dLGLvNTdS7svK+U8jEMVPYRTIb3VM2O9QkVjPbvknDztWwQ90TOYPd+Ynb09kmM6XQ4uPUjuUz0+TgW9/9DiPOCzBr2w6eo74X0dPPmiMTy1zxS9FFmOu4kmpTwNaS08o0VlvM/lc7zOJu68Dtu4PJcolr0aqwO9tQIFveaYhTuoxYE88GRGPPj4Cr3f2BA8PpyhvLC4C71lCvc7F+J2vaURezy2Lz69hpMivDT1BTw1N4G8cXn9u1skzjxgOTk9swBrvbJDBT2eNow9PLWOvDFSqztGDzu8/bBLPKbdHDyctli8l7lJvdGH6zyTIVo8wyqLPHBINT0uEYY8H1tmPcb87rvSmX08czpePJvUYjx7hRI7/TY6vULZBTxjcko8VUzVvEJNID0sR7Q8fZF7PZ/qvryfTRi9bSTNPCVZvjvqLbi8wB2svLlq4Ly1mPq8syj0vKXIhDpFfxE9b8iCvaWVCr1YckS9R/PnPI+hPb1XWC69Upy8POtK/Lsdxw68RMQePE7V0j31tyy9vt/0NxvpFrz7RTG9cVGvvc5rwD175QM8O3RgPVMwW71e5fs7gEzPO1OAaT38hS49/iYjvWn2NDxd4xW9ZGoxPX61Mr13sMY7NE6SvB+2VD2VG8y7ux7rvIjEPjyj7/s8VPNjvVDMZbvc/T49df4jPRFNu7s0AC89/727PFS8ELw4URY9GaiNO8hWuLvkt4A7MB/VO9Jvm7wvmna9/t92vVgXlbns7yg8PUQkvNrL87zGYbA8sg/PvIJVlj3n06G84UKyPAUg2jyaW768R4sfvIdhvjzYF6Q85e79uXcdUT03SIw9fy+RuzOSwrqSM9a8/svUPMEMPzvxlxW92UaLvP6DrrxftVG97q0/vQ9f1L1ZZYA87G2CvBDFAr2KjGa7pHDnu6/lEL3Wu8A7zL3EPY6n4zvtENE691DAvL6IsrsCUI099Pg0PB8eDj3iqC89+XVXPWz50DzHatY8MBisvdb0P7r5Qz08G7evvK2M+zt6LGO8R+gqvVD4GryGWB88Hjg0PYcvEz0f1QS9JPRrvOfpY7yDxQA9a7Q1vOsVP70bhva80AAjvf1ooLxQkbi82C2QvWngWDxnUWg7UQsfvfKXgz3ANIg9OzwhPAhS2Ls1MR68ZHF2vS777zy9t4a92Lx0PDxsID3qylY9WF6lPYSQgbxUhoY9vTGzu21PBL3MAnS8IB64vKTIgTsPK9w7u40mPSAxcb067Qg7FSFau4DWSjzb9Ki8d3ExO0F1A7sudc87Lq3RvAJVMLzRkx688Y5jPadMRD3UMdc8EKF4vBEA1jyluQ09LU/6O0mKlz0CN2g8Vv50PJRjz7ue48484IzOPLGEzjvgaTw9C2iFvI3J+Tq+uli86MV3PYtAo7yG3eC8iGqgu5hnRD1oyMI80nYdve28STxcdSm9H8eLvCq1rrxg6+Q8wOZivXjIZzvHhbW7M+BGvR5FKb2W9ze9VNRIPTwjYruF1E06wZTAO2oXibzaSI+7QwYovVjcpLzWOoG8HqrHvBwBUz3r82G7xAthvMKQIz2+rbU6YxxnPaoR3Dsdaz+94XMKPI0Czbyy4Y48GmBgvTkjZr08dVu9BC5jvARTaj3aqJa8+se9u6Kx47vb/gW9u60TPbbn4jsAkTa7dWrNvE6sHb0y15A91I+7vNCmk71L+D+9Ys6LPLnGar3Utq87a/xVPKQUK7ysuww9zvUxvPltNL21A+286mpgPc0yFr32h8m7OyMBPe/CFD10e4Q9md2LvGWNKjwWWF+8IIcBPTlIcLxk2tC8n9KPvOJ8Hz37iAM9KFo+vEUCMDlTSbI98eDAvFvLOb1lt8C8Maq2PFQ1BD1O3aI7c1OnvOzpGj1WsUE7/5SSPfjexTzOl7e9RBbjOki/CT1uIjG9TbVhvHPJBj0p1L47ljt9PdAHR72lCjE9xBIivYqYzbyayze8Y8EQvBlSfTxfxB683gn9PNtrNr1q82K9OsEzPBO3Hb1hVLY7nZcsvftiAb3thBg8s/Tiuqb5JLwipGg8hmlvPPz8OT2chVQ8JiBRu//ovTxY4089OnArvBUSDb0oosQ7yvauvJnDtDzcem28JjE5vKA3oTz4m+888NI/vXVZtjmczbg6kHqjPLDKoTzAyRy82H8IPE5387sLHRU9ATPRvBBdkTyZfa68mIQYvJVZULwplO07qrS5u3zM8jvucUc9kX4bvKbd+Lt8MBg9hx7uvUCBY7xgTRa9LnFQPayCHj2/1WU80e61u499zzx89Fq72dJOPb2Qjzw7sDS7X5XlPMcorLxaUDQ989IlPT1ox7r5V1K8TDefvDmWz7pDige9/JKdvPnigDxR/f089+zovKd37LwptCo8RcQQvCjZEr1dNBe970EQPBnAA7wcfR09PO0IvbHLTb2Gf168KUNHOpQJbD0c2MM7wdSuPLMAzjstWKK88AUuvRe+EzdsDQM8LPzIPLb6CL0J9wM8QtBVvcj/3Lws7B491aYlvLKRoDpHaCY7GDz/vCw5JrwJm5a93HyIvKcvTT3zmcE6"
}
