bundles/spark/kbs/soar-playbooks/entries/pb-qradar-qradar-get-offense-logs.json
{
  "id": "pb-qradar-qradar-get-offense-logs",
  "title": "QRadar - Get Offense Logs",
  "category": "playbook",
  "content": "Works for QRadar integration version 3, v1 and v2 are deprecated.\n\nNote: You can use the integration to fetch the events with the offense however it will fetch the events according to the specified limit defined in the instance settings. By using this playbook you can define an additional search to query a larger number of logs.\n\nDefault playbook inputs use the QRadar incident fields such as idoffense, starttime. These fields can be replaced but need to point to relevant offense ID and starttime fields.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (QRadar, xsoar-supported).\n\nInputs — MaxLogsCount: Maximum number of log entires to query from QRadar (default: 50); ID: The QRadar offense ID. Uses the id offense incident field.; StartTime: The QRadar offense start time; GetOnlyCREEvents: If value \"OnlyCRE\" get only events made by CRE.\nValues can be \"OnlyCRE\", \"OnlyNotCRE\", \"All\".; Fields: A comma-separated list of extra fields to get from each event.\nYou can replace with different fields as well as rename the field names.; ApiVersion: The API version for the timestamp format changes between versions.\n\nOutputs — QRadar: The QRadar offense logs.; QRadar.SourceIP: The unique source ips.; QRadar.DestinationIP: The unique destination ips.; QRadar.Username: The unique usernames.; QRadar.HighLevelCategory: The unique high level categories.; QRadar.LowLevelCategory: The unique high low categories.; QRadar.QidName: The unique QID names.; QRadar.StartTime: The start time of the first event..\n\nIntegrations/scripts used: ChangeContext, IsIntegrationAvailable, Set, SetAndHandleEmpty, qradar-search-retrieve-events.",
  "raw_yaml": "id: QRadar - Get Offense Logs\nversion: -1\nname: QRadar - Get Offense Logs\ndescription: \"Works for QRadar integration version 3, v1 and v2 are deprecated.\\n\\nNote: You can use the integration to fetch the events with the offense however it will fetch the events according to the specified limit defined in the instance settings. By using this playbook you can define an additional search to query a larger number of logs.\\n\\nDefault playbook inputs use the QRadar incident fields such as idoffense, starttime. These fields can be replaced but need to point to relevant offense ID and starttime fields. \"\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: db9fb0e9-591e-47b6-89e6-58e12e0a4b87\n    type: start\n    task:\n      id: db9fb0e9-591e-47b6-89e6-58e12e0a4b87\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"26\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -420,\n          \"y\": -560\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"1\":\n    id: \"1\"\n    taskid: cfe123d7-145e-466b-8ffb-2854f10cac72\n    type: condition\n    task:\n      id: cfe123d7-145e-466b-8ffb-2854f10cac72\n      version: -1\n      name: Is CRE inserted correctly?\n      description: \"Check if CRE is inserted correctly\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"true\":\n      - \"29\"\n    separatecontext: false\n    conditions:\n    - label: \"true\"\n      condition:\n      - - operator: inList\n          left:\n            value:\n              simple: inputs.GetOnlyCREEvents\n            iscontext: true\n          right:\n            value:\n              simple: OnlyCRE,OnlyNotCRE, All\n    view: |-\n      {\n        \"position\": {\n          \"x\": 60,\n          \"y\": 160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"2\":\n    id: \"2\"\n    taskid: 9adcf948-d938-4fc1-8da2-ec3d45741b5a\n    type: title\n    task:\n      id: 9adcf948-d938-4fc1-8da2-ec3d45741b5a\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -170,\n          \"y\": 1305\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"10\":\n    id: \"10\"\n    taskid: dc8e361c-083a-429c-8276-7e488e5874f5\n    type: regular\n    task:\n      id: dc8e361c-083a-429c-8276-7e488e5874f5\n      version: -1\n      name: Change Context\n      description: Changing the context\n      scriptName: ChangeContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"34\"\n      - \"35\"\n      - \"36\"\n      - \"37\"\n      - \"38\"\n      - \"40\"\n      - \"41\"\n    scriptarguments:\n      capitalize:\n        simple: \"True\"\n      inplace:\n        simple: \"False\"\n      input:\n        complex:\n          root: QRadar.SearchEvents.Events\n      output_key:\n        simple: QRadar.Events\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 880,\n          \"y\": 790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"26\":\n    id: \"26\"\n    taskid: ff090f6c-de26-4237-8521-28c6bff4cd59\n    type: condition\n    task:\n      id: ff090f6c-de26-4237-8521-28c6bff4cd59\n      version: -1\n      name: Is QRadar v3 enabled?\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      \"no\":\n      - \"2\"\n      \"yes\":\n      - \"43\"\n    scriptarguments:\n      brandname:\n        simple: QRadar v3\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -420,\n          \"y\": -350\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"29\":\n    id: \"29\"\n    taskid: 75c91b83-9320-4020-8919-d6d2951d1c46\n    type: regular\n    task:\n      id: 75c91b83-9320-4020-8919-d6d2951d1c46\n      version: -1\n      name: Set CRE settings\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"46\"\n    scriptarguments:\n      key:\n        simple: CRESettings\n      value:\n        complex:\n          root: inputs.GetOnlyCREEvents\n          transformers:\n          - operator: MapValuesTransformer\n            args:\n              input_values:\n                value:\n                  simple: OnlyCRE,OnlyNotCRE,All\n              mapped_values:\n                value:\n                  simple: 'AND \"CRE NAME\" IS NOT NULL , AND \"CRE NAME\" IS NULL , '\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 320,\n          \"y\": 330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"34\":\n    id: \"34\"\n    taskid: 40c58bab-c6d0-4861-8dcf-34be07bbf662\n    type: regular\n    task:\n      id: 40c58bab-c6d0-4861-8dcf-34be07bbf662\n      version: -1\n      name: Set source IP addresses\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.SourceIP\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Sourceip\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 80,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"35\":\n    id: \"35\"\n    taskid: a950f9b4-7aad-497a-879f-fd6c30ae8a86\n    type: regular\n    task:\n      id: a950f9b4-7aad-497a-879f-fd6c30ae8a86\n      version: -1\n      name: Set destination IP addresses\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.DestinationIP\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Destinationip\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"36\":\n    id: \"36\"\n    taskid: cbd30f15-a825-41ea-873e-0384bbc32ee9\n    type: regular\n    task:\n      id: cbd30f15-a825-41ea-873e-0384bbc32ee9\n      version: -1\n      name: Set usernames\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.Username\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Username\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 880,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"37\":\n    id: \"37\"\n    taskid: 17c15e6d-4f67-433e-88e4-f57c3a1ef009\n    type: regular\n    task:\n      id: 17c15e6d-4f67-433e-88e4-f57c3a1ef009\n      version: -1\n      name: Set high level category\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.HighLevelCategory\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Categoryname_Highlevelcategory\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1280,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"38\":\n    id: \"38\"\n    taskid: d877e6c0-eaae-4d5b-805f-a1c3c49fbdc4\n    type: regular\n    task:\n      id: d877e6c0-eaae-4d5b-805f-a1c3c49fbdc4\n      version: -1\n      name: Set low level category\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.LowLevelCategory\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Categoryname_Category\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1680,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"39\":\n    id: \"39\"\n    taskid: 8ac47530-b8b4-478c-8d47-878e72542262\n    type: title\n    task:\n      id: 8ac47530-b8b4-478c-8d47-878e72542262\n      version: -1\n      name: Set outputs\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"10\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 880,\n          \"y\": 660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"40\":\n    id: \"40\"\n    taskid: 8f5b0991-8787-4f8d-8215-ef5a544b3787\n    type: regular\n    task:\n      id: 8f5b0991-8787-4f8d-8215-ef5a544b3787\n      version: -1\n      name: Set QID name\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.QidName\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Qidname_Qid\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2090,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"41\":\n    id: \"41\"\n    taskid: 949f936f-ecf8-41cb-8053-8495674e7cb3\n    type: regular\n    task:\n      id: 949f936f-ecf8-41cb-8053-8495674e7cb3\n      version: -1\n      name: Set Start time\n      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"42\"\n    scriptarguments:\n      key:\n        simple: QRadar.StartTime\n      value:\n        complex:\n          root: QRadar.Events\n          accessor: Starttime\n          transformers:\n          - operator: sort\n            args:\n              descending: {}\n          - operator: FirstArrayElement\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2490,\n          \"y\": 960\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n  \"42\":\n    id: \"42\"\n    taskid: a9282a51-1602-49c6-8b50-f5051f09eefb\n    type: regular\n    task:\n      id: a9282a51-1602-49c6-8b50-f5051f09eefb\n      version: -1\n      name: Set incident fields\n      description: commands.local.cmd.set.incident\n      script: Builtin|||setIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"2\"\n    continueonerror: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1080,\n          \"y\": 1130\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n    continueonerrortype: \"\"\n    scriptarguments:\n      destinationips:\n        simple: ${QRadar.DestinationIP}\n      eventnames:\n        simple: ${QRadar.QidName}\n      highlevelcategories:\n        simple: ${QRadar.HighLevelCategory}\n      lowlevelcategoriesevents:\n        simple: ${QRadar.LowLevelCategory}\n      sourceips:\n        simple: ${QRadar.SourceIP}\n      starttime:\n        simple: ${QRadar.StartTime}\n      usernames:\n        simple: ${QRadar.Username}\n  \"43\":\n    id: \"43\"\n    taskid: 5b1f21a3-d877-4c47-8bfa-2ae86d5f40e4\n    type: condition\n    task:\n      id: 5b1f21a3-d877-4c47-8bfa-2ae86d5f40e4\n      version: -1\n      name: Is QRadar API version less than 19.0?\n      description: Check if QRadar API version is less than 19.0\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"44\"\n      \"yes\":\n      - \"45\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: lessThan\n          left:\n            value:\n              complex:\n                root: inputs.ApiVersion\n            iscontext: true\n          right:\n            value:\n              simple: \"19\"\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 60,\n          \"y\": -180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"44\":\n    id: \"44\"\n    taskid: a108e15e-1fab-4183-8228-2e466faee8bf\n    type: regular\n    task:\n      id: a108e15e-1fab-4183-8228-2e466faee8bf\n      version: -1\n      name: Set timestamp to epoch (milliseconds)\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"1\"\n    scriptarguments:\n      key:\n        simple: Time\n      value:\n        complex:\n          root: inputs.StartTime\n          transformers:\n          - operator: FormattedDateToEpoch\n            args:\n              formatter: {}\n          - operator: multiply\n            args:\n              by:\n                value:\n                  simple: \"1000\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 290,\n          \"y\": -10\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"45\":\n    id: \"45\"\n    taskid: b4914444-95e1-43ef-8772-a529cf6f0d29\n    type: regular\n    task:\n      id: b4914444-95e1-43ef-8772-a529cf6f0d29\n      version: -1\n      name: Set timestamp to epoch (seconds)\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"1\"\n    scriptarguments:\n      key:\n        simple: Time\n      value:\n        complex:\n          root: inputs.StartTime\n          transformers:\n          - operator: FormattedDateToEpoch\n            args:\n              formatter: {}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -170,\n          \"y\": -10\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"46\":\n    id: \"46\"\n    taskid: 2c668955-ac6c-4387-8062-e263584b5ca9\n    type: regular\n    task:\n      id: 2c668955-ac6c-4387-8062-e263584b5ca9\n      version: -1\n      name: Run Qradar Search\n      description: Polling command to search for events of a specific offense.\n      script: '|||qradar-search-retrieve-events'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"39\"\n    scriptarguments:\n      interval_in_seconds:\n        simple: \"1\"\n      query_expression:\n        simple: |-\n          select  ${inputs.Fields} from events WHERE INOFFENSE(${inputs.ID}) ${CRESettings}\n          LIMIT ${inputs.MaxLogsCount}\n          START '${Time}'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 320,\n          \"y\": 480\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"1_2_#default#\": 0.74\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1930,\n        \"width\": 3290,\n        \"x\": -420,\n        \"y\": -560\n      }\n    }\n  }\ninputs:\n- key: MaxLogsCount\n  value:\n    simple: \"50\"\n  required: false\n  description: 'Maximum number of log entires to query from QRadar (default: 50)'\n  playbookInputQuery:\n- key: ID\n  value:\n    complex:\n      root: incident\n      accessor: idoffense\n  required: true\n  description: The QRadar offense ID. Uses the id offense incident field.\n  playbookInputQuery:\n- key: StartTime\n  value:\n    complex:\n      root: incident\n      accessor: starttime\n  required: true\n  description: The QRadar offense start time\n  playbookInputQuery:\n- key: GetOnlyCREEvents\n  value:\n    simple: All\n  required: false\n  description: |-\n    If value \"OnlyCRE\" get only events made by CRE.\n    Values can be \"OnlyCRE\", \"OnlyNotCRE\", \"All\".\n  playbookInputQuery:\n- key: Fields\n  value:\n    simple: QIDNAME(qid), LOGSOURCENAME(logsourceid), CATEGORYNAME(highlevelcategory), CATEGORYNAME(category), PROTOCOLNAME(protocolid), sourceip, sourceport, destinationip, destinationport, QIDDESCRIPTION(qid), username, PROTOCOLNAME(protocolid), RULENAME(\"creEventList\"), sourcegeographiclocation, sourceMAC, sourcev6, destinationgeographiclocation, destinationv6, LOGSOURCETYPENAME(devicetype), credibility, severity, magnitude, eventcount, eventDirection, postNatDestinationIP, postNatDestinationPort, postNatSourceIP, postNatSourcePort, preNatDestinationPort, preNatSourceIP, preNatSourcePort, UTF8(payload), starttime, devicetime\n  required: false\n  description: |-\n    A comma-separated list of extra fields to get from each event.\n    You can replace with different fields as well as rename the field names.\n  playbookInputQuery:\n- key: ApiVersion\n  value:\n    simple: \"17\"\n  required: false\n  description: The API version for the timestamp format changes between versions\n  playbookInputQuery:\noutputs:\n- contextPath: QRadar\n  description: The QRadar offense logs.\n  type: string\n- contextPath: QRadar.SourceIP\n  description: The unique source ips.\n  type: string\n- contextPath: QRadar.DestinationIP\n  description: The unique destination ips.\n  type: string\n- contextPath: QRadar.Username\n  description: The unique usernames.\n  type: string\n- contextPath: QRadar.HighLevelCategory\n  description: The unique high level categories.\n  type: string\n- contextPath: QRadar.LowLevelCategory\n  description: The unique high low categories.\n  type: string\n- contextPath: QRadar.QidName\n  description: The unique QID names.\n  type: string\n- contextPath: QRadar.StartTime\n  description: The start time of the first event.\n  type: string\ntests:\n- QRadar - Get Offense Logs Test\nfromversion: 6.0.0\ncontentitemexportablefields:\n  contentitemfields: {}\nsystem: true\nsupportedModules:\n- agentix\n- xsiam\n",
  "product": "Cortex XSOAR",
  "pack": "QRadar",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "9NZ/PQtwursn7I699RQSPGxmiT1znAE8XuuIPVcljrurQla8iaRUvF9IGb10fU09nDp+PSEAujz93Xy7xdMyvV5rZD2GKYM9lH8AvTqHAL1wyKu8wJY0vdPdW7y2c8Q8AVa5vESAB70AMTA8iSygu5DUPb2aTKY8eq0YvKT0UTwK3yG8CCxmPHmhY7zKgTA708IAvZYSy7w4ogm9rvY8vDuBjr1JRv+6TGE6vF0Njj0LHZA8C8N3vcmz2rz4O4Q8gXCzva9NBDxMrho9AlM2PVDkELzhbcw7ujD1vB/1t7y9opG8FOpxvZHFEL1al4688nrkuniJF7zfJjI7Cig0PHDhXz3wKyI7RUnyvDs2ADuwS329m7p+Pfrglbx1Zqk9x7MWvQWunjtsRE68OiKOvI1CgzxX+kE7s2P5O+SvJT0skZm8evrnvLYbBj0QRqs8KIS9vJ1FtbuO7d48gNqfvQnWWbympjW9v8jFPTiPQr373+u8M3luPVUjVz0Ilpu84wtuvRotCr4vGI88GC5XPdwLrLzWUIG8tn1wO48RhrymuVE8lMEWPcFRmTu03Y29gCQ+vZsiOTyu8q06pPckvFPSyDyBTBM9pSFbvWqv+DyhuMQ604oxPc/fDbyezNK8VwADPTZnHD1qs3W8b3yGPIWUUT2m+Ko9k+lnO30QqbmvGAe8StFdPHb5dbwjEyq8DZAXvMRmDr3F8ee6FWhLO/3zMz1DNlO93BONvD8nu7zGpmI8WAKmu33Y271RsiO7n/iCPR0RgLzYi3k9ADyjPYu9DbwTbj67c/JcO8K727s7Rgm9xb2ZvGTHD71ocyW9QFqyPHMzg71GWpE8h0AuvVppabznSuy8JGDfvHCnxDyDexi9lXLLvJdFQL17bSc72AGKvZeIDbkUh/g75NDlvCQqir1lbWa8hA9SvEznMz1XP8A8El2WO38F17w5RP687X68PZ3YQDwbnDE8Ygqyva/5Bz03fNE7sqFvvFOBhTwg9EM8S8UNPWzgNbyMPTS9mFXwuL86Jj0lyJO9KGmWvEXRMD04Spk7916dvO2DI7wNFKY9masdPRwCQbxsh9W9lDiUvT+vvrxQccG9jvYyvbw4RLxwnfi8Qp3QPG39Fj0f2fS8vT8JvVI+Zzw/NXY8tAp1PW+q8jyoIJQ96g0EvMGpwDtq8t+85CTZvOzF4Dvc1hy8e2j2O/7NEL32d4o8C+n2vA7lyL3cio478wHTPE7UrLwsdEW6Vb5ZPJLT3jwpN1U9sygPPaXrVr1QB1U8HD1pvZTVrDxWg848EpEEPDjQXj0b9MO8Jyh0PHsXCb2zM5O8RpjpvHKFWbv0azO90W0xPSQbvbvLWXk8daa4u2p9YjvK5YC9OTKZOze/TLxvd888SXKCvLnIlrzfEOK8HO02vL5peL1oYM280KKLvPvWHT2qcgQ9rKkgPa7XyLvKMu28CBwWuxZYlL19/O27DBB1vWPULz1lZsS9O1ytvZypX7yGokO7V28UPaaK9rzTW7W7QmVlvb5RDb2PSYy8DdLBvCcACrxr6EA8x1VaPRn+27y5z4G9VVYZPZDiMDwA2gk9nYGbPdYCsrzYg4o8bWk/PDA+Vz1AxiK8kwDgO53DeLtvDoA67kG8PGV+zTwwCB292/SEvJFJRT2yoNO7TGQDPLM5trwU2em8tOZOPPYFr73tLA+8YePnOrgIVrtkBTU846OVPG6+g7zNL8Q8BTYxvZf3dDzzlqk7gql4vHy3x7tZYGS9q0/lvKN46TxVf4s7MuoDPR0KlDycHj89naoIvTrc7zzt7Iw90ol/vLb6Ujyc9ag7OB1xPEB86ruYhoG8WkHBuwWdTj04o8O8FrIaPRtuPj0jVgg9PmBbPaie27xxkBo87qiYPNQsCzxUu4e7OBEYvRGu3zpcEJW8n5QKvVfDYD3hKRK86/RFPTAj2ryIVWe989TvPEriDj1DXla8L8kgvfGq9rxq+cu8oEXOu0ZhYTxoX4U9NxGwvUYW1LyhDYc83cp2PPFtO71qSnK8sQA4Pb6veLyfU3s8nIH1O1ddpz2j1MG84vKRPAzsWLs94xe9dAuZvRPHvT3eQp880ayAPY1aWL3J+1e8xC/Duz0/pz2Ghx09SUivvGM73buPSma8AhQTPXBzVr1twuY7/HLauuFSLj1Flkq8AFa2vFuF0rradII8LVRFvb2QqbyXxBo9PWTAPHU/gTwNbVM9i28NPUTop7zBjAw9KA2bO0KqmDyatH48Vl+QO6UatjvaRIy9P+pIvey++bx7gRY9uvVfPMwKEr3HpyE9mXyuPPDEST1lc0e8fOgIu38nWTwU/1i9KPs+vB11/DzHFn08aP4CvJV9UzzEaT49zl0avYNUEjwNAIW8/8IyPWAorjyraRS93GJePBHNUbz7TDS9VC0MvZjotr2zZ4w86CiovCRdn7xkym68+MERu3TxNr3cGCK8j4q0PXzCjTyMGhs8bUcGvbuoejwTIb09cQ8/PLz3hj1Mdn88TYsNPUBLuDzcb6U8kMuFvSNGOby4qVQ7zOhCu0mYSbweopC8YoRsvPocYb1+Ncw8TdEiPNUyBD0Ck8u8G2KWvDk/kDz8/is9QvfpuwKkD71IJSu93JhNu7pYEL2pYAK96m5UvR7ZsTwaJIe8cEQ0vOJDhT1tJLM9Xb5KPNJ2w7xS+R28AzORvLDCDT0RNSK9mnLGOy8j4TyQMI89kMBvPdzOCbyzzjo9nOrPvBc2bbw6Foq8aEJAvO0k+Dv1Ir08Hfw0PfI6hb1zPZ87qlC+PDz9ljveoxG9DFX0u15FqLyn4Eo9PL/wOseXAL0oAJa8hEY8PQpcIj3Vfp49BnvWO8cETDxzBAo9+uK4O+gveD251Ps8rlTyPCy++DkWoUE9o4dkPGsnBTyA/S09BNCZuw/ibzxDpZG8BcCQPcmIbr3eOyO9LJB2PBjWhjzDlek8Lzb7vBPRHDxg0A68vk/LO//+6bu/HJc8UpeHvQCvC73aBFo8qysUvZadNL3WNCO91gFvPahhl7wJsZm6S5wiO9DsLLzJ2k67AWDJvN/JwrwG8aI6ncOTvLwZ7Dx4YS47+7qcO0wiH7wK5F8875KEPdvzQTxj5vi8N+2tufHwq7wLDD87uMeovWjFhrzJu0u9k0kgvZtfwzy4ryq9myOpPASXHbwoqgC9UWoKPaOXBDyO2oW6UMsevXSJK70fVXQ9bh7UvCA5V73jBCC9x7McPCYLeL0ZYr88ahN5vCPXBr2Dh4I9n4H5vBxxML1Ppie97ZRwPZYxG70gRyu8xN6aO30I3DxUE4U9QvumPDLbrjyMf2W8kFGoPGXW47wJGei8U9wYvRdZFT2tLpA85yqcO2/mcDzx3189nzfou4RdLr2P4x29cwZKPPuVgTyT7eg8YVbpvBCJVD2siNa8OalRPW/bt7x0meO9y3lrPKPg9zz+YIW9YasAvVn2kjzcrn88RZv6PZnycr3xFV09RCM8vSTewLyAPf68nDd5vBdKAD2aqbq8C8cHPaOtHb0Ee6G9Q/CYPP+DmL17Sxo80S4xvR8HML10kDQ8X5L0uwfT9LxER+M68Uw8PNDqtjz1YBU9KHnFPGRsODzF5Bk9yXTHun351LxuHSE7BbaUvO3phjwBfuS7LT8QPFe3Bjz07HM8ZIxbvXw9JbyX/IK8ZeWLPErLYTziglm8wH5CPJ+LwbvkZjM901AOvQDXxTwA4X28EdGGvCvNCzxmm567za/LvFBCuLzHzxQ9FChyu/y21zsXSoQ994nWvR2vTbvnsy+9vMSSPVVBBz3RvVQ8itJ6vBvOBj2p+2+7qXVFPXLg7ztGVpU7JKgOPdCdA70/MD09aAqYPS8CszyJOAY7vveKvGL0+bsdvC+9LnoKPDpK0TywSqw8bU+zvI6zDb1Epsw8aYMGvDD+NL177Yy7U8WWO0/FYryVOM47ConKvB8eyLzWVO+8qCkGPBesXD2RuMU8OeRgPSkTkjyRQ9273Q02vcwtDz1H/us8pXUtPUrMD73pQTE8q4IDvWD4Bb2sVWw9TMw6PAb3bDt4g9Y8pH7gvLt4obxUNRq908hFu59tUD01LZE8"
}
