bundles/spark/kbs/soar-playbooks/entries/pb-recordedfuture-recorded-future-domain-reputation.json
{
  "id": "pb-recordedfuture-recorded-future-domain-reputation",
  "title": "Recorded Future Domain Reputation",
  "category": "playbook",
  "content": "Domain reputation using Recorded Future SOAR enrichment\n\nCortex XSOAR/XSIAM SOAR playbook from the Recorded Future pack (RecordedFuture, partner-supported).\n\nInputs — Domain: The domain name to get reputation of..\n\nOutputs — DBotScore.Indicator: The indicator that was tested; DBotScore.Type: Indicator type; DBotScore.Vendor: Vendor used to calculate the score; DBotScore.Score: The actual score; Domain.Malicious.Vendor: For malicious domains, the vendor that made the decision; Domain.Malicious.Description: For malicious domains, the reason that the vendor made the decision; Domain.Name: Domain name; RecordedFuture.Domain.riskScore: Recorded Future Domain Risk Score; RecordedFuture.Domain.riskLevel: Recorded Future Domain Risk Level; RecordedFuture.Domain.Evidence.rule: Recorded Future Risk Rule Name.\n\nIntegrations/scripts used: Recorded Future v2.",
  "raw_yaml": "id: Recorded Future Domain Reputation\nversion: -1\nname: Recorded Future Domain Reputation\ndescription: Domain reputation using Recorded Future SOAR enrichment\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 46eaf52b-f22e-4d99-8b97-f389db8f5d5c\n    type: start\n    task:\n      id: 46eaf52b-f22e-4d99-8b97-f389db8f5d5c\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"16\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"16\":\n    id: \"16\"\n    taskid: 844d9fad-8cb7-4877-8d6e-cc55f81657d3\n    type: condition\n    task:\n      id: 844d9fad-8cb7-4877-8d6e-cc55f81657d3\n      version: -1\n      name: Is there a domain to get reputation of?\n      description: Checks whether the playbook's input contains at least one domain\n        name for which to get the reputation.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"24\"\n      \"yes\":\n      - \"29\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              simple: inputs.Domain\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"24\":\n    id: \"24\"\n    taskid: a53e5ad6-3d5a-47fc-8afc-e4a1a66fe039\n    type: title\n    task:\n      id: a53e5ad6-3d5a-47fc-8afc-e4a1a66fe039\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 865\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"26\":\n    id: \"26\"\n    taskid: ef521fa4-102a-472b-8ed9-2e9afde09347\n    type: condition\n    task:\n      id: ef521fa4-102a-472b-8ed9-2e9afde09347\n      version: -1\n      name: Is Recorded Future API enabled?\n      description: Checks if there is an active instance of the Recorded Future API\n        integration enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"24\"\n      \"yes\":\n      - \"28\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: containsString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Recorded Future v2\n                    ignorecase: true\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                    ignorecase: true\n                accessor: brand\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 410,\n          \"y\": 505\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"28\":\n    id: \"28\"\n    taskid: f70a438e-3494-4fa6-859a-a304ff7e553f\n    type: regular\n    task:\n      id: f70a438e-3494-4fa6-859a-a304ff7e553f\n      version: -1\n      name: Get domain reputation from Recorded Future\n      description: Get a quick indication of the risk associated with a domain.\n      script: Recorded Future v2|||domain\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n      - \"30\"\n    scriptarguments:\n      domain:\n        complex:\n          root: inputs.Domain\n          transformers:\n          - operator: uniq\n    reputationcalc: 1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"29\":\n    id: \"29\"\n    taskid: d402c8af-de3f-4ff0-8e3a-3bdfe2366d02\n    type: title\n    task:\n      id: d402c8af-de3f-4ff0-8e3a-3bdfe2366d02\n      version: -1\n      name: Get reputation using Recorded Future API\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"26\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 410,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"30\":\n    id: \"30\"\n    taskid: 7843cabc-fd9a-4730-8427-5b2abdaebbe4\n    type: regular\n    task:\n      id: 7843cabc-fd9a-4730-8427-5b2abdaebbe4\n      version: -1\n      name: setIndicator\n      description: Change the properties of an indicator\n      script: Builtin|||setIndicator\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"24\"\n    scriptarguments:\n      recordedfutureriskrules:\n        simple: ${RecordedFuture.Domain.rules}\n      value:\n        simple: ${inputs.Domain}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 850\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"16_24_#default#\": 0.57,\n      \"26_24_#default#\": 0.55,\n      \"26_28_yes\": 0.61\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 895,\n        \"width\": 890,\n        \"x\": 50,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: Domain\n  value:\n    complex:\n      root: Domain\n      accessor: Name\n  required: false\n  description: The domain name to get reputation of.\n  playbookInputQuery:\noutputs:\n- contextPath: DBotScore.Indicator\n  description: The indicator that was tested\n  type: string\n- contextPath: DBotScore.Type\n  description: Indicator type\n  type: string\n- contextPath: DBotScore.Vendor\n  description: Vendor used to calculate the score\n  type: string\n- contextPath: DBotScore.Score\n  description: The actual score\n  type: number\n- contextPath: Domain.Malicious.Vendor\n  description: For malicious domains, the vendor that made the decision\n  type: string\n- contextPath: Domain.Malicious.Description\n  description: For malicious domains, the reason that the vendor made the decision\n  type: string\n- contextPath: Domain.Name\n  description: Domain name\n  type: string\n- contextPath: RecordedFuture.Domain.riskScore\n  description: Recorded Future Domain Risk Score\n  type: number\n- contextPath: RecordedFuture.Domain.riskLevel\n  description: Recorded Future Domain Risk Level\n  type: string\n- contextPath: RecordedFuture.Domain.Evidence.rule\n  description: Recorded Future Risk Rule Name\n  type: string\n- contextPath: RecordedFuture.Domain.Evidence.mitigation\n  description: Recorded Future Risk Rule Mitigation\n  type: string\n- contextPath: RecordedFuture.Domain.Evidence.description\n  description: Recorded Future Risk Rule description\n  type: string\n- contextPath: RecordedFuture.Domain.Evidence.timestamp\n  description: Recorded Future Risk Rule timestamp\n  type: date\n- contextPath: RecordedFuture.Domain.Evidence.level\n  description: Recorded Future Risk Rule Level\n  type: number\n- contextPath: RecordedFuture.Domain.Evidence.ruleid\n  description: Recorded Future Risk Rule ID\n  type: string\n- contextPath: RecordedFuture.Domain.name\n  description: Domain name\n  type: string\n- contextPath: RecordedFuture.Domain.maxRules\n  description: Maximum count of Recorded Future Domain Risk Rules\n  type: number\n- contextPath: RecordedFuture.Domain.ruleCount\n  description: Number of triggered Recorded Future Domain Risk Rules\n  type: number\ntests:\n- Recorded Future Test Playbook\nfromversion: 5.0.0\n",
  "product": "Recorded Future",
  "pack": "RecordedFuture",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "5.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:recorded-future",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "rYOuO/A4xjw+rTe9KYZVPKF9dTxApSA9AsitPP7N8Lu9lrU8Pv7Pu23ThjtEDLY94rAbPY6aCT2vwgq8UHv8vJPPYTw+45w9fgOQvcYxR71IGgC9hWDrvFiljTwx26K7UtzEvG6RyL2cNAI7Y9MoPKgKKL0DYjc85MrVvND2gz39UM08ItQ2vZgCTbyqeQo7y7gYvCIDAb163JS8Gg+QO+A3rb2gbgU5jHj/O5ISBD3ZAbc8wEGmvdL+8LvS0hc9hlNkvSUYiTxdzQM9ElBQvJes/byA0G89ry6+PBmiI70suSs9lFOhvKeNEroXyz08MvsnPL9OPL2MRLY8//YiOztJQT3Y7Eo70UdmOy2UtDv+8N69x/b1PHCPUr2jVDM9rFKIvDCTaLo2Qfs7KRIFvJr0kzzMM8K8zxbBPFykI7y1QGC8BFotPLEyYj1mw5U8SIVFvOixe70gl+O6V79RvaY7Cr1AwjW8sLjOPa1m9LzWh8m886CFPTXOHT0ZT+o736xXvXEUu733K/Y8+BGEPTeSNzxzStm8I3qvPLc+W7yn0YG5HWgpPSHnV7y6/IC9YvwnvcU0djzJAU68DKpsO2+6CD0kUTQ9Gy9LvbuYLz1mgAi91ahCPMSqZbwiu8m8WRfQOzwLVD1HPCy73RYWPeKJjD1uc3Q9A0MvPVNPgzslKvQ6GEKpu+jwLDye84u96FRiPNXmMb2SZDa8gQtZvI3lBj2Ugdq8GZeyu3s8QjywfUy7TJ/yvB+A6r1RV1q8Rb5cPYvac7sDQZQ8DhKXPdwcUrv5u9G8LkyoPEMFcbwWhrO9hdtrPJHw9Lx3FM4640pNPP47h72jL/s7PbO1vBNT+jyxj8+8y7kNPQuujTzxz0K782MRvYhMXbzDdCm81Cc1vUfjAD0rKKe8wd4HvdOIPr3mfeS8Y+vsuwMYYT3IkUQ7rEhAuznye70PSca8ZrCjPfDZtLynBf+6k9CyvWss3DonsQ08QhubO84aPzyOPOu8cHMyPE7COrxC0FG75l6WO3Rgcj3NCwC9FywxuxgtNz3JSxG9LLqBu9pSWb3ssVE9sbHRvFIVCb2Bvbu9U1C7PGgEbDxVEOa8osScuxOxPD3A0X28X4aVPIJM8DzmDzK9HD19O+dyGz21GfE8dasOvF/bbz1V5tE9jvhtPIhwjjz5y6i8BeylvVmktjwhuqi8pyZEPYSrtbvPpSI9KUSqvEiN3b3Tgso8VXEtPffjtLwpBjY9/vzPPGcQAj3ud/E8M+ARO98Oa7ssiBc8cTaxvG/Yaz2Grcg8t5KMvBSjTj1yOTY8Wji0PAd4qbvWCRI91myRvcBh6bz5CKI87o2QO0sDSDtofF29qUSuPEBULD01yte7ieKmvJiEKrya4cY7wCzEvIVgSbyyAj+9UdTRvNQeqr3PiOO8DWyDvKXyvjzS4uI85GVLPdiCizx4aVy8p4cmvHFqH714vtO8RgssvcKUIj2QSaG9ptvRvJwwrzw+3gk8emDEPNyz37z9nxu8nc6Gvf2+PDx97AA8/a9QvYzKJb3HFvk8k73BPFvyJb3VS+i8B8hFPWikmrw0gKI8omlYPWgz9Tydwcg8g8dlPQ4V3zpAT1w75bmbPUeQEL3foZU82cErPXyihbw4Ota7OC+/O9rOgLz1XMq7juxjvEf+C72KnVe8884vvWcMsr2C2OO7ktjFvD/nlLxamzo97tEvPGmREr0zzPk82SXEvNfkEr3/4xK7coxKvXCerzup0BW9LQnKPPfPQj1byIq8lgYAvbkLd7xV60y7aGPHvQEkHT1OsFk9ngRSvPD7zjwzxqS8E0UYPdFoDDsmOjQ8f572vCqqkDzMjUW8fntwPYk1gj15iC491QORuxl+TrsQsDk6AmAcPeJ3eLvqwqI82Y85vbqGrjyDT/Q7TiKpPA49Dj2YY+I7Gh59PT6ghzlFfme98EwbPbyvST3PP6o797hWvJrO2jppJzW8Fk7+Oz3vZL3VR3o8yQxEvbkyMr3ZpUA8BgyAPOt4trxWm9i8bwErPWJytbwJXY88PW6DPPEPbj28ebS8LQkVPFRBszw7PYO8rv4TvSiYiT12sB49G7R2PahBhryNVLk63DaCvGkCHT3Vza48pDYuvUCZGL1Sqfq8+HRcPK3MUr3Cu407iVyzvKawjz29E/A8L0YZvMvLFb1z5Tw82NJEvRsmGb1f7pM8e0/LPD/6MzyzhgQ9QTTVOzaXjzybDxQ9cN33u7q8rbyyucu8MSZAPD9wrLqudby9cRfJPIKaATxevbA87zd/PG924bxNMFY85ZLgvPlyFT0rdje8KmyWPDoh5Dw/FlQ8W2EHvfygCj0+BNQ8ZQ1TPRPadj1ZuiI9NwDbvBc847vETZe8JVYnPWn47DqAR0W9amWou8UvpLwtbs08TDhRvcveoL1CIgw9hwj4vOD4wDktW6a8hrvsvDdlGr1crIw8iwmbPUNRKzpt2om86s/+vGzdOr1LgIE9PicHPSY3bz0I7c087PMEPQVABz1AePs8eCRIvf0CS70YE8g8NNZAvfmWHz2B0lo70ciCvXItq7sQK5y8YqauPH+G/zyjI669+DykO9F4r7oL9Lk8iYBSvcsVkL1y2x69NsEZvdbttbzlVg69t4SxvQpdVj3Eaq084msDvT3hkz24mq49vo+cPRrlmjy1xgW9Z1oRvaq1yDwCAD69M9h7O9MIET25CUM9a5zsPP0MCL12rJY9RRMZvZmYLL28Vt27DO0Svb/HBzhTvN082DkTPdE3Bb2jywg9L4JIPdKIZLx6FQS9jEM+O9zna7xjTA29sl6hu2bmcDwqYzm98RYPPeuH0bwj+588wGNRvH+7jT3SFP08PatPPLfskD0kG0U9VrRjvNYXkzy3j549NpVSvCPxG7x3i+c7UZFuvOOhZzxwFBO9LlyEPTxk3LjZvaS8nYVJvOG6Ez1hoYQ8srlEvdJH37tmuLa8NM5lvOjyD72BcW67cuQyvSSomrtr9ME8NTsovLtFu7wWtk293+8fPbA2pDpw4BA9RwgjPBrGD7yLUz68SmVFvVXcRDqxyj47OU6BPKn6ET0d3tG8srMtOi5yWj1GNpq8hXqRPcHuAb0YuF+9DrkEPZEvIr0Qqmy8mFiDvf4aJL25HFm9g7u2OyZqBj3bLbG8qJ07O63OTLySvT+9NKORPYfCFzs4RkC8RnEZPNl/Xb11e7M91derOz7WorxTYHa94bdCvTsF67zoSrM8AAlFvCpLNDz9Xyo9+LESvf3UJb2IwzS9Lj8Xu90+Zr0FO9i8MQUZvXk7hzz5oho90pg8vG4SKrz/FR48ZdqoPHDswbyaV6y7A7DLPPvKtT2APlE7/3ETvc9rPbzo0xU9UzftvIMEhrwmGBO8RYi/PNIziTwPvEY8h121vHftLz2z0OW80h2TPW29cjwxWW+9DH4Cus6mGzyLTVC87hUUPO51B7tWcRo9GPhaPcYkxrzHAiM9ZoHFvZjLIrxgHCY96XHUvISshTw0Yw29JG5qPGX7F71z8pO9SlipPF4jRLyqJ888Xm1lupVdmb34+6c82+cLPCA4zLy+25K8ehY9PO0udT2PB7w7FiOUu8fPkDzdujc9OPODvDk6C7zMs9u86clavZ2BdDwahOa8fD/VPGjCQDxcN5I9Ho/evOpQK7xLDAM9PR4bPawpEDzJaTy9ZP1uOw0SKjs+woo7q6r7vKnMfL3E48y72HKFu9cYST2/0X084k25vNQhNjvx/n88h3mHvBKITzzFK2g9mmO8vbLycLxxzYC8btU2PVABfT2rhfC8oCDqO78TxTxuFa27aYq6PKrdLz2+RYk8IvLmPMANTrwVHQQ91qZMPYdStrydr0+9dl0svBtB7bw3cW69CnBCPJka3Dw6zPc87pk3vRYehLuKMLu7lffVu86E9rwa/YE8jKLjvFz2QrwQlsc8xGiDvV6TFb09HfE81BItu7NSbT1b4/88BNhvPPARJTuhYja9xoelvRSperz9JIy7A5eRPLeLSTw1cRa9X3rBvKR7x7rv4QQ97JDYu2ueQ71ElmM8R/UAOgXmujwohXa9bncgvfKVTz1vokY5"
}
