bundles/spark/kbs/soar-playbooks/entries/pb-rapid7-insightidr-rapid7-insightidr-http-requests-indicators-hunting.json
{
  "id": "pb-rapid7-insightidr-rapid7-insightidr-http-requests-indicators-hunting",
  "title": "Rapid7 InsightIDR - HTTP Requests Indicators Hunting",
  "category": "playbook",
  "content": "This playbook queries Rapid7 InsightIDR SIEM for indicators associated with HTTP requests, including HTTP request methods, user agents, URIs, and Ja3.\n\nNote that multiple search values should be separated by commas only (without spaces or any special characters).\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (Rapid7_InsightIDR, xsoar-supported).\n\nInputs — UserAgent: A single or multiple user agents to search for within Rapid7 InsightIDR logs.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; InsightIDRUserAgentField: The name of the fields, in Rapid7 InsightIDR, in which to find the user agents.; URI: A single or multiple URIs to search for within Rapid7 InsightIDR logs.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; InsightIDRURIField: The name of the fields, in Rapid7 InsightIDR, in which to find the URIs.; HTTPRequestMethods: A single or multiple HTTP requests methods to search for within Rapid7 InsightIDR logs.\n\nSeparate multiple search values by commas only (without spaces or any special characters).; InsightIDRHttpMethodsField: The name of the fields, in Rapid7 InsightIDR, in which to find the HTTP request methods.; Ja3: A single or multiple Ja3s to search for within Rapid7 InsightIDR logs.\n\nSeparate multiple search values by commas only (without spaces or any special characters).\n\nJA3 is a method for creating SSL/TLS client fingerprints that should be easy to produce on any platform and can be easily shared for threat intelligence.; InsightIDRJa3Field: The name of the fields, in Rapid7 InsightIDR, in which to find the Ja3s.; LogSetId: An identifier for a Rapid7 InsightIDR log set to query.; time_range: Specify the timeframe in which the Rapid7 InsightIDR logs will be searched. Most start with 'last' (e.g., last 2 months, last 10 minutes).\nThe 'start_time' and 'end_time' inputs should not be used if the time_range input is specified.\n\nSupported time units (case insensitive):\nmin(s) or minute(s)\nhr(s) or hour(s)\nday(s)\nweek(s)\nmonth(s)\nyear(s).\n\nOutputs — Rapid7InsightIDR.HuntingResults: Events log objects containing relevant fields..\n\nIntegrations/scripts used: IsIntegrationAvailable, LoadJSON, Rapid7 InsightIDR, SetAndHandleEmpty.",
  "raw_yaml": "id: Rapid7 InsightIDR - HTTP Requests Indicators Hunting\nversion: -1\nname: Rapid7 InsightIDR - HTTP Requests Indicators Hunting\ndescription: \"This playbook queries Rapid7 InsightIDR SIEM for indicators associated with HTTP requests, including HTTP request methods, user agents, URIs, and Ja3.\\n\\nNote that multiple search values should be separated by commas only (without spaces or any special characters). \"\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: a52d8420-7a8c-4987-866d-15dd05511bae\n    type: start\n    task:\n      id: a52d8420-7a8c-4987-866d-15dd05511bae\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"56\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5100,\n          \"y\": -2200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: ea98807d-90dc-4bbd-898f-240df1c82a28\n    type: title\n    task:\n      id: ea98807d-90dc-4bbd-898f-240df1c82a28\n      version: -1\n      name: User Agent Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"145\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4270,\n          \"y\": -1900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 07f156af-128d-4689-8b10-fe0d5b4dd9df\n    type: title\n    task:\n      id: 07f156af-128d-4689-8b10-fe0d5b4dd9df\n      version: -1\n      name: URI Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"144\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3670,\n          \"y\": -1900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: ee7f5c64-eaac-43e7-8949-5b5e070fa940\n    type: regular\n    task:\n      id: ee7f5c64-eaac-43e7-8949-5b5e070fa940\n      version: -1\n      name: Rapid7 InsightIDR query - user agent\n      description: Queries within a log set for certain values.\n      script: Rapid7 InsightIDR|||rapid7-insight-idr-query-log-set\n      type: regular\n      iscommand: true\n      brand: Rapid7 InsightIDR\n    nexttasks:\n      '#none#':\n      - \"129\"\n    scriptarguments:\n      end_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: end_time\n      log_set_id:\n        complex:\n          root: inputs.LogSetId\n      logs_per_page:\n        complex:\n          root: inputs.logs_per_page\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n          - - operator: lessThanOrEqual\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n              right:\n                value:\n                  simple: \"500\"\n      query:\n        simple: where(${inputs.InsightIDRUserAgentField} CONTAINS-ANY [${UserAgentParsed}])\n      sequence_number:\n        complex:\n          root: inputs.sequence_number\n      start_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: start_time\n      time_range:\n        complex:\n          root: inputs.time_range\n          filters:\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4050,\n          \"y\": -1440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: 86eafadd-61e4-49b3-81e0-216dbb02e330\n    type: regular\n    task:\n      id: 86eafadd-61e4-49b3-81e0-216dbb02e330\n      version: -1\n      name: Rapid7 InsightIDR query - URI\n      description: Queries within a log set for certain values.\n      script: Rapid7 InsightIDR|||rapid7-insight-idr-query-log-set\n      type: regular\n      iscommand: true\n      brand: Rapid7 InsightIDR\n    nexttasks:\n      '#none#':\n      - \"128\"\n    scriptarguments:\n      end_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: end_time\n      log_set_id:\n        complex:\n          root: inputs.LogSetId\n      logs_per_page:\n        complex:\n          root: inputs.logs_per_page\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n          - - operator: lessThanOrEqual\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n              right:\n                value:\n                  simple: \"500\"\n      query:\n        simple: where(${inputs.InsightIDRURIField} CONTAINS-ANY [${URIParsed}])\n      sequence_number:\n        complex:\n          root: inputs.sequence_number\n      start_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: start_time\n      time_range:\n        complex:\n          root: inputs.time_range\n          filters:\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3450,\n          \"y\": -1440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"53\":\n    id: \"53\"\n    taskid: c58a191f-280a-42df-85a6-1b710c9918d7\n    type: title\n    task:\n      id: c58a191f-280a-42df-85a6-1b710c9918d7\n      version: -1\n      name: HTTP Request Methods Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"143\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3070,\n          \"y\": -1900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"54\":\n    id: \"54\"\n    taskid: 24ee4171-02df-49b3-80ea-f80f56dcac15\n    type: regular\n    task:\n      id: 24ee4171-02df-49b3-80ea-f80f56dcac15\n      version: -1\n      name: Rapid7 InsightIDR query - HTTP request methods\n      description: Queries within a log set for certain values.\n      script: Rapid7 InsightIDR|||rapid7-insight-idr-query-log-set\n      type: regular\n      iscommand: true\n      brand: Rapid7 InsightIDR\n    nexttasks:\n      '#none#':\n      - \"127\"\n    scriptarguments:\n      end_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: end_time\n      log_set_id:\n        complex:\n          root: inputs.LogSetId\n      logs_per_page:\n        complex:\n          root: inputs.logs_per_page\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n          - - operator: lessThanOrEqual\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n              right:\n                value:\n                  simple: \"500\"\n      query:\n        simple: where(${inputs.InsightIDRHttpMethodsField} CONTAINS-ANY [${RequestMethodsParsed}])\n      sequence_number:\n        complex:\n          root: inputs.sequence_number\n      start_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: start_time\n      time_range:\n        complex:\n          root: inputs.time_range\n          filters:\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2850,\n          \"y\": -1440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"56\":\n    id: \"56\"\n    taskid: fb5cd1e8-9f1f-4324-8ad1-20611359bdea\n    type: condition\n    task:\n      id: fb5cd1e8-9f1f-4324-8ad1-20611359bdea\n      version: -1\n      name: Is Rapid7 InsightIDR enabled?\n      description: Returns 'yes' if integration brand is available. Otherwise returns 'no'\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"175\"\n      \"yes\":\n      - \"80\"\n      - \"9\"\n      - \"12\"\n      - \"53\"\n    scriptarguments:\n      brandname:\n        simple: Rapid7 InsightIDR\n    results:\n    - brandInstances\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5100,\n          \"y\": -2070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"78\":\n    id: \"78\"\n    taskid: 2a0e9ba3-33eb-433c-8033-cbe0d8f63e15\n    type: regular\n    task:\n      id: 2a0e9ba3-33eb-433c-8033-cbe0d8f63e15\n      version: -1\n      name: Rapid7 InsightIDR query - Ja3\n      description: Queries within a log set for certain values.\n      script: Rapid7 InsightIDR|||rapid7-insight-idr-query-log-set\n      type: regular\n      iscommand: true\n      brand: Rapid7 InsightIDR\n    nexttasks:\n      '#none#':\n      - \"130\"\n    scriptarguments:\n      end_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: end_time\n      log_set_id:\n        complex:\n          root: inputs.LogSetId\n      logs_per_page:\n        complex:\n          root: inputs.logs_per_page\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n          - - operator: lessThanOrEqual\n              left:\n                value:\n                  simple: inputs.logs_per_page\n                iscontext: true\n              right:\n                value:\n                  simple: \"500\"\n      query:\n        simple: where(${inputs.InsightIDRJa3Field} CONTAINS-ANY [${Ja3Parsed}])\n      sequence_number:\n        complex:\n          root: inputs.sequence_number\n      start_time:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n          accessor: start_time\n      time_range:\n        complex:\n          root: inputs.time_range\n          filters:\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.end_time\n                iscontext: true\n          - - operator: isEmpty\n              left:\n                value:\n                  simple: inputs.start_time\n                iscontext: true\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.time_range\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4650,\n          \"y\": -1440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"80\":\n    id: \"80\"\n    taskid: d709d956-f49f-42bf-8963-4c374aae68a0\n    type: title\n    task:\n      id: d709d956-f49f-42bf-8963-4c374aae68a0\n      version: -1\n      name: Ja3 Indicators\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"146\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4870,\n          \"y\": -1900\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"127\":\n    id: \"127\"\n    taskid: 0799c24f-93d0-4459-8e64-4991212d5298\n    type: title\n    task:\n      id: 0799c24f-93d0-4459-8e64-4991212d5298\n      version: -1\n      name: HTTP Request Methods Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"176\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3070,\n          \"y\": -1270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"128\":\n    id: \"128\"\n    taskid: b6872b91-3667-4f06-8318-4e70588fbb5d\n    type: title\n    task:\n      id: b6872b91-3667-4f06-8318-4e70588fbb5d\n      version: -1\n      name: URI Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"176\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3670,\n          \"y\": -1270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"129\":\n    id: \"129\"\n    taskid: 1990dcc9-6418-45bc-831e-d1c0e98087a7\n    type: title\n    task:\n      id: 1990dcc9-6418-45bc-831e-d1c0e98087a7\n      version: -1\n      name: User Agent Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"176\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4270,\n          \"y\": -1270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"130\":\n    id: \"130\"\n    taskid: 586f4260-0a33-4224-89a1-30ef7be36d22\n    type: title\n    task:\n      id: 586f4260-0a33-4224-89a1-30ef7be36d22\n      version: -1\n      name: Ja3 Hunting Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"176\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4870,\n          \"y\": -1270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"143\":\n    id: \"143\"\n    taskid: 6e2e02d1-447f-407e-8cc3-e5490b9cd411\n    type: condition\n    task:\n      id: 6e2e02d1-447f-407e-8cc3-e5490b9cd411\n      version: -1\n      name: Any HTTP request method to hunt for?\n      description: |\n        Checks whether any HTTP request methods are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"127\"\n      \"yes\":\n      - \"159\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.HTTPRequestMethods\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3070,\n          \"y\": -1770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"144\":\n    id: \"144\"\n    taskid: c5f4e0e3-22a0-41b5-800e-3da93b921ef8\n    type: condition\n    task:\n      id: c5f4e0e3-22a0-41b5-800e-3da93b921ef8\n      version: -1\n      name: Any URI to hunt for?\n      description: |\n        Checks whether any URIs are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"128\"\n      \"yes\":\n      - \"160\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.URI\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3670,\n          \"y\": -1770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"145\":\n    id: \"145\"\n    taskid: 5ca9eee1-6f4a-4f2f-8060-7dcb259f470f\n    type: condition\n    task:\n      id: 5ca9eee1-6f4a-4f2f-8060-7dcb259f470f\n      version: -1\n      name: Any user agent to hunt for?\n      description: |\n        Checks whether any user agents are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"129\"\n      \"yes\":\n      - \"161\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.UserAgent\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4270,\n          \"y\": -1770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"146\":\n    id: \"146\"\n    taskid: 79966b80-a5f1-4b1c-84d1-ef36b31d515f\n    type: condition\n    task:\n      id: 79966b80-a5f1-4b1c-84d1-ef36b31d515f\n      version: -1\n      name: Any Ja3 to hunt for?\n      description: |\n        Checks whether any Ja3 are available for threat hunting.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"130\"\n      \"yes\":\n      - \"162\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.Ja3\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4870,\n          \"y\": -1770\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"159\":\n    id: \"159\"\n    taskid: 04ba5b26-c170-4e88-8ac9-b1266487c2d8\n    type: regular\n    task:\n      id: 04ba5b26-c170-4e88-8ac9-b1266487c2d8\n      version: -1\n      name: Set HTTP request methods search argument\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"54\"\n    scriptarguments:\n      key:\n        simple: RequestMethodsParsed\n      value:\n        complex:\n          root: inputs.HTTPRequestMethods\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.HTTPRequestMethods\n                iscontext: true\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2850,\n          \"y\": -1600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"160\":\n    id: \"160\"\n    taskid: 90a21575-3ea5-455b-8fa2-214c7a613be1\n    type: regular\n    task:\n      id: 90a21575-3ea5-455b-8fa2-214c7a613be1\n      version: -1\n      name: Set URI search argument\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"22\"\n    scriptarguments:\n      key:\n        simple: URIParsed\n      value:\n        complex:\n          root: inputs.URI\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.URI\n                iscontext: true\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3450,\n          \"y\": -1600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"161\":\n    id: \"161\"\n    taskid: 71455651-783f-4f1a-86bf-66962a3c15a6\n    type: regular\n    task:\n      id: 71455651-783f-4f1a-86bf-66962a3c15a6\n      version: -1\n      name: Set user agent search argument\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"19\"\n    scriptarguments:\n      key:\n        simple: UserAgentParsed\n      value:\n        complex:\n          root: inputs.UserAgent\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.UserAgent\n                iscontext: true\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4050,\n          \"y\": -1600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"162\":\n    id: \"162\"\n    taskid: ec524b2c-f19d-4a70-8c95-8a3a3ef6f74e\n    type: regular\n    task:\n      id: ec524b2c-f19d-4a70-8c95-8a3a3ef6f74e\n      version: -1\n      name: Set Ja3 search argument\n      description: |-\n        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"78\"\n    scriptarguments:\n      key:\n        simple: Ja3Parsed\n      value:\n        complex:\n          root: inputs.Ja3\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: inputs.Ja3\n                iscontext: true\n          transformers:\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: uniq\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -4650,\n          \"y\": -1600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"175\":\n    id: \"175\"\n    taskid: 426e4bed-833f-49fb-8f12-08453c5fc526\n    type: title\n    task:\n      id: 426e4bed-833f-49fb-8f12-08453c5fc526\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -5100,\n          \"y\": -950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"176\":\n    id: \"176\"\n    taskid: f462c522-d159-4e39-8314-cc44c0d90b41\n    type: regular\n    task:\n      id: f462c522-d159-4e39-8314-cc44c0d90b41\n      version: -1\n      name: Save Queries Results\n      description: Loads a json from string input, and returns a json object result\n      scriptName: LoadJSON\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"175\"\n    scriptarguments:\n      extend-context:\n        simple: Rapid7InsightIDR.HuntingResults=\n      ignore-outputs:\n        simple: \"true\"\n      input:\n        complex:\n          root: Rapid7InsightIDR.Event\n          filters:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: Rapid7InsightIDR.Event\n                iscontext: true\n          accessor: message\n          transformers:\n          - operator: replace\n            args:\n              limit: {}\n              replaceWith: {}\n              toReplace:\n                value:\n                  simple: \\\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -3950,\n          \"y\": -1120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"56_12_yes\": 0.78,\n      \"56_175_#default#\": 0.79,\n      \"56_53_yes\": 0.85,\n      \"56_80_yes\": 0.4,\n      \"56_9_yes\": 0.65\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1315,\n        \"width\": 2630,\n        \"x\": -5100,\n        \"y\": -2200\n      }\n    }\n  }\ninputs:\n- key: UserAgent\n  value: {}\n  required: false\n  description: |-\n    A single or multiple user agents to search for within Rapid7 InsightIDR logs.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: InsightIDRUserAgentField\n  value: {}\n  required: false\n  description: The name of the fields, in Rapid7 InsightIDR, in which to find the user agents.\n  playbookInputQuery:\n- key: URI\n  value: {}\n  required: false\n  description: |-\n    A single or multiple URIs to search for within Rapid7 InsightIDR logs.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: InsightIDRURIField\n  value: {}\n  required: false\n  description: The name of the fields, in Rapid7 InsightIDR, in which to find the URIs.\n  playbookInputQuery:\n- key: HTTPRequestMethods\n  value: {}\n  required: false\n  description: |-\n    A single or multiple HTTP requests methods to search for within Rapid7 InsightIDR logs.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n  playbookInputQuery:\n- key: InsightIDRHttpMethodsField\n  value: {}\n  required: false\n  description: The name of the fields, in Rapid7 InsightIDR, in which to find the HTTP request methods.\n  playbookInputQuery:\n- key: Ja3\n  value: {}\n  required: false\n  description: |-\n    A single or multiple Ja3s to search for within Rapid7 InsightIDR logs.\n\n    Separate multiple search values by commas only (without spaces or any special characters).\n\n    JA3 is a method for creating SSL/TLS client fingerprints that should be easy to produce on any platform and can be easily shared for threat intelligence.\n  playbookInputQuery:\n- key: InsightIDRJa3Field\n  value: {}\n  required: false\n  description: The name of the fields, in Rapid7 InsightIDR, in which to find the Ja3s.\n  playbookInputQuery:\n- key: LogSetId\n  value: {}\n  required: true\n  description: An identifier for a Rapid7 InsightIDR log set to query.\n  playbookInputQuery:\n- key: time_range\n  value: {}\n  required: false\n  description: |-\n    Specify the timeframe in which the Rapid7 InsightIDR logs will be searched. Most start with 'last' (e.g., last 2 months, last 10 minutes).\n    The 'start_time' and 'end_time' inputs should not be used if the time_range input is specified.\n\n    Supported time units (case insensitive):\n    min(s) or minute(s)\n    hr(s) or hour(s)\n    day(s)\n    week(s)\n    month(s)\n    year(s)\n  playbookInputQuery:\n- key: logs_per_page\n  value: {}\n  required: false\n  description: Specify the maximum number of log entries to return per page, up to 500 (the maximum allowed). By default, 50 is set.\n  playbookInputQuery:\n- key: sequence_number\n  value: {}\n  required: false\n  description: |-\n    The earliest sequence number of a log entry to start searching.\n\n    If this query parameter is included, the query results will additionally include all log entries received in the 'start_time' millisecond which have sequence numbers larger than the one specified.\n\n    Sequence numbers are identifiers used to distinguish between log entries received in the same millisecond. If a log entry was split up into several log entries during ingestion, then those chunks are ordered by sequence number.\n  playbookInputQuery:\n- key: start_time\n  value: {}\n  required: false\n  description: |-\n    Specify the query start time at which the Rapid7 InsightIDR logs will be searched, as a UNIX timestamp in milliseconds.\n\n    For example, if you wish to begin searching 1 week ago, the UNIX timestamp value is 604800.\n  playbookInputQuery:\n- key: end_time\n  value: {}\n  required: false\n  description: |-\n    Specify the query end time at which the Rapid7 InsightIDR logs will be searched, as a UNIX timestamp in milliseconds.\n\n    For example, to end searching a day ago, the UNIX timestamp value would be 86400.\n  playbookInputQuery:\noutputs:\n- contextPath: Rapid7InsightIDR.HuntingResults\n  description: Events log objects containing relevant fields.\n  type: string\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\n",
  "product": "Cortex XSOAR",
  "pack": "Rapid7_InsightIDR",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "siem",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "l9wVPRudD73V/ZK9aU7mu6F4sT1ADiA9OJ4RPSGUkbx0fKy8ykrJO6bphbwddzA9X9B4PW78iTyLcPu8o5cFvY3MUj3Oehk9t6VnvWVEPr3wkzy9llVNvb1Jm7rmhpg7kDOzvHRiBr2Twky8SWdSvL5EUzx89wU8mb2pvKV1Lz2WWQy95nUYOoagjLzLNjK8F6ZgPPmzFzw4ENQ63yYxvaMkob2/PSE8E4oWvRnWnT0e/gk700IrvTgn5bx6tFU85WtAvc02XTxJEgU9Hk48u+oLq7z5wB09qsn9vNHXFbxrvBE8O74UvR6Yd7z68d086IUCvQ5xY71F6Zo8qYbKPJfULz29su68kpa5vCWBDrqoUnK9OHNgPWKFPb0x4b09WH8JvfingTwM/Ls8MQ+iuozqLLu5mwI8KIiwPAIbkzw68y08KllZPBTUID2WB5O8XCKBPBskQLzV/B68gMFevQbh+Dowc5m8hyNtPRWMWzyyq9K7qqYtPcwHYj3lWce8vLRuvbYS7733L1o99fr1PMLJfTtbqra7+tIavHqRurw/g5A8YHDbu0ZvTjxroje9xsmYvb4oN7wEBSg8wnJ3PMMzPz0qv0O9m+UsvV6nWT3+2u87v4YHPaI+u7wEj5u9sAw+O6kkSD1JA4k65RZ1PUoYuj24Pnw9zzRjPL9/SryOW+W7ZXF9u1bv1zy/tk69ClBePDj617u70ok8jb4eu3OesD3zk5C9/7sgvKMT1jubiDU9MC4XvX4i3L1LY8C7fMaGPELjGjw2TiM9lHCXPfLBzbz8VhI6uEvIvFU0er0lMXy9FyVEO9HCnrw8FKG7y7nEvFYxc715Avk8yAg3vIGluTzsuiK9m8xWvQQo+Txp0jC9x183vQxsB71RyrS8+laNvILUnjwvnAC99wv7uz4irr1Q3T+9Ee0svG49Jz0hzg0890JfvNtFEr18HRS8oqilPd7+k7ynNq88T4W9vSMFMTyteMa656cTva6i5jt5S8M8n1glPQVBtjst1w+9adAkPTCJCz2gV0e9iy6fuxc8O7wugd28V+whvXV8MDwwYH49ZgMHvKRHkb391bS9iIqpvY3cCjsbuTe9HI4lvXm1DjzwtgC9Mvh6PHY8rDzoN6i71lMRvCL71zw/t4Q8OkzyPImwizzbgpk9lw+uPGLapzxE7j+9oGnmvOsAljzgBPi67v6pPSWRML2B63M8I42CvPuDUL1YUoC8YeiBPEtjCLx7ThQ8s1fTOxcTcDz8sFA9RaZJvMmiu7zdSsu6ZruAvfmqLzyvaEA9jhMFvATrdj2+7ZM823yWPOQ5orxTqsW7NM8VPHnv9rwBOuG8W1niOrmz5zwaW1K9auD5u/R0sDzUNLC9vKkIPZ5bADw7hQg9SZ61u11CRD1jiiG9P0gWvW5wObzzclW8PIM7vNm8wDxwLpU8i+rGPESgcryU5YS8GGxeu8qRkb2l6hg8y2syvVijYjrW2au9hAiTvbXpzrztt5s8y0rqPCumoLwKrc05IC+jvcCcv7yeqsS8enarvOeIO73qyt48oYM/PXCyUzvYtKe9dTotPS2IyDqFVLY8b9qVPYYmJr3SoSq70v1bPSwg/TzReDa9+M4DO+/9Kr3hC148M7IzPejvBT1iATW87W/OO8+RCD1ze227fzehvNMCyrzzJ5G8yuC/O/CByb2O8m29rm3vvOB4uLtU/ic993OpPBD0Vb0JQKm7t1Lmu52U8rxhndy7tsHxvBmHGTwl1CW9J5sFPautsTzq1pU8GN25vNXtFD2ybRE94djQvP6NIDx327M9hJtUvMasFrtssmG88dgqPbsWcjyZswO99OFtvTUznLyLZCm9qq4wPHZw9Tw6ltc8fNRNPXVzJrzaFeW8EQL/O6O4ojxJ8KU76Lh4vW1MlDqgB9O7qh/qvBXSNT0xLt+80FBbPa2NE7uD7Vi9l8M5PTZnIT2LHT87Rk87vEbj1Lx/JBq9ovL7PFJYOrxoavQ821KNvQpvJL2FW3E8PkkGuzrXLL1fupy81CF3ORAMgbwbixU9fl9wPHrulD1FreK8aj6bPLrt9DuPAZ681pugvRwaUD2ohJa8Mo43PdE5Ib0KwlE7/nb8uxlPZT1EtFo9XQd3vQTE/js6GK68awzcPB4HFL2HLnu8qLuJvKp7iT0Qar+8Z6sCvYOoqjla65m82Fsgul/jC72NSs88SzmdPNI8I7z/lnM94jupPHceBzzUPoA9EWcbPJwXtLtXzHk8JtocvcYCgjwdDZy9uFdbvXqLiDxo5SM8ELNuvMLNk7yRbN88UDe+OsN4ZD3bJh29rmZEPONUIbwZPE29lHs8vUuAJT3i27W6cEzNPDVV1zxUMSA9OF+/vKSudzuyMry8yFyPPLoE5TqmDmm9q4e3OqPJI71ONGe78i99vQ/y5b2Vi748dLDnPGQS+Tv01qi8p6TTvAAsNb3pHYk8w0TKPdWR6jy5R0k8Xa50PPPIcrzF7509wD/hPEkJBT2+GVI7INBePe5XbzxmePY8PsOmvRNr2zylLlA9wIjaO/9UQz2+Az48jascvcfBzztUjza73VMjPAL7Jz1P4wu82slFvNc3VDxlFHC8BWifvPOJIb39Idy8hYY2vJy7n7z3V7y8SxBpvRpWLTxNGO471bBvvPhPtT0WjY09mhIBPGTAP73wQ6e8seTovMwAGD0Q5J69C9kiuyXrrjyTnP484qUlPUGw3rxW2W49LIeVOzSZHTtk8qG7C/yLvBuOEb0IHuk89h7aPOxEZL0orla8MoyJOmgiu7y7/Lu8K4u+O3DCAD3HAvw6dGYfvFKopjymMbS7+EN5PfLSojwMP4c9+zLwPHXVaTxU5zQ9CScJPQFBkT2eHkk8eXznPL4zcj3V8Ew9kpiTuwcp6DzxPaA8xsy2vK/hFD08N068W3gOPaBgubynxOK8qnqfPKPxjTz0ryA9MYAJvRiVzzzl2LO8QE3qPF1Dw7yrkow8+lR3vQ0Gw7sBFL28/aJ8vH7euLxxnEQ73VujPEhhXr14I+278vgeO1kZkryYcyS80VoQvWZ3BDzgAou8jdp2vIS7zzxugDA8s3oau9kB6Dwkscu8c6StPPEkgzyqZTC9HFeMOzBZJ71z0Nw8SZf4vH7BjbuyJ1i9c1p/vGgBszwhESG9jLdOvD9+DL1DN3S9evGLPf/Q2LsXsZu8wDaAvF0nyrzyXIM9VJP/OXvhfb0tn2G9yh0ovVtOrr31c9K7HEU2OrMHFbw4jAI9BCm8OQvwFb3z4za9y+gYPU62hL16Va28H4WHPEGKFjym8PQ8QKdhOzZsXLwW+rE8CgcvPWd4fr2yYqu8T1+GvEfbwzx1JcI8gg3EvCcdYzzwCbA87EWavNNkGr10+hS9HrkSPL5UWDzbF6O7tISivPnKkz1Kguc8rbxsPSFbCLwd7rW90yAgPKroJj3M68q95016uwMGKjzjKZQ8DHXBPdgLwLySxnA8FDbDveksFb2Mn0e9LVPEPEcEtzt500g8/MA9PfOVOb3e0pq9KYk5PcVyyLzP4TM8KnRXvQLoQDtEBKU7aVw+vIIIhDydWRc8a28uPOM/eD2SLSO8d0flu6HAgDubcSg9FHYRvE9lhTs7WZA811SlvKslzTxoJLk7lnWcPFnU4DyirIs8ZH/ivMlUC7trwtQ65/NRPLEWFDyXlAe93MvVvC40g7xtJC09u7t7vWxcgjwyMx292jIOvNVSBr08YjU8SyzKvJTr1DgQM/67xdPKOLqqgTx0Xjw9eeyXvdYZsbx7ieq8/bVMPaubHD2AHc26Rho6O/f1STwSmFI8p38nPddpljw5KhS9Ie3jPHHO2rxJTi09NYNXPR8WbjuXz/K8DIZBO93OMb2rs1y94fYxvGPfGj21L7Y8KoE9uok8mLxxp4+8K9QyvXQRSr3hV3q6X00CvH6bfrxuI0o9n3PjvJDvfbxIsTe9H4kNvCk0nT16/j49QzBkPUF9IbyvLNS8MK5QvXfuwLygJri7fD36O9l7R73BdyO9brAKva/8i7yhYKI9EcVwu+HRJb1VcMY8GohmvZyJCz2Ld+C8vzg/vVGKNT3lWSw8"
}
