bundles/spark/kbs/soar-playbooks/entries/pb-rubrikpolaris-rubrik-ioc-scan-v2-rubrik-polaris.json
{
  "id": "pb-rubrikpolaris-rubrik-ioc-scan-v2-rubrik-polaris",
  "title": "Rubrik IOC Scan v2 - Rubrik Polaris",
  "category": "playbook",
  "content": "This playbook starts an advance IOC Scan with the provided IOC values and shows the results upon completion.\n\nCortex XSOAR/XSIAM SOAR playbook from the Rubrik pack (RubrikPolaris, partner-supported).\n\nInputs — object_ids: The Object ID of the system on which to perform the scan. Supports comma separated values.\n\nNote: Users can get the list of object IDs by executing the \"rubrik-polaris-objects-list\" command.; start_date: Filter the snapshots from the provided date. Any snapshots taken before the provided date-time will be excluded.\n\nFormats accepted: 2 minutes, 2 hours, 2 days, 2 weeks, 2 months, 2 years, yyyy-mm-dd, yyyy-mm-ddTHH:MM:SSZ, etc.; end_date: Filter the snapshots until the provided date. Any snapshots taken after the provided date-time will be excluded.\n\nFormats accepted: 2 minutes, 2 hours, 2 days, 2 weeks, 2 months, 2 years, yyyy-mm-dd, yyyy-mm-ddTHH:MM:SSZ, etc.; ioc_path: Path of IOC to scan. Supports comma separated multiple values. \n\nNote: Do not provide quoted values. Provide the values in proper JSON format (Example: C:\\\\Users\\\\Malware_Executible.ps1).; ioc_hash: Hash of IOC to scan. Supports comma separated multiple values. \n\nNote: Do not provide quoted values.; ioc_yara_rule: Yara Rule(s) for IOC scan. \n\nNote: Do not provide quoted values. Provide the values in proper JSON format.; polling_interval: Frequency that the IOC scan command will run (minutes).; polling_timeout: Amount of time to poll before declaring a timeout and resuming the playbook (in minutes).; paths_to_include: Paths to include in the scan. Supports comma separated values.\n\nNote: Do not provide quoted values.\n\nFormat accepted: path_to_include_1, path_to_include_2.; paths_to_exclude: Paths to exclude from the scan. Supports comma separated values.\n\nNote: Do not provide quoted values.\n\nFormat accepted: path_to_exclude_1, path_to_exclude_2..\n\nOutputs — RubrikPolaris.IOCScan: The results of the IOC scan..\n\nIntegrations/scripts used: Print, Set, rubrik-advance-ioc-scan, rubrik-ioc-scan-results-v2.",
  "raw_yaml": "id: Rubrik IOC Scan v2 - Rubrik Polaris\nversion: -1\nname: Rubrik IOC Scan v2 - Rubrik Polaris\ndescription: This playbook starts an advance IOC Scan with the provided IOC values and shows the results upon completion.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 2ab0aab4-be38-4ec4-862a-f58563e6dfda\n    type: start\n    task:\n      id: 2ab0aab4-be38-4ec4-862a-f58563e6dfda\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"45\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 592.5,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 5e853d2c-0afe-43e8-859e-cd24464a5bb3\n    type: regular\n    task:\n      id: 5e853d2c-0afe-43e8-859e-cd24464a5bb3\n      version: -1\n      name: Start Advance IOC scan\n      description: Start a new advance threat hunt.\n      script: '|||rubrik-advance-ioc-scan'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"53\"\n    scriptarguments:\n      advance_ioc:\n        complex:\n          root: Advance IOC\n          transformers:\n          - operator: Stringify\n      end_date:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"7\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.end_date\n                iscontext: true\n      max_file_size:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"8\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.max_file_size\n                iscontext: true\n      max_matches_per_snapshot:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"5\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.max_matches_per_snapshot\n                iscontext: true\n      max_snapshots_per_object:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"4\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.max_snapshots_per_object\n                iscontext: true\n      min_file_size:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"9\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.min_file_size\n                iscontext: true\n      object_id:\n        complex:\n          root: Object IDs.Answers\n          accessor: \"0\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.object_ids\n                iscontext: true\n      paths_to_exclude:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"11\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.paths_to_exclude\n                iscontext: true\n      paths_to_exempt:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"12\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.paths_to_exempt\n                iscontext: true\n      paths_to_include:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"10\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.paths_to_include\n                iscontext: true\n      scan_name:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"3\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.scan_name\n                iscontext: true\n      start_date:\n        complex:\n          root: Scan Inputs.Answers\n          accessor: \"6\"\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: inputs.start_date\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 2025\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: ea93a751-c0a1-4140-82e6-7d6f7d9f72e7\n    type: title\n    task:\n      id: ea93a751-c0a1-4140-82e6-7d6f7d9f72e7\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 592.5,\n          \"y\": 2550\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: c5f6228c-7b41-4a61-89bf-c4d31be2b27e\n    type: regular\n    task:\n      id: c5f6228c-7b41-4a61-89bf-c4d31be2b27e\n      version: -1\n      name: Prepare IOC Path\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: IOC Path\n      value:\n        complex:\n          root: inputs.ioc_path\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Scan Inputs.Answers.0\n                iscontext: true\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '\"'\n              suffix:\n                value:\n                  simple: '\"'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '\"INDICATOR_OF_COMPROMISE_TYPE_PATH_OR_FILENAME\": ['\n              suffix:\n                value:\n                  simple: ']'\n          - operator: replace\n            args:\n              limit: {}\n              replaceWith:\n                value:\n                  simple: '[]'\n              toReplace:\n                value:\n                  simple: '[\"\"]'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 1530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 81f954ec-77fe-45e9-8f6f-a75c5edb31e7\n    type: regular\n    task:\n      id: 81f954ec-77fe-45e9-8f6f-a75c5edb31e7\n      version: -1\n      name: Prepare IOC Hash\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: IOC Hash\n      value:\n        complex:\n          root: inputs.ioc_hash\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Scan Inputs.Answers.2\n                iscontext: true\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '\"'\n              suffix:\n                value:\n                  simple: '\"'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '\"INDICATOR_OF_COMPROMISE_TYPE_HASH\": ['\n              suffix:\n                value:\n                  simple: ']'\n          - operator: replace\n            args:\n              limit: {}\n              replaceWith:\n                value:\n                  simple: '[]'\n              toReplace:\n                value:\n                  simple: '[\"\"]'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 1530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: bfe56131-508e-4193-8b04-0a4637211a9a\n    type: regular\n    task:\n      id: bfe56131-508e-4193-8b04-0a4637211a9a\n      version: -1\n      name: Prepare advance IOC\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"44\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: Advance IOC\n      value:\n        complex:\n          root: IOC Path\n          transformers:\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ', '\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ${IOC Hash}\n                iscontext: true\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ', '\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: ${IOC Yara Rule}\n                iscontext: true\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '{'\n              suffix:\n                value:\n                  simple: '}'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 1705\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: ed13d0ff-0291-438b-8db5-fc8945b4100c\n    type: regular\n    task:\n      id: ed13d0ff-0291-438b-8db5-fc8945b4100c\n      version: -1\n      name: Get scan results\n      description: Retrieve details of the Turbo and Advance Threat Hunt.\n      script: '|||rubrik-ioc-scan-results-v2'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      hunt_id:\n        complex:\n          root: RubrikPolaris.AdvanceIOCScan\n          accessor: huntId\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 2375\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: d5b113d1-c502-4d68-803f-6cc42660130c\n    type: title\n    task:\n      id: d5b113d1-c502-4d68-803f-6cc42660130c\n      version: -1\n      name: Prepare advance IOC value\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"5\"\n      - \"4\"\n      - \"37\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 1390\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"37\":\n    id: \"37\"\n    taskid: e747f757-1bbe-47fd-85bd-3b53510fe296\n    type: regular\n    task:\n      id: e747f757-1bbe-47fd-85bd-3b53510fe296\n      version: -1\n      name: Prepare IOC Yara Rule\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: IOC Yara Rule\n      value:\n        complex:\n          root: inputs.ioc_yara_rule\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Scan Inputs.Answers.1\n                iscontext: true\n          - operator: split\n            args:\n              delimiter:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '\"'\n              suffix:\n                value:\n                  simple: '\"'\n          - operator: join\n            args:\n              separator:\n                value:\n                  simple: ','\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: '\"INDICATOR_OF_COMPROMISE_TYPE_YARA_RULE\": ['\n              suffix:\n                value:\n                  simple: ']'\n          - operator: replace\n            args:\n              limit: {}\n              replaceWith:\n                value:\n                  simple: '[]'\n              toReplace:\n                value:\n                  simple: '[\"\"]'\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1210,\n          \"y\": 1530\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"44\":\n    id: \"44\"\n    taskid: 0fb49ff8-eb4c-4f86-8584-45e131ad594f\n    type: title\n    task:\n      id: 0fb49ff8-eb4c-4f86-8584-45e131ad594f\n      version: -1\n      name: Start IOC scan\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 1880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"45\":\n    id: \"45\"\n    taskid: e50ea7b2-fafe-40e7-8c4c-8472eb2e16e0\n    type: condition\n    task:\n      id: e50ea7b2-fafe-40e7-8c4c-8472eb2e16e0\n      version: -1\n      name: Is Rubrik Polaris integration enabled?\n      description: Checks whether Rubrik Polaris integration is enabled or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"52\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: RubrikPolaris\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: name\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 592.5,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"46\":\n    id: \"46\"\n    taskid: 9398f89d-712a-48fd-8ae8-4f21c5b139dc\n    type: condition\n    task:\n      id: 9398f89d-712a-48fd-8ae8-4f21c5b139dc\n      version: -1\n      name: Is IOC values are provided?\n      description: Checks whether IOC values are provided or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"47\"\n      \"yes\":\n      - \"30\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ioc_path\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.ioc_hash\n                      iscontext: true\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: inputs.ioc_yara_rule\n                      iscontext: true\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 880\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"47\":\n    id: \"47\"\n    taskid: 18531fbd-d955-4bd6-871b-d668a40fd241\n    type: collection\n    task:\n      id: 18531fbd-d955-4bd6-871b-d668a40fd241\n      version: -1\n      name: Provide IOC values and details to start Advance IOC scan\n      description: Provide IOC values and details to start Advance IOC scan.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"48\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 1050\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Provide IOC File Paths.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: 'Enter comma-separated values. Note: Provide the values in proper JSON format. Do not provide quoted values.'\n        tooltip: 'Provide IOC File Paths in proper JSON format (Example: C:\\\\Users\\\\Malware_Executible.ps1). Note: Get the file paths by executing the \"rubrik-threat-monitoring-matched-file-get\" command.'\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Provide IOC Yara Rules.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: 'Enter comma-separated values. Note: Provide the values in proper JSON format. Do not provide quoted values.'\n        tooltip: Provide IOC Yara Rules in proper JSON format.\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Provide IOC Hash values.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: 'Enter comma-separated values. Note: Do not provide quoted values.'\n        tooltip: Get the Md5, SHA1 or SHA256 by executing the \"rubrik-threat-monitoring-matched-file-get\" command.\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: Provide the name of scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Name of the new advanced threat hunt scan.\n        readonly: false\n      - id: \"4\"\n        label: \"\"\n        labelarg:\n          simple: Provide maximum value for snapshot to scan per object.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: If a snapshot value is not provided, all snapshots of all objects will be scanned.\n        readonly: false\n      - id: \"5\"\n        label: \"\"\n        labelarg:\n          simple: Provide maximum value for IOC matches allowed per snapshot.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: 'If not provided, all the IOC allowed to match per snapshot. '\n        readonly: false\n      - id: \"6\"\n        label: \"\"\n        labelarg:\n          simple: Provide start time for snapshot to scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: date\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Filter the snapshots from the provided date. Any snapshots taken before the provided date-time will be excluded.\n        readonly: false\n      - id: \"7\"\n        label: \"\"\n        labelarg:\n          simple: Provide end time for snapshot to scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: date\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Filter the snapshots until the provided date. Any snapshots taken after the provided date-time will be excluded.\n        readonly: false\n      - id: \"8\"\n        label: \"\"\n        labelarg:\n          simple: Provide maximum file size that will be included in the scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Maximum size of the file in bytes that will be included in the scan.\n        readonly: false\n      - id: \"9\"\n        label: \"\"\n        labelarg:\n          simple: Provide minimum file size that will be included in the scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Minimum size of the file in bytes that will be included in the scan.\n        readonly: false\n      - id: \"10\"\n        label: \"\"\n        labelarg:\n          simple: Provide paths to include in the scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: Enter comma-separated values. Do not provide quoted values.\n        tooltip: 'Paths to include in the scan. Format accepted: path_to_include_1, path_to_include_2.'\n        readonly: false\n      - id: \"11\"\n        label: \"\"\n        labelarg:\n          simple: Provide paths to exclude from the scan.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: Enter comma-separated values. Do not provide quoted values.\n        tooltip: 'Paths to exclude from the scan. Format accepted: path_to_exclude_1, path_to_exclude_2.'\n        readonly: false\n      - id: \"12\"\n        label: \"\"\n        labelarg:\n          simple: Provide paths to exempt from exclusion.\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: Enter comma-separated values. Do not provide quoted values.\n        tooltip: 'Paths to exempt from exclusion. Format accepted: path_to_exempt_1, path_to_exempt_2.'\n        readonly: false\n      title: Scan Inputs\n      description: Provide IOC values and details to start Advance IOC scan.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"48\":\n    id: \"48\"\n    taskid: 280974b4-0d7a-4a0a-8643-34aefbb76f95\n    type: condition\n    task:\n      id: 280974b4-0d7a-4a0a-8643-34aefbb76f95\n      version: -1\n      name: Is IOC values are provided?\n      description: Checks whether IOC values are provided or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"51\"\n      \"yes\":\n      - \"30\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: Scan Inputs.Answers\n                accessor: \"0\"\n                transformers:\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: Scan Inputs.Answers.1\n                      iscontext: true\n                - operator: SetIfEmpty\n                  args:\n                    applyIfEmpty: {}\n                    defaultValue:\n                      value:\n                        simple: Scan Inputs.Answers.2\n                      iscontext: true\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 1215\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"49\":\n    id: \"49\"\n    taskid: 6e801aaa-7c9f-47fa-8a31-e1456b71394e\n    type: condition\n    task:\n      id: 6e801aaa-7c9f-47fa-8a31-e1456b71394e\n      version: -1\n      name: Is object ID provided?\n      description: Checks whether object ID is present or not.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"50\"\n      \"yes\":\n      - \"46\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.object_ids\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 535\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"50\":\n    id: \"50\"\n    taskid: 782d80c6-8488-4bc0-806f-d88e0292da47\n    type: collection\n    task:\n      id: 782d80c6-8488-4bc0-806f-d88e0292da47\n      version: -1\n      name: Provide object IDs\n      description: Provide Object ID of the system on which to perform the scan. Supports comma separated values.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"46\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1050,\n          \"y\": 710\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Provide object IDs.\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: Enter comma-separated values.\n        tooltip: Get the list of object IDs by executing the \"rubrik-polaris-objects-list\" command.\n        readonly: false\n      title: Object IDs\n      description: The Object ID of the system on which to perform the scan. Supports comma separated values.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"51\":\n    id: \"51\"\n    taskid: 4fb1bb2f-1529-45d6-8b25-4956b52cb951\n    type: regular\n    task:\n      id: 4fb1bb2f-1529-45d6-8b25-4956b52cb951\n      version: -1\n      name: Print exit message\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      value:\n        simple: IOC values are not provided.\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 370,\n          \"y\": 1760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"52\":\n    id: \"52\"\n    taskid: 9e9c7621-f616-4fa8-8ac1-5e7604bebc71\n    type: regular\n    task:\n      id: 9e9c7621-f616-4fa8-8ac1-5e7604bebc71\n      version: -1\n      name: Clear previous inputs\n      description: \"Delete field from context.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"49\"\n    scriptarguments:\n      key:\n        simple: Object IDs,Scan Inputs,RubrikPolaris.AdvanceIOCScan,RubrikPolaris.IOCScan,Advance IOC,IOC Hash,IOC Path,IOC Yara Rule\n      subplaybook:\n        simple: auto\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"53\":\n    id: \"53\"\n    taskid: 80a39393-37a6-4f08-8a79-22b4ed0aeaef\n    type: playbook\n    task:\n      id: 80a39393-37a6-4f08-8a79-22b4ed0aeaef\n      version: -1\n      name: GenericPolling\n      description: |-\n        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.\n        This playbook implements polling by continuously running the command in Step \\#2 until the operation completes.\n        The remote action should have the following structure:\n\n        1. Initiate the operation.\n        2. Poll to check if the operation completed.\n        3. (optional) Get the results of the operation.\n\n        NOTE: This playbook should be run only when the playbook's context is using the \"Private to sub-playbook\" option.\n      playbookName: GenericPolling\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      Ids:\n        complex:\n          root: RubrikPolaris.AdvanceIOCScan\n          accessor: huntId\n      Interval:\n        complex:\n          root: inputs.polling_interval\n      PollingCommandArgName:\n        simple: hunt_id\n      PollingCommandName:\n        simple: rubrik-ioc-scan-results-v2\n      Timeout:\n        complex:\n          root: inputs.polling_timeout\n      dt:\n        simple: RubrikPolaris.IOCScan(val.status !== 'SUCCEEDED' && val.status !== 'CANCELED' && val.status !== 'FAILED' && val.status !== 'ABORTED').hunt_id\n    separatecontext: true\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 807.5,\n          \"y\": 2200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"45_3_#default#\": 0.18,\n      \"45_52_yes\": 0.53,\n      \"46_30_yes\": 0.48,\n      \"46_47_#default#\": 0.7,\n      \"48_30_yes\": 0.32,\n      \"48_51_#default#\": 0.17,\n      \"49_46_yes\": 0.49,\n      \"49_50_#default#\": 0.54\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2565,\n        \"width\": 1220,\n        \"x\": 370,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: object_ids\n  value:\n    complex:\n      root: incident\n      accessor: rubrikpolarisobjectid\n  required: true\n  description: |-\n    The Object ID of the system on which to perform the scan. Supports comma separated values.\n\n    Note: Users can get the list of object IDs by executing the \"rubrik-polaris-objects-list\" command.\n  playbookInputQuery:\n- key: start_date\n  value:\n    simple: 7 days\n  required: false\n  description: |-\n    Filter the snapshots from the provided date. Any snapshots taken before the provided date-time will be excluded.\n\n    Formats accepted: 2 minutes, 2 hours, 2 days, 2 weeks, 2 months, 2 years, yyyy-mm-dd, yyyy-mm-ddTHH:MM:SSZ, etc.\n  playbookInputQuery:\n- key: end_date\n  value:\n    simple: now\n  required: false\n  description: |-\n    Filter the snapshots until the provided date. Any snapshots taken after the provided date-time will be excluded.\n\n    Formats accepted: 2 minutes, 2 hours, 2 days, 2 weeks, 2 months, 2 years, yyyy-mm-dd, yyyy-mm-ddTHH:MM:SSZ, etc.\n  playbookInputQuery:\n- key: ioc_path\n  value: {}\n  required: false\n  description: \"Path of IOC to scan. Supports comma separated multiple values. \\n\\nNote: Do not provide quoted values. Provide the values in proper JSON format (Example: C:\\\\\\\\Users\\\\\\\\Malware_Executible.ps1).\"\n  playbookInputQuery:\n- key: ioc_hash\n  value: {}\n  required: false\n  description: \"Hash of IOC to scan. Supports comma separated multiple values. \\n\\nNote: Do not provide quoted values.\"\n  playbookInputQuery:\n- key: ioc_yara_rule\n  value: {}\n  required: false\n  description: \"Yara Rule(s) for IOC scan. \\n\\nNote: Do not provide quoted values. Provide the values in proper JSON format.\"\n  playbookInputQuery:\n- key: polling_interval\n  value:\n    simple: \"5\"\n  required: false\n  description: Frequency that the IOC scan command will run (minutes).\n  playbookInputQuery:\n- key: polling_timeout\n  value:\n    simple: \"720\"\n  required: false\n  description: Amount of time to poll before declaring a timeout and resuming the playbook (in minutes).\n  playbookInputQuery:\n- key: paths_to_include\n  value: {}\n  required: false\n  description: |-\n    Paths to include in the scan. Supports comma separated values.\n\n    Note: Do not provide quoted values.\n\n    Format accepted: path_to_include_1, path_to_include_2.\n  playbookInputQuery:\n- key: paths_to_exclude\n  value: {}\n  required: false\n  description: |-\n    Paths to exclude from the scan. Supports comma separated values.\n\n    Note: Do not provide quoted values.\n\n    Format accepted: path_to_exclude_1, path_to_exclude_2.\n  playbookInputQuery:\n- key: paths_to_exempt\n  value: {}\n  required: false\n  description: |-\n    Paths to exempt from exclusion. Supports comma separated values.\n\n    Note: Do not provide quoted values.\n\n    Format accepted: path_to_exempt_1, path_to_exempt_2.\n  playbookInputQuery:\n- key: scan_name\n  value:\n    simple: PAXSOAR-1.6.0\n  required: false\n  description: Name of the new advanced threat hunt scan.\n  playbookInputQuery:\n- key: max_file_size\n  value:\n    simple: \"5000000\"\n  required: false\n  description: Maximum size of the file in bytes that will be included in the scan. The maximum allowed size is 15000000 bytes.\n  playbookInputQuery:\n- key: min_file_size\n  value:\n    simple: \"1\"\n  required: false\n  description: Minimum size of the file in bytes that will be included in the scan. The maximum allowed size is 15000000 bytes.\n  playbookInputQuery:\n- key: max_matches_per_snapshot\n  value: {}\n  required: false\n  description: Maximum number of IOC matches allowed per snapshot.\n  playbookInputQuery:\n- key: max_snapshots_per_object\n  value: {}\n  required: false\n  description: Maximum number of snapshots to scan per object.\n  playbookInputQuery:\noutputs:\n- contextPath: RubrikPolaris.IOCScan\n  description: The results of the IOC scan.\ntests:\n- No tests (auto formatted)\nfromversion: 6.0.0\n",
  "product": "Rubrik",
  "pack": "RubrikPolaris",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "6.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:rubrik",
    "siem",
    "soar",
    "support:partner"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "6tL9PLW2Q7r+vZG9UT+pvDFmnz1b0868QtpJPcjndjtlrYa89IeAPPj3Nr0FLFc9yo8GPc58HjwWWAo8zmeFvVfqtD0wKfI8IZeJvEd0IL3E52a9ANltvZgaFL0qXrA8PFLeuklN472kJBA9qLMXvIOIBLzc1/68GwE6vGbmKT3N/iA9Ui8Pvd7Sjjs31Ck7GIH2vHi1C73BekM8UsIOuzKkgr3BAHC75hK5vPrhUD1MjmU8MsglvQXBBb3zKns74ggwvRvlwjy+Mik9IcKsu7Lz/LyZXj89HWzqvMtOWr0Zcrg7+3cavWPSqLwylWo8OTIFPJOXsLxv7oE8bmyKvGzr4DwcBB49AReXvHfYNzzrx0u9F9F7PWblN72XWVk9ulp2Or3yyLtT9fe8qCKRPAAni7xnyjq7IQIEPdj/KD0hCAA8O+dhvLFJnj2MSzq8DdYvvFQcyjmwQrg8iO0cvWlkgrw48qy8rrgdPkTzjLyaQd68VwYLPRhsaD3JCza8yEGcvbn7t70eLNY8dMa5OxlGGb3YlXY8DZMSPPpa+rtCf9I6U5yAPf43bbyKraK9xISjvWQTkzzkHIk8EDmKPFGpfz063hM9uomDvWqajjwLjS66W2f5O2sX1LxPUl29fsM8ParZrjwHsII8mDWgPAaxkz1aeo89xRpCPMxyfTzRUE88R688PD+c3byIZFG9tDlqPAcFF7xMY3Q89/7jvPMCBjyifKm5v07IvD1D4DsWWNC8njXWvA+C872z7VG8Z+mEPeIeFzxBPog9AxqNPWluBL1aF8u75i8zvXm0tLwnWlK9jTA/PNZW/7wI1R69VOCNu4WEWbppf8M89WdDvYfGJbpwTRG9YULGvCojxzzThqS8KBAXvXuVMjw9tte8JqA8vTohFj32BWi8yQbTuu+snb0SB8q8pnJEPBUICj1jqvY6OzgSvZEcA7vc2oC8Y2LDPaySkLzeiAw90HfXvUuR9zuHTrA8NqfEvHAomjwWK6A8oDyOPR9As7qwGFy8SX6/vNR6Rz2Oh4i9A8mNvFF/FT2NVCS8yRNLvH6THbyR/HA9R6r5vPCrJjytZSi9HMOGvSkdsTz/ae+8L4hMvSdJoryNRQW96yqDvNlqQjzCQfG7TNdYvGaJMbwQLpm8uQsUPdYHnjzjc9E9GZGovNUMQz359Yw7vw8GvarsSjyA2nC7FXEpPa/YWL0FWz09swiyvGzBlL2erhM8KkppPQlyxbyHoTE8Jaq4PJacxjwK6KE9BbYFvUgAbr14/bA7eqxuvLUZzDyOy5o8P5ifOyiXyz0iXxm9ys11PfuswDr6BZ+8F7DdvMThbLy12iO8Pp+RO5MbfTwDCS87eyTuu2eJLj1D7A+9VeR6PARvE72zUuw8A6cRvZ9btjzGas68GC+YvFUKzbysuwa9vY7mvJMBizzcz0Y86wZgPZLpaLw2V6Q8r6MjOWP8Nr0woL08i94yvYwfHT0ILmW9VlmgvRi8A71gG9u8l6NBPcPMg712lxS8rfaivQmukLyA62S89Pg7vA+UqbwiMgs9zwovPbDxErw0bYq93u7iPJZW4DwiXSE9tEJaPZrg6LyqWKO9QFbvPF3yuD2rsha9r65/PXzeY71CH4478JzNO2iSw7vSlqy8a7GfvDqtSjz6dpw8N+yKvIEiEjxJeJC8esePPJ+n7b3slTa8nGS4vOz5rjtQ/jq8xqdUPNkjPL37e/88PTnHvA9BS7wpelg7zSJ3vSsn1zv33w69+HmiOJwf7DrTDce5qaihu0W2RjzaTB49wYsKvT+MwTz5cik9h07mOssr6jrQVFQ8IEMGPM/pYzykeMg6t2RqvOCMDT1bVqe8ozpsPe8EmzvsP+c7Ow7nPAhnmbsJaIU8XFu4PHPriLuCZXu7Qw9AvSVdvrw4UI+8jPQOvJ+k3zzSPw88ztRfPZZ39DtyFlC9diSUPF66CT2w00O7/ucCvTeAebxbHJi8JJAtuuXYXzs1pSg92Wg+vUUyp7yyvPO7h398O+fYJb1FZge9ezJHu7xhcrw23Yq8DCV0uVvVij03D4+8FEbiOo2367wtQTK9DNilvTwHnD3j1C09vPCDPSVqDr3iGV4845I5vXvOej1dXYI9cgF5vQOLNjwJj5G9HpmRPYtJNL02Tbg86Z7oO119OD1OkxG6pFiFvdIPbTy+Aiy8sX7auhx/wLvMqyo8kzx0PEBJBzyZiwU95HjAO/ZiAr2u+CU9pAFMPaquHDsigcG8BXmQu5p/K7xXB0q9T+8pvTRlBTrWK2s9KJ4EPLQdbrz6pAU9u36LvDUrHT0/reI7rAD1PKJCSz1E2ni9wDyOPEXvZT0P8Yg7DNCgPBE5sD2GQU89yeHYu6eDx7qt7RK9msmDPH6i3DySc7G8q6ujPJ+Rn7x7bP67GkGvvJE+qr21uuA8S7m9u/BSSTvFpVi75tYnPBhhLb2YfhQ9Gjk6PU7GUDyLj448o2hAva5lwDwDnUc9fSdiPOiWPz2qxFA9dYzzPE+KKDxnHsA87s9BvcR/TTypAao62pSUvOx3lDxSJ6m8SuntvIGpGbzcV+086WgLvHwjkTxPuya90i7vvHNVw7yE8W68nzI3vRkzQ707KIy80i17vNqOVb2k1c474h56vfaSKz3qrs07NOg5PDWScT3afqE9Q5EsPA9aZbye3FC86oVevUKPuzxzfjW9td3RNw/LXzxoE4s9pT2IPTR3rLx7NUI9qWzju4a9/Lybvja89z4QPFID17wMBc+7RA+CPL+cEL1X8Uy8E4mSPFRY7jyBQBW9Xknfu1RCPTxEqmu6t/q9vOKTQbwLMJq80YuePbTWtDxEsNM8dbkRPFjHBz2v6Nk8N4zEPFhcXz3Gcas8BqB2PIUhKbs6G8A8C8xQPK5f7DsHN449tMopu2oMjTwELUw8ZE2FPV5udr3tesS8LlABvWYlurv8bxO9tX2rvCV+sDvpf8S8vGwOOc2cQzwZbcg8alIEvRBm6Lws9qC7FKY+vf4EFL0dYe+8PjcKuU6oerusAJU8CMYfPMJWd7x1Q+i7Ui7hvKC1tLwBMca8nC8JvSvn4DxS1/u8sQ+cvIEsDjzza347bNiJPezPiDxjeD+8vpGPO/0eU7rGOFk8Yn9CvWo+1LxvcS+9vbwnvDDWYj3v5Ci9xqiWO/GbjjxsfD29aVxJPbfX+Tv9VEe8BD4hPMqUbb0eTpc9DYzNO1Pzg72pERy99pssvWNHfL0QjbY8EZzbOzlXW7tA/KE9HAZKva3Hg70/2Ye9a7SQPTq4e72OC5q7kUqPPPsLYDzcwXw9RVB8PKJeljt2vqi8GzxpPF1hu7xiV6G7CIVkvahPMj0AGS074hiGvLx4yjzuu1U9IRrdu+aKmLwgrqu5ZaS1vAmjxzw5ihu8RYNjvWMeTjwrtvY7LBqPPdlnQjw8I8e9qhrZPCxP7zwpPam92SULvXXVtDoiL988jHF6PaT1Db2NvGk9A5quverZL7xpxzO9b8PnvPTup7w7mtK8vHwTPWowcL2yPbG9gxLTu/X9qbzb3CA9IOpFvedhrLyjl668zE3qu7VdWzprHoC8yC/ePO6xcD3U3aC8TMquvH2eBjyZ1YI9cxtdvBEKfrxpTtS77YhFvS4D4Tyblie8UDaYPM41MTynM9g7825ovUOtbrzLgp88R1ffPJV2srpuBgm7b1IGvJDQQL2vapY8ABCZvYgFULwBkfQ6T1EUvaB6NDyTGkY8QJnFvLwRFrwTT9A8IDVyPKVYxTs7gow9R56evaBJHzyY/Ca9jnKLPZQiBT16Rjs8u8J0PP0sGD0K0k88Md/YPJyywDxieO+8Cc+aPVAEgTtifTU97ZRNPf46Lzz10TK7b6imvP9lb7wBawa9WXmyPDseUDwScWY8R1oxvblR3bx8cw47rE5Su0P8v7xNvBi9FCNDukT7x7yjWJs7EJtLvVhRN7w+Is+8M6HRvIdbPD3fLmQ8wuoWPcHMBLuScA69+F8Evf/0i7syQJ48avMBPe3T+ry08Y67f8euvKwHObzg1l09MOrhO17YRjvy9uM8C16KvDDWBb0fAdy8JD1Yvc16zzzdyBy8"
}
