bundles/spark/kbs/soar-playbooks/entries/pb-recordedfuture-recorded-future-sandbox.json
{
  "id": "pb-recordedfuture-recorded-future-sandbox",
  "title": "Recorded Future Sandbox",
  "category": "playbook",
  "content": "Template playbook utilizing Hatching.io to sandbox a given file and generate an analysis report. Indicators from the given report are then extracted and enriched with Recorded Future data.\n\nCortex XSOAR/XSIAM SOAR playbook from the Recorded Future pack (RecordedFuture, partner-supported).\n\nInputs — File.\n\nOutputs — DBotScore: The DBotScore object.; DBotScore.Indicator: Triage analysis target; DBotScore.Type: The indicator type - File or URL; DBotScore.Vendor: The integration used to generate the indicator; DBotScore.Score: Analysis verdict as score from 1 to 10.\n\nIntegrations/scripts used: Hatching Triage, Recorded Future v2.",
  "raw_yaml": "id: Recorded Future Sandbox\nversion: -1\nname: Recorded Future Sandbox\ndescription: \"Template playbook utilizing Hatching.io to sandbox a given file and generate an analysis report. Indicators from the given report are then extracted and enriched with Recorded Future data.\"\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 62e24051-21b1-4196-8f12-f01f0c5bcd92\n    type: start\n    task:\n      id: 62e24051-21b1-4196-8f12-f01f0c5bcd92\n      version: -1\n      name: \"\"\n      description: \"\"\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n        - \"10\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 9278c75a-fd9d-45fb-842d-a735b5d332f0\n    type: regular\n    task:\n      id: 9278c75a-fd9d-45fb-842d-a735b5d332f0\n      version: -1\n      name: Get Report (behavioral1)\n      description: Retrieves the generated Triage Report for a single task\n      script: Hatching Triage|||triage-get-report-triage\n      type: regular\n      iscommand: true\n      brand: Hatching Triage\n    nexttasks:\n      '#none#':\n        - \"6\"\n    scriptarguments:\n      sample_id:\n        simple: ${Triage.submissions.id}\n      task_id:\n        simple: behavioral1\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    fieldMapping:\n      - incidentfield: Malware Family\n        output:\n          complex:\n            root: ${Triage.sample.reports.triage.extracted.config\n            accessor: family}\n            transformers:\n              - operator: uniq\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 7951dcda-64c6-47d9-8c7f-e7b66123f803\n    type: regular\n    task:\n      id: 7951dcda-64c6-47d9-8c7f-e7b66123f803\n      version: -1\n      name: Extract Indicators from Report\n      description: Extract all indicators according to server indicators configuration\n      script: Builtin|||extractIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n        - \"15\"\n        - \"16\"\n        - \"17\"\n        - \"19\"\n    scriptarguments:\n      text:\n        simple: ${Triage.sample.reports.triage}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 725,\n          \"y\": 1245\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 05c20068-1c9b-49cd-8983-2525519c3778\n    type: regular\n    task:\n      id: 05c20068-1c9b-49cd-8983-2525519c3778\n      version: -1\n      name: Recorded Future IP Enrich\n      description: Gets a quick indicator of the risk associated with an IP address.\n      script: Recorded Future v2|||ip\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      ip:\n        simple: ${ExtractedIndicators.IP}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 612.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: b01bd439-0eb5-477b-897a-b030a6205bcf\n    type: regular\n    task:\n      id: b01bd439-0eb5-477b-897a-b030a6205bcf\n      version: -1\n      name: Submit File Sample\n      description: Submits a file or url for analysis\n      script: Hatching Triage|||triage-submit-sample\n      type: regular\n      iscommand: true\n      brand: Hatching Triage\n    nexttasks:\n      '#none#':\n        - \"21\"\n    scriptarguments:\n      data:\n        complex:\n          root: inputs.File\n      kind:\n        simple: file\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 48c44c93-429c-4d45-8157-967e8763cd6b\n    type: regular\n    task:\n      id: 48c44c93-429c-4d45-8157-967e8763cd6b\n      version: -1\n      name: Recorded Future Malware Lookup\n      description: Search for a malware by specified filters.\n      script: Recorded Future v2|||recordedfuture-malware-search\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      freetext:\n        simple: ${incident.malwarefamily}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1062.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 758704a0-8129-4e18-80c2-be8e1a6290bd\n    type: regular\n    task:\n      id: 758704a0-8129-4e18-80c2-be8e1a6290bd\n      version: -1\n      name: Recorded Future Domain Enrich\n      description: Gets a quick indicator of the risk associated with a domain.\n      script: Recorded Future v2|||domain\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      domain:\n        simple: ${ExtractedIndicators.Domain}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: bbfe1ee4-e527-4ee9-8873-8b12f13b885f\n    type: condition\n    task:\n      id: bbfe1ee4-e527-4ee9-8873-8b12f13b885f\n      version: -1\n      name: Is there a domain?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"14\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${ExtractedIndicators.Domain}\n                iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: d7dbba4b-3630-4240-84f2-68afa970f73c\n    type: condition\n    task:\n      id: d7dbba4b-3630-4240-84f2-68afa970f73c\n      version: -1\n      name: Is there an ip?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"8\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${ExtractedIndicators.IP}\n                iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 500,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: c9884c3f-f913-49d2-8071-50a83fce64a5\n    type: condition\n    task:\n      id: c9884c3f-f913-49d2-8071-50a83fce64a5\n      version: -1\n      name: Is there a malware family?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"12\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${incident.malwarefamily}\n              right:\n                value: { }\n    view: |-\n      {\n        \"position\": {\n          \"x\": 950,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: 631b67ee-4d74-4a1e-8c0a-9db8790d62ab\n    type: title\n    task:\n      id: 631b67ee-4d74-4a1e-8c0a-9db8790d62ab\n      version: -1\n      name: Done\n      description: \"\"\n      type: title\n      iscommand: false\n      brand: \"\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1400,\n          \"y\": 1770\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 2eb317bb-ebec-4978-8075-6ef357b7d220\n    type: condition\n    task:\n      id: 2eb317bb-ebec-4978-8075-6ef357b7d220\n      version: -1\n      name: Is there a URL?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"20\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${ExtractedIndicators.URL}\n                iscontext: true\n              right:\n                value: { }\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1400,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 09273993-3cab-4f4a-8164-166557572ba7\n    type: regular\n    task:\n      id: 09273993-3cab-4f4a-8164-166557572ba7\n      version: -1\n      name: Recorded Future URL Enrich\n      description: Gets a quick indicator of the risk associated with a URL.\n      script: Recorded Future v2|||url\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      url:\n        simple: ${ExtractedIndicators.URL}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: b990d9d0-9cde-43ce-87ef-cc39e0468ff7\n    type: playbook\n    task:\n      id: b990d9d0-9cde-43ce-87ef-cc39e0468ff7\n      version: -1\n      name: GenericPolling\n      description: |-\n        Use this playbook as a sub-playbook to block execution of the master playbook until a remote action is complete.\n        This playbook implements polling by continuously running the command in Step \\#2 until the operation completes.\n        The remote action should have the following structure:\n\n        1. Initiate the operation.\n        2. Poll to check if the operation completed.\n        3. (optional) Get the results of the operation.\n      playbookName: GenericPolling\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n        - \"22\"\n    scriptarguments:\n      Ids:\n        simple: ${Triage.submissions.id}\n      Interval:\n        simple: \"1\"\n      PollingCommandArgName:\n        simple: sample_id\n      PollingCommandName:\n        simple: triage-get-sample-summary\n      Timeout:\n        simple: \"5\"\n      dt:\n        simple: Triage.sample-summaries(val.status!=='reported').sample\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 0\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: f911feab-5025-4db7-85fa-29ab4c7d3808\n    type: regular\n    task:\n      id: f911feab-5025-4db7-85fa-29ab4c7d3808\n      version: -1\n      name: Get Sample Summary\n      description: Gets a summary report of the sample id provided\n      script: Hatching Triage|||triage-get-sample-summary\n      type: regular\n      iscommand: true\n      brand: Hatching Triage\n    nexttasks:\n      '#none#':\n        - \"25\"\n    scriptarguments:\n      sample_id:\n        simple: ${Triage.submissions.id}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: 0711e10f-817a-444a-86b4-683871c59418\n    type: regular\n    task:\n      id: 0711e10f-817a-444a-86b4-683871c59418\n      version: -1\n      name: Get Report (static)\n      description: Get the static analysis of a sample\n      script: Hatching Triage|||triage-get-static-report\n      type: regular\n      iscommand: true\n      brand: Hatching Triage\n    nexttasks:\n      '#none#':\n        - \"27\"\n    scriptarguments:\n      sample_id:\n        simple: ${Triage.submissions.id}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2505,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: fbd4c997-6943-428b-8d8f-34ab51a75b61\n    type: regular\n    task:\n      id: fbd4c997-6943-428b-8d8f-34ab51a75b61\n      version: -1\n      name: Get Report (behavioral2)\n      description: Retrieves the generated Triage Report for a single task\n      script: Hatching Triage|||triage-get-report-triage\n      type: regular\n      iscommand: true\n      brand: Hatching Triage\n    nexttasks:\n      '#none#':\n        - \"6\"\n    scriptarguments:\n      sample_id:\n        simple: ${Triage.submissions.id}\n      task_id:\n        simple: behavioral2\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 510,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    fieldMapping:\n      - incidentfield: Malware Family\n        output:\n          complex:\n            root: ${Triage.sample.reports.triage.extracted.config\n            accessor: family}\n            transformers:\n              - operator: uniq\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: 99fb0162-27ca-4873-89a5-77fb69a91613\n    type: collection\n    task:\n      id: 99fb0162-27ca-4873-89a5-77fb69a91613\n      version: -1\n      name: Choose Report Type\n      description: \"\"\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n        - \"26\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    message:\n      to: null\n      subject: null\n      body: { }\n      methods: [ ]\n      format: \"\"\n      bcc: null\n      cc: null\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n        - id: \"0\"\n          label: \"\"\n          labelarg:\n            simple: ${Triage.sample-summaries.tasks}\n          required: false\n          gridcolumns: [ ]\n          defaultrows: [ ]\n          type: singleSelect\n          options: [ ]\n          optionsarg:\n            - { }\n            - simple: static\n            - simple: behavioral1\n            - simple: behavioral2\n          fieldassociated: \"\"\n          placeholder: \"\"\n          tooltip: \"\"\n          readonly: false\n      title: Choose Hatching Report Type\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"26\":\n    id: \"26\"\n    taskid: 496511e9-35a4-4518-8afc-6a59b7bc9fd2\n    type: condition\n    task:\n      id: 496511e9-35a4-4518-8afc-6a59b7bc9fd2\n      version: -1\n      name: Which Report Type?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"24\"\n      behavioral1:\n        - \"1\"\n      static:\n        - \"23\"\n    separatecontext: false\n    conditions:\n      - label: static\n        condition:\n          - - operator: isEqualString\n              left:\n                value:\n                  complex:\n                    root: Choose Hatching Report Type.Answers\n                    accessor: \"0\"\n                iscontext: true\n              right:\n                value:\n                  simple: static\n      - label: behavioral1\n        condition:\n          - - operator: isEqualString\n              left:\n                value:\n                  complex:\n                    root: Choose Hatching Report Type.Answers\n                    accessor: \"0\"\n                iscontext: true\n              right:\n                value:\n                  simple: behavioral1\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1512.5,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"27\":\n    id: \"27\"\n    taskid: 6ddaacb9-225d-4f3f-86ed-85ad5bcca863\n    type: regular\n    task:\n      id: 6ddaacb9-225d-4f3f-86ed-85ad5bcca863\n      version: -1\n      name: Extract Indicators from Report\n      description: Extract all indicators according to server indicators configuration\n      script: Builtin|||extractIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n        - \"30\"\n        - \"29\"\n        - \"28\"\n    scriptarguments:\n      text:\n        simple: ${Triage.sample.reports.static}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2505,\n          \"y\": 1245\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"28\":\n    id: \"28\"\n    taskid: 85e5a903-2173-40a7-8a9a-950b2db5a161\n    type: condition\n    task:\n      id: 85e5a903-2173-40a7-8a9a-950b2db5a161\n      version: -1\n      name: Is there a domain?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"31\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${ExtractedIndicators.Domain}\n                iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2955,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"29\":\n    id: \"29\"\n    taskid: b1e51019-849d-4826-8da9-3575e0124901\n    type: condition\n    task:\n      id: b1e51019-849d-4826-8da9-3575e0124901\n      version: -1\n      name: Is there an ip?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"32\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${ExtractedIndicators.IP}\n                iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2505,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"30\":\n    id: \"30\"\n    taskid: 839aa7fa-ed83-40ce-8946-79b35fb033eb\n    type: condition\n    task:\n      id: 839aa7fa-ed83-40ce-8946-79b35fb033eb\n      version: -1\n      name: Is there a URL?\n      description: \"\"\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n        - \"18\"\n      \"yes\":\n        - \"33\"\n    separatecontext: false\n    conditions:\n      - label: \"yes\"\n        condition:\n          - - operator: isNotEmpty\n              left:\n                value:\n                  simple: ${ExtractedIndicators.URL}\n                iscontext: true\n              right:\n                value: { }\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2055,\n          \"y\": 1420\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"31\":\n    id: \"31\"\n    taskid: e37bd9b9-477b-42e2-8da2-11f7e578e84f\n    type: regular\n    task:\n      id: e37bd9b9-477b-42e2-8da2-11f7e578e84f\n      version: -1\n      name: Recorded Future Domain Enrich\n      description: Gets a quick indicator of the risk associated with a domain.\n      script: Recorded Future v2|||domain\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      domain:\n        simple: ${ExtractedIndicators.Domain}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2842.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"32\":\n    id: \"32\"\n    taskid: faa68fc8-0b6c-4435-8fad-de8c797fd81b\n    type: regular\n    task:\n      id: faa68fc8-0b6c-4435-8fad-de8c797fd81b\n      version: -1\n      name: Recorded Future IP Enrich\n      description: Gets a quick indicator of the risk associated with an IP address.\n      script: Recorded Future v2|||ip\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      ip:\n        simple: ${ExtractedIndicators.IP}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 2392.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"33\":\n    id: \"33\"\n    taskid: 298eaa5d-b2c3-480d-83e7-ceedc93234ed\n    type: regular\n    task:\n      id: 298eaa5d-b2c3-480d-83e7-ceedc93234ed\n      version: -1\n      name: Recorded Future URL Enrich\n      description: Gets a quick indicator of the risk associated with a URL.\n      script: Recorded Future v2|||url\n      type: regular\n      iscommand: true\n      brand: Recorded Future v2\n    nexttasks:\n      '#none#':\n        - \"18\"\n    scriptarguments:\n      url:\n        simple: ${ExtractedIndicators.URL}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1942.5,\n          \"y\": 1595\n        }\n      }\n    note: false\n    timertriggers: [ ]\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"15_14_yes\": 0.62,\n      \"15_18_#default#\": 0.2,\n      \"16_18_#default#\": 0.3,\n      \"16_8_yes\": 0.59,\n      \"17_12_yes\": 0.61,\n      \"17_18_#default#\": 0.3,\n      \"19_18_#default#\": 0.19,\n      \"19_20_yes\": 0.59,\n      \"30_18_#default#\": 0.2\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1785,\n        \"width\": 3285,\n        \"x\": 50,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n  - key: File\n    value:\n      complex:\n        root: File\n        accessor: EntryID\n    required: false\n    description: \"\"\n    playbookInputQuery: null\noutputs:\n  - contextPath: DBotScore\n    description: The DBotScore object.\n    type: unknown\n  - contextPath: DBotScore.Indicator\n    description: Triage analysis target\n  - contextPath: DBotScore.Type\n    description: The indicator type - File or URL\n  - contextPath: DBotScore.Vendor\n    description: The integration used to generate the indicator\n  - contextPath: DBotScore.Score\n    description: Analysis verdict as score from 1 to 10\ntests:\n  - No tests\nfromversion: 6.5.0\n",
  "product": "Recorded Future",
  "pack": "RecordedFuture",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:recorded-future",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "WxjNPDErbTwh1lS9oOc+vDoShj0FFZw8wfcOPagkHjzA1MA7MmaGPEnXCjyosmc9XsUTPcjajTwdI/88jJ+DvW9G1TxrKqk9+WsvvVgDarwNWSm9sFtOvZiELj1zPLi8v3bkvGJmqb2arrE8rNaYvAV/AryTJfA8luw9vHmLPD1Ma089m2f+uzN3irwyO0C9TXNqvFtoFb2sCB27+Rl7O5Onrr3LafM67HULPTxjsD0LSPk8JhCnvZ5+j7wipVo8L1lJvT7YDj1XLVM9dXyOPAeNV72P94M8akc2vCJUMb17+rA8n/icveaKgTxtjwU8MbIzugLCyrzFKeY87zg4PFEoZD0KQRY8mH7APGfCp7weRqO9xfOgPL/t+rsC1uA8zRU0vL799jwO4aW8pTSQPKwZUDz5LdK80jqSPJorUjvAE6S8wOAzPINbPD3ETcQ8rcRkvF/mfb2QlvK7FHNzveqwhDz6YSI8oC2mPUZVu7xkyAC928CRPbPLuz2fqoO69QJYvQf60r0HniE8OzdhPbyD5TxfYoO8cYe8PCt1E72tNVs7FKsdPdIFoLwBmr28yutavQ0JzbyZlxO8PGQgOwjAHDyB8UA9mpJEvZywqjy36Bq96tQkPXu+Z72vveW86CpmPJDjTD3GNbM4ssIGPTxpRT0QIi89MWygPAy52bzB5S08+u1IO3BmNryC3Ei9Ic+3u8XrH716E5g8KHgBvQTXcjwpMT68XmeuPDjNYj2SSOQ8r9DevO/S/L3VLgM8lwcrPUn7pLwi7hY90cApPZh5PL3fgIS8sKD8u9R+Kr1nftS9RKyIPKpEK72tPKO8igEhPXKBkb3jmCU9n6USvcGnXTs65VW8TQcmPJvyOj3MZ6q85tpDvK3H/rwhRBC8ApZYvOlbVjvmUTm9JTeNOzaEab3zLF28j9iUPIbpWTp92bm7wJGPvAG8Sr2EPsG8ESyiPcFYA71nAXY66aSwvduMsbmkUzE94X2IPHNtdrwVR4y8VDEUPTuLS7scJxI8HhsBPY6GBz2JYA+9B9YmO6yNgz0R/QG9h2UmvaG9tzyo84I90geTvN2qeDpdgUe9gq1zOr+k/TpftBi9wnsOvaWAUj2ZKf283Oe/u+i4zTv6OQO92NZqujw5Dz0C9DY8rleTvJ09gj1EMLA9osYRPet2tDy94Wc7dfV6vcaLjzxxbGk8FYd6PcbJw7n/xE89SOlOvJkJlb0yFCe8abm3PE6xDDt4f/E8dlo3PSfd+TvlA4U9XjrEvDb3njtSDDM74JsXvT4hjT3J0U+8MY4BOw4uLT2xDfW8LroDPfHy4rt1m5c8mWO/vBjGgLzro788I+G/PJ2Hubxm0He9Wr5zPKkQ1jvOaJq81JQwvLh6o7xURgc9ENQvvYS+nDti+Km8v3GIvCY+mr1s8km9UMxOvSgYtjwfSTM888GRO+h8Azz00Ck9SW1cvH50W7129gm8vEm9vApqPz3r2ry9g1uEvURRXTzcoiC8grnaPMxsebyxsUm8fMOAvfipirpIT4E8lcuZvKI4C73wIBU9jtHNO8qOF7zt9y+9n2eCPYx9jzzjg7Q8FrWCPTvS5jwfZ5k7vDoJPTXlrDyeMmG8E7t6Pe+PV70a3Ek8XB4QPc4TIb2d/Ey82kZ3PDbYvrzxmpA8F3IxvBq7NbtH1IG8WVcDvYyM673CKKy8awNYvYOkHL1gbTM9dPwfPeL9Rr3rkro8xU17u747yTo2Tyc81zAJveD7ADwbXSm9x/6yPDwiUz0ZJ3i9ugYFvYzIG73am/489RWIvfqSPj1FATY9DV+2vE86G7siqBO9E/BePZsuFLzvI4e8J1LsO60lIrwD+pK8kGS1PT0ZUT3JsxU9fAUBvbl+wLt82Ig8rAm/PHXJV7y5oJE8SOoXvS5F/LvIj0A8DhzOPF5D8Dxof907j7C3PTU0WTxbKwa9RVknPXiydj1sEFo8FYqgvJ+0zLwQwP669cjLPJy6u7wY56I8EZKUvUnDI73W5De8o8RqPPOG9rwhUOq7bLElPd3QWb39asI8kN+aPGzhYD0l3q68UAP0O59IIj3IC4m8axxnvVTIxz0dNlU8yMSmPVDjobxiC4o7oLRSvd4jhz0um0Y9kjLavIEMQ706SaW7r+JTPZRDb72Nj148Yi1LvMUQOz2dDgE9JllHvSHGrDstJQE9qfcdvDImg7zXQ/08ZlSYPLHJCj3pUVI93NetvInmH7yXwxY9bW0luK+BHL2YeOq7KzgVPB27Crxbnay9xH0TPQjW47uIjCk9VuodPCpbybyhJxc9uM4vu58/OjzNp8w88oXBPD2khjydoYE7fGKWvAg7GT2/Eb48bf4fPaiRJj0ngk493UXDOy7lX7yMTxu8QaAmPTyy1zyWCUK9OD2IvGuTszwdjQW8EdAevVk7vL0sjwg9/jT4u07eojz0t/C86OTcu2D1Kr0ZfpI8snKfPSfK2LuMLro6/OgMvX8ybrwNE189vJSrO1fH/jynvdo8M8s9PVfgHD3UNZk8uZx6vQe6IL3vf/w8v2meuEWk3jy24cG7A9aJvR9gtrx9ELK41heJPCfAGT1FfXW9GaaKvS4n7DwzTwC8V9nvvBcwYr1+T2m7sN8BvEjijbxQkfG8UdF8vSjpXjxkLgk8s71YOyoVOz1bVaI93x48Pb7pezxWbF+7oFtmvNhDuzwLIzm92lE4PdfRMTx+FE09b5cNPU7Za735Eok9UqH3vJl/fLz4cCY7oEoTvFdHoDwsFIg7uQNcPWhSRr3IN7e7Ubi4POJ69Thd5xy9x+XJvAB+lLxy3EC8o9cGvaM+wrw+kM07CIzzPAyiXrudGG08A6MhvK1tEj1nnlA9SFj5PHwpGj1YWGc8repAvGqoyTykb449M098u3onYzyJnDg8jQ6Su9cHZDx6kRi7EJvBPBYyoLzbmTK8TNVOPPKEqDw2RCa8MgEjvTAuNrt6zwi9nk2OvDJ4pry67xg7Y1CAvHnzCLzxaoC70IanvHzNADk9z6G8wDUQPUBPizvJfyi81tSRPODgvDtlAMo73L6YvKvbhLvxDLu72i2DvLHsCzxitQi8WzUYPAZ3Zz3icSA7CbCOPWhaz7tY2WO9GKYCPQm77bwFRe+7CRB4vdLLvbz56ey88Z+QvAR0Dj2sDbK8rXrZPPpaJz2LCuO8VkmyPcvlS7rw57W8GlUfu8UiPb36HsE93ddZvHshILzc8IS9tnmHvHpixby+KRM98zeqPCFqxDu/03o9nUi9vKiFSr1n/JW9CcMAPYI+Hr1MLTa9QbxbvbGoMT22CiU962SPPPIFd7sWIPu81y4LPOMXFbwhRiG9JjJuvPFKzz2x6xw8YWkUvRaj6DucgoI9pvAvvXP5jbzRrbe7G5L2PCWk+zvRIBw9VAZsvbyuOz3et8C8c0OrPXt8yrsRSDm9394Cvdl/fbqGjka9eHSbvPJbAz0BTuA8rhw4PcgPWLzPY+A8n26hvfzqg7y2qf47d97tvMg9GDz7MLC7C8BiO71B8LzbSqu9X6EKOy1WyLsm/2y7gL1LO9qXJ70YUbo7tPxwPGp+Eb1vlek8PBejPC2QRz2ZSZ48SbFxuR5STrts0UM9qebtu0hGg7uQzZ+8YW3fvAD+bT3U2vy8jI6Gu2iJOjxazQM9JRWCvDgj67zqoB89z77KPFAyeT0+hfG8xXzaOzHf27uTFSa7nDXpvDVPC73paTe96e9evEaJdT3RE5o8R+A5vf6NkTyJL4k8ADmQPExtFTwIXB49oL7WvQk04LzJYzG9UEpCPQHklT1YjMy7CL7vPGtEID012EU95+j4PAruMz0Fmwc6Z3JMPTJkoLyIp2w9DIqyPApX8LwSRGq9mshtu0hxErzCRVW97SYDPN/GYD2Gnjw9Ij8Rvb0RPzobLJ477L/cvOcWr7w5Ia87TftWvCWobDwRDQs93HCBvQxpG7yWlY481r3DPPdtWD2H7Ds9pNvsPK6OAb1TpiG9z0V1vUe3pDviuHG8UUbJPODvBT3ycgK9O92EvZsTobtRptg8cgyjPH9V5bxh9f48WYPTvIizmTyyuUy97tAUvW/I+TxBDdk7"
}
