bundles/spark/kbs/soar-playbooks/entries/pb-recordedfuture-recorded-future-list-management.json
{
  "id": "pb-recordedfuture-recorded-future-list-management",
  "title": "Recorded Future List Management",
  "category": "playbook",
  "content": "Manage, view, and edit your lists in Recorded Future.\n\nCortex XSOAR/XSIAM SOAR playbook from the Recorded Future pack (RecordedFuture, partner-supported).\n\nIntegrations/scripts used: RecordedFutureLists.",
  "raw_yaml": "id: Recorded Future List Management\nversion: -1\ndescription: Manage, view, and edit your lists in Recorded Future.\nname: Recorded Future List Management\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 26352583-6bb9-4a08-8136-536094826dfe\n    type: start\n    task:\n      id: 26352583-6bb9-4a08-8136-536094826dfe\n      version: -1\n      name: \"\"\n      iscommand: false\n      description: \"\"\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 91d36804-06a2-4828-8d82-77f91d060805\n    type: regular\n    task:\n      id: 91d36804-06a2-4828-8d82-77f91d060805\n      version: -1\n      name: Search List\n      description: Search for lists in Recorded Future.\n      script: RecordedFutureLists|||recordedfuture-lists-search\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      ignore-outputs:\n        simple: \"false\"\n      limit:\n        simple: \"100\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 200\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 2\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: ef8c7fb2-3a7b-40c6-8861-8df242ab8dde\n    type: collection\n    task:\n      id: ef8c7fb2-3a7b-40c6-8861-8df242ab8dde\n      version: -1\n      name: List Options\n      type: collection\n      description: \"\"\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 390\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to: null\n      subject: null\n      body: {}\n      methods: []\n      format: \"\"\n      bcc: null\n      cc: null\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Do you want to...\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - {}\n        - simple: Add\n        - simple: Remove\n        - simple: View\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Which List?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: multiSelect\n        options: []\n        optionsarg:\n        - simple: ${RecordedFuture.List.name}\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: What Entity?\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: 'Input entities to add/remove, separate by comma (for urls containing\n          commas: replace comma with %2C). Leave blank if viewing a list.'\n        readonly: false\n      title: Add, Remove, View?\n      description: \"\"\n      sender: Your SOC team\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: f6c03720-f49c-4609-8795-968d7908138c\n    type: condition\n    task:\n      id: f6c03720-f49c-4609-8795-968d7908138c\n      version: -1\n      name: Add, Remove, View\n      type: condition\n      description: \"\"\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"10\"\n      add:\n      - \"8\"\n      remove:\n      - \"9\"\n    separatecontext: false\n    conditions:\n    - label: add\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: Add, Remove, View?.Answers.0\n            iscontext: true\n          right:\n            value:\n              simple: Add\n    - label: remove\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: Add, Remove, View?.Answers.0\n            iscontext: true\n          right:\n            value:\n              simple: Remove\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: da0fedcd-8f14-4880-83bf-add93288f372\n    type: regular\n    task:\n      id: da0fedcd-8f14-4880-83bf-add93288f372\n      version: -1\n      name: Add Entities\n      description: Add entities to a list. Separate entities by commas. \"NOTE:\" If\n        entity type is specified, only one entity type can be added with each action.\n      script: RecordedFutureLists|||recordedfuture-lists-add-entities\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    scriptarguments:\n      freetext_names:\n        simple: ${Add, Remove, View?.Answers.2}\n      list_id:\n        simple: ${ListID}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -370,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 81b77ea8-6aca-4fd3-8207-a3d7e0eaa127\n    type: regular\n    task:\n      id: 81b77ea8-6aca-4fd3-8207-a3d7e0eaa127\n      version: -1\n      name: Remove Entities\n      description: Remove entities from a list. Separate entities by commas. \"NOTE:\"\n        If entity type is specified, only one entity type can be added with each action.\n      script: RecordedFutureLists|||recordedfuture-lists-remove-entities\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    scriptarguments:\n      freetext_names:\n        simple: ${Add, Remove, View?.Answers.2}\n      list_id:\n        simple: ${ListID}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 7c6d84c0-cad7-4425-8979-9165e6e29656\n    type: regular\n    task:\n      id: 7c6d84c0-cad7-4425-8979-9165e6e29656\n      version: -1\n      name: View Entities\n      description: Get the entities that are currently in the given lists.\n      script: RecordedFutureLists|||recordedfuture-lists-entities\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    scriptarguments:\n      list_ids:\n        simple: ${ListID}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 470,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: adb8def1-12be-4f62-88df-79e8bca2105e\n    type: regular\n    task:\n      id: adb8def1-12be-4f62-88df-79e8bca2105e\n      version: -1\n      name: Get List ID\n      description: Search for lists in Recorded Future.\n      script: RecordedFutureLists|||recordedfuture-lists-search\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      extend-context:\n        simple: ListID=id\n      list_names:\n        simple: ${Add, Remove, View?.Answers.1}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -370,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: cb4e2d59-cbe0-474e-8a51-ca56ecf04f7f\n    type: regular\n    task:\n      id: cb4e2d59-cbe0-474e-8a51-ca56ecf04f7f\n      version: -1\n      name: Get List ID\n      description: Search for lists in Recorded Future.\n      script: RecordedFutureLists|||recordedfuture-lists-search\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    nexttasks:\n      '#none#':\n      - \"6\"\n    scriptarguments:\n      extend-context:\n        simple: ListID=id\n      list_names:\n        simple: ${Add, Remove, View?.Answers.1}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: d497f319-1eaa-49cb-8b7e-f3e2100becce\n    type: regular\n    task:\n      id: d497f319-1eaa-49cb-8b7e-f3e2100becce\n      version: -1\n      name: Get List ID\n      description: Search for lists in Recorded Future.\n      script: RecordedFutureLists|||recordedfuture-lists-search\n      type: regular\n      iscommand: true\n      brand: RecordedFutureLists\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      extend-context:\n        simple: ListID=id\n      ignore-outputs:\n        simple: \"false\"\n      list_names:\n        simple: ${Add, Remove, View?.Answers.1}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 470,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"4_10_#default#\": 0.89,\n      \"4_8_add\": 0.85,\n      \"4_9_remove\": 0.66\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1015,\n        \"width\": 1220,\n        \"x\": -370,\n        \"y\": 50\n      }\n    }\n  }\ninputs: []\noutputs: []\nfromversion: 6.5.0\n",
  "product": "Recorded Future",
  "pack": "RecordedFuture",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:recorded-future",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "hHMnvERcVTwR6Y69OsvWOwB94zyrpQ46+VFuPLeqhDxwQyA95fGSPFQMg7xyDkI93AoUPeJbDrzUbUG9lb8wvRmGEboHKV89QkJKvUuF1TwIZLK8RqAMPFYE0Dzx2rQ8HazIvOdD3b3y1gQ9WchyPFkWh726n0o9A6IOvDICsjzdiVE96b8Uve26l71hADS8BLMfvfptLb1RbVQ8+t8aPQV1nr1Cvgq9myT9PJpk3TzaFAY94b98vWBJvLzrDyk9d39LvY3qJLyZgpc92iUuvQ9vmryE6Nq7/4V2vf2tnL1uclA8GOqHvLJQ5DwLmH68V0h6POo5vruQEz68ByCZPK6iRD2L5H48IAYHvd+eXjxYPG+9XomLPb1X3rynX0w9KwK6OzM7nLy4rzO9R1UDvTrK9byYE6y7TG63PLUCfD28f0O8rmmzPOmKJj3Q0pY72Hu0vNt/Ir0CVdw7kPOOvTNQpzvLEn489uPDPUlPML2eg8S8D1R3PTWVqT2ftYS8xUUrvdmI0735Tym8CwNXPFYUYTxjF0I7RCZ2PPdtUL1v/Bw87LQsPAQIILwSr2296uxbvYCEGb3k2vM5ZIHku/3fL7wKXPw8duKbvSdaaz1V0Ba8yey/Oh7OxbxFzNG7qCCrPM2o6Tw4zU2838SGPbOkxz3Vek09lmAQPQzRjjyM/va8eMyrvEFgjbx9zIO8KAu8vLhRJb27iQe98wcWvR+hSDwfLjS9qg0IPdnY1zvOioo8Nx7Qunlmo70rDHG5lw9DPdTKWLvBLEY9wPacPW4qp7o3Vx28YS6jPGpjC7w20Di9i51FvDZhLL2/vvO8ZdQtPMxvq71f3mC8wrHavJxfCTljBRG9L2llPcOaRj32ASO9xtRDvUd007yPHd27sv8nvMzAdD0eA5m9HAoJvSQ/Kr30MzU7gkjYvIgJxzxmAUQ85UEIvTBcNbzzGuC8Y9VBPc7Re7wp6E+8SL7ivUVwTD1N71E9Fs9oPBXrAj1tsQu9Z4AVvGPfnDviQ0K9dFMYvYEjkT2eDxe91KjbvDfxID0bpmO87rkHO9vFb7u5OmM9C/YnPWl087vUmFW96oIQvDpN/TwOfRy9cRA0vS90ZT0106y8uVj+O9YexDx2AbO8l1Lhu65SGj0JlCq8LzwcvYePKT2uWKE99cgvu6l5RTzus6m8kIeRvaOKjDqSsB28PaHGO1m15jr4N5c95zv8vEIRnL1PHjU8SAacPT3uAb2roys9/hWqvMLiLLo2Ews96/YtPB7ZAb2DNYA7584qvTxBjD0oQJI8JoTxurxUBj056gS9KOaYvBFUDb1IlVy8zN6LvWUqDzqFrVk8pWwAPZJXl7yYzKi8+eBLvH70Gj1v2cW8FBSpu6Iq9by2gXM8FdF/OqVsU72FJ3S96IYgve7eK73ehwe8VjVMvBFDtjzQqek8+tQqPPXtizw3jyY9tCNCvY/1cr1zSuS8PR6ivMCKlDsTm6i9zddDvXXMcTvxNQa9KxGJPQ4Rv7w24qQ7aaiUvTtFrjxq6R67hw9lvXqtFL1EnhU9G50fPTLFHr0Yrv28aydvPKsZRrzY2F89Qg3zPMmZvzuxzoy61MQCPTXrCTyjcRa9xqOKPXTxmjtH8lk849IwPWXUljxsCvM8uo2uPEYgbry9MUe82ue9PFz0DrsSx/c7tfmKvDveBr4d+uq8jWisvFNTGDzC/AE9bkJvPCTm2bzQdJQ8HYt+vaDVtTxNBpc8FQQ6u5i9CbyJgiS9mE02u4PqqD2tBeC8/HExuwCzNL0SeFw97aBLvX4xOT3qHqc9kp3WvA1vJDwfcc27jvw6PQIAxbwBXWi8exJXPKKzhj0r88s6W8ilPbVRGz2jwUg9IIu+vAr7gzyFVJ88MvmzPPyFAT2XTUQ9ByrIvNk4lTzjhYm8Xb1mPHYCmDxwih09mIiyPcxN8bxJkSq9D20XPSFqPz1231E7sIxQvfUxXL1Giz88pMpTPOxD1byyzJU87dX0vG6vK707R0S8aQ0Tuh9APr0JWTM8rOFmPIgRhDw5Ya+7RcVLPam9jD0kc2G8gaaAPELUF70bcVS9aPhcvJq1ND0pYam7605XPU2tVb1r2H08KfrlvDMyXT2IU0w8jSQtvYCX/7zgI9W8wWsJPYXfFb35YRI9uqJjvNAA5rv/sO87+mi4uhcJqbvfq9K7izpkvBLjp7uxRry8TnmcvNdvhj3XKTo9YCkQvRSdPzzq+Ps8JT/4us31BL3hSBE8JtHWOmsbJju71aS9EDI7PUduwTvmwao7wCHUPK9RYbxwktU8ha+LvGE+HT2aYyS73xdau2AWvjw50PC83pTqvNBd5zxRcHs954aQvG2mvD2fizs9mIsLvaNytDyHxfG8ZlPhPMOKj7sb6xy9HxV5vMOwprw05BM9z4MEvJEHxr1UafI80XMVPFfkxjyqfR+9950xvcc/Fr34yTe8/IxcPb6fyLz9e1G9+byTvDAcGr0Gq+g89Fp0PDjScj1+o4w8Q2UqPcTSujyysz494FR5vZa1Nr2DNgc99MEhvInZiry79+C8wyB/vf17+rzoi726RyO3PHGu1TwL3JC9uxC4vGz0B7shoLw8pWdaveQxPb17DBG9ftZPvOylfjv+JG69qwCDvX+SKT2Q66W8O9qFvHG9zjtzXa49KeEIPeXw+jwpje28tfMXuwzsAz07Ui+9N+EWPNEW1ztJh5k7CBnHPOrkRr0hlFk8VjElveR1RL1V21i8+N0qvS9MtjnD26I8GRvUu9mFUr06K+y7lJJBPXu2JL1yGS69ujZzvWRs/7tRrPk8Pca6OweY77tBU0m8YX6FPTUSIz3ToPA8/RAzuxluUj2lAQw9xAqgukdSZT1S39k8ElOYuw5jSTvsd7Q925O1vJ09TT225i49nIORPGzFgz35jii9AUs5PTWf0bwFPKg7aTrqu8AOBD2k7p689ZyqvWjykzwyGGm8of7GO92F3byBmaQ8m43IvFgKqLxyZQw8+5EEvYG4pzykapa7Il9IPQVhL7oWFJ67njWruzYQJzuiAxM9l43UvMCyTL3cpXM8Wd0hvWZEMT3wqxi9Dp+4OsMz+DtI6ce8flNePVNZnzxepY+98UXrPGiaPzweUOw8bqxjvXrMG71vOpW8UWoEvLcbuzohQco8scC+PHNujDy8T3m9dGAdPUvMMTtgKvI8mdjiOCSl27zmC309pGqUvLlQBLwL5AC9Hn1IPHsLGr1O0EQ921vUu2vhSTrU41k9WIVNvU3bfL0T+Cq9xpIVvTES2LyFiZe8Yb+3vBucOj0VQ0E9wDUgPWl0irxt+au6aUxCPX0izbynTEq981+rvGN56zzgKRE9nb+HPDWpALxuJiY9Q7QDvU3gjLzARpm7MM7oPJsLgD3mMa48ajkbPN43tTwfa+s7lvSKPfWlEbzv1oC9YuUePMQonDxfFym9UAqavAkc1bvhLgk9nkiaPWMw8rwUlk89G/pCvXgTJryLQFk8/AhUvRh2WDxCNI+8gp61vBiGhbwAlDi9iQoovTqdFr3TSPY8ml3avGcQnb1Joq48XqzdOywbgryZ6pa8YjX0PPo/Rz1zBB270eUVvXSTKT3HFf08UY1iO8x3sbymtCe9bKMyvC2BOD3okSC7X2gxPXPEEjybnGc9V9B9vC548rssrLE7jjEdPH/30Tz3BJC8rNSePDZSE70+zwS90wuNvIiB1bwaMam8cQqFvB73mz2WfPe79eouvdBe37tW7UQ8IfxmvMCX0rwZEoI9iMKBvfd2xbxrtMq8vq07PIKfLj0Ua5u87qAIvQftpjxmfp880PwBPNyGCz1Fd4S6Fr8JvFFACb14Ofo80vUDPQorwLyKYQG94C2CvMniybunvAm9Z3L1PAmA3zwW/oi6TlpyvDYMqbxlGpW8jY9HPCSNbbyjl4E8Zw/uvCBPkTyMl1Q8m4d3vbhskrxcnG66m+hpPBUnxzxR/w49qrqiPJkeHj0zxPI6/XmHvTe5n7w4oYk8H37bOz8LoDwrxq28ukH9vF9CDb2utZE957OoPC+ZeL2f6xg9OrRwOr7vEz3X/u68Zmf6u24DPD0ykqU8"
}
