bundles/spark/kbs/soar-playbooks/entries/pb-servicenow-servicenow-ticket-management.json
{
  "id": "pb-servicenow-servicenow-ticket-management",
  "title": "ServiceNow - Ticket Management",
  "category": "playbook",
  "content": "`ServiceNow - Ticket Management` allows you to open a new ticket or comment on an existing ticket.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (ServiceNow, xsoar-supported).\n\nInputs — serviceNowTicketID: The ticket ID.; serviceNowCategory: The category of the ServiceNow ticket.; description: Description of the ticket.; serviceNowImpact: The impact for the new ticket. Leave empty for ServiceNow default impact.; serviceNowUrgency: The urgency of the new ticket. Leave empty for ServiceNow default urgency.; serviceNowSeverity : The severity of the new ticket. Leave empty for ServiceNow default severity.; CommentToAdd: Comment for the ticket.; serviceNowTicketType: The ServiceNow ticket type. Options are \"incident\", \"problem\", \"change_request\", \"sc_request\", \"sc_task\", or \"sc_req_item\". Default is \"incident\".; addCommentPerEndpoint: Whether to add a new comment to the ticket for each endpoint in the incident. Possible values: True/False.; serviceNowShortDescription: A short description of the ticket..\n\nOutputs — ServiceNow.Ticket.ID: ServiceNow Ticket ID..\n\nIntegrations/scripts used: servicenow-create-ticket, servicenow-update-ticket.",
  "raw_yaml": "id: ServiceNow - Ticket Management\nversion: -1\nname: ServiceNow - Ticket Management\ndescription: '`ServiceNow - Ticket Management` allows you to open a new ticket or comment on an existing ticket.'\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: adef5ad9-870c-46e5-8425-54b29e21cd17\n    type: start\n    task:\n      id: adef5ad9-870c-46e5-8425-54b29e21cd17\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -150,\n          \"y\": 400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 6891d374-18fa-4eb1-8dee-1bda2be25f6c\n    type: condition\n    task:\n      id: 6891d374-18fa-4eb1-8dee-1bda2be25f6c\n      version: -1\n      name: Is ServiceNow v2 integration enabled?\n      description: Checks if the ServiceNow v2 integration is enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"7\"\n      \"yes\":\n      - \"3\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                    ignorecase: true\n                accessor: brand\n            iscontext: true\n          right:\n            value:\n              simple: ServiceNow v2\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -150,\n          \"y\": 540\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: aa176873-8f95-45b9-857d-6db87bdcef37\n    type: regular\n    task:\n      id: aa176873-8f95-45b9-857d-6db87bdcef37\n      version: -1\n      name: Create a ticket for the incident\n      description: Creates new ServiceNow ticket.\n      script: '|||servicenow-create-ticket'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      assignment_group:\n        complex:\n          root: inputs.serviceNowAssignmentGroup\n      category:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"1\"\n      comments:\n        complex:\n          root: inputs.CommentToAdd\n      description:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"0\"\n      impact:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"2\"\n      severity:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"4\"\n      short_description:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"6\"\n      ticket_type:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"5\"\n      urgency:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"3\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 1315\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: c45fcc66-2992-470f-8810-2ac6f6fa4640\n    type: condition\n    task:\n      id: c45fcc66-2992-470f-8810-2ac6f6fa4640\n      version: -1\n      name: Whether to open a ticket for this incident?\n      description: Checks whether to open a new ticket or add a comment to an existing ticket.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"16\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.Action\n            iscontext: true\n          right:\n            value:\n              simple: NewTicket\n          ignorecase: true\n      - - operator: isEmpty\n          left:\n            value:\n              simple: inputs.serviceNowTicketID\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -150,\n          \"y\": 760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 80014140-96c0-4da1-82a1-2c874cebfe90\n    type: regular\n    task:\n      id: 80014140-96c0-4da1-82a1-2c874cebfe90\n      version: -1\n      name: Update the ticket for the incident\n      description: Updates the specified ticket.\n      script: '|||servicenow-update-ticket'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      comments:\n        complex:\n          root: what is the comment for the ticket?.Answers\n          accessor: \"0\"\n      id:\n        complex:\n          root: inputs.serviceNowTicketID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1080,\n          \"y\": 1490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 3e5b6314-b03b-4fb0-82da-4a5990ef9b1f\n    type: title\n    task:\n      id: 3e5b6314-b03b-4fb0-82da-4a5990ef9b1f\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -150,\n          \"y\": 1690\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: de59d3d7-4a62-445e-8a1c-8a2bb052435b\n    type: condition\n    task:\n      id: de59d3d7-4a62-445e-8a1c-8a2bb052435b\n      version: -1\n      name: Was a comment provided in the input\n      description: Checks if the comment was provided in the input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"9\"\n      \"yes\":\n      - \"19\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.CommentToAdd\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -860,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 9f2c3b0e-0b6c-45ba-8b92-89c13644a4e4\n    type: collection\n    task:\n      id: 9f2c3b0e-0b6c-45ba-8b92-89c13644a4e4\n      version: -1\n      name: Add a comment to the ticket\n      description: Data collection task to add a comment to the ticket.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1080,\n          \"y\": 1330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Add comment to the ticket\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: what is the comment for the ticket?\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: d3c1b2c3-5732-457b-8c1e-fe3c8d43c328\n    type: condition\n    task:\n      id: d3c1b2c3-5732-457b-8c1e-fe3c8d43c328\n      version: -1\n      name: Whether to append a new comment to the ticket for each alert?\n      description: Checks if a new comment should be appended to the ticket for each alert.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"7\"\n      \"yes\":\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.addCommentPerEndpoint\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -620,\n          \"y\": 930\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: 948539a3-e390-420e-8598-14318f04190a\n    type: condition\n    task:\n      id: 948539a3-e390-420e-8598-14318f04190a\n      version: -1\n      name: Are the required details for opening a ticket been provided?\n      description: Checks if the required details for opening a ticket were provided.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"17\"\n      \"yes\":\n      - \"18\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.description\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.serviceNowCategory\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.serviceNowImpact\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.serviceNowUrgency\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: 'inputs.serviceNowSeverity '\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.serviceNowTicketType\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.serviceNowShortDescription\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 270,\n          \"y\": 940\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"17\":\n    id: \"17\"\n    taskid: 552d1452-ce53-44af-81fd-20997fac7cde\n    type: collection\n    task:\n      id: 552d1452-ce53-44af-81fd-20997fac7cde\n      version: -1\n      name: Provide details for opening a ticket.\n      description: Data collection task to provide details for opening a ticket.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 1120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket description\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Description of the ticket.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Category\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The category of the ServiceNow Ticket.\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Impact\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The impact for the new ticket. Leave empty for ServiceNow default impact.\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Urgency\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The urgency of the new ticket. Leave empty for ServiceNow default urgency.\n        readonly: false\n      - id: \"4\"\n        label: \"\"\n        labelarg:\n          simple: 'Enter ticket Severity '\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The severity of the new ticket. Leave empty for ServiceNow default severity.\n        readonly: false\n      - id: \"5\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Type\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The ServiceNow ticket type. Options are \"incident\", \"problem\", \"change_request\", \"sc_request\", \"sc_task\", or \"sc_req_item\". Default is \"incident\".\n        readonly: false\n      - id: \"6\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Short Description\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: A short description of the ticket.\n        readonly: false\n      title: Please provide the following details to open a ticket.\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: c7f798b6-9753-49da-82c0-d87f18b7c6e1\n    type: regular\n    task:\n      id: c7f798b6-9753-49da-82c0-d87f18b7c6e1\n      version: -1\n      name: Create a ticket for the incident\n      description: Creates a new ServiceNow ticket.\n      script: '|||servicenow-create-ticket'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      assignment_group:\n        complex:\n          root: inputs.serviceNowAssignmentGroup\n      category:\n        complex:\n          root: inputs.serviceNowCategory\n      comments:\n        complex:\n          root: inputs.CommentToAdd\n      description:\n        complex:\n          root: inputs.description\n      impact:\n        complex:\n          root: inputs.serviceNowImpact\n      severity:\n        complex:\n          root: 'inputs.serviceNowSeverity '\n      short_description:\n        complex:\n          root: inputs.serviceNowShortDescription\n      ticket_type:\n        complex:\n          root: inputs.serviceNowTicketType\n      urgency:\n        complex:\n          root: inputs.serviceNowUrgency\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 60,\n          \"y\": 1120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: ffc7b31c-5567-4eb8-81f5-ba3b7c2dcbe6\n    type: regular\n    task:\n      id: ffc7b31c-5567-4eb8-81f5-ba3b7c2dcbe6\n      version: -1\n      name: Update the ticket for the incident\n      description: Updates the specified ticket.\n      script: '|||servicenow-update-ticket'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      comments:\n        complex:\n          root: inputs.CommentToAdd\n      id:\n        complex:\n          root: inputs.serviceNowTicketID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -650,\n          \"y\": 1330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_7_#default#\": 0.12,\n      \"1_7_#default#\": 0.15\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1355,\n        \"width\": 1940,\n        \"x\": -1080,\n        \"y\": 400\n      }\n    }\n  }\ninputs:\n- key: serviceNowTicketID\n  value: {}\n  required: false\n  description: The ticket ID.\n  playbookInputQuery:\n- key: serviceNowCategory\n  value: {}\n  required: false\n  description: The category of the ServiceNow ticket.\n  playbookInputQuery:\n- key: description\n  value: {}\n  required: false\n  description: Description of the ticket.\n  playbookInputQuery:\n- key: serviceNowImpact\n  value: {}\n  required: false\n  description: The impact for the new ticket. Leave empty for ServiceNow default impact.\n  playbookInputQuery:\n- key: serviceNowUrgency\n  value: {}\n  required: false\n  description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.\n  playbookInputQuery:\n- key: 'serviceNowSeverity '\n  value: {}\n  required: false\n  description: The severity of the new ticket. Leave empty for ServiceNow default severity.\n  playbookInputQuery:\n- key: CommentToAdd\n  value: {}\n  required: false\n  description: Comment for the ticket.\n  playbookInputQuery:\n- key: serviceNowTicketType\n  value: {}\n  required: false\n  description: The ServiceNow ticket type. Options are \"incident\", \"problem\", \"change_request\", \"sc_request\", \"sc_task\", or \"sc_req_item\". Default is \"incident\".\n  playbookInputQuery:\n- key: addCommentPerEndpoint\n  value:\n    simple: \"True\"\n  required: false\n  description: 'Whether to add a new comment to the ticket for each endpoint in the incident. Possible values: True/False.'\n  playbookInputQuery:\n- key: serviceNowShortDescription\n  value: {}\n  required: false\n  description: A short description of the ticket.\n  playbookInputQuery:\n- key: Action\n  value: {}\n  required: false\n  description: 'Whether to open a new ticket or to add a new comment. Possible values: NewTicket/AddComment.'\n  playbookInputQuery:\n- key: serviceNowAssignmentGroup\n  value: {}\n  required: false\n  description: The group to which to assign the new ticket.\n  playbookInputQuery:\noutputs:\n- contextPath: ServiceNow.Ticket.ID\n  description: ServiceNow Ticket ID.\ntests:\n- No tests (auto formatted)\nmarketplaces:\n- xsoar\n- marketplacev2\n- platform\nfromversion: 6.8.0\nsupportedModules:\n- agentix\n- xsiam\n- edr\n- cloud\n- cloud_runtime_security\n",
  "product": "Cortex XSOAR",
  "pack": "ServiceNow",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "case-management",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "4tovPXGOyzvqJtO8QDNJO0g6bT3UU+o8QgrVPIzbkjxHagC9IxYwvAqigbz6Yso96v2NPRn0qrt8RA+7r7kAvaLPJ71VlDA8vyOKvZIDZbwiuE293OtZu+E2yrx7y0g9mJjKu+6ri70hIYc8rz0OPb72Mb1xvY47Xj7LvOuUTD0uLB8963gzPGmsRr0sZcO5XEqMvGMjhbv71JS8eE9AO4JvTr2A3ae6lcjSvFQxAj266Sg8T1jyvGq/Jr3ciwM97gKZvZ+UmzqQcJM90ArXvCKdTb1TRvy7KI95vBoklLxzDLK7yjkpvD/lOTg/Cyy97H0OPPbVbbyFwpA8jBqYPfU7yT3VhKw82qO9u96kBr1vaWa9aHJLPZo1iL3/tEU9kBqNvY7Gx7x5q4A92tS1vN1sb73e/Ro9mtEZPUmuhj1fxA88aOYDvBlAYz2rUl68LkiavIXhiLzou0Y8A6NRvfcdXryK6oI8iIJzPfQt6rxbzRy9EOuPPVp/rj3881G8pa6GvRkg/70xhCM96gzdPPAOejy70Yg8+cv7OpnS9rtrNrU8Gu7nuy4wHrx/B0i943CzvSh79LcmyG07F3KhvKv2xTy6sVI9yKN6vSpflD2tVLG6NrsVPYzJmLtxg469p8wSPTnYNj3zcnU8h1p4PWDaoz2mqsk9L2E1O+bPD73yINS8piNvOrrrBzz7YNm85WbavKyeU726E6+8vKgQvfb3eD1LdUe70yp7PKTuiDu3JhA947A3PM9Hv73j1LE7PGuuPEgR+Lz9Yg09BlKJPUzaZrwj3He9Qz+APOnFlbxs35u8aOyuvE5r17xaNcW8yn2WPCmvUr1a+Uy8FbIJvZX6XjxbvB29j7IivOoOALwzTAS95ZbOu5czPr2H3Ac9Md2kvQV2ozzs0hm93XjUu4VhEbzgUZ+70A20vFEqtTy2+ys8hoBtu+6ONz0bERK9cOwqPZZZDDwPTxw8KwQxvYQAgj0WdQw8SZNqvIMebz3zrGc8sX5cPHJl6DmO8rq7x4n4vPmfIT3psV69Umy4uqrGLj29J4I7PnjTvM0Dxjv5v5k9IxKGPRB1Rr3q6Ju90odFvXcqp7wz9zS9Oj6Jvcpz4bqfujG9SabYuiVxED2hkbq643gmvOFNebvrb6485VPlPMnaFz2CLcU9u7SFOlQpnjwohRg8oMfMO4tZl7tfIfe6t93vO2wxNL1rCdU8b9g/vasCq70tvKI8uRIaPUSJ27wRPpK8UZq3utKfVz0zUqw9gWBdvet0EL05IAs6p3HxvMnrXz3EWBS8b9jQPBojKj0lDpg6/wHHupaHDjwiJHE7IIOhvfxvlDz3XzO7FL/tPNcVOb1S2g692v3YOqqbuDxOorS8eP+GPP6aFLyALS89OJZSuU2xk7yNvz29zgstu6fyvr3bpxG8ZyfCuuW9gDwwbDC72Nb9PJs6ojwrP0u9rXEIvf+p3LzMiBa9uESCveQDYD0kwZ+96QjFvESIPr0Glty8pKNIPA1mBL0IDU27Fx7xu4p8I70870O9qz4ovTyLTjxs2lg9+rlJPNqxmryI3pK9Dyw9PcZZejxRcQs9ZzWOPe/KDD0DyQy6onONPYzUeT2VxrG8P/sYPSTLML0psqw8cb24PFHJHjyMpIM8BzCovLD8DD2ypiW8vr2VvBsJ3LwoG+q8pNjCvGIyz73Pva+8ROUFvC3xmDw7v6E8htu0PGI6CjxFS5099twpvb7GYLy57wY7YGeGvcWRPLxDPQ+7e5ZlPH4q+zy2dU48sCj5unQWCLwANDs917yhvS8C2jsbiDQ9QCsKvQt+RzqHW4I5RFOePIAwG7z9CHG7qxZMPOsFjjszkzg7fEqXPSaOCD3tlKw85pCSOyBtpLxLrF49Pdx1Pfcn/js6jQw8u4W5u5KOG7wPMp68NeKDPK3xMT23XKO6IlWoPCKYi7xBsou8IYqDPGhHvjwRWtc840gNvSMEoLx7reW8binpu62k/7yERU49tGpwvRwxB738Dec7RufzPL2V4Ly+OTu8HaEVPHsj/rwyE488Tacpu5fplz2Kyz69lahBPasbT7yCcd+8oUQZvXfmxD1gdy89K/SNPWn7G730YQa8pKACvZ8hgT0EWJE8ZpAHvT53fzx+7ia9USZ8PCK8NL3sNhQ9RSUOPRmp1zynKHw87yCru8g5WTyQWQ49r9BuvP/wbzw7HyA9dRumO7nxKT09vo48B732PJEZDj1Phrg8wBVBPD12Ej1Ntoi8CXcsPBUrhbwdt6u9wVOxvGatpjx9W688nncPPAOP9zs222g9pbRuvBcND7zRPD+7HlBOvKSuBroqDPq8hDfwu9IfxzyBljg6udKoPPPCXz1wSko9xmexvFe25TmDiw2803hZPcK5Cz1DewC7JOdGvbYkpTvWHGK872OHvMw/pb2ZMVU9dAbbucNC8Dx13Um9IDxqu/CCiL34Hlg719xLPYSvj7wuiZ+8STpAvcRzGL2V+SI9IwCYvK9IFD1XO9w7Eor4ukf8Gj3etqo8GuhivfQ8XTzxpyQ9jBEPPJwec72VuMs8OYSTvYQfzjsQuag5RE02PZxJ/TwYli690mAXvV8S9DyW+728PsJuvX1Nhr2/qBi7ufPuvPzFlbxbyZC8EclgvTdNyTxTqiS8XtSrO1VZfT3kdZc9l0ErPfPyPTxAn9C8ScvTvGvRITxfGY+8tLixvMtFRjzZN1E976xfPSH/Jb3uDYM8UH6KOZ68Qbzo+bW7+FP7ugIOIb3j0n090JFGPQ+zf723shY9yRO5PHE/zDqfnBS9h26KOx1a47oq8Qy85aUaO1bRAL1SVcs51UV4PYpWA7zvvkA8oQfcPEXqrjyPqTU9njUhPToyLT0mjg09ddg2PRKIkj0uE1A9ggagPHquEj1BNVM8GE6wvFoClzy7dXi8iBdoPV/MAb1UW5G868MNvMiDSDuiBhu7IH18vc9QaztuyG28fja0PIewYzkYDjg98q8rO3/ETr2+icW8kz9kOw7IPjtF3D69l3JSOxdntDz9Dc+8s/juu6Vq2DzB5KM8ByyKNkegKLyoFQs818eHvA0RNTzdLTi9FxBiPDsanbwi/PA8+TryPEgdALzvwlO72DggvbKH/LwOoUk5M07NvNG+9DwLvJe8oS9nvVp2VD3TdA69Af3pPEGshbwajeq8tKVPutpQ7jwl4pe8jolPvOvGnr3pgXg9AC+YPOdsvbwkmdK84po3vSv8lr2zabm7TznNOyRaP7w9mEU91+oavTvauLwobxO9m6JsPJ3cTr25BIm80EyTvJpPZzxptEw9SGznPHkrDj2A/ua8AmoAPeVP1jw7DTm9kZ2YvDs1lz1tm9u6XoJ6vNQ3hTzeBoo8CWB4vO3KirtTRwq94I0dvM+8rDxA7t885ZU5veOajLzlVRm9hBZ/PZyGo7wW5KC9LMSUvPRL9jwH9mC9Ht2bvNJvvjzozJs7yiFRPf319ry2nPw8CN4EvfgbBTwTdta82sU+O+fQ3jvx6FC9jFRZPSsBg7xbr1i9O0EcPP7or72Ef8c7abaSvVwAA713Yb08W+1/PF4PBL16/MY8VaXnPLLYgD0c/8s8xSMQvBnpQzsHnCM98FQ0PI18xrz1HAM8po/Yu5FhHD1QATW8+O0XvH7scTxs7qs89CxIvQulNLykPzG7Dq3GPCxf9jy7TYg7YDsPPaK+W7yYDjE9WiGmOiWUMDzhexq9SBaRvBa75DziuHa85HV7vTz+Gbsp65A8Ob5SPCwzVz1uNFM9nVbMvQB7ajxnZWe95qKZPOrGRz299ay85EkPvSVKkLxEVyE8tQSTullyjbsnfUm9KvgvPY6/47wAv6A8+8ytPTJ3iTw2wI28cq0XPMVZ7ryg1SW96/YyPOmPBD0Fqm88b6GVvIkRYDz1hE06Pz4UvcwANr3Eh548r2cCvcPNSL1XxPg4FEgkvdbSY737pYa9j0csvbGUoj14rxY8tPgNPbGHrDxTWby8CP9xvUIVUjzls4882iW7O1fwMTye1ja9NL/AvFiYB70yi3o9/HebPP8kCLwgDoE9o30pvfkrWruhZUy8frRTOu4DTz2mBvI7"
}
