bundles/spark/kbs/soar-playbooks/entries/pb-tim-processing-tim-indicator-auto-processing.json
{
  "id": "pb-tim-processing-tim-indicator-auto-processing",
  "title": "TIM - Indicator Auto Processing",
  "category": "playbook",
  "content": "This playbook uses several sub playbooks to process and tag indicators, which is used to identify indicators that shouldn't be added to block list. For example IP indicators that belong to business partners or important hashes we wish to not process. Additional sub playbooks can be added for improving the business logic and tagging according to the user's needs. This playbook doesn't have its own indicator query as it processes indicators provided by the parent playbook query. To enable the playbook, provide the relevant list names in the sub playbook indicators, such as the ApprovedHashList, OrganizationsExternalIPListName, BusinessPartnersIPListName, etc. Also be sure to append the results of additional sub playbooks to Set indicators to Process Indicators for the additional playbooks results to be in the outputs.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (TIM_Processing, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nOutputs — ProcessedIndicators: The outputs of this playbook are tagged for manual review in the parent playbook or tagged using approved_block, approved_allow etc..\n\nIntegrations/scripts used: SetAndHandleEmpty.",
  "raw_yaml": "id: TIM - Indicator Auto Processing\nversion: -1\nfromversion: 5.5.0\nname: TIM - Indicator Auto Processing\ndescription: This playbook uses several sub playbooks to process and tag indicators,\n  which is used to identify indicators that shouldn't be added to block list. For example\n  IP indicators that belong to business partners or important hashes we wish to not\n  process. Additional sub playbooks can be added for improving the business logic\n  and tagging according to the user's needs. This playbook doesn't have its own indicator\n  query as it processes indicators provided by the parent playbook query. To enable\n  the playbook, provide the relevant list names in the sub playbook indicators, such\n  as the ApprovedHashList, OrganizationsExternalIPListName, BusinessPartnersIPListName,\n  etc. Also be sure to append the results of additional sub playbooks to Set indicators\n  to Process Indicators for the additional playbooks results to be in the outputs.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 7617feb8-2a04-47ff-8b2b-7169a852b058\n    type: start\n    task:\n      id: 7617feb8-2a04-47ff-8b2b-7169a852b058\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"2\"\n      - \"5\"\n      - \"15\"\n      - \"17\"\n      - \"19\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -210,\n          \"y\": -20\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: 8a048986-d4da-4ccf-8c4f-f9c79e5a222f\n    type: condition\n    task:\n      id: 8a048986-d4da-4ccf-8c4f-f9c79e5a222f\n      version: -1\n      name: Are there IP results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"23\"\n      - \"24\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: IP\n    view: |-\n      {\n        \"position\": {\n          \"x\": 80,\n          \"y\": 180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"5\":\n    id: \"5\"\n    taskid: 99ee2da8-20fb-41e2-8465-024ecc06c106\n    type: condition\n    task:\n      id: 99ee2da8-20fb-41e2-8465-024ecc06c106\n      version: -1\n      name: Are there Hash results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"7\"\n      - \"22\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: File\n    view: |-\n      {\n        \"position\": {\n          \"x\": -490,\n          \"y\": 180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"7\":\n    id: \"7\"\n    taskid: 80bac8f9-7dcf-4063-8279-9a71f56eeccd\n    type: playbook\n    task:\n      id: 80bac8f9-7dcf-4063-8279-9a71f56eeccd\n      version: -1\n      name: TIM - Process File Indicators With File Hash Type\n      description: This playbook processes file indicator by tagging them with the\n        relevant file hash type tag, such as Sha256, Sha1, and Md5.\n      playbookName: TIM - Process File Indicators With File Hash Type\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"14\"\n    separatecontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1170,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"11\":\n    id: \"11\"\n    taskid: cd2550c2-8cbf-40f8-84be-b6413d141b8f\n    type: title\n    task:\n      id: cd2550c2-8cbf-40f8-84be-b6413d141b8f\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -200,\n          \"y\": 870\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"14\":\n    id: \"14\"\n    taskid: 42b30d7c-78dd-4e29-8f21-446bfce62529\n    type: regular\n    task:\n      id: 42b30d7c-78dd-4e29-8f21-446bfce62529\n      version: -1\n      name: Set indicators to Processed Indicators\n      description: Checks if the specified value exists in context. If the value exists,\n        it is set in context, otherwise no value is set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ProcessedIndicators\n      stringify: {}\n      value:\n        complex:\n          root: HashesNotInApprovedList\n          transformers:\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: NotBusinessPartnerDomain\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: NotBusinessPartnerUrl\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: DomainsNotApproved\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: DomainsNotResolvedByWhois\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: DomainsNotProcessed\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: NewDomains\n                iscontext: true\n          - operator: append\n            args:\n              item:\n                value:\n                  simple: NotNewDomains\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -930,\n          \"y\": 680\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"15\":\n    id: \"15\"\n    taskid: 19658e25-4f82-4db3-8b5f-66289d8b97de\n    type: condition\n    task:\n      id: 19658e25-4f82-4db3-8b5f-66289d8b97de\n      version: -1\n      name: Are there domain results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"25\"\n      - \"28\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: Domain\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2660,\n          \"y\": 180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"17\":\n    id: \"17\"\n    taskid: f34fe6be-28be-4633-8e02-eefb47963a50\n    type: condition\n    task:\n      id: f34fe6be-28be-4633-8e02-eefb47963a50\n      version: -1\n      name: Are there url results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: URL\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1630,\n          \"y\": 180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"19\":\n    id: \"19\"\n    taskid: 53d0e3bc-f850-46a9-8abf-1ce5fbe43d36\n    type: condition\n    task:\n      id: 53d0e3bc-f850-46a9-8abf-1ce5fbe43d36\n      version: -1\n      name: Are there CIDR results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"11\"\n      \"yes\":\n      - \"20\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: CIDR\n        - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: IPv6CIDR\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1890,\n          \"y\": 180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"20\":\n    id: \"20\"\n    taskid: ea3117c5-b2c3-4183-895e-298b29f36e1a\n    type: playbook\n    task:\n      id: ea3117c5-b2c3-4183-895e-298b29f36e1a\n      version: -1\n      name: TIM - Process CIDR Indicators By Size\n      description: This playbook processes CIDR indicators of both IPV4 and IPV6.\n        By specifying in the inputs the maximum number of hosts allowed per CIDR,\n        the playbook tags any CIDR that exceeds the number as pending_review. If the\n        maximum CIDR size is not specified in the inputs, the playbook does not run.\n      playbookName: TIM - Process CIDR Indicators By Size\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      MaximumCIDRSizeToApprovce: {}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1250,\n          \"y\": 630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"21\":\n    id: \"21\"\n    taskid: 96a8c7a9-e2e7-4e97-8555-39d842269c8a\n    type: playbook\n    task:\n      id: 96a8c7a9-e2e7-4e97-8555-39d842269c8a\n      version: -1\n      name: TIM - Process Indicators Against Business Partners URL List\n      description: This playbook processes indicators to check if they exist in a\n        Cortex XSOAR list containing business partner urls, and tags the indicators\n        accordingly. To enable the playbook, provide a Cortex XSOAR list name containing\n        business partner urls.\n      playbookName: TIM - Process Indicators Against Business Partners URL List\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"14\"\n    scriptarguments:\n      BusinessPartnersUrlListName: {}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1780,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"22\":\n    id: \"22\"\n    taskid: ce07cf89-c81f-4c99-853c-c66551949f27\n    type: playbook\n    task:\n      id: ce07cf89-c81f-4c99-853c-c66551949f27\n      version: -1\n      name: TIM - Process Indicators Against Approved Hash List\n      description: This playbook checks if file hash indicators exist in a Cortex\n        XSOAR list. If the indicators exist in the list, they are tagged as approved_hash.\n      playbookName: TIM - Process Indicators Against Approved Hash List\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"14\"\n    separatecontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -700,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"23\":\n    id: \"23\"\n    taskid: d6985b52-6b88-45ad-8be4-4d581bae290e\n    type: playbook\n    task:\n      id: d6985b52-6b88-45ad-8be4-4d581bae290e\n      version: -1\n      name: TIM - Process Indicators Against Organizations External IP List\n      description: This playbook processes indicators to check if they exist in a\n        Cortex XSOAR list containing the organizational External IP addresses, and\n        tags the indicators accordingly.\n      playbookName: TIM - Process Indicators Against Organizations External IP List\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"26\"\n    scriptarguments:\n      OrganizationsExternalIPListName: {}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 350,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"24\":\n    id: \"24\"\n    taskid: 504ccb2f-3423-4738-8f29-677c632137b6\n    type: playbook\n    task:\n      id: 504ccb2f-3423-4738-8f29-677c632137b6\n      version: -1\n      name: TIM - Process Indicators Against Business Partners IP List\n      description: This playbook processes indicators to check if they exist in a\n        Cortex XSOAR list containing business partner IP addresses, and tags the indicators\n        accordingly.\n      playbookName: TIM - Process Indicators Against Business Partners IP List\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      BusinessPartnersIPListName: {}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"25\":\n    id: \"25\"\n    taskid: e929cc6d-64f2-4a38-8f35-9aca71c62e21\n    type: playbook\n    task:\n      id: e929cc6d-64f2-4a38-8f35-9aca71c62e21\n      version: -1\n      name: TIM - Process Indicators Against Business Partners Domains List\n      description: This playbook processes indicators to check if they exist in a\n        Cortex XSOAR list containing the business partner domains, and tags the indicators\n        accordingly.\n      playbookName: TIM - Process Indicators Against Business Partners Domains List\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"14\"\n    scriptarguments:\n      BusinessPartnersDomainsListName: {}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2210,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"26\":\n    id: \"26\"\n    taskid: 43d47eeb-86d3-4409-8a9b-cfab6bf8b47c\n    type: regular\n    task:\n      id: 43d47eeb-86d3-4409-8a9b-cfab6bf8b47c\n      version: -1\n      name: Set indicators to Processed Indicators\n      description: Checks if the specified value exists in context. If the value exists,\n        it is set in context, otherwise no value is set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ProcessedIndicators\n      stringify: {}\n      value:\n        complex:\n          root: NotOrganizationExternalIP\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: NotOrganizationExternalIP\n                iscontext: true\n              right:\n                value:\n                  simple: BusinessPartnerIP\n                iscontext: true\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 350,\n          \"y\": 630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"27\":\n    id: \"27\"\n    taskid: 6f122ad1-ded4-4cf2-8f98-ebb450fe3fc0\n    type: regular\n    task:\n      id: 6f122ad1-ded4-4cf2-8f98-ebb450fe3fc0\n      version: -1\n      name: Set indicators to Processed Indicators\n      description: Checks if the specified value exists in context. If the value exists,\n        it is set in context, otherwise no value is set in context.\n      scriptName: SetAndHandleEmpty\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: ProcessedIndicators\n      stringify: {}\n      value:\n        complex:\n          root: NotBusinessPartnerIP\n          filters:\n          - - operator: notInList\n              left:\n                value:\n                  simple: NotBusinessPartnerIP\n                iscontext: true\n              right:\n                value:\n                  simple: OrganizationExternalIP\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"28\":\n    id: \"28\"\n    taskid: 3d8f8743-3487-475f-8c37-3efb34fca990\n    type: playbook\n    task:\n      id: 3d8f8743-3487-475f-8c37-3efb34fca990\n      version: -1\n      name: TIM - Process Domains With Whois\n      description: This playbook uses several sub playbooks to process and tag indicators\n        based on the results of the Whois tool.\n      playbookName: TIM - Process Domains With Whois\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"14\"\n    scriptarguments:\n      CheckForWhoisDomainAgeCreation:\n        simple: \"True\"\n      CheckForWhoisRegistrant:\n        simple: \"True\"\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -2740,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 955,\n        \"width\": 5010,\n        \"x\": -2740,\n        \"y\": -20\n      }\n    }\n  }\ninputs: []\noutputs:\n- contextPath: ProcessedIndicators\n  description: The outputs of this playbook are tagged for manual review in the parent\n    playbook or tagged using approved_block, approved_allow etc.\n  type: string\nquiet: true\nmarketplaces:\n- xsoar\ntests:\n- No test\n",
  "product": "Cortex XSOAR",
  "pack": "TIM_Processing",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "5.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "ERESPU4487wZWJ+9HHa5POvjmD02dnU8xI1sPX5nyTx6j9Y7fq50vG4cGL0J+r09V5kqPfCfAzzZY4g8BteIvWwlIz2cGoQ9t0R/vFezSbxt+RC97hTZvDpjHby87Ii75J1jPJnFir2rN2Y85lvSu/7DQ73RKBE9pZu5u54k1jvWKQs8wTY8vDMJTL0hKJ28qNokvfdfLDz2fPu7XYPxuyaYa70Ia307avfIvOgxBT3dV/u7jplDvWse27w8WQU9bjN0vV6vSj38BIQ9k9YDPGHlaL3mCpY8Ps6IvIEZZb1ToH+7sjNzveEmOrw+s9M7IBiKu0MiHb0/3zw5jD9VPMKRVT1pB2s8jKoWPOwtgTwd42a9A4FuPWU6XL1Bfmk9gbgJvec6UbxrznY67Yzzu4Fu7TuOsjq8dfziueZmGT0GscS7HfqIO4dCOD0dW2k8qebEvP/jXbzOBfA7Rj6xvQfhCbw3wxc9ILEGPnUiqbyqLRO87SzEPeGTvj37gAw8AM9XvSxS4r1EZHE9XPHbPCioE7qwkoe8v5zAOxQKiLubyjE8HQUQPXyYR7uoTk+9RDycvVF75rwNiT67PlNNO/vy/TtgJwE9mvQ4vDC/AT3vviQ8zOUVPZkXV7xfayu98HYmu97Bhj0oNMk8icWePA+RZT2eZo09GYY2vYwuULxtrp+88E8ZPCO86bupKrG7m4aPPGv43bx6jIi8SvFsvHLjzrv8Kni8H3uaPPFutzzlmAS8GegSPJaqqr1By7s8zp5GPfaQcbzwIaQ9k+u9PTQ1G70nFqm78X4pOs/X7ryCtaS951jhPCu1Nb3Zehq8emeLvK8qur0+uqk8G62OvfjXLLvceCe8gBDOvAHfNz3Ucgi9lX42vdwpLLx28ga8JZM1vdYhBD2Z/wm86oUHvdW1Lr0+jbI7KQi2OJgvzDuf35g8nhDbvJwuCr150Ju8A/BXPaWtPD3KHQu7Xs/wvdFE/DyqCPc8KCkzvMMNqzsQtUw8bI3Dumy+KzxizXW7S9TXPEX4KD32z5S9t8oHvTos+jwUfzg9jTGWvFiX1DtbwLQ9OtGAuyZ3i7t8f7W9ln6MvQN4rbyEHSS9AShVvdgVNLupYCu9lSG/PMWzOT00PJK8fnPrvNgvjjzel748Qex/O59XSj1DCbM9zPUovPmvmzzu5367lPIZvA2aPLuGv5G8UwHvPJwASL0dupY96LyxvB6Vjb3tVak7iuopPVVl6by6nl87hAIoPOgLLDjy0WU9SuKNO+jnybzPWIC77Nc4vPD1ET2ZSak8EkQKvD3MVj3GIyu9424fPJw2BL3jCIU88wNIvQaiSbxOpc87sbLsPHPUq7p4JcC8/kA0PGBmRTz+2o69JrABPFuVsby0XhA9hpAfvbazDLwD1lC9NcKuO4oNkL24G/w6qnc4PE1k/jySFgA9lLGQPMIIETtTPJK8vyW9OrPoYL14W1g7sqAbveIv2zwxTk296H/NvQB9hzrNPq68ZlTYu4xf6bwSGD66wSuCvaZdDLyN5wu9GUo0vXQ3gLxDSBo99RomPQVnnrxUby+9QEgMPZuN2DxlvRQ9DO2/PatGgb1V2r87eWC3PAxwPj0teBS8OPNbPPwfB7slpi48oMMDPV5jozsHuLm8sOScPGXmlTx7OmO8AP8LvHSUmjySUT07SrxHPL2q1L0K6TM8Cc+TvMbpB7wDZRs8O3obPFCPGr2GVdE89SZIvQkGcLuotya8P9ALvUNKDruDn6K935WNPDwLWTwx9wu949MHvdc5SLw8qjU94j1mvasqiTzR5YQ9gnqAPHF0nLwg9hU7HYsOPeQoPbxl3gO9R53QvICTbzyydWS463OYPW9GVT2lLgg9++zOPK4Mwry10BI91Rr3PE7tsbxrqmy8g/a7vLxI27zxzQ87QWU/u3kwJz1B8vY5JAhLPVK37LxslRO9dJRBPaeVHT0WYmq7zRIzvX7w47yxCki9Q+zIPNvubLygFGw9A8yYvdaqA709Sq27Qilyu9V1R72iPR29M4l/ussN0by36eM8btIcPfd7lz3KD0a99UVWvObGajwxdQS9kuVAvU3Ozj2vM8Q8npS5PQJvZ71Z6tm74CPIvNJdoz3bW6U8mpESvWMUB7tf/YC8zxJ2PeJBJb3keJQ81T3UO8Gd/TzVeGE872JcvfURkjxPoPy7oMY4vA8mg7wzVq88t4R9vNfcRz1Qoik91Xewu1uwvTv3+As9G6UivDUCobz9wSO93isHu8jVfbx4Xmu9DfzivPTu67sh0eM7vHaIvINou7tzZAM9QHZkuydZMjyTenQ5K2hXPC2zmzzHzry8ycLWO1yyNj0yyxw9/zLAOx1qCz2mLAw9G4sUvNoYAztzziW8sdmSPKqS/TxkaYg6R/sovcPvurxqzm29U322vCBkxb2UIKc8MdA+PHMa1LxrR5k7zi+JvGvaJ72jdiM9VKl6PQKXdbwMIG+8XqK9vOfEQTyq+7A93kIHu2dVDj1Encg8jLlqPX1aPDoQdic9P2amvSd8sDzBWbM8x4AvvJ95XTwqTYG8M8zZvAVnEL0LQyO8dm/DPDGsAD29f3i9XTgovZYUyryQmpU8V0OBvLtaDL3vSFq86tuDvYZn07wZZxK9NnGGvUsQIz0iFYe8vK4xvWB+Xz1yuIw9lkXvO1poSLwyk7K8fzeru9JxqjtvZhi9q8YHPDqmu7uaaKE9Fa6CPfK5+7uQbs08GCMMvb8oSL1HcXm8DcG7vBjdRzslf8s763IFPfvG27y3EZG7xOZiPOZCurkwuDy9NfOFvCQAv7z/I6o5yeABvSb1OL3r0N68suGJPYlVsbsbpwU9+HGAu5qlkTxlzXc9bMjYOwIWuT0X3p28K9JsPPpOojyTF3w9UhiJO1hOOzy2Z+48zlzQPLs0Kj3lAmu7q4lsPdgMR73INDC8JEdBupOPYDzXaJE8cxdnvWthPjykox69vn86PFPW0rwfeew8D7gPvcwtN7vpj128WxujvHMiH7y91yu9BU5KPcoWWDw4xfs75obaOmIDsTxcNnG8vLSBvNnKsryHFA27A/W7vEx1uDxaC4q8NK63vHvT6TznkJC8EhxkPQC0QbvypfS8LX6hPI7A2ryYXaY8jsyVvS3XPL2sSTG9C9UvvOgEMD17wA+9fAR7O25EnjxdgIu9OIpWPbuxvTzGWIe8F1+oPGXpEr1oeoA9YUF/vGDnPr0CfFe9MmN6vLRWSb2TBpo855PvPIxPmrvNByQ9NTeiu/2dP70MG1K9Ca8KPVqWLb0/Uxq9zJdcuP/R5TzD9J88jO6OOkZ14Dvxs4u8nUR3PAcnN70LHUq9w4nCvP2v9DyASF88YfT9u9wLjDwD42I9MTWNvORaBL0WHvi7JsmJPbAbtjypT7C6ViOivA9VDT33IkO8Zza9PVmrLjzKPs+9819dOw9yET0JPWS9fNcjvS0lhDwYBOY5s4ACPQIae70fESM9uPVevQcHmrxh9hw8Bs8Mva36wTztKvG8K1ghPXcwOr1VUJu9NUUdPD+rI73Nkc08KH0HvQVqL71/8hs96JJnvJN/+LxJ4Ko7oUnwPH6JLT2ngog7Qx/4vN8T3ztHhrg98BeovG80mDtYf6C7b+xtvLz9Tj0O1GG9M8DUvD8niDy56LY8/5UUvdPoY70CgoQ78qsFPbxj7DxgtPA7nUsHvG6XQTykYsG6m4n0vBhfKLxMoEK8OIgcvMRzMz2zOaS61vhlvHofM7zY9H88RLaFu+rMpLzntUc9PbYBvj1cxbwgb/C8x/33PIPsLj15U9Q5muxtupQCMrszq/o8A7oZPe36LjyIRcm8MnjYPF/UR71wHQ88CE0HPbGDGrwgy886tlj+vCEhiruU1w69G9iOvBVLiDwuHhg9eeWjvEzMYrtHxog8DwOavLdNjrzp2/W76PnCvActxrmV6CM8/XNivRfVdL0gOMM73l+MvKWPBT2IEiI9Pjq2PENcRz1R6hi934j3vNgZaLwnrTM77gdlPT/BAr2LfRy95foKvZKtm7ydPRU9GygvvPwjuLzPeEU9lfIZva1OtTuJICu99K35vE8ZUj2zI1s7"
}
