bundles/spark/kbs/soar-playbooks/entries/pb-tim-processing-tim-indicators-exclusion-by-related-incidents.json
{
  "id": "pb-tim-processing-tim-indicators-exclusion-by-related-incidents",
  "title": "TIM - Indicators Exclusion By Related Incidents",
  "category": "playbook",
  "content": "This playbooks allows you to exclude indicators according to the number of incidents the indicator is related to. The indicator query is \"investigationsCount:>=X\" where X is the number of related incidents to the indicator that you set. Excluded indicators are located in the Cortex XSOAR exclusion list and are removed from all of their related incidents and future ones. The purpose of excluding these indicators is to reduce the amount internal and common indicators appearing in many incidents and showing only relevant indicators. Creating exclusions can also accelerate performance.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (TIM_Processing, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — ActionToPerform: This input specifies which action the playbook performs on the provided indicators. Possible input values can be\n    AutoExclude\n    TagIndicators; TagValueForIndicators: This input specifies the tag value to apply to the indicators. An example value can be allowlist_review. This input should be used only if The ActionToPerform input value is TagIndicators.; OpenIncidentToReviewIndicatorsManually: This input determines if processed indicators that have the allowlist review tag are reviewed in a new incident. To create an incident, enter any value other than 'No'.; AutoExcludeReason: Provide the reason that will appear in the XSOAR exclusion.",
  "raw_yaml": "id: TIM - Indicators Exclusion By Related Incidents\nversion: -1\nfromversion: 6.0.0\nmarketplaces:\n- xsoar\nname: TIM - Indicators Exclusion By Related Incidents\ndescription: This playbooks allows you to exclude indicators according to the number of\n  incidents the indicator is related to. The indicator query is \"investigationsCount:>=X\"\n  where X is the number of related incidents to the indicator that you set. Excluded indicators are located in the Cortex\n  XSOAR exclusion list and are removed from all of their related incidents and future ones. The purpose of excluding these indicators is\n  to reduce the amount internal and common indicators appearing in many incidents and showing only relevant indicators.\n  Creating exclusions can also accelerate performance.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 73c05597-8f99-4aad-89bb-b7b7eefb9c0a\n    type: start\n    task:\n      id: 73c05597-8f99-4aad-89bb-b7b7eefb9c0a\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"3\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"1\":\n    id: \"1\"\n    taskid: 4525954c-5152-4069-864f-2ef2092cb066\n    type: condition\n    task:\n      id: 4525954c-5152-4069-864f-2ef2092cb066\n      version: -1\n      name: Was a valid input provided?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      Auto exclude:\n      - \"9\"\n      Create manual incident:\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: Auto exclude\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.ActionToPerform\n            iscontext: true\n          right:\n            value:\n              simple: AutoExclude\n    - label: Create manual incident\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.ActionToPerform\n            iscontext: true\n          right:\n            value:\n              simple: TagIndicators\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.TagValueForIndicators\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: eeb4f997-fec3-4236-8b11-823b9f2cb9ae\n    type: title\n    task:\n      id: eeb4f997-fec3-4236-8b11-823b9f2cb9ae\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 1100\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: 1d5b7b59-b477-4b17-82e8-8bb770180f4f\n    type: condition\n    task:\n      id: 1d5b7b59-b477-4b17-82e8-8bb770180f4f\n      version: -1\n      name: Are there query results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"1\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: playbookQuery.value\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 230\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"6\":\n    id: \"6\"\n    taskid: 3b2faf00-1df0-4dfd-8fc8-a7585ba16d97\n    type: regular\n    task:\n      id: 3b2faf00-1df0-4dfd-8fc8-a7585ba16d97\n      version: -1\n      name: Open manual incident\n      description: Create a new incident to manually review indicators for exclusion.\n      script: Builtin|||createNewIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      accountgroups: {}\n      accountid: {}\n      accountname: {}\n      activedirectoryaccountstatus: {}\n      activedirectorydisplayname: {}\n      activedirectorypasswordstatus: {}\n      affecteddata: {}\n      affecteddatatype: {}\n      affectedindividualscontactinformation: {}\n      agentid: {}\n      app: {}\n      approximatenumberofaffecteddatasubjects: {}\n      arcsighteventid: {}\n      assetid: {}\n      associatedmaliciousdomains: {}\n      attachmentcount: {}\n      attachmentextension: {}\n      attachmenthash: {}\n      attachmentid: {}\n      attachmentname: {}\n      attachmentsize: {}\n      attachmenttype: {}\n      attackerhostisolated: {}\n      attackeripblocked: {}\n      bgrid: {}\n      blockedaction: {}\n      bugtraq: {}\n      city: {}\n      clarotyalertresolved: {}\n      clarotyalerttype: {}\n      clarotycategory: {}\n      clarotynetworkid: {}\n      clarotyrelatedassets: {}\n      clarotyresourceid: {}\n      clarotysiteid: {}\n      code42alerttype: {}\n      code42fileevents: {}\n      commandline: {}\n      companyaddress: {}\n      companycity: {}\n      companycountry: {}\n      companyhasinsuranceforthebreach: {}\n      companyname: {}\n      companypostalcode: {}\n      companypropertystatus: {}\n      contactaddress: {}\n      contactname: {}\n      coordinates: {}\n      country: {}\n      countrywherebusinesshasitsmainestablishment: {}\n      countrywherethebreachtookplace: {}\n      criticalassets: {}\n      customFields: {}\n      cve: {}\n      cvss: {}\n      cymulateimmediatethreatsattackid: {}\n      cymulateimmediatethreatsfiletype: {}\n      cymulateimmediatethreatsid: {}\n      cymulateimmediatethreatsmitigations: {}\n      cymulateimmediatethreatsmodule: {}\n      cymulateimmediatethreatspayloadname: {}\n      cymulateimmediatethreatsstatus: {}\n      cymulateimmediatethreatsvector: {}\n      dataencryptionstatus: {}\n      datetimeofthebreach: {}\n      dbotprediction: {}\n      dbotpredictionprobability: {}\n      dbottextsuggestionhighlighted: {}\n      dest: {}\n      desthostname: {}\n      destinationip: {}\n      destinationports: {}\n      destntdomain: {}\n      destos: {}\n      details: {}\n      detectionendtime: {}\n      detectionid: {}\n      detectionticketed: {}\n      detectionupdatetime: {}\n      detectionurl: {}\n      devicegsuiteaccountstatus: {}\n      devicename: {}\n      dpoemailaddress: {}\n      duoaccountstatus: {}\n      duration: {}\n      emailaddress: {}\n      emailauthenticitycheck: {}\n      emailautoreply: {}\n      emailbcc: {}\n      emailbody: {}\n      emailbodyformat: {}\n      emailbodyhtml: {}\n      emailbodyv4: {}\n      emailcc: {}\n      emailclassification: {}\n      emailclientname: {}\n      emailfrom: {}\n      emailfromv4: {}\n      emailheaders: {}\n      emailhtml: {}\n      emailinreplyto: {}\n      emailkeywords: {}\n      emailmessageid: {}\n      emailreceived: {}\n      emailreplyto: {}\n      emailreturnpath: {}\n      emailsenderip: {}\n      emailsize: {}\n      emailsource: {}\n      emailsubject: {}\n      emailsubjectv4: {}\n      emailto: {}\n      emailtocount: {}\n      emailtov4: {}\n      emailurlclicked: {}\n      employeedisplayname: {}\n      employeeemail: {}\n      employeemanageremail: {}\n      entryIDs: {}\n      exfiltratedfiles: {}\n      expanseexposuretype: {}\n      expanserawjsonevent: {}\n      expanseseverity: {}\n      extrahopapplianceid: {}\n      extrahophostname: {}\n      filehash: {}\n      filehashblocked: {}\n      filename: {}\n      filepath: {}\n      filesize: {}\n      firstseen: {}\n      globaldirectoryvisibility: {}\n      googleaccountstatus: {}\n      googleadminrolesstatus: {}\n      googledisplayname: {}\n      googledrivestatus: {}\n      googlemailstatus: {}\n      googlepasswordstatus: {}\n      helloworldid: {}\n      helloworldstatus: {}\n      helloworldtype: {}\n      hostname: {}\n      illusionblackattackerid: {}\n      illusionblackattacktype: {}\n      illusionblackdecoyid: {}\n      illusionblackevents: {}\n      illusionblackthreatparse: {}\n      indenideviceid: {}\n      indeniissueid: {}\n      infectedhostnames: {}\n      infectedhosts: {}\n      investigationstage: {}\n      isolated: {}\n      isthedatasubjecttodpia: {}\n      itaygrid: {}\n      jokemultiselect: {}\n      jokeshorttextnottoexport: {}\n      labels: {}\n      lastmodifiedby: {}\n      lastmodifiedon: {}\n      lastseen: {}\n      likelyimpact: {}\n      loginattemptcount: {}\n      macaddress: {}\n      mailboxdelegation: {}\n      maliciousbehavior: {}\n      maliciouscauseifthecauseisamaliciousattack: {}\n      maliciousdomainsblocked: {}\n      malwarefamily: {}\n      manageremail: {}\n      measurestomitigate: {}\n      multi2: {}\n      name:\n        simple: Review Indicators Manually For Allowlisting\n      niststage: {}\n      numberofports: {}\n      numberofuniqueports: {}\n      occurred: {}\n      offboardingdate: {}\n      offboardingstage: {}\n      oktaaccountstatus: {}\n      owner: {}\n      parentprocessid: {}\n      participants: {}\n      passwordexpirationstatus: {}\n      phase: {}\n      phishingsubtype: {}\n      pid: {}\n      policydeleted: {}\n      policydescription: {}\n      policydetails: {}\n      policyid: {}\n      policyrecommendation: {}\n      policyremediable: {}\n      policyseverity: {}\n      policytype: {}\n      portsblocked: {}\n      possiblecauseofthebreach: {}\n      postalcode: {}\n      previouscoordinates: {}\n      previouscountry: {}\n      previoussignindatetime: {}\n      previoussourceip: {}\n      prismacloudcomputeactivitytype: {}\n      prismacloudcomputeappid: {}\n      prismacloudcomputecategory: {}\n      prismacloudcomputecollections: {}\n      prismacloudcomputecommand: {}\n      prismacloudcomputecontainer: {}\n      prismacloudcomputecredentialid: {}\n      prismacloudcomputedistribution: {}\n      prismacloudcomputeerror: {}\n      prismacloudcomputeforensic: {}\n      prismacloudcomputefqdn: {}\n      prismacloudcomputefunction: {}\n      prismacloudcomputehost: {}\n      prismacloudcomputeimage: {}\n      prismacloudcomputeinteractive: {}\n      prismacloudcomputekubernetesresource: {}\n      prismacloudcomputelabels: {}\n      prismacloudcomputeline: {}\n      prismacloudcomputelogfile: {}\n      prismacloudcomputemarkdown: {}\n      prismacloudcomputemessage: {}\n      prismacloudcomputeproject: {}\n      prismacloudcomputeprotected: {}\n      prismacloudcomputeprovider: {}\n      prismacloudcomputerawalertjson: {}\n      prismacloudcomputeregion: {}\n      prismacloudcomputeregistry: {}\n      prismacloudcomputerule: {}\n      prismacloudcomputeruntime: {}\n      prismacloudcomputeservice: {}\n      prismacloudcomputeservicetype: {}\n      prismacloudcomputetotal: {}\n      prismacloudcomputetype: {}\n      prismacloudcomputeuser: {}\n      prismacloudid: {}\n      prismacloudreason: {}\n      prismacloudrules: {}\n      prismacloudstatus: {}\n      prismacloudtime: {}\n      rating: {}\n      rawparticipants: {}\n      region: {}\n      regionid: {}\n      reporteremailaddress: {}\n      resourceapiname: {}\n      resourcecloudtype: {}\n      resourceid: {}\n      resourcename: {}\n      resourcetype: {}\n      riskrating: {}\n      riskscore: {}\n      roles: {}\n      rrn: {}\n      safebreachsimulationid: {}\n      samaccountname: {}\n      sansstage: {}\n      scansourcetype: {}\n      sectorofaffectedparty: {}\n      severity: {}\n      signature: {}\n      signindatetime: {}\n      sixgillalertid: {}\n      sixgillcontent: {}\n      sixgillthreatlevel: {}\n      sixgillthreattype: {}\n      sizenumberofemployees: {}\n      sizeturnover: {}\n      skuname: {}\n      skutier: {}\n      sla: {}\n      slaField: {}\n      sourcehostname: {}\n      sourceip: {}\n      sourceusername: {}\n      src: {}\n      srchostname: {}\n      srcntdomain: {}\n      srcos: {}\n      srcuser: {}\n      subscriptionassignedby: {}\n      subscriptioncreatedby: {}\n      subscriptioncreatedon: {}\n      subscriptiondescription: {}\n      subscriptionid: {}\n      subscriptionname: {}\n      subscriptiontype: {}\n      subscriptionupdatedby: {}\n      subscriptionupdatedon: {}\n      subtype: {}\n      successfullogin: {}\n      systemdefault: {}\n      systems: {}\n      targetfirewallversion: {}\n      telephoneno: {}\n      terminatedaction: {}\n      testmultiselect: {}\n      threatactor: {}\n      trapsid: {}\n      travelmaplink: {}\n      triggeredsecurityprofile: {}\n      type:\n        simple: Review Indicators Manually For Allowlisting\n      urlsslverification: {}\n      user: {}\n      useraccountcontrol: {}\n      userdisabledstatus: {}\n      username: {}\n      username6: {}\n      vendorid: {}\n      vendorproduct: {}\n      vpcid: {}\n      vulnerabilitycategory: {}\n      whereisdatahosted: {}\n      xdralertcount: {}\n      xdralerts: {}\n      xdrassigneduseremail: {}\n      xdrassigneduserprettyname: {}\n      xdrdescription: {}\n      xdrdetectiontime: {}\n      xdrfileartifacts: {}\n      xdrhighseverityalertcount: {}\n      xdrhostcount: {}\n      xdrincidentid: {}\n      xdrlowseverityalertcount: {}\n      xdrmediumseverityalertcount: {}\n      xdrnetworkartifacts: {}\n      xdrnotes: {}\n      xdrresolvecomment: {}\n      xdrstatus: {}\n      xdrurl: {}\n      xdrusercount: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -600,\n          \"y\": 930\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"7\":\n    id: \"7\"\n    taskid: d5b3bc5c-26cc-43d0-891b-6e223dd14144\n    type: regular\n    task:\n      id: d5b3bc5c-26cc-43d0-891b-6e223dd14144\n      version: -1\n      name: Tag indicators for review\n      description: Add tag to indicators.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: ${inputs.TagValueForIndicators}\n      indicatorsValues:\n        simple: ${playbookQuery.value}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -410,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"8\":\n    id: \"8\"\n    taskid: e371d45d-7496-4200-856c-f77c7209c9fb\n    type: condition\n    task:\n      id: e371d45d-7496-4200-856c-f77c7209c9fb\n      version: -1\n      name: Open manual incident?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"6\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEqualString\n          left:\n            value:\n              simple: inputs.OpenIncidentToReviewIndicatorsManually\n            iscontext: true\n          right:\n            value:\n              simple: \"No\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -410,\n          \"y\": 760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"9\":\n    id: \"9\"\n    taskid: 444adddb-eb6b-4c1b-8beb-a4c2d77fb7bf\n    type: regular\n    task:\n      id: 444adddb-eb6b-4c1b-8beb-a4c2d77fb7bf\n      version: -1\n      name: Exclude indicators\n      description: Add indicators to XSOAR exclusion list.\n      script: Builtin|||excludeIndicators\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      indicatorsTypes: {}\n      indicatorsValues:\n        simple: ${playbookQuery.value}\n      reason:\n        simple: ${inputs.AutoExcludeReason}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 100,\n          \"y\": 760\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1075,\n        \"width\": 1430,\n        \"x\": -600,\n        \"y\": 90\n      }\n    }\n  }\ninputs:\n- key: \"\"\n  value: {}\n  required: false\n  description: \"\"\n  playbookInputQuery:\n    query: \"\"\n    queryEntity: indicators\n    results: null\n    daterange:\n      fromdate: 0001-01-01T00:00:00Z\n      todate: 0001-01-01T00:00:00Z\n      period:\n        by: \"\"\n        byto: \"\"\n        byfrom: \"\"\n        tovalue: null\n        fromvalue: null\n        field: \"\"\n      fromdatelicenseval: 0001-01-01T00:00:00Z\n    runFromLastJobTime: false\n- key: ActionToPerform\n  value: {}\n  required: false\n  description: |-\n    This input specifies which action the playbook performs on the provided indicators. Possible input values can be\n        AutoExclude\n        TagIndicators\n  playbookInputQuery: null\n- key: TagValueForIndicators\n  value: {}\n  required: false\n  description: This input specifies the tag value to apply to the indicators. An example value can be allowlist_review.\n    This input should be used only if The ActionToPerform input value is TagIndicators.\n  playbookInputQuery: null\n- key: OpenIncidentToReviewIndicatorsManually\n  value:\n    simple: \"No\"\n  required: false\n  description: This input determines if processed indicators that have the allowlist\n    review tag are reviewed in a new incident. To create an incident, enter any value\n    other than 'No'.\n  playbookInputQuery: null\n- key: AutoExcludeReason\n  value: {}\n  required: false\n  description: Provide the reason that will appear in the XSOAR exclusion\n  playbookInputQuery: null\noutputs: []\nquiet: true\ntests:\n- No test\n",
  "product": "Cortex XSOAR",
  "pack": "TIM_Processing",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "6.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "S7NuPWpzQ70ju0u9WsTOusNJQj04udo8HkiCPclknrtZ5Ke7TAr7vFm6Sr1UKLk9vBN3PQ1CpbxHQIQ8LlKkvf2eHj1vzx49FhqEvJZ7ZLzjrzO9cJOEPFFFLrxaWhK88BPevAccj73Yw0o7mlOWvPcnm73BMqo8MtOGuk28K7vN4oM84/8mvHn2X7yB+nC8u2gPvSQyBry4oaU75WJoPFHeIr1xMBy8j1gKvRIKKTz3utK8JFL8vGWo+rzNWCU9RLVhvXziDD2kCT89rjqEPN1zO71/L+c63SndvI/6A72N3228MmKEvWuaxzzueRa8+eKyO/pS8rwQ7iu9EpdpPU64TT20NFM8D3FAvC30u7xfA0O9yo03PQsn/Lzue5A955TIvAsFvzxEr7q83g0WvaeZrrp4t9Y7RGzquh96Cz1faoA76RSxu7SkaD3OXbA88bcIvaRqwrwIHwM8aC6lvdeGM7qflkI786fXPYl7Lb3Qakq70EmrPYGA0j2gfiY6MJpEvSTD4r3rslk9uTHIPJXV47yhzo287eO4O4uLsrqfuuc8YmCiPDhQJTytbou9SESzvRYrM7yYcNY77F6CvFQmgzykOiU9wPACvSIVWT2LqAU9a7wwPPy2ILylBlC9PmwvveNqeT0wf+s7Gg6XPCobLT1biJw9mcSzvEKZuLsrzfG8cmd0Ougjz7xQyQK9g3LxO4A427xYwm47XdmtvGh78zkBRgC8AeAGPPqzgTxoyUK7A61TO5Zk3L3VUdw7CFRuPU63Abulp4o9uoqzPWsG8bxe0BE8735tu8AxGL1gTju9Y5J1PIvnLL2Q4Jo7yDBcvBHlZb3C5u48EOeTvZvWmDmOLde8OO6cvLTDrjwhcwq9ztzYvIn/K7xKP5K8LGGAvfTt5jyqTuU7iJFlvKZtx7xDFqG85oOVvA/apTxziBU9hUmwvGxQtLwU9NG7B1JBPdRJVj2OuEs8EjkEvm/63Tx9Dz89m8CWOzwYMDooIEc8XZVsPPiL2TtYi/E8QTimvODaOz2CLR+9qETlvBgUljxCf4U93GgyvZ31M71G+Mo9hL7RO4tTC71Ou8O9W4gAvVrbwbuLk269cPQivYpScbsNw2G9h/QjPVxmSD2+ZJy7Z1yQvDhYjTzdZuY75OCmPCXNYD2bE709GiIWu++cLLiUqWI7HWqcPAiPDz3F8iS5Q96SPHTS/7wWE4k954ryvBM7db0OrOm7X2eyPLvYo7x2iKy76S27u9z7IDwc1EA9dfexvPiHA73IAd+7A2HYu+8jGz0P1Go8/UaMvO7O+zz+Rf28aanRO4wRVbxR86i8j5osvT9hijwSmvi8/3pQPeEaqbzAXre8V/6UOx6M3rtCcR+9aufEPJGFIL2NVKU8xBsOvQhk2TtmRc68OtQgu3+XoL1GUJS7JPrTvCf/JT2vFtU8SkBDPJ9xNTuxAcG8jd0qvRPfKL3bXGE6URgqveJTrzyGvpq9L9qWvdKPjzw/Vxm8Kc7UPCjyBL1I/6q6y7mIvcfZlbzKMT29qGVTvRzWorzpQ8Q8BziqPL5BN7xBOS+9LZaAPcqoTjwXBS09GWasPX3AGL3JNDU6qwmcPIjbmD3Tz5y85kQbvByoeLuxGHE8xD5ePaD27LsmNke8bvTGPFT7HT2RZ2+8jE1TvE8F0DtCi3A5Jy2UusNly70Ja/I7X5LNu8bbLLwfVww88/LUOldT/bwUoyo9MFd5vY3eRzwXIHa8K9aXvOseAj0igpq92yhbPHWbGTuTtIO8xG6euijHubx00gU83UiWvfN3Ij3TAVI959TKPFlr4TvSzfY8T/ARPe1ppLxYGR69hSnQvFLn1zxaFYY7UGyZPbtWVj0lxqQ8ebxEPCoJz7s2W3I9W3EUPRVgkLz0/tS8Y0LNvGIFDr3IUxw8LG1rvCYIbz23+fe7wxf1PDp7nLwu/kC9fVg3PXfIJD1VsYw8CscuvT1bvrwgwnq8v58hPHyzDTv4CiU9V4epvZcKJbwNTwW7AGEePC5ZQb2bGyi96GUkOAQYArz8afA8tnzEPCoJVT2AiIe95qRivIneNzxNW4S80GQ2vd7c4D3quf88ZQGFPVTLhL1hPAq80kMTvddVtz1KQOk8eswpvSOREDyHwVo8KVBiPYzUh7x9BTQ82oZzPMJ4OT1KQOS7F5dQvdBmNjtMhUY7AcOavEIkZrzNvJk8sdW+vDCGPz3mxUo9kjkoPUhDoTtJesU8N+tqu++inLxfTMu8TRwIvANwEr0ASoO9F23jvAmhETxne588rYsdvKXY+zohf0Q9cSBmu15W+TsMlw88hbBIO9+GGD2v81u9r+/xO4ShkT0rryg9ZTSkPGi0hDydajw9hd41u/OLBrz40xO9h5hyPK+NPj2hfjm8pb7VvN9BBb1xtvS8KICDvFJUob2GGPa7UKo9vABSUrvGBzK88j/NO9SPaL0W9LA8DYIUPQansrwdirM7NUVfvbN6yDxYl6M9KfSTu70EAT2EEkc70JcVPQ5uHDzMDQk9SiB7vbsqAD39EC48kWoLuwLoSTvP6Tc83e/dvJ1vW726BzA8R59Ru8wz+Dzg4Hq9Qm9bvRmhH7wnNJU8PgJNvZStv7zzyFy8kH0YvRO3Pb1BG7u8M2gAvXeF9jwWskK8jZqdusrnYT3Aeao94X4HPT2sbbz6Pau8iolUOsIfL7zokwC9WA3VutBciLzIC3g9QCwsPUQ0ijxtcIo6DaAEvVN+M73Puey7gbs4vOKPBbp4sCM7eHqbPHU5Fr3QYsu73/HOPDKJJjxAuc+8n+A3vMMaabxgcXS5dKNsvC1zDr2qH7q8XO+gPXthH7zmflo9HbeQOz3fg7ycWGg9ZiCgPGdkkz1HfQY85DGOPLwoAT0ZKH49dAOQvFaeTTvA2OY8cPRJPBnpyjwP67Y6kWLVPcAiOL1lBgc8716GPPqNAbzXh1c8WyWAveNNkLq7SAy9x1cgPaRk5LzVuxU8QnsivQs55bsggXy8N7ypvBq3FryNRJm85LMuPbF9BLwoSFQ8+8p+vGuQwjxjUGG8rAoKvD2jUbzN7RA93083vNh3JTyb8bO8NEXZvAru2LpjbpO7fv2KPbp+m7wLJwi9ahznO4D2K7y5Bqg8JGKpvRv0A70SgAC9Ty8PuvaCxDy0bx+9rfmbO+X5lDwsj4i9UDQePfZyhDzhPbu7QN6oPP/whbyiFE49e6m9vKbno7wakKi9OQnsvKc2cL3AyPU7NcxfPAfnmLynXWU9+tX9OnpWxryqJ4u9qzoOPQ88XL2NCiO9thW5u65xBj3Hi7Y6f6UGPcEYwbwVgta8lJKoPAKVC71wrTO95JeEvJq5nDxij5s84IqDPHBUyjwplAo959jmu+5zI73vUia9ScPVPINTC7zCtIA8idv0vI9fCz30tpO8Mim7PWLdNDuuReG984CNu9y4Bj38DZS99woavUu9Uzwnfbk8p2oqPasPP71fD1A99JhLvUsLqbxaYPC70dD+vCW+oTwxkyq8rDclPYZDEL2iqoe9+bsdPNKHEL2B0R896bXavFzXOr24PVE9++T/vM9pgLjTua+78qn3PJ/4Hj1lktY7nom7ugPC3bz6IKw9AvLNvH5IuTwQQFW8XKniO6enPz1TOnG9QIxpvD8LxDwPdAw9j1Sevb+vLLzA3gq86ATsPDlIAT0v/IQ8ATneu7KPlDxuVIK74Bf7vLmbCjx5R3a8BhudvD8+fzx30j8639MGvbcxmjwd1w496ZBHO08kMLzGOLM8XAP9vWS8XbtiI1G9HeVAPRhcNz1Le/q7HJ2dvAsql7wUrSk9pD4BPb4IBz2soN+8JCdoPP4Cjbw+3GM87Ig0PQFvU7wqsx08SnT6Ogjj8LymGlO9U3F1vI59ZD1KaeE8JjMGvQhej7zY+gk8tBNEvOJV6ryl/e08gOJDvB8KqjyEha06YDc2vB8mWL3pNeM7p0UQvaPGbj36dFo9B44GPd1kRT30tAe9RizAvLWS77y3RWM8zCUtPcm94rz0mr+83YRmvckpg7w13Ko76HCPPIWClbzX0mg9wXtUvQoSVDxOGlG8xH8LvcaEkD06aSs9"
}
