bundles/spark/kbs/soar-playbooks/entries/pb-tim-processing-tim-review-indicators-manually-for-allowlisting.json
{
  "id": "pb-tim-processing-tim-review-indicators-manually-for-allowlisting",
  "title": "TIM - Review Indicators Manually For Allowlisting",
  "category": "playbook",
  "content": "This playbook helps analysts manage the manual process of adding indicators from cloud providers, apps, services etc. to an allow list. The playbook indicator query is set to search for indicators that have the 'allowlist_review' tag. The playbooks layout displays all of the related indicators in the summary page. While reviewing the indicators, the analyst can go to the summary page and tag the indicators accordingly with tags such as, 'approved_block', 'approved_allow', etc. Once the analyst completes the review, the playbook can optionally send an email with a list of changes done by the analyst which haven't been approved. Once complete, the playbook removes the 'allowlist review' tag from the indicators.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (TIM_Processing, xsoar-supported).\n\nUse cases: Threat Intelligence Management.\n\nInputs — ApproversEmailAddress: This input specifies the email address to which to send the approval form if approval is required..",
  "raw_yaml": "id: TIM - Review Indicators Manually For Allowlisting\nversion: -1\nfromversion: 5.5.0\nmarketplaces:\n- xsoar\nname: TIM - Review Indicators Manually For Allowlisting\ndescription: This playbook helps analysts manage the manual process of adding\n  indicators from cloud providers, apps, services etc. to an allow list. The playbook indicator query\n  is set to search for indicators that have the 'allowlist_review' tag. The playbooks\n  layout displays all of the related indicators in the summary page. While reviewing\n  the indicators, the analyst can go to the summary page and tag the indicators accordingly\n  with tags such as, 'approved_block', 'approved_allow', etc. Once the analyst completes\n  the review, the playbook can optionally send an email with a list of changes done\n  by the analyst which haven't been approved. Once complete, the playbook removes\n  the 'allowlist review' tag from the indicators.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: ec484071-3d69-4a74-8e11-72d0a8ebdc1a\n    type: start\n    task:\n      id: ec484071-3d69-4a74-8e11-72d0a8ebdc1a\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -40,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"1\":\n    id: \"1\"\n    taskid: 45a0bb8a-26a9-4af8-8099-84544bccad92\n    type: regular\n    task:\n      id: 45a0bb8a-26a9-4af8-8099-84544bccad92\n      version: -1\n      name: Associate indicators to incident\n      description: Associates indicators to an incident.\n      script: Builtin|||associateIndicatorToIncident\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      id: {}\n      incidentId:\n        simple: ${incident.id}\n      value:\n        simple: ${playbookQuery.value}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: bcc580c5-c88c-45a1-8ee7-b038d930c14b\n    type: regular\n    task:\n      id: bcc580c5-c88c-45a1-8ee7-b038d930c14b\n      version: -1\n      name: Manually review indicators\n      description: Manually review the indicators. The review process can include\n        running reputation calculation on the indicator, or reviewing the indicator\n        online in various engines. At the end of the process, the analyst needs to\n        add the relevant indicator tags, such as approved_watchlist, approved_allow,\n        approved_block, etc. These tags are later used by another playbook to send\n        the indicators to relevant 3rd party systems such as SIEM, EDR, EDL etc.\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: 58ce9edb-06d2-4601-8b65-5efe0ff19ea1\n    type: title\n    task:\n      id: 58ce9edb-06d2-4601-8b65-5efe0ff19ea1\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -40,\n          \"y\": 2080\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"4\":\n    id: \"4\"\n    taskid: 6347cecd-69c5-45e1-8e33-a9ff184ed697\n    type: regular\n    task:\n      id: 6347cecd-69c5-45e1-8e33-a9ff184ed697\n      version: -1\n      name: Add being reviewed tag to indicators\n      description: Add being reviewed tag to indicators\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"1\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: being_reviewed\n      indicatorsValues:\n        simple: ${playbookQuery.value}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"6\":\n    id: \"6\"\n    taskid: 21dc7963-c302-415d-843b-257e7d2861ac\n    type: condition\n    task:\n      id: 21dc7963-c302-415d-843b-257e7d2861ac\n      version: -1\n      name: Allow to remove allowlist review tag from all indicators\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"12\"\n      \"yes\":\n      - \"8\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1570\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"8\":\n    id: \"8\"\n    taskid: f7de89f6-eb9a-44e6-84da-8ef43a58aa25\n    type: regular\n    task:\n      id: f7de89f6-eb9a-44e6-84da-8ef43a58aa25\n      version: -1\n      name: Remove allowlist review tag from indicators\n      description: Removes the allowlist review tag from indicators\n      script: Builtin|||removeIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"12\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: allowlist_review\n      indicatorsValues:\n        simple: ${playbookQuery.value}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 410,\n          \"y\": 1740\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"11\":\n    id: \"11\"\n    taskid: ddb2dcd9-bacf-4de5-83a7-e15d66aac4f5\n    type: condition\n    task:\n      id: ddb2dcd9-bacf-4de5-83a7-e15d66aac4f5\n      version: -1\n      name: Are there query results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: playbookQuery.value\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": -40,\n          \"y\": 185\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"12\":\n    id: \"12\"\n    taskid: 96afe586-c3c2-4b1c-823a-b9b2856f13ca\n    type: regular\n    task:\n      id: 96afe586-c3c2-4b1c-823a-b9b2856f13ca\n      version: -1\n      name: Remove being reviewed tag from indicators\n      description: Removes the 'being_reviewed' tag from the indicator.\n      script: Builtin|||removeIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: being_reviewed\n      indicatorsValues:\n        simple: ${playbookQuery.value}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1910\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"14\":\n    id: \"14\"\n    taskid: e9f7c185-a753-4fb4-83d4-3dc7fe0c2652\n    type: regular\n    task:\n      id: e9f7c185-a753-4fb4-83d4-3dc7fe0c2652\n      version: -1\n      name: Make changes according the approver's request\n      type: regular\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"6\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 600,\n          \"y\": 1400\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"15\":\n    id: \"15\"\n    taskid: b9b0154e-efc7-4f6a-808f-c9faff5ad536\n    type: collection\n    task:\n      id: b9b0154e-efc7-4f6a-808f-c9faff5ad536\n      version: -1\n      name: Email for indicator changes approval\n      type: collection\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"18\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n        simple: ${inputs.ApproversEmailAddress}\n      subject:\n        simple: Approve indicator changes\n      body:\n        simple: |-\n          Please review this incident\n          ${demistoUrls.server}/#/Custom/indeooemoh/${incident.investigationId}\n          And approve the changes made to the indicators.\n          Related indicators will appear in the Indicators tab.\n      methods:\n      - email\n      format: html\n      bcc: null\n      cc: null\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n      replyOptions:\n      - \"Yes\"\n      - \"No\"\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Specify the indicators that weren't approved\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: List the indicators are are not approved\n      description: The approver reviews the incident and changes made by the analyst.\n        In case the approver needs specific indicators to be changed, they will list\n        the relevant indicators.\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 2\n  \"16\":\n    id: \"16\"\n    taskid: 22860fd3-c8dd-4c17-8f81-4f9537a1e3c3\n    type: condition\n    task:\n      id: 22860fd3-c8dd-4c17-8f81-4f9537a1e3c3\n      version: -1\n      name: Was an email address provided for approval?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"15\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.ApproversEmailAddress\n            iscontext: true\n      - - operator: match\n          left:\n            value:\n              simple: inputs.ApproversEmailAddress\n            iscontext: true\n          right:\n            value:\n              simple: .*@.*\\.*\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 885\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"18\":\n    id: \"18\"\n    taskid: 46edfee8-7778-4c27-85ed-d4b0fdc1825f\n    type: condition\n    task:\n      id: 46edfee8-7778-4c27-85ed-d4b0fdc1825f\n      version: -1\n      name: Are there indicators that weren't approved?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"14\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: List the indicators are are not approved.Answers.0\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 430,\n          \"y\": 1220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 2\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2095,\n        \"width\": 1020,\n        \"x\": -40,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: \"\"\n  value: {}\n  required: false\n  description: \"\"\n  playbookInputQuery:\n    query: tags:allowlist_review and -tags:being_reviewed\n    queryEntity: indicators\n    results: null\n    daterange:\n      fromdate: 0001-01-01T00:00:00Z\n      todate: 0001-01-01T00:00:00Z\n      period:\n        by: \"\"\n        byto: \"\"\n        byfrom: \"\"\n        tovalue: null\n        fromvalue: null\n        field: \"\"\n      fromdatelicenseval: 0001-01-01T00:00:00Z\n    runFromLastJobTime: false\n- key: ApproversEmailAddress\n  value: {}\n  required: false\n  description: This input specifies the email address to which to send the approval\n    form if approval is required.\n  playbookInputQuery: null\noutputs: []\nquiet: true\ntests:\n- No test\n",
  "product": "Cortex XSOAR",
  "pack": "TIM_Processing",
  "support_tier": "xsoar",
  "use_cases": [
    "Threat Intelligence Management"
  ],
  "fromversion": "5.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "Rfq0PDvfJr1Z5Hy9oKPiPOAOaT28GKQ8j2tXPbGyDDxOCYo8VAxPvHFnNr3ImWE98K4dPfz39LzRgU28RAwqvf8gET3jt609b3IFu6QbcrzzFAK9MAuwO463j7yaqqk8cbJJPCrhhb0I1CQ6Y7NAu9L3Lr3avVA8G+5lPHVjSLwUNja7RIawvHg+H71nFEQ8ca5JvX6W4bt39eK7OimLvHbai70VRZW8WuEbvVirvTy97Ni8A40fvSqIJb3TJMw8JPJmvVdYND3aT8Y9+GOau3CyLL3dSww8+JqwvA1vdL1SiLy8c/v+vNTyKzyWZya8zxncO9Qir7xKXdy7LXnqPFQXpT3GyII87JtLvILerTzANge9UYSOPRllu7yCu6A9x5OcvKwPI7xf4Fa8/Z5Ku+LgDztbt/C8pW6MPMYICz31gAe8DsQbPazvFz10+Go88BOSO2syy7xQBSq79Ha6vXj1LL0f1Tw8he4UPuk7Fb0x0aK8D0ybPeU4vT2wc5E8U/pCvaYznr3LXHo9zbjAOwW/vbuiHEm8Om9FPP9hQLydjHg8KTEePCOaarxgQli9CluTvUYFJjsYsj08hfg7vB0bUzyDQfw8MVHqvGgBIj3xgiu8f/g9vG/5KDzRFBS9zAooO2ivPz2tDMK7LlyCPAnOKT36zkc9b12FvNOn+LmW4B+9UX0gPICx47vOXM88fxBUuiTZ0Lyviaa8kJsOvTChCryDZpi8nzYlPA3WyDxFB5y8pooXutt85L3ur6q6y+wQPQGqYrwq22s9ZKKXPYI4F71ZvbQ8IJNpO+PPtbwCbHq9Dlb6PJJktLyCBpq6KtbrvC0S1720p848zCGfvZ9V2bzl3K68vu2SvCAaQD1hAZW88C8BvWRLMbxGZ9C8XzVmvTne/Ty6iVm8tXysvOjdA714FIC8pbljOjOICj1yD7O79a7IvEy6+byVqKU5lJyAPeuKTj1u08I7BK4JvgslHz03/iA9hNnavAwxpzx9GiG8Xzu9Om3LOzwpTCo913E4PAzEaT1TR1+9rUGLvG3nGj3+ryY96ybLvAHiA72DXco9wtUJPcJOh7ytzJm9TRQuvQPr4LwENBS99VGPvR6gpDyQGh29H/gWvN82KD2Cb9868U8HvVPijjwA3608yzbnu7AdAj1kecQ9NGONvITU2TxDAhs8cjO7PPsrG7xhxpy8CE9TPffqkL3TMas9VtqbO1+fML0TG5C8nhNpPT2xer2LEQc9U1NQO//f4bs0Xx89qCBavPcHK71v0yk8Gt2qu0MIQT2IuJ08uYE8vXYjZT2yVn28zyoaPYOSoLw8LA+7gnc5vDHqjDoCIFY8ehzSPEM+xzuOh0Y8cFboPJ7bl7tgWUy9f+84OrSjPL2ZGsA8PxxUvbSoDLtfC1q97VLMPFeUqL2dpgg8WosIvRi1qDzuqow8lkvqO6INlDofwA29KCSWvPA1Nr1aIwi8pF0RvY4kA7zA+xC957SRvTT+/jztu5a8y48+PPoB2bx8WNI7gb1LvZ7AMbyscze8JzmjvAwbg7xZMgs9sbqSux/1gb157jO8rtlgPaZSuDzDDgQ9UP3UPQ00jb0SfKU8RKC4PEd/DT3B3m69hAMiPIAjtLx4DHs8Rbn4PHvk4zxRvwe9cyIkPdF5xDxig+Q51wyYu4JP/jxLtPU8VaGIO2Yc1b2IEGK8dPLbvAlAArw6cO88hEPGO1PhKb0op4k9Q75OvTi+Gjz+EOq67B/gvBOSTLwprzC9+QYdPIvIjzwgwD28LB8ivbICDL2TPxs9qEemvUmSAzrtKkY92NLLPNyHaDsVOXQ6XW0VPebhtztIswW9fRWpvLNCkTxgHXI8apmGPXpNIz0pFxk9VR8IPVHkcjxP8/c7PD8BPTRdVrxQxvu6dOdIvIuMr7z0V9U7MrW6uq3QXD2QVrI6HJJXPeVcgbzdYiy8JjwlPVsGHz0hCwM9AuX5vE7DEL2jIQ69mKdJPIAeS7zEAyQ9PUeDvZBPHr0LdUu8EclQu2vnM70W+TC8E04/vEVCXLx3Ddo8E1EfPXZskz3elSO9jNUTPKGFATu+n/a8BUlsvVOfwj0Xma08RKiWPU5kn73EKtS7i0GwvBnz0D2hWWI8cVJBvdzZTDtL9W27i0JzPUWOuryfh4I8f2w4OgV9DT39ZpQ8BwBnvQrVMjxBU5a6kEoxvTGPTbsazJu6tc3WvPTzBT1Dyns9yo1dPIJIk7y/zD88bSyYO/KOVrviGLC8AV9ouxZtz7yAbYG95ZrLvMZYibt+a907wU5uvHziizxDAg49wSyEvPwRzjyYTaY8GJb6PCycOz2AlF69hOMVupBUMz1vTvI8s2eaPFhIhjneDC49tHb+uzBbpjzzwhW9ibMwPcC4AD0p1KO6dns9vVZP3ryueFi95D3DvNQPpb2gYGk7Cw0kPFSGsjxORyq8PrzivHQkL73JR4s7A29+PU1wirw7YJI8j3r2vNWC0ryzzl49TnKGO0Zf2zz+VMO7odscPRCtFzwc/Gc9Nh2kvUgBRjwqnuo8cgeFO2v0nLvir5y80CNUvQ1Wjb3AccS8WkyiPLbuCj3i5DS99KGDvb2qFb2jlYQ8blfNvIXKR733oGC8v0FnvTbId7zlvyO9c1qcvYjtzzzJdki8t7sjvQ+gtzw4LJo9ni14PDfiMjz00328iTpeO3lrYTxGpTW9xkSkvNATJr1i66A9CX+DPYsNMLw6SeA8ykIvvflCI7273Zq6uLX6vFISM7wOsCM7crsCPQjD+7ze0fC7cmEsPLOJkLyftU28jH22uUFg9zsf9TA5qIb+vEZA37wIgfa68323PSxkGryno8k84belvAfRDrticJM9cB6ePCm1tj08X1q8/ZVEPL2bFj0hv5E9ygCqvHPzUzzBHgs99uMUPRn8XD0RRq+6PbyJPdduiL1VsOW88hw1vKMIqLyYtIa8cdiGvfp15roYLhS9iyYEPB9fFL0sjt08F+CcvEMW27xH5Bo8e0o2vUXbhTwh8Hy7W/wMPeQYKjuRxDs8TqXSu++ttTwF8GW88ICLvAz6DL0eBga90F3fvOPdC7wACgu8LVsnvDly4zw2C5y8ouabPeKZ4zrUPRu9cGvOO4GY57xAyow8ewVRvbKEFr1FPXe8Bq+Pu/w6ID3hFi29jIDKu/o9erwprFm9/aspPVB8ijwcShk8SWH0O0j2nbwN70w9wnKtvCJRurwxX1S9ksZwvM37Hb3lqx+9H7iePOzhSbyCvA89RLp8PIZTSL1mtEu9uAnsPKapc7zJhW68kkqdvK4VCT1FxCg8vZqgPMBgvLuWif27LHm1PJxgmbxmdpy9cgGZvJw/2TxW9zw8oqp3OxTv0zyjcWQ9YdzOvPZYpry/M0y9aRClPNja5Tz6x887SlMpvUI05zvHTy69/iqpPX4l8Txr5cu90PJ7PP857jv2lLq9MDAKvfXUgDwEyT482whmPUGaA71LS+48RzZmvWnQsry1ZbK85QoovcbQljzbvoK8RbYiPVkoj7z0DaW9uqOsO39Ok7yfGbY8gdkmvQVXurxJmns9sy9Lu/mujLwYRhy8kGBRPYydLT0/KqK8w/46vUoWw7uW8c49/IT8vO6f5juMYfi8EUWPvPfkgj0i/C29N+bUvAT9Wjz/rxQ9dT3ZvIeLSryFhZs7RXnbPJbAzDy9ss88NauPPIbmejwoe7m7/3GRvAwtpzwstda8yZCGu3gSGD1T2Y88/TwQvYGn9Dmoy6U8+w3COogjXbpY5EU9CZmmvY+zwzq0jra7KgzxPAtaxTwlvaM84UtFvDUQi7znUjY9Hfk1PTryqDzR5Ve8YWSnPHyHKr3pH5O7SprqPFBRC72bo/I6BOjyvACaDb38pDm9/FmZvCv4hDzJwDI9EZ7lvNAkMbydVxo73BxUu+N5AL2ok/G79yZEvbzVbjyyIpM7YKoZvTsHXr1pr1W8gMMKvOE6HD0JLhA9mqJvO34GIT35HAu9qLJivNLQP71Q7CA8nSWIPOF+ArxqXBu9MvgkvecdOLzdA9487Sk4vIRIpbxCXTU9KhpcvDmeTzxLTmm8C05bvZ6LhD1dkzs8"
}
