bundles/spark/kbs/soar-playbooks/entries/pb-ustav4-usta-account-takeover-prevention-employee-credential-playboo.json
{
  "id": "pb-ustav4-usta-account-takeover-prevention-employee-credential-playboo",
  "title": "USTA Account Takeover Prevention Employee Credential Incident",
  "category": "playbook",
  "content": "This playbook automates the detection and response process when compromised employee credentials are identified via USTA platform.\n\nCortex XSOAR/XSIAM SOAR playbook from the PRODAFT  pack (USTAv4, partner-supported).\n\nUse cases: Threat Intelligence Management, Malware, Ransomware, Breach Notification, Phishing.\n\nInputs — MinimumPasswordLength: Minimum compromised credential's password length required for Playbook to work.\n\nIntegrations/scripts used: StringLength.",
  "raw_yaml": "id: USTA Account Takeover Prevention Employee Credential Incident\nversion: -1\nfromversion: 6.10.0\nname: USTA Account Takeover Prevention Employee Credential Incident\ndescription: ' This playbook automates the detection and response process when compromised employee credentials are identified via USTA platform.'\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: c51a6743-d257-4e9c-966a-630163668797\n    type: start\n    task:\n      id: c51a6743-d257-4e9c-966a-630163668797\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#none#':\n      - \"13\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 64836d9e-7b26-4836-86dc-f9f98caad2e8\n    type: condition\n    task:\n      id: 64836d9e-7b26-4836-86dc-f9f98caad2e8\n      version: -1\n      name: Check if the credentials are valid\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"12\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: incident.ustaaccounttakeoverpreventionusername\n            iscontext: true\n          right:\n            value: {}\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: incident.ustaaccounttakeoverpreventionpassword\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 265,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 2\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: e8add26b-4b2b-4f6c-a28c-d93d06c675c1\n    type: regular\n    task:\n      id: e8add26b-4b2b-4f6c-a28c-d93d06c675c1\n      version: -1\n      name: Perform a password reset and escalate\n      type: regular\n      iscommand: false\n      description: \"\"\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 2\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 77518aa7-8c48-4ded-88e0-24c23ada2b01\n    type: title\n    task:\n      id: 77518aa7-8c48-4ded-88e0-24c23ada2b01\n      version: -1\n      name: END\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 735\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: f73c381e-e847-4f8a-8697-d17375d755b1\n    type: condition\n    task:\n      id: f73c381e-e847-4f8a-8697-d17375d755b1\n      version: -1\n      name: Check if the password meets the minimum length\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"7\"\n      \"yes\":\n      - \"2\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: greaterThanOrEqual\n          left:\n            value:\n              simple: StringLength.Result\n            iscontext: true\n          right:\n            value:\n              simple: inputs.MinimumPasswordLength\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 2\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: fd6629e5-f4d2-4a97-8da6-e768a2bdf76f\n    type: regular\n    task:\n      id: fd6629e5-f4d2-4a97-8da6-e768a2bdf76f\n      version: -1\n      name: Check incident password length\n      description: Returns the length of  the string passed as the argument\n      scriptName: StringLength\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"9\"\n    scriptarguments:\n      str:\n        simple: ${incident.ustaaccounttakeoverpreventionpassword}\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: ce226298-21af-4263-b5fa-76c6c17c3500\n    type: title\n    task:\n      id: ce226298-21af-4263-b5fa-76c6c17c3500\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 2f489ffe-b050-4c7f-9a96-dbfe443c18da\n    type: title\n    task:\n      id: 2f489ffe-b050-4c7f-9a96-dbfe443c18da\n      version: -1\n      name: END\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 480,\n          \"y\": 910\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 17509d9f-7beb-4de1-be0f-8db3b68586be\n    type: condition\n    task:\n      id: 17509d9f-7beb-4de1-be0f-8db3b68586be\n      version: -1\n      name: Is Corporate Credential ?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    nexttasks:\n      '#default#':\n      - \"14\"\n      \"yes\":\n      - \"10\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isTrue\n          left:\n            value:\n              simple: incident.ustaaccounttakeoverpreventioniscorporate\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 695,\n          \"y\": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 012392e5-46b7-44d1-9ef5-c4765577edcb\n    type: title\n    task:\n      id: 012392e5-46b7-44d1-9ef5-c4765577edcb\n      version: -1\n      name: END\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: \"\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 910,\n          \"y\": 385\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1085,\n        \"width\": 1240,\n        \"x\": 50,\n        \"y\": 50\n      }\n    }\n  }\ninputs:\n- key: MinimumPasswordLength\n  value:\n    simple: \"5\"\n  required: true\n  description: Minimum compromised credential's password length required for Playbook to work\n  playbookInputQuery:\noutputs: []\nquiet: true\ntests:\n- No tests (auto formatted)\n",
  "product": "PRODAFT ",
  "pack": "USTAv4",
  "support_tier": "partner",
  "use_cases": [
    "Threat Intelligence Management",
    "Malware",
    "Ransomware",
    "Breach Notification",
    "Phishing"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "breach-notification",
    "malware",
    "phishing",
    "playbook",
    "product:prodaft",
    "ransomware",
    "soar",
    "support:partner",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "ojsUu6tP2jt4Pba992wEPAaREj0JVlE7SDx+PRMnCz1+2EK8NqJ6uyJjBbs17YI9Zp/5PMcQ3jvFcsq8kwkivf1t3DxRTSo7NJcUvfanWr3Ybq28t6eEvWyzmjzLeIg8nGnTvFe+3bwTh6W7gmEJvc32XLykfPm6mEmnuyp9EDuI4z+8+vRJvA1C6LwEq7+5Bo8LvdrHZzvNGyC9XVIQux6lZr1Ltfi8Va4cvVS8nD1gicA6Y2PGvPg8jL1Whgi7i3RpvVIItrxzYRA9XshrPWCXdr2cEKA7qPQQvUkcIL15gZW8ciePvYhM0zs/vxI7VYGkvAjCSLyyyHo8nExDO88EKT1d2wQ964W4PLubJD1yzR69EujsPPTFgbzbKWU8RN9lvcFrND233jq8z8vEuYs9szzU2Z27aTnkPE6afT2hj0O8skNmO+VOLD0sl506wkhTvcFpDDzTTNI7HA54vWJ2LrwXE5K8BzPmPRWEH7ym/Fq8/PNWPSj2gD01qgC9tsffu9T6ar2pWAY96b70PJqqrDvbfhu9Cz52vD8AJbzaS028PHkTPLU9gTzM25G9ZI02vXZXajxh1Hc8dE5/uuU1rDxAcIA9ZKeVPCowvDxFVjQ8iFpWu9GuQr34WrK8d0gUvAjy1D29gic9PFnNPIhDcj2iDYs9t4ubPPZagbyR5te8UofDvKb3ED0po7m8cRwaPP23Lr0v0MW8h92YvD15UD3xfQ691xQJPTAjnzzXP+M7nf4KvHaZ4L2FrQU9HNMHu7rZgLsCt2I9eG+MPfaEJb1PQRu92xHUu0cLsbzH/BK7c59zvEkL1LxQIrg8H2KruijNWb0MYH8820g/vbGjR7xx1YS945ARvJ0Oqz2CVmq9Q3tMvJjFFr1KLvk8vtNWvWYRjjwp8Pe8XjFXPBziur1uGZi8bwHCvHEY/TyJIR09Kw+MutDDjLtM3Fq7auyJPcu14DzTVBS8bA1avd6rhT2TIz+7L++3vEHJwDxjqpS8zts7PARY1LxHiro7NzJ8PJxTiz08nV69caq3u/rHUD3XMeM8awTiO5EhbTkqKWI9nwbePDQQxTzEoc29JenGvBKVHTytsoe9bZORvJO/nDx5fd68eHj5vN8qb7urgmW8c6IjvbbrXTzrsXS8bgF/PN9LpTzqWLA9BII+Pdbh7jyZGDA7b3EbPVi4nDu+5q8879GZPZ7icr1pNJ49RRMhvXsXT72aYhQ9qWzvPNihFrwPTA88xoR/upulHT21w8o8FZ/TPCblFrzjn9E7VRnqvJ8fOT1gXes851EAPRnjbT1iM8s6oIgqPPbgPLxsqcG6IaECvVJaMDw/1Iq7oZ4dPFH5bLydo4e6maTgOQ5atTvkbSC9UTbUvGoCBr0TjgA93v//vPj7tju6TRW9p6HqPBC2wbyPdZm8g7jOvHWCz7sSNog8CBnAPJiqID2hmYi73UI0PP5rOL2LUKK8elxFvdG/uzzAk2K9Xns6vU2dF70phiI5JYNKPCp0ADu3CCq9YDjsvIoSBr21pqW6dhkZvQ+Qgrz1dfw89c9SPajp8rwbDGy9EawoPSgZLT101K08KjzAPaRQHL2O8Ac8P+bLPGaPqz0ovAe9Dw4sPXQozbwMVtc8XLS6PEzquTw7HcO8tILevDLRDjzLT6a8zVe2vIpTBbwj7U69S7yBO/sOlL1O1bS8kleCvGd1jTw7+IS8do4dPXCnMrxTJQk9B4SCvPst4ru9ujI6pFfJvVfXBD2EM1a9C8l8u9PdvzzEeOA8NdedvWRrubtbMp67kHWDvX8xrDxUqHw99EqIvGJEFjv/plo8yYDLPJ/QkbzkXSy9YYtwvAc1pLzJqiS9Lv+vPV9UVD3Vlo+8t45cPZL1hb38tvS5XTgNPZRw9ryCOOo8+XjLvPSe0DwPxEk80P1dvC2nNTwJ0rE7AkARPYUt6bvBmgm9nDcEPRUKDj2eCR08O/A/vHMraLzwKZ28MGjxPP2hKb0sJw89zmGbveTQKL0sLYY8Rw0gPJBXFbxC6Fe8fTaPvFiWnrxOxmO83ZovvFUhlz1SN8S8v6kMvJZkn7zrDyY8GFv7u6cr1T2QxAA8BgRoPUwLvbue3G28gXOGvHLnkT1rYjA9W9w1vX7DtbtTwRa7rvyKPcRSlb0JQTu8LGjtu/M1UD1KMLk8BJkOvdKbQjw6BxA8rYLRO2yXGL06RwQ8eiH3PJ5QsDx03zw8Y0g2OxoLZ7x9zzg9+dISPOT9Kr0kPLC8+OurO8G5i7zBLZ+9D1AvvcClbLsDtE474FU4PPSEKb3Klg89xF3UuuCBljxa/Ee8Evm/uyLcDz3AeZG7m6/bvEA9ADye6RM9q869vCDZRj350dI8AVkFvQj+vzwj9qg7tgdJPZd+JDwLhx88HSkUvUslY7xIKci82egDvaiQzL3Bkgu8hSEKvcpGW7vcxuC80F8SvBhigL3qgXY70MVmPbX/IrwiUta8q3MXvTURlzsraMk9bUdkPVN7Iz3HPK27BHxVPRA4ibz6eeI8zK2fvdEzujxEJKc8ikrjvHhZ+zslHrK8VNtEvZFz7jwaorg8f6UOPSaZED1UxcK8ylyyvF342LxqvNI8BxlFvGT+krxeZUe7+QEGvS+MJb1OdwC9JsSTvFjBID3xpbK87bQvvGQImD1Ca5A9rPHZPL1HUzyJRoy9Fe09vVlueD1BwGO9XJWLO/DPkjuWzJc9OJUaPbC3hL0qz4s8Z2ULOluGF720Rra8zE2NO8I+QrwqwiW8AvRdPdfM0rzPAUk8er+CPP6LwTzDp5O8kAmOuxak0rwwIPs8DMeNvE9uDbykBD69YoGaPajiuDweWjE85rnKO+2kdT0y7Q49jOXUPJs4Rz22A8a7bQwfPGEjVj1FBzY9BMcOvUFRpzyn+XI8J1yRvJEsCz1nKJC7hAgpPWNZM721Mkq71v9uPQZy6LxvX+07kUwdvZLr+7vVcmW85uXrvFybB7vPDSA9IdKKvRU+4DttUWu8bEfKvGcrDzwAQLu8Ybx7PIalsDx7imU8peUvvEwmRrvHfOw82hGuvMCvh7qHAc68eJ8hvSi/ALpSFfs8YW2WvF3cBD31LkM8s/yfPQoGYbyb7Km8KvpmPDxssDzCnz06fOc3vTbedTrOTs86jwkLvc4H0Dwna+i7Gqdsu2lzrTzaBGu99rtaPV2eITlmVBG8jTyRvAo7W7xFa5M95nKcPHnLbr3NqGO9qQUKPan3cLz25pS8ks9IPYLVML1Dscc8FQLJuwvgGr1lG5G9pYHXPE0+fbxsV928D3CKPKD8Lj3GGzs76gVzPK4hsrxm3lA8F1GmPG+AJryK9Ri9dHiAOjtkJz2W1uQ7YsP5PKvfUTzmX2k90Mf5O2n3Mb1+PiK9XtMPvFlTmTz094I82ys9vYSAtbtMidg7CfaEPeP1Dz0ET6G9Q2H4PNKaOj0E49i92o9uvQ5zwTynODU8mQWSPfxMg7zDtpI8UD+ovSF2Hr2vXwK9IfIyvCXX8js4Ahu9juK5PBVnS70V4Ze9a74iPPenPb3kCLs8NfEAvfPfKr1vgYQ8J8FlO4ItdTw01qU87JqMPXucGrv+KkM79zfOO9KyXjtS/vK7a3Dvu2FH4bxjD5m7fU31vOSF6jsMUwg8qTTZPEVDfT1R9ak8sjqgvc76mrzD+DW95r06PWNAwzwzJ0C6H1tmvXXpWjnEQ2G8tPKXvXuOgDxrcqW8GUhFvZXMsTx7NJA7UayWvR2h0jv1TII9dfGJOhBiETu5B0Y9338svmur3TuH8DO9YbMHPVGzIzuTnks5Gt8XPYpLAb1wC1I8LbAiPTB3KD0fqBs7dlEaO2n8j710Hyw9CSSrPQUYDbxI1Ni8vistvC2xZTzmYSi9m7VZvfxn7jwh2FU9hOTHvHemnLsZjzI9uMMyPeJ2Er2MI5C7BmR8vIhfEr0f4I88turrvEGcrbtRCPQ7ujp4uycbpj2lxQe8t8nEPEOn9Tx8lGK9j89ovd5xHTxTABS7/yElPECkvLrhxCe89eyivOZWwDvClrA8nPHpO4tHQb3UZ908EUF0vWkyczn4OYW9U3tFvdLJDT02vR08"
}
