bundles/spark/kbs/soar-playbooks/entries/pb-vectra-ai-dispatch-incident-vectra-detect.json
{
  "id": "pb-vectra-ai-dispatch-incident-vectra-detect",
  "title": "Dispatch Incident - Vectra Detect",
  "category": "playbook",
  "content": "This playbook is called from the Process Incident - Vectra Detect playbook. It will fetch all active detections for the entity under investigation. It will then assign the entity to a user; if an assignment already exists, it will update that assignment and add a note in Vectra.\n\nCortex XSOAR/XSIAM SOAR playbook from the Vectra TME Integrations pack (Vectra_AI, partner-supported).\n\nInputs — user_id: User ID for entity assignment.; entity_type: Type of the entity.; entity_id: ID of the entity..\n\nIntegrations/scripts used: vectra-account-note-add, vectra-assignment-assign, vectra-host-note-add, vectra-search-assignments, vectra-search-detections.",
  "raw_yaml": "id: Dispatch Incident - Vectra Detect\nversion: -1\nname: Dispatch Incident - Vectra Detect\ndescription: This playbook is called from the Process Incident - Vectra Detect playbook. It will fetch all active detections for the entity under investigation. It will then assign the entity to a user; if an assignment already exists, it will update that assignment and add a note in Vectra.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: ac5d2953-2684-4857-8c77-b5afdf69300c\n    type: start\n    task:\n      id: ac5d2953-2684-4857-8c77-b5afdf69300c\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"18\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": -120\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 7f8a05d3-15ec-4bef-8f40-e052d14a4a6b\n    type: regular\n    task:\n      id: 7f8a05d3-15ec-4bef-8f40-e052d14a4a6b\n      version: -1\n      name: Assign Entity in Vectra.\n      description: Assigns an Account/Host entity to a Vectra User for investigation. If an assignment already exists on this entity, it will be reassigned.\n      script: '|||vectra-assignment-assign'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"21\"\n    scriptarguments:\n      account_id:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.entity_type\n                iscontext: true\n              right:\n                value:\n                  simple: account\n          accessor: entity_id\n      assignee_id:\n        complex:\n          root: inputs.user_id\n      host_id:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.entity_type\n                iscontext: true\n              right:\n                value:\n                  simple: host\n          accessor: entity_id\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: 3594bb20-5dfc-45ea-8747-a97f62e2111f\n    type: regular\n    task:\n      id: 3594bb20-5dfc-45ea-8747-a97f62e2111f\n      version: -1\n      name: Add Note for a Host.\n      description: Add a note to the host.\n      script: '|||vectra-host-note-add'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      host_id:\n        complex:\n          root: inputs.entity_id\n      note:\n        complex:\n          root: inputs.user_id\n          transformers:\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'This entity has been automatically processed by XSOAR. The incident has been assigned to the user with user ID '\n              suffix:\n                value:\n                  simple: ' and the XSOAR incident ID is '\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: incident.id\n                iscontext: true\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: .\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 662.5,\n          \"y\": 1285\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: 58f6287f-4426-4876-8e2b-fc33f4d63a52\n    type: condition\n    task:\n      id: 58f6287f-4426-4876-8e2b-fc33f4d63a52\n      version: -1\n      name: Does the assignment already exist?\n      description: Check if the Assignment already exists or not\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"6\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: AssignmentID\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 0402b165-93e0-45e7-809c-d9d60eee9a37\n    type: regular\n    task:\n      id: 0402b165-93e0-45e7-809c-d9d60eee9a37\n      version: -1\n      name: Update the assignment with the provided user ID.\n      description: Assigns an Account/Host entity to a Vectra User for investigation. If an assignment already exists on this entity, it will be reassigned.\n      script: '|||vectra-assignment-assign'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"21\"\n    scriptarguments:\n      assignee_id:\n        complex:\n          root: inputs.user_id\n      assignment_id:\n        complex:\n          root: AssignmentID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 662.5,\n          \"y\": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: 5dfb1301-29f8-4125-806b-e02bfab35d69\n    type: title\n    task:\n      id: 5dfb1301-29f8-4125-806b-e02bfab35d69\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -100,\n          \"y\": 1470\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: b5e1cd08-fc49-4dc4-85c3-a6761ba25030\n    type: condition\n    task:\n      id: b5e1cd08-fc49-4dc4-85c3-a6761ba25030\n      version: -1\n      name: Is VectraDetect Integration enabled?\n      description: Check VectraDetect integration is active.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"8\"\n      \"yes\":\n      - \"23\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Vectra_Detect\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 50,\n          \"y\": 25\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 32e3eb0c-f5ca-4c8c-8313-62b1fb0b5041\n    type: regular\n    task:\n      id: 32e3eb0c-f5ca-4c8c-8313-62b1fb0b5041\n      version: -1\n      name: Get the current assignment for the entity.\n      description: Return a list of assignments. By default already resolved assignment are not returned.\n      script: '|||vectra-search-assignments'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      account_ids:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.entity_type\n                iscontext: true\n              right:\n                value:\n                  simple: account\n          accessor: entity_id\n      extend-context:\n        simple: AssignmentID=results.[0].id\n      host_ids:\n        complex:\n          root: inputs\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: inputs.entity_type\n                iscontext: true\n              right:\n                value:\n                  simple: host\n          accessor: entity_id\n      ignore-outputs:\n        simple: \"false\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 7dc8e9aa-88a4-487b-8d71-2fcbf0b85328\n    type: regular\n    task:\n      id: 7dc8e9aa-88a4-487b-8d71-2fcbf0b85328\n      version: -1\n      name: Delete the context for the AssignmentID.\n      description: |-\n        Delete field from context.\n\n        This automation runs using the default Limited User role, unless you explicitly change the permissions.\n        For more information, see the section about permissions here:\n        - For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \n        - For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"19\"\n    scriptarguments:\n      key:\n        simple: AssignmentID\n      subplaybook:\n        simple: auto\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 380\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: 57e275d5-c4f2-41e8-89aa-3f4a0dd98402\n    type: condition\n    task:\n      id: 57e275d5-c4f2-41e8-89aa-3f4a0dd98402\n      version: -1\n      name: Is entity Account or Host?\n      description: Check if the entity is a host or account.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"8\"\n      Account:\n      - \"22\"\n      Host:\n      - \"3\"\n    separatecontext: false\n    conditions:\n    - label: Host\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.entity_type\n                transformers:\n                - operator: toLowerCase\n            iscontext: true\n          right:\n            value:\n              simple: host\n    - label: Account\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.entity_type\n                transformers:\n                - operator: toLowerCase\n            iscontext: true\n          right:\n            value:\n              simple: account\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: b5c3d9de-4c69-45b1-8e45-c93fde29bd48\n    type: regular\n    task:\n      id: b5c3d9de-4c69-45b1-8e45-c93fde29bd48\n      version: -1\n      name: Add Note for an Account.\n      description: Add a note to the account.\n      script: '|||vectra-account-note-add'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    scriptarguments:\n      account_id:\n        complex:\n          root: inputs.entity_id\n      note:\n        complex:\n          root: inputs.user_id\n          transformers:\n          - operator: concat\n            args:\n              prefix:\n                value:\n                  simple: 'This entity has been automatically processed by XSOAR. The incident has been assigned to the user with user ID '\n              suffix:\n                value:\n                  simple: ' and the XSOAR incident ID is '\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: incident.id\n                iscontext: true\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: .\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 1285\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: 1d272f2f-6bec-46d8-8756-23726a6bca21\n    type: regular\n    task:\n      id: 1d272f2f-6bec-46d8-8756-23726a6bca21\n      version: -1\n      name: Fetch Entity Active Detections.\n      description: Returns a list of Detection objects. All search attributes will be cumulative unless you're using the search_query_only one, in that case, only this one will be taken into account.\n      script: '|||vectra-search-detections'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"20\"\n    scriptarguments:\n      search_query:\n        complex:\n          root: inputs.entity_type\n          transformers:\n          - operator: If-Then-Else\n            args:\n              condition: {}\n              conditionB: {}\n              conditionInBetween: {}\n              else:\n                value:\n                  simple: 'detection.src_host.id:'\n              equals:\n                value:\n                  simple: account\n              lhs: {}\n              lhsB: {}\n              options: {}\n              optionsB: {}\n              rhs: {}\n              rhsB: {}\n              then:\n                value:\n                  simple: 'detection.src_linked_account.id:'\n          - operator: concat\n            args:\n              prefix: {}\n              suffix:\n                value:\n                  simple: inputs.entity_id\n                iscontext: true\n      state:\n        simple: active\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 172.5,\n          \"y\": 220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"18_23_yes\": 0.57,\n      \"18_8_#default#\": 0.24\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1655,\n        \"width\": 1142.5,\n        \"x\": -100,\n        \"y\": -120\n      }\n    }\n  }\ninputs:\n- key: user_id\n  value: {}\n  required: false\n  description: User ID for entity assignment.\n  playbookInputQuery:\n- key: entity_type\n  value:\n    complex:\n      root: incident\n      accessor: vectraentitytype\n  required: false\n  description: Type of the entity.\n  playbookInputQuery:\n- key: entity_id\n  value:\n    complex:\n      root: incident\n      accessor: accountid\n      transformers:\n      - operator: SetIfEmpty\n        args:\n          applyIfEmpty: {}\n          defaultValue:\n            value:\n              simple: incident.deviceid\n            iscontext: true\n  required: false\n  description: ID of the entity.\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.5.0\n",
  "product": "Vectra TME Integrations",
  "pack": "Vectra_AI",
  "support_tier": "partner",
  "use_cases": [],
  "fromversion": "6.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "network-security",
    "playbook",
    "product:vectra-tme-integrations",
    "soar",
    "support:partner"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "DTFIPYujMDvawLO9g1rCO/1+Cj0R1J28kVg0PeaFBD2Zm9y8Xi9nux9QM7t8zYs9ADOCPe3Fy7sWRT48oXdKvbTJlTtVvqs7CR3bui2YgrwpXFm9k/0hvWc3S7z7kK480bGTvJResb2QaUM8aQ0KvJgqLL3eFCq8t6HqPDjdzzxCTpq5tOcDvGyHEr3IW6C8/bvovE4pzjot+hk8+AvpvNyTmryQQzS9xhU3PEc8ED3VYDg8GXNUvZr6ar0dU848SGZXvedz77uvwn09zkZgPOawKb32yCc9P2oRvJPXFL05PLy7vgB0vc9xoDwOMcC7BixpvA2PiDvo2BE8ScaVO2sXoj0bypi81VddPItNkTyWoYK9ALGhPTfhiLxeB7I8cqtIvdu//DvCqDm8RTAjvdRCyLzDyhY8uKyMPEiVJD2XcAg8F5+cvMPGDT1grqs8TK+MvZeJmbyy8wk8KuaevYdAd73lDtg8FR6TPXngM73cAlO7KaiKPSlcND1d+9G8bjyOvVQHAr69GgA99ZIHPbj5Cby/61W89cPBvKfZ/zz4uyM9LDyxPBRpsLzbZ0G9ABaAvfP2njuUxSc8USlEu1Hs4bs43ic8dbOTvbh6njzRHVY8xN5PPE0ZlrtkUB69OmntO+adUD3kHqI8qxcqPZI/hz1GTt49XyFKPFdK0rxiyki9Q/+SPItuGD0iv+q8BLJSPE+KrrytLB08JzemvNrQlTyP8+a7pugoPSRnhbx/qYy8pUFZPNkw4b1+z7o74iwKPVrywLxPfFc9M6nKPTbUbjubjBi9+0c2PEh7rTxrXZK9z9QePPCb/Lzn2Ey9OdkCvHJLF70FO4M7Z6QyvWhrUbty+Ay8SKZCvcyjdjyo5xS9ArNuvc412rzyv/C8iddNvTAH0TwbUTm92mQNPCG6H7131GA8Bejgu1wCGLsewa28cMLIvAN7UryaVwe9wjccPVrQNTw04sc77gz2vS4tHz3V7YI8Upu9vRvkyjz4Z7U8wewPPYmqIb1knCk8PI/IPG9dSz0VCQ29nUiwvIFuMDw3g1c8qVKru/ND/ruGrok9NTL/PE2pxLpppvu9WBCPvXxau7zxcHi8Ks5zvegiszucs+C7CptJO+gvBj2cgba7uYAevRKZNjv3RDe7nzviPDZrGbpQ/MI9KJUSvftftTwupIm8X2tDPMz2Dj3tLze9k3g5PGYtZr0YN0Q9MfpqvELdFL1jOCE9DsadPGzolLrHxHK8ZbIzvHEvAj0SADU9tLFIvdsYK71Sw4M7mhAAvbFWrTvZJ+07PgnJumGkxz3akwm9vt1Hu3jd0rxduCO8fGCDvN6W/7tNTVC9pa/BPAWNkTqdlLI8Ljhbu/tplTwNO+m8n9tDvL6DHb3R/kE96FyWvCMWWry1vKe8dauOPF5Rpb0hVHO6KLbevG5gOD2GY9Y7R6wyPeKanbygrEq9AEEKvbXK0LxTvFg7qOaVvKeMdD2/8Lm9O4E2vaZ4hTzsn5W81IEfPMN1hbzMr2K8/AZVvUC81LxUZ1y7DtD6u6zTJLxqKte7b2PqPCOyk72UcJG9uQ4pPcaHSbxgDgQ9RVu5PSVrMLq9di07gMtAPYbXpz2vRay8ZQvIPF1sH726XTE9r12uPMVCDT3XmSA8F4qJvJvRRztIVzu7E7lVvOtWRjx3Lju63TEEvAP3ir1vihO9BBeKvFVtETyBnJc8/QC1PLBAZLxA2R08nQcGulPL5DtiSo083exBvUJEJbz8KDK9qruRO5m33ruvrpM8FJ2zvG9y3rsibEo9QB2YvfL9CjxCfZM99krkPNWB3zmZfMA7sMBOPHYX/TyCAwC8BCGivEAJSDtQF5u8Ll9NPUFgjz3tY6Q89IqnPYHrvLwTyOo7ZUmOPIT4ubzZfIm7j0pNvSh4ijwz64s8u0MLPG1BdD1v2uM8q0hIPVlv4bxpxhu9Le82PZFB7TyKLug8wU4uvXRVMjwWcsy8FduYPHcLD73BfvU8g3eGvU4JCb2UXyQ9YFO/PKsp27wcJuM8YDKMu9NSpryMyFA8JlrIPLritz2Q2hq9NEm2PNQCobs8z0O8iKmou2S9zj2gxek8u5WXPfYh+ryydre8WYHSuZevrj2citM8DDXfvE1Znjxi+8O85H9XPeJFlL2ag7g8kOanPMABFD1ZMJK8eGBovZ047zzpL7C6+gjlPBprCbzlZc48q3TfPOrBtjx39JM8VTzIOw1mJbpLUjY9OtQTPMDokztyQWq8xaLVPNWiH7wX6dy9y/8lvUUUZ7wEfrw8AVBsO4lrQ7xPDwo9FtqFu9BCgDy5Lt+817s9PVWSwjssuh29gUFRPGcfjTzSbxE9ZnyOulUeDz3GGhQ9t0KTvIo1zTu5XZ66weyyPJl52jxG9oY7IU0mvJqm6by2oQy9pnPvvO/M771y+Dc9OoR2PEfTeTy7LUm6PjlHPOCuh70uTAk9syzFPVB1b7yxgC88Xf31vFqKL7x/5hU9RMBOvJU7ZT1Q7Wk8Z5LUPIiWvDzth148DDSZvWu/Fj1xccQ7kASQu0S/FTvxyZc87RBBvZBmgbyPj+w8GRfePKk77TyAYzi9QONAuxkjPTyDPg09z2kjvYtJab1T7127nsSfvXi2E70RSKs7Tm+EvUk6Jj1yx6K80NKHvN5aNj1vhlc9BSwMPYXRbrl4Mde78lKhu9tMMDw5sNq8QS9lPIRJOjymDVo9ibhOPUOnVL3CdzU9sVYBvS5JH70xkN48kB4evb1MmLwn7aM8azF0PAtTjLwXxXq8aUA7PYcoQbyBlEu8IkczvSn6Gbl9nZM8z6X6vFzMnjxhCCK9mviOPa5eJjwyFWo7alenvJNLqT3Pxv089hWCO9tJGT1cZPU8X4KSO5XD6DtDCNg8dryyOlWZl7uyWcM8VlIJvROEHT2TFdQ4n4pGPW8daLxwmzo5iTfEvBTB1jzlRUm83RELvSwE7jzdEAC9rSZTuzwExTyUvoW7W4/4vLOq3bzCYSa6wl6lvMetw7n3jpO9cpsmPQU1vLqp1cy8c7RkvPRLCLy4xjg91KqGvD8eIL3TlAu9ONC/vB75WjqJr7C8kZRfPOQ6p7wRawO976igPdEvgruHly+9kJy1u2le3rsFgyU9Zdk9vbwhGbyxdQO9itSrvBum+jw4GGS6p9wEPFcpnzycHWC9ygxjO1i3zjvvU7G8RgL/PPpvBL1YTVQ9pI0lPNw1iLyvr4i9QSPTvP3KBb2KIRY8AzjiOwqCU7wwLSc9k/JAvHmctLzryIO9FLeMvIUux7whNJG80fd7vIO88zwfUVQ9VrlPPaqF4butgi69BAvwPGLWaTyh0429KjDKvHdkGz1imyY8B2p2O+sO3zuENWM9KTg7vVjG1rxMUk+9pnuwuoWFBj336kg86+asvFxQJT0A3lY9okmUPa+WibuGSKu9+qtzvJOAuzwnM8K9w4MLvTH5Mjy8Q4k8t72VPY+QHr34r8o8FWhvvfp2ULxHnkq8Mrt+vOaVMr0drqK9iYdPPS8p/LxTB2K9yX68PEz+LL3NaTc7n2E9vUvRGb1fsjS6j+4XPCJtijwI9B49ZCIAPc6teD1eHHI8x0OnvA4EJj1eHmA9j4khvVPBF71F+lA6MzUFvc2MujxkCjG8DBc7POYiHLwf5SI8QoxUvZ7WobyvC8a8Ww68OxqnYD0peJ66/5wWu+6OSrvkog89mpobvcnYvbtrtki9CD+RvBYQoDzTgzk8qtrsvP4rBL0ax2U8dZcKvVfupTwTQaw9jBO9vbDlkzySFkC9TokXPautNz3M2hm8A0yOPI84pDu5pKy7z40dPSxrszyQ0fi8xd5HPCBTP73XZWk9eOtyPRLH37upf6u8+NkFPAUNMjwOT4G9oS3avAdeKj1LBs88UHE8vW6Q9jrTStQ8HP11O1+Zcrwmntu83ompvLGSsjxQzZu8LhB6vDnbKb3pd868GUSmPIilZz1ysKk6mhy1u8G8nzyiJYW8KjdbvQ4t67w3u5g8r542PYDoqbza/Wm8o8NTvTabRb3Pw9M8ToWJPAKoAr1zYTo9r443vWkg9TvjBOm89x+IO903gj2ydzA8"
}
