bundles/spark/kbs/soar-playbooks/entries/pb-vectraxdr-mdr-escalation-process-vectra-xdr.json
{
  "id": "pb-vectraxdr-mdr-escalation-process-vectra-xdr",
  "title": "MDR Escalation Process - Vectra XDR",
  "category": "playbook",
  "content": "This playbook retrieves the MDR ticket number associated with the given entity by parsing its notes. It then collects the entity's active detections, performs a detection assessment, and sends the results to the designated recipient via email.\n\nCortex XSOAR/XSIAM SOAR playbook from the Vectra AI pack (VectraXDR, partner-supported).\n\nUse cases: Network Security, Asset Management, Vulnerability Management, Breach Notification, Incident Response.\n\nInputs — entity_id: The ID of the entity.; entity_type: The type of the entity.; recipient_email: The recipient email address for MDR escalation process.; detection_assessment_limit: The number of the active detection to be assessed..\n\nIntegrations/scripts used: Print, Set, VectraXDRGenerateMailBody, send-mail, vectra-entity-detection-list, vectra-entity-note-list.",
  "raw_yaml": "id: MDR Escalation Process - Vectra XDR\nversion: -1\nname: MDR Escalation Process - Vectra XDR\ndescription: This playbook retrieves the MDR ticket number associated with the given entity by parsing its notes. It then collects the entity's active detections, performs a detection assessment, and sends the results to the designated recipient via email.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: bb80ae15-573a-4f39-8548-aafc043e8aab\n    type: start\n    task:\n      id: bb80ae15-573a-4f39-8548-aafc043e8aab\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": -110\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 88a1165a-55fa-469b-856c-7c938068a31b\n    type: condition\n    task:\n      id: 88a1165a-55fa-469b-856c-7c938068a31b\n      version: -1\n      name: Is Vectra XDR Integration Enabled?\n      description: Check whether the Vectra XDR integration is active.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"14\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: VectraXDR\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 25\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: bbe936bc-196a-476f-8fd2-b21d0ef4079a\n    type: title\n    task:\n      id: bbe936bc-196a-476f-8fd2-b21d0ef4079a\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 620,\n          \"y\": 2600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"3\":\n    id: \"3\"\n    taskid: bc197e79-3174-4add-8316-8c53f55b521e\n    type: regular\n    task:\n      id: bc197e79-3174-4add-8316-8c53f55b521e\n      version: -1\n      name: Fetch Entity Active Detections\n      description: Returns a list of detections for a specified entity.\n      script: '|||vectra-entity-detection-list'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"4\"\n    scriptarguments:\n      entity_id:\n        complex:\n          root: inputs.entity_id\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Entity Details.Answers.0\n                iscontext: true\n      entity_type:\n        complex:\n          root: inputs.entity_type\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Entity Details.Answers.1\n                iscontext: true\n          - operator: toLowerCase\n      extend-context:\n        simple: EntityDetection=results\n      page_size:\n        complex:\n          root: inputs.detection_assessment_limit\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: 4b5bb247-dddf-42b1-8de8-862f0d13c144\n    type: playbook\n    task:\n      id: 4b5bb247-dddf-42b1-8de8-862f0d13c144\n      version: -1\n      name: Detections Assessment - Vectra XDR\n      description: This playbook conducts a detection assessment and saves the result in context data.\n      playbookName: Detections Assessment - Vectra XDR\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"13\"\n    scriptarguments:\n      detection_id:\n        complex:\n          root: EntityDetection\n          accessor: id\n      detection_name:\n        complex:\n          root: EntityDetection\n          accessor: detection\n    separatecontext: false\n    continueonerrortype: \"\"\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n      forEach: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1480\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"5\":\n    id: \"5\"\n    taskid: a1267b3a-830e-469a-8ac0-88c27017d573\n    type: regular\n    task:\n      id: a1267b3a-830e-469a-8ac0-88c27017d573\n      version: -1\n      name: Send Email\n      description: Send an email.\n      script: '|||send-mail'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      body:\n        complex:\n          root: VectraXDRMailBody\n      subject:\n        simple: MDR Escalation Notification - ${incident.incidentlink} [${incident.vectraxdrentityname}] - ${MDRTicketNumber}\n      to:\n        complex:\n          root: inputs.recipient_email\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Send Mail To.Answers.0\n                iscontext: true\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 2430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: f3d0553d-3014-46b4-8200-09d6903edec9\n    type: collection\n    task:\n      id: f3d0553d-3014-46b4-8200-09d6903edec9\n      version: -1\n      name: Provide Recipient Email Address.\n      description: Provide the recipient's email address.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 410,\n          \"y\": 1830\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Please provide recipient email address for MDR escalation process\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Provide Recipient Email Address.\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Provide recipient email address for MDR escalation process.\n        readonly: false\n      title: Send Mail To\n      description: \"\"\n      sender: Your SOC team\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 46f16ef4-5097-4ef6-83a4-c870078f5b05\n    type: regular\n    task:\n      id: 46f16ef4-5097-4ef6-83a4-c870078f5b05\n      version: -1\n      name: Generate Mail Body\n      description: Generate an email body based on the detection assessment for Vectra MDR as part of the escalation response process.\n      scriptName: VectraXDRGenerateMailBody\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"16\"\n    scriptarguments:\n      body_content:\n        complex:\n          root: DetectionAssessmentResponse\n          transformers:\n          - operator: Stringify\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 2005\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: c3eb4b42-ab65-4964-80d1-7857a7e35011\n    type: regular\n    task:\n      id: c3eb4b42-ab65-4964-80d1-7857a7e35011\n      version: -1\n      name: List the Notes of an Entity\n      description: Returns a list of notes for a specified entity.\n      script: '|||vectra-entity-note-list'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      entity_id:\n        complex:\n          root: inputs.entity_id\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Entity Details.Answers.0\n                iscontext: true\n      entity_type:\n        complex:\n          root: inputs.entity_type\n          transformers:\n          - operator: SetIfEmpty\n            args:\n              applyIfEmpty: {}\n              defaultValue:\n                value:\n                  simple: Entity Details.Answers.1\n                iscontext: true\n      extend-context:\n        simple: EntityNote=note\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"9\":\n    id: \"9\"\n    taskid: 1f42268a-72a3-4dc2-8014-bd0072775b96\n    type: regular\n    task:\n      id: 1f42268a-72a3-4dc2-8014-bd0072775b96\n      version: -1\n      name: Set MDR Ticket Number\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      append:\n        simple: \"false\"\n      key:\n        simple: MDRTicketNumber\n      value:\n        complex:\n          root: EntityNote\n          transformers:\n          - operator: StringifyArray\n          - operator: RegexExtractAll\n            args:\n              error_if_no_match: {}\n              ignore_case: {}\n              multi_line: {}\n              period_matches_newline: {}\n              regex:\n                value:\n                  simple: \\[MDR#[0-9]+\\]\n              unpack_matches: {}\n          - operator: FirstArrayElement\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -40,\n          \"y\": 1130\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"10\":\n    id: \"10\"\n    taskid: 204ecb72-4ce7-4132-8102-38c882be9d3e\n    type: condition\n    task:\n      id: 204ecb72-4ce7-4132-8102-38c882be9d3e\n      version: -1\n      name: Is the MDR Ticket Number Available?\n      description: Check whether the MDR ticket number is mentioned in any note.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"15\"\n      \"yes\":\n      - \"9\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: EntityNote\n                transformers:\n                - operator: StringifyArray\n                - operator: RegexExtractAll\n                  args:\n                    error_if_no_match: {}\n                    ignore_case: {}\n                    multi_line: {}\n                    period_matches_newline: {}\n                    regex:\n                      value:\n                        simple: \\[MDR#[0-9]+\\]\n                    unpack_matches: {}\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 955\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: 22c7b008-5483-4cff-8196-22ad735f9fb8\n    type: condition\n    task:\n      id: 22c7b008-5483-4cff-8196-22ad735f9fb8\n      version: -1\n      name: Are the Entity ID and Entity Type available?\n      description: Check whether the entity ID and entity type are available.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"12\"\n      \"yes\":\n      - \"8\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.entity_id\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.entity_type\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 440\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 2fdb4703-8a47-4add-8789-3526f62dc48f\n    type: collection\n    task:\n      id: 2fdb4703-8a47-4add-8789-3526f62dc48f\n      version: -1\n      name: Provide Entity ID and Entity Type.\n      description: Collect the entity id and entity type.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"8\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 610\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n        simple: Please provide Entity ID and Entity Type for MDR escalation process\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Provide Entity ID\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Use the \"vectra-entity-list\" to get the entity ID.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Provide Entity Type\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: singleSelect\n        options: []\n        optionsarg:\n        - {}\n        - simple: Account\n        - simple: Host\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Specify the type of the entity.\n        readonly: false\n      title: Entity Details\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 728d0d1f-a515-4161-8880-d58565c2a74a\n    type: condition\n    task:\n      id: 728d0d1f-a515-4161-8880-d58565c2a74a\n      version: -1\n      name: Is Recipient Email Address Provided?\n      description: Check whether the recipient email address is available.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"6\"\n      \"yes\":\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.recipient_email\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 1660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: 8dae0614-da87-4946-855a-52a2efeb6392\n    type: regular\n    task:\n      id: 8dae0614-da87-4946-855a-52a2efeb6392\n      version: -1\n      name: Delete Context\n      description: \"Delete field from context.\\n\\nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\\nFor more information, see the section about permissions here:\\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations \\n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\\n- For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script\"\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      key:\n        simple: Entity Details,MDRTicketNumber,Send Mail To,DetectionAssessmentResponse,VectraXDRMailBody,Assessment for Detection,EntityDetection,EntityNote\n      subplaybook:\n        simple: auto\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 270\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: 856beb4c-76ef-46ac-8761-772bef7eff70\n    type: regular\n    task:\n      id: 856beb4c-76ef-46ac-8761-772bef7eff70\n      version: -1\n      name: Print MDR Ticket not found Message\n      description: Prints text to war room (Markdown supported)\n      scriptName: Print\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      value:\n        simple: No MDR ticket found in the notes.\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 380,\n          \"y\": 1130\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"16\":\n    id: \"16\"\n    taskid: 08d61c21-6bb7-4d4f-82d1-00f0934edad1\n    type: condition\n    task:\n      id: 08d61c21-6bb7-4d4f-82d1-00f0934edad1\n      version: -1\n      name: Is Mail Sender (New) Integration Enabled?\n      description: Check whether the Mail Sender (New) integration is active.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Mail Sender (New)\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 162.5,\n          \"y\": 2180\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"10_15_#default#\": 0.56,\n      \"10_9_yes\": 0.51,\n      \"11_12_#default#\": 0.55,\n      \"11_8_yes\": 0.52,\n      \"13_6_#default#\": 0.57,\n      \"13_7_yes\": 0.48,\n      \"16_2_#default#\": 0.59,\n      \"16_5_yes\": 0.57,\n      \"1_14_yes\": 0.58,\n      \"1_2_#default#\": 0.26\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2775,\n        \"width\": 1040,\n        \"x\": -40,\n        \"y\": -110\n      }\n    }\n  }\ninputs:\n- key: entity_id\n  value:\n    complex:\n      root: incident\n      accessor: vectraxdrentityid\n  required: false\n  description: The ID of the entity.\n  playbookInputQuery:\n- key: entity_type\n  value:\n    complex:\n      root: incident\n      accessor: vectraxdrentitytype\n  required: false\n  description: The type of the entity.\n  playbookInputQuery:\n- key: recipient_email\n  value: {}\n  required: false\n  description: The recipient email address for MDR escalation process.\n  playbookInputQuery:\n- key: detection_assessment_limit\n  value:\n    simple: \"50\"\n  required: false\n  description: The number of the active detection to be assessed.\n  playbookInputQuery:\noutputs: []\ntests:\n- No tests (auto formatted)\nfromversion: 6.10.0\n",
  "product": "Vectra AI",
  "pack": "VectraXDR",
  "support_tier": "partner",
  "use_cases": [
    "Network Security",
    "Asset Management",
    "Vulnerability Management",
    "Breach Notification",
    "Incident Response"
  ],
  "fromversion": "6.10.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "breach-notification",
    "incident-response",
    "network-security",
    "playbook",
    "product:vectra-ai",
    "soar",
    "support:partner",
    "vulnerability-management"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "AO6EPVayOzwlCWm9mEAAPYgCgDw8vwO7mnM2PYnwoTxR6de8LGw+PBWKxLvJb4s9Nd+jPRZTRrwyTCs9yVZjvacYPj29eiQ9dqoSvb83pbwJiy69msYOvc6+NTt6E0I9qtUNvDQuR70gvJ88N5UJvM2uWb2DL1g8FOCEPKiEnjz/iYq690iBu4O25rwj0GS8s4OVvAntfrx5qY+8/ZWsvOAHEr2e8i+991HqO79b+zxCtCm8DZxIvQ7jUL1B/hA9FLOIvVlteTsYYYc98qRiPEjSBb3laAM9zvkYPF2hpbwMyVO7KPJcvariH7uEgjy8g0n1u6e3obxLYa08rVvHPMqYtj2TsRI6+4+uPChYkDw6a1C9bJ52PQ5CGb3Wxm49D/39u9xrwDsJ6qC8SemEvMV18bvBpX46Iqi9PJijOT0RgW67nt9WvAtUTT1KvbQ8wKJnvf4DqLz1DL47dh3GvfGxPb00t6I8gKeSPWR0QL2U+1a8/iRxPSp5LT15J5C8N5lRvYKE0b3EMnA8S77/PE5E4budrRW9xtCku8N9vDxWvS093wPCPEXddLypAom92HaSvaDe+juDyog87aqfPH/Jrrxt4bw8oH+YvbDxsjwjh9k8sinTOjNV0Lsq63C9S6ilPA8rPj0p+oo73gkUPQjVYT0yQag9D1KpPERCAL2ElAO9LnNRPIgWLTznmsC8DnWVusQgC70tly+8aPWmvGuXAT1yaXi8R5ICPFC/4zsvWbM7ChwMPMc+Er4PzNi7EAsUPWI7Qr2ImC09mYK4PbITjzx/NDO9EmJwPK15A7zwEw29KjncPAxeubx3cAa9dGt7OzcNRL0fzwQ81w40vf8VMbyDJAu8PbklvXFVzjyvOX28avVcvS38u7xGp9w66M6Zvb2c9jyh9Au9k4BjvJb9j71P6ne8Zijnuyte5TwLlf68C1IovLu6jbwR0j+9aGOWPUsq7zzNSMM8WzGnvZqkSz1gOQs8Vmg4vSIvQ7rnUs87b811PQ2Htrw/uXO7VGMkPH42tT15Esi85HT7vDQZHD0Mlgc9YRWqvHCuAjvR9YI9+bmKPZX3tLuRUAS+OAh/vRtBA72/6gW93mKUvWhIOrzDfhW9aAzMPCvp/DywO3S87GcwvR8D37zjC9m8OUzMPAlmYjzBubs9rQOPvIlMoTwypiC8gD0wukwyoDsip4u8VZJZPZcynL2huSM9ljQAPURRbr29ew49xTAQPe5I4byKkIq8XJcgvCs0ST1M92w9Cv8CvTwFHr02cs279nEvvZhMBj3LMxA6lARmu4qtqj33/pO8LLycPD1fVr1Arwc6PT29vHm5mLyu6IG8jL+zPMZXVryzAqA67xp+PHSTlTzQJT48FndZvJdWKL3U00E97PcjvD0VRjxa7Z+8YaaZOpViqb3Xcw69GGMLvYcnET2sZvE7u90lPcSTgryR3j+9cOgfvUB3Br3KNsS7VuWavOmgZz0Vsc69pusBvW7wujsjupu863BuPIDzhLwy3tO7oNMMvS7qAbzK2OC7MZZ5u547YLw1nlo88/bjPMtPmb3ScWu9N30xPfHT07o63hc9jHunPau9AjpPHPQ6SCUePUWkLz0E+SK9eQuTPK2Ha73qHhM9I93bPNAd5Dyesn08zLBWu0EQDDxgjR08Zd6NvE7frzkaxVa8GsNivILLmr2bhAa9EPy+vASzHTzLPII8JKbCPLEu9Lykcgk9iRyOvG8XrrzkRSw8vvYGvR1ci7zUL/a8tfjoO2JwXLngmgY9/9b3umzSdryweks9J9uwvYBAgjzAY1Q9o/u7PHEpCT1j0yA8fVZxPLmM3zuLr3q8D8ctvF3gSjxUct+84QaJPcipQT16j4I80MKMPd/oQ7xRAJY8QAt2PKBgbbwE8rA7qVQ0vb60hDw6Sxs8anrtvCzfAT3/Io88DRjzPCywwLyKhfi8UkwvPXhFwjzi8Ws88YgGvfXQjDvvj6G77OYOPDEDu7soMsw88VqjvWx1db22phY9h7GnPLPtirwctLY8BIRAPABJAr3keHO6f8LbPAjgoj1BkDK9/NqWPPyRp7xjOdM7sAXAvPRo8T2l37s8H7quPco3Ub0iSKi8HY4lO5/eqj36H5w8VtvWvPP07zx+Xha9IGPjPKfwuL1Eqbg8RVaBuoOZHD2JINk75QxrvfFZYDx3nz88yiiZO1oowzmClkE9KXwbPBwbIDyGN9c8Li7LOwy5FjyAYKI9JbGQPIYvHTyb+4C8BsQZPSPZkLuxZtu9o7PGvJPuCL0oeb48IksAO9Jrlzm9zGs9/qPuuzozhLylBs+8igzXPJgWmTxPJye9TW+XO1oRLz2lKoQ8savQPOCKWj0+Nkc9hHnyvNFgfzx2Ll48ZNsPPbFnMD3LUdw7nNXkOS1+JLyV5O282falvBUE9L04iBE9Xd5cuzZd9jwOgze8eJmVvHSEj7335+47L9SyPTB1gLwwQPG7GkdYvCNGjrzGc0Y98bsUvJ9NXz2HAME8ICGwPD1cMz00sWI73T6WvSyKvrsybtQ7/1ADvAAkAruw1yY8ZIq2vFCQ6bwgy+M7iEQmPdBMET2ThQm9mZQtvI1hFTu+Lnk8YUUJvT41br0ItEI7Rvu7vTVr1LxJZm26M5KBvXupFD1wh7q8AoriuzLnAj2xIYs9x8yBPTnywTlvbN+8AT3ku1BPET2Mesm8QQmJOp9YMjxJTkU988CUPGtVF717D3s9UdPju8LWcL01/D08VrnCu1qXxLzBSiI9nt/HO43a9bxq8p27VeonPZ+pk7p8qIe8nbEavFj8g7qiUAM9Rwa+vGo8c7tUVaS8JtSJPShWOLxH/nG8nITXux82jj3VcuM8GyPSPIZdDj04rNI8PLX+PMzPczz3ei48mMDAPALoFDwjgQs9r93zvCXECz3Ctje8gjmMPT9h7Lvko5w81ZHQvMCPRjxzgCA8TwPPvB/R4zzctKe813IAva0dkTwU95q7kzipu4sVK70tapM8IDiCvYG42bpf+0O9g//cPGch1jzWbQS81cwmPBW4ybskfoE8fOOhvLCHa720r1q9NsMIvbTUArw26Ua8sBdNPL1t0LtVfRM8SA6gPQqigjptbFK9JTy+Owa/J73milo8aDp1vUINsrwu5PW7vb42vBtSJD1aq068/TLXO5xgkzwwIy29JrJBvKA/5zrOY446ZLMhPAAk/Lzca409cMgBPDHydL1NKUC9BvFvvNFoXL1gwWo7zzy8Ovhuxry5My49j97Su6wTKL2ZR0+9BvmdvLM3ebxMcDw7BT+TvPmGBTxO50k9VSb5PCghBjuONwe9n1z2PNnQ4DzvosC8J/12vC1uDj1fThg8E5L6ulnLZDqaOYE9b6oEvUJnmLzwAha9IBS4uQrzDTwyEA09DqeuvIZFLz1fV7E8vvybPRvHwTsE16K9JmDAvNIDmjxhP7a937uxvLSKBLyUAu88PRtvPXGvOr13HQE9D8p2vfaxjLz0Hpy8dWG+O0uvF7wfnsW9jnACPeo91byq1MO9mqLlPFqYbL06HQg97/Zhvf+EAL0QP346p0C9PHKCtbtqAps8pmtGPUOehD0R3tQ8tLLxukjLSzxWgFY9ubgAvdnpoLwtUk27UKVzvJ1wwjylRqG8O4GdO1WOabu1vM47yBc9vdry2Lthksu8WLfZPA80Nj3YMEY8ltFju18g1TsLt5c8ySsJvGYECTyAFNq8xzY5vP+0DTz9bIM81dFCvTEFVrwG4ws9aXyMvP8JyTxdTEs97ZXNvZkcwDwo+wq9bR0nPWTMmDyGANA7TxUMPf3PUbzmE3u6fuBEPWBF3TxQR/e8JFThPFlbwLzFf0I9gDtbPTXZtbvT3QG9yKAevIP2brzdiXO9NZzUvPU+Yj2sVqo8YOnqu6FYszxqXWA8IaaKO+kPLLw+cfK8Lng7vGRVj7rzFUm8ANdgvEYyJL1jPhm8RHj6Oxnvaj0K/5481y0NvCsDXDxUy2q8YU2bvY+6kbxox2o8CXV/PD+BP7zt4bE88vOAvRGdB72+emo9LeumO7p/67tLE3Q96fmEvZCY07usSxW9ihIMu3vzKz21X/O7"
}
