bundles/spark/kbs/soar-playbooks/entries/pb-windowsforensics-ps-remote-get-registry.json
{
  "id": "pb-windowsforensics-ps-remote-get-registry",
  "title": "PS-Remote Get Registry",
  "category": "playbook",
  "content": "This playbook leverages the Windows built-in PowerShell and WinRM capabilities to connect to a Windows host to acquire and export the registry as forensic evidence for further analysis. The capture can be for the entire registry or for a specific hive or path.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (WindowsForensics, xsoar-supported).\n\nInputs — Host: A single hostname or IP address from which to export the registry file. For example, testpc01.; RegistryHive: The registry hive/path to export. If no value is specified, the entire registry will be exported.; FilePath: The path on the hostname on which to create the registry file. The default path will be c:\\registry.reg.\nIf the AddHostNameToFile input is \"true\", the file downloaded to XSOAR will contain the hostname.; ZipRegistry: Specify \"true\" to zip the reg file before sending it to XSOAR.; AddHostNameToFile: Specify \"true\" for the downloaded filename to contain the hostname, or \"false\" to keep the filename as configured in the FilePath argument..\n\nOutputs — RegistryDetails: The Registry file details..\n\nIntegrations/scripts used: IsIntegrationAvailable, Set, Sleep, UnzipFile, ps-remote-download-file, ps-remote-export-registry.",
  "raw_yaml": "id: PS-Remote Get Registry\nversion: -1\nname: PS-Remote Get Registry\ndescription: This playbook leverages the Windows built-in PowerShell and WinRM capabilities\n  to connect to a Windows host to acquire and export the registry as forensic evidence\n  for further analysis. The capture can be for the entire registry or for a specific\n  hive or path.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 66e0dc4d-1223-4668-8d35-35f645699e76\n    type: start\n    task:\n      id: 66e0dc4d-1223-4668-8d35-35f645699e76\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"2\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"2\":\n    id: \"2\"\n    taskid: eee3be21-cdfb-49e3-8a6b-00ad537bada1\n    type: condition\n    task:\n      id: eee3be21-cdfb-49e3-8a6b-00ad537bada1\n      version: -1\n      name: Is PowerShell Remoting enabled?\n      description: Returns 'yes' if the integration brand is available. Otherwise, returns\n        'no'\n      scriptName: IsIntegrationAvailable\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"4\"\n    scriptarguments:\n      brandname:\n        simple: PowerShell Remoting\n    results:\n    - brandInstances\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 230\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"3\":\n    id: \"3\"\n    taskid: 33ae149a-7cfb-4323-8cd8-46ce2ea0a40d\n    type: title\n    task:\n      id: 33ae149a-7cfb-4323-8cd8-46ce2ea0a40d\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 450,\n          \"y\": 2240\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"4\":\n    id: \"4\"\n    taskid: ebb866b3-d6a5-41b6-8f84-f45aeeb7f7fe\n    type: condition\n    task:\n      id: ebb866b3-d6a5-41b6-8f84-f45aeeb7f7fe\n      version: -1\n      name: Was a host specified?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"9\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.Host\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 220,\n          \"y\": 430\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"5\":\n    id: \"5\"\n    taskid: 093c8c39-ca13-4c1a-8c35-24d95aae0eb6\n    type: regular\n    task:\n      id: 093c8c39-ca13-4c1a-8c35-24d95aae0eb6\n      version: -1\n      name: PS-Remote export registry\n      description: This command exports the specified registry of hive to a file.\n      script: '|||ps-remote-export-registry'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"10\"\n    scriptarguments:\n      file_path:\n        simple: ${inputs.FilePath}\n      host:\n        simple: ${inputs.Host}\n      ip: {}\n      reg_key_hive:\n        simple: ${inputs.RegistryHive}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"7\":\n    id: \"7\"\n    taskid: 95b830c0-15a0-4f95-83f0-ab00f0d0788d\n    type: regular\n    task:\n      id: 95b830c0-15a0-4f95-83f0-ab00f0d0788d\n      version: -1\n      name: PS-Remote download file\n      description: Download a file from the remote endpoint.\n      script: '|||ps-remote-download-file'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"11\"\n    scriptarguments:\n      check_hash:\n        simple: \"true\"\n      host:\n        simple: ${inputs.Host}\n      host_prefix:\n        simple: ${inputs.AddHostNameToFile}\n      ip: {}\n      path:\n        simple: ${inputs.FilePath}\n      zip_file:\n        simple: ${inputs.ZipRegistry}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1330\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"9\":\n    id: \"9\"\n    taskid: 71b144fb-c439-4e81-85fa-cd0fe8dce5f0\n    type: condition\n    task:\n      id: 71b144fb-c439-4e81-85fa-cd0fe8dce5f0\n      version: -1\n      name: Was a registry file path specified?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"3\"\n      \"yes\":\n      - \"5\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.FilePath\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 110,\n          \"y\": 680\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"10\":\n    id: \"10\"\n    taskid: 23d533b8-20a3-4a66-892c-88a0edb7347b\n    type: regular\n    task:\n      id: 23d533b8-20a3-4a66-892c-88a0edb7347b\n      version: -1\n      name: Sleep\n      description: Sleep for X seconds.\n      scriptName: Sleep\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"7\"\n    scriptarguments:\n      seconds:\n        simple: \"30\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"11\":\n    id: \"11\"\n    taskid: 87ae39e1-4d19-4098-8b71-f398af90dbd1\n    type: condition\n    task:\n      id: 87ae39e1-4d19-4098-8b71-f398af90dbd1\n      version: -1\n      name: Was file zipped?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"15\"\n      \"yes\":\n      - \"12\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.ZipRegistry\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1500\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"12\":\n    id: \"12\"\n    taskid: 3180f174-9786-4f3f-89bd-69299956c169\n    type: regular\n    task:\n      id: 3180f174-9786-4f3f-89bd-69299956c169\n      version: -1\n      name: Unzip file\n      description: Unzip a file using fileName or entryID to specify a file. Unzipped\n        files will be loaded to the War Room and names will be put into the context.\n      scriptName: UnzipFile\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"15\"\n    scriptarguments:\n      entryID:\n        complex:\n          root: File\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: File.Extension\n                iscontext: true\n              right:\n                value:\n                  simple: zip\n          accessor: EntryID\n      fileName: {}\n      lastZipFileInWarroom: {}\n      password: {}\n      zipTool: {}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -340,\n          \"y\": 1700\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"14\":\n    id: \"14\"\n    taskid: d4e25d33-b379-435f-8b07-4116be9a39cb\n    type: regular\n    task:\n      id: d4e25d33-b379-435f-8b07-4116be9a39cb\n      version: -1\n      name: Set registry file details\n      description: Set a value in context under the key you entered.\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"3\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: RegistryDetails\n      stringify: {}\n      value:\n        complex:\n          root: File\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: File.Extension\n                iscontext: true\n              right:\n                value:\n                  simple: reg\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 2070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"15\":\n    id: \"15\"\n    taskid: 7bc93731-ece1-467a-8297-ccbea27db218\n    type: regular\n    task:\n      id: 7bc93731-ece1-467a-8297-ccbea27db218\n      version: -1\n      name: Mark and tag registry\n      description: commands.local.cmd.entriesTags.set\n      tags:\n      - Registry\n      script: Builtin|||setEntriesTags\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"14\"\n    scriptarguments:\n      entryIDs:\n        complex:\n          root: File\n          accessor: EntryID\n          transformers:\n          - operator: LastArrayElement\n      entryTags:\n        simple: Registry\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 40,\n          \"y\": 1895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2215,\n        \"width\": 1170,\n        \"x\": -340,\n        \"y\": 90\n      }\n    }\n  }\ninputs:\n- key: Host\n  value: {}\n  required: false\n  description: A single hostname or IP address from which to export the registry file. For example, testpc01.\n  playbookInputQuery: null\n- key: RegistryHive\n  value:\n    simple: all\n  required: false\n  description: The registry hive/path to export. If no value is specified, the entire\n    registry will be exported.\n  playbookInputQuery: null\n- key: FilePath\n  value:\n    simple: c:\\registry.reg\n  required: false\n  description: |-\n    The path on the hostname on which to create the registry file. The default path will be c:\\registry.reg.\n    If the AddHostNameToFile input is \"true\", the file downloaded to XSOAR will contain the hostname.\n  playbookInputQuery: null\n- key: ZipRegistry\n  value:\n    simple: \"true\"\n  required: false\n  description: Specify \"true\" to zip the reg file before sending it to XSOAR.\n  playbookInputQuery: null\n- key: AddHostNameToFile\n  value:\n    simple: \"true\"\n  required: false\n  description: Specify \"true\" for the downloaded filename to contain the hostname,\n    or \"false\" to keep the filename as configured in the FilePath argument.\n  playbookInputQuery: null\noutputs:\n- contextPath: RegistryDetails\n  description: The Registry file details.\n  type: string\ntests:\n- No tests (auto formatted)\nfromversion: 6.0.0",
  "product": "Cortex XSOAR",
  "pack": "WindowsForensics",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.0.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "forensics-malware",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "AuJMPKMq+TwZVqS9jWgPPDXhAD0asHa8PFAYPYs2BT06Chm9bJu9PAEgkbu2WzY9ycmBPcyDoDzlDeq85qo+vavJlD1FNn49H6PVvIC0ezr1yJm89mLzvE9Skrux36U8tjAePNHvqr1+WB89mypKvO0FGTy8TBk8kheBvJo1FT2UwMQ8Ozd7PElTbL0HjAm9i3oMva5EKzwSUs28/GyqOkYYPL1x6cO849jDvBOpdz37j7c8HEOjvHvSxryURn89I3WevavDiLvxBn89JmBKvOhj9Lw6zZo9OcBwPGXgA72TVWW7xUCAvaknT7yL4gA8iHIJvX2tzrsH3u88Uf/fPOz+QLsSrBM9Hd4VvVqU3LzUoQK91VuLPRwI57xf/pU9ozQVvWysmbv9HgA8N2DjPCyx6bubG6a8C1imO3RKljwX93S8CCW6usU9CT2p25W8lsblO3lrB7yf7p88Ymp0vT1vqjuLj0q6SCfqPZSpXrwjzZ48SFrZPXrxQT0RlgC8WKaFvfRux73Ct0O8QrGHPLHiw7ySMP67LADPO5ZVQr0RRiI8p04qPFKpULwooI69UxGxvf9uYrxT3hW80LzOO83vyzyCv0Q7i5A6vZKuYLwU5py8UXHiO65a6rxUWzq91jSOPNYgxjxr+R88sWQoPSzA0zygcf8887atuzXUcjxTDdS89POmPCEX07uIxvS89K9mPeVPJb0ycxG8EKObvObSBz1DfnW8sHxrPesY0rzBSQ69bY6TvJaXgr2fI6M8rRwPPY4DQDslPak8TsKIPQToNbwxX1e9K8zpOgFuPLwg93m9nF3ZvMNKHb28yIM8YOOKOaCxVb1zmxM8EpkQvYX0kbubtTS9G0hMPFJ9zjzggPy8sb/XvBA/Qb1nAfI7OFI0vepyCD3vIjm7Am80vf1H0708MJ+8w3iBvGpqizyAGZs7j1Lku4mmAbwYxqO8KgcFPYb/xbyZgy49aGqnvYNqWT0wcYw8RgzkvAA2gLsvtvw8NmQAPLgOQzx9nlk7UUa5vPujHz07Hl28FhSBuxTdWD3z6Pe6GYFkvAc1pDstxzM96p4LvWF0Prxmsbe94gZCvY9jojx2vCG9hMM2vanB7rxijIW96W0VPZJWxTzKmMm7ZhZivNc26Tx+u4o8VQj/POisnjwf8/U9mCEKvUhPMD3rhRo8Ra6RvMU2JzwAaHw8NUPqPGN/d71qs4A9jNkZvVgefL1zcQo85cMlPXDlizxFjUM9mNAOPe7lxTzRjso9PZjRu9TJjLwpZ1M82G0FvPJbIrxXu0M9JYuXvK3oqT3IaB+8gENxPK7CJbvjLom8R4p1vYMHfb2LuYW8aSDTPLvMlrzGFVC9FPNyvNmaRDzF7YW9+fyGPA9KBr3As549OZ4GvSLjsTs0T9O8s3nTvP6Mar09/4S9zOHbvCS6tbugVWy8ULQ5PRB1RbsyUb+8z4lQPDQrbr29ygW9Ug5AvS/4DD1KRIu9VjaTvQA3pbwdG/W8e2+kPPuqFLy3o1c7pESjvQk+njuH5pq77zyqvDoELrzu+ws9lNoePX6vH7249r69du4nPXyJRz0Z2fI8L0NaPdy0xbz3E4S8afWFPApZhz0XihC98EInPc1IPr1aRWS5gCgOPe1bTzuQV128iMoYPNxavrzsleM8peUevbDlR71mh2e8hUOrvLuV0r0V/mK7fzIYvRh+PbyFiam4F7JAvKsCW7up/aw8r2mRvMIsgLzyFNa8sMgTvTbLZrwZqti8YjpYO7o/iT1V1zC7iUBKO01DxjtRstU8mRSIvaibcj2IYfk8naQ6vFyGgTuXGGo70+fZPLYHurvDLGW8kdjYvDxPljxwrge943SKPQPkXT1oB9w7TmYgPSsoO7wWW6I8h23+Og3sObuU8bs8P1yBvZBhijsY+ra83wwPvMh+ezy7z448XooePZwaYTuk6Iq9hNDXPD9RVD3Dcz48BJ3BvIZ2BbwFQaK8VFcAPexaSrzDZzQ9etllvTl5OLyaq0Q7sj0xPSiyVL2JAq68QqU6PN6iz7wYyJK8cx2DPD78oT3m3g+9F67OPDQDYLvlggI77zZRvWHtTj1STm476FR2PYaghb12wpA7mHwEvUCqgj1Fszo8w+XsvC8bhbxTEgi9GsodPbTCDL0BnAw9ktb5u1HpETyL6u08bL0tvYne3jyf87o8DAWPPE0tjLsVurk8149CPIuDcDwX2rY8tHr+PGl28Lx1cto80hQavCaT37wzoqK8eQx0PFICYLwbXoi9ewcZvdckljxlUQ49sCIlPeEJHTx1+D09IAP1ugjqlD217hS9XsOEPM/5KD3bu+W8puVFPJVikT12jJM8YMphOnUxjj39+jU9pT8ivV4pbzw+/p+7QCYDPSviGj1gVP+8Bl/VvEPt2rpETMk7ApXtvNQV1L2q0wQ94bueux1EgTsSp6m8rlpcvFYnNr2TfAM9Q0d/PZyIcTyfv/67ZuOmvcRw3jwkip098Ja8PFc2tDyEMZe8hxgUPUENZDydJ0g9xATxvPe6PTw2RzU9jCaROk67G7zwauS8mwuvvWJWyzskkh09HP2DPKJV6Tz9MZS8EOi3vHEs7LzQfo875P/EO4FKfL2PKHK9N9HbvAiHN70hLX48hr+Vvb41ETyz4zK8cOrrvLmoUDyhovQ8zLxvPSEhU7z+oKe8djYIvG725DyFS9+8LK1yPG5u7buzUX090KqMPROgS73YYI89Kl0lvbFfP72YPMc7wOWhvHH1arzHWgk9gzUrPf9AxLziD048bqgLPESJA706Uyi9WoYYvWcJIDxYrD083pnfvKXGrDvgDg+9JN1fPatyjbogXCw9UY1MvcQmcj0uIF09rlsjPau2cj3/HDQ9ogKyPNMt4zyNels9x88humgRdzyfjJ89nNt3vAjmT7tbB2G8gg07PSSihLxCuBu8mVMjvMhEmbrZ2IG8Xg0JvbcCtzsDscm6Zx2lvOz6g7qwPgQ9sOB6vKwWBTwFHQu8/FDTvK6qGr2LiQu9oaH6PCNakDuGJCa8ofKSO9BsLzz91QI8TbdrvIs3JTtrVAm90ikXvVUmDz3YA4m8PZyTPEghJDybaBq81SBDPZ5xtbx9K4C8BumxunO/6Ls64IK8Rt6MvZcODLxJ8SS9ve/Tud6lwDzdeBo8XEa9PJr0qzyJigK9Ko7sPLzW9buzudO8p+y7vNTnHL2FdpQ9ENyPvEFNP70OmI69vZV1vDcdCb1Vwus8yaEEPdpWmryoOIk9zAH1vK9ArLvJsSO9exEdPMUHM70rKoi8DKyAvAF4nzx/1Yo9oxDpO/ORNr0LPzY5EFkQPYUuT71cKE+9D37iO2fMTT3j6Ei6uFOYu6dEybzZTVA9VLl7O4mc47yttyu9R0AwvUjpXj1TLG88oaxqvZgWKj3I3YE8t6qaPdEZorqhFpm976yAvJs2MTwaH6a9iR8EvLzVRTuj8t478JukPcAVU7285Hs9+dwrvfXGZjzcf4S8Dx+ZPH73C7xZtfS8Qr6tPDDZCjval7O9YyTFvIOAC7179ik9kFrruzzdQ73Y1CM9IoQ6PKsvQrxSsCU880dEPH3uDD14MGS7LoO4PPgL77xbKoQ9peNkulfK5zoS89o54RpBvXuRrjzdtYe8f2OSPBF8az1ScYU8fatKvAAPE70cD6I6tC+gPD+gyTwWMxG71CEzPAkUmDqL1x49FKw7vc4Ygrx/xiI8xz1+PIV0SDyuaFW8wgzhvONfwrxYMkQ9QXfCvN9l6bw7oJc9u/8Tvvb1LL1qGXq9EqhMPfVi37sbyx+8ODGiuiDXAT2CaZy87iTYPIl2iD3ygAC9Y3D/PBJ2T70ZkDs9rMRLPSTnPjzJwRK9SoNuu0R4ULxsOhO9bkCGvB9OMT3U20Y8HKw8vIl+qjwwyqO7Ijt5OmJ9ML3MctO84G9wvNtERr2o99I8hAG6vILSd73qkbq7QlbhvIr0jT3Wbkq8Qgc+PRt8RbvAeha96oMlvREf7TtMpjA8dTlcPOSYE7yHz5K8AS4EPTT3B7wGhEu7jZVFu+U93rsnN5U9uUE6vVVsAr28skm9+FryvGpqnTzrPtC8"
}
