bundles/spark/kbs/soar-playbooks/entries/pb-whois-tim-process-domain-age-with-whois.json
{
  "id": "pb-whois-tim-process-domain-age-with-whois",
  "title": "TIM - Process Domain Age With Whois",
  "category": "playbook",
  "content": "This playbook compares the domain creation time against a provided time value such as one month ago. The period can be configured within the playbook inputs MinimumAgeOfDomainMonths or MinimumAgeOfDomainHours. The playbook calculates the timestamp for the relevant period and compares it to the domain creation time value provided by Whois. The domains are outputted accordingly if they were created before or after the compared time, respectively.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (Whois, xsoar-supported).\n\nInputs — MinimumAgeMonthValue: The number of months that a domain must exist for it to be considered not new. For example, specifying the value 1 means that if the tested domain was registered less than a month ago, it will be considered a new domain.; MinimumAgeDayValue: The number of days that a domain must exist for it to be considered not new. Specifying the value 1 will mean that if the tested domain was registered less than one day ago, it will be considered a new domain.; MinimumAgeYearValue: The number of years that a domain must exist for it to be considered not new. Specifying the value 1 will mean that if the tested domain was registered less than one year ago, it will be considered a new domain.; WhoisResults: This input receives the Whois results from the parent playbook..\n\nOutputs — NewDomains: Domains whose create value is after the tested date.; NotNewDomains: Domains whose create value is before the tested date.; DomainsNotResolvedByWhois: Domains that could not be resolved by Whois.; DomainsNotProcessed: In case no time value to compare was provided, all domains will be outputted here..\n\nIntegrations/scripts used: GetTime, Set, TimeStampCompare.",
  "raw_yaml": "id: TIM - Process Domain Age With Whois\nversion: -1\nfromversion: 5.5.0\nname: TIM - Process Domain Age With Whois\ndescription: This playbook compares the domain creation time against a provided time\n  value such as one month ago. The period can be configured within the playbook inputs\n  MinimumAgeOfDomainMonths or MinimumAgeOfDomainHours. The playbook calculates the\n  timestamp for the relevant period and compares it to the domain creation time value\n  provided by Whois. The domains are outputted accordingly if they were created before\n  or after the compared time, respectively.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: b5dcd092-6098-4462-8098-93767c879127\n    type: start\n    task:\n      id: b5dcd092-6098-4462-8098-93767c879127\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"23\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": -950\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"5\":\n    id: \"5\"\n    taskid: 57efd3b2-b4d3-4d10-8cba-f34a35a35ea9\n    type: title\n    task:\n      id: 57efd3b2-b4d3-4d10-8cba-f34a35a35ea9\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": 1160\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"7\":\n    id: \"7\"\n    taskid: 855b93ac-bf59-4e64-869d-2a10ee19b6eb\n    type: regular\n    task:\n      id: 855b93ac-bf59-4e64-869d-2a10ee19b6eb\n      version: -1\n      name: Calculate timestamp to compare\n      description: |\n        Retrieves the current date and time.\n      scriptName: GetTime\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"24\"\n    scriptarguments:\n      contextKey: {}\n      date: {}\n      dateFormat:\n        simple: Date\n      daysAgo:\n        simple: ${inputs.MinimumAgeDayValue}\n      hoursAgo: {}\n      minutesAgo: {}\n      monthsAgo:\n        simple: ${inputs.MinimumAgeMonthValue}\n      yearsAgo:\n        simple: ${inputs.MinimumAgeYearValue}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 230,\n          \"y\": -240\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"23\":\n    id: \"23\"\n    taskid: f17738b2-b782-483d-8408-251a67da11be\n    type: condition\n    task:\n      id: f17738b2-b782-483d-8408-251a67da11be\n      version: -1\n      name: Was a domain value provided?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"28\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.WhoisResults\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 820,\n          \"y\": -830\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"24\":\n    id: \"24\"\n    taskid: 91fe3ce8-5148-4d26-8aab-a816ab33124f\n    type: regular\n    task:\n      id: 91fe3ce8-5148-4d26-8aab-a816ab33124f\n      version: -1\n      name: Compare domain creation time to input\n      description: Compare a single timestamp to a list of timestamps;\n      scriptName: TimeStampCompare\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"32\"\n      - \"33\"\n      - \"34\"\n    scriptarguments:\n      tested_time:\n        simple: ${TimeNow}\n      time_format: {}\n      values_to_compare:\n        simple: ${Results.WHOIS.CreationDate}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 230,\n          \"y\": -40\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"25\":\n    id: \"25\"\n    taskid: 5f8abed8-9254-4f70-82ab-04a8afd3394a\n    type: condition\n    task:\n      id: 5f8abed8-9254-4f70-82ab-04a8afd3394a\n      version: -1\n      name: Are there domains that were created after the tested time?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"26\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: TimeStampCompare.Result\n            iscontext: true\n          right:\n            value:\n              simple: after\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"26\":\n    id: \"26\"\n    taskid: 3b540998-d0db-4efe-8eb1-932288102468\n    type: regular\n    task:\n      id: 3b540998-d0db-4efe-8eb1-932288102468\n      version: -1\n      name: Set new times\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"27\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: NewTimes\n      stringify: {}\n      value:\n        complex:\n          root: TimeStampCompare\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: TimeStampCompare.Result\n                iscontext: true\n              right:\n                value:\n                  simple: after\n          accessor: ComparedTime\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 645\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"27\":\n    id: \"27\"\n    taskid: 2f57103b-e23c-4c72-8df1-f3fbfb4f570f\n    type: regular\n    task:\n      id: 2f57103b-e23c-4c72-8df1-f3fbfb4f570f\n      version: -1\n      name: Set new domains\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"37\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: NewDomains\n      stringify: {}\n      value:\n        complex:\n          root: Results\n          filters:\n          - - operator: inList\n              left:\n                value:\n                  simple: Results.CreationDate\n                iscontext: true\n              right:\n                value:\n                  simple: NewTimes\n                iscontext: true\n          accessor: Whois.QueryValue\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 780\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"28\":\n    id: \"28\"\n    taskid: 08d2ef21-b0b5-4283-8ef3-4063e69eaea8\n    type: regular\n    task:\n      id: 08d2ef21-b0b5-4283-8ef3-4063e69eaea8\n      version: -1\n      name: Set Results\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"39\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: Results\n      stringify: {}\n      value:\n        simple: ${inputs.WhoisResults}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 230,\n          \"y\": -660\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"29\":\n    id: \"29\"\n    taskid: 3d41f234-7930-4f05-802a-0f16e181ec7a\n    type: regular\n    task:\n      id: 3d41f234-7930-4f05-802a-0f16e181ec7a\n      version: -1\n      name: Set not new times\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"31\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: NotNewTimes\n      stringify: {}\n      value:\n        complex:\n          root: TimeStampCompare\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: TimeStampCompare.Result\n                iscontext: true\n              right:\n                value:\n                  simple: before\n            - operator: isEqualString\n              left:\n                value:\n                  simple: TimeStampCompare.Result\n                iscontext: true\n              right:\n                value:\n                  simple: equal\n          accessor: ComparedTime\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -290,\n          \"y\": 730\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"30\":\n    id: \"30\"\n    taskid: 9e3cae13-9835-4e9b-800c-22f26e4a9808\n    type: condition\n    task:\n      id: 9e3cae13-9835-4e9b-800c-22f26e4a9808\n      version: -1\n      name: Are there domains that were created before the tested time?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"29\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: TimeStampCompare.Result\n            iscontext: true\n          right:\n            value:\n              simple: before\n        - operator: isEqualString\n          left:\n            value:\n              simple: TimeStampCompare.Result\n            iscontext: true\n          right:\n            value:\n              simple: equal\n    view: |-\n      {\n        \"position\": {\n          \"x\": -290,\n          \"y\": 300\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"31\":\n    id: \"31\"\n    taskid: 5f3d2d17-849a-479a-8a67-c6a6acf578e0\n    type: regular\n    task:\n      id: 5f3d2d17-849a-479a-8a67-c6a6acf578e0\n      version: -1\n      name: Set non new domains\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: NotNewDomains\n      stringify: {}\n      value:\n        complex:\n          root: Results\n          filters:\n          - - operator: inList\n              left:\n                value:\n                  simple: Results.CreationDate\n                iscontext: true\n              right:\n                value:\n                  simple: NotNewTimes\n                iscontext: true\n          accessor: Whois.QueryValue\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -290,\n          \"y\": 935\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"32\":\n    id: \"32\"\n    taskid: 9097f11d-3b16-4cc5-8ff2-4b9fc8270915\n    type: title\n    task:\n      id: 9097f11d-3b16-4cc5-8ff2-4b9fc8270915\n      version: -1\n      name: New domains\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"25\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 165\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"33\":\n    id: \"33\"\n    taskid: c7c9f728-62d4-4025-8af8-4616331dbaaf\n    type: title\n    task:\n      id: c7c9f728-62d4-4025-8af8-4616331dbaaf\n      version: -1\n      name: Non new domains\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"30\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -290,\n          \"y\": 165\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"34\":\n    id: \"34\"\n    taskid: 6933c0d3-3a96-4d85-8428-2ac937274f06\n    type: title\n    task:\n      id: 6933c0d3-3a96-4d85-8428-2ac937274f06\n      version: -1\n      name: Domain not resolved by Whois\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"35\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1090,\n          \"y\": 165\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"35\":\n    id: \"35\"\n    taskid: 644f08f8-d551-46e2-8407-4f7166cbef3c\n    type: condition\n    task:\n      id: 644f08f8-d551-46e2-8407-4f7166cbef3c\n      version: -1\n      name: Are there domains without Whois query results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"5\"\n      \"yes\":\n      - \"38\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEqualString\n          left:\n            value:\n              simple: Results.Whois.QueryResult\n            iscontext: true\n          right:\n            value:\n              simple: \"true\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1090,\n          \"y\": 310\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"36\":\n    id: \"36\"\n    taskid: 35ee6a01-47a6-45e6-80df-d32a91a8c5f8\n    type: regular\n    task:\n      id: 35ee6a01-47a6-45e6-80df-d32a91a8c5f8\n      version: -1\n      name: Tag domain with no Whois resolution\n      description: Tag domains with no Whois result.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: no_whois_resolution\n      indicatorsValues:\n        simple: ${DomainsNotResolvedByWhois}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1090,\n          \"y\": 935\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"37\":\n    id: \"37\"\n    taskid: e5feb9c4-141d-4674-8206-b4c7bf72895d\n    type: regular\n    task:\n      id: e5feb9c4-141d-4674-8206-b4c7bf72895d\n      version: -1\n      name: Tag domain as new\n      description: Tag domain as new.\n      script: Builtin|||appendIndicatorField\n      type: regular\n      iscommand: true\n      brand: Builtin\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      field:\n        simple: tags\n      fieldValue:\n        simple: new_domain\n      indicatorsValues:\n        simple: ${NewDomains}\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 560,\n          \"y\": 935\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"38\":\n    id: \"38\"\n    taskid: 58ae4e3b-0ca4-4d7f-85ea-eafe95629a21\n    type: regular\n    task:\n      id: 58ae4e3b-0ca4-4d7f-85ea-eafe95629a21\n      version: -1\n      name: Set domains without Whois results\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"36\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: DomainsNotResolvedByWhois\n      stringify: {}\n      value:\n        complex:\n          root: Results\n          filters:\n          - - operator: isNotEqualString\n              left:\n                value:\n                  simple: Results.Whois.QueryResult\n                iscontext: true\n              right:\n                value:\n                  simple: \"true\"\n          accessor: Whois.QueryValue\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": -1090,\n          \"y\": 730\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"39\":\n    id: \"39\"\n    taskid: 0742873b-a508-4dc3-8f95-ca6a3214a257\n    type: condition\n    task:\n      id: 0742873b-a508-4dc3-8f95-ca6a3214a257\n      version: -1\n      name: Was a time to compare value provided?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"40\"\n      \"yes\":\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.MinimumAgeMonthValue\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.MinimumAgeDayValue\n            iscontext: true\n        - operator: isNotEmpty\n          left:\n            value:\n              simple: inputs.MinimumAgeYearValue\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 230,\n          \"y\": -490\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"40\":\n    id: \"40\"\n    taskid: 32b1cba2-a442-487d-8769-c5085340763a\n    type: title\n    task:\n      id: 32b1cba2-a442-487d-8769-c5085340763a\n      version: -1\n      name: No compare time was provided\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"41\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1110,\n          \"y\": -290\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n  \"41\":\n    id: \"41\"\n    taskid: c5039e71-fa41-43d1-8cc6-7dfd43ec42ca\n    type: regular\n    task:\n      id: c5039e71-fa41-43d1-8cc6-7dfd43ec42ca\n      version: -1\n      name: Set domains that couldnt be processed\n      description: Sets a value into the context with the given context key\n      scriptName: Set\n      type: regular\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"5\"\n    scriptarguments:\n      append:\n        simple: \"true\"\n      key:\n        simple: DomainsNotProcessed\n      stringify: {}\n      value:\n        complex:\n          root: Results\n          accessor: Whois.QueryValue\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1110,\n          \"y\": -115\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 2175,\n        \"width\": 2580,\n        \"x\": -1090,\n        \"y\": -950\n      }\n    }\n  }\ninputs:\n- key: MinimumAgeMonthValue\n  value: {}\n  required: false\n  description: The number of months that a domain must exist for it to be considered\n    not new. For example, specifying the value 1 means that if the tested domain was\n    registered less than a month ago, it will be considered a new domain.\n  playbookInputQuery: null\n- key: MinimumAgeDayValue\n  value: {}\n  required: false\n  description: The number of days that a domain must exist for it to be considered\n    not new. Specifying the value 1 will mean that if the tested domain was registered\n    less than one day ago, it will be considered a new domain.\n  playbookInputQuery: null\n- key: MinimumAgeYearValue\n  value: {}\n  required: false\n  description: The number of years that a domain must exist for it to be considered\n    not new. Specifying the value 1 will mean that if the tested domain was registered\n    less than one year ago, it will be considered a new domain.\n  playbookInputQuery: null\n- key: WhoisResults\n  value: {}\n  required: false\n  description: This input receives the Whois results from the parent playbook.\n  playbookInputQuery: null\noutputs:\n- contextPath: NewDomains\n  description: Domains whose create value is after the tested date.\n  type: string\n- contextPath: NotNewDomains\n  description: Domains whose create value is before the tested date.\n  type: string\n- contextPath: DomainsNotResolvedByWhois\n  description: Domains that could not be resolved by Whois.\n  type: string\n- contextPath: DomainsNotProcessed\n  description: In case no time value to compare was provided, all domains will be\n    outputted here.\n  type: string\nquiet: true\ntests:\n- No test",
  "product": "Cortex XSOAR",
  "pack": "Whois",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "kSzGPEwfVTsIwka9PAe1PJD2Pz2JBzw8jWl0PazOnLylJA+8WXtcvOFL8by7RIs99w9FPQ48rTz/U6u87tfwvK4/HT32oEg9dp0GvfxrzLxykI68CPaJvWnPfLwwegW8D2bcPKOLib2i4JU887MQPRcYhro5+GM8MIfSuzQ2Yz0mcre800Esu+Et1Tyc+aM8R9yUvCfi/7szGDe9C1mpvE7mlr3Z0307REGMvPEOOD2XyxA9/VIhvcu/CTszPek8b248vc75VTxEcrY8V92ovIb2L72oAWI9Hb+hPBsIpbxaPBE7qCUHvQHmWjw+N167xm2vvHz/AjzlitQ8QdEEPe21tTwRnAc9I2K4PHEHhDyBMwW9hcKDPbjBlbzfi7w9P48RvY4fb7wkvAu9QeuIvC5UwDvzMvS7/m+6PNQv0jwuoty7ShEsPbjcfD2pWNG8zW/VvB60mjttJAW9CEVive8hDL1qoOM7sYkVPnZ0+ztJxW29/p6QPS6hLT2RoRm8IrabvZHqrr3Upz89qCezO2n9uTsQ4YW8vdKqPCVzm7xqNuK8QAPrO77CPjxja5W9dqhsvSYhBT2tc9C6L32DvPxMLj2kHV49YG9xveJiED0M0ju8uyI3PEzVpTzUZbM83iq7PNGXkz2TPKQ8YtQVPdbrOj0YNfs8vKxMvKWoBDyypsq7Esu1O4UOHr2rp5G53jhjPLdMEr28dJS8YUeXO3pMWT1qFly8wuyEvUAdUb36dw+8h71qvOF1nr2c/qC8VTMAPYULgjrjpLw96KlKPVwfk70/szi9kaHrvGJ9kbyecfS89fGTvNPJLjy8tOU7Mc3Mu7Wsk732K/I8QyFIvRB8w7wI14+9rupWvCHsBT2dC+W8L1QVvClqLbyxxCs9Qv3zvDNTMTw+WoW8KegTvaxGp72P+IS8BsBqvIU0VD1nUpc8lC3XvFrSkrwQmgG8RYGKPVfKsbtDcaQ88BOVvab6AT3xkTu7bxotuycpDD2w4Y+89fHqPA3GP729AFS54Sr3OXyJ8Dynbw299YiqOhxQZz2KgfC8nhpVuzKZzzwCPYw947QBvUyCFLyQeYW9ufCEvMBnxzwQiMG8xnHEvJ2uuzm/xX+6qsFMPCR+hDyNmjS9q8qsvCk8j7xs1Ls8nm0wPWz0xDs2Aeg9tXNhuxu82jyMQ5c8JIAmva6EyjyY7Ym88O9ePb2rv7z9zJc9i18zvT7iw71XY6A5kIBUPbbszji3Rgg9CrQkvBKg5LusyCM9FXqYO7jrSb1m6Gg8tIn3OiaCOD0hUEA9D89qPO72IT3sL7o8zhcKPbUjVztJSlm8BYqbvZY2A72YJLo7SCmfO0TcFb3ZQ2K9jbImvB4VDzxQ2g+9c+UUO2xdcbzFL5A9JbT0ujarEr2cb6m8a1IMPAh2F729Bvq8UA3cu9Y3E7t4JTE9lgacPPvnrDwklYu8TN1AvKDHbb1Or728hzGCvHgCfz2h01G9/0ivvcsGgLw7wgY9eVTeumXVUb0UvtK8w6jRvC9VmjsfZ/e7tPkmO3AKLb3LquI8nY1NPV4nu7z84sS7rYCIPZ22Pzu1Sow9BIiJPc0OrrsISyI9BAaSPOZUUj3EPxG8sq8lPajJsDyrpgY9QLWEPAnSZzxoV4q8Qdcuu29HbLyrCic7l3VKvQM5u7wpsLS7yDjbvAZn272vhTU86h67vCSj8bynLDc9TcD8PC41tjvCPBU9ClzDu9JqWb3+HyQ6R4LDvZdyZ71G+QW92+JKPNTfwzykiBc8AKLKu8cDkLu5mqQ7hEOLvRR8ID1P+3E9tRapPHPPSrx4aK48CyvSPD9y17tWkjO9xpjGvPRvwDwjFDa9ZG4zPWbHwjyoTWU9T+1RPdAif7ya7IG8HtaLPAzkQLxsMqe8PhqJvNvTB7303R09eI/lO2uumTzE97K8yzpoPV8JqLyMaG68KLD5O3ZAqj2DwN+8Xd4qvaxImLyVDc87J9DouwRWWbwAEzE9f4mBvdcahzwXnD89migaPTZ/Ub23TAq9+h1kPFr81rwyRo084i6WvOevpz3O9Q+906+gPM19ATyImsm8gZRhvXK2yD2KFQg9HtOaPYS1j7yl24S7dUvHvC53Ij0l6qA8yVoJva5PdDv6JlO88dGlPP0Web3bvx89FF6IPCNR4TmXYwU7mfAmvNdXg7wTk/A79WLAPOrH4jw8SP08e9gmvOni7ztLgrM96/czPBe6kDwI8GM9aCSzvFkgBLy+Gb88A+Elvc6vlDybaUi9dE7avDT/IryLoqY8N6f0OjL0dryaNJ48qWQRvZwZFDsYGzi8AYFoPCdxvzyEfBc8U7a6O7wKvTwuJ8o8sCToOgAAgT1rHkQ9iRXZvOzkjbwI/Uu8oiHZPM3AP7uJRou8ooHHvGauJr19hg28DVR2vYmkeb0aLBs9QxGWu66fCr0AbJY8a7vDuyZ9Nbw7Fb48IAdjPXAeBDx5E++6GUkrvVsBK73hRpI9D9JbPcEOGD1CJQM9hjEIPUlvpTy2g2w97y7bvLleRzwtmRQ9hla7vNU6hTwgDSO8spFzvUguqLxf/hq95UKBPEvuPj1BBES9qo1MOjjZt7xCTJk87yKlPJI4DL3eGIo8AN7DvDaYfb02P++6vbJtvXsZET1wQMO6sVzOvBW5Vj3JZZg9Dir8PE2r1jwYSsm8Eu8QvdzPkzw41gq9sbbMu+Mh9DvUOo89d04tPUH0U72RI7c9QEMcvEePEr0NBoe8Zc4VvPiey7yuvKo8DF2iPTIdHb0fFtM8bKMsPYtfoDz1gDu7TfbTO/1kR7xDguM6dS3RvCkqKrtMCyi9mnLZPNCzSbyW8UY9T7s4vKp/BjwWISA9VxR6PX4DbD2dulg9i6kYu0gpvzyvcUk9pdjmPIhSDTykTdc84F/ivL4lVLvE1tK7c42qPd5rmrwNmFQ8KA+Fu4cu77ov1Ym7DXgEvaFUvLuUklu9Hf6KPH3zt7uFl3Q9BoNHvW/MnzyyFCI9X5C4vAWoOb0gnQW9b8EQPZkGTLvHZHQ8/7eTPGTJoDx08ek73IHuvM+HozvOg/S82XJHPE8G6jxvocG8pBoQPJIbAj0BX6e8T/ezPfjSKTyiviG9DtWXO2c/J716fPy7ZNaCvS76tDzEN8+8AzvZu4u/XT1xvBC9b/PcO7A+rjxzAVu9V9iUPVNUCL2Fy4o6ZBYtvcdQCL3/BkA9qdK6vP7EXr0ySJm92dLIuwdvq72zcjM8SpfLPFQPlDskAYg9gtjou63yR70Wj6a9yVgVPcE1eLxXJ507DMwqPV2gCzwB0fI88Z2+PKptHLxb9km7sde8PE0u+LwYW9e86ve3vA86sD3rJqU6yGQOPCuAlDyY9Ls8ga52vAc6urzbmF695B74OyXQqTwCOWe7g7IkvXWVBD1M98y8iT+LPf7QDDwULLG9658DPJUxFT21Y8S8aRsMvc+46DwcnTQ8JRs8PQhoKL2qPdM8Dx2KvSxdj7w8lIG8YZdDvC9o/Tv/KHW9nmEaPfI2Pb0hlLS9ucQvPKs/F701cQw84lh6vWoXA71sxaA80nPIPIr6GbyUmKK8FvIvPdX+aj2UF448JU1APDTbRTtJJvs8R2GvPNAs8Lwi0gW9u3XJvFBqSD1aKwW8YjWaPC02Hj0LvR09pTIQvZwrJb3K93U8UTbcO4ZlwDzyW5w8VatRvOWtFb3lZ7c8wjMcvYTsLzxV1iu9MPPBu7xeEz2Oac07N3JSvR5axDvs/Q+92+ODvIgqRDwGO3Y9C9L6vR2rabxHYai88ocdPSyFCz1zADo7WVK+Ox9cxDwdsfk7FJ3SPBeNQj3rLsm6ShEXPfsFBL0GMm08B1VAPUocrDx7vzu9ok1Zu4Y7ZrwOTi+9YU3JPNXetDpEwRs9+CE5vXvTQr0V/LU8SP5sPA6Kar3CS8k7+bPKvMDwPL3CkD47DRcfvfRdDb2+TwI8D5GnvBFbsz3ouHI7WdBkPcCZzzoSvwO9zGYivb05ijyMIty84I0SPaudeLwVCji9skOnvF0phrzs74E9/XiEvE3YQjy0zSA9bnMAvTC8lDtrxxG9bgoLvaLMND0abGi8"
}
