bundles/spark/kbs/soar-playbooks/entries/pb-whois-tim-process-domains-with-whois.json
{
  "id": "pb-whois-tim-process-domains-with-whois",
  "title": "TIM - Process Domains With Whois",
  "category": "playbook",
  "content": "This playbook uses several sub playbooks to process and tag indicators based on the results of the Whois tool.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (Whois, xsoar-supported).\n\nInputs — CheckForWhoisRegistrant: Setting this input as True will run the TIM - Process Domain registrant With Whois playbook.; CheckForWhoisDomainAgeCreation: Setting this input as True will run the TIM - Process Domain Creation Age With Whois playbook..\n\nOutputs — DomainsNotApproved: Domains for which the registrant isn't approved.; ApprovedRegistrantDomains: Domains for which the registrant is approved.; DomainsNotResolvedByWhois: Domains Not Resolved By Whois.; NewDomains: Domains whose create value is after the tested date.; NotNewDomains: Domains whose create value is before the tested date.; DomainsNotProcessed: Domains that could not be processed for any reason are outputted to this context path..\n\nIntegrations/scripts used: whois.",
  "raw_yaml": "id: TIM - Process Domains With Whois\nversion: -1\nfromversion: 5.5.0\nname: TIM - Process Domains With Whois\ndescription: This playbook uses several sub playbooks to process and tag indicators based on the results of the Whois tool.\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: 433dce95-7704-43e4-8a24-aab3ce6d0b7a\n    type: start\n    task:\n      id: 433dce95-7704-43e4-8a24-aab3ce6d0b7a\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"1\"\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 460,\n          \"y\": 90\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"1\":\n    id: \"1\"\n    taskid: 4377baae-b28b-4ed3-88eb-92739f774496\n    type: condition\n    task:\n      id: 4377baae-b28b-4ed3-88eb-92739f774496\n      version: -1\n      name: Are there query results?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"12\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              simple: playbookQuery.value\n            iscontext: true\n      - - operator: isEqualString\n          left:\n            value:\n              simple: playbookQuery.indicator_type\n            iscontext: true\n          right:\n            value:\n              simple: Domain\n    view: |-\n      {\n        \"position\": {\n          \"x\": 460,\n          \"y\": 220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"2\":\n    id: \"2\"\n    taskid: 3e91d851-7939-4aae-8eaf-44824d0de234\n    type: title\n    task:\n      id: 3e91d851-7939-4aae-8eaf-44824d0de234\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 460,\n          \"y\": 1220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"4\":\n    id: \"4\"\n    taskid: f20880ef-0dc5-48f0-8e4d-7b6f365ae65b\n    type: regular\n    task:\n      id: f20880ef-0dc5-48f0-8e4d-7b6f365ae65b\n      version: -1\n      name: Run Whois on domain indicators\n      description: Enrich domains with data from the whois script.\n      script: '|||whois'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"6\"\n      - \"8\"\n      '#error#':\n      - \"2\"\n    scriptarguments:\n      query:\n        complex:\n          root: playbookQuery\n          filters:\n          - - operator: isEqualString\n              left:\n                value:\n                  simple: playbookQuery.indicator_type\n                iscontext: true\n              right:\n                value:\n                  simple: Domain\n          accessor: value\n          transformers:\n          - operator: uniq\n    separatecontext: false\n    view: |-\n      {\n        \"position\": {\n          \"x\": 130,\n          \"y\": 630\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerror: true\n    continueonerrortype: errorPath\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"6\":\n    id: \"6\"\n    taskid: 96773908-372c-4daa-8d9e-15eddee6e4dc\n    type: condition\n    task:\n      id: 96773908-372c-4daa-8d9e-15eddee6e4dc\n      version: -1\n      name: Was the registrant check enabled?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"7\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.CheckForWhoisRegistrant\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 130,\n          \"y\": 825\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"7\":\n    id: \"7\"\n    taskid: 71774b85-6fd5-4762-8c28-bd64d3527b6a\n    type: playbook\n    task:\n      id: 71774b85-6fd5-4762-8c28-bd64d3527b6a\n      version: -1\n      name: TIM - Process Domain Registrant With Whois\n      description: This playbook compares the domain registrant against the Cortex XSOAR list of approved registrants provided in the inputs. A registrant is the company or entity that owns the domain.\n      playbookName: TIM - Process Domain Registrant With Whois\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      WhoisResults:\n        simple: ${Domain}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -150,\n          \"y\": 1040\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"8\":\n    id: \"8\"\n    taskid: ba4eea74-f034-4d54-8082-8279783819d6\n    type: condition\n    task:\n      id: ba4eea74-f034-4d54-8082-8279783819d6\n      version: -1\n      name: Was the domain creation date check enabled?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"11\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              simple: inputs.CheckForWhoisDomainAgeCreation\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -550,\n          \"y\": 840\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: c3687b9a-158f-4fbe-89ec-3ae97d61a750\n    type: playbook\n    task:\n      id: c3687b9a-158f-4fbe-89ec-3ae97d61a750\n      version: -1\n      name: TIM - Process Domain Age With Whois\n      description: This playbook compares the domain creation time against a provided time value such as one month ago. The period can be configured within the playbook inputs MinimumAgeOfDomainMonths or MinimumAgeOfDomainHours. The playbook calculates the timestamp for the relevant period and compares it to the domain creation time value provided by Whois. The domains are outputted accordingly if they were created before or after the compared time, respectively.\n      playbookName: TIM - Process Domain Age With Whois\n      type: playbook\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"2\"\n    scriptarguments:\n      MinimumAgeOfDomainMonths:\n        simple: \"1\"\n      WhoisResults:\n        simple: ${Domain}\n    separatecontext: true\n    loop:\n      iscommand: false\n      exitCondition: \"\"\n      wait: 1\n      max: 100\n    view: |-\n      {\n        \"position\": {\n          \"x\": -740,\n          \"y\": 1040\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"12\":\n    id: \"12\"\n    taskid: 73ce68b3-5868-401b-8d1d-f476272d3b0c\n    type: condition\n    task:\n      id: 73ce68b3-5868-401b-8d1d-f476272d3b0c\n      version: -1\n      name: Is Whois enabled?\n      type: condition\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#default#':\n      - \"2\"\n      \"yes\":\n      - \"4\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isExists\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.brand\n                      iscontext: true\n                    right:\n                      value:\n                        simple: Whois\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                accessor: brand\n            iscontext: true\n    view: |-\n      {\n        \"position\": {\n          \"x\": 250,\n          \"y\": 390\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    continueonerrortype: \"\"\n    isoversize: false\n    isautoswitchedtoquietmode: false\nsystem: true\nview: |-\n  {\n    \"linkLabelsPosition\": {},\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1195,\n        \"width\": 1580,\n        \"x\": -740,\n        \"y\": 90\n      }\n    }\n  }\ninputs:\n- key: \"CheckForWhoisRegistrant\"\n  value:\n    simple: \"True\"\n  required: false\n  description: \"Setting this input as True will run the TIM - Process Domain registrant With Whois playbook.\"\n  playbookInputQuery:\n- key: CheckForWhoisDomainAgeCreation\n  value:\n    simple: \"True\"\n  required: false\n  description: Setting this input as True will run the TIM - Process Domain Creation Age With Whois playbook.\n  playbookInputQuery:\noutputs:\n- contextPath: DomainsNotApproved\n  description: Domains for which the registrant isn't approved.\n  type: string\n- contextPath: ApprovedRegistrantDomains\n  description: Domains for which the registrant is approved.\n  type: string\n- contextPath: DomainsNotResolvedByWhois\n  description: Domains Not Resolved By Whois.\n  type: string\n- contextPath: NewDomains\n  description: Domains whose create value is after the tested date.\n  type: string\n- contextPath: NotNewDomains\n  description: Domains whose create value is before the tested date.\n  type: string\n- contextPath: DomainsNotProcessed\n  description: Domains that could not be processed for any reason are outputted to this context path.\n  type: string\nquiet: true\ntests:\n- No tests (auto formatted)\ncontentitemexportablefields:\n  contentitemfields: {}\n",
  "product": "Cortex XSOAR",
  "pack": "Whois",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "5.5.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar",
    "threat-intel"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "lLkRPXv0Cjyuhia9I2qYPDPKET3Wie88UsZ+PVIcvzoUpxk8lg/Qus2wHL3sKZk98645PXIhlDy5kIa8EUgNvb//KD06d0M9CHq2u1HZCr1ZWeu81LCCvbJUnruOrpk8Em4wPWdCwb2wwXc7H1qqPBRfDL155mo88zOXOwqO8jyPCdK8bPBhuku3OLxeXwS6Nxa9vEjHpDo2BnO8eGQIvegYbL2olLa7iX9YvCz31jzicEU9CR/UvAw7DjylakM9LjN0vcXChTy6UyA9PGGfvPQftb33ex49n2F4PDZXwbzgBRc8wBz0vPmjEzyi1no8jAIRvFHHr7upk1A8jhwhPZLlgz1Bnfs8f+R6PPPGZzxVG2+9B253PWHHnrzk3pw90evRvHUFoLyqKIC79HxdPIYQLbu3C2+8Tx6WPIF4Gzx32TG8G2UfPXAtHT161Q88/tMPvZVAFzzLppG8iEGNvbrM97y7APU88AkfPnXAPzyakoO9i1uxPYfokT20MM48E7ecvSu6sb09S0k98dz1PL4XkzuBh5a8tGnKO6Jhk7zZzpi82K0BPLo5YbtPpI69rP8RvboyHTzDmDQ8aZ1pu+k7Gj3dy0o9T2EPvQMBGj0har+8dl+luwGwkTx/Eui57xGDO6X1nT0hOfE8D78SPUjqZj2ykWE9/aQYvffPFLxdkbi87yEYu+TkBr2tvZW5G/2bO9UHEb3AzYy8LkwEO0oWWD0Hkw+8VYS3vPhXCL0E3AS9a5yQPDr6l70jAOW8TaMaPXbICLytLXs9jJa0PZ4fLL2CZZo5tu4RvFqjBrwcaGe9rTFQvIc+2rwOygM85BeJu4kKhr0m61c89t2cvaVMg7sHpcu8wn2tvFFsUz3JhSK94cOZvF28I7yEBas8HcAnveo5LT3pS+a8kMoTvRlKYr0Vx4w79zeWuf4X5Tw4Yrs8rvekuivinrssgFO7fYaAPYXUaDzEKj28/BHAvesNMD1J3A26/UpyvBcROT1Xs1S8f0W/O+UGmLz7+cw8SPOoPLP7Rz3eJke9xo+fvAEkLD2lQmW8YXdkvH6NWDuopqk9yVeYvKb6IL2qXrq9nXUNvD+fFbogsOC819jqvBkNU7yfZ8O8d/HtO3qJcTyWxjC9UpsuvK+F2bvo7Bk9UlhmPPAD9Tz6gMk93G+GvFQLsjwsSJo7OG3YvLqxHzxs19W8S/YNPSJlkrwxRak9a/Acvfrht73xPgA8JO1NPQemnbzaqpQ8vMviOy6WmTsKUy09c6GhvGIGDL0is1488d59PITgtjuxzhc9HM1mO8ARZT3LdmI8tljQPP+aeLy6BDk8meJ6vc9UAL2RZZc7QDVQvIowULiOrEG9W0bwt+JCwrv9Ulm9wWh7OYwdU7yN0LU9e/YNvQusqLv1Osa8utxPOxpDVL3Qb4m8uJJlvNuiozxpCwE9U3hsPPpHCD2u68S8m6cBPGSDb739C6u8odq/vApvUT0q/GS9KF6RvQn977oK2ak86vdlu4eaC71BY067AMMMveqL6zsjfly8gyAFvM2/B70wqyk9Z4cuPc/tCr2HkL28E409PU4/ijuGu3E94BRmPbp9XrxgHgo9n4kPPdTrMD0gxFi8AvlSPR+k3btMobk8kzRGPIOmnzoVg5y8MdgHPD8b3bySjlu8lxMYvYbtCL3iNZO8lMBmvHxx3r3NnCg8ZyT2vNXiD70WMDE9D3GJPCnC2LomUT895hvsvHOyNb2eT3e8bfSAvdzYx7zGaTq9+U+QO+nxQDy6tSW88fLOvCSEiLtEqxg80jCBvdz4Ij0OTEk91MSePFBAgrsp4+47LV7FPHvsGLw+yAG9WFWxvNc6Jj09NiG7Bg1EPYLmHj3Mlx89fB5APf9Jebw+HkW8CeJTPYfXuLpcN6W84Vw4vYJ/sbszbtw8YCwcO8XUBz2hiZm8mMtTPXgoDLw3/nq8Pe3/PDm6KT2u30s8U64SvSFN7rzPzk68VrXNOedPN7yLlPY8QvBgvbNBzzvx2sY8D4SKPDILLb3moMa8rkUePFq9QL21ORI95hWmvAhyrT2bdiy9SCF3PGdoaDx1PgK8djZHvcpoyT1WjIs8D/ikPf0CLL3yXHU8goyqvIEvgz0OLv88Kdf+vE7uybz8cYa7e3AqPckVVL2P7TM9PaufPJF4+Ty3S6S7ZsIBvTmgtDtfSzS7nBYJPHZh8bukyE888x14vEdVeDzwRYg9KuN9PNhcWjytMpc8CoizumMyabwrSyC84aQAvaMoCjvy81q9mIX9vOqTo7w9Pc48zsy4vM6nsjv/lOA8KHv3vMNouDv4xV28rJjQPLtxUDz5tmU7amayO5GK5TzQNzs9ya4vPDExHT30B1E9voquvJcGWLzryua8HMJxPRUQRjxV/NG88UImvUWDBL29Qda8vXWivW2qb724dqg8EnU7vJiYF72q4zi83JC5vEx31Ly9pQ09LIZcPWxgxjmO4JK8IHcpvTPlJL1kKF49TTJxPO9GHD2mGAA9+fbYPEo8Az2jdx49M6NJvVsh+TtiWyM9/AjhvMySVzy1FPC74maRvfQrEb16rv28D8E3Pa2iXz1H13O9RdtUvIdbwrw5+Nc8iqjXuTixAb27qCg8kBTdvOCwF71/eJK8EkrBvYNbAT1lDIs8X4DhvLxqCD0Jf7E9VqDiPJFfqTwIphq8snr1vFftDTx2RwC9q1rDO2loN7u98qc947dePZZWO70qWIQ9wZO2vKP0jr1eop28BtyVvD/UPbwXUhU8/xA4PQdX5Lyu2Qs9sPImPOmgjjwJkN27EKtAPPBE3bxmUXi7afodvfOQOrsJN8q8h3glPVD+vbwu7CI9GZHevHlM6zyFgWU9bIoxPV1tkD2RMhw9Dz6xO1ujTjyKQJ49JH1rPGwBmDzq0CU9S8MuveajiTocUP67QXVLPQhlDL2WX7K8NxSPvDPpgDvFXRg7jk48vcaWJLxR8He9TPu0PJYTQLyFo/o8HEUSvelPtTyWtqc8EMRevNwMHr1/QFe9fWMhPU1xBTzFgWQ87QdfvFx+4TuieKe7z7OZvDvplbtt8BG9730oPJFOJD1yGXK8PvWXO53+rTxnYl68crGiPcljurrijUW9DTNMvMn5TL0SS5u7x1aqvQcZCDzL9868uya9vEx2bz2Piry8/vCWPMD8LTyK4Ji9D7+UPXanDr1LImE6pqC3vNScX70Prjc9uMs0vWW9ZL3/9469FubLvGNzkb0cFgM8wr6tPFeSZrvERhU9mryBvAiFPr1YAW69U/UXvGhW17w3ZG68dpYCPfU0eDxcdyg8rnqNPCPiGbw+uA+6DdcMPfZzMb3u0wG9SVD5vJ1xlz1WOIC8v7HlOucUAj0zKuk8LRpYvM7Fn7xExz69VYa/O3FslTzAJz28CDDIvNqiTz0yvd68Y++LPZdngjyN8Lu9WiqKvPbBtDz4zhe97e0Kvcq+Nz3wQ2M8jKLRPOlfL70qnOY8qE53vYRe1rtg+s+7JurMvANqjTvEVjO9CtchPa/RC72xJ8i9xT5MPDebI707LOY8m+Ynvba3OL3cSBo9e58QPQfiKry1N2q80MLlPKbMcz3iQwU8bMh+vNBFxjtL7ak9RtmUPJL3kbzxze+8UEgPvQlBWT2eHAm9cd2sO96X0TwGeIM9RKw6vdOSOL2C0gE7d0uuO13UZzwk63E8Zc7RuwpU1LzyYJA81wFVvblABrwZfAO96PJ3uxFW/Tz5UoA6zAMRvaA0KjwFb5+8lqnFvG36mDw594c9CqvtvfOgj7yeJUu8sV1OPdI9Tz3nRfs7NisivMvSBTxBx0w8q7s9PaLp9Dyk4Zq8v7BPPdpjYL1Qo0I8V2QxPfquh7tsxV69nv8NvHgR2rwirhe96pwKPddY2zzR3Dc9EvDNvK9uvLzDkfY8alVmPGHANb2C1ao8tJmVvOIGbb0rN6Q8VGAXveYbib3t0SO7Sa7ZvPJZkD1Spq881WNkPfhMEDz1D3S9hVoQvQ97HbpA5q676fUJPT+iMb32KE69qGIRvVgWVbz8Elc9Po8wvM51+7wkmBM99RiVvGVeG7wUV1K9d/01vdmfGz3i1ZS8"
}
