bundles/spark/kbs/soar-playbooks/entries/pb-zendesk-zendesk-ticket-management.json
{
  "id": "pb-zendesk-zendesk-ticket-management",
  "title": "Zendesk - Ticket Management",
  "category": "playbook",
  "content": "`Zendesk - Ticket Management` allows you to open a new ticket or comment on an existing ticket.\n\nCortex XSOAR/XSIAM SOAR playbook from the Cortex XSOAR pack (Zendesk, xsoar-supported).\n\nInputs — ZendeskTicketID: The ticket ID.; ZendeskAssigne: The agent currently assigned to the ticket.; ZendeskCollaborators: The users currently CC'ed on the ticket.; description: The ticket description.; ZendeskPriority: The urgency with which the ticket should be addressed. Allowed values are \"urgent\", \"high\", \"normal\", or \"low\".; ZendeskRequester: The user who requested this ticket.; ZendeskStatus: The state of the ticket. Allowed values are \"new\", \"open\", \"pending\", \"hold\", \"solved\", or \"closed\".; ZendeskSubject: The value of the subject field for this ticket.; ZendeskTags: The array of tags applied to this ticket.; ZendeskType: The type of this ticket. Allowed values are \"problem\", \"incident\", \"question\", or \"task\"..\n\nOutputs — Zendesk.Ticket.id: The ticket ID..\n\nIntegrations/scripts used: zendesk-ticket-create, zendesk-ticket-update.",
  "raw_yaml": "id: Zendesk - Ticket Management\nversion: -1\nname: Zendesk - Ticket Management\ndescription: '`Zendesk - Ticket Management` allows you to open a new ticket or comment on an existing ticket.'\nstarttaskid: \"0\"\ntasks:\n  \"0\":\n    id: \"0\"\n    taskid: adef5ad9-870c-46e5-8425-54b29e21cd17\n    type: start\n    task:\n      id: adef5ad9-870c-46e5-8425-54b29e21cd17\n      version: -1\n      name: \"\"\n      iscommand: false\n      brand: \"\"\n      description: ''\n    nexttasks:\n      '#none#':\n      - \"11\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 760,\n          \"y\": 220\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"11\":\n    id: \"11\"\n    taskid: a139f576-4872-473f-84e5-fad5ff68cc99\n    type: condition\n    task:\n      id: a139f576-4872-473f-84e5-fad5ff68cc99\n      version: -1\n      name: Is Zendesk v2 integration enabled?\n      description: Checks if the Zendesk v2 integration is enabled.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"18\"\n      \"yes\":\n      - \"25\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: modules\n                filters:\n                - - operator: isEqualString\n                    left:\n                      value:\n                        simple: modules.state\n                      iscontext: true\n                    right:\n                      value:\n                        simple: active\n                    ignorecase: true\n                accessor: brand\n            iscontext: true\n          right:\n            value:\n              simple: Zendesk v2\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 760,\n          \"y\": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"13\":\n    id: \"13\"\n    taskid: 7d46973d-e0ae-4c86-8462-2b2c8768a520\n    type: condition\n    task:\n      id: 7d46973d-e0ae-4c86-8462-2b2c8768a520\n      version: -1\n      name: Was a comment provided in the input\n      description: Checks if the comment was provided in the input.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"14\"\n      \"yes\":\n      - \"24\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.CommentToAdd\n            iscontext: true\n          right:\n            value: {}\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 180,\n          \"y\": 1000\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"14\":\n    id: \"14\"\n    taskid: d207053a-3403-4e10-813a-0e583929353c\n    type: collection\n    task:\n      id: d207053a-3403-4e10-813a-0e583929353c\n      version: -1\n      name: Add comment to the ticket\n      description: Data collection task to add a comment to the ticket.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"19\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 1170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Add comment to the ticket\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: \"\"\n        readonly: false\n      title: Add comment to the ticket\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"15\":\n    id: \"15\"\n    taskid: 0886a610-05ae-4bce-8755-49785d7657d6\n    type: regular\n    task:\n      id: 0886a610-05ae-4bce-8755-49785d7657d6\n      version: -1\n      name: Create ticket for the incident\n      description: |-\n        Create a new Zendesk ticket.\n        Required permissions: Agents.\n      script: '|||zendesk-ticket-create'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      assignee_email:\n        complex:\n          root: inputs.ZendeskAssigne\n      description:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"1\"\n      priority:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"4\"\n      requester:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"3\"\n      status:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"5\"\n      subject:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"0\"\n      tags:\n        complex:\n          root: inputs.ZendeskTags\n      type:\n        complex:\n          root: Please provide the following details to open a ticket.Answers\n          accessor: \"2\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1460,\n          \"y\": 1145\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"18\":\n    id: \"18\"\n    taskid: 51961643-8d62-49f7-8f4e-ec4e5cd91d2c\n    type: title\n    task:\n      id: 51961643-8d62-49f7-8f4e-ec4e5cd91d2c\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: \"\"\n      description: ''\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 760,\n          \"y\": 1520\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"19\":\n    id: \"19\"\n    taskid: 6b5fb2c3-f5f5-4534-88d7-ca33fb5b5827\n    type: regular\n    task:\n      id: 6b5fb2c3-f5f5-4534-88d7-ca33fb5b5827\n      version: -1\n      name: Update the ticket for the incident\n      description: |-\n        Updates a Zendesk ticket.\n        Required permissions: Agents.\n      script: '|||zendesk-ticket-update'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      comment:\n        complex:\n          root: Add comment to the ticket.Answers\n          accessor: \"0\"\n      ticket_id:\n        complex:\n          root: inputs.ZendeskTicketID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": -30,\n          \"y\": 1335\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"20\":\n    id: \"20\"\n    taskid: 2d9482fc-b16e-4f66-8ee6-aec802b1d1db\n    type: condition\n    task:\n      id: 2d9482fc-b16e-4f66-8ee6-aec802b1d1db\n      version: -1\n      name: Whether to append a new comment to the ticket for each alert?\n      description: Checks if a new comment should be appended to the ticket for each alert.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"18\"\n      \"yes\":\n      - \"13\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.addCommentPerEndpoint\n            iscontext: true\n          right:\n            value:\n              simple: \"True\"\n          ignorecase: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 370,\n          \"y\": 790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"21\":\n    id: \"21\"\n    taskid: 07c30f07-9347-43e2-848e-bde0480b2ce9\n    type: condition\n    task:\n      id: 07c30f07-9347-43e2-848e-bde0480b2ce9\n      version: -1\n      name: Are the required details for opening a ticket been provided?\n      description: Checks if the required details for opening a ticket were provided.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"22\"\n      \"yes\":\n      - \"23\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.description\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ZendeskPriority\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ZendeskStatus\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ZendeskSubject\n            iscontext: true\n      - - operator: isNotEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ZendeskType\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1230,\n          \"y\": 790\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"22\":\n    id: \"22\"\n    taskid: 0d1cefae-0935-4e63-801d-7d36aed1cf0f\n    type: collection\n    task:\n      id: 0d1cefae-0935-4e63-801d-7d36aed1cf0f\n      version: -1\n      name: Provide details for opening a ticket.\n      description: Data collection task to provide details for opening a ticket.\n      type: collection\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"15\"\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1460,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    message:\n      to:\n      subject:\n      body:\n      methods: []\n      format: \"\"\n      bcc:\n      cc:\n      timings:\n        retriescount: 2\n        retriesinterval: 360\n        completeafterreplies: 1\n        completeafterv2: true\n        completeaftersla: false\n    form:\n      questions:\n      - id: \"0\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Subject\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The value of the subject field for this ticket.\n        readonly: false\n      - id: \"1\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket description\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: longText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: Description of the ticket.\n        readonly: false\n      - id: \"2\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Type\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The type of this ticket. Allowed values are \"problem\", \"incident\", \"question\", or \"task\".\n        readonly: false\n      - id: \"3\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Requester\n        required: true\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The user who requested this ticket.\n        readonly: false\n      - id: \"4\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Priority\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The urgency with which the ticket should be addressed. Allowed values are \"urgent\", \"high\", \"normal\", or \"low\".\n        readonly: false\n      - id: \"5\"\n        label: \"\"\n        labelarg:\n          simple: Enter ticket Status\n        required: false\n        gridcolumns: []\n        defaultrows: []\n        type: shortText\n        options: []\n        optionsarg: []\n        fieldassociated: \"\"\n        placeholder: \"\"\n        tooltip: The state of the ticket. Allowed values are \"new\", \"open\", \"pending\", \"hold\", \"solved\", or \"closed\".\n        readonly: false\n      title: Please provide the following details to open a ticket.\n      description: \"\"\n      sender: \"\"\n      expired: false\n      totalanswers: 0\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"23\":\n    id: \"23\"\n    taskid: db848d7d-a255-4ebf-8940-6abcadb50619\n    type: regular\n    task:\n      id: db848d7d-a255-4ebf-8940-6abcadb50619\n      version: -1\n      name: Create ticket for the incident\n      description: |-\n        Create a new Zendesk ticket.\n        Required permissions: Agents.\n      script: '|||zendesk-ticket-create'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      assignee_email:\n        complex:\n          root: inputs.ZendeskAssigne\n      description:\n        complex:\n          root: inputs.description\n      priority:\n        complex:\n          root: inputs.ZendeskPriority\n      requester:\n        complex:\n          root: inputs.ZendeskRequester\n      status:\n        complex:\n          root: inputs.ZendeskStatus\n      subject:\n        complex:\n          root: inputs.ZendeskSubject\n      tags:\n        complex:\n          root: inputs.ZendeskTags\n      type:\n        complex:\n          root: inputs.ZendeskType\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 1000,\n          \"y\": 970\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"24\":\n    id: \"24\"\n    taskid: b4b9bd48-b85e-4d06-8d37-b131ef3024b5\n    type: regular\n    task:\n      id: b4b9bd48-b85e-4d06-8d37-b131ef3024b5\n      version: -1\n      name: Update the ticket for the incident\n      description: |-\n        Updates a Zendesk ticket.\n        Required permissions: Agents.\n      script: '|||zendesk-ticket-update'\n      type: regular\n      iscommand: true\n      brand: \"\"\n    nexttasks:\n      '#none#':\n      - \"18\"\n    scriptarguments:\n      comment:\n        complex:\n          root: inputs.CommentToAdd\n      ticket_id:\n        complex:\n          root: inputs.ZendeskTicketID\n    separatecontext: false\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 390,\n          \"y\": 1170\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: true\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  \"25\":\n    id: \"25\"\n    taskid: 05375988-f8c0-4c9b-8bcc-88245802470a\n    type: condition\n    task:\n      id: 05375988-f8c0-4c9b-8bcc-88245802470a\n      version: -1\n      name: Whether to open a ticket for this incident?\n      description: Checks whether to open a new ticket or add a comment to an existing ticket.\n      type: condition\n      iscommand: false\n      brand: \"\"\n    nexttasks:\n      '#default#':\n      - \"20\"\n      \"yes\":\n      - \"21\"\n    separatecontext: false\n    conditions:\n    - label: \"yes\"\n      condition:\n      - - operator: isEqualString\n          left:\n            value:\n              complex:\n                root: inputs.Action\n            iscontext: true\n          right:\n            value:\n              simple: NewTicket\n          ignorecase: true\n      - - operator: isEmpty\n          left:\n            value:\n              complex:\n                root: inputs.ZendeskTicketID\n            iscontext: true\n    continueonerrortype: \"\"\n    view: |-\n      {\n        \"position\": {\n          \"x\": 760,\n          \"y\": 600\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    \"linkLabelsPosition\": {\n      \"11_18_#default#\": 0.1,\n      \"20_18_#default#\": 0.15\n    },\n    \"paper\": {\n      \"dimensions\": {\n        \"height\": 1365,\n        \"width\": 1870,\n        \"x\": -30,\n        \"y\": 220\n      }\n    }\n  }\ninputs:\n- key: ZendeskTicketID\n  value: {}\n  required: false\n  description: The ticket ID.\n  playbookInputQuery:\n- key: ZendeskAssigne\n  value: {}\n  required: false\n  description: The agent currently assigned to the ticket.\n  playbookInputQuery:\n- key: ZendeskCollaborators\n  value: {}\n  required: false\n  description: The users currently CC'ed on the ticket.\n  playbookInputQuery:\n- key: description\n  value: {}\n  required: true\n  description: The ticket description.\n  playbookInputQuery:\n- key: ZendeskPriority\n  value:\n    simple: high\n  required: false\n  description: The urgency with which the ticket should be addressed. Allowed values are \"urgent\", \"high\", \"normal\", or \"low\".\n  playbookInputQuery:\n- key: ZendeskRequester\n  value: {}\n  required: true\n  description: The user who requested this ticket.\n  playbookInputQuery:\n- key: ZendeskStatus\n  value: {}\n  required: false\n  description: The state of the ticket. Allowed values are \"new\", \"open\", \"pending\", \"hold\", \"solved\", or \"closed\".\n  playbookInputQuery:\n- key: ZendeskSubject\n  value: {}\n  required: true\n  description: The value of the subject field for this ticket.\n  playbookInputQuery:\n- key: ZendeskTags\n  value: {}\n  required: false\n  description: The array of tags applied to this ticket.\n  playbookInputQuery:\n- key: ZendeskType\n  value: {}\n  required: true\n  description: The type of this ticket. Allowed values are \"problem\", \"incident\", \"question\", or \"task\".\n  playbookInputQuery:\n- key: CommentToAdd\n  value: {}\n  required: false\n  description: Comment for the ticket.\n  playbookInputQuery:\n- key: addCommentPerEndpoint\n  value:\n    simple: \"True\"\n  required: false\n  description: 'Whether to add a new comment to the ticket for each endpoint in the incident. Possible values: True/False.'\n  playbookInputQuery:\n- key: Action\n  value: {}\n  required: false\n  description: 'Whether to open a new ticket or to add a new comment. Possible values: NewTicket/AddComment.'\n  playbookInputQuery:\noutputs:\n- contextPath: Zendesk.Ticket.id\n  description: The ticket ID.\ntests:\n- No tests (auto formatted)\nmarketplaces:\n- xsoar\n- marketplacev2\n- platform\nfromversion: 6.8.0\nsupportedModules:\n- agentix\n- xsiam\n- edr\n- cloud\n- cloud_runtime_security\n",
  "product": "Cortex XSOAR",
  "pack": "Zendesk",
  "support_tier": "xsoar",
  "use_cases": [],
  "fromversion": "6.8.0",
  "source_repo": "demisto/content (MIT)",
  "tags": [
    "case-management",
    "playbook",
    "product:cortex-xsoar",
    "soar",
    "support:xsoar"
  ],
  "embedding_model": "text-embedding-004",
  "embedding": "gGJhPZDrvjzPm9S8UVGru7k8Vz2jPRY9YxsmPZlq1zyNz4G8wwmFPLlwBr0yisE9cVuXPRf5IL0j0l48+nO7vJ3pqrwWE9A80ZZzvafjTzwrTIO9pnERubpMMryvlJc9zFSmOpdShL3A8jg9JTq6OwpaHb3TTiU9y36Lu+LSwjzpkNA800CcvF7GCr2iAGy88CMYva2J3LxLDj284SNlvNjjs7xXVoE8IN9ZvECIDD2GJ+E8NfcWvaUkXL1LHrM8zaqnvRl2AjweuaE9T0GLvNXfRL3yhYs7CkLevFD82by584+82WmhvP+qzbsY3ym8UZEMvIQXEbyw/F48fzr0POwgiz2AHYg8JgEDvdd8p7wjUsC8i09tPRJIYb3uzi895feEvZGHvrzOFYs8tavIvP/OJL1RUOo88YOPPCPNpj3cx4G8pHwCvcrruTxeilW8EBUNvXZiEDvRe527JC9fvR6NBDxgdSE9t1hrPcdVbrwZ7xK94hvZPYRSaj0bTBe9Vx+NvRJZwr2oduU8+LsQPGPsMb2WjiM5GcCYu7Dzmbyjuxa80iY/O4mFCL0FUEC90ZGpvdMojbwDx0K6exalO8qxGz1hFeI8rEiqvfRqjj3x26q8LndAPbGzObwfkzy9IpYrPV8qJD0uTbe7MhWJPZFRtz3zBqw95wJRO/mzIr0/dMq80MgiO7GdWDywZue8hOclvSpnML1Crsu8IzndvIVwTD3MlES8lYOPPJoOxbvbIq48XpuiPEGTtr2Guxo6gn4BPZWIDL27xtQ8wWCHPa7Bdjlwo4G9RsfHtyRzvLrXura8fZ2JO/vS4rvhwB+9gXMkvDIvubxkW6o85w4DvRVwsjvp91S9SXW5vNRTITvEmTa9KWcJvU1HVL3B/g09MHAJvRcqBbtSPr28uaMXPD6/WrwxQx+8zDJevHTjCj3OxBk97YnbO/qrCj15DWO9gNmCPUD0+Dtt54g7XualvWUvgD2Htw48TkMNvem/NT1ssp87+2A5PdnPGzvYuL28tGkWvfxxhT3Vfre9ojCdvLD/Fj0gayY9gmtNvK2flDxwSbA9os2EPYaS9LzN5GK9axkFvbEDl71XxIG94xcTve1N7LxRhEi9wDN5uz27iDtrCfM78MLtvOkJWDwdkK47PdMDPcRWEz2EOmY9EbuVu2oq5jy3Rac8XzyxPFUdYLsugkW85uLlPEKIHb0k7Aw939gnvXxmyr3x1QI9qBItPUWMgbu6GbS7pWPVu4V6YD3+UYw9LB0uvewdz7zSTFE7Tu6CvHBNMz14b3E8SoazPNTCKT0rVzC7qBC7ubmrgTvCAFM8/T9jvTouFbs+hGs8mdcFPS+3gbwzYDK9q/GeOw+ZHDys5Vu9mObmPMgFXrl58jo9XmCNvOi1FL1P6Oe8IU99vE8LzL0+Jcm89LglvPK1Wz0iSaC7k7IVPeG/VjyYIbG89FKivEsN5ryLK6m80Yk+vXAFKj3oQZe9ZS4LvRZjl7t3PiO9JbTsO0krtbxMWE48XeROvJG+ELzzfQu9PNYTvXemUTstXyA9IjwfPYHlSr0R6Y+9tx6SPPm0Sj1bwns92My+PQ69/zxqpmK8a6uJPSs4hD3qkC078rE9PUbwMr2Wii09UTQgPdVh2zzJxgs8skMOvYaoMDwr1ko85tdxu7uJgrwx+6m8ygsrvK6P8L1c/Z+8uubQvHo2d7yecuc8JYyKPNlOrrw6FRE9tU5QvfGBKjnSpZu8Z8ahvbxjnbzsrDE8P8Y4PPZ47TwWMZQ8CStSPMvJBr2gCDk9Vn2MvUeIjjzv1aU80x/bvDmsLDzL5kS8czEKPdRsCb33TqC72VqRPKcUkDzSJqk7fvvHPc5HKD2XERo7TwDWPPWHMjqoAmE92wjqPDLBvTyiL3u8i15JvR4nobx4MBO8ZrCXPKsZaTxpjco7omk4PTyZm7yygUW9bKrVOmorojwOZ7Y8tlrIvJJ4RL0CjPC8alO1O/KZprvsjAw93sVfvepHqbxPYPU8HWwGPHdQHr0G1Hi83YQsPGL57bxU7AI9dg2YPNhxrz02OGe96UUpPaJneDw22fm8VlJKvfJWnj3VhjI94zyJPSusIb0c++o8O/TSvGhxSj2Vb5861I/QvAmri7wiGjO9J/kmPViMIL1d4Gw8TY0EPaqJeTyUl4c8VIbLOGxA/zy/arc8sDEuvToSpjrb3hM94/oQPLu3CT2V1AE9/9qzPJkAxzyScbg8+q2XvOp9tTwQqjO8UJeuu7fkV7zhHJ+9Jt0gvAQTfzz98488eFI3PFngATxYUys9tjIxPGOzkryhZnS8RdMjPFs6Y7zWc9e8p6IzPMyXrDxOfzA9UKFMPSdZkz1BX0M9PxZ+u9XFwbsP1oO7LfpaPdixFz3QXf68SngTvUz7MLzO+Ki83NmSvM9Gx73qVhk9f/AsOq+iJT2hQAy9EEqAvJQTU73fsxA8wi4hPY/yE7xVla68WPHIvKZqQLxCy2E9nVM0u3w8ED0uSu08KmDzO1Z4Cj1MPhY96X9EvUKu5Tx5gEM9iBYJPFwlFL2L3DK8Yspcvcsdj7zzwJu6J13YPFHS/TubRm294DOpvICq5DtCYD6851z8vCiWob23fJG8dOUcvZ3d0bvPjyK8kECtvVQn0jwdCOW8K3I0u8wIYD20rao9Qh6FPTE/3jw8zQi9rV1EuorgAz0/E2S8psDmuzTBRzxsHBQ9Y2RZPVeLDr1Bxcc7RZ6qvEtQPrtq7LE8wjjauySSN70VPZI9sCfKPCNEVb3DIhE9IVXvPG2tojtVFg+9C4MZvCsJGr3XqUw7BvW0Ozgz17zG+d88rjUlPVAkR7yHZiY9XW1SPIRoWj20JYU9iPr6PNt0iz3G01w9kWh4PFSxLT20yyo9tH9eO9uLzTwdlxQ5yQshvbHKyTyZDhG8Mb06Pc9hT71V06i8m27qu1lkYLylfAm8fd+Bvd1cAbwRTNs7i1lqPCNg4TyeDhk9cq7pu61SZ71RyEO8Guy1uyW0Pjs1Csm86peGPBItbDt40jW9qbiEu9I4ZLwbdw09KKqfvBslILyIQCC81HyTu89d5zr6g868VHZdPIdDBr0o9B890pkDPeZPBbyAEzA8WKevvBzVDr2AJh48YF7nu9bYUTyvfZq7V9FOvWqirzwNI768tZ/9PMRE2Dz+KlS8YLXGPDJ0Ljx87y281hKtvFy/Zr3NI4A9zS/qOnhKDb0UIGu9NSNuvWRqLr1lfAo8c8+OvGCAkbwrgWs9G/SqvP5JIb1pDkK9r5+yu13nXr3Yroi8VfACPBo7vzxahOM892OqPO1Uijyb3c68ekjpPIH4f7pW5W+90kRVvFxuNj2w5JE7EzGWvFYG47tJzQo8wrcGvUvZgDuk2lW8dH9VvLnRzjwzKhQ9XAn4vCfjorsaeGC974NCPRg4nbtl2q69oZubu7aV2zz6wJK9ipDPvALRkLxq8HM8+3GIPO0Gs7zv6g89OmwcvE+09zsaX0y8t56qvH0rpzuZkOi8EpmOPJv7Vr2oU4G9cAegO8p0n71eeQo6Jmc1vRDSIb0SzMc8zsWNvFDIdjyFCyw9aLWXPF7chz0/jJ88bEU6O6WAbzzTJQc9Amg9O2pWQDxRNx27grPmu10sJD0BF/w7dn3uvMLekjxFv9M84DUBvb9RuLp2MS883Y5tPF2azTwy4R28mCHbPDjaCjz0yZQ9WP+MvGtL7zyusOS8isoGvOXVgDwUw/W8efaivaGcrzzt8908K/CQPImVKj0XZ5I9suDavR+birseFme9pjnTPKkIkj3qVHK86BWMPIczoTvmyl07bgyVu1ZvbDs2QwG9Bs0HPZJudbzoHxc9hWmiPRAhDT1N8oO8ywaLuwX/77wUutm8BMxZPEHdFj2aiCQ8R8/DvEydnrsjO/47En1yvAnD+rx78Tm8e3U3vSgfCr3teeo8YxNnvZSuQr3jmFi96mFPvBpYiz1CMNE86G1ZPFn3VDyy26G8skCkvR4Cgry6ZZ08T0lrPC1UJLuClBG8YuX4vOhUOL1Qt6g9Y96APHxOhry8W6E93WVLve4qHLoRoO27aMCivNHDcT1slRk9"
}
